.d_page34-35_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page34-35_2
{
width:5848.2px;height:1468.8px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_3
{
width:5833.2px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_4
{
width:5997.56px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_5
{
width:5997.56px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_6
{
width:6336px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_7
{
width:9864.57px;height:1014.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page34-35_8
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page34-35_9
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page34-35_10
{
width:5848.2px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_11
{
width:6384.2px;height:2188.8px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_12
{
width:5701.1px;height:1983.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_13
{
width:5012.2px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page34-35_14
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page34-35_15
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page34-35_16
{
position:absolute;top:-18px;left:464.4px;
}
.s_page34-35_17
{
position:absolute;top:-18px;left:1009.19px;
}
.s_page34-35_18
{
position:absolute;top:-18px;left:1074.46px;
}
.s_page34-35_19
{
position:absolute;top:-18px;left:1311.58px;letter-spacing:-3px;
}
.s_page34-35_20
{
position:absolute;top:-18px;left:1503.09px;letter-spacing:-1.1px;
}
.s_page34-35_21
{
position:absolute;top:-18px;left:1985.24px;letter-spacing:-2.48px;
}
.s_page34-35_22
{
position:absolute;top:-18px;left:2265.8px;text-rendering:optimizeLegibility;letter-spacing:-1.2px;
}
.s_page34-35_23
{
position:absolute;top:-18px;left:3249.31px;letter-spacing:-0.44px;
}
.s_page34-35_24
{
position:absolute;top:-18px;left:3867.54px;letter-spacing:-0.41px;
}
.s_page34-35_25
{
position:absolute;top:-18px;left:4807.13px;
}
.s_page34-35_26
{
position:absolute;top:342px;left:0px;letter-spacing:-1.82px;
}
.s_page34-35_27
{
position:absolute;top:342px;left:658.55px;
}
.s_page34-35_28
{
position:absolute;top:342px;left:723.83px;
}
.s_page34-35_29
{
position:absolute;top:342px;left:1195.66px;letter-spacing:-1.82px;
}
.s_page34-35_30
{
position:absolute;top:342px;left:1853.5px;
}
.s_page34-35_31
{
position:absolute;top:342px;left:1973.01px;
}
.s_page34-35_32
{
position:absolute;top:342px;left:2505.32px;
}
.s_page34-35_33
{
position:absolute;top:342px;left:2924.59px;
}
.s_page34-35_34
{
position:absolute;top:342px;left:3645.78px;letter-spacing:-2.48px;
}
.s_page34-35_35
{
position:absolute;top:342px;left:3922.26px;
}
.s_page34-35_36
{
position:absolute;top:342px;left:4341.53px;letter-spacing:-0.12px;
}
.s_page34-35_37
{
position:absolute;top:702px;left:0px;letter-spacing:-1.65px;
}
.s_page34-35_38
{
position:absolute;top:702px;left:930.47px;
}
.s_page34-35_39
{
position:absolute;top:702px;left:1466.86px;letter-spacing:-0.65px;
}
.s_page34-35_40
{
position:absolute;top:702px;left:2572.52px;
}
.s_page34-35_41
{
position:absolute;top:702px;left:3354.91px;
}
.s_page34-35_42
{
position:absolute;top:702px;left:3901.62px;letter-spacing:-1.16px;
}
.s_page34-35_43
{
position:absolute;top:702px;left:4484.09px;
}
.s_page34-35_44
{
position:absolute;top:702px;left:5405.91px;
}
.s_page34-35_45
{
position:absolute;top:702px;left:5643.03px;letter-spacing:-3px;
}
.s_page34-35_46
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.82px;
}
.s_page34-35_47
{
position:absolute;top:1062px;left:1880.38px;letter-spacing:-1px;
}
.s_page34-35_48
{
position:absolute;top:1062px;left:2484.44px;letter-spacing:-3.09px;
}
.s_page34-35_49
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page34-35_50
{
position:absolute;top:-18px;left:461.04px;text-rendering:optimizeLegibility;
}
.s_page34-35_51
{
position:absolute;top:-18px;left:1083.59px;letter-spacing:-1.84px;
}
.s_page34-35_52
{
position:absolute;top:-18px;left:1372.78px;
}
.s_page34-35_53
{
position:absolute;top:-18px;left:1792.05px;
}
.s_page34-35_54
{
position:absolute;top:-18px;left:2659.64px;
}
.s_page34-35_55
{
position:absolute;top:-18px;left:2724.91px;
}
.s_page34-35_56
{
position:absolute;top:-18px;left:2962.03px;letter-spacing:-3px;
}
.s_page34-35_57
{
position:absolute;top:-18px;left:3153.54px;
}
.s_page34-35_58
{
position:absolute;top:-18px;left:4314.65px;
}
.s_page34-35_59
{
position:absolute;top:-18px;left:5268.39px;
}
.s_page34-35_60
{
position:absolute;top:342px;left:0px;
}
.s_page34-35_61
{
position:absolute;top:342px;left:536.39px;
}
.s_page34-35_62
{
position:absolute;top:342px;left:937.67px;text-rendering:optimizeLegibility;letter-spacing:-0.79px;
}
.s_page34-35_63
{
position:absolute;top:342px;left:1634.86px;
}
.s_page34-35_64
{
position:absolute;top:342px;left:2272.77px;
}
.s_page34-35_65
{
position:absolute;top:342px;left:2979.56px;letter-spacing:-1.62px;
}
.s_page34-35_66
{
position:absolute;top:342px;left:3399.07px;letter-spacing:-1.65px;
}
.s_page34-35_67
{
position:absolute;top:342px;left:4334.1px;
}
.s_page34-35_68
{
position:absolute;top:342px;left:4805.93px;letter-spacing:-0.72px;
}
.s_page34-35_69
{
position:absolute;top:702px;left:0px;letter-spacing:-0.65px;
}
.s_page34-35_70
{
position:absolute;top:702px;left:1393.66px;letter-spacing:-3.12px;
}
.s_page34-35_71
{
position:absolute;top:702px;left:1713.1px;
}
.s_page34-35_72
{
position:absolute;top:702px;left:2132.37px;letter-spacing:-2.13px;
}
.s_page34-35_73
{
position:absolute;top:702px;left:2862.68px;
}
.s_page34-35_74
{
position:absolute;top:702px;left:3152.11px;letter-spacing:-1.14px;
}
.s_page34-35_75
{
position:absolute;top:702px;left:4110.42px;letter-spacing:-1.29px;
}
.s_page34-35_76
{
position:absolute;top:702px;left:5023.12px;letter-spacing:-0.41px;
}
.s_page34-35_77
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.53px;
}
.s_page34-35_78
{
position:absolute;top:1062px;left:511.43px;letter-spacing:-0.27px;
}
.s_page34-35_79
{
position:absolute;top:1062px;left:1331.02px;letter-spacing:-0.6px;
}
.s_page34-35_80
{
position:absolute;top:1062px;left:2478.68px;
}
.s_page34-35_81
{
position:absolute;top:1062px;left:2715.8px;letter-spacing:-3px;
}
.s_page34-35_82
{
position:absolute;top:1062px;left:2907.32px;letter-spacing:-1.04px;
}
.s_page34-35_83
{
position:absolute;top:1062px;left:4062.66px;text-rendering:optimizeLegibility;
}
.s_page34-35_84
{
position:absolute;top:1062px;left:4626.41px;letter-spacing:-3.09px;
}
.s_page34-35_85
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page34-35_86
{
position:absolute;top:-18px;left:464.4px;
}
.s_page34-35_87
{
position:absolute;top:-18px;left:1707.82px;
}
.s_page34-35_88
{
position:absolute;top:-18px;left:1773.1px;
}
.s_page34-35_89
{
position:absolute;top:-18px;left:2010.22px;letter-spacing:-3px;
}
.s_page34-35_90
{
position:absolute;top:-18px;left:2197.65px;letter-spacing:-0.26px;
}
.s_page34-35_91
{
position:absolute;top:-18px;left:3596.11px;letter-spacing:-0.69px;
}
.s_page34-35_92
{
position:absolute;top:-18px;left:4480.5px;
}
.s_page34-35_93
{
position:absolute;top:-18px;left:5123.69px;letter-spacing:-0.69px;
}
.s_page34-35_94
{
position:absolute;top:342px;left:0px;
}
.s_page34-35_95
{
position:absolute;top:342px;left:255.36px;
}
.s_page34-35_96
{
position:absolute;top:342px;left:1233.1px;
}
.s_page34-35_97
{
position:absolute;top:342px;left:1934.85px;letter-spacing:-2.48px;
}
.s_page34-35_98
{
position:absolute;top:342px;left:2215.41px;
}
.s_page34-35_99
{
position:absolute;top:342px;left:2908.52px;
}
.s_page34-35_100
{
position:absolute;top:342px;left:3556.98px;letter-spacing:-0.64px;
}
.s_page34-35_101
{
position:absolute;top:342px;left:3771.78px;
}
.s_page34-35_102
{
position:absolute;top:342px;left:4008.89px;letter-spacing:-0.72px;
}
.s_page34-35_103
{
position:absolute;top:342px;left:4827.28px;
}
.s_page34-35_104
{
position:absolute;top:342px;left:5499.76px;
}
.s_page34-35_105
{
position:absolute;top:702px;left:0px;letter-spacing:-3px;
}
.s_page34-35_106
{
position:absolute;top:702px;left:191.52px;letter-spacing:-0.44px;
}
.s_page34-35_107
{
position:absolute;top:702px;left:835.91px;letter-spacing:-2.48px;
}
.s_page34-35_108
{
position:absolute;top:702px;left:1116.47px;letter-spacing:-0.64px;
}
.s_page34-35_109
{
position:absolute;top:702px;left:2163.57px;
}
.s_page34-35_110
{
position:absolute;top:702px;left:3109.64px;letter-spacing:-0.48px;
}
.s_page34-35_111
{
position:absolute;top:702px;left:3831.3px;letter-spacing:-1.2px;
}
.s_page34-35_112
{
position:absolute;top:702px;left:4179.29px;letter-spacing:-1.38px;
}
.s_page34-35_113
{
position:absolute;top:702px;left:5169.05px;
}
.s_page34-35_114
{
position:absolute;top:702px;left:5406.16px;letter-spacing:-3px;
}
.s_page34-35_115
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.52px;
}
.s_page34-35_116
{
position:absolute;top:1062px;left:1323.59px;
}
.s_page34-35_117
{
position:absolute;top:1062px;left:2567.01px;
}
.s_page34-35_118
{
position:absolute;top:1062px;left:2632.29px;letter-spacing:-3.09px;
}
.s_page34-35_119
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.36px;
}
.s_page34-35_120
{
position:absolute;top:-18px;left:524.88px;letter-spacing:-2.48px;
}
.s_page34-35_121
{
position:absolute;top:-18px;left:801.35px;
}
.s_page34-35_122
{
position:absolute;top:-18px;left:1220.63px;
}
.s_page34-35_123
{
position:absolute;top:-18px;left:1954.05px;
}
.s_page34-35_124
{
position:absolute;top:-18px;left:2843.24px;letter-spacing:-0.12px;
}
.s_page34-35_125
{
position:absolute;top:-18px;left:4209.3px;letter-spacing:-2.48px;
}
.s_page34-35_126
{
position:absolute;top:-18px;left:4489.86px;
}
.s_page34-35_127
{
position:absolute;top:-18px;left:5182.97px;
}
.s_page34-35_128
{
position:absolute;top:342px;left:0px;
}
.s_page34-35_129
{
position:absolute;top:342px;left:832.07px;
}
.s_page34-35_130
{
position:absolute;top:342px;left:897.35px;
}
.s_page34-35_131
{
position:absolute;top:342px;left:1134.46px;letter-spacing:-3px;
}
.s_page34-35_132
{
position:absolute;top:342px;left:1325.98px;letter-spacing:-2.26px;
}
.s_page34-35_133
{
position:absolute;top:342px;left:1818.22px;letter-spacing:-0.54px;
}
.s_page34-35_134
{
position:absolute;top:342px;left:2240.13px;
}
.s_page34-35_135
{
position:absolute;top:342px;left:2776.52px;letter-spacing:-3px;
}
.s_page34-35_136
{
position:absolute;top:342px;left:2968.03px;letter-spacing:-2.19px;
}
.s_page34-35_137
{
position:absolute;top:342px;left:3865.62px;letter-spacing:-1.32px;
}
.s_page34-35_138
{
position:absolute;top:342px;left:5070.89px;
}
.s_page34-35_139
{
position:absolute;top:702px;left:0px;
}
.s_page34-35_140
{
position:absolute;top:702px;left:356.63px;letter-spacing:-0.83px;
}
.s_page34-35_141
{
position:absolute;top:702px;left:1695.1px;
}
.s_page34-35_142
{
position:absolute;top:702px;left:1932.21px;letter-spacing:-3px;
}
.s_page34-35_143
{
position:absolute;top:702px;left:2123.73px;letter-spacing:-1.04px;
}
.s_page34-35_144
{
position:absolute;top:702px;left:3282.44px;
}
.s_page34-35_145
{
position:absolute;top:702px;left:4114.51px;
}
.s_page34-35_146
{
position:absolute;top:702px;left:4179.79px;letter-spacing:-2.7px;
}
.s_page34-35_147
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page34-35_148
{
position:absolute;top:-18px;left:464.4px;letter-spacing:-0.48px;
}
.s_page34-35_149
{
position:absolute;top:-18px;left:1877.27px;
}
.s_page34-35_150
{
position:absolute;top:-18px;left:1942.54px;
}
.s_page34-35_151
{
position:absolute;top:-18px;left:2179.66px;letter-spacing:-3px;
}
.s_page34-35_152
{
position:absolute;top:-18px;left:2371.18px;letter-spacing:-0.33px;
}
.s_page34-35_153
{
position:absolute;top:-18px;left:3192.93px;
}
.s_page34-35_154
{
position:absolute;top:-18px;left:3997.39px;letter-spacing:-1.3px;
}
.s_page34-35_155
{
position:absolute;top:-18px;left:4552.75px;
}
.s_page34-35_156
{
position:absolute;top:342px;left:0px;
}
.s_page34-35_157
{
position:absolute;top:342px;left:972.47px;letter-spacing:-0.12px;
}
.s_page34-35_158
{
position:absolute;top:342px;left:2278.28px;letter-spacing:-0.64px;
}
.s_page34-35_159
{
position:absolute;top:342px;left:2493.08px;
}
.s_page34-35_160
{
position:absolute;top:342px;left:2942.11px;letter-spacing:-3px;
}
.s_page34-35_161
{
position:absolute;top:342px;left:3133.63px;letter-spacing:-1.2px;
}
.s_page34-35_162
{
position:absolute;top:342px;left:3742.02px;letter-spacing:-0.41px;
}
.s_page34-35_163
{
position:absolute;top:342px;left:4681.6px;letter-spacing:-1.84px;
}
.s_page34-35_164
{
position:absolute;top:342px;left:4974.88px;
}
.s_page34-35_165
{
position:absolute;top:702px;left:0px;
}
.s_page34-35_166
{
position:absolute;top:702px;left:447.11px;
}
.s_page34-35_167
{
position:absolute;top:702px;left:698.39px;
}
.s_page34-35_168
{
position:absolute;top:702px;left:1114.3px;letter-spacing:-1.32px;
}
.s_page34-35_169
{
position:absolute;top:702px;left:1711.41px;
}
.s_page34-35_170
{
position:absolute;top:702px;left:2183.24px;letter-spacing:-1.28px;
}
.s_page34-35_171
{
position:absolute;top:702px;left:2877.07px;text-rendering:optimizeLegibility;letter-spacing:-0.79px;
}
.s_page34-35_172
{
position:absolute;top:702px;left:3574.26px;
}
.s_page34-35_173
{
position:absolute;top:702px;left:4216.73px;
}
.s_page34-35_174
{
position:absolute;top:702px;left:5087.67px;
}
.s_page34-35_175
{
position:absolute;top:702px;left:5371.59px;
}
.s_page34-35_176
{
position:absolute;top:1062px;left:0px;
}
.s_page34-35_177
{
position:absolute;top:1062px;left:659.75px;letter-spacing:-0.26px;
}
.s_page34-35_178
{
position:absolute;top:1062px;left:1698.22px;letter-spacing:-0.24px;
}
.s_page34-35_179
{
position:absolute;top:1062px;left:2336.61px;letter-spacing:-0.29px;
}
.s_page34-35_180
{
position:absolute;top:1062px;left:3565.63px;letter-spacing:-0.18px;
}
.s_page34-35_181
{
position:absolute;top:1062px;left:4494.18px;
}
.s_page34-35_182
{
position:absolute;top:1062px;left:4731.3px;letter-spacing:-3px;
}
.s_page34-35_183
{
position:absolute;top:1062px;left:4918.26px;letter-spacing:-0.52px;
}
.s_page34-35_184
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.48px;
}
.s_page34-35_185
{
position:absolute;top:1422px;left:1412.87px;
}
.s_page34-35_186
{
position:absolute;top:1422px;left:1478.15px;letter-spacing:-3.09px;
}
.s_page34-35_187
{
position:absolute;top:-21px;left:0px;
}
.s_page34-35_188
{
position:absolute;top:-21px;left:858.19px;
}
.s_page34-35_189
{
position:absolute;top:-21px;left:1136.22px;
}
.s_page34-35_190
{
position:absolute;top:-21px;left:1528.22px;
}
.s_page34-35_191
{
position:absolute;top:-21px;left:2928.2px;
}
.s_page34-35_192
{
position:absolute;top:-21px;left:3558.2px;letter-spacing:-2.8px;
}
.s_page34-35_193
{
position:absolute;top:-21px;left:3892.23px;
}
.s_page34-35_194
{
position:absolute;top:-21px;left:4774.5px;letter-spacing:-0.45px;
}
.s_page34-35_195
{
position:absolute;top:-21px;left:5777.45px;
}
.s_page34-35_196
{
position:absolute;top:-21px;left:6338.85px;
}
.s_page34-35_197
{
position:absolute;top:-21px;left:6871.12px;
}
.s_page34-35_198
{
position:absolute;top:-21px;left:7262.27px;letter-spacing:-0.24px;
}
.s_page34-35_199
{
position:absolute;top:-21px;left:8190.74px;
}
.s_page34-35_200
{
position:absolute;top:-21px;left:8880.37px;
}
.s_page34-35_201
{
position:absolute;top:379px;left:0px;
}
.s_page34-35_202
{
position:absolute;top:379px;left:1041.59px;
}
.s_page34-35_203
{
position:absolute;top:379px;left:1914.34px;letter-spacing:-2.15px;
}
.s_page34-35_204
{
position:absolute;top:379px;left:2610.97px;letter-spacing:-0.73px;
}
.s_page34-35_205
{
position:absolute;top:379px;left:3283.81px;
}
.s_page34-35_206
{
position:absolute;top:379px;left:4129.68px;
}
.s_page34-35_207
{
position:absolute;top:379px;left:4914.23px;
}
.s_page34-35_208
{
position:absolute;top:379px;left:5796.5px;
}
.s_page34-35_209
{
position:absolute;top:379px;left:6867.2px;
}
.s_page34-35_210
{
position:absolute;top:379px;left:8541.87px;
}
.s_page34-35_211
{
position:absolute;top:779px;left:0px;
}
.s_page34-35_212
{
position:absolute;top:779px;left:962.35px;
}
.s_page34-35_213
{
position:absolute;top:779px;left:1597.38px;letter-spacing:-0.91px;
}
.s_page34-35_214
{
position:absolute;top:779px;left:2100.82px;letter-spacing:-0.75px;
}
.s_page34-35_215
{
position:absolute;top:779px;left:3503.61px;letter-spacing:-2.24px;
}
.s_page34-35_216
{
position:absolute;top:779px;left:3957.77px;letter-spacing:-0.8px;
}
.s_page34-35_217
{
position:absolute;top:779px;left:4989.28px;
}
.s_page34-35_218
{
position:absolute;top:-11.04px;left:108.81px;
}
.s_page34-35_219
{
position:absolute;top:-18px;left:0px;
}
.s_page34-35_220
{
position:absolute;top:-18px;left:349.67px;letter-spacing:-0.18px;
}
.s_page34-35_221
{
position:absolute;top:-18px;left:1211.74px;
}
.s_page34-35_222
{
position:absolute;top:-18px;left:1938.69px;letter-spacing:-0.12px;
}
.s_page34-35_223
{
position:absolute;top:-18px;left:3242.83px;
}
.s_page34-35_224
{
position:absolute;top:-18px;left:3662.1px;letter-spacing:-0.21px;
}
.s_page34-35_225
{
position:absolute;top:-18px;left:4502.09px;
}
.s_page34-35_226
{
position:absolute;top:-18px;left:4567.36px;
}
.s_page34-35_227
{
position:absolute;top:-18px;left:5016.4px;letter-spacing:-3px;
}
.s_page34-35_228
{
position:absolute;top:-18px;left:5204.56px;text-rendering:optimizeLegibility;
}
.s_page34-35_229
{
position:absolute;top:342px;left:0px;letter-spacing:-0.41px;
}
.s_page34-35_230
{
position:absolute;top:342px;left:939.59px;
}
.s_page34-35_231
{
position:absolute;top:342px;left:1399.42px;
}
.s_page34-35_232
{
position:absolute;top:342px;left:1871.25px;
}
.s_page34-35_233
{
position:absolute;top:342px;left:2166.45px;
}
.s_page34-35_234
{
position:absolute;top:342px;left:2455.88px;
}
.s_page34-35_235
{
position:absolute;top:342px;left:2882.82px;
}
.s_page34-35_236
{
position:absolute;top:342px;left:3748.96px;letter-spacing:-0.64px;
}
.s_page34-35_237
{
position:absolute;top:342px;left:3963.76px;
}
.s_page34-35_238
{
position:absolute;top:342px;left:4200.87px;letter-spacing:-1.34px;
}
.s_page34-35_239
{
position:absolute;top:342px;left:4979.9px;
}
.s_page34-35_240
{
position:absolute;top:702px;left:0px;letter-spacing:-3px;
}
.s_page34-35_241
{
position:absolute;top:702px;left:191.52px;letter-spacing:-1.1px;
}
.s_page34-35_242
{
position:absolute;top:702px;left:673.67px;letter-spacing:-2.48px;
}
.s_page34-35_243
{
position:absolute;top:702px;left:954.22px;letter-spacing:-0.24px;
}
.s_page34-35_244
{
position:absolute;top:702px;left:1484.14px;letter-spacing:-0.41px;
}
.s_page34-35_245
{
position:absolute;top:702px;left:2423.72px;
}
.s_page34-35_246
{
position:absolute;top:702px;left:3158.11px;letter-spacing:-1.84px;
}
.s_page34-35_247
{
position:absolute;top:702px;left:3451.38px;letter-spacing:-0.16px;
}
.s_page34-35_248
{
position:absolute;top:702px;left:4598.57px;
}
.s_page34-35_249
{
position:absolute;top:702px;left:4946.56px;letter-spacing:-1.44px;
}
.s_page34-35_250
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.2px;
}
.s_page34-35_251
{
position:absolute;top:1062px;left:781.91px;letter-spacing:-1.06px;
}
.s_page34-35_252
{
position:absolute;top:1062px;left:1675.66px;
}
.s_page34-35_253
{
position:absolute;top:1062px;left:1912.78px;letter-spacing:-3px;
}
.s_page34-35_254
{
position:absolute;top:1062px;left:2104.3px;letter-spacing:-1.04px;
}
.s_page34-35_255
{
position:absolute;top:1062px;left:3263px;letter-spacing:-0.21px;
}
.s_page34-35_256
{
position:absolute;top:1062px;left:4102.99px;
}
.s_page34-35_257
{
position:absolute;top:1062px;left:4168.26px;letter-spacing:-2.7px;
}
.s_page34-35_258
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page34-35_259
{
position:absolute;top:-18px;left:464.4px;
}
.s_page34-35_260
{
position:absolute;top:-18px;left:950.63px;
}
.s_page34-35_261
{
position:absolute;top:-18px;left:1015.9px;
}
.s_page34-35_262
{
position:absolute;top:-18px;left:1464.94px;letter-spacing:-3px;
}
.s_page34-35_263
{
position:absolute;top:-18px;left:1656.45px;
}
.s_page34-35_264
{
position:absolute;top:-18px;left:2247.32px;letter-spacing:-1.08px;
}
.s_page34-35_265
{
position:absolute;top:-18px;left:2950.03px;
}
.s_page34-35_266
{
position:absolute;top:-18px;left:3523.14px;
}
.s_page34-35_267
{
position:absolute;top:-18px;left:3994.98px;letter-spacing:-3px;
}
.s_page34-35_268
{
position:absolute;top:-18px;left:4186.49px;letter-spacing:-0.55px;
}
.s_page34-35_269
{
position:absolute;top:-18px;left:5790.39px;letter-spacing:-1.72px;
}
.s_page34-35_270
{
position:absolute;top:342px;left:0px;letter-spacing:-0.64px;
}
.s_page34-35_271
{
position:absolute;top:342px;left:214.79px;
}
.s_page34-35_272
{
position:absolute;top:342px;left:663.83px;letter-spacing:-1.28px;
}
.s_page34-35_273
{
position:absolute;top:342px;left:1361.02px;
}
.s_page34-35_274
{
position:absolute;top:342px;left:2229.56px;letter-spacing:-0.4px;
}
.s_page34-35_275
{
position:absolute;top:342px;left:2688.19px;letter-spacing:-0.22px;
}
.s_page34-35_276
{
position:absolute;top:342px;left:4092.65px;
}
.s_page34-35_277
{
position:absolute;top:342px;left:4961.19px;
}
.s_page34-35_278
{
position:absolute;top:342px;left:5433.02px;
}
.s_page34-35_279
{
position:absolute;top:342px;left:5770.46px;letter-spacing:-0.93px;
}
.s_page34-35_280
{
position:absolute;top:702px;left:0px;letter-spacing:-0.38px;
}
.s_page34-35_281
{
position:absolute;top:702px;left:678.71px;
}
.s_page34-35_282
{
position:absolute;top:702px;left:1097.98px;
}
.s_page34-35_283
{
position:absolute;top:702px;left:1692.94px;
}
.s_page34-35_284
{
position:absolute;top:702px;left:2502.68px;letter-spacing:-1.62px;
}
.s_page34-35_285
{
position:absolute;top:702px;left:2922.19px;letter-spacing:-1.17px;
}
.s_page34-35_286
{
position:absolute;top:702px;left:3760.5px;
}
.s_page34-35_287
{
position:absolute;top:702px;left:4179.77px;letter-spacing:-0.65px;
}
.s_page34-35_288
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.22px;
}
.s_page34-35_289
{
position:absolute;top:1062px;left:1404.46px;
}
.s_page34-35_290
{
position:absolute;top:1062px;left:2214.2px;letter-spacing:-1.08px;
}
.s_page34-35_291
{
position:absolute;top:1062px;left:2837.95px;
}
.s_page34-35_292
{
position:absolute;top:1062px;left:3123.3px;
}
.s_page34-35_293
{
position:absolute;top:1062px;left:3542.57px;letter-spacing:-0.61px;
}
.s_page34-35_294
{
position:absolute;top:1062px;left:4764.16px;letter-spacing:-2.48px;
}
.s_page34-35_295
{
position:absolute;top:1062px;left:5040.64px;
}
.s_page34-35_296
{
position:absolute;top:1422px;left:0px;
}
.s_page34-35_297
{
position:absolute;top:1422px;left:809.74px;
}
.s_page34-35_298
{
position:absolute;top:1422px;left:1281.58px;
}
.s_page34-35_299
{
position:absolute;top:1422px;left:2010.93px;
}
.s_page34-35_300
{
position:absolute;top:1422px;left:2670.68px;
}
.s_page34-35_301
{
position:absolute;top:1422px;left:3207.07px;
}
.s_page34-35_302
{
position:absolute;top:1422px;left:3470.34px;letter-spacing:-0.36px;
}
.s_page34-35_303
{
position:absolute;top:1422px;left:3995.21px;letter-spacing:-2.48px;
}
.s_page34-35_304
{
position:absolute;top:1422px;left:4275.77px;
}
.s_page34-35_305
{
position:absolute;top:1422px;left:4889.2px;letter-spacing:-1.04px;
}
.s_page34-35_306
{
position:absolute;top:1782px;left:0px;
}
.s_page34-35_307
{
position:absolute;top:1782px;left:486.23px;
}
.s_page34-35_308
{
position:absolute;top:1782px;left:551.51px;letter-spacing:-1.35px;
}
.s_page34-35_309
{
position:absolute;top:1782px;left:1406.61px;
}
.s_page34-35_310
{
position:absolute;top:1782px;left:1855.65px;
}
.s_page34-35_311
{
position:absolute;top:1782px;left:2459.96px;
}
.s_page34-35_312
{
position:absolute;top:1782px;left:2807.94px;letter-spacing:-1.06px;
}
.s_page34-35_313
{
position:absolute;top:1782px;left:3329.7px;letter-spacing:-1.95px;
}
.s_page34-35_314
{
position:absolute;top:-18px;left:0px;letter-spacing:-3.6px;
}
.s_page34-35_315
{
position:absolute;top:-18px;left:203.51px;
}
.s_page34-35_316
{
position:absolute;top:-18px;left:1379.49px;
}
.s_page34-35_317
{
position:absolute;top:-18px;left:2268.68px;letter-spacing:-0.13px;
}
.s_page34-35_318
{
position:absolute;top:-18px;left:3518.1px;letter-spacing:-2.48px;
}
.s_page34-35_319
{
position:absolute;top:-18px;left:3798.66px;letter-spacing:-0.44px;
}
.s_page34-35_320
{
position:absolute;top:-18px;left:4487.21px;
}
.s_page34-35_321
{
position:absolute;top:342px;left:0px;
}
.s_page34-35_322
{
position:absolute;top:342px;left:419.27px;
}
.s_page34-35_323
{
position:absolute;top:342px;left:1260.7px;
}
.s_page34-35_324
{
position:absolute;top:342px;left:1325.98px;
}
.s_page34-35_325
{
position:absolute;top:342px;left:1563.09px;letter-spacing:-1.34px;
}
.s_page34-35_326
{
position:absolute;top:342px;left:2346.68px;
}
.s_page34-35_327
{
position:absolute;top:342px;left:2684.6px;
}
.s_page34-35_328
{
position:absolute;top:342px;left:3895.38px;letter-spacing:-0.24px;
}
.s_page34-35_329
{
position:absolute;top:342px;left:5089.36px;letter-spacing:-0.64px;
}
.s_page34-35_330
{
position:absolute;top:702px;left:0px;
}
.s_page34-35_331
{
position:absolute;top:702px;left:237.11px;letter-spacing:-3px;
}
.s_page34-35_332
{
position:absolute;top:702px;left:428.63px;letter-spacing:-0.33px;
}
.s_page34-35_333
{
position:absolute;top:702px;left:1250.38px;
}
.s_page34-35_334
{
position:absolute;top:702px;left:2054.85px;letter-spacing:-1.3px;
}
.s_page34-35_335
{
position:absolute;top:702px;left:2609.72px;letter-spacing:-0.41px;
}
.s_page34-35_336
{
position:absolute;top:702px;left:3549.31px;letter-spacing:-0.13px;
}
.s_page34-35_337
{
position:absolute;top:702px;left:4794.17px;
}
.s_page34-35_338
{
position:absolute;top:702px;left:5330.56px;letter-spacing:-3px;
}
.s_page34-35_339
{
position:absolute;top:1062px;left:0px;
}
.s_page34-35_340
{
position:absolute;top:1062px;left:679.19px;
}
.s_page34-35_341
{
position:absolute;top:1062px;left:1126.3px;
}
.s_page34-35_342
{
position:absolute;top:1062px;left:2153.72px;
}
.s_page34-35_343
{
position:absolute;top:1062px;left:2439.07px;
}
.s_page34-35_344
{
position:absolute;top:1062px;left:2858.35px;letter-spacing:-0.27px;
}
.s_page34-35_345
{
position:absolute;top:1062px;left:3772.25px;letter-spacing:-0.64px;
}
.s_page34-35_346
{
position:absolute;top:1062px;left:3987.04px;
}
.s_page34-35_347
{
position:absolute;top:1062px;left:4224.16px;
}
.s_page34-35_348
{
position:absolute;top:1062px;left:4694.79px;letter-spacing:-2.48px;
}
.s_page34-35_349
{
position:absolute;top:1062px;left:4971.27px;
}
.s_page34-35_350
{
position:absolute;top:1422px;left:0px;
}
.s_page34-35_351
{
position:absolute;top:1422px;left:613.43px;text-rendering:optimizeLegibility;
}
.s_page34-35_352
{
position:absolute;top:1422px;left:1475.01px;letter-spacing:-0.12px;
}
.s_page34-35_353
{
position:absolute;top:1422px;left:2836.99px;
}
.s_page34-35_354
{
position:absolute;top:1422px;left:3126.42px;letter-spacing:-2.64px;
}
.s_page34-35_355
{
position:absolute;top:1422px;left:3687.77px;letter-spacing:-0.92px;
}
.s_page34-35_356
{
position:absolute;top:1422px;left:4391.44px;letter-spacing:-0.14px;
}
.s_page34-35_357
{
position:absolute;top:1782px;left:0px;
}
.s_page34-35_358
{
position:absolute;top:1782px;left:615.83px;letter-spacing:-0.66px;
}
.s_page34-35_359
{
position:absolute;top:1782px;left:1121.99px;letter-spacing:-3px;
}
.s_page34-35_360
{
position:absolute;top:1782px;left:1313.5px;letter-spacing:-1.04px;
}
.s_page34-35_361
{
position:absolute;top:1782px;left:2472.21px;
}
.s_page34-35_362
{
position:absolute;top:1782px;left:3313.64px;
}
.s_page34-35_363
{
position:absolute;top:1782px;left:3378.92px;letter-spacing:-2.7px;
}
.s_page34-35_364
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.36px;
}
.s_page34-35_365
{
position:absolute;top:-18px;left:524.88px;letter-spacing:-2.48px;
}
.s_page34-35_366
{
position:absolute;top:-18px;left:801.35px;
}
.s_page34-35_367
{
position:absolute;top:-18px;left:1220.63px;
}
.s_page34-35_368
{
position:absolute;top:-18px;left:1954.05px;
}
.s_page34-35_369
{
position:absolute;top:-18px;left:2843.24px;letter-spacing:-0.12px;
}
.s_page34-35_370
{
position:absolute;top:-18px;left:4209.3px;
}
.s_page34-35_371
{
position:absolute;top:-18px;left:4460.57px;
}
.s_page34-35_372
{
position:absolute;top:342px;left:0px;letter-spacing:-0.41px;
}
.s_page34-35_373
{
position:absolute;top:342px;left:739.91px;
}
.s_page34-35_374
{
position:absolute;top:342px;left:1159.18px;
}
.s_page34-35_375
{
position:absolute;top:342px;left:1463.01px;
}
.s_page34-35_376
{
position:absolute;top:342px;left:2183.48px;
}
.s_page34-35_377
{
position:absolute;top:342px;left:2248.76px;
}
.s_page34-35_378
{
position:absolute;top:342px;left:2485.87px;letter-spacing:-3px;
}
.s_page34-35_379
{
position:absolute;top:342px;left:2677.39px;
}
.s_page34-35_380
{
position:absolute;top:342px;left:3078.42px;letter-spacing:-2.48px;
}
.s_page34-35_381
{
position:absolute;top:342px;left:3354.9px;letter-spacing:-0.72px;
}
.s_page34-35_382
{
position:absolute;top:342px;left:3836.09px;
}
.s_page34-35_383
{
position:absolute;top:702px;left:0px;
}
.s_page34-35_384
{
position:absolute;top:702px;left:680.39px;
}
.s_page34-35_385
{
position:absolute;top:702px;left:1152.22px;
}
.s_page34-35_386
{
position:absolute;top:702px;left:1413.81px;letter-spacing:-0.91px;
}
.s_page34-35_387
{
position:absolute;top:702px;left:2474.84px;
}
.s_page34-35_388
{
position:absolute;top:702px;left:3053.23px;letter-spacing:-2.48px;
}
.s_page34-35_389
{
position:absolute;top:702px;left:3333.79px;text-rendering:optimizeLegibility;letter-spacing:-1.2px;
}
.s_page34-35_390
{
position:absolute;top:702px;left:4317.29px;letter-spacing:-0.44px;
}
.s_page34-35_391
{
position:absolute;top:1062px;left:0px;text-rendering:optimizeLegibility;
}
.s_page34-35_392
{
position:absolute;top:1062px;left:578.39px;
}
.s_page34-35_393
{
position:absolute;top:1062px;left:1109.02px;letter-spacing:-0.45px;
}
.s_page34-35_394
{
position:absolute;top:1062px;left:1979.25px;letter-spacing:-1.1px;
}
.s_page34-35_395
{
position:absolute;top:1062px;left:2651.95px;letter-spacing:-2.48px;
}
.s_page34-35_396
{
position:absolute;top:1062px;left:2927.95px;letter-spacing:-2.13px;
}
.s_page34-35_397
{
position:absolute;top:1062px;left:3676.5px;
}
.s_page34-35_398
{
position:absolute;top:1422px;left:0px;letter-spacing:-3.68px;
}
.s_page34-35_399
{
position:absolute;top:1422px;left:969.35px;
}
.s_page34-35_400
{
position:absolute;top:1422px;left:1206.46px;letter-spacing:-3px;
}
.s_page34-35_401
{
position:absolute;top:1422px;left:1394.62px;
}
.s_page34-35_402
{
position:absolute;top:1422px;left:2208.93px;
}
.s_page34-35_403
{
position:absolute;top:1422px;left:2274.21px;
}
.s_page34-35_404
{
position:absolute;top:1422px;left:2578.04px;
}
.s_page34-35_405
{
position:absolute;top:1422px;left:3298.51px;
}
.s_page34-35_406
{
position:absolute;top:1422px;left:3363.79px;letter-spacing:-3.09px;
}
.s_page34-35_407
{
position:absolute;top:-5.54px;left:121.85px;
}
.position_34 {
	position: absolute;
	top: 85px;
	left: 343px;
}
