.d_page04-05_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page04-05_2
{
width:5333.46px;height:2144.35px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);
}
.d_page04-05_3
{
width:10401.34px;height:229.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page04-05_4
{
width:5134.72px;height:229.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.83px) rotate(0deg) scale(0.05);
}
.d_page04-05_5
{
width:2059.47px;height:382.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,6.72px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.72px) rotate(0deg) scale(0.05);
}
.d_page04-05_6
{
width:5050.07px;height:2115.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.11px) rotate(0deg) scale(0.05);
}
.d_page04-05_7
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_8
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_9
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_10
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_11
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_12
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_13
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_14
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_15
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_16
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_17
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_18
{
width:841.73px;height:317.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.41px) rotate(0deg) scale(0.05);
}
.d_page04-05_19
{
width:10491.62px;height:10097.61px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page04-05_20
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page04-05_21
{
width:10491.62px;height:12461.44px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.65px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.65px) rotate(0deg) scale(0.05);
}
.s_page04-05_22
{
position:absolute;top:59.15px;left:90px;letter-spacing:-1.57px;
}
.s_page04-05_23
{
position:absolute;top:59.15px;left:1223.86px;
}
.s_page04-05_24
{
position:absolute;top:408.44px;left:90px;letter-spacing:-1.57px;
}
.s_page04-05_25
{
position:absolute;top:408.44px;left:1223.86px;
}
.s_page04-05_26
{
position:absolute;top:408.44px;left:2221.08px;
}
.s_page04-05_27
{
position:absolute;top:408.44px;left:2462.03px;letter-spacing:-2.88px;
}
.s_page04-05_28
{
position:absolute;top:757.72px;left:90px;
}
.s_page04-05_29
{
position:absolute;top:757.72px;left:1223.86px;
}
.s_page04-05_30
{
position:absolute;top:1107.01px;left:90px;
}
.s_page04-05_31
{
position:absolute;top:1107.01px;left:1223.86px;
}
.s_page04-05_32
{
position:absolute;top:1456.3px;left:90px;
}
.s_page04-05_33
{
position:absolute;top:1456.3px;left:1223.86px;
}
.s_page04-05_34
{
position:absolute;top:1456.3px;left:2958.04px;
}
.s_page04-05_35
{
position:absolute;top:1805.59px;left:90px;
}
.s_page04-05_36
{
position:absolute;top:1805.59px;left:1223.86px;
}
.s_page04-05_37
{
position:absolute;top:1805.59px;left:2105.04px;
}
.s_page04-05_38
{
position:absolute;top:1805.59px;left:2350.69px;
}
.s_page04-05_39
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-3.2px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_40
{
position:absolute;top:-22.5px;left:355.88px;letter-spacing:-3.75px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_41
{
position:absolute;top:-22.5px;left:588.1px;letter-spacing:-0.73px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_42
{
position:absolute;top:-22.5px;left:1572.54px;letter-spacing:-0.9px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_43
{
position:absolute;top:-22.5px;left:2782.79px;letter-spacing:-3.75px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_44
{
position:absolute;top:-22.5px;left:3015px;letter-spacing:-2.94px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_45
{
position:absolute;top:-22.5px;left:4396.07px;letter-spacing:-0.66px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_46
{
position:absolute;top:-22.5px;left:5084.56px;letter-spacing:0px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_47
{
position:absolute;top:-22.5px;left:5489.33px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_48
{
position:absolute;top:-22.5px;left:5997.7px;letter-spacing:0px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_49
{
position:absolute;top:-22.5px;left:7172.45px;letter-spacing:-2.06px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_50
{
position:absolute;top:-22.5px;left:8306.16px;letter-spacing:0px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_51
{
position:absolute;top:-22.5px;left:8615.78px;letter-spacing:0px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_52
{
position:absolute;top:-22.5px;left:9327.56px;letter-spacing:-2.17px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 252.00px;-webkit-transform-origin: 0% 252.00px;-moz-transform-origin: 0% 252.00px;-ms-transform-origin: 0% 252.00px;-o-transform-origin: 0% 252.00px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page04-05_53
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-0.52px;
}
.s_page04-05_54
{
position:absolute;top:-22.5px;left:576.3px;letter-spacing:-0.87px;
}
.s_page04-05_55
{
position:absolute;top:-22.5px;left:1892.38px;letter-spacing:-2.02px;
}
.s_page04-05_56
{
position:absolute;top:-22.5px;left:2411.67px;
}
.s_page04-05_57
{
position:absolute;top:-22.5px;left:2935.76px;
}
.s_page04-05_58
{
position:absolute;top:-22.5px;left:4001.04px;letter-spacing:0px;
}
.s_page04-05_59
{
position:absolute;top:-37.5px;left:0px;letter-spacing:-0.81px;
}
.s_page04-05_60
{
position:absolute;top:59.15px;left:90px;
}
.s_page04-05_61
{
position:absolute;top:59.15px;left:1223.86px;
}
.s_page04-05_62
{
position:absolute;top:408.44px;left:90px;
}
.s_page04-05_63
{
position:absolute;top:408.44px;left:1223.86px;
}
.s_page04-05_64
{
position:absolute;top:757.72px;left:90px;
}
.s_page04-05_65
{
position:absolute;top:757.72px;left:1223.86px;
}
.s_page04-05_66
{
position:absolute;top:1107.01px;left:90px;
}
.s_page04-05_67
{
position:absolute;top:1107.01px;left:1223.86px;
}
.s_page04-05_68
{
position:absolute;top:1107.01px;left:1628.33px;
}
.s_page04-05_69
{
position:absolute;top:1107.01px;left:1873.99px;
}
.s_page04-05_70
{
position:absolute;top:1456.3px;left:90px;
}
.s_page04-05_71
{
position:absolute;top:1456.3px;left:1223.86px;
}
.s_page04-05_72
{
position:absolute;top:1805.59px;left:90px;
}
.s_page04-05_73
{
position:absolute;top:1805.59px;left:1223.86px;
}
.s_page04-05_74
{
position:absolute;top:1805.59px;left:1715.29px;
}
.s_page04-05_75
{
position:absolute;top:1805.59px;left:2394.24px;
}
.s_page04-05_76
{
position:absolute;top:1805.59px;left:2639.89px;letter-spacing:-3.22px;
}
.s_page04-05_77
{
position:absolute;top:1805.59px;left:3357.81px;
}
.s_page04-05_78
{
position:absolute;top:33.23px;left:162.35px;letter-spacing:-1.57px;
}
.s_page04-05_79
{
position:absolute;top:33.23px;left:169.52px;letter-spacing:-1.57px;
}
.s_page04-05_80
{
position:absolute;top:33.23px;left:130.99px;
}
.s_page04-05_81
{
position:absolute;top:33.23px;left:232.11px;
}
.s_page04-05_82
{
position:absolute;top:33.23px;left:159.87px;
}
.s_page04-05_83
{
position:absolute;top:33.23px;left:196.12px;
}
.s_page04-05_84
{
position:absolute;top:33.23px;left:174.28px;
}
.s_page04-05_85
{
position:absolute;top:33.23px;left:130.8px;
}
.s_page04-05_86
{
position:absolute;top:33.23px;left:282.7px;
}
.s_page04-05_87
{
position:absolute;top:33.23px;left:239.41px;
}
.s_page04-05_88
{
position:absolute;top:33.23px;left:44.28px;
}
.s_page04-05_89
{
position:absolute;top:33.23px;left:260.99px;
}
.s_page04-05_90
{
position:absolute;top:52.5px;left:5878.9px;letter-spacing:-0.19px;
}
.s_page04-05_91
{
position:absolute;top:1530.23px;left:207.87px;letter-spacing:-1.56px;
}
.s_page04-05_92
{
position:absolute;top:1410.23px;left:536.45px;letter-spacing:-1.41px;
}
.s_page04-05_93
{
position:absolute;top:1410.23px;left:1564.6px;letter-spacing:-2.48px;
}
.s_page04-05_94
{
position:absolute;top:1410.23px;left:1841.07px;
}
.s_page04-05_95
{
position:absolute;top:1650.23px;left:536.45px;letter-spacing:-0.58px;
}
.s_page04-05_96
{
position:absolute;top:2069.15px;left:172.83px;
}
.s_page04-05_97
{
position:absolute;top:2069.15px;left:536.45px;letter-spacing:-1.64px;
}
.s_page04-05_98
{
position:absolute;top:2069.15px;left:1232.92px;letter-spacing:-1.38px;
}
.s_page04-05_99
{
position:absolute;top:2579.39px;left:171.03px;letter-spacing:-1.92px;
}
.s_page04-05_100
{
position:absolute;top:2579.39px;left:536.45px;
}
.s_page04-05_101
{
position:absolute;top:2579.39px;left:1855.47px;letter-spacing:-1.5px;
}
.s_page04-05_102
{
position:absolute;top:3089.62px;left:173.07px;letter-spacing:-1.2px;
}
.s_page04-05_103
{
position:absolute;top:3089.62px;left:596.45px;letter-spacing:-0.59px;
}
.s_page04-05_104
{
position:absolute;top:3089.62px;left:1726.83px;letter-spacing:-1.2px;
}
.s_page04-05_105
{
position:absolute;top:3599.86px;left:174.27px;letter-spacing:-1.92px;
}
.s_page04-05_106
{
position:absolute;top:3599.86px;left:596.45px;letter-spacing:-5.28px;
}
.s_page04-05_107
{
position:absolute;top:3599.86px;left:1001.8px;letter-spacing:-3px;
}
.s_page04-05_108
{
position:absolute;top:3599.86px;left:1193.32px;
}
.s_page04-05_109
{
position:absolute;top:4110.1px;left:168.74px;letter-spacing:-1.92px;
}
.s_page04-05_110
{
position:absolute;top:4110.1px;left:596.45px;letter-spacing:-0.38px;
}
.s_page04-05_111
{
position:absolute;top:4110.1px;left:1607.56px;letter-spacing:-1.2px;
}
.s_page04-05_112
{
position:absolute;top:4620.33px;left:188.31px;letter-spacing:-10.08px;
}
.s_page04-05_113
{
position:absolute;top:4620.33px;left:596.45px;letter-spacing:-3.6px;
}
.s_page04-05_114
{
position:absolute;top:4620.33px;left:804.04px;letter-spacing:-0.66px;
}
.s_page04-05_115
{
position:absolute;top:4620.33px;left:1328.92px;letter-spacing:-1.32px;
}
.s_page04-05_116
{
position:absolute;top:5130.57px;left:165.39px;letter-spacing:-1.8px;
}
.s_page04-05_117
{
position:absolute;top:5130.57px;left:596.45px;
}
.s_page04-05_118
{
position:absolute;top:5130.57px;left:1492.36px;letter-spacing:-0.96px;
}
.s_page04-05_119
{
position:absolute;top:5640.8px;left:169.47px;letter-spacing:-3.72px;
}
.s_page04-05_120
{
position:absolute;top:5640.8px;left:596.45px;letter-spacing:-2.64px;
}
.s_page04-05_121
{
position:absolute;top:5640.8px;left:1171.96px;letter-spacing:-0.53px;
}
.s_page04-05_122
{
position:absolute;top:6151.04px;left:103.47px;letter-spacing:-2.48px;
}
.s_page04-05_123
{
position:absolute;top:6151.04px;left:536.45px;letter-spacing:-2.52px;
}
.s_page04-05_124
{
position:absolute;top:6151.04px;left:1250.68px;letter-spacing:-1.92px;
}
.s_page04-05_125
{
position:absolute;top:6151.04px;left:1791.14px;
}
.s_page04-05_126
{
position:absolute;top:6151.04px;left:2210.42px;
}
.s_page04-05_127
{
position:absolute;top:6661.28px;left:100.71px;
}
.s_page04-05_128
{
position:absolute;top:6661.28px;left:165.99px;letter-spacing:10.16px;
}
.s_page04-05_129
{
position:absolute;top:6661.28px;left:536.45px;letter-spacing:-1.4px;
}
.s_page04-05_130
{
position:absolute;top:6661.28px;left:1209.88px;
}
.s_page04-05_131
{
position:absolute;top:6661.28px;left:1629.15px;
}
.s_page04-05_132
{
position:absolute;top:7171.51px;left:115.11px;
}
.s_page04-05_133
{
position:absolute;top:7171.51px;left:536.45px;
}
.s_page04-05_134
{
position:absolute;top:7171.51px;left:1353.39px;
}
.s_page04-05_135
{
position:absolute;top:7681.75px;left:113.31px;letter-spacing:-1.28px;
}
.s_page04-05_136
{
position:absolute;top:7681.75px;left:536.45px;
}
.s_page04-05_137
{
position:absolute;top:7681.75px;left:1382.44px;
}
.s_page04-05_138
{
position:absolute;top:7681.75px;left:1801.71px;
}
.s_page04-05_139
{
position:absolute;top:8191.99px;left:115.35px;letter-spacing:-0.8px;
}
.s_page04-05_140
{
position:absolute;top:8191.99px;left:536.45px;letter-spacing:-0.33px;
}
.s_page04-05_141
{
position:absolute;top:8191.99px;left:1431.88px;
}
.s_page04-05_142
{
position:absolute;top:8702.22px;left:116.55px;letter-spacing:-1.28px;
}
.s_page04-05_143
{
position:absolute;top:8702.22px;left:536.45px;
}
.s_page04-05_144
{
position:absolute;top:8702.22px;left:1455.39px;
}
.s_page04-05_145
{
position:absolute;top:9212.46px;left:111.03px;letter-spacing:-1.28px;
}
.s_page04-05_146
{
position:absolute;top:9212.46px;left:536.45px;letter-spacing:-2.68px;
}
.s_page04-05_147
{
position:absolute;top:9212.46px;left:1286.44px;letter-spacing:-2.48px;
}
.s_page04-05_148
{
position:absolute;top:9212.46px;left:1562.44px;letter-spacing:-2.02px;
}
.s_page04-05_149
{
position:absolute;top:9722.69px;left:130.59px;letter-spacing:-6.72px;
}
.s_page04-05_150
{
position:absolute;top:9722.69px;left:536.45px;
}
.s_page04-05_151
{
position:absolute;top:9722.69px;left:883.24px;letter-spacing:-3px;
}
.s_page04-05_152
{
position:absolute;top:9722.69px;left:1074.76px;letter-spacing:-0.24px;
}
.s_page04-05_153
{
position:absolute;top:-21px;left:60px;letter-spacing:-1.21px;
}
.s_page04-05_154
{
position:absolute;top:-21px;left:396.85px;letter-spacing:-1.64px;
}
.s_page04-05_155
{
position:absolute;top:-21px;left:1596.36px;letter-spacing:-2.89px;
}
.s_page04-05_156
{
position:absolute;top:-21px;left:1918.91px;
}
.s_page04-05_157
{
position:absolute;top:-21px;left:2402.75px;letter-spacing:-0.56px;
}
.s_page04-05_158
{
position:absolute;top:-21px;left:10361.42px;
}
.s_page04-05_159
{
position:absolute;top:535.69px;left:60px;
}
.s_page04-05_160
{
position:absolute;top:535.69px;left:396.85px;letter-spacing:-1.91px;
}
.s_page04-05_161
{
position:absolute;top:535.69px;left:1209.4px;letter-spacing:-1.29px;
}
.s_page04-05_162
{
position:absolute;top:535.69px;left:10248.31px;letter-spacing:0px;
}
.s_page04-05_163
{
position:absolute;top:1092.38px;left:60px;letter-spacing:-1.49px;
}
.s_page04-05_164
{
position:absolute;top:1092.38px;left:396.85px;letter-spacing:0px;
}
.s_page04-05_165
{
position:absolute;top:1092.38px;left:1935.71px;letter-spacing:-1.4px;
}
.s_page04-05_166
{
position:absolute;top:1092.38px;left:10281.91px;
}
.s_page04-05_167
{
position:absolute;top:1649.08px;left:60px;letter-spacing:-0.93px;
}
.s_page04-05_168
{
position:absolute;top:1649.08px;left:396.85px;letter-spacing:-0.69px;
}
.s_page04-05_169
{
position:absolute;top:1649.08px;left:1715.63px;letter-spacing:-1.17px;
}
.s_page04-05_170
{
position:absolute;top:1649.08px;left:10267.63px;letter-spacing:0px;
}
.s_page04-05_171
{
position:absolute;top:2205.77px;left:60px;letter-spacing:-1.49px;
}
.s_page04-05_172
{
position:absolute;top:2205.77px;left:396.85px;letter-spacing:-6.16px;
}
.s_page04-05_173
{
position:absolute;top:2205.77px;left:869.76px;letter-spacing:-3.5px;
}
.s_page04-05_174
{
position:absolute;top:2205.77px;left:1093.2px;letter-spacing:0px;
}
.s_page04-05_175
{
position:absolute;top:2205.77px;left:10206.02px;letter-spacing:0px;
}
.s_page04-05_176
{
position:absolute;top:2762.46px;left:60px;letter-spacing:-1.49px;
}
.s_page04-05_177
{
position:absolute;top:2762.46px;left:396.85px;letter-spacing:-0.44px;
}
.s_page04-05_178
{
position:absolute;top:2762.46px;left:1576.49px;letter-spacing:-1.17px;
}
.s_page04-05_179
{
position:absolute;top:2762.46px;left:10192.02px;letter-spacing:0px;
}
.s_page04-05_180
{
position:absolute;top:3319.16px;left:60px;letter-spacing:-7.84px;
}
.s_page04-05_181
{
position:absolute;top:3319.16px;left:396.85px;letter-spacing:-4.2px;
}
.s_page04-05_182
{
position:absolute;top:3319.16px;left:639.04px;letter-spacing:-0.77px;
}
.s_page04-05_183
{
position:absolute;top:3319.16px;left:1251.4px;letter-spacing:-1.23px;
}
.s_page04-05_184
{
position:absolute;top:3319.16px;left:10161.51px;letter-spacing:0px;
}
.s_page04-05_185
{
position:absolute;top:3875.85px;left:60px;letter-spacing:-1.4px;
}
.s_page04-05_186
{
position:absolute;top:3875.85px;left:396.85px;letter-spacing:0px;
}
.s_page04-05_187
{
position:absolute;top:3875.85px;left:1442.08px;letter-spacing:-0.96px;
}
.s_page04-05_188
{
position:absolute;top:3875.85px;left:10188.67px;letter-spacing:0px;
}
.s_page04-05_189
{
position:absolute;top:4432.54px;left:60px;letter-spacing:-2.89px;
}
.s_page04-05_190
{
position:absolute;top:4432.54px;left:396.85px;letter-spacing:-3.08px;
}
.s_page04-05_191
{
position:absolute;top:4432.54px;left:1068.28px;letter-spacing:-0.51px;
}
.s_page04-05_192
{
position:absolute;top:4432.54px;left:10209.95px;letter-spacing:0px;
}
.s_page04-05_193
{
position:absolute;top:4989.23px;left:0px;letter-spacing:-2.17px;
}
.s_page04-05_194
{
position:absolute;top:4989.23px;left:396.85px;letter-spacing:-2.94px;
}
.s_page04-05_195
{
position:absolute;top:4989.23px;left:1230.12px;letter-spacing:-2.24px;
}
.s_page04-05_196
{
position:absolute;top:4989.23px;left:1860.66px;
}
.s_page04-05_197
{
position:absolute;top:4989.23px;left:2349.81px;letter-spacing:0px;
}
.s_page04-05_198
{
position:absolute;top:4989.23px;left:10167.95px;
}
.s_page04-05_199
{
position:absolute;top:5545.93px;left:60px;letter-spacing:8.89px;
}
.s_page04-05_200
{
position:absolute;top:5545.93px;left:396.85px;letter-spacing:-1.63px;
}
.s_page04-05_201
{
position:absolute;top:5545.93px;left:1182.52px;letter-spacing:0px;
}
.s_page04-05_202
{
position:absolute;top:5545.93px;left:1671.67px;
}
.s_page04-05_203
{
position:absolute;top:5545.93px;left:10195.11px;letter-spacing:0px;
}
.s_page04-05_204
{
position:absolute;top:6102.62px;left:0px;
}
.s_page04-05_205
{
position:absolute;top:6102.62px;left:396.85px;letter-spacing:0px;
}
.s_page04-05_206
{
position:absolute;top:6102.62px;left:1349.96px;
}
.s_page04-05_207
{
position:absolute;top:6102.62px;left:10189.78px;
}
.s_page04-05_208
{
position:absolute;top:6659.31px;left:0px;letter-spacing:-1.12px;
}
.s_page04-05_209
{
position:absolute;top:6659.31px;left:396.85px;letter-spacing:0px;
}
.s_page04-05_210
{
position:absolute;top:6659.31px;left:1383.84px;
}
.s_page04-05_211
{
position:absolute;top:6659.31px;left:1872.99px;letter-spacing:0px;
}
.s_page04-05_212
{
position:absolute;top:6659.31px;left:10187.27px;
}
.s_page04-05_213
{
position:absolute;top:7216.01px;left:0px;letter-spacing:-0.7px;
}
.s_page04-05_214
{
position:absolute;top:7216.01px;left:396.85px;letter-spacing:-0.38px;
}
.s_page04-05_215
{
position:absolute;top:7216.01px;left:1441.52px;
}
.s_page04-05_216
{
position:absolute;top:7216.01px;left:10204.9px;
}
.s_page04-05_217
{
position:absolute;top:7772.7px;left:0px;letter-spacing:-1.12px;
}
.s_page04-05_218
{
position:absolute;top:7772.7px;left:396.85px;letter-spacing:0px;
}
.s_page04-05_219
{
position:absolute;top:7772.7px;left:1468.95px;
}
.s_page04-05_220
{
position:absolute;top:7772.7px;left:10203.79px;
}
.s_page04-05_221
{
position:absolute;top:8329.39px;left:0px;letter-spacing:-1.12px;
}
.s_page04-05_222
{
position:absolute;top:8329.39px;left:396.85px;letter-spacing:-3.13px;
}
.s_page04-05_223
{
position:absolute;top:8329.39px;left:1271.84px;letter-spacing:-2.89px;
}
.s_page04-05_224
{
position:absolute;top:8329.39px;left:1593.84px;letter-spacing:-1.96px;
}
.s_page04-05_225
{
position:absolute;top:8329.39px;left:10183.35px;
}
.s_page04-05_226
{
position:absolute;top:8886.09px;left:0px;letter-spacing:-5.88px;
}
.s_page04-05_227
{
position:absolute;top:8886.09px;left:396.85px;letter-spacing:0px;
}
.s_page04-05_228
{
position:absolute;top:8886.09px;left:801.44px;letter-spacing:-3.5px;
}
.s_page04-05_229
{
position:absolute;top:8886.09px;left:1024.88px;letter-spacing:0px;
}
.s_page04-05_230
{
position:absolute;top:8886.09px;left:10192.02px;
}
.s_page04-05_231
{
position:absolute;top:9442.78px;left:0px;letter-spacing:-1.21px;
}
.s_page04-05_232
{
position:absolute;top:9442.78px;left:1005.74px;
}
.s_page04-05_233
{
position:absolute;top:9442.78px;left:1218.25px;letter-spacing:-0.96px;
}
.s_page04-05_234
{
position:absolute;top:9442.78px;left:3105.15px;
}
.s_page04-05_235
{
position:absolute;top:9442.78px;left:10178.02px;
}
.s_page04-05_236
{
position:absolute;top:9999.47px;left:0px;letter-spacing:-1.21px;
}
.s_page04-05_237
{
position:absolute;top:9999.47px;left:1005.74px;
}
.s_page04-05_238
{
position:absolute;top:9999.47px;left:1288.53px;letter-spacing:-7.35px;
}
.s_page04-05_239
{
position:absolute;top:9999.47px;left:1709.36px;letter-spacing:-0.51px;
}
.s_page04-05_240
{
position:absolute;top:9999.47px;left:10204.62px;
}
.s_page04-05_241
{
position:absolute;top:10556.16px;left:0px;letter-spacing:-6.38px;
}
.s_page04-05_242
{
position:absolute;top:10556.16px;left:591.35px;letter-spacing:-1.63px;
}
.s_page04-05_243
{
position:absolute;top:10556.16px;left:1404.17px;
}
.s_page04-05_244
{
position:absolute;top:10556.16px;left:10175.51px;letter-spacing:0px;
}
.s_page04-05_245
{
position:absolute;top:11112.86px;left:0px;letter-spacing:-6.38px;
}
.s_page04-05_246
{
position:absolute;top:11112.86px;left:591.35px;letter-spacing:-1.63px;
}
.s_page04-05_247
{
position:absolute;top:11112.86px;left:1404.17px;
}
.s_page04-05_248
{
position:absolute;top:11112.86px;left:10182.79px;
}
.s_page04-05_249
{
position:absolute;top:11669.55px;left:0px;letter-spacing:-6.38px;
}
.s_page04-05_250
{
position:absolute;top:11669.55px;left:591.35px;letter-spacing:-1.63px;
}
.s_page04-05_251
{
position:absolute;top:11669.55px;left:1404.17px;
}
.s_page04-05_252
{
position:absolute;top:11669.55px;left:10255.03px;letter-spacing:20.86px;
}
.s_page04-05_253
{
position:absolute;top:12226.24px;left:0px;letter-spacing:-6.38px;
}
.s_page04-05_254
{
position:absolute;top:12226.24px;left:591.35px;letter-spacing:-1.63px;
}
.s_page04-05_255
{
position:absolute;top:12226.24px;left:1404.17px;
}
.s_page04-05_256
{
position:absolute;top:12226.24px;left:10218.62px;
}
