.d_page12_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page12_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page12_3
{
width:9419.76px;height:1016.99px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12_4
{
width:9864.57px;height:1127.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page12_5
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page12_6
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_7
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_8
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_9
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_10
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_11
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_12
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_13
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_14
{
width:266.4px;height:284.54px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page12_15
{position:absolute;overflow:hidden;left: 0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_page12_16
{
width:9864.57px;height:10641.28px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page12_17
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page12_18
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page12_19
{
width:4507.2px;height:1303.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12_20
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page12_21
{
width:4287.2px;height:2492.87px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12_22
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page12_23
{
position:absolute;top:-11.04px;left:146.57px;
}
.s_page12_24
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.44px;
}
.s_page12_25
{
position:absolute;top:-18px;left:680.87px;
}
.s_page12_26
{
position:absolute;top:-18px;left:1530.94px;letter-spacing:-6.17px;
}
.s_page12_27
{
position:absolute;top:-18px;left:2780px;letter-spacing:-1.99px;
}
.s_page12_28
{
position:absolute;top:-18px;left:3606.55px;letter-spacing:-1.92px;
}
.s_page12_29
{
position:absolute;top:-18px;left:4156.62px;letter-spacing:-0.67px;
}
.s_page12_30
{
position:absolute;top:-18px;left:6420px;letter-spacing:-0.44px;
}
.s_page12_31
{
position:absolute;top:-18px;left:7197.84px;letter-spacing:-0.48px;
}
.s_page12_32
{
position:absolute;top:-18px;left:7805.27px;letter-spacing:-0.53px;
}
.s_page12_33
{
position:absolute;top:-18px;left:8445.1px;letter-spacing:-1.38px;
}
.s_page12_34
{
position:absolute;top:398.69px;left:0px;letter-spacing:-3.47px;
}
.s_page12_35
{
position:absolute;top:398.69px;left:1174.3px;letter-spacing:-2.16px;
}
.s_page12_36
{
position:absolute;top:398.69px;left:1866.93px;letter-spacing:-1px;
}
.s_page12_37
{
position:absolute;top:398.69px;left:2780px;letter-spacing:-0.9px;
}
.s_page12_38
{
position:absolute;top:398.69px;left:3763.51px;letter-spacing:-3.12px;
}
.s_page12_39
{
position:absolute;top:398.69px;left:4082.94px;
}
.s_page12_40
{
position:absolute;top:398.69px;left:4502.21px;letter-spacing:-3.17px;
}
.s_page12_41
{
position:absolute;top:398.69px;left:5020.36px;letter-spacing:-0.65px;
}
.s_page12_42
{
position:absolute;top:398.69px;left:6420px;letter-spacing:-1.32px;
}
.s_page12_43
{
position:absolute;top:398.69px;left:7105.19px;letter-spacing:-3.42px;
}
.s_page12_44
{
position:absolute;top:398.69px;left:8002.3px;letter-spacing:-1.2px;
}
.s_page12_45
{
position:absolute;top:815.38px;left:0px;letter-spacing:-5.2px;
}
.s_page12_46
{
position:absolute;top:815.38px;left:689.99px;letter-spacing:-0.88px;
}
.s_page12_47
{
position:absolute;top:815.38px;left:1628.14px;letter-spacing:-0.48px;
}
.s_page12_48
{
position:absolute;top:815.38px;left:2780px;letter-spacing:-0.69px;
}
.s_page12_49
{
position:absolute;top:815.38px;left:3480.07px;letter-spacing:-1.51px;
}
.s_page12_50
{
position:absolute;top:815.38px;left:6420px;letter-spacing:-1.25px;
}
.s_page12_51
{
position:absolute;top:815.38px;left:7443.59px;letter-spacing:-4.32px;
}
.s_page12_52
{
position:absolute;top:815.38px;left:8343.81px;letter-spacing:-2.22px;
}
.s_page12_53
{
position:absolute;top:92.72px;left:543.94px;
}
.s_page12_54
{
position:absolute;top:92.72px;left:659.95px;letter-spacing:-0.84px;
}
.s_page12_55
{
position:absolute;top:92.72px;left:1290.22px;letter-spacing:0px;
}
.s_page12_56
{
position:absolute;top:92.72px;left:1568.26px;
}
.s_page12_57
{
position:absolute;top:92.72px;left:2375.49px;
}
.s_page12_58
{
position:absolute;top:92.72px;left:2721.57px;letter-spacing:-0.61px;
}
.s_page12_59
{
position:absolute;top:92.72px;left:3500.81px;
}
.s_page12_60
{
position:absolute;top:92.72px;left:4016px;letter-spacing:-2.8px;
}
.s_page12_61
{
position:absolute;top:92.72px;left:4348.92px;
}
.s_page12_62
{
position:absolute;top:92.72px;left:4851.51px;letter-spacing:-1.54px;
}
.s_page12_63
{
position:absolute;top:92.72px;left:5687.31px;
}
.s_page12_64
{
position:absolute;top:92.72px;left:6784.62px;letter-spacing:-0.38px;
}
.s_page12_65
{
position:absolute;top:92.72px;left:8007.65px;letter-spacing:-2.8px;
}
.s_page12_66
{
position:absolute;top:92.72px;left:8340.57px;
}
.s_page12_67
{
position:absolute;top:92.72px;left:8842.04px;letter-spacing:-0.44px;
}
.s_page12_68
{
position:absolute;top:492.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page12_69
{
position:absolute;top:492.72px;left:1750.26px;
}
.s_page12_70
{
position:absolute;top:492.72px;left:2553.85px;letter-spacing:-1.45px;
}
.s_page12_71
{
position:absolute;top:492.72px;left:3337.85px;letter-spacing:-0.77px;
}
.s_page12_72
{
position:absolute;top:492.72px;left:4425.92px;
}
.s_page12_73
{
position:absolute;top:492.72px;left:5388.83px;letter-spacing:-0.26px;
}
.s_page12_74
{
position:absolute;top:492.72px;left:6924.34px;letter-spacing:-2.8px;
}
.s_page12_75
{
position:absolute;top:492.72px;left:7249.7px;
}
.s_page12_76
{
position:absolute;top:492.72px;left:7956.12px;
}
.s_page12_77
{
position:absolute;top:492.72px;left:8560.92px;letter-spacing:-2.24px;
}
.s_page12_78
{
position:absolute;top:892.72px;left:659.95px;letter-spacing:-0.59px;
}
.s_page12_79
{
position:absolute;top:892.72px;left:1846.3px;letter-spacing:-0.73px;
}
.s_page12_80
{
position:absolute;top:892.72px;left:2554.42px;
}
.s_page12_81
{
position:absolute;top:892.72px;left:3057.01px;
}
.s_page12_82
{
position:absolute;top:892.72px;left:3687.56px;
}
.s_page12_83
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page12_84
{
position:absolute;top:32.47px;left:78.84px;letter-spacing:-1.56px;
}
.s_page12_85
{
position:absolute;top:32.47px;left:44.04px;letter-spacing:-1.2px;
}
.s_page12_86
{
position:absolute;top:32.47px;left:59.28px;letter-spacing:-10.08px;
}
.s_page12_87
{
position:absolute;top:32.47px;left:43.8px;
}
.s_page12_88
{
position:absolute;top:32.47px;left:45.24px;letter-spacing:-1.92px;
}
.s_page12_89
{
position:absolute;top:32.47px;left:36.36px;letter-spacing:-1.8px;
}
.s_page12_90
{
position:absolute;top:32.47px;left:42px;letter-spacing:-1.92px;
}
.s_page12_91
{
position:absolute;top:32.47px;left:39.72px;letter-spacing:-1.92px;
}
.s_page12_92
{
position:absolute;top:32.47px;left:40.44px;letter-spacing:-3.72px;
}
.s_page12_93
{
position:absolute;top:172.72px;left:577.84px;
}
.s_page12_94
{
position:absolute;top:172.72px;left:659.95px;letter-spacing:-0.79px;
}
.s_page12_95
{
position:absolute;top:172.72px;left:1430.51px;letter-spacing:-0.77px;
}
.s_page12_96
{
position:absolute;top:172.72px;left:2607.34px;
}
.s_page12_97
{
position:absolute;top:172.72px;left:3109.93px;letter-spacing:-0.59px;
}
.s_page12_98
{
position:absolute;top:172.72px;left:4402.68px;letter-spacing:-0.13px;
}
.s_page12_99
{
position:absolute;top:172.72px;left:5985.23px;letter-spacing:-0.91px;
}
.s_page12_100
{
position:absolute;top:172.72px;left:6487.55px;
}
.s_page12_101
{
position:absolute;top:172.72px;left:7113.62px;letter-spacing:-2.05px;
}
.s_page12_102
{
position:absolute;top:172.72px;left:7461.94px;letter-spacing:-0.23px;
}
.s_page12_103
{
position:absolute;top:626.32px;left:0px;
}
.s_page12_104
{
position:absolute;top:626.32px;left:531.28px;letter-spacing:-1.04px;
}
.s_page12_105
{
position:absolute;top:626.32px;left:900px;letter-spacing:-0.24px;
}
.s_page12_106
{
position:absolute;top:626.32px;left:1512.95px;letter-spacing:-3.72px;
}
.s_page12_107
{
position:absolute;top:626.32px;left:1728.23px;
}
.s_page12_108
{
position:absolute;top:626.32px;left:1789.43px;
}
.s_page12_109
{
position:absolute;top:626.32px;left:2204.62px;
}
.s_page12_110
{
position:absolute;top:626.32px;left:2623.89px;letter-spacing:-0.9px;
}
.s_page12_111
{
position:absolute;top:626.32px;left:3439.87px;
}
.s_page12_112
{
position:absolute;top:626.32px;left:4501.86px;
}
.s_page12_113
{
position:absolute;top:626.32px;left:5133.77px;letter-spacing:-1.62px;
}
.s_page12_114
{
position:absolute;top:626.32px;left:5553.28px;
}
.s_page12_115
{
position:absolute;top:626.32px;left:5801.44px;
}
.s_page12_116
{
position:absolute;top:1203.36px;left:0px;
}
.s_page12_117
{
position:absolute;top:1203.36px;left:461.2px;
}
.s_page12_118
{
position:absolute;top:1203.36px;left:900px;letter-spacing:-0.42px;
}
.s_page12_119
{
position:absolute;top:1203.36px;left:1364.4px;letter-spacing:-0.29px;
}
.s_page12_120
{
position:absolute;top:1203.36px;left:1905.59px;letter-spacing:-2.48px;
}
.s_page12_121
{
position:absolute;top:1203.36px;left:2182.06px;
}
.s_page12_122
{
position:absolute;top:1203.36px;left:2594.14px;
}
.s_page12_123
{
position:absolute;top:1203.36px;left:3247.88px;letter-spacing:-0.14px;
}
.s_page12_124
{
position:absolute;top:1203.36px;left:4376.59px;letter-spacing:-1.62px;
}
.s_page12_125
{
position:absolute;top:1203.36px;left:4796.1px;letter-spacing:-0.79px;
}
.s_page12_126
{
position:absolute;top:1203.36px;left:5547.05px;
}
.s_page12_127
{
position:absolute;top:1203.36px;left:6096.64px;
}
.s_page12_128
{
position:absolute;top:1203.36px;left:6515.91px;letter-spacing:-0.29px;
}
.s_page12_129
{
position:absolute;top:1203.36px;left:7057.1px;letter-spacing:-2.48px;
}
.s_page12_130
{
position:absolute;top:1623.36px;left:900px;
}
.s_page12_131
{
position:absolute;top:1623.36px;left:1312.07px;letter-spacing:-0.84px;
}
.s_page12_132
{
position:absolute;top:1623.36px;left:2145.1px;letter-spacing:-0.13px;
}
.s_page12_133
{
position:absolute;top:2200.4px;left:0px;
}
.s_page12_134
{
position:absolute;top:2200.4px;left:457.6px;letter-spacing:-1.28px;
}
.s_page12_135
{
position:absolute;top:2200.4px;left:900px;letter-spacing:-0.6px;
}
.s_page12_136
{
position:absolute;top:2200.4px;left:2008.07px;
}
.s_page12_137
{
position:absolute;top:2200.4px;left:2245.18px;
}
.s_page12_138
{
position:absolute;top:2200.4px;left:3116.13px;
}
.s_page12_139
{
position:absolute;top:2200.4px;left:3371.48px;
}
.s_page12_140
{
position:absolute;top:2200.4px;left:3703.88px;letter-spacing:-2.5px;
}
.s_page12_141
{
position:absolute;top:2200.4px;left:4249.63px;letter-spacing:-0.48px;
}
.s_page12_142
{
position:absolute;top:2200.4px;left:5032.5px;
}
.s_page12_143
{
position:absolute;top:2200.4px;left:5342.57px;
}
.s_page12_144
{
position:absolute;top:2200.4px;left:5761.85px;
}
.s_page12_145
{
position:absolute;top:2200.4px;left:6367.12px;letter-spacing:-2.48px;
}
.s_page12_146
{
position:absolute;top:2200.4px;left:6647.67px;letter-spacing:-5.69px;
}
.s_page12_147
{
position:absolute;top:2620.4px;left:900px;
}
.s_page12_148
{
position:absolute;top:2620.4px;left:1371.83px;
}
.s_page12_149
{
position:absolute;top:2620.4px;left:1820.87px;letter-spacing:-1.3px;
}
.s_page12_150
{
position:absolute;top:2620.4px;left:2449.18px;
}
.s_page12_151
{
position:absolute;top:2620.4px;left:3002.85px;
}
.s_page12_152
{
position:absolute;top:2620.4px;left:3394.28px;letter-spacing:-0.37px;
}
.s_page12_153
{
position:absolute;top:3197.44px;left:0px;
}
.s_page12_154
{
position:absolute;top:3197.44px;left:461.68px;letter-spacing:-0.8px;
}
.s_page12_155
{
position:absolute;top:3197.44px;left:900px;letter-spacing:-1.47px;
}
.s_page12_156
{
position:absolute;top:3197.44px;left:1749.83px;letter-spacing:-5.69px;
}
.s_page12_157
{
position:absolute;top:3197.44px;left:2513.98px;letter-spacing:-0.66px;
}
.s_page12_158
{
position:absolute;top:3197.44px;left:3016.06px;
}
.s_page12_159
{
position:absolute;top:3197.44px;left:3431.97px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page12_160
{
position:absolute;top:3197.44px;left:3922.52px;
}
.s_page12_161
{
position:absolute;top:3197.44px;left:4572.19px;
}
.s_page12_162
{
position:absolute;top:3197.44px;left:4857.06px;
}
.s_page12_163
{
position:absolute;top:3197.44px;left:5307.05px;letter-spacing:-3px;
}
.s_page12_164
{
position:absolute;top:3197.44px;left:5498.57px;letter-spacing:-0.44px;
}
.s_page12_165
{
position:absolute;top:3197.44px;left:6196.72px;letter-spacing:-0.76px;
}
.s_page12_166
{
position:absolute;top:3197.44px;left:6793.84px;letter-spacing:-2.4px;
}
.s_page12_167
{
position:absolute;top:3617.44px;left:900px;letter-spacing:-0.54px;
}
.s_page12_168
{
position:absolute;top:4194.48px;left:0px;
}
.s_page12_169
{
position:absolute;top:4194.48px;left:464.08px;letter-spacing:-1.28px;
}
.s_page12_170
{
position:absolute;top:4194.48px;left:900px;
}
.s_page12_171
{
position:absolute;top:4194.48px;left:1553.75px;letter-spacing:-0.86px;
}
.s_page12_172
{
position:absolute;top:4194.48px;left:2316.7px;
}
.s_page12_173
{
position:absolute;top:4194.48px;left:2549.73px;
}
.s_page12_174
{
position:absolute;top:4194.48px;left:2969px;letter-spacing:-0.9px;
}
.s_page12_175
{
position:absolute;top:4194.48px;left:3784.99px;letter-spacing:-0.46px;
}
.s_page12_176
{
position:absolute;top:4194.48px;left:5296.25px;letter-spacing:-1.23px;
}
.s_page12_177
{
position:absolute;top:4194.48px;left:6192.63px;
}
.s_page12_178
{
position:absolute;top:4194.48px;left:6443.91px;
}
.s_page12_179
{
position:absolute;top:4614.48px;left:900px;letter-spacing:-0.41px;
}
.s_page12_180
{
position:absolute;top:5191.52px;left:0px;
}
.s_page12_181
{
position:absolute;top:5191.52px;left:453.04px;letter-spacing:-1.28px;
}
.s_page12_182
{
position:absolute;top:5191.52px;left:900px;
}
.s_page12_183
{
position:absolute;top:5191.52px;left:1157.76px;
}
.s_page12_184
{
position:absolute;top:5191.52px;left:2175.82px;letter-spacing:-2.24px;
}
.s_page12_185
{
position:absolute;top:5191.52px;left:2840.37px;letter-spacing:-0.33px;
}
.s_page12_186
{
position:absolute;top:5191.52px;left:3605.48px;letter-spacing:-0.24px;
}
.s_page12_187
{
position:absolute;top:5191.52px;left:4809.06px;letter-spacing:-0.92px;
}
.s_page12_188
{
position:absolute;top:5191.52px;left:5373.77px;letter-spacing:-1.25px;
}
.s_page12_189
{
position:absolute;top:5191.52px;left:6339.28px;
}
.s_page12_190
{
position:absolute;top:5191.52px;left:6677.19px;
}
.s_page12_191
{
position:absolute;top:5195.67px;left:6800.55px;
}
.s_page12_192
{
position:absolute;top:5191.52px;left:6929.55px;
}
.s_page12_193
{
position:absolute;top:5611.52px;left:900px;letter-spacing:-1.27px;
}
.s_page12_194
{
position:absolute;top:6188.56px;left:0px;
}
.s_page12_195
{
position:absolute;top:6188.56px;left:492.16px;letter-spacing:-6.72px;
}
.s_page12_196
{
position:absolute;top:6188.56px;left:900px;letter-spacing:-0.36px;
}
.s_page12_197
{
position:absolute;top:6188.56px;left:1248.23px;letter-spacing:-0.45px;
}
.s_page12_198
{
position:absolute;top:6188.56px;left:2165.74px;letter-spacing:-0.67px;
}
.s_page12_199
{
position:absolute;top:6188.56px;left:3260.13px;letter-spacing:-1.22px;
}
.s_page12_200
{
position:absolute;top:6188.56px;left:4532.35px;letter-spacing:-1.37px;
}
.s_page12_201
{
position:absolute;top:6188.56px;left:5342.34px;letter-spacing:-0.61px;
}
.s_page12_202
{
position:absolute;top:6188.56px;left:6292.96px;letter-spacing:-2.48px;
}
.s_page12_203
{
position:absolute;top:6608.56px;left:900px;letter-spacing:-0.29px;
}
.s_page12_204
{
position:absolute;top:6608.56px;left:1860.95px;
}
.s_page12_205
{
position:absolute;top:6608.56px;left:2787.82px;
}
.s_page12_206
{
position:absolute;top:6608.56px;left:3207.09px;letter-spacing:-0.29px;
}
.s_page12_207
{
position:absolute;top:6608.56px;left:4351.16px;letter-spacing:-1.49px;
}
.s_page12_208
{
position:absolute;top:6608.56px;left:5297.47px;letter-spacing:-2.48px;
}
.s_page12_209
{
position:absolute;top:6608.56px;left:5573.95px;
}
.s_page12_210
{
position:absolute;top:6608.56px;left:5993.22px;letter-spacing:-1.64px;
}
.s_page12_211
{
position:absolute;top:6608.56px;left:6693.77px;
}
.s_page12_212
{
position:absolute;top:7028.56px;left:900px;
}
.s_page12_213
{
position:absolute;top:7028.56px;left:1155.36px;letter-spacing:-1.24px;
}
.s_page12_214
{
position:absolute;top:7605.6px;left:0px;
}
.s_page12_215
{
position:absolute;top:7605.6px;left:446.33px;letter-spacing:-1.2px;
}
.s_page12_216
{
position:absolute;top:7605.6px;left:900px;letter-spacing:-0.42px;
}
.s_page12_217
{
position:absolute;top:7605.6px;left:1364.4px;letter-spacing:-0.24px;
}
.s_page12_218
{
position:absolute;top:7605.6px;left:2427.59px;letter-spacing:-1.64px;
}
.s_page12_219
{
position:absolute;top:7605.6px;left:3128.14px;letter-spacing:-1.74px;
}
.s_page12_220
{
position:absolute;top:7605.6px;left:4075.4px;
}
.s_page12_221
{
position:absolute;top:7605.6px;left:4524.44px;
}
.s_page12_222
{
position:absolute;top:7605.6px;left:5175.3px;letter-spacing:-1.2px;
}
.s_page12_223
{
position:absolute;top:7605.6px;left:5716.26px;letter-spacing:-0.92px;
}
.s_page12_224
{
position:absolute;top:7605.6px;left:7122.17px;
}
.s_page12_225
{
position:absolute;top:8025.6px;left:900px;
}
.s_page12_226
{
position:absolute;top:8025.6px;left:1319.27px;
}
.s_page12_227
{
position:absolute;top:8025.6px;left:1932.7px;letter-spacing:-1.81px;
}
.s_page12_228
{
position:absolute;top:8025.6px;left:2977.17px;
}
.s_page12_229
{
position:absolute;top:8025.6px;left:3615.07px;letter-spacing:-3.32px;
}
.s_page12_230
{
position:absolute;top:8602.64px;left:0px;
}
.s_page12_231
{
position:absolute;top:8602.64px;left:454.48px;letter-spacing:-2.48px;
}
.s_page12_232
{
position:absolute;top:8602.64px;left:900px;
}
.s_page12_233
{
position:absolute;top:8602.64px;left:1165.2px;letter-spacing:-0.4px;
}
.s_page12_234
{
position:absolute;top:8602.64px;left:1839.82px;
}
.s_page12_235
{
position:absolute;top:8602.64px;left:2532.93px;letter-spacing:-3px;
}
.s_page12_236
{
position:absolute;top:8602.64px;left:3231.8px;
}
.s_page12_237
{
position:absolute;top:8602.64px;left:4158.67px;
}
.s_page12_238
{
position:absolute;top:8602.64px;left:4574.58px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page12_239
{
position:absolute;top:8602.64px;left:5072.33px;
}
.s_page12_240
{
position:absolute;top:8602.64px;left:5818.96px;
}
.s_page12_241
{
position:absolute;top:8602.64px;left:6070.23px;
}
.s_page12_242
{
position:absolute;top:8602.64px;left:6484.94px;letter-spacing:-0.48px;
}
.s_page12_243
{
position:absolute;top:8602.64px;left:7166.05px;
}
.s_page12_244
{
position:absolute;top:9022.64px;left:900px;
}
.s_page12_245
{
position:absolute;top:9022.64px;left:1367.03px;
}
.s_page12_246
{
position:absolute;top:9022.64px;left:1786.3px;
}
.s_page12_247
{
position:absolute;top:9022.64px;left:2288.38px;letter-spacing:-2.48px;
}
.s_page12_248
{
position:absolute;top:9022.64px;left:2564.85px;letter-spacing:-0.88px;
}
.s_page12_249
{
position:absolute;top:9599.68px;left:0px;
}
.s_page12_250
{
position:absolute;top:9599.68px;left:382.49px;letter-spacing:-1.86px;
}
.s_page12_251
{
position:absolute;top:9599.68px;left:900px;letter-spacing:-0.84px;
}
.s_page12_252
{
position:absolute;top:9599.68px;left:1293.11px;
}
.s_page12_253
{
position:absolute;top:9599.68px;left:1544.39px;
}
.s_page12_254
{
position:absolute;top:9599.68px;left:1781.5px;letter-spacing:-3px;
}
.s_page12_255
{
position:absolute;top:9599.68px;left:1973.02px;letter-spacing:-0.53px;
}
.s_page12_256
{
position:absolute;top:9599.68px;left:2612.85px;letter-spacing:-1.1px;
}
.s_page12_257
{
position:absolute;top:9599.68px;left:3237.32px;
}
.s_page12_258
{
position:absolute;top:9599.68px;left:3809.71px;letter-spacing:-0.92px;
}
.s_page12_259
{
position:absolute;top:9599.68px;left:4438.98px;
}
.s_page12_260
{
position:absolute;top:9599.68px;left:4971.53px;
}
.s_page12_261
{
position:absolute;top:9599.68px;left:5420.56px;letter-spacing:-0.13px;
}
.s_page12_262
{
position:absolute;top:9599.68px;left:6583.82px;
}
.s_page12_263
{
position:absolute;top:10019.68px;left:900px;letter-spacing:-0.24px;
}
.s_page12_264
{
position:absolute;top:10019.68px;left:1585.67px;letter-spacing:-0.93px;
}
.s_page12_265
{
position:absolute;top:10019.68px;left:2361.34px;
}
.s_page12_266
{
position:absolute;top:10019.68px;left:2780.61px;
}
.s_page12_267
{
position:absolute;top:10019.68px;left:3444.68px;
}
.s_page12_268
{
position:absolute;top:10019.68px;left:3981.06px;
}
.s_page12_269
{
position:absolute;top:10019.68px;left:4353.06px;
}
.s_page12_270
{
position:absolute;top:10019.68px;left:5150.81px;
}
.s_page12_271
{
position:absolute;top:10019.68px;left:5817.04px;letter-spacing:-2.48px;
}
.s_page12_272
{
position:absolute;top:10019.68px;left:6097.6px;
}
.s_page12_273
{
position:absolute;top:10019.68px;left:6927.26px;
}
.s_page12_274
{
position:absolute;top:10439.68px;left:900px;
}
.s_page12_275
{
position:absolute;top:10439.68px;left:1371.83px;letter-spacing:-1.62px;
}
.s_page12_276
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page12_277
{
position:absolute;top:-12.32px;left:0px;
}
.s_page12_278
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page12_279
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page12_280
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.44px;
}
.s_page12_281
{
position:absolute;top:-18px;left:812.86px;letter-spacing:-0.59px;
}
.s_page12_282
{
position:absolute;top:-18px;left:1786.29px;
}
.s_page12_283
{
position:absolute;top:-18px;left:2258.12px;letter-spacing:-0.9px;
}
.s_page12_284
{
position:absolute;top:-18px;left:3074.11px;letter-spacing:-0.8px;
}
.s_page12_285
{
position:absolute;top:-18px;left:3897.53px;
}
.s_page12_286
{
position:absolute;top:342px;left:0px;letter-spacing:-1.2px;
}
.s_page12_287
{
position:absolute;top:342px;left:934.24px;letter-spacing:0px;
}
.s_page12_288
{
position:absolute;top:342px;left:1952.95px;letter-spacing:-1.62px;
}
.s_page12_289
{
position:absolute;top:342px;left:2368.08px;letter-spacing:-0.68px;
}
.s_page12_290
{
position:absolute;top:342px;left:3060.64px;letter-spacing:-1.15px;
}
.s_page12_291
{
position:absolute;top:342px;left:3575.84px;
}
.s_page12_292
{
position:absolute;top:342px;left:3912.73px;
}
.s_page12_293
{
position:absolute;top:702px;left:0px;
}
.s_page12_294
{
position:absolute;top:702px;left:815.51px;letter-spacing:-2.48px;
}
.s_page12_295
{
position:absolute;top:702px;left:1096.07px;
}
.s_page12_296
{
position:absolute;top:702px;left:2259.81px;letter-spacing:-2.16px;
}
.s_page12_297
{
position:absolute;top:702px;left:2843.96px;
}
.s_page12_298
{
position:absolute;top:702px;left:3298.28px;letter-spacing:-1.87px;
}
.s_page12_299
{
position:absolute;top:702px;left:3921.31px;
}
.s_page12_300
{
position:absolute;top:702px;left:4257.06px;
}
.s_page12_301
{
position:absolute;top:1062px;left:0px;
}
.s_page12_302
{
position:absolute;top:1062px;left:270.47px;letter-spacing:-0.82px;
}
.s_page12_303
{
position:absolute;top:1062px;left:768.46px;
}
.s_page12_304
{
position:absolute;top:1062px;left:1023.82px;
}
.s_page12_305
{
position:absolute;top:1062px;left:1772.12px;
}
.s_page12_306
{
position:absolute;top:1062px;left:2239.4px;letter-spacing:-0.48px;
}
.s_page12_307
{
position:absolute;top:1062px;left:2958.19px;
}
.s_page12_308
{
position:absolute;top:1062px;left:3293.94px;
}
.s_page12_309
{
position:absolute;top:1062px;left:3583.37px;
}
.s_page12_310
{
position:absolute;top:1062px;left:3981.52px;letter-spacing:-2.72px;
}
.s_page12_311
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page12_312
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page12_313
{
position:absolute;top:-18px;left:0px;
}
.s_page12_314
{
position:absolute;top:-18px;left:453.59px;
}
.s_page12_315
{
position:absolute;top:-18px;left:770.39px;letter-spacing:-1.62px;
}
.s_page12_316
{
position:absolute;top:-18px;left:1189.9px;letter-spacing:-0.36px;
}
.s_page12_317
{
position:absolute;top:-18px;left:1829.73px;letter-spacing:-0.94px;
}
.s_page12_318
{
position:absolute;top:-18px;left:2973.79px;
}
.s_page12_319
{
position:absolute;top:302px;left:0px;letter-spacing:-1.23px;
}
.s_page12_320
{
position:absolute;top:302px;left:971.51px;letter-spacing:-1px;
}
.s_page12_321
{
position:absolute;top:302px;left:1697.74px;
}
.s_page12_322
{
position:absolute;top:302px;left:2011.89px;
}
.s_page12_323
{
position:absolute;top:622px;left:0px;
}
.s_page12_324
{
position:absolute;top:622px;left:1318.78px;
}
.s_page12_325
{
position:absolute;top:622px;left:1574.14px;
}
.s_page12_326
{
position:absolute;top:622px;left:2403.8px;
}
.s_page12_327
{
position:absolute;top:622px;left:2900.11px;letter-spacing:-1.84px;
}
.s_page12_328
{
position:absolute;top:622px;left:3193.38px;
}
.s_page12_329
{
position:absolute;top:942px;left:0px;
}
.s_page12_330
{
position:absolute;top:942px;left:761.03px;letter-spacing:-2.58px;
}
.s_page12_331
{
position:absolute;top:942px;left:1296.71px;
}
.s_page12_332
{
position:absolute;top:942px;left:1633.42px;letter-spacing:-0.96px;
}
.s_page12_333
{
position:absolute;top:942px;left:2092.77px;
}
.s_page12_334
{
position:absolute;top:942px;left:2687.72px;
}
.s_page12_335
{
position:absolute;top:942px;left:3489.79px;letter-spacing:-0.93px;
}
.s_page12_336
{
position:absolute;top:1262px;left:0px;
}
.s_page12_337
{
position:absolute;top:1262px;left:289.43px;letter-spacing:-0.66px;
}
.s_page12_338
{
position:absolute;top:1262px;left:1765.65px;letter-spacing:-1.38px;
}
.s_page12_339
{
position:absolute;top:1262px;left:2323.4px;
}
.s_page12_340
{
position:absolute;top:1262px;left:2777.71px;letter-spacing:-0.72px;
}
.s_page12_341
{
position:absolute;top:1582px;left:0px;
}
.s_page12_342
{
position:absolute;top:1582px;left:336.71px;letter-spacing:-0.46px;
}
.s_page12_343
{
position:absolute;top:1582px;left:1590.46px;letter-spacing:-0.38px;
}
.s_page12_344
{
position:absolute;top:1582px;left:2224.29px;
}
.s_page12_345
{
position:absolute;top:1582px;left:2457.33px;
}
.s_page12_346
{
position:absolute;top:1582px;left:2876.6px;text-rendering:optimizeLegibility;letter-spacing:-1.2px;
}
.s_page12_347
{
position:absolute;top:1922px;left:0px;letter-spacing:-0.36px;
}
.s_page12_348
{
position:absolute;top:1922px;left:1015.18px;letter-spacing:-0.79px;
}
.s_page12_349
{
position:absolute;top:1922px;left:2312.36px;
}
.s_page12_350
{
position:absolute;top:1922px;left:2377.64px;
}
.s_page12_351
{
position:absolute;top:1922px;left:2849.47px;letter-spacing:-0.83px;
}
.s_page12_352
{
position:absolute;top:-5.54px;left:169.53px;
}

.page12_btn1 {
	position:absolute;
	top: 797px;
	left: 277px;
}
.page12_btn2 {
	position:absolute;
	top: 797px;
	left: 219px;
}
.page12_position1 {
	position:absolute;
	top: 81px;
	left: 371px;
}
.page12_position2 {
	position:absolute;
	top: 130px;
	left: 220px;
}
.page12_position3 {
	position:absolute;
	top: 180px;
	left: 282px;
}
.page12_position4 {
	position:absolute;
	top: 230px;
	left: 158px;
}
.page12_position5 {
	position:absolute;
	top: 280px;
	left: 134px;
}
.page12_position6 {
	position:absolute;
	top: 329px;
	left: 166px;
}
.page12_position7 {
	position:absolute;
	top: 400px;
	left: 141px;
}
.page12_position8 {
	position:absolute;
	top: 450px;
	left: 266px;
}
.page12_position9 {
	position:absolute;
	top: 500px;
	left: 231px;
}
.page12_position10 {
	position:absolute;
	top: 571px;
	left: 170px;
}


#text1{
	position: absolute;
	top: 705px;
	left: 69px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 705px;
	left: 208px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 705px;
	left: 390px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 726px;
	left: 69px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 726px;
	left: 208px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 726px;
	left: 390px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 747px;
	left: 69px;
	cursor:pointer;
}
#text8{
	position:absolute;
	top: 747px;
	left: 208px;
	cursor:pointer;
}
#text9{
	position:absolute;
	top: 747px;
	left: 390px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 264px;
	left: 79px;
	transform: rotate(-6deg);-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);-o-transform: rotate(-6deg);
}
#box2{
	position:absolute;
	top: 264px;
	left: 229px;
}
#box3{
	position:absolute;
	top: 256px;
	left: 387px;
	transform: rotate(-6deg);-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);-o-transform: rotate(-6deg);
}
#box4{
	position:absolute;
	top: 436px;
	left: 79px;
}
#box5{
	position:absolute;
	top: 436px;
	left: 229px;
}
#box6{
	position:absolute;
	top: 427px;
	left: 387px;
	transform: rotate(-6deg);-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);-o-transform: rotate(-6deg);
}
#box7{
	position:absolute;
	top: 603px;
	left: 80px;
	transform: rotate(-5deg);-webkit-transform: rotate(-5deg);-moz-transform: rotate(-5deg);-ms-transform: rotate(-5deg);-o-transform: rotate(-5deg);
}
#box8{
	position:absolute;
	top: 603px;
	left: 229px;
}
#box9{
	position:absolute;
	top: 596px;
	left: 387px;
	transform: rotate(-6deg);-webkit-transform: rotate(-6deg);-moz-transform: rotate(-6deg);-ms-transform: rotate(-6deg);-o-transform: rotate(-6deg);
}

.page16_btn1 {
	position:absolute;
	top: 797px;
	left: 258px;
}
.p16_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.p16_input_text2 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 9px;
}

.position_17{
	position:absolute;
	top: 593px;
	left: 169px;
}