.d_page50-51_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page50-51_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page50-51_3
{
width:9864.57px;height:733.39px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page50-51_4
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page50-51_5
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page50-51_6
{
width:4024.29px;height:1357.56px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_7
{
width:1684.3px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_8
{
width:1684.3px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_9
{
width:2613.54px;height:9595px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_10
{
width:1511.98px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_11
{
width:1511.98px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_12
{
width:1511.98px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_13
{
width:1511.98px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_14
{
width:1570.77px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_15
{
width:1570.77px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_16
{
width:1570.77px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_17
{
width:1570.77px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_18
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page50-51_19
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page50-51_20
{
width:9864.57px;height:587.64px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page50-51_21
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page50-51_22
{
width:9210.53px;height:1170.26px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_23
{
width:9210.53px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_24
{
width:9315.75px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_25
{
width:9186.15px;height:1170.26px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_26
{
width:9171.75px;height:1210.26px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_27
{
width:9265.35px;height:1170.26px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_28
{
width:9070.95px;height:1159.02px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page50-51_29
{
width:10061.62px;height:1175.98px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.s_page50-51_30
{
position:absolute;top:-11.04px;left:97.77px;
}
.s_page50-51_31
{
position:absolute;top:212.72px;left:543.94px;
}
.s_page50-51_32
{
position:absolute;top:212.72px;left:659.95px;letter-spacing:-1.18px;
}
.s_page50-51_33
{
position:absolute;top:212.72px;left:1443.66px;
}
.s_page50-51_34
{
position:absolute;top:212.72px;left:2117.61px;
}
.s_page50-51_35
{
position:absolute;top:212.72px;left:2464.81px;letter-spacing:-0.23px;
}
.s_page50-51_36
{
position:absolute;top:212.72px;left:3357.72px;
}
.s_page50-51_37
{
position:absolute;top:212.72px;left:4161.32px;letter-spacing:-0.2px;
}
.s_page50-51_38
{
position:absolute;top:212.72px;left:5223.9px;
}
.s_page50-51_39
{
position:absolute;top:212.72px;left:6186.25px;
}
.s_page50-51_40
{
position:absolute;top:212.72px;left:6532.33px;
}
.s_page50-51_41
{
position:absolute;top:212.72px;left:7034.92px;letter-spacing:-0.24px;
}
.s_page50-51_42
{
position:absolute;top:212.72px;left:8023.87px;letter-spacing:-2.18px;
}
.s_page50-51_43
{
position:absolute;top:212.72px;left:8680.19px;
}
.s_page50-51_44
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page50-51_45
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page50-51_46
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page50-51_47
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.04px;
}
.s_page50-51_48
{
position:absolute;top:-18px;left:239.28px;letter-spacing:-0.36px;
}
.s_page50-51_49
{
position:absolute;top:-18px;left:1186.07px;letter-spacing:-0.41px;
}
.s_page50-51_50
{
position:absolute;top:342px;left:0px;
}
.s_page50-51_51
{
position:absolute;top:342px;left:978.46px;letter-spacing:-0.27px;
}
.s_page50-51_52
{
position:absolute;top:342px;left:1827.09px;
}
.s_page50-51_53
{
position:absolute;top:342px;left:2298.93px;
}
.s_page50-51_54
{
position:absolute;top:702px;left:0px;letter-spacing:-1.22px;
}
.s_page50-51_55
{
position:absolute;top:702px;left:1102.31px;letter-spacing:-1.52px;
}
.s_page50-51_56
{
position:absolute;top:702px;left:1900.06px;letter-spacing:-3px;
}
.s_page50-51_57
{
position:absolute;top:702px;left:2091.58px;letter-spacing:-1.99px;
}
.s_page50-51_58
{
position:absolute;top:702px;left:2925.09px;letter-spacing:-2.48px;
}
.s_page50-51_59
{
position:absolute;top:702px;left:3205.65px;
}
.s_page50-51_60
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.16px;
}
.s_page50-51_61
{
position:absolute;top:1062px;left:1008.22px;letter-spacing:-0.48px;
}
.s_page50-51_62
{
position:absolute;top:1062px;left:2001.57px;letter-spacing:-0.18px;
}
.s_page50-51_63
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.04px;
}
.s_page50-51_64
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page50-51_65
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.84px;
}
.s_page50-51_66
{
position:absolute;top:-18px;left:269.04px;letter-spacing:-1.44px;
}
.s_page50-51_67
{
position:absolute;top:-18px;left:1035.59px;letter-spacing:-1.37px;
}
.s_page50-51_68
{
position:absolute;top:961.2px;left:0px;letter-spacing:-2.96px;
}
.s_page50-51_69
{
position:absolute;top:961.2px;left:272.16px;letter-spacing:-2.91px;
}
.s_page50-51_70
{
position:absolute;top:1969.2px;left:0px;letter-spacing:-1.36px;
}
.s_page50-51_71
{
position:absolute;top:1969.2px;left:253.44px;letter-spacing:-6.3px;
}
.s_page50-51_72
{
position:absolute;top:1969.2px;left:697.91px;letter-spacing:-1.63px;
}
.s_page50-51_73
{
position:absolute;top:2962.8px;left:0px;
}
.s_page50-51_74
{
position:absolute;top:2962.8px;left:281.76px;letter-spacing:-6.03px;
}
.s_page50-51_75
{
position:absolute;top:3898.8px;left:0px;letter-spacing:-2px;
}
.s_page50-51_76
{
position:absolute;top:3898.8px;left:269.04px;
}
.s_page50-51_77
{
position:absolute;top:4906.8px;left:0px;
}
.s_page50-51_78
{
position:absolute;top:4906.8px;left:220.55px;letter-spacing:-6.24px;
}
.s_page50-51_79
{
position:absolute;top:4906.8px;left:738.71px;letter-spacing:-2.4px;
}
.s_page50-51_80
{
position:absolute;top:5958px;left:0px;
}
.s_page50-51_81
{
position:absolute;top:5958px;left:281.28px;letter-spacing:-1.73px;
}
.s_page50-51_82
{
position:absolute;top:6980.4px;left:0px;letter-spacing:-2.24px;
}
.s_page50-51_83
{
position:absolute;top:6980.4px;left:270.48px;letter-spacing:-0.96px;
}
.s_page50-51_84
{
position:absolute;top:7945.2px;left:0px;
}
.s_page50-51_85
{
position:absolute;top:7945.2px;left:197.52px;letter-spacing:-1.36px;
}
.s_page50-51_86
{
position:absolute;top:7945.2px;left:835.67px;
}
.s_page50-51_87
{
position:absolute;top:8953.2px;left:0px;
}
.s_page50-51_88
{
position:absolute;top:8953.2px;left:197.52px;letter-spacing:-0.41px;
}
.s_page50-51_89
{
position:absolute;top:8953.2px;left:954.95px;
}
.s_page50-51_90
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.2px;
}
.s_page50-51_91
{
position:absolute;top:-18px;left:0px;letter-spacing:-3.72px;
}
.s_page50-51_92
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page50-51_93
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.86px;
}
.s_page50-51_94
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_95
{
position:absolute;top:-18px;left:0px;letter-spacing:-10.08px;
}
.s_page50-51_96
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.92px;
}
.s_page50-51_97
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.8px;
}
.s_page50-51_98
{
position:absolute;top:-5.54px;left:163.29px;
}
.s_page50-51_99
{
position:absolute;top:184.8px;left:637.84px;
}
.s_page50-51_100
{
position:absolute;top:184.8px;left:659.95px;letter-spacing:-0.67px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_101
{
position:absolute;top:184.8px;left:1378.87px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_102
{
position:absolute;top:184.8px;left:1866.39px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_103
{
position:absolute;top:184.8px;left:2589.92px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_104
{
position:absolute;top:184.8px;left:3134.47px;letter-spacing:-0.78px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_105
{
position:absolute;top:184.8px;left:4183.64px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_106
{
position:absolute;top:184.8px;left:4963.13px;letter-spacing:-0.2px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_107
{
position:absolute;top:184.8px;left:5993.83px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_108
{
position:absolute;top:184.8px;left:6849.63px;letter-spacing:-0.24px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_109
{
position:absolute;top:184.8px;left:7810px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_110
{
position:absolute;top:184.8px;left:8354.55px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page50-51_111
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page50-51_112
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_113
{
position:absolute;top:-18px;left:257.6px;letter-spacing:-1.28px;
}
.s_page50-51_114
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page50-51_115
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:0px;
}
.s_page50-51_116
{
position:absolute;top:-18px;left:1870.4px;letter-spacing:-0.55px;
}
.s_page50-51_117
{
position:absolute;top:-18px;left:3281.34px;letter-spacing:-0.66px;
}
.s_page50-51_118
{
position:absolute;top:-18px;left:3787.49px;
}
.s_page50-51_119
{
position:absolute;top:-18px;left:5093.55px;
}
.s_page50-51_120
{
position:absolute;top:-18px;left:5348.91px;
}
.s_page50-51_121
{
position:absolute;top:-18px;left:5880.73px;
}
.s_page50-51_122
{
position:absolute;top:-18px;left:6087.6px;
}
.s_page50-51_123
{
position:absolute;top:-18px;left:6536.64px;letter-spacing:-3px;
}
.s_page50-51_124
{
position:absolute;top:-18px;left:6728.15px;letter-spacing:-0.79px;
}
.s_page50-51_125
{
position:absolute;top:-18px;left:7632.7px;letter-spacing:-2.48px;
}
.s_page50-51_126
{
position:absolute;top:-18px;left:7913.26px;
}
.s_page50-51_127
{
position:absolute;top:-18px;left:8736.2px;letter-spacing:-1.68px;
}
.s_page50-51_128
{
position:absolute;top:342px;left:639.94px;
}
.s_page50-51_129
{
position:absolute;top:342px;left:1897.28px;letter-spacing:-1px;
}
.s_page50-51_130
{
position:absolute;top:342px;left:2611.27px;
}
.s_page50-51_131
{
position:absolute;top:342px;left:2978.23px;
}
.s_page50-51_132
{
position:absolute;top:342px;left:3601.49px;
}
.s_page50-51_133
{
position:absolute;top:342px;left:4165.97px;letter-spacing:-0.37px;
}
.s_page50-51_134
{
position:absolute;top:342px;left:5202.27px;letter-spacing:-0.42px;
}
.s_page50-51_135
{
position:absolute;top:342px;left:6532.08px;
}
.s_page50-51_136
{
position:absolute;top:342px;left:6997.68px;letter-spacing:-0.67px;
}
.s_page50-51_137
{
position:absolute;top:342px;left:7579.19px;letter-spacing:-1.35px;
}
.s_page50-51_138
{
position:absolute;top:702px;left:639.94px;
}
.s_page50-51_139
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_140
{
position:absolute;top:-18px;left:261.68px;letter-spacing:-0.8px;
}
.s_page50-51_141
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.27px;
}
.s_page50-51_142
{
position:absolute;top:-18px;left:1408.79px;
}
.s_page50-51_143
{
position:absolute;top:-18px;left:2297.16px;letter-spacing:0px;
}
.s_page50-51_144
{
position:absolute;top:-18px;left:2893.94px;letter-spacing:-1.47px;
}
.s_page50-51_145
{
position:absolute;top:-18px;left:3514.72px;letter-spacing:-3.12px;
}
.s_page50-51_146
{
position:absolute;top:-18px;left:3983.82px;letter-spacing:-0.33px;
}
.s_page50-51_147
{
position:absolute;top:-18px;left:4927.15px;letter-spacing:0px;
}
.s_page50-51_148
{
position:absolute;top:-18px;left:5402.97px;letter-spacing:-1.72px;
}
.s_page50-51_149
{
position:absolute;top:-18px;left:6049.43px;letter-spacing:-0.18px;
}
.s_page50-51_150
{
position:absolute;top:-18px;left:6986.52px;letter-spacing:-1.62px;
}
.s_page50-51_151
{
position:absolute;top:-18px;left:7410.02px;
}
.s_page50-51_152
{
position:absolute;top:-18px;left:7721.92px;
}
.s_page50-51_153
{
position:absolute;top:-18px;left:8452.86px;
}
.s_page50-51_154
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.48px;
}
.s_page50-51_155
{
position:absolute;top:342px;left:1441.77px;letter-spacing:-3.12px;
}
.s_page50-51_156
{
position:absolute;top:342px;left:1761.2px;
}
.s_page50-51_157
{
position:absolute;top:342px;left:2219.59px;
}
.s_page50-51_158
{
position:absolute;top:342px;left:2946.54px;letter-spacing:-1.08px;
}
.s_page50-51_159
{
position:absolute;top:342px;left:3652.37px;letter-spacing:-2.48px;
}
.s_page50-51_160
{
position:absolute;top:342px;left:3932.93px;letter-spacing:-0.24px;
}
.s_page50-51_161
{
position:absolute;top:342px;left:5360.42px;
}
.s_page50-51_162
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_163
{
position:absolute;top:-18px;left:331.28px;letter-spacing:-1.04px;
}
.s_page50-51_164
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page50-51_165
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:0px;
}
.s_page50-51_166
{
position:absolute;top:-18px;left:2030px;
}
.s_page50-51_167
{
position:absolute;top:-18px;left:2621.1px;
}
.s_page50-51_168
{
position:absolute;top:-18px;left:3327.41px;
}
.s_page50-51_169
{
position:absolute;top:-18px;left:4182.27px;
}
.s_page50-51_170
{
position:absolute;top:-18px;left:4437.63px;letter-spacing:-1.64px;
}
.s_page50-51_171
{
position:absolute;top:-18px;left:5000.41px;letter-spacing:-0.64px;
}
.s_page50-51_172
{
position:absolute;top:-18px;left:5215.21px;letter-spacing:-0.85px;
}
.s_page50-51_173
{
position:absolute;top:-18px;left:6342.72px;
}
.s_page50-51_174
{
position:absolute;top:-18px;left:7222.3px;
}
.s_page50-51_175
{
position:absolute;top:-18px;left:7943.25px;letter-spacing:-0.24px;
}
.s_page50-51_176
{
position:absolute;top:-18px;left:8554.76px;
}
.s_page50-51_177
{
position:absolute;top:342px;left:639.94px;
}
.s_page50-51_178
{
position:absolute;top:342px;left:947.85px;letter-spacing:-2.48px;
}
.s_page50-51_179
{
position:absolute;top:342px;left:1228.41px;
}
.s_page50-51_180
{
position:absolute;top:342px;left:1551.92px;letter-spacing:-0.7px;
}
.s_page50-51_181
{
position:absolute;top:342px;left:3048.54px;letter-spacing:-0.64px;
}
.s_page50-51_182
{
position:absolute;top:342px;left:3263.34px;
}
.s_page50-51_183
{
position:absolute;top:342px;left:3500.45px;
}
.s_page50-51_184
{
position:absolute;top:342px;left:4007.56px;letter-spacing:-3px;
}
.s_page50-51_185
{
position:absolute;top:342px;left:4199.08px;
}
.s_page50-51_186
{
position:absolute;top:342px;left:4597.23px;
}
.s_page50-51_187
{
position:absolute;top:342px;left:5303.54px;
}
.s_page50-51_188
{
position:absolute;top:342px;left:5558.89px;letter-spacing:-1.28px;
}
.s_page50-51_189
{
position:absolute;top:342px;left:6204px;letter-spacing:-0.41px;
}
.s_page50-51_190
{
position:absolute;top:342px;left:7281.83px;letter-spacing:-1.68px;
}
.s_page50-51_191
{
position:absolute;top:342px;left:7700.14px;letter-spacing:-0.29px;
}
.s_page50-51_192
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.17px;
}
.s_page50-51_193
{
position:absolute;top:702px;left:1679.61px;
}
.s_page50-51_194
{
position:absolute;top:702px;left:2365.51px;letter-spacing:-0.84px;
}
.s_page50-51_195
{
position:absolute;top:702px;left:3122.46px;
}
.s_page50-51_196
{
position:absolute;top:702px;left:3594.29px;letter-spacing:-0.18px;
}
.s_page50-51_197
{
position:absolute;top:702px;left:4383.15px;
}
.s_page50-51_198
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_199
{
position:absolute;top:-18px;left:264.08px;letter-spacing:-1.28px;
}
.s_page50-51_200
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page50-51_201
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:-0.54px;
}
.s_page50-51_202
{
position:absolute;top:-18px;left:2393.35px;letter-spacing:-1.38px;
}
.s_page50-51_203
{
position:absolute;top:-18px;left:3445.27px;letter-spacing:-0.66px;
}
.s_page50-51_204
{
position:absolute;top:-18px;left:3947.34px;
}
.s_page50-51_205
{
position:absolute;top:-18px;left:4363.25px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page50-51_206
{
position:absolute;top:-18px;left:4861px;
}
.s_page50-51_207
{
position:absolute;top:-18px;left:5587.95px;
}
.s_page50-51_208
{
position:absolute;top:-18px;left:6380.18px;letter-spacing:-1.38px;
}
.s_page50-51_209
{
position:absolute;top:-18px;left:7432.57px;
}
.s_page50-51_210
{
position:absolute;top:-18px;left:7722.01px;
}
.s_page50-51_211
{
position:absolute;top:-18px;left:8147.04px;
}
.s_page50-51_212
{
position:absolute;top:-18px;left:8470.55px;letter-spacing:-0.53px;
}
.s_page50-51_213
{
position:absolute;top:342px;left:639.94px;
}
.s_page50-51_214
{
position:absolute;top:342px;left:1501.28px;
}
.s_page50-51_215
{
position:absolute;top:342px;left:1756.64px;letter-spacing:-0.18px;
}
.s_page50-51_216
{
position:absolute;top:342px;left:2715.18px;
}
.s_page50-51_217
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_218
{
position:absolute;top:-18px;left:261.2px;
}
.s_page50-51_219
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page50-51_220
{
position:absolute;top:-18px;left:1500.33px;
}
.s_page50-51_221
{
position:absolute;top:-18px;left:1972.16px;letter-spacing:0px;
}
.s_page50-51_222
{
position:absolute;top:-18px;left:3033.66px;letter-spacing:-3.12px;
}
.s_page50-51_223
{
position:absolute;top:-18px;left:3357.17px;letter-spacing:-0.27px;
}
.s_page50-51_224
{
position:absolute;top:-18px;left:4231.24px;letter-spacing:-0.66px;
}
.s_page50-51_225
{
position:absolute;top:-18px;left:5719.93px;
}
.s_page50-51_226
{
position:absolute;top:-18px;left:6228.01px;letter-spacing:-1.1px;
}
.s_page50-51_227
{
position:absolute;top:-18px;left:7390.8px;letter-spacing:-1.42px;
}
.s_page50-51_228
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.99px;
}
.s_page50-51_229
{
position:absolute;top:342px;left:1792.65px;
}
.s_page50-51_230
{
position:absolute;top:342px;left:1999.52px;
}
.s_page50-51_231
{
position:absolute;top:342px;left:2236.64px;letter-spacing:-3px;
}
.s_page50-51_232
{
position:absolute;top:342px;left:2428.15px;
}
.s_page50-51_233
{
position:absolute;top:342px;left:3282.06px;
}
.s_page50-51_234
{
position:absolute;top:342px;left:3783.42px;
}
.s_page50-51_235
{
position:absolute;top:342px;left:4255.25px;
}
.s_page50-51_236
{
position:absolute;top:342px;left:4756.6px;letter-spacing:-0.72px;
}
.s_page50-51_237
{
position:absolute;top:342px;left:5787.87px;
}
.s_page50-51_238
{
position:absolute;top:342px;left:6550.57px;
}
.s_page50-51_239
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_240
{
position:absolute;top:-18px;left:253.04px;letter-spacing:-1.28px;
}
.s_page50-51_241
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page50-51_242
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:0px;
}
.s_page50-51_243
{
position:absolute;top:-18px;left:1849.76px;
}
.s_page50-51_244
{
position:absolute;top:-18px;left:2086.87px;letter-spacing:-0.48px;
}
.s_page50-51_245
{
position:absolute;top:-18px;left:2866.38px;letter-spacing:-2.4px;
}
.s_page50-51_246
{
position:absolute;top:-18px;left:3240.54px;
}
.s_page50-51_247
{
position:absolute;top:-18px;left:3564.05px;
}
.s_page50-51_248
{
position:absolute;top:-18px;left:4606.11px;letter-spacing:-0.69px;
}
.s_page50-51_249
{
position:absolute;top:-18px;left:5435.78px;letter-spacing:-0.65px;
}
.s_page50-51_250
{
position:absolute;top:-18px;left:6525.84px;
}
.s_page50-51_251
{
position:absolute;top:-18px;left:6997.67px;
}
.s_page50-51_252
{
position:absolute;top:-18px;left:7321.18px;
}
.s_page50-51_253
{
position:absolute;top:-18px;left:7993.66px;
}
.s_page50-51_254
{
position:absolute;top:-18px;left:8839.64px;letter-spacing:-1.68px;
}
.s_page50-51_255
{
position:absolute;top:342px;left:639.94px;
}
.s_page50-51_256
{
position:absolute;top:342px;left:972.33px;letter-spacing:-0.24px;
}
.s_page50-51_257
{
position:absolute;top:342px;left:1696.88px;
}
.s_page50-51_258
{
position:absolute;top:342px;left:2469.19px;letter-spacing:-2.85px;
}
.s_page50-51_259
{
position:absolute;top:342px;left:3518.69px;
}
.s_page50-51_260
{
position:absolute;top:342px;left:3725.56px;
}
.s_page50-51_261
{
position:absolute;top:342px;left:3962.68px;letter-spacing:-0.76px;
}
.s_page50-51_262
{
position:absolute;top:342px;left:5216.9px;
}
.s_page50-51_263
{
position:absolute;top:342px;left:6000.25px;
}
.s_page50-51_264
{
position:absolute;top:-18px;left:0px;
}
.s_page50-51_265
{
position:absolute;top:-18px;left:292.16px;letter-spacing:-6.72px;
}
.s_page50-51_266
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page50-51_267
{
position:absolute;top:-18px;left:1186.34px;letter-spacing:-1.5px;
}
.s_page50-51_268
{
position:absolute;top:-18px;left:2136.67px;letter-spacing:-0.36px;
}
.s_page50-51_269
{
position:absolute;top:-18px;left:3090.11px;letter-spacing:-0.24px;
}
.s_page50-51_270
{
position:absolute;top:-18px;left:4061.31px;
}
.s_page50-51_271
{
position:absolute;top:-18px;left:4810.51px;letter-spacing:0px;
}
.s_page50-51_272
{
position:absolute;top:-18px;left:5302.44px;
}
.s_page50-51_273
{
position:absolute;top:-18px;left:5677.72px;letter-spacing:-0.24px;
}
.s_page50-51_274
{
position:absolute;top:-18px;left:6445.17px;
}
.s_page50-51_275
{
position:absolute;top:-18px;left:7219.33px;
}
.s_page50-51_276
{
position:absolute;top:-18px;left:7687.98px;
}
.s_page50-51_277
{
position:absolute;top:-18px;left:7967.98px;letter-spacing:-0.48px;
}
.s_page50-51_278
{
position:absolute;top:-18px;left:8812.71px;letter-spacing:-3.12px;
}
.s_page50-51_279
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.31px;
}
.s_page50-51_280
{
position:absolute;top:342px;left:1688.49px;
}
.s_page50-51_281
{
position:absolute;top:342px;left:2413.52px;letter-spacing:-1.36px;
}
.s_page50-51_282
{
position:absolute;top:342px;left:3136.87px;letter-spacing:-1.58px;
}
.s_page50-51_283
{
position:absolute;top:342px;left:4059.9px;
}
.s_page50-51_284
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.82px;
}
.s_page50-51_285
{
position:absolute;top:-18px;left:744.23px;letter-spacing:-1.24px;
}
.s_page50-51_286
{
position:absolute;top:-18px;left:1289.26px;letter-spacing:-1.4px;
}
.s_page50-51_287
{
position:absolute;top:-18px;left:2777.95px;letter-spacing:-0.68px;
}
.s_page50-51_288
{
position:absolute;top:-18px;left:3544.99px;
}
.s_page50-51_289
{
position:absolute;top:-18px;left:5000px;letter-spacing:-2.8px;
}
.s_page50-51_290
{
position:absolute;top:-18px;left:5358.08px;
}
.s_page50-51_291
{
position:absolute;top:-18px;left:6746.46px;letter-spacing:-0.72px;
}
.s_page50-51_292
{
position:absolute;top:398.69px;left:0px;letter-spacing:-2.34px;
}
.s_page50-51_293
{
position:absolute;top:398.69px;left:2777.95px;letter-spacing:-1.44px;
}
.s_page50-51_294
{
position:absolute;top:398.69px;left:5000px;
}


.circle_1 {
	position: absolute;
	top: 166px;
	left: 370px;
	display: none;
}
.circle_2 {
	position: absolute;
	top: 220px;
	left: 370px;
	display: none;
}
.circle_3 {
	position: absolute;
	top: 276px;
	left: 370px;
	display: none;
}
.circle_4 {
	position: absolute;
	top: 332px;
	left: 370px;
	display: none;
}
.circle_5 {
	position: absolute;
	top: 390px;
	left: 370px;
	display: none;
}
.circle_6 {
	position: absolute;
	top: 444px;
	left: 370px;
	display: none;
}
.circle_7 {
	position: absolute;
	top: 166px;
	left: 370px;
	display: none;
}
.circle_8 {
	position: absolute;
	top: 220px;
	left: 370px;
	display: none;
}
.circle_9 {
	position: absolute;
	top: 276px;
	left: 370px;
	display: none;
}
.circle_10 {
	position: absolute;
	top: 332px;
	left: 370px;
	display: none;
}

.width_1 {
	width: 20px;
	height: 20px;
	background-color: red;
	border: 0px solid black;
	text-align: center;
	border-radius: 20px;
	font-size: 13px;
	line-height: 17px;
	color: white;
}

.page50_btn1{
	position: absolute;
	top: 798px;
	left: 295px;
}
.page50_btn2{
	position: absolute;
	top: 218px;
	left: 45px;
}
.page50_btn3{
	position: absolute;
	top: 258px;
	left: 45px;
}
.page50_btn4{
	position: absolute;
	top: 317px;
	left: 45px;
}
.page50_btn5{
	position: absolute;
	top: 371px;
	left: 45px;
}
.page50_btn6{
	position: absolute;
	top: 443px;
	left: 45px;
}
.page50_btn7{
	position: absolute;
	top: 505px;
	left: 415px;
}
.page50_btn8{
	position: absolute;
	top: 218px;
	left: 45px;
}
.page50_btn9{
	position: absolute;
	top: 258px;
	left: 45px;
}
.page50_btn10{
	position: absolute;
	top: 317px;
	left: 45px;
}

#l1{
	position: absolute;
	top: 136px;
	left: 194px;
}
#l2{
	position: absolute;
	top: 235px;
	left: 194px;
}
#l3{
	position: absolute;
	top: 340px;
	left: 194px;
}
#l4{
	position: absolute;
	top: 437px;
	left: 194px;
}
#l5{
	position: absolute;
	top: 534px;
	left: 194px;
}
#l6{
	position: absolute;
	top: 137px;
	left: 418px;
}
#l7{
	position: absolute;
	top: 236px;
	left: 418px;
}
#l8{
	position: absolute;
	top: 340px;
	left: 418px;
}
#l9{
	position: absolute;
	top: 437px;
	left: 418px;
}
#l10{
	position: absolute;
	top: 539px;
	left: 418px;
}

#r1{
	position: absolute;
	top: 116px;
	left: 230px;
}
#r2{
	position: absolute;
	top: 162px;
	left: 230px;
}
#r3{
	position: absolute;
	top: 216px;
	left: 230px;
}
#r4{
	position: absolute;
	top: 265px;
	left: 230px;
}
#r5{
	position: absolute;
	top: 312px;
	left: 230px;
}
#r6{
	position: absolute;
	top: 362px;
	left: 230px;
}
#r7{
	position: absolute;
	top: 413px;
	left: 230px;
}
#r8{
	position: absolute;
	top: 463px;
	left: 230px;
}
#r9{
	position: absolute;
	top: 510px;
	left: 230px;
}
#r10{
	position: absolute;
	top: 560px;
	left: 230px;
}
.match11 {
	height: 463px;
	display:none;
	width: 255px;
}
.match50 {
	height: 464px;
	display:none;
	width: 244px;
}
.match_image1{
	position: absolute;
	top: 115px;
	left: 194px;
}
.match_image1_p50{
	position: absolute;
	top: 113px;
	left: 193px;
}


#text1{
	position: absolute;
	top: 756px;
	left: 218px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 755px;
	left: 329px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 755px;
	left: 78px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 736px;
	left: 78px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 736px;
	left: 416px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 736px;
	left: 329px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 736px;
	left: 217px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 272px;
	left: 279px;
	width: 106px;
	height: 15px;
}
#box2{
	position:absolute;
	top: 333px;
	left: 389px;
	width: 105px;
	height: 15px;
}
#box3{
	position:absolute;
	top: 420px;
	left: 94px;
	width: 104px;
	height: 15px;
}
#box4{
	position:absolute;
	top: 481px;
	left: 326px;
	width: 105px;
	height: 15px;
}
#box5{
	position:absolute;
	top: 543px;
	left: 194px;
	width: 107px;
	height: 15px;
}
#box6{
	position:absolute;
	top: 605px;
	left: 359px;
	width: 104px;
	height: 15px;
}
#box7{
	position:absolute;
	top: 667px;
	left: 265px;
	width: 103px;
	height: 15px;
}
.p51_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page51_btn1 {
	position:absolute;
	top: 803px;
	left: 277px;
}
.position_51 {
	position: absolute;
	top: 44px;
	left: 15px;
}
