.d_page20-21_1
{position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_page20-21_2
{
width:1937.55px;height:313.43px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page20-21_3
{
width:6753.6px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_4
{
width:9864.57px;height:803.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page20-21_5
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page20-21_6
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_7
{
width:6672.57px;height:694.1px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_8
{
width:6477.45px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_9
{
width:406.22px;height:439.32px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_10
{
width:6816.57px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_11
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_12
{
width:6983.18px;height:950.03px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_13
{
width:406.22px;height:439.32px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_14
{
width:6751.77px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_15
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_16
{
width:6878.66px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_17
{
width:406.22px;height:439.32px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_18
{
width:6751.77px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_19
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_20
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page20-21_21
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page20-21_22
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page20-21_23
{
width:3091.34px;height:1822.02px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_24
{
width:1886.15px;height:288.21px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page20-21_25
{
width:5482.85px;height:3063.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_26
{
width:9412.33px;height:1016.99px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_27
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_28
{
width:6935.12px;height:993.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_29
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_30
{
width:6611.53px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_31
{
width:6844.24px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_32
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_33
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page20-21_34
{
width:6774.8px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page20-21_35
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page20-21_36
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-4.03px;
}
.s_page20-21_37
{
position:absolute;top:-14.08px;left:714.87px;letter-spacing:-3.28px;
}
.s_page20-21_38
{
position:absolute;top:-14.08px;left:1266.86px;letter-spacing:-1.68px;
}
.s_page20-21_39
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page20-21_40
{
position:absolute;top:-18px;left:464.4px;letter-spacing:-0.38px;
}
.s_page20-21_41
{
position:absolute;top:-18px;left:1153.91px;letter-spacing:-1.1px;
}
.s_page20-21_42
{
position:absolute;top:-18px;left:1644.7px;
}
.s_page20-21_43
{
position:absolute;top:-18px;left:2116.53px;
}
.s_page20-21_44
{
position:absolute;top:-18px;left:2743.88px;
}
.s_page20-21_45
{
position:absolute;top:-18px;left:3594.67px;
}
.s_page20-21_46
{
position:absolute;top:-18px;left:4564.25px;
}
.s_page20-21_47
{
position:absolute;top:-18px;left:5746.72px;letter-spacing:-0.44px;
}
.s_page20-21_48
{
position:absolute;top:342px;left:0px;
}
.s_page20-21_49
{
position:absolute;top:342px;left:856.07px;
}
.s_page20-21_50
{
position:absolute;top:342px;left:1327.9px;letter-spacing:-0.65px;
}
.s_page20-21_51
{
position:absolute;top:342px;left:2339.24px;
}
.s_page20-21_52
{
position:absolute;top:342px;left:2594.6px;letter-spacing:-2.24px;
}
.s_page20-21_53
{
position:absolute;top:342px;left:3259.15px;
}
.s_page20-21_54
{
position:absolute;top:342px;left:4200.89px;
}
.s_page20-21_55
{
position:absolute;top:342px;left:4669.6px;
}
.s_page20-21_56
{
position:absolute;top:342px;left:4959.03px;
}
.s_page20-21_57
{
position:absolute;top:342px;left:5331.03px;letter-spacing:-0.21px;
}
.s_page20-21_58
{
position:absolute;top:342px;left:6077.9px;
}
.s_page20-21_59
{
position:absolute;top:702px;left:0px;letter-spacing:-1.84px;
}
.s_page20-21_60
{
position:absolute;top:702px;left:699.84px;letter-spacing:-0.96px;
}
.s_page20-21_61
{
position:absolute;top:702px;left:1385.02px;letter-spacing:-1.4px;
}
.s_page20-21_62
{
position:absolute;top:702px;left:2470.29px;
}
.s_page20-21_63
{
position:absolute;top:702px;left:3133.16px;letter-spacing:-1.97px;
}
.s_page20-21_64
{
position:absolute;top:702px;left:3668.59px;
}
.s_page20-21_65
{
position:absolute;top:702px;left:4579.61px;
}
.s_page20-21_66
{
position:absolute;top:702px;left:5256.64px;
}
.s_page20-21_67
{
position:absolute;top:702px;left:5715.28px;
}
.s_page20-21_68
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.94px;
}
.s_page20-21_69
{
position:absolute;top:1062px;left:1331.98px;letter-spacing:-2.48px;
}
.s_page20-21_70
{
position:absolute;top:1062px;left:1612.54px;
}
.s_page20-21_71
{
position:absolute;top:1062px;left:2495.24px;letter-spacing:-2.48px;
}
.s_page20-21_72
{
position:absolute;top:1062px;left:2775.8px;
}
.s_page20-21_73
{
position:absolute;top:1062px;left:3675.79px;letter-spacing:-0.36px;
}
.s_page20-21_74
{
position:absolute;top:1062px;left:4414.02px;letter-spacing:-1.84px;
}
.s_page20-21_75
{
position:absolute;top:1062px;left:4783.62px;
}
.s_page20-21_76
{
position:absolute;top:1062px;left:5910.64px;
}
.s_page20-21_77
{
position:absolute;top:1062px;left:6378.4px;
}
.s_page20-21_78
{
position:absolute;top:1422px;left:0px;
}
.s_page20-21_79
{
position:absolute;top:1422px;left:455.75px;
}
.s_page20-21_80
{
position:absolute;top:168.09px;left:616.04px;
}
.s_page20-21_81
{
position:absolute;top:168.09px;left:659.95px;letter-spacing:-1.06px;
}
.s_page20-21_82
{
position:absolute;top:168.09px;left:1750.26px;
}
.s_page20-21_83
{
position:absolute;top:168.09px;left:2553.85px;
}
.s_page20-21_84
{
position:absolute;top:168.09px;left:3765.4px;
}
.s_page20-21_85
{
position:absolute;top:168.09px;left:4787.94px;letter-spacing:0px;
}
.s_page20-21_86
{
position:absolute;top:168.09px;left:5723.97px;letter-spacing:-0.71px;
}
.s_page20-21_87
{
position:absolute;top:168.09px;left:7622.63px;
}
.s_page20-21_88
{
position:absolute;top:168.09px;left:8184.02px;
}
.s_page20-21_89
{
position:absolute;top:168.09px;left:9047.81px;letter-spacing:-2.3px;
}
.s_page20-21_90
{
position:absolute;top:568.09px;left:659.95px;
}
.s_page20-21_91
{
position:absolute;top:568.09px;left:1465.5px;letter-spacing:-0.7px;
}
.s_page20-21_92
{
position:absolute;top:568.09px;left:2178.37px;letter-spacing:-0.61px;
}
.s_page20-21_93
{
position:absolute;top:58.88px;left:0px;
}
.s_page20-21_94
{
position:absolute;top:109.95px;left:145.64px;letter-spacing:-1.56px;
}
.s_page20-21_95
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_96
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-2.56px;
}
.s_page20-21_97
{
position:absolute;top:-18px;left:933.45px;
}
.s_page20-21_98
{
position:absolute;top:-18px;left:1170.8px;letter-spacing:-0.88px;
}
.s_page20-21_99
{
position:absolute;top:-18px;left:1837.03px;letter-spacing:-2.48px;
}
.s_page20-21_100
{
position:absolute;top:-18px;left:2117.59px;letter-spacing:0px;
}
.s_page20-21_101
{
position:absolute;top:-18px;left:2645.58px;
}
.s_page20-21_102
{
position:absolute;top:-18px;left:5173.41px;
}
.s_page20-21_103
{
position:absolute;top:-18px;left:5410.53px;letter-spacing:-1.68px;
}
.s_page20-21_104
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.43px;
}
.s_page20-21_105
{
position:absolute;top:342px;left:1712.96px;letter-spacing:-0.36px;
}
.s_page20-21_106
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_107
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page20-21_108
{
position:absolute;top:-18px;left:3395.78px;
}
.s_page20-21_109
{
position:absolute;top:-18px;left:3627.34px;letter-spacing:-1.83px;
}
.s_page20-21_110
{
position:absolute;top:-18px;left:4369.63px;letter-spacing:-0.43px;
}
.s_page20-21_111
{
position:absolute;top:-18px;left:5437.1px;
}
.s_page20-21_112
{
position:absolute;top:-18px;left:6253.3px;
}
.s_page20-21_113
{
position:absolute;top:342px;left:639.94px;
}
.s_page20-21_114
{
position:absolute;top:342px;left:1881.67px;
}
.s_page20-21_115
{
position:absolute;top:342px;left:2132.95px;
}
.s_page20-21_116
{
position:absolute;top:342px;left:2545.02px;
}
.s_page20-21_117
{
position:absolute;top:342px;left:3198.77px;
}
.s_page20-21_118
{
position:absolute;top:109.86px;left:110.6px;
}
.s_page20-21_119
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_120
{
position:absolute;top:-18px;left:705.21px;letter-spacing:0px;
}
.s_page20-21_121
{
position:absolute;top:-18px;left:3949.96px;
}
.s_page20-21_122
{
position:absolute;top:-18px;left:4374.51px;
}
.s_page20-21_123
{
position:absolute;top:-18px;left:4746.5px;
}
.s_page20-21_124
{
position:absolute;top:-18px;left:5275.7px;letter-spacing:-0.79px;
}
.s_page20-21_125
{
position:absolute;top:-18px;left:6064.81px;
}
.s_page20-21_126
{
position:absolute;top:-18px;left:6461.76px;
}
.s_page20-21_127
{
position:absolute;top:342px;left:639.94px;
}
.s_page20-21_128
{
position:absolute;top:342px;left:972.33px;letter-spacing:-0.61px;
}
.s_page20-21_129
{
position:absolute;top:342px;left:1985.84px;
}
.s_page20-21_130
{
position:absolute;top:342px;left:2275.27px;letter-spacing:-1.11px;
}
.s_page20-21_131
{
position:absolute;top:342px;left:3163.74px;letter-spacing:-0.93px;
}
.s_page20-21_132
{
position:absolute;top:342px;left:3952.6px;
}
.s_page20-21_133
{
position:absolute;top:342px;left:4596.27px;letter-spacing:-0.29px;
}
.s_page20-21_134
{
position:absolute;top:342px;left:5070.99px;letter-spacing:-1.32px;
}
.s_page20-21_135
{
position:absolute;top:342px;left:5896.57px;
}
.s_page20-21_136
{
position:absolute;top:702px;left:639.94px;
}
.s_page20-21_137
{
position:absolute;top:702px;left:1059.21px;letter-spacing:-1.15px;
}
.s_page20-21_138
{
position:absolute;top:702px;left:2144.96px;letter-spacing:-0.7px;
}
.s_page20-21_139
{
position:absolute;top:702px;left:3641.58px;
}
.s_page20-21_140
{
position:absolute;top:702px;left:3931.01px;letter-spacing:-1.87px;
}
.s_page20-21_141
{
position:absolute;top:702px;left:4554.04px;
}
.s_page20-21_142
{
position:absolute;top:109.95px;left:108.8px;letter-spacing:-1.92px;
}
.s_page20-21_143
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_144
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page20-21_145
{
position:absolute;top:-18px;left:3602.45px;letter-spacing:-3px;
}
.s_page20-21_146
{
position:absolute;top:-18px;left:3793.96px;letter-spacing:-0.33px;
}
.s_page20-21_147
{
position:absolute;top:-18px;left:4631.07px;letter-spacing:-0.18px;
}
.s_page20-21_148
{
position:absolute;top:-18px;left:5523.38px;letter-spacing:-1.3px;
}
.s_page20-21_149
{
position:absolute;top:342px;left:639.94px;
}
.s_page20-21_150
{
position:absolute;top:342px;left:1642.64px;
}
.s_page20-21_151
{
position:absolute;top:342px;left:2493.42px;
}
.s_page20-21_152
{
position:absolute;top:342px;left:2912.7px;letter-spacing:-0.55px;
}
.s_page20-21_153
{
position:absolute;top:342px;left:4328.67px;letter-spacing:-2.74px;
}
.s_page20-21_154
{
position:absolute;top:342px;left:5347.94px;
}
.s_page20-21_155
{
position:absolute;top:342px;left:5853.13px;letter-spacing:-0.72px;
}
.s_page20-21_156
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.08px;
}
.s_page20-21_157
{
position:absolute;top:702px;left:1203.68px;letter-spacing:-0.9px;
}
.s_page20-21_158
{
position:absolute;top:702px;left:2078.47px;letter-spacing:-1.1px;
}
.s_page20-21_159
{
position:absolute;top:702px;left:2551.74px;
}
.s_page20-21_160
{
position:absolute;top:702px;left:3118.37px;
}
.s_page20-21_161
{
position:absolute;top:702px;left:3407.81px;letter-spacing:-1.17px;
}
.s_page20-21_162
{
position:absolute;top:702px;left:4204.36px;letter-spacing:-0.16px;
}
.s_page20-21_163
{
position:absolute;top:702px;left:5151.86px;letter-spacing:-0.93px;
}
.s_page20-21_164
{
position:absolute;top:702px;left:5931.61px;
}
.s_page20-21_165
{
position:absolute;top:109.86px;left:110.84px;letter-spacing:-1.2px;
}
.s_page20-21_166
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_167
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page20-21_168
{
position:absolute;top:-18px;left:3543.65px;
}
.s_page20-21_169
{
position:absolute;top:-18px;left:3780.76px;letter-spacing:-0.36px;
}
.s_page20-21_170
{
position:absolute;top:-18px;left:4420.59px;
}
.s_page20-21_171
{
position:absolute;top:-18px;left:5122.58px;
}
.s_page20-21_172
{
position:absolute;top:-18px;left:5601.13px;
}
.s_page20-21_173
{
position:absolute;top:342px;left:639.94px;
}
.s_page20-21_174
{
position:absolute;top:342px;left:1111.77px;letter-spacing:-0.81px;
}
.s_page20-21_175
{
position:absolute;top:342px;left:2016.79px;letter-spacing:-0.88px;
}
.s_page20-21_176
{
position:absolute;top:342px;left:2606.46px;letter-spacing:-0.61px;
}
.s_page20-21_177
{
position:absolute;top:342px;left:3550.37px;letter-spacing:-2.48px;
}
.s_page20-21_178
{
position:absolute;top:342px;left:3830.93px;letter-spacing:-4.65px;
}
.s_page20-21_179
{
position:absolute;top:342px;left:4501.71px;letter-spacing:-0.88px;
}
.s_page20-21_180
{
position:absolute;top:342px;left:4862.67px;
}
.s_page20-21_181
{
position:absolute;top:342px;left:5311.7px;
}
.s_page20-21_182
{
position:absolute;top:342px;left:5911.93px;
}
.s_page20-21_183
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.88px;
}
.s_page20-21_184
{
position:absolute;top:702px;left:1229.61px;letter-spacing:-0.61px;
}
.s_page20-21_185
{
position:absolute;top:702px;left:2173.51px;letter-spacing:-2.48px;
}
.s_page20-21_186
{
position:absolute;top:702px;left:2447.35px;letter-spacing:-4.02px;
}
.s_page20-21_187
{
position:absolute;top:702px;left:3267.18px;letter-spacing:-0.44px;
}
.s_page20-21_188
{
position:absolute;top:702px;left:3891.17px;letter-spacing:-0.72px;
}
.s_page20-21_189
{
position:absolute;top:109.95px;left:112.04px;letter-spacing:-1.92px;
}
.s_page20-21_190
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_191
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page20-21_192
{
position:absolute;top:-18px;left:3740.69px;
}
.s_page20-21_193
{
position:absolute;top:-18px;left:4155.4px;letter-spacing:-0.79px;
}
.s_page20-21_194
{
position:absolute;top:-18px;left:4963.23px;letter-spacing:-2.48px;
}
.s_page20-21_195
{
position:absolute;top:-18px;left:5239.71px;
}
.s_page20-21_196
{
position:absolute;top:-18px;left:5652.74px;letter-spacing:-1.1px;
}
.s_page20-21_197
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.64px;
}
.s_page20-21_198
{
position:absolute;top:342px;left:1340.49px;letter-spacing:-1.34px;
}
.s_page20-21_199
{
position:absolute;top:342px;left:1850.72px;
}
.s_page20-21_200
{
position:absolute;top:342px;left:3457.26px;letter-spacing:-0.64px;
}
.s_page20-21_201
{
position:absolute;top:342px;left:4031.81px;
}
.s_page20-21_202
{
position:absolute;top:342px;left:4264.84px;
}
.s_page20-21_203
{
position:absolute;top:342px;left:4684.11px;
}
.s_page20-21_204
{
position:absolute;top:342px;left:5138.67px;letter-spacing:-2.48px;
}
.s_page20-21_205
{
position:absolute;top:342px;left:5419.22px;letter-spacing:-3px;
}
.s_page20-21_206
{
position:absolute;top:342px;left:5610.74px;
}
.s_page20-21_207
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.3px;
}
.s_page20-21_208
{
position:absolute;top:702px;left:1224.57px;
}
.s_page20-21_209
{
position:absolute;top:702px;left:1804.15px;letter-spacing:-0.69px;
}
.s_page20-21_210
{
position:absolute;top:109.86px;left:106.52px;letter-spacing:-1.92px;
}
.s_page20-21_211
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_212
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page20-21_213
{
position:absolute;top:-18px;left:3482.69px;letter-spacing:-0.72px;
}
.s_page20-21_214
{
position:absolute;top:-18px;left:4008.29px;
}
.s_page20-21_215
{
position:absolute;top:-18px;left:4427.56px;letter-spacing:-0.29px;
}
.s_page20-21_216
{
position:absolute;top:-18px;left:5388.03px;letter-spacing:-2.6px;
}
.s_page20-21_217
{
position:absolute;top:-18px;left:6144.74px;
}
.s_page20-21_218
{
position:absolute;top:342px;left:639.94px;
}
.s_page20-21_219
{
position:absolute;top:342px;left:1073.84px;
}
.s_page20-21_220
{
position:absolute;top:342px;left:1325.12px;
}
.s_page20-21_221
{
position:absolute;top:342px;left:1744.39px;
}
.s_page20-21_222
{
position:absolute;top:346.15px;left:1952.95px;
}
.s_page20-21_223
{
position:absolute;top:342px;left:2081.95px;
}
.s_page20-21_224
{
position:absolute;top:342px;left:2147.23px;letter-spacing:-0.8px;
}
.s_page20-21_225
{
position:absolute;top:342px;left:3178.97px;letter-spacing:-2.4px;
}
.s_page20-21_226
{
position:absolute;top:342px;left:3553.12px;letter-spacing:-1.38px;
}
.s_page20-21_227
{
position:absolute;top:342px;left:3976.23px;letter-spacing:-0.7px;
}
.s_page20-21_228
{
position:absolute;top:342px;left:5148.37px;letter-spacing:-0.77px;
}
.s_page20-21_229
{
position:absolute;top:342px;left:6200.52px;letter-spacing:-2.48px;
}
.s_page20-21_230
{
position:absolute;top:702px;left:639.94px;
}
.s_page20-21_231
{
position:absolute;top:702px;left:1054.65px;letter-spacing:-0.7px;
}
.s_page20-21_232
{
position:absolute;top:702px;left:3594.78px;
}
.s_page20-21_233
{
position:absolute;top:109.95px;left:126.08px;letter-spacing:-10.08px;
}
.s_page20-21_234
{
position:absolute;top:-11.04px;left:97.93px;
}
.s_page20-21_235
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page20-21_236
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page20-21_237
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.38px;
}
.s_page20-21_238
{
position:absolute;top:-18px;left:633.83px;
}
.s_page20-21_239
{
position:absolute;top:-18px;left:1607.01px;
}
.s_page20-21_240
{
position:absolute;top:-18px;left:1943.73px;letter-spacing:-0.96px;
}
.s_page20-21_241
{
position:absolute;top:342px;left:0px;
}
.s_page20-21_242
{
position:absolute;top:342px;left:594.95px;letter-spacing:-3px;
}
.s_page20-21_243
{
position:absolute;top:342px;left:786.47px;letter-spacing:-0.21px;
}
.s_page20-21_244
{
position:absolute;top:342px;left:1607.25px;
}
.s_page20-21_245
{
position:absolute;top:342px;left:2391.8px;letter-spacing:-1.87px;
}
.s_page20-21_246
{
position:absolute;top:702px;left:0px;
}
.s_page20-21_247
{
position:absolute;top:702px;left:289.43px;letter-spacing:-0.81px;
}
.s_page20-21_248
{
position:absolute;top:702px;left:1064.62px;letter-spacing:-0.92px;
}
.s_page20-21_249
{
position:absolute;top:702px;left:1629.33px;letter-spacing:-0.93px;
}
.s_page20-21_250
{
position:absolute;top:702px;left:2512.28px;
}
.s_page20-21_251
{
position:absolute;top:1062px;left:0px;
}
.s_page20-21_252
{
position:absolute;top:1062px;left:336.71px;
}
.s_page20-21_253
{
position:absolute;top:1062px;left:856.78px;
}
.s_page20-21_254
{
position:absolute;top:1062px;left:1146.21px;letter-spacing:-0.64px;
}
.s_page20-21_255
{
position:absolute;top:1062px;left:2166.44px;
}
.s_page20-21_256
{
position:absolute;top:1422px;left:0px;letter-spacing:-2.48px;
}
.s_page20-21_257
{
position:absolute;top:1422px;left:280.56px;
}
.s_page20-21_258
{
position:absolute;top:1422px;left:612.95px;letter-spacing:-1.13px;
}
.s_page20-21_259
{
position:absolute;top:1422px;left:1307.98px;letter-spacing:-1.03px;
}
.s_page20-21_260
{
position:absolute;top:-12.32px;left:0px;
}
.s_page20-21_261
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page20-21_262
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page20-21_263
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.54px;
}
.s_page20-21_264
{
position:absolute;top:-18px;left:832.79px;letter-spacing:-1.28px;
}
.s_page20-21_265
{
position:absolute;top:-18px;left:1896.46px;
}
.s_page20-21_266
{
position:absolute;top:-18px;left:2133.57px;
}
.s_page20-21_267
{
position:absolute;top:-18px;left:2465.97px;
}
.s_page20-21_268
{
position:absolute;top:-18px;left:3192.92px;letter-spacing:-0.58px;
}
.s_page20-21_269
{
position:absolute;top:-18px;left:4633.14px;letter-spacing:-1.3px;
}
.s_page20-21_270
{
position:absolute;top:342px;left:0px;letter-spacing:-3.34px;
}
.s_page20-21_271
{
position:absolute;top:342px;left:1153.91px;
}
.s_page20-21_272
{
position:absolute;top:342px;left:1686.46px;
}
.s_page20-21_273
{
position:absolute;top:342px;left:2363.49px;letter-spacing:-3px;
}
.s_page20-21_274
{
position:absolute;top:342px;left:2550.45px;letter-spacing:-0.48px;
}
.s_page20-21_275
{
position:absolute;top:342px;left:3235.64px;letter-spacing:-2.33px;
}
.s_page20-21_276
{
position:absolute;top:342px;left:4007.95px;
}
.s_page20-21_277
{
position:absolute;top:342px;left:4345.86px;
}
.s_page20-21_278
{
position:absolute;top:702px;left:0px;letter-spacing:-3.48px;
}
.s_page20-21_279
{
position:absolute;top:702px;left:526.56px;
}
.s_page20-21_280
{
position:absolute;top:702px;left:1042.55px;
}
.s_page20-21_281
{
position:absolute;top:702px;left:1704.94px;
}
.s_page20-21_282
{
position:absolute;top:702px;left:2154.45px;
}
.s_page20-21_283
{
position:absolute;top:702px;left:3081.32px;
}
.s_page20-21_284
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.43px;
}
.s_page20-21_285
{
position:absolute;top:1062px;left:1073.02px;
}
.s_page20-21_286
{
position:absolute;top:1062px;left:1483.41px;
}
.s_page20-21_287
{
position:absolute;top:1062px;left:1805.25px;letter-spacing:-0.75px;
}
.s_page20-21_288
{
position:absolute;top:1062px;left:2544.44px;
}
.s_page20-21_289
{
position:absolute;top:1062px;left:2833.87px;letter-spacing:-1.08px;
}
.s_page20-21_290
{
position:absolute;top:1422px;left:0px;
}
.s_page20-21_291
{
position:absolute;top:1422px;left:419.27px;
}
.s_page20-21_292
{
position:absolute;top:1422px;left:1292.86px;letter-spacing:-2.48px;
}
.s_page20-21_293
{
position:absolute;top:1422px;left:1573.42px;letter-spacing:-0.68px;
}
.s_page20-21_294
{
position:absolute;top:1422px;left:2343.09px;letter-spacing:-2.11px;
}
.s_page20-21_295
{
position:absolute;top:1422px;left:3259.15px;letter-spacing:-3.6px;
}
.s_page20-21_296
{
position:absolute;top:1782px;left:0px;
}
.s_page20-21_297
{
position:absolute;top:1782px;left:1399.18px;text-rendering:optimizeLegibility;
}
.s_page20-21_298
{
position:absolute;top:1782px;left:1858.05px;
}
.s_page20-21_299
{
position:absolute;top:1782px;left:2478.68px;letter-spacing:-1.54px;
}
.s_page20-21_300
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.12px;
}
.s_page20-21_301
{
position:absolute;top:2142px;left:1488.7px;letter-spacing:-1.38px;
}
.s_page20-21_302
{
position:absolute;top:2142px;left:1911.82px;letter-spacing:-0.82px;
}
.s_page20-21_303
{
position:absolute;top:2142px;left:2296.53px;letter-spacing:-0.66px;
}
.s_page20-21_304
{
position:absolute;top:2142px;left:2802.68px;
}
.s_page20-21_305
{
position:absolute;top:2502px;left:0px;
}
.s_page20-21_306
{
position:absolute;top:2502px;left:255.36px;letter-spacing:-4.03px;
}
.s_page20-21_307
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.72px;
}
.s_page20-21_308
{
position:absolute;top:-18px;left:962.38px;letter-spacing:-5.2px;
}
.s_page20-21_309
{
position:absolute;top:-18px;left:2060px;letter-spacing:-13.92px;
}
.s_page20-21_310
{
position:absolute;top:-18px;left:2453.59px;
}
.s_page20-21_311
{
position:absolute;top:-18px;left:4020px;letter-spacing:-1.49px;
}
.s_page20-21_312
{
position:absolute;top:-18px;left:5009.27px;letter-spacing:-0.86px;
}
.s_page20-21_313
{
position:absolute;top:-18px;left:7100px;letter-spacing:-0.18px;
}
.s_page20-21_314
{
position:absolute;top:-18px;left:8174.47px;letter-spacing:-0.41px;
}
.s_page20-21_315
{
position:absolute;top:398.69px;left:0px;letter-spacing:-0.44px;
}
.s_page20-21_316
{
position:absolute;top:398.69px;left:717.36px;letter-spacing:-1.06px;
}
.s_page20-21_317
{
position:absolute;top:398.69px;left:2060px;letter-spacing:-2.64px;
}
.s_page20-21_318
{
position:absolute;top:398.69px;left:2894.47px;
}
.s_page20-21_319
{
position:absolute;top:398.69px;left:4020px;letter-spacing:-0.14px;
}
.s_page20-21_320
{
position:absolute;top:398.69px;left:5303.51px;letter-spacing:-1.06px;
}
.s_page20-21_321
{
position:absolute;top:398.69px;left:7100px;letter-spacing:-2.72px;
}
.s_page20-21_322
{
position:absolute;top:398.69px;left:7895.6px;letter-spacing:-0.67px;
}
.s_page20-21_323
{
position:absolute;top:815.38px;left:0px;letter-spacing:-0.67px;
}
.s_page20-21_324
{
position:absolute;top:815.38px;left:475.91px;
}
.s_page20-21_325
{
position:absolute;top:815.38px;left:2060px;letter-spacing:-1.44px;
}
.s_page20-21_326
{
position:absolute;top:815.38px;left:2824.15px;letter-spacing:-1.06px;
}
.s_page20-21_327
{
position:absolute;top:815.38px;left:4020px;
}
.s_page20-21_328
{
position:absolute;top:815.38px;left:5148.94px;letter-spacing:-0.92px;
}
.s_page20-21_329
{
position:absolute;top:109.95px;left:103.16px;letter-spacing:-1.8px;
}
.s_page20-21_330
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_331
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page20-21_332
{
position:absolute;top:-18px;left:2748.78px;
}
.s_page20-21_333
{
position:absolute;top:-18px;left:2981.81px;
}
.s_page20-21_334
{
position:absolute;top:-18px;left:3397.73px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page20-21_335
{
position:absolute;top:-18px;left:3895.47px;
}
.s_page20-21_336
{
position:absolute;top:-18px;left:4622.42px;letter-spacing:-0.61px;
}
.s_page20-21_337
{
position:absolute;top:-18px;left:5521.45px;
}
.s_page20-21_338
{
position:absolute;top:-18px;left:5810.88px;letter-spacing:-1.08px;
}
.s_page20-21_339
{
position:absolute;top:-18px;left:6483.11px;
}
.s_page20-21_340
{
position:absolute;top:342px;left:639.94px;text-rendering:optimizeLegibility;
}
.s_page20-21_341
{
position:absolute;top:342px;left:1162.65px;letter-spacing:-2.48px;
}
.s_page20-21_342
{
position:absolute;top:342px;left:1439.13px;
}
.s_page20-21_343
{
position:absolute;top:342px;left:1858.4px;letter-spacing:-0.16px;
}
.s_page20-21_344
{
position:absolute;top:342px;left:2940.06px;letter-spacing:-0.14px;
}
.s_page20-21_345
{
position:absolute;top:342px;left:4170.77px;letter-spacing:-1.3px;
}
.s_page20-21_346
{
position:absolute;top:342px;left:4892.67px;letter-spacing:-0.36px;
}
.s_page20-21_347
{
position:absolute;top:342px;left:5357.55px;
}
.s_page20-21_348
{
position:absolute;top:342px;left:5594.66px;
}
.s_page20-21_349
{
position:absolute;top:342px;left:6097.69px;
}
.s_page20-21_350
{
position:absolute;top:702px;left:639.94px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page20-21_351
{
position:absolute;top:702px;left:1137.68px;
}
.s_page20-21_352
{
position:absolute;top:702px;left:1860.07px;letter-spacing:-0.48px;
}
.s_page20-21_353
{
position:absolute;top:702px;left:2725.27px;
}
.s_page20-21_354
{
position:absolute;top:702px;left:3010.14px;
}
.s_page20-21_355
{
position:absolute;top:702px;left:3460.13px;letter-spacing:-3px;
}
.s_page20-21_356
{
position:absolute;top:702px;left:3651.65px;letter-spacing:-1.37px;
}
.s_page20-21_357
{
position:absolute;top:702px;left:4285.47px;
}
.s_page20-21_358
{
position:absolute;top:702px;left:5017.71px;
}
.s_page20-21_359
{
position:absolute;top:702px;left:5268.98px;
}
.s_page20-21_360
{
position:absolute;top:702px;left:5688.25px;letter-spacing:-0.16px;
}
.s_page20-21_361
{
position:absolute;top:109.95px;left:107.24px;letter-spacing:-3.72px;
}
.s_page20-21_362
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_363
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-3.6px;
}
.s_page20-21_364
{
position:absolute;top:-18px;left:847.53px;letter-spacing:-0.69px;
}
.s_page20-21_365
{
position:absolute;top:-18px;left:1741.99px;
}
.s_page20-21_366
{
position:absolute;top:-18px;left:2468.94px;letter-spacing:-0.72px;
}
.s_page20-21_367
{
position:absolute;top:-18px;left:3388.85px;
}
.s_page20-21_368
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.66px;
}
.s_page20-21_369
{
position:absolute;top:342px;left:1144.45px;letter-spacing:0px;
}
.s_page20-21_370
{
position:absolute;top:342px;left:2125.83px;
}
.s_page20-21_371
{
position:absolute;top:342px;left:2438.35px;letter-spacing:-0.77px;
}
.s_page20-21_372
{
position:absolute;top:342px;left:3491.73px;letter-spacing:-0.21px;
}
.s_page20-21_373
{
position:absolute;top:342px;left:4246.8px;letter-spacing:-0.16px;
}
.s_page20-21_374
{
position:absolute;top:342px;left:5250.75px;letter-spacing:-0.5px;
}
.s_page20-21_375
{
position:absolute;top:702px;left:639.94px;
}
.s_page20-21_376
{
position:absolute;top:702px;left:895.29px;letter-spacing:-0.64px;
}
.s_page20-21_377
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_378
{
position:absolute;top:-18px;left:639.94px;letter-spacing:0px;
}
.s_page20-21_379
{
position:absolute;top:-18px;left:3288.53px;
}
.s_page20-21_380
{
position:absolute;top:-18px;left:3521.57px;
}
.s_page20-21_381
{
position:absolute;top:-18px;left:3937.48px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page20-21_382
{
position:absolute;top:-18px;left:4430.67px;letter-spacing:-0.48px;
}
.s_page20-21_383
{
position:absolute;top:-18px;left:5295.86px;
}
.s_page20-21_384
{
position:absolute;top:-18px;left:5585.29px;
}
.s_page20-21_385
{
position:absolute;top:-18px;left:5917.93px;
}
.s_page20-21_386
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.12px;
}
.s_page20-21_387
{
position:absolute;top:342px;left:2032.63px;letter-spacing:-2.48px;
}
.s_page20-21_388
{
position:absolute;top:342px;left:2309.11px;
}
.s_page20-21_389
{
position:absolute;top:342px;left:2728.38px;letter-spacing:-0.6px;
}
.s_page20-21_390
{
position:absolute;top:342px;left:3361.25px;
}
.s_page20-21_391
{
position:absolute;top:342px;left:3960.76px;letter-spacing:-2.48px;
}
.s_page20-21_392
{
position:absolute;top:342px;left:4241.32px;letter-spacing:-1px;
}
.s_page20-21_393
{
position:absolute;top:342px;left:4827.39px;
}
.s_page20-21_394
{
position:absolute;top:342px;left:5299.23px;
}
.s_page20-21_395
{
position:absolute;top:342px;left:5802.26px;
}
.s_page20-21_396
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.43px;
}
.s_page20-21_397
{
position:absolute;top:702px;left:1712.96px;letter-spacing:-0.21px;
}
.s_page20-21_398
{
position:absolute;top:702px;left:2529.67px;
}
.s_page20-21_399
{
position:absolute;top:702px;left:2819.1px;letter-spacing:-1.08px;
}
.s_page20-21_400
{
position:absolute;top:702px;left:3491.33px;
}
.s_page20-21_401
{
position:absolute;top:702px;left:3949.72px;
}
.s_page20-21_402
{
position:absolute;top:109.95px;left:71.24px;letter-spacing:-2.48px;
}
.s_page20-21_403
{
position:absolute;top:109.95px;left:117.92px;letter-spacing:-1.04px;
}
.s_page20-21_404
{
position:absolute;top:-18px;left:0px;
}
.s_page20-21_405
{
position:absolute;top:-18px;left:705.21px;letter-spacing:0px;
}
.s_page20-21_406
{
position:absolute;top:-18px;left:3211.49px;
}
.s_page20-21_407
{
position:absolute;top:-18px;left:3448.61px;letter-spacing:-3px;
}
.s_page20-21_408
{
position:absolute;top:-18px;left:3640.12px;
}
.s_page20-21_409
{
position:absolute;top:-18px;left:4267.47px;
}
.s_page20-21_410
{
position:absolute;top:-18px;left:4969.22px;
}
.s_page20-21_411
{
position:absolute;top:-18px;left:5824.81px;letter-spacing:-0.88px;
}
.s_page20-21_412
{
position:absolute;top:-18px;left:6185.76px;
}
.s_page20-21_413
{
position:absolute;top:-18px;left:6422.88px;letter-spacing:-3px;
}
.s_page20-21_414
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.79px;
}
.s_page20-21_415
{
position:absolute;top:342px;left:1651.28px;letter-spacing:-2.48px;
}
.s_page20-21_416
{
position:absolute;top:342px;left:1927.76px;
}
.s_page20-21_417
{
position:absolute;top:342px;left:2347.03px;letter-spacing:-1.48px;
}
.s_page20-21_418
{
position:absolute;top:342px;left:3154.62px;letter-spacing:-0.16px;
}
.s_page20-21_419
{
position:absolute;top:342px;left:4211.57px;letter-spacing:-1.92px;
}
.s_page20-21_420
{
position:absolute;top:342px;left:4721.08px;letter-spacing:-0.29px;
}
.s_page20-21_421
{
position:absolute;top:342px;left:5681.55px;letter-spacing:-1.95px;
}
.s_page20-21_422
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.72px;
}
.s_page20-21_423
{
position:absolute;top:702px;left:1121.13px;letter-spacing:-0.45px;
}
.s_page20-21_424
{
position:absolute;top:702px;left:2018.24px;
}
.s_page20-21_425
{
position:absolute;top:702px;left:2485.99px;letter-spacing:-0.72px;
}
.s_page20-21_426
{
position:absolute;top:702px;left:2967.18px;letter-spacing:-1.47px;
}
.s_page20-21_427
{
position:absolute;top:702px;left:3960.3px;letter-spacing:-2.23px;
}
.s_page20-21_428
{
position:absolute;top:-5.54px;left:163.45px;
}

#text1{
	position: absolute;
	top: 484px;
	left: 665px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 484px;
	left: 768px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 484px;
	left: 866px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 484px;
	left: 1021px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 505px;
	left: 666px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 505px;
	left: 768px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 505px;
	left: 867px;
	cursor:pointer;
}
#text8{
	position:absolute;
	top: 505px;
	left: 1021px;
	cursor:pointer;
}
#text9{
	position:absolute;
	top: 525px;
	left: 666px;
	cursor:pointer;
}
#text10{
	position:absolute;
	top: 525px;
	left: 768px;
	cursor:pointer;
}
#text11{
	position:absolute;
	top: 525px;
	left: 867px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 110px;
	left: 182px;
	width: 122px;
}
#box2{
	position:absolute;
	top: 188px;
	left: 234px;
	width: 135px;
}
#box3{
	position:absolute;
	top: 260px;
	left: 86px;
	width: 159px;
}
#box4{
	position:absolute;
	top: 341px;
	left: 228px;
	width: 143px;
}
#box5{
	position:absolute;
	top: 427px;
	left: 82px;
	width: 142px;
}
#box6{
	position:absolute;
	top: 511px;
	left: 231px;
	width: 152px;
}
#box7{
	position:absolute;
	top: 591px;
	left: 84px;
	width: 137px;
}
#box8{
	position:absolute;
	top: 60px;
	left: 221px;
	width: 103px;
}
#box9{
	position:absolute;
	top: 166px;
	left: 221px;
	width: 150px;
}
#box10{
	position:absolute;
	top: 267px;
	left: 231px;
	width: 131px;
}
#box11{
	position:absolute;
	top: 371px;
	left: 84px;
	width: 124px;
}
.p20_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
	z-index: 100 !important;
}
.page20_btn1 {
	position:absolute;
	top: 803px;
	left: 269px;
}
.position_1 {
left: 62px;
position:absolute;
top: 696px;
width: 110px;
height: 95px;
}
