.d_page13_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page13_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page13_3
{
width:9864.57px;height:467.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page13_4
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page13_5
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page13_6
{
width:7438.33px;height:1020.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_7
{
width:7626.26px;height:771.63px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_8
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page13_9
{
width:7547.2px;height:647.71px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_10
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page13_11
{
width:7747.2px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_12
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page13_13
{
width:7417.46px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_14
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page13_15
{
width:7689.6px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_16
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page13_17
{
width:7743.74px;height:1334.69px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_18
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page13_19
{
width:7844.33px;height:1014.7px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_20
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page13_21
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_page13_22
{
width:4724.45px;height:518.3px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);
}
.d_page13_23
{
width:7743.74px;height:6776.46px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page13_24
{
width:2592.45px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_25
{
width:2592.45px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_26
{
width:2580.68px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_27
{
width:2580.68px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_28
{
width:1665.1px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_29
{
width:1062.95px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_30
{
width:2041.65px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_31
{
width:2745.08px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page13_32
{
width:9691.66px;height:1163.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page13_33
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.s_page13_34
{
position:absolute;top:-11.04px;left:142.09px;
}
.s_page13_35
{
position:absolute;top:152.72px;left:637.84px;
}
.s_page13_36
{
position:absolute;top:152.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page13_37
{
position:absolute;top:152.72px;left:1750.26px;
}
.s_page13_38
{
position:absolute;top:152.72px;left:2553.85px;letter-spacing:-0.84px;
}
.s_page13_39
{
position:absolute;top:152.72px;left:3329.45px;
}
.s_page13_40
{
position:absolute;top:152.72px;left:4129.12px;letter-spacing:0px;
}
.s_page13_41
{
position:absolute;top:58.88px;left:0px;letter-spacing:-23.28px;
}
.s_page13_42
{
position:absolute;top:109.95px;left:110.6px;
}
.s_page13_43
{
position:absolute;top:-18px;left:0px;
}
.s_page13_44
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.36px;
}
.s_page13_45
{
position:absolute;top:-18px;left:1104.81px;
}
.s_page13_46
{
position:absolute;top:-18px;left:1341.93px;
}
.s_page13_47
{
position:absolute;top:-18px;left:1674.32px;
}
.s_page13_48
{
position:absolute;top:-18px;left:2401.27px;letter-spacing:-1.39px;
}
.s_page13_49
{
position:absolute;top:-18px;left:3408.78px;
}
.s_page13_50
{
position:absolute;top:-18px;left:3941.33px;letter-spacing:-0.81px;
}
.s_page13_51
{
position:absolute;top:-18px;left:4841.31px;letter-spacing:-0.72px;
}
.s_page13_52
{
position:absolute;top:-18px;left:5656.34px;letter-spacing:-3.12px;
}
.s_page13_53
{
position:absolute;top:-18px;left:5979.85px;letter-spacing:-0.29px;
}
.s_page13_54
{
position:absolute;top:342px;left:639.94px;
}
.s_page13_55
{
position:absolute;top:342px;left:1055.85px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page13_56
{
position:absolute;top:342px;left:1553.6px;letter-spacing:-2.13px;
}
.s_page13_57
{
position:absolute;top:342px;left:2287.98px;
}
.s_page13_58
{
position:absolute;top:342px;left:2538.78px;letter-spacing:-1.8px;
}
.s_page13_59
{
position:absolute;top:342px;left:3573.17px;
}
.s_page13_60
{
position:absolute;top:342px;left:4061.8px;
}
.s_page13_61
{
position:absolute;top:342px;left:4351.23px;letter-spacing:-1.52px;
}
.s_page13_62
{
position:absolute;top:342px;left:5012.19px;letter-spacing:-1.3px;
}
.s_page13_63
{
position:absolute;top:342px;left:5640.5px;
}
.s_page13_64
{
position:absolute;top:342px;left:6194.17px;
}
.s_page13_65
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.71px;
}
.s_page13_66
{
position:absolute;top:702px;left:1404.32px;
}
.s_page13_67
{
position:absolute;top:702px;left:2008.63px;
}
.s_page13_68
{
position:absolute;top:-18px;left:0px;
}
.s_page13_69
{
position:absolute;top:-18px;left:798.47px;
}
.s_page13_70
{
position:absolute;top:-18px;left:1880px;
}
.s_page13_71
{
position:absolute;top:-18px;left:2361.19px;
}
.s_page13_72
{
position:absolute;top:-18px;left:4320px;letter-spacing:-0.21px;
}
.s_page13_73
{
position:absolute;top:-18px;left:4993.19px;
}
.s_page13_74
{
position:absolute;top:-18px;left:6620px;letter-spacing:-0.58px;
}
.s_page13_75
{
position:absolute;top:-18px;left:7166.95px;letter-spacing:-4.32px;
}
.s_page13_76
{
position:absolute;top:398.69px;left:0px;letter-spacing:-0.96px;
}
.s_page13_77
{
position:absolute;top:398.69px;left:606.95px;
}
.s_page13_78
{
position:absolute;top:398.69px;left:1880px;letter-spacing:-3.42px;
}
.s_page13_79
{
position:absolute;top:398.69px;left:2252.71px;letter-spacing:-1.81px;
}
.s_page13_80
{
position:absolute;top:398.69px;left:3329.82px;
}
.s_page13_81
{
position:absolute;top:398.69px;left:4320px;
}
.s_page13_82
{
position:absolute;top:398.69px;left:5164.79px;letter-spacing:-0.4px;
}
.s_page13_83
{
position:absolute;top:109.95px;left:145.64px;letter-spacing:-1.56px;
}
.s_page13_84
{
position:absolute;top:-18px;left:0px;
}
.s_page13_85
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page13_86
{
position:absolute;top:-18px;left:1133.25px;letter-spacing:0px;
}
.s_page13_87
{
position:absolute;top:-18px;left:1779.45px;letter-spacing:-0.48px;
}
.s_page13_88
{
position:absolute;top:-18px;left:2641.16px;letter-spacing:-0.66px;
}
.s_page13_89
{
position:absolute;top:-18px;left:3140.24px;
}
.s_page13_90
{
position:absolute;top:-18px;left:3556.52px;letter-spacing:-1.23px;
}
.s_page13_91
{
position:absolute;top:-18px;left:5455.5px;letter-spacing:-2.48px;
}
.s_page13_92
{
position:absolute;top:-18px;left:5728.98px;
}
.s_page13_93
{
position:absolute;top:-18px;left:6145.25px;letter-spacing:-1.64px;
}
.s_page13_94
{
position:absolute;top:-18px;left:6842.81px;letter-spacing:-0.38px;
}
.s_page13_95
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.66px;
}
.s_page13_96
{
position:absolute;top:342px;left:2106.32px;letter-spacing:-1.3px;
}
.s_page13_97
{
position:absolute;top:342px;left:2690.95px;letter-spacing:-0.96px;
}
.s_page13_98
{
position:absolute;top:342px;left:3287.58px;
}
.s_page13_99
{
position:absolute;top:342px;left:3577.01px;letter-spacing:-3.36px;
}
.s_page13_100
{
position:absolute;top:342px;left:4121.07px;
}
.s_page13_101
{
position:absolute;top:109.95px;left:108.8px;letter-spacing:-1.92px;
}
.s_page13_102
{
position:absolute;top:-18px;left:0px;
}
.s_page13_103
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page13_104
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:0px;
}
.s_page13_105
{
position:absolute;top:-18px;left:1836.56px;letter-spacing:-1.71px;
}
.s_page13_106
{
position:absolute;top:-18px;left:2676.31px;
}
.s_page13_107
{
position:absolute;top:-18px;left:3689.81px;letter-spacing:-0.66px;
}
.s_page13_108
{
position:absolute;top:-18px;left:4191.89px;
}
.s_page13_109
{
position:absolute;top:-18px;left:4611.16px;letter-spacing:-1.22px;
}
.s_page13_110
{
position:absolute;top:-18px;left:5724.02px;letter-spacing:-0.18px;
}
.s_page13_111
{
position:absolute;top:-18px;left:6645.13px;letter-spacing:-2.48px;
}
.s_page13_112
{
position:absolute;top:-18px;left:6921.61px;
}
.s_page13_113
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.27px;
}
.s_page13_114
{
position:absolute;top:342px;left:1421.12px;letter-spacing:-0.33px;
}
.s_page13_115
{
position:absolute;top:342px;left:2314.63px;letter-spacing:-1.3px;
}
.s_page13_116
{
position:absolute;top:342px;left:2899.26px;letter-spacing:-0.96px;
}
.s_page13_117
{
position:absolute;top:342px;left:3495.89px;
}
.s_page13_118
{
position:absolute;top:342px;left:3785.33px;letter-spacing:-0.64px;
}
.s_page13_119
{
position:absolute;top:342px;left:4368.51px;
}
.s_page13_120
{
position:absolute;top:109.95px;left:110.84px;letter-spacing:-1.2px;
}
.s_page13_121
{
position:absolute;top:-18px;left:0px;
}
.s_page13_122
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page13_123
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:0px;
}
.s_page13_124
{
position:absolute;top:-18px;left:2069.6px;letter-spacing:-0.24px;
}
.s_page13_125
{
position:absolute;top:-18px;left:2693.1px;letter-spacing:-1.25px;
}
.s_page13_126
{
position:absolute;top:-18px;left:4424.2px;
}
.s_page13_127
{
position:absolute;top:-18px;left:4956.75px;
}
.s_page13_128
{
position:absolute;top:-18px;left:5402.42px;letter-spacing:-1.17px;
}
.s_page13_129
{
position:absolute;top:-18px;left:6396.73px;
}
.s_page13_130
{
position:absolute;top:-18px;left:6648.72px;text-rendering:optimizeLegibility;
}
.s_page13_131
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.68px;
}
.s_page13_132
{
position:absolute;top:342px;left:1057.85px;letter-spacing:-0.36px;
}
.s_page13_133
{
position:absolute;top:342px;left:1492.07px;letter-spacing:-0.66px;
}
.s_page13_134
{
position:absolute;top:342px;left:2035.5px;
}
.s_page13_135
{
position:absolute;top:342px;left:2506.93px;letter-spacing:-2.35px;
}
.s_page13_136
{
position:absolute;top:342px;left:3404.35px;
}
.s_page13_137
{
position:absolute;top:342px;left:3941.23px;
}
.s_page13_138
{
position:absolute;top:342px;left:4064.9px;
}
.s_page13_139
{
position:absolute;top:342px;left:4301.61px;letter-spacing:-0.65px;
}
.s_page13_140
{
position:absolute;top:342px;left:5313.27px;letter-spacing:-2.09px;
}
.s_page13_141
{
position:absolute;top:342px;left:5993.25px;letter-spacing:-0.26px;
}
.s_page13_142
{
position:absolute;top:342px;left:6960.99px;text-rendering:optimizeLegibility;
}
.s_page13_143
{
position:absolute;top:702px;left:639.94px;
}
.s_page13_144
{
position:absolute;top:702px;left:1391.12px;
}
.s_page13_145
{
position:absolute;top:109.95px;left:112.04px;letter-spacing:-1.92px;
}
.s_page13_146
{
position:absolute;top:-18px;left:0px;
}
.s_page13_147
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.88px;
}
.s_page13_148
{
position:absolute;top:-18px;left:1000.89px;
}
.s_page13_149
{
position:absolute;top:-18px;left:1233.93px;letter-spacing:0px;
}
.s_page13_150
{
position:absolute;top:-18px;left:1649.84px;letter-spacing:-1.2px;
}
.s_page13_151
{
position:absolute;top:-18px;left:2566.38px;letter-spacing:-2.48px;
}
.s_page13_152
{
position:absolute;top:-18px;left:2842.86px;
}
.s_page13_153
{
position:absolute;top:-18px;left:3262.13px;letter-spacing:-1.07px;
}
.s_page13_154
{
position:absolute;top:-18px;left:4707.17px;letter-spacing:-0.36px;
}
.s_page13_155
{
position:absolute;top:-18px;left:5619.39px;
}
.s_page13_156
{
position:absolute;top:-18px;left:6542.89px;letter-spacing:-0.88px;
}
.s_page13_157
{
position:absolute;top:-18px;left:6903.85px;
}
.s_page13_158
{
position:absolute;top:-18px;left:7140.96px;
}
.s_page13_159
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.83px;
}
.s_page13_160
{
position:absolute;top:342px;left:1898.48px;
}
.s_page13_161
{
position:absolute;top:342px;left:2317.75px;
}
.s_page13_162
{
position:absolute;top:342px;left:3126.54px;
}
.s_page13_163
{
position:absolute;top:342px;left:3666.29px;
}
.s_page13_164
{
position:absolute;top:342px;left:3914.45px;
}
.s_page13_165
{
position:absolute;top:342px;left:4489.71px;
}
.s_page13_166
{
position:absolute;top:109.95px;left:106.52px;letter-spacing:-1.92px;
}
.s_page13_167
{
position:absolute;top:-18px;left:0px;
}
.s_page13_168
{
position:absolute;top:-18px;left:639.94px;
}
.s_page13_169
{
position:absolute;top:-18px;left:989.61px;letter-spacing:0px;
}
.s_page13_170
{
position:absolute;top:-18px;left:1716.56px;
}
.s_page13_171
{
position:absolute;top:-18px;left:2620.14px;
}
.s_page13_172
{
position:absolute;top:-18px;left:3520.84px;
}
.s_page13_173
{
position:absolute;top:-18px;left:3892.83px;text-rendering:optimizeLegibility;letter-spacing:-0.51px;
}
.s_page13_174
{
position:absolute;top:-18px;left:4676.42px;
}
.s_page13_175
{
position:absolute;top:-18px;left:5064.97px;
}
.s_page13_176
{
position:absolute;top:-18px;left:5350.32px;
}
.s_page13_177
{
position:absolute;top:-18px;left:5769.59px;letter-spacing:-0.1px;
}
.s_page13_178
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.79px;
}
.s_page13_179
{
position:absolute;top:342px;left:1470.32px;letter-spacing:-1.28px;
}
.s_page13_180
{
position:absolute;top:342px;left:3097.98px;
}
.s_page13_181
{
position:absolute;top:342px;left:3569.1px;
}
.s_page13_182
{
position:absolute;top:342px;left:3902.93px;
}
.s_page13_183
{
position:absolute;top:342px;left:4322.2px;
}
.s_page13_184
{
position:absolute;top:342px;left:4935.63px;
}
.s_page13_185
{
position:absolute;top:342px;left:6076.82px;letter-spacing:-0.68px;
}
.s_page13_186
{
position:absolute;top:342px;left:6780.49px;letter-spacing:-2.48px;
}
.s_page13_187
{
position:absolute;top:342px;left:7061.05px;
}
.s_page13_188
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.53px;
}
.s_page13_189
{
position:absolute;top:702px;left:1444.4px;letter-spacing:-0.88px;
}
.s_page13_190
{
position:absolute;top:702px;left:1800.8px;letter-spacing:-0.66px;
}
.s_page13_191
{
position:absolute;top:702px;left:2306.95px;letter-spacing:-1.74px;
}
.s_page13_192
{
position:absolute;top:702px;left:3320.7px;
}
.s_page13_193
{
position:absolute;top:702px;left:3739.97px;letter-spacing:-0.44px;
}
.s_page13_194
{
position:absolute;top:702px;left:4438.12px;letter-spacing:-1.24px;
}
.s_page13_195
{
position:absolute;top:702px;left:5155.48px;letter-spacing:-0.76px;
}
.s_page13_196
{
position:absolute;top:702px;left:5755.95px;
}
.s_page13_197
{
position:absolute;top:702px;left:6011.31px;letter-spacing:-0.4px;
}
.s_page13_198
{
position:absolute;top:1118.69px;left:0px;
}
.s_page13_199
{
position:absolute;top:1118.69px;left:639.94px;letter-spacing:0px;
}
.s_page13_200
{
position:absolute;top:109.95px;left:126.08px;letter-spacing:-10.08px;
}
.s_page13_201
{
position:absolute;top:-18px;left:0px;
}
.s_page13_202
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.36px;
}
.s_page13_203
{
position:absolute;top:-18px;left:1104.81px;
}
.s_page13_204
{
position:absolute;top:-18px;left:1341.93px;
}
.s_page13_205
{
position:absolute;top:-18px;left:1674.32px;
}
.s_page13_206
{
position:absolute;top:-18px;left:2489.83px;letter-spacing:0px;
}
.s_page13_207
{
position:absolute;top:-18px;left:3299.82px;letter-spacing:-0.21px;
}
.s_page13_208
{
position:absolute;top:-18px;left:3991.49px;
}
.s_page13_209
{
position:absolute;top:-18px;left:4889.78px;letter-spacing:-0.36px;
}
.s_page13_210
{
position:absolute;top:-18px;left:5354.66px;
}
.s_page13_211
{
position:absolute;top:-18px;left:6285.61px;letter-spacing:-1.65px;
}
.s_page13_212
{
position:absolute;top:-18px;left:6940.08px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page13_213
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.58px;
}
.s_page13_214
{
position:absolute;top:342px;left:1446.33px;
}
.s_page13_215
{
position:absolute;top:342px;left:2172.07px;
}
.s_page13_216
{
position:absolute;top:342px;left:2639.35px;letter-spacing:-0.72px;
}
.s_page13_217
{
position:absolute;top:342px;left:3164.94px;
}
.s_page13_218
{
position:absolute;top:342px;left:3584.21px;letter-spacing:-0.72px;
}
.s_page13_219
{
position:absolute;top:342px;left:4204.36px;letter-spacing:-0.44px;
}
.s_page13_220
{
position:absolute;top:342px;left:4902.51px;letter-spacing:-1.24px;
}
.s_page13_221
{
position:absolute;top:342px;left:5619.87px;letter-spacing:-0.65px;
}
.s_page13_222
{
position:absolute;top:758.69px;left:0px;
}
.s_page13_223
{
position:absolute;top:758.69px;left:639.94px;letter-spacing:0px;
}
.s_page13_224
{
position:absolute;top:-5.54px;left:156.41px;
}
.s_page13_225
{
position:absolute;top:-17.65px;left:0px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page13_226
{
position:absolute;top:-17.65px;left:683.26px;letter-spacing:16.36px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page13_227
{
position:absolute;top:-17.65px;left:3214.2px;letter-spacing:14.4px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page13_228
{
position:absolute;top:293.8px;left:112.01px;
}
.s_page13_229
{
position:absolute;top:293.8px;left:420.81px;letter-spacing:-1.44px;
}
.s_page13_230
{
position:absolute;top:293.8px;left:1617.02px;letter-spacing:-1.02px;
}
.s_page13_231
{
position:absolute;top:293.8px;left:3531.76px;
}
.s_page13_232
{
position:absolute;top:293.8px;left:4567.25px;letter-spacing:-1.92px;
}
.s_page13_233
{
position:absolute;top:293.8px;left:5976.57px;letter-spacing:-0.85px;
}
.s_page13_234
{
position:absolute;top:293.8px;left:6774.96px;letter-spacing:-0.96px;
}
.s_page13_235
{
position:absolute;top:1124.1px;left:405.01px;letter-spacing:-1.56px;
}
.s_page13_236
{
position:absolute;top:1124.1px;left:1003.95px;
}
.s_page13_237
{
position:absolute;top:1124.1px;left:2073.86px;letter-spacing:-0.27px;
}
.s_page13_238
{
position:absolute;top:1124.1px;left:5673.82px;letter-spacing:-1.23px;
}
.s_page13_239
{
position:absolute;top:1124.1px;left:6641.24px;
}
.s_page13_240
{
position:absolute;top:1861.1px;left:369.97px;
}
.s_page13_241
{
position:absolute;top:1861.1px;left:1528.95px;letter-spacing:-1.75px;
}
.s_page13_242
{
position:absolute;top:1861.1px;left:3697.59px;
}
.s_page13_243
{
position:absolute;top:2598.11px;left:368.17px;letter-spacing:-1.92px;
}
.s_page13_244
{
position:absolute;top:2598.11px;left:3624.27px;letter-spacing:-0.5px;
}
.s_page13_245
{
position:absolute;top:2598.11px;left:5836.17px;letter-spacing:-1.4px;
}
.s_page13_246
{
position:absolute;top:2598.11px;left:6510.56px;letter-spacing:2.4px;
}
.s_page13_247
{
position:absolute;top:3335.12px;left:370.21px;letter-spacing:-1.2px;
}
.s_page13_248
{
position:absolute;top:3335.12px;left:1437.15px;letter-spacing:-3.71px;
}
.s_page13_249
{
position:absolute;top:3335.12px;left:3725.07px;letter-spacing:-0.85px;
}
.s_page13_250
{
position:absolute;top:4072.13px;left:371.41px;letter-spacing:-1.92px;
}
.s_page13_251
{
position:absolute;top:4072.13px;left:3189.75px;letter-spacing:-0.37px;
}
.s_page13_252
{
position:absolute;top:4072.13px;left:5913.57px;letter-spacing:-1.4px;
}
.s_page13_253
{
position:absolute;top:4072.13px;left:6591.32px;
}
.s_page13_254
{
position:absolute;top:4809.14px;left:365.89px;letter-spacing:-1.92px;
}
.s_page13_255
{
position:absolute;top:4809.14px;left:1622.55px;
}
.s_page13_256
{
position:absolute;top:4629.14px;left:5894.85px;letter-spacing:-0.15px;
}
.s_page13_257
{
position:absolute;top:4989.14px;left:6398.72px;
}
.s_page13_258
{
position:absolute;top:5546.14px;left:385.45px;letter-spacing:-10.08px;
}
.s_page13_259
{
position:absolute;top:5546.14px;left:3901.71px;letter-spacing:-0.18px;
}
.s_page13_260
{
position:absolute;top:5546.14px;left:6160.65px;
}
.s_page13_261
{
position:absolute;top:5546.14px;left:6557.12px;letter-spacing:-2.16px;
}
.s_page13_262
{
position:absolute;top:6283.15px;left:362.53px;letter-spacing:-1.8px;
}
.s_page13_263
{
position:absolute;top:6283.15px;left:1416.39px;
}
.s_page13_264
{
position:absolute;top:6283.15px;left:3958.35px;
}
.s_page13_265
{
position:absolute;top:-18px;left:0px;
}
.s_page13_266
{
position:absolute;top:-18px;left:726.95px;letter-spacing:-1.71px;
}
.s_page13_267
{
position:absolute;top:-18px;left:1352.62px;letter-spacing:-1.16px;
}
.s_page13_268
{
position:absolute;top:-18px;left:244.68px;letter-spacing:-0.15px;
}
.s_page13_269
{
position:absolute;top:-18px;left:1832.74px;
}
.s_page13_270
{
position:absolute;top:-18px;left:0px;
}
.s_page13_271
{
position:absolute;top:-18px;left:653.75px;letter-spacing:-0.12px;
}
.s_page13_272
{
position:absolute;top:-18px;left:1917.09px;letter-spacing:-0.92px;
}
.s_page13_273
{
position:absolute;top:-18px;left:547.67px;letter-spacing:-1.4px;
}
.s_page13_274
{
position:absolute;top:-18px;left:1225.42px;
}
.s_page13_275
{
position:absolute;top:-18px;left:20.16px;letter-spacing:-1.4px;
}
.s_page13_276
{
position:absolute;top:-18px;left:694.55px;text-rendering:optimizeLegibility;
}
.s_page13_277
{
position:absolute;top:-18px;left:0px;
}
.s_page13_278
{
position:absolute;top:-18px;left:65.28px;
}
.s_page13_279
{
position:absolute;top:-18px;left:461.75px;letter-spacing:-2.16px;
}
.s_page13_280
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.23px;
}
.s_page13_281
{
position:absolute;top:-18px;left:967.43px;
}
.s_page13_282
{
position:absolute;top:-18px;left:578.99px;letter-spacing:-0.24px;
}
.s_page13_283
{
position:absolute;top:-18px;left:1215.94px;letter-spacing:-0.29px;
}
.s_page13_284
{
position:absolute;top:128.09px;left:616.04px;
}
.s_page13_285
{
position:absolute;top:128.09px;left:659.95px;letter-spacing:-1.36px;
}
.s_page13_286
{
position:absolute;top:128.09px;left:1706.02px;letter-spacing:-0.2px;
}
.s_page13_287
{
position:absolute;top:128.09px;left:2600.61px;
}
.s_page13_288
{
position:absolute;top:128.09px;left:2902.45px;letter-spacing:-0.7px;
}
.s_page13_289
{
position:absolute;top:128.09px;left:3615.32px;letter-spacing:-2.3px;
}
.s_page13_290
{
position:absolute;top:128.09px;left:4310.27px;letter-spacing:-2.1px;
}
.s_page13_291
{
position:absolute;top:128.09px;left:4532.87px;letter-spacing:-0.23px;
}
.s_page13_292
{
position:absolute;top:128.09px;left:5286.06px;letter-spacing:-0.78px;
}
.s_page13_293
{
position:absolute;top:128.09px;left:5877.14px;
}
.s_page13_294
{
position:absolute;top:128.09px;left:6244.21px;letter-spacing:-1.03px;
}
.s_page13_295
{
position:absolute;top:128.09px;left:6933.57px;letter-spacing:-0.23px;
}
.s_page13_296
{
position:absolute;top:128.09px;left:7686.76px;letter-spacing:-0.35px;
}
.s_page13_297
{
position:absolute;top:528.09px;left:659.95px;letter-spacing:-0.12px;
}
.s_page13_298
{
position:absolute;top:528.09px;left:2000.02px;
}
.s_page13_299
{
position:absolute;top:528.09px;left:2502.61px;
}
.s_page13_300
{
position:absolute;top:528.09px;left:3578.08px;letter-spacing:-0.35px;
}
.s_page13_301
{
position:absolute;top:528.09px;left:5206.83px;
}
.s_page13_302
{
position:absolute;top:528.09px;left:5507.55px;
}
.s_page13_303
{
position:absolute;top:528.09px;left:6009.02px;
}
.s_page13_304
{
position:absolute;top:528.09px;left:6748.21px;
}
.s_page13_305
{
position:absolute;top:528.09px;left:7095.41px;letter-spacing:-0.78px;
}
.s_page13_306
{
position:absolute;top:528.09px;left:8177.04px;
}
.s_page13_307
{
position:absolute;top:528.09px;left:8679.63px;letter-spacing:-0.2px;
}
.s_page13_308
{
position:absolute;top:928.09px;left:659.95px;
}
.s_page13_309
{
position:absolute;top:928.09px;left:1051.39px;
}
.s_page13_310
{
position:absolute;top:928.09px;left:2081.49px;
}
.s_page13_311
{
position:absolute;top:928.09px;left:2642.88px;
}
.s_page13_312
{
position:absolute;top:928.09px;left:3034.31px;letter-spacing:-0.23px;
}
.s_page13_313
{
position:absolute;top:928.09px;left:3787.5px;letter-spacing:-0.78px;
}
.s_page13_314
{
position:absolute;top:58.88px;left:0px;
}

.page13_btn1 {
	position:absolute;
	top: 797px;
	left: 292px;
}
.page13_btn2 {
	position:absolute;
	top: 797px;
	left: 235px;
}

.page13_position1 {
	position:absolute;
	top: 372px;
	left: 210px;
}
.page13_position2 {
	position:absolute;
	top: 409px;
	left: 336px;
}
.page13_position3 {
	position:absolute;
	top: 445px;
	left: 103px;
}
.page13_position4 {
	position:absolute;
	top: 482px;
	left: 336px;
}
.page13_position5 {
	position:absolute;
	top: 520px;
	left: 103px;
}
.page13_position6 {
	position:absolute;
	top: 556px;
	left: 210px;
}
.page13_position7 {
	position:absolute;
	top: 593px;
	left: 103px;
}
.page13_position8 {
	position:absolute;
	top: 630px;
	left: 337px;
}


#text1{
	position: absolute;
	top: 722px;
	left: 105px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 722px;
	left: 199px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 722px;
	left: 321px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 722px;
	left: 436px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 743px;
	left: 105px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 743px;
	left: 199px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 743px;
	left: 321px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 116px;
	left: 255px;
	width: 130px;
}
#box2{
	position:absolute;
	top: 207px;
	left: 257px;
	width: 128px;
}
#box3{
	position:absolute;
	top: 280px;
	left: 268px;
	width: 128px;
}
#box4{
	position:absolute;
	top: 375px;
	left: 228px;
	width: 129px;
}
#box5{
	position:absolute;
	top: 449px;
	left: 276px;
	width: 127px;
}
#box6{
	position:absolute;
	top: 560px;
	left: 192px;
	width: 124px;
}
#box7{
	position:absolute;
	top: 646px;
	left: 84px;
	width: 128px;
}
.p18_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page18_btn1 {
	position:absolute;
	top: 803px;
	left: 269px;
}
