.d_page22-23_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page22-23_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page22-23_3
{
width:5620.67px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);
}
.d_page22-23_4
{
width:9864.51px;height:1414.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page22-23_5
{
width:4841.64px;height:2534.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page22-23_6
{
width:4579.2px;height:2534.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page22-23_7
{
width:5973.24px;height:2479.94px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page22-23_8
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page22-23_9
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page22-23_10
{
width:5265.17px;height:2343.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page22-23_11
{
width:4940.9px;height:2534.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page22-23_12
{
width:9414.8px;height:1183.04px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page22-23_13
{
width:5518.8px;height:2343.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page22-23_14
{
width:8121.6px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.s_page22-23_15
{
position:absolute;top:-11.04px;left:115.05px;
}
.s_page22-23_16
{
position:absolute;top:-17.65px;left:0px;letter-spacing:12px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page22-23_17
{
position:absolute;top:-17.65px;left:630.93px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page22-23_18
{
position:absolute;top:-17.65px;left:1628.16px;letter-spacing:9px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page22-23_19
{
position:absolute;top:-17.65px;left:2114.13px;letter-spacing:14.4px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page22-23_20
{
position:absolute;top:-21px;left:0px;letter-spacing:-4.34px;
}
.s_page22-23_21
{
position:absolute;top:-21px;left:249.76px;letter-spacing:-1.15px;
}
.s_page22-23_22
{
position:absolute;top:-21px;left:1307.59px;letter-spacing:-0.47px;
}
.s_page22-23_23
{
position:absolute;top:-21px;left:3061.5px;
}
.s_page22-23_24
{
position:absolute;top:-21px;left:3339.54px;
}
.s_page22-23_25
{
position:absolute;top:-21px;left:4280.04px;letter-spacing:-2.24px;
}
.s_page22-23_26
{
position:absolute;top:-21px;left:4734.2px;letter-spacing:-2.1px;
}
.s_page22-23_27
{
position:absolute;top:-21px;left:4956.8px;letter-spacing:-1.15px;
}
.s_page22-23_28
{
position:absolute;top:-21px;left:6014.63px;letter-spacing:-0.47px;
}
.s_page22-23_29
{
position:absolute;top:-21px;left:6553.06px;letter-spacing:-0.49px;
}
.s_page22-23_30
{
position:absolute;top:-21px;left:7108.29px;letter-spacing:-0.26px;
}
.s_page22-23_31
{
position:absolute;top:-21px;left:8802.56px;letter-spacing:-2.8px;
}
.s_page22-23_32
{
position:absolute;top:-21px;left:9135.48px;
}
.s_page22-23_33
{
position:absolute;top:379px;left:0px;letter-spacing:-0.47px;
}
.s_page22-23_34
{
position:absolute;top:379px;left:1752.79px;letter-spacing:-0.45px;
}
.s_page22-23_35
{
position:absolute;top:379px;left:2883.15px;
}
.s_page22-23_36
{
position:absolute;top:379px;left:3378.75px;letter-spacing:-0.84px;
}
.s_page22-23_37
{
position:absolute;top:379px;left:4186.82px;
}
.s_page22-23_38
{
position:absolute;top:379px;left:4720.21px;
}
.s_page22-23_39
{
position:absolute;top:379px;left:5831.52px;letter-spacing:-2.1px;
}
.s_page22-23_40
{
position:absolute;top:379px;left:6054.12px;letter-spacing:-1.08px;
}
.s_page22-23_41
{
position:absolute;top:379px;left:7030.19px;letter-spacing:-2.8px;
}
.s_page22-23_42
{
position:absolute;top:379px;left:7364.23px;
}
.s_page22-23_43
{
position:absolute;top:379px;left:8401.34px;
}
.s_page22-23_44
{
position:absolute;top:779px;left:0px;letter-spacing:-2.15px;
}
.s_page22-23_45
{
position:absolute;top:779px;left:696.64px;letter-spacing:-0.73px;
}
.s_page22-23_46
{
position:absolute;top:779px;left:1369.47px;
}
.s_page22-23_47
{
position:absolute;top:779px;left:2215.34px;
}
.s_page22-23_48
{
position:absolute;top:779px;left:2999.9px;letter-spacing:-0.4px;
}
.s_page22-23_49
{
position:absolute;top:779px;left:4988.44px;letter-spacing:-0.35px;
}
.s_page22-23_50
{
position:absolute;top:779px;left:6944.51px;letter-spacing:-0.46px;
}
.s_page22-23_51
{
position:absolute;top:779px;left:8640.45px;
}
.s_page22-23_52
{
position:absolute;top:1179px;left:0px;
}
.s_page22-23_53
{
position:absolute;top:1179px;left:1482.86px;
}
.s_page22-23_54
{
position:absolute;top:1179px;left:2117.89px;letter-spacing:-2.3px;
}
.s_page22-23_55
{
position:absolute;top:1179px;left:2811.73px;letter-spacing:-1.49px;
}
.s_page22-23_56
{
position:absolute;top:1179px;left:3623.16px;
}
.s_page22-23_57
{
position:absolute;top:1179px;left:4023.55px;
}
.s_page22-23_58
{
position:absolute;top:1179px;left:4526.15px;letter-spacing:-0.71px;
}
.s_page22-23_59
{
position:absolute;top:1179px;left:6380.85px;
}
.s_page22-23_60
{
position:absolute;top:1179px;left:6728.05px;letter-spacing:-2.3px;
}
.s_page22-23_61
{
position:absolute;top:1179px;left:7398.08px;
}
.s_page22-23_62
{
position:absolute;top:1179px;left:7900.68px;letter-spacing:-0.47px;
}
.s_page22-23_63
{
position:absolute;top:-18px;left:676.8px;letter-spacing:-0.42px;
}
.s_page22-23_64
{
position:absolute;top:-18px;left:1141.2px;
}
.s_page22-23_65
{
position:absolute;top:-18px;left:1595.75px;letter-spacing:-2.48px;
}
.s_page22-23_66
{
position:absolute;top:-18px;left:1876.31px;letter-spacing:-3px;
}
.s_page22-23_67
{
position:absolute;top:-18px;left:2067.82px;letter-spacing:-1.1px;
}
.s_page22-23_68
{
position:absolute;top:-18px;left:2800.29px;letter-spacing:-1.3px;
}
.s_page22-23_69
{
position:absolute;top:-18px;left:3384.92px;
}
.s_page22-23_70
{
position:absolute;top:-18px;left:3964.51px;letter-spacing:-0.24px;
}
.s_page22-23_71
{
position:absolute;top:342px;left:676.8px;letter-spacing:-0.24px;
}
.s_page22-23_72
{
position:absolute;top:342px;left:1968.47px;letter-spacing:-0.41px;
}
.s_page22-23_73
{
position:absolute;top:342px;left:3477.81px;letter-spacing:-0.17px;
}
.s_page22-23_74
{
position:absolute;top:702px;left:0px;
}
.s_page22-23_75
{
position:absolute;top:702px;left:233.03px;
}
.s_page22-23_76
{
position:absolute;top:702px;left:648.95px;letter-spacing:-1.2px;
}
.s_page22-23_77
{
position:absolute;top:702px;left:1565.49px;letter-spacing:-2.48px;
}
.s_page22-23_78
{
position:absolute;top:702px;left:1846.05px;
}
.s_page22-23_79
{
position:absolute;top:702px;left:2408.6px;letter-spacing:-0.91px;
}
.s_page22-23_80
{
position:absolute;top:702px;left:2947.39px;
}
.s_page22-23_81
{
position:absolute;top:702px;left:3012.67px;letter-spacing:-3px;
}
.s_page22-23_82
{
position:absolute;top:702px;left:3204.18px;
}
.s_page22-23_83
{
position:absolute;top:702px;left:3904.01px;letter-spacing:-2.48px;
}
.s_page22-23_84
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.72px;
}
.s_page22-23_85
{
position:absolute;top:1062px;left:1027.18px;
}
.s_page22-23_86
{
position:absolute;top:1062px;left:1532.37px;letter-spacing:-1.62px;
}
.s_page22-23_87
{
position:absolute;top:1062px;left:1951.88px;
}
.s_page22-23_88
{
position:absolute;top:1062px;left:2628.91px;letter-spacing:-0.76px;
}
.s_page22-23_89
{
position:absolute;top:1062px;left:3883.14px;letter-spacing:-2.48px;
}
.s_page22-23_90
{
position:absolute;top:1062px;left:4163.7px;letter-spacing:-2.64px;
}
.s_page22-23_91
{
position:absolute;top:1422px;left:0px;
}
.s_page22-23_92
{
position:absolute;top:1422px;left:402.71px;
}
.s_page22-23_93
{
position:absolute;top:1422px;left:965.26px;letter-spacing:-0.91px;
}
.s_page22-23_94
{
position:absolute;top:1422px;left:1510.53px;letter-spacing:-0.92px;
}
.s_page22-23_95
{
position:absolute;top:1422px;left:2847.78px;
}
.s_page22-23_96
{
position:absolute;top:1422px;left:3084.9px;letter-spacing:-1.22px;
}
.s_page22-23_97
{
position:absolute;top:1782px;left:0px;
}
.s_page22-23_98
{
position:absolute;top:1782px;left:726.23px;
}
.s_page22-23_99
{
position:absolute;top:1782px;left:1198.06px;letter-spacing:-1.4px;
}
.s_page22-23_100
{
position:absolute;top:1782px;left:1894.53px;
}
.s_page22-23_101
{
position:absolute;top:1782px;left:3093.07px;
}
.s_page22-23_102
{
position:absolute;top:1782px;left:3825.54px;letter-spacing:-1.08px;
}
.s_page22-23_103
{
position:absolute;top:1782px;left:4445.93px;letter-spacing:-2.4px;
}
.s_page22-23_104
{
position:absolute;top:2142px;left:0px;letter-spacing:-3px;
}
.s_page22-23_105
{
position:absolute;top:2142px;left:186.96px;letter-spacing:-0.58px;
}
.s_page22-23_106
{
position:absolute;top:2142px;left:827.75px;
}
.s_page22-23_107
{
position:absolute;top:2142px;left:1299.58px;letter-spacing:-0.44px;
}
.s_page22-23_108
{
position:absolute;top:2142px;left:1926.94px;letter-spacing:-1.36px;
}
.s_page22-23_109
{
position:absolute;top:2142px;left:2625.81px;letter-spacing:-0.44px;
}
.s_page22-23_110
{
position:absolute;top:-18px;left:688.3px;letter-spacing:-0.29px;
}
.s_page22-23_111
{
position:absolute;top:-18px;left:1655.97px;letter-spacing:-1.32px;
}
.s_page22-23_112
{
position:absolute;top:-18px;left:2849.23px;letter-spacing:-0.51px;
}
.s_page22-23_113
{
position:absolute;top:342px;left:688.3px;letter-spacing:-0.57px;
}
.s_page22-23_114
{
position:absolute;top:342px;left:1543.17px;
}
.s_page22-23_115
{
position:absolute;top:342px;left:2403.56px;letter-spacing:-0.66px;
}
.s_page22-23_116
{
position:absolute;top:342px;left:2906.36px;letter-spacing:-0.51px;
}
.s_page22-23_117
{
position:absolute;top:342px;left:3872.1px;
}
.s_page22-23_118
{
position:absolute;top:702px;left:0px;letter-spacing:-0.53px;
}
.s_page22-23_119
{
position:absolute;top:702px;left:519.35px;letter-spacing:-3.12px;
}
.s_page22-23_120
{
position:absolute;top:702px;left:842.86px;letter-spacing:-3px;
}
.s_page22-23_121
{
position:absolute;top:702px;left:1034.38px;letter-spacing:-1.08px;
}
.s_page22-23_122
{
position:absolute;top:702px;left:1740.21px;letter-spacing:-2.48px;
}
.s_page22-23_123
{
position:absolute;top:702px;left:2020.77px;letter-spacing:-0.59px;
}
.s_page22-23_124
{
position:absolute;top:702px;left:3896.82px;letter-spacing:-1.02px;
}
.s_page22-23_125
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.16px;
}
.s_page22-23_126
{
position:absolute;top:1062px;left:1012.3px;
}
.s_page22-23_127
{
position:absolute;top:1062px;left:1484.14px;letter-spacing:-0.63px;
}
.s_page22-23_128
{
position:absolute;top:1062px;left:2643.79px;letter-spacing:-0.42px;
}
.s_page22-23_129
{
position:absolute;top:1062px;left:3108.19px;letter-spacing:-1.08px;
}
.s_page22-23_130
{
position:absolute;top:1062px;left:3809.45px;letter-spacing:-0.48px;
}
.s_page22-23_131
{
position:absolute;top:1422px;left:0px;
}
.s_page22-23_132
{
position:absolute;top:1422px;left:289.43px;letter-spacing:-0.93px;
}
.s_page22-23_133
{
position:absolute;top:1422px;left:1092.22px;
}
.s_page22-23_134
{
position:absolute;top:1422px;left:1511.49px;letter-spacing:-0.21px;
}
.s_page22-23_135
{
position:absolute;top:1422px;left:2203.16px;letter-spacing:-2.48px;
}
.s_page22-23_136
{
position:absolute;top:1422px;left:2483.72px;
}
.s_page22-23_137
{
position:absolute;top:1422px;left:2791.63px;
}
.s_page22-23_138
{
position:absolute;top:1422px;left:3589.61px;
}
.s_page22-23_139
{
position:absolute;top:1422px;left:3879.05px;
}
.s_page22-23_140
{
position:absolute;top:1782px;left:0px;letter-spacing:-2.45px;
}
.s_page22-23_141
{
position:absolute;top:1782px;left:395.03px;
}
.s_page22-23_142
{
position:absolute;top:1782px;left:1032.7px;letter-spacing:-2.13px;
}
.s_page22-23_143
{
position:absolute;top:1782px;left:1783.65px;
}
.s_page22-23_144
{
position:absolute;top:1782px;left:2255.49px;letter-spacing:-3px;
}
.s_page22-23_145
{
position:absolute;top:1782px;left:2447px;letter-spacing:-1.05px;
}
.s_page22-23_146
{
position:absolute;top:1782px;left:3309.07px;
}
.s_page22-23_147
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.84px;
}
.s_page22-23_148
{
position:absolute;top:-18px;left:568.86px;
}
.s_page22-23_149
{
position:absolute;top:-18px;left:1363.25px;letter-spacing:-1px;
}
.s_page22-23_150
{
position:absolute;top:-18px;left:2021.56px;
}
.s_page22-23_151
{
position:absolute;top:-18px;left:2284.36px;
}
.s_page22-23_152
{
position:absolute;top:-18px;left:3290.18px;letter-spacing:-2.48px;
}
.s_page22-23_153
{
position:absolute;top:-18px;left:3564.5px;letter-spacing:-1.32px;
}
.s_page22-23_154
{
position:absolute;top:-18px;left:4430.17px;
}
.s_page22-23_155
{
position:absolute;top:-18px;left:4962.24px;letter-spacing:-0.48px;
}
.s_page22-23_156
{
position:absolute;top:342px;left:568.86px;letter-spacing:-2.4px;
}
.s_page22-23_157
{
position:absolute;top:342px;left:943.01px;letter-spacing:-1.38px;
}
.s_page22-23_158
{
position:absolute;top:342px;left:1366.12px;
}
.s_page22-23_159
{
position:absolute;top:342px;left:2863.46px;letter-spacing:-0.58px;
}
.s_page22-23_160
{
position:absolute;top:342px;left:3472.33px;
}
.s_page22-23_161
{
position:absolute;top:342px;left:3805.69px;letter-spacing:-1.8px;
}
.s_page22-23_162
{
position:absolute;top:342px;left:4840.08px;letter-spacing:-0.18px;
}
.s_page22-23_163
{
position:absolute;top:702px;left:0px;
}
.s_page22-23_164
{
position:absolute;top:702px;left:449.03px;
}
.s_page22-23_165
{
position:absolute;top:702px;left:1053.34px;letter-spacing:-1.15px;
}
.s_page22-23_166
{
position:absolute;top:702px;left:2004.21px;
}
.s_page22-23_167
{
position:absolute;top:702px;left:2540.6px;letter-spacing:-0.96px;
}
.s_page22-23_168
{
position:absolute;top:702px;left:3386.1px;letter-spacing:-0.72px;
}
.s_page22-23_169
{
position:absolute;top:702px;left:5003.92px;
}
.s_page22-23_170
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.44px;
}
.s_page22-23_171
{
position:absolute;top:1062px;left:623.99px;letter-spacing:-0.64px;
}
.s_page22-23_172
{
position:absolute;top:1062px;left:1193.74px;letter-spacing:-0.36px;
}
.s_page22-23_173
{
position:absolute;top:1062px;left:1655.26px;letter-spacing:-0.51px;
}
.s_page22-23_174
{
position:absolute;top:1062px;left:2616.92px;
}
.s_page22-23_175
{
position:absolute;top:1062px;left:3036.19px;letter-spacing:-1.51px;
}
.s_page22-23_176
{
position:absolute;top:1062px;left:3843.06px;letter-spacing:-1.6px;
}
.s_page22-23_177
{
position:absolute;top:1062px;left:4456.73px;letter-spacing:-1.56px;
}
.s_page22-23_178
{
position:absolute;top:1062px;left:5662.72px;
}
.s_page22-23_179
{
position:absolute;top:1422px;left:0px;
}
.s_page22-23_180
{
position:absolute;top:1422px;left:471.83px;
}
.s_page22-23_181
{
position:absolute;top:1422px;left:1053.34px;letter-spacing:-0.48px;
}
.s_page22-23_182
{
position:absolute;top:1422px;left:2557.4px;letter-spacing:-0.94px;
}
.s_page22-23_183
{
position:absolute;top:1422px;left:3821.94px;letter-spacing:-1.68px;
}
.s_page22-23_184
{
position:absolute;top:1422px;left:4495.37px;
}
.s_page22-23_185
{
position:absolute;top:1422px;left:4556.09px;
}
.s_page22-23_186
{
position:absolute;top:1422px;left:5088.4px;
}
.s_page22-23_187
{
position:absolute;top:1422px;left:5507.67px;
}
.s_page22-23_188
{
position:absolute;top:1782px;left:0px;
}
.s_page22-23_189
{
position:absolute;top:1782px;left:289.43px;letter-spacing:-1.32px;
}
.s_page22-23_190
{
position:absolute;top:1782px;left:1234.78px;letter-spacing:-0.29px;
}
.s_page22-23_191
{
position:absolute;top:1782px;left:2346.93px;
}
.s_page22-23_192
{
position:absolute;top:1782px;left:2990.12px;letter-spacing:-2.48px;
}
.s_page22-23_193
{
position:absolute;top:1782px;left:3266.59px;
}
.s_page22-23_194
{
position:absolute;top:1782px;left:3685.87px;
}
.s_page22-23_195
{
position:absolute;top:1782px;left:4487.93px;
}
.s_page22-23_196
{
position:absolute;top:1782px;left:4955.2px;letter-spacing:-0.36px;
}
.s_page22-23_197
{
position:absolute;top:2142px;left:0px;letter-spacing:-1.59px;
}
.s_page22-23_198
{
position:absolute;top:2142px;left:955.43px;letter-spacing:-0.24px;
}
.s_page22-23_199
{
position:absolute;top:2142px;left:2205.33px;
}
.s_page22-23_200
{
position:absolute;top:2142px;left:2624.6px;letter-spacing:-0.84px;
}
.s_page22-23_201
{
position:absolute;top:-5.54px;left:122.01px;
}
.s_page22-23_202
{
position:absolute;top:-18px;left:736.61px;letter-spacing:-0.42px;
}
.s_page22-23_203
{
position:absolute;top:-18px;left:1201.01px;letter-spacing:-0.69px;
}
.s_page22-23_204
{
position:absolute;top:-18px;left:1995.64px;letter-spacing:-2.4px;
}
.s_page22-23_205
{
position:absolute;top:-18px;left:2369.79px;letter-spacing:-0.63px;
}
.s_page22-23_206
{
position:absolute;top:-18px;left:3142.81px;letter-spacing:-3.41px;
}
.s_page22-23_207
{
position:absolute;top:-18px;left:4315.68px;letter-spacing:-2.48px;
}
.s_page22-23_208
{
position:absolute;top:342px;left:736.61px;
}
.s_page22-23_209
{
position:absolute;top:342px;left:1652.92px;letter-spacing:-2.85px;
}
.s_page22-23_210
{
position:absolute;top:342px;left:2408.67px;
}
.s_page22-23_211
{
position:absolute;top:342px;left:2645.78px;
}
.s_page22-23_212
{
position:absolute;top:342px;left:2978.18px;
}
.s_page22-23_213
{
position:absolute;top:342px;left:3760.57px;letter-spacing:-0.21px;
}
.s_page22-23_214
{
position:absolute;top:702px;left:0px;letter-spacing:-0.51px;
}
.s_page22-23_215
{
position:absolute;top:702px;left:1465.17px;letter-spacing:-2.16px;
}
.s_page22-23_216
{
position:absolute;top:702px;left:2049.33px;letter-spacing:-1.08px;
}
.s_page22-23_217
{
position:absolute;top:702px;left:2896.75px;
}
.s_page22-23_218
{
position:absolute;top:702px;left:3316.03px;letter-spacing:-0.72px;
}
.s_page22-23_219
{
position:absolute;top:702px;left:4131.77px;letter-spacing:-0.48px;
}
.s_page22-23_220
{
position:absolute;top:1062px;left:0px;
}
.s_page22-23_221
{
position:absolute;top:1062px;left:289.43px;
}
.s_page22-23_222
{
position:absolute;top:1062px;left:1188.46px;
}
.s_page22-23_223
{
position:absolute;top:1062px;left:1439.74px;
}
.s_page22-23_224
{
position:absolute;top:1062px;left:1859.01px;
}
.s_page22-23_225
{
position:absolute;top:1062px;left:2531.48px;letter-spacing:-2.48px;
}
.s_page22-23_226
{
position:absolute;top:1062px;left:2808.68px;letter-spacing:-0.68px;
}
.s_page22-23_227
{
position:absolute;top:1062px;left:3428.59px;letter-spacing:-0.24px;
}
.s_page22-23_228
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.19px;
}
.s_page22-23_229
{
position:absolute;top:1422px;left:1673.73px;
}
.s_page22-23_230
{
position:absolute;top:1422px;left:2145.57px;letter-spacing:-0.08px;
}
.s_page22-23_231
{
position:absolute;top:1422px;left:4047.29px;
}
.s_page22-23_232
{
position:absolute;top:1422px;left:4723.85px;letter-spacing:-2.48px;
}
.s_page22-23_233
{
position:absolute;top:1782px;left:0px;
}
.s_page22-23_234
{
position:absolute;top:1782px;left:323.51px;letter-spacing:-0.84px;
}
.s_page22-23_235
{
position:absolute;top:1782px;left:1327.9px;letter-spacing:-0.18px;
}
.s_page22-23_236
{
position:absolute;top:1782px;left:2423px;letter-spacing:-1.62px;
}
.s_page22-23_237
{
position:absolute;top:1782px;left:2835.31px;letter-spacing:-1.22px;
}
.s_page22-23_238
{
position:absolute;top:1782px;left:4028.34px;
}
.s_page22-23_239
{
position:absolute;top:1782px;left:4485.29px;letter-spacing:-0.31px;
}
.s_page22-23_240
{
position:absolute;top:2142px;left:0px;letter-spacing:-1.71px;
}
.s_page22-23_241
{
position:absolute;top:2142px;left:808.07px;letter-spacing:-0.67px;
}
.s_page22-23_242
{
position:absolute;top:2142px;left:1382.38px;
}
.s_page22-23_243
{
position:absolute;top:2142px;left:2497.17px;
}
.s_page22-23_244
{
position:absolute;top:2142px;left:2969px;letter-spacing:-2.21px;
}
.s_page22-23_245
{
position:absolute;top:2142px;left:3570.91px;letter-spacing:-0.18px;
}
.s_page22-23_246
{
position:absolute;top:-18px;left:688.3px;letter-spacing:-2.16px;
}
.s_page22-23_247
{
position:absolute;top:-18px;left:1571.48px;
}
.s_page22-23_248
{
position:absolute;top:-18px;left:1808.6px;
}
.s_page22-23_249
{
position:absolute;top:-18px;left:2140.99px;letter-spacing:-0.1px;
}
.s_page22-23_250
{
position:absolute;top:-18px;left:3578.57px;letter-spacing:-0.55px;
}
.s_page22-23_251
{
position:absolute;top:342px;left:688.3px;letter-spacing:-0.36px;
}
.s_page22-23_252
{
position:absolute;top:342px;left:1622.13px;letter-spacing:-1.11px;
}
.s_page22-23_253
{
position:absolute;top:342px;left:2646.43px;
}
.s_page22-23_254
{
position:absolute;top:342px;left:2935.86px;letter-spacing:-0.93px;
}
.s_page22-23_255
{
position:absolute;top:342px;left:3696.41px;letter-spacing:-1.32px;
}
.s_page22-23_256
{
position:absolute;top:702px;left:0px;
}
.s_page22-23_257
{
position:absolute;top:702px;left:691.67px;
}
.s_page22-23_258
{
position:absolute;top:702px;left:1110.94px;letter-spacing:-1.02px;
}
.s_page22-23_259
{
position:absolute;top:702px;left:2511.8px;letter-spacing:-0.59px;
}
.s_page22-23_260
{
position:absolute;top:702px;left:3688.99px;letter-spacing:-1.1px;
}
.s_page22-23_261
{
position:absolute;top:1062px;left:0px;letter-spacing:-2.48px;
}
.s_page22-23_262
{
position:absolute;top:1062px;left:280.56px;
}
.s_page22-23_263
{
position:absolute;top:1062px;left:1107.1px;
}
.s_page22-23_264
{
position:absolute;top:1062px;left:1950.21px;
}
.s_page22-23_265
{
position:absolute;top:1062px;left:2422.04px;
}
.s_page22-23_266
{
position:absolute;top:1062px;left:2745.55px;
}
.s_page22-23_267
{
position:absolute;top:1062px;left:3553.14px;
}
.s_page22-23_268
{
position:absolute;top:1062px;left:3891.05px;
}
.s_page22-23_269
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.64px;
}
.s_page22-23_270
{
position:absolute;top:1422px;left:214.79px;
}
.s_page22-23_271
{
position:absolute;top:1422px;left:1199.97px;letter-spacing:-0.66px;
}
.s_page22-23_272
{
position:absolute;top:1422px;left:1721.49px;letter-spacing:-0.58px;
}
.s_page22-23_273
{
position:absolute;top:1422px;left:2345.72px;
}
.s_page22-23_274
{
position:absolute;top:1422px;left:2819.23px;letter-spacing:-0.72px;
}
.s_page22-23_275
{
position:absolute;top:1422px;left:3763.61px;
}
.s_page22-23_276
{
position:absolute;top:1782px;left:0px;
}
.s_page22-23_277
{
position:absolute;top:1782px;left:1028.14px;
}
.s_page22-23_278
{
position:absolute;top:1782px;left:1447.41px;
}
.s_page22-23_279
{
position:absolute;top:1782px;left:1897.4px;letter-spacing:-2.48px;
}
.s_page22-23_280
{
position:absolute;top:1782px;left:2177.96px;letter-spacing:-0.34px;
}
.s_page22-23_281
{
position:absolute;top:1782px;left:3402.18px;
}
.s_page22-23_282
{
position:absolute;top:1782px;left:3988.25px;
}
.s_page22-23_283
{
position:absolute;top:2142px;left:0px;letter-spacing:-1.3px;
}
.s_page22-23_284
{
position:absolute;top:2142px;left:814.07px;
}
.s_page22-23_285
{
position:absolute;top:2142px;left:1640.62px;
}
.s_page22-23_286
{
position:absolute;top:2142px;left:2483.72px;
}
.s_page22-23_287
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.66px;
}
.s_page22-23_288
{
position:absolute;top:-18px;left:1082.15px;letter-spacing:-0.29px;
}
.s_page22-23_289
{
position:absolute;top:-18px;left:2070.22px;letter-spacing:-3px;
}
.s_page22-23_290
{
position:absolute;top:-18px;left:2261.74px;letter-spacing:-1.62px;
}
.s_page22-23_291
{
position:absolute;top:-18px;left:3052.04px;
}
.s_page22-23_292
{
position:absolute;top:-18px;left:3527.47px;letter-spacing:-1.22px;
}
.s_page22-23_293
{
position:absolute;top:-18px;left:4597.14px;letter-spacing:-0.81px;
}
.s_page22-23_294
{
position:absolute;top:-18px;left:5474.32px;text-rendering:optimizeLegibility;
}
.s_page22-23_295
{
position:absolute;top:-18px;left:6408.86px;letter-spacing:-0.16px;
}
.s_page22-23_296
{
position:absolute;top:-18px;left:7321.33px;
}
.s_page22-23_297
{
position:absolute;top:-18px;left:7572.6px;
}
.s_page22-23_298
{
position:absolute;top:-18px;left:7991.88px;letter-spacing:-0.44px;
}
.s_page22-23_299
{
position:absolute;top:-18px;left:8567.63px;letter-spacing:-2.06px;
}
.s_page22-23_300
{
position:absolute;top:342px;left:0px;
}
.s_page22-23_301
{
position:absolute;top:342px;left:471.83px;letter-spacing:-0.41px;
}
.s_page22-23_302
{
position:absolute;top:342px;left:1366.05px;letter-spacing:-0.12px;
}
.s_page22-23_303
{
position:absolute;top:342px;left:2843.72px;letter-spacing:-0.93px;
}
.s_page22-23_304
{
position:absolute;top:342px;left:3597.78px;letter-spacing:-2.48px;
}
.s_page22-23_305
{
position:absolute;top:342px;left:3878.34px;
}
.s_page22-23_306
{
position:absolute;top:342px;left:4727.45px;
}
.s_page22-23_307
{
position:absolute;top:342px;left:5016.88px;
}
.s_page22-23_308
{
position:absolute;top:342px;left:5540.08px;
}
.s_page22-23_309
{
position:absolute;top:342px;left:5959.35px;
}
.s_page22-23_310
{
position:absolute;top:342px;left:6526.94px;
}
.s_page22-23_311
{
position:absolute;top:342px;left:7329px;
}
.s_page22-23_312
{
position:absolute;top:342px;left:7747.79px;letter-spacing:-1.36px;
}
.s_page22-23_313
{
position:absolute;top:342px;left:8443.3px;letter-spacing:-2.4px;
}
.s_page22-23_314
{
position:absolute;top:702px;left:0px;
}
.s_page22-23_315
{
position:absolute;top:702px;left:1052.62px;
}
.s_page22-23_316
{
position:absolute;top:702px;left:1524.45px;letter-spacing:-0.16px;
}
.s_page22-23_317
{
position:absolute;top:702px;left:2532.67px;
}
.s_page22-23_318
{
position:absolute;top:702px;left:2982.67px;letter-spacing:-0.93px;
}
.s_page22-23_319
{
position:absolute;top:702px;left:3812.82px;
}
.s_page22-23_320
{
position:absolute;top:702px;left:4226.33px;letter-spacing:-2.68px;
}
.s_page22-23_321
{
position:absolute;top:-18px;left:704.92px;letter-spacing:-1.5px;
}
.s_page22-23_322
{
position:absolute;top:-18px;left:1162.6px;letter-spacing:-0.96px;
}
.s_page22-23_323
{
position:absolute;top:-18px;left:2262.26px;letter-spacing:-0.63px;
}
.s_page22-23_324
{
position:absolute;top:-18px;left:3760.08px;letter-spacing:-0.72px;
}
.s_page22-23_325
{
position:absolute;top:342px;left:704.92px;
}
.s_page22-23_326
{
position:absolute;top:342px;left:1478.44px;
}
.s_page22-23_327
{
position:absolute;top:342px;left:1715.55px;
}
.s_page22-23_328
{
position:absolute;top:342px;left:2047.95px;letter-spacing:-0.1px;
}
.s_page22-23_329
{
position:absolute;top:342px;left:3485.52px;
}
.s_page22-23_330
{
position:absolute;top:342px;left:4304.39px;letter-spacing:-0.45px;
}
.s_page22-23_331
{
position:absolute;top:702px;left:0px;letter-spacing:-0.48px;
}
.s_page22-23_332
{
position:absolute;top:702px;left:1467.82px;letter-spacing:-0.51px;
}
.s_page22-23_333
{
position:absolute;top:702px;left:2939.71px;letter-spacing:-0.64px;
}
.s_page22-23_334
{
position:absolute;top:702px;left:3149.95px;letter-spacing:-0.66px;
}
.s_page22-23_335
{
position:absolute;top:702px;left:3652.74px;letter-spacing:-0.51px;
}
.s_page22-23_336
{
position:absolute;top:702px;left:4618.49px;
}
.s_page22-23_337
{
position:absolute;top:1062px;left:0px;letter-spacing:0.53px;
}
.s_page22-23_338
{
position:absolute;top:1062px;left:483.11px;letter-spacing:-3.12px;
}
.s_page22-23_339
{
position:absolute;top:1062px;left:806.62px;letter-spacing:-0.58px;
}
.s_page22-23_340
{
position:absolute;top:1062px;left:1331.74px;letter-spacing:-1.37px;
}
.s_page22-23_341
{
position:absolute;top:1062px;left:2208.2px;
}
.s_page22-23_342
{
position:absolute;top:1062px;left:2497.64px;letter-spacing:-1.08px;
}
.s_page22-23_343
{
position:absolute;top:1062px;left:3354.42px;
}
.s_page22-23_344
{
position:absolute;top:1062px;left:4177.85px;
}
.s_page22-23_345
{
position:absolute;top:1422px;left:0px;
}
.s_page22-23_346
{
position:absolute;top:1422px;left:467.27px;letter-spacing:-0.45px;
}
.s_page22-23_347
{
position:absolute;top:1422px;left:1301.02px;
}
.s_page22-23_348
{
position:absolute;top:1422px;left:1552.29px;
}
.s_page22-23_349
{
position:absolute;top:1422px;left:1971.57px;letter-spacing:-0.38px;
}
.s_page22-23_350
{
position:absolute;top:1422px;left:2806.28px;letter-spacing:-0.81px;
}
.s_page22-23_351
{
position:absolute;top:1422px;left:3729.06px;letter-spacing:-1.3px;
}
.s_page22-23_352
{
position:absolute;top:1782px;left:0px;letter-spacing:-0.1px;
}
.s_page22-23_353
{
position:absolute;top:1782px;left:1764.94px;
}
.s_page22-23_354
{
position:absolute;top:1782px;left:2232.69px;
}
.s_page22-23_355
{
position:absolute;top:1782px;left:2963.96px;
}
.s_page22-23_356
{
position:absolute;top:1782px;left:3693.54px;
}
.s_page22-23_357
{
position:absolute;top:1782px;left:3982.98px;letter-spacing:-1.65px;
}
.s_page22-23_358
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.1px;
}
.s_page22-23_359
{
position:absolute;top:2142px;left:1437.58px;letter-spacing:-1.34px;
}
.s_page22-23_360
{
position:absolute;top:2142px;left:1994.85px;
}
.s_page22-23_361
{
position:absolute;top:2142px;left:2466.68px;letter-spacing:-0.5px;
}
.s_page22-23_362
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.17px;
}
.s_page22-23_363
{
position:absolute;top:-18px;left:969.83px;letter-spacing:-1px;
}
.s_page22-23_364
{
position:absolute;top:-18px;left:1555.9px;
}
.s_page22-23_365
{
position:absolute;top:-18px;left:1793.02px;letter-spacing:-3px;
}
.s_page22-23_366
{
position:absolute;top:-18px;left:1984.53px;text-rendering:optimizeLegibility;letter-spacing:-0.79px;
}
.s_page22-23_367
{
position:absolute;top:-18px;left:3148.75px;letter-spacing:-0.55px;
}
.s_page22-23_368
{
position:absolute;top:-18px;left:4564.25px;
}
.s_page22-23_369
{
position:absolute;top:-18px;left:5870.31px;
}
.s_page22-23_370
{
position:absolute;top:-18px;left:6125.67px;letter-spacing:-0.96px;
}
.s_page22-23_371
{
position:absolute;top:-18px;left:6626.54px;
}
.s_page22-23_372
{
position:absolute;top:-18px;left:6915.97px;letter-spacing:-0.81px;
}
.s_page22-23_373
{
position:absolute;top:342px;left:0px;letter-spacing:-1.3px;
}
.s_page22-23_374
{
position:absolute;top:342px;left:537.35px;
}
.s_page22-23_375
{
position:absolute;top:342px;left:826.78px;letter-spacing:-0.72px;
}
.s_page22-23_376
{
position:absolute;top:342px;left:1626.21px;
}
.s_page22-23_377
{
position:absolute;top:342px;left:2484.67px;letter-spacing:-0.48px;
}
.s_page22-23_378
{
position:absolute;top:342px;left:2816.1px;
}
.s_page22-23_379
{
position:absolute;top:342px;left:3276.18px;
}
.s_page22-23_380
{
position:absolute;top:342px;left:3509.21px;
}
.s_page22-23_381
{
position:absolute;top:342px;left:3798.64px;
}
.s_page22-23_382
{
position:absolute;top:342px;left:4325.91px;
}
.s_page22-23_383
{
position:absolute;top:342px;left:5613.5px;
}
.s_page22-23_384
{
position:absolute;top:702px;left:0px;letter-spacing:-1px;
}
.s_page22-23_385
{
position:absolute;top:702px;left:1856.85px;letter-spacing:-0.72px;
}
.s_page22-23_386
{
position:absolute;top:702px;left:2656.27px;
}
.s_page22-23_387
{
position:absolute;top:702px;left:3458.34px;letter-spacing:-0.82px;
}
.s_page22-23_388
{
position:absolute;top:702px;left:3885.29px;letter-spacing:-3px;
}
.s_page22-23_389
{
position:absolute;top:702px;left:4076.81px;letter-spacing:-0.54px;
}
.s_page22-23_390
{
position:absolute;top:702px;left:5419.82px;
}
.s_page22-23_391
{
position:absolute;top:702px;left:5891.66px;letter-spacing:-1.05px;
}
.s_page22-23_392
{
position:absolute;top:702px;left:6753.73px;letter-spacing:-0.82px;
}

.position_1 {
	position: absolute;
	top: 442px;
	left: 86px;
}
.position_2 {
	position: absolute;
	top: 637px;
	left: 139px;
}
.position_3 {
	position: absolute;
	top: 525px;
	left: 244px;
}
.position_4 {
	position: absolute;
	top: 345px;
	left: 259px;
}
