.d_page06_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_page06_2
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page06_3
{
width:4569.14px;height:1489.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
}
.d_page06_4
{
width:164.4px;height:229.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
}
.d_page06_5
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page06_6
{
width:3162.79px;height:1069.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
}
.d_page06_7
{
width:1937.55px;height:313.43px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page06_8
{
width:3905.67px;height:649.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
}
.d_page06_9
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page06_10
{
width:3347.29px;height:3589.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.83px) rotate(0deg) scale(0.05);
}
.s_page06_11
{
position:absolute;top:-12.32px;left:0px;
}
.s_page06_12
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page06_13
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page06_14
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-0.3px;
}
.s_page06_15
{
position:absolute;top:-22.5px;left:1177.78px;
}
.s_page06_16
{
position:absolute;top:-22.5px;left:1767.58px;letter-spacing:-0.82px;
}
.s_page06_17
{
position:absolute;top:-22.5px;left:3301.45px;
}
.s_page06_18
{
position:absolute;top:397.5px;left:0px;letter-spacing:-3.1px;
}
.s_page06_19
{
position:absolute;top:397.5px;left:350.7px;letter-spacing:-0.42px;
}
.s_page06_20
{
position:absolute;top:397.5px;left:2005.17px;letter-spacing:-0.85px;
}
.s_page06_21
{
position:absolute;top:397.5px;left:2812.16px;
}
.s_page06_22
{
position:absolute;top:397.5px;left:3131.35px;letter-spacing:-0.45px;
}
.s_page06_23
{
position:absolute;top:397.5px;left:3654.84px;letter-spacing:-6.6px;
}
.s_page06_24
{
position:absolute;top:817.5px;left:0px;letter-spacing:-0.72px;
}
.s_page06_25
{
position:absolute;top:817.5px;left:1017.88px;
}
.s_page06_26
{
position:absolute;top:817.5px;left:1099.48px;
}
.s_page06_27
{
position:absolute;top:817.5px;left:1694.97px;letter-spacing:-0.82px;
}
.s_page06_28
{
position:absolute;top:817.5px;left:2351.07px;
}
.s_page06_29
{
position:absolute;top:817.5px;left:3965.95px;
}
.s_page06_30
{
position:absolute;top:1237.5px;left:0px;
}
.s_page06_31
{
position:absolute;top:1237.5px;left:518.99px;
}
.s_page06_32
{
position:absolute;top:-22.5px;left:0px;
}
.s_page06_33
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.89px;
}
.s_page06_34
{
position:absolute;top:-14.08px;left:843.18px;letter-spacing:-4.67px;
}
.s_page06_35
{
position:absolute;top:-14.08px;left:1635.81px;letter-spacing:-3.89px;
}
.s_page06_36
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-5.45px;
}
.s_page06_37
{
position:absolute;top:-22.5px;left:730.79px;letter-spacing:-2.34px;
}
.s_page06_38
{
position:absolute;top:-22.5px;left:1422.88px;letter-spacing:-0.26px;
}
.s_page06_39
{
position:absolute;top:-22.5px;left:2284.17px;
}
.s_page06_40
{
position:absolute;top:397.5px;left:0px;
}
.s_page06_41
{
position:absolute;top:397.5px;left:1936.78px;
}
.s_page06_42
{
position:absolute;top:817.5px;left:0px;
}
.s_page06_43
{
position:absolute;top:817.5px;left:1332.28px;
}
.s_page06_44
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-4.03px;
}
.s_page06_45
{
position:absolute;top:-14.08px;left:714.87px;letter-spacing:-3.28px;
}
.s_page06_46
{
position:absolute;top:-14.08px;left:1266.86px;letter-spacing:-1.68px;
}
.s_page06_47
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-0.54px;
}
.s_page06_48
{
position:absolute;top:-22.5px;left:637.79px;letter-spacing:-3px;
}
.s_page06_49
{
position:absolute;top:-22.5px;left:1105.48px;letter-spacing:-3.9px;
}
.s_page06_50
{
position:absolute;top:-22.5px;left:1660.18px;
}
.s_page06_51
{
position:absolute;top:-22.5px;left:1741.78px;
}
.s_page06_52
{
position:absolute;top:-22.5px;left:2303.07px;letter-spacing:-0.9px;
}
.s_page06_53
{
position:absolute;top:397.5px;left:0px;letter-spacing:-0.63px;
}
.s_page06_54
{
position:absolute;top:397.5px;left:1493.68px;letter-spacing:-2.3px;
}
.s_page06_55
{
position:absolute;top:397.5px;left:1860.27px;
}
.s_page06_56
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page06_57
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page06_58
{
position:absolute;top:-22.5px;left:0px;letter-spacing:-3.3px;
}
.s_page06_59
{
position:absolute;top:-22.5px;left:710.99px;letter-spacing:-0.35px;
}
.s_page06_60
{
position:absolute;top:-22.5px;left:1502.38px;
}
.s_page06_61
{
position:absolute;top:-22.5px;left:1583.98px;letter-spacing:-0.57px;
}
.s_page06_62
{
position:absolute;top:397.5px;left:0px;letter-spacing:-0.34px;
}
.s_page06_63
{
position:absolute;top:397.5px;left:1087.18px;
}
.s_page06_64
{
position:absolute;top:817.5px;left:0px;letter-spacing:-1.01px;
}
.s_page06_65
{
position:absolute;top:817.5px;left:1036.48px;
}
.s_page06_66
{
position:absolute;top:817.5px;left:1398.27px;letter-spacing:-1.02px;
}
.s_page06_67
{
position:absolute;top:817.5px;left:1884.86px;
}
.s_page06_68
{
position:absolute;top:1237.5px;left:0px;
}
.s_page06_69
{
position:absolute;top:1237.5px;left:582.6px;letter-spacing:-0.75px;
}
.s_page06_70
{
position:absolute;top:1237.5px;left:1382.38px;
}
.s_page06_71
{
position:absolute;top:1657.5px;left:0px;
}
.s_page06_72
{
position:absolute;top:1657.5px;left:1235.08px;letter-spacing:-0.9px;
}
.s_page06_73
{
position:absolute;top:2077.5px;left:0px;
}
.s_page06_74
{
position:absolute;top:2077.5px;left:356.69px;
}
.s_page06_75
{
position:absolute;top:2077.5px;left:1100.38px;
}
.s_page06_76
{
position:absolute;top:2077.5px;left:1631.36px;letter-spacing:-3.1px;
}
.s_page06_77
{
position:absolute;top:2077.5px;left:1976.96px;
}
.s_page06_78
{
position:absolute;top:2497.5px;left:0px;
}
.s_page06_79
{
position:absolute;top:2497.5px;left:574.79px;
}
.s_page06_80
{
position:absolute;top:2497.5px;left:1164.58px;
}
.s_page06_81
{
position:absolute;top:2917.5px;left:0px;letter-spacing:-1.35px;
}
.s_page06_82
{
position:absolute;top:2917.5px;left:882.28px;
}
.s_page06_83
{
position:absolute;top:2917.5px;left:2521.76px;
}
.s_page06_84
{
position:absolute;top:3337.5px;left:0px;
}
.s_page06_85
{
position:absolute;top:3337.5px;left:1279.78px;
}
