.d_page19_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page19_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page19_3
{
width:3677.94px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);
}
.d_page19_4
{
width:9889.67px;height:614.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page19_5
{
width:7184.33px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page19_6
{
width:7065.42px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page19_7
{
width:6865.67px;height:1396.88px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page19_8
{
width:7113.06px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page19_9
{
width:6807.32px;height:918.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page19_10
{
width:7059.13px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page19_11
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page19_12
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page19_13
{
width:3879.2px;height:1836.77px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_14
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page19_15
{
width:5226.62px;height:2343.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_16
{
width:9864.57px;height:602.75px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page19_17
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page19_18
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_19
{
width:2988px;height:662.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_20
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_21
{
width:3220px;height:1061.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_22
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_23
{
width:3220px;height:1061.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_24
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_25
{
width:1961.79px;height:1061.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_26
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_27
{
width:4238px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_28
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_29
{
width:3960px;height:921px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_30
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_31
{
width:3898px;height:921px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_32
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_33
{
width:3960px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_34
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_35
{
width:3960px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_36
{
width:631.2px;height:631.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page19_37
{
width:2946.4px;height:711.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page19_38
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page19_39
{
position:absolute;top:-11.04px;left:94.09px;
}
.s_page19_40
{
position:absolute;top:-17.65px;left:0px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page19_41
{
position:absolute;top:-17.65px;left:606.27px;letter-spacing:9px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page19_42
{
position:absolute;top:-17.65px;left:1135.55px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page19_43
{
position:absolute;top:-17.65px;left:2241.04px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page19_44
{
position:absolute;top:-21px;left:0px;letter-spacing:-0.93px;
}
.s_page19_45
{
position:absolute;top:-21px;left:831.88px;letter-spacing:-0.91px;
}
.s_page19_46
{
position:absolute;top:-21px;left:1335.31px;letter-spacing:-0.52px;
}
.s_page19_47
{
position:absolute;top:-21px;left:2351.15px;letter-spacing:-1.99px;
}
.s_page19_48
{
position:absolute;top:-21px;left:3665.45px;
}
.s_page19_49
{
position:absolute;top:-21px;left:4713.47px;letter-spacing:-2.8px;
}
.s_page19_50
{
position:absolute;top:-21px;left:5047.51px;
}
.s_page19_51
{
position:absolute;top:-21px;left:6007.61px;letter-spacing:-2.15px;
}
.s_page19_52
{
position:absolute;top:-21px;left:6704.25px;letter-spacing:-0.73px;
}
.s_page19_53
{
position:absolute;top:-21px;left:7377.09px;
}
.s_page19_54
{
position:absolute;top:-21px;left:8222.96px;
}
.s_page19_55
{
position:absolute;top:379px;left:0px;
}
.s_page19_56
{
position:absolute;top:379px;left:965.99px;
}
.s_page19_57
{
position:absolute;top:379px;left:1854.13px;letter-spacing:-0.47px;
}
.s_page19_58
{
position:absolute;top:379px;left:2696.36px;letter-spacing:-0.52px;
}
.s_page19_59
{
position:absolute;top:379px;left:3711.08px;
}
.s_page19_60
{
position:absolute;top:379px;left:4212.55px;letter-spacing:-0.51px;
}
.s_page19_61
{
position:absolute;top:-18px;left:0px;
}
.s_page19_62
{
position:absolute;top:-18px;left:47.76px;letter-spacing:-1.33px;
}
.s_page19_63
{
position:absolute;top:-18px;left:1871.27px;letter-spacing:-0.66px;
}
.s_page19_64
{
position:absolute;top:-18px;left:2736.22px;
}
.s_page19_65
{
position:absolute;top:-18px;left:3397.41px;
}
.s_page19_66
{
position:absolute;top:-18px;left:3600px;letter-spacing:-1.33px;
}
.s_page19_67
{
position:absolute;top:-18px;left:4874.38px;
}
.s_page19_68
{
position:absolute;top:-18px;left:5129.74px;
}
.s_page19_69
{
position:absolute;top:-18px;left:5760.21px;
}
.s_page19_70
{
position:absolute;top:-18px;left:6098.12px;letter-spacing:-0.68px;
}
.s_page19_71
{
position:absolute;top:342px;left:0px;
}
.s_page19_72
{
position:absolute;top:342px;left:953.74px;
}
.s_page19_73
{
position:absolute;top:342px;left:2236.04px;
}
.s_page19_74
{
position:absolute;top:342px;left:2442.91px;
}
.s_page19_75
{
position:absolute;top:342px;left:2680.03px;
}
.s_page19_76
{
position:absolute;top:342px;left:3150.66px;letter-spacing:-2.48px;
}
.s_page19_77
{
position:absolute;top:342px;left:3427.14px;
}
.s_page19_78
{
position:absolute;top:342px;left:3841.85px;letter-spacing:-1.23px;
}
.s_page19_79
{
position:absolute;top:342px;left:4696.23px;letter-spacing:-0.9px;
}
.s_page19_80
{
position:absolute;top:342px;left:5512.22px;letter-spacing:-0.88px;
}
.s_page19_81
{
position:absolute;top:702px;left:0px;letter-spacing:-0.18px;
}
.s_page19_82
{
position:absolute;top:702px;left:784.78px;letter-spacing:-0.64px;
}
.s_page19_83
{
position:absolute;top:702px;left:999.58px;
}
.s_page19_84
{
position:absolute;top:702px;left:1448.61px;letter-spacing:-1.03px;
}
.s_page19_85
{
position:absolute;top:702px;left:2120.36px;
}
.s_page19_86
{
position:absolute;top:702px;left:3466.02px;letter-spacing:-0.16px;
}
.s_page19_87
{
position:absolute;top:702px;left:4408px;
}
.s_page19_88
{
position:absolute;top:702px;left:5114.79px;letter-spacing:-1.62px;
}
.s_page19_89
{
position:absolute;top:702px;left:5530.95px;text-rendering:optimizeLegibility;
}
.s_page19_90
{
position:absolute;top:702px;left:6109.34px;
}
.s_page19_91
{
position:absolute;top:1062px;left:0px;
}
.s_page19_92
{
position:absolute;top:1062px;left:1176.46px;
}
.s_page19_93
{
position:absolute;top:1062px;left:1817.01px;
}
.s_page19_94
{
position:absolute;top:1062px;left:2322.2px;letter-spacing:-1.62px;
}
.s_page19_95
{
position:absolute;top:1062px;left:2741.71px;
}
.s_page19_96
{
position:absolute;top:1062px;left:3327.06px;
}
.s_page19_97
{
position:absolute;top:1062px;left:3612.41px;
}
.s_page19_98
{
position:absolute;top:1062px;left:4131.28px;
}
.s_page19_99
{
position:absolute;top:1062px;left:5019.74px;
}
.s_page19_100
{
position:absolute;top:1062px;left:5574.85px;
}
.s_page19_101
{
position:absolute;top:1062px;left:6043.33px;letter-spacing:-1.08px;
}
.s_page19_102
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.94px;
}
.s_page19_103
{
position:absolute;top:-18px;left:1444.06px;
}
.s_page19_104
{
position:absolute;top:-18px;left:1660px;letter-spacing:-2.6px;
}
.s_page19_105
{
position:absolute;top:-18px;left:2384.79px;
}
.s_page19_106
{
position:absolute;top:-18px;left:2636.07px;
}
.s_page19_107
{
position:absolute;top:-18px;left:3055.34px;letter-spacing:-0.44px;
}
.s_page19_108
{
position:absolute;top:-18px;left:3822.61px;
}
.s_page19_109
{
position:absolute;top:-18px;left:4675.8px;
}
.s_page19_110
{
position:absolute;top:-18px;left:5344.43px;letter-spacing:-0.21px;
}
.s_page19_111
{
position:absolute;top:-18px;left:6072.81px;
}
.s_page19_112
{
position:absolute;top:-18px;left:6527.13px;letter-spacing:-0.82px;
}
.s_page19_113
{
position:absolute;top:342px;left:0px;
}
.s_page19_114
{
position:absolute;top:342px;left:335.75px;
}
.s_page19_115
{
position:absolute;top:342px;left:625.18px;letter-spacing:-0.52px;
}
.s_page19_116
{
position:absolute;top:342px;left:1225.42px;letter-spacing:-0.88px;
}
.s_page19_117
{
position:absolute;top:342px;left:1891.64px;
}
.s_page19_118
{
position:absolute;top:342px;left:2363.48px;letter-spacing:-0.68px;
}
.s_page19_119
{
position:absolute;top:342px;left:2929.87px;letter-spacing:-1.54px;
}
.s_page19_120
{
position:absolute;top:342px;left:3510.42px;
}
.s_page19_121
{
position:absolute;top:342px;left:4271.21px;
}
.s_page19_122
{
position:absolute;top:342px;left:4686.4px;
}
.s_page19_123
{
position:absolute;top:342px;left:5233.35px;letter-spacing:-2.48px;
}
.s_page19_124
{
position:absolute;top:342px;left:5513.91px;letter-spacing:-0.13px;
}
.s_page19_125
{
position:absolute;top:702px;left:0px;letter-spacing:-0.64px;
}
.s_page19_126
{
position:absolute;top:702px;left:214.79px;
}
.s_page19_127
{
position:absolute;top:702px;left:663.83px;letter-spacing:-1.15px;
}
.s_page19_128
{
position:absolute;top:702px;left:1175.98px;letter-spacing:-0.72px;
}
.s_page19_129
{
position:absolute;top:702px;left:1657.17px;letter-spacing:-1.34px;
}
.s_page19_130
{
position:absolute;top:702px;left:2401.16px;
}
.s_page19_131
{
position:absolute;top:702px;left:2906.35px;letter-spacing:-1.87px;
}
.s_page19_132
{
position:absolute;top:702px;left:3529.38px;letter-spacing:-1.03px;
}
.s_page19_133
{
position:absolute;top:702px;left:5019.28px;letter-spacing:-3px;
}
.s_page19_134
{
position:absolute;top:702px;left:5210.8px;
}
.s_page19_135
{
position:absolute;top:702px;left:5901.74px;letter-spacing:-1.44px;
}
.s_page19_136
{
position:absolute;top:1062px;left:0px;
}
.s_page19_137
{
position:absolute;top:1062px;left:667.19px;
}
.s_page19_138
{
position:absolute;top:1062px;left:1139.02px;letter-spacing:-3px;
}
.s_page19_139
{
position:absolute;top:1062px;left:1330.54px;
}
.s_page19_140
{
position:absolute;top:1062px;left:1933.65px;letter-spacing:-1.08px;
}
.s_page19_141
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.37px;
}
.s_page19_142
{
position:absolute;top:-18px;left:675.6px;letter-spacing:-5px;
}
.s_page19_143
{
position:absolute;top:-18px;left:1355.27px;
}
.s_page19_144
{
position:absolute;top:-18px;left:2500px;letter-spacing:-0.34px;
}
.s_page19_145
{
position:absolute;top:-18px;left:3026.68px;letter-spacing:-1.23px;
}
.s_page19_146
{
position:absolute;top:-18px;left:3820.47px;
}
.s_page19_147
{
position:absolute;top:-18px;left:4627.94px;
}
.s_page19_148
{
position:absolute;top:-18px;left:4892.77px;letter-spacing:-0.58px;
}
.s_page19_149
{
position:absolute;top:-18px;left:5641.68px;
}
.s_page19_150
{
position:absolute;top:-18px;left:5954.76px;
}
.s_page19_151
{
position:absolute;top:-18px;left:6401.75px;
}
.s_page19_152
{
position:absolute;top:342px;left:0px;letter-spacing:-0.14px;
}
.s_page19_153
{
position:absolute;top:342px;left:1194.72px;letter-spacing:-2.48px;
}
.s_page19_154
{
position:absolute;top:342px;left:1465.44px;letter-spacing:-0.75px;
}
.s_page19_155
{
position:absolute;top:342px;left:2221.92px;letter-spacing:0px;
}
.s_page19_156
{
position:absolute;top:342px;left:2676.73px;letter-spacing:-0.79px;
}
.s_page19_157
{
position:absolute;top:342px;left:3840.48px;letter-spacing:-0.64px;
}
.s_page19_158
{
position:absolute;top:342px;left:4045.44px;
}
.s_page19_159
{
position:absolute;top:342px;left:4485.85px;letter-spacing:0px;
}
.s_page19_160
{
position:absolute;top:342px;left:5400.48px;letter-spacing:-0.81px;
}
.s_page19_161
{
position:absolute;top:342px;left:6355.19px;letter-spacing:-0.44px;
}
.s_page19_162
{
position:absolute;top:702px;left:0px;
}
.s_page19_163
{
position:absolute;top:702px;left:427.08px;letter-spacing:-0.54px;
}
.s_page19_164
{
position:absolute;top:702px;left:850.56px;letter-spacing:-0.54px;
}
.s_page19_165
{
position:absolute;top:702px;left:1269.96px;letter-spacing:-0.46px;
}
.s_page19_166
{
position:absolute;top:702px;left:2879.74px;letter-spacing:-0.64px;
}
.s_page19_167
{
position:absolute;top:702px;left:3095.87px;
}
.s_page19_168
{
position:absolute;top:702px;left:3551.51px;letter-spacing:-1.87px;
}
.s_page19_169
{
position:absolute;top:702px;left:4175.87px;
}
.s_page19_170
{
position:absolute;top:702px;left:4512.95px;
}
.s_page19_171
{
position:absolute;top:702px;left:4803.71px;letter-spacing:-3px;
}
.s_page19_172
{
position:absolute;top:702px;left:4996.56px;letter-spacing:-0.21px;
}
.s_page19_173
{
position:absolute;top:702px;left:5744.76px;letter-spacing:-2.48px;
}
.s_page19_174
{
position:absolute;top:702px;left:6022.57px;letter-spacing:-0.45px;
}
.s_page19_175
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.48px;
}
.s_page19_176
{
position:absolute;top:1062px;left:331.43px;
}
.s_page19_177
{
position:absolute;top:1062px;left:1125.82px;letter-spacing:-1.32px;
}
.s_page19_178
{
position:absolute;top:1062px;left:1980.69px;
}
.s_page19_179
{
position:absolute;top:1062px;left:2213.72px;
}
.s_page19_180
{
position:absolute;top:1062px;left:2718.91px;
}
.s_page19_181
{
position:absolute;top:1062px;left:3039.06px;text-rendering:optimizeLegibility;letter-spacing:-0.9px;
}
.s_page19_182
{
position:absolute;top:1062px;left:3918.65px;letter-spacing:-1.87px;
}
.s_page19_183
{
position:absolute;top:1062px;left:4541.68px;letter-spacing:-1.11px;
}
.s_page19_184
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.21px;
}
.s_page19_185
{
position:absolute;top:-18px;left:979.43px;
}
.s_page19_186
{
position:absolute;top:-18px;left:1840px;letter-spacing:-0.64px;
}
.s_page19_187
{
position:absolute;top:-18px;left:2054.79px;
}
.s_page19_188
{
position:absolute;top:-18px;left:2291.91px;letter-spacing:-3px;
}
.s_page19_189
{
position:absolute;top:-18px;left:2479.35px;letter-spacing:-0.72px;
}
.s_page19_190
{
position:absolute;top:-18px;left:3354.61px;
}
.s_page19_191
{
position:absolute;top:-18px;left:4008.36px;
}
.s_page19_192
{
position:absolute;top:-18px;left:4690.9px;
}
.s_page19_193
{
position:absolute;top:-18px;left:5196.09px;letter-spacing:-1.08px;
}
.s_page19_194
{
position:absolute;top:-18px;left:6040.64px;
}
.s_page19_195
{
position:absolute;top:-18px;left:6364.15px;letter-spacing:-1.34px;
}
.s_page19_196
{
position:absolute;top:342px;left:0px;letter-spacing:-0.72px;
}
.s_page19_197
{
position:absolute;top:342px;left:805.43px;
}
.s_page19_198
{
position:absolute;top:342px;left:1060.78px;letter-spacing:-0.21px;
}
.s_page19_199
{
position:absolute;top:342px;left:1651.65px;letter-spacing:-0.64px;
}
.s_page19_200
{
position:absolute;top:342px;left:1866.44px;
}
.s_page19_201
{
position:absolute;top:342px;left:2458.27px;
}
.s_page19_202
{
position:absolute;top:342px;left:2773.86px;
}
.s_page19_203
{
position:absolute;top:342px;left:3063.3px;
}
.s_page19_204
{
position:absolute;top:342px;left:3888.4px;letter-spacing:-1.3px;
}
.s_page19_205
{
position:absolute;top:342px;left:4520.79px;letter-spacing:-0.14px;
}
.s_page19_206
{
position:absolute;top:342px;left:5498.53px;letter-spacing:-0.44px;
}
.s_page19_207
{
position:absolute;top:342px;left:6139.33px;
}
.s_page19_208
{
position:absolute;top:702px;left:0px;letter-spacing:-1.34px;
}
.s_page19_209
{
position:absolute;top:702px;left:748.07px;letter-spacing:-0.82px;
}
.s_page19_210
{
position:absolute;top:702px;left:1409.74px;
}
.s_page19_211
{
position:absolute;top:702px;left:1749.57px;
}
.s_page19_212
{
position:absolute;top:702px;left:2221.41px;letter-spacing:-0.48px;
}
.s_page19_213
{
position:absolute;top:702px;left:2949.32px;
}
.s_page19_214
{
position:absolute;top:702px;left:3156.19px;letter-spacing:-0.18px;
}
.s_page19_215
{
position:absolute;top:702px;left:4108.01px;
}
.s_page19_216
{
position:absolute;top:702px;left:4422.17px;letter-spacing:-1.76px;
}
.s_page19_217
{
position:absolute;top:702px;left:4618.24px;
}
.s_page19_218
{
position:absolute;top:702px;left:5037.51px;letter-spacing:-0.24px;
}
.s_page19_219
{
position:absolute;top:702px;left:5649.26px;
}
.s_page19_220
{
position:absolute;top:702px;left:5886.38px;
}
.s_page19_221
{
position:absolute;top:-18px;left:0px;
}
.s_page19_222
{
position:absolute;top:-18px;left:110.4px;letter-spacing:-0.21px;
}
.s_page19_223
{
position:absolute;top:-18px;left:1014.95px;
}
.s_page19_224
{
position:absolute;top:-18px;left:1717.42px;letter-spacing:-4.16px;
}
.s_page19_225
{
position:absolute;top:-18px;left:2500px;letter-spacing:-0.34px;
}
.s_page19_226
{
position:absolute;top:-18px;left:3003.51px;
}
.s_page19_227
{
position:absolute;top:-18px;left:3965.18px;letter-spacing:-0.66px;
}
.s_page19_228
{
position:absolute;top:-18px;left:5866.91px;letter-spacing:-1.3px;
}
.s_page19_229
{
position:absolute;top:-18px;left:6373.3px;
}
.s_page19_230
{
position:absolute;top:342px;left:0px;letter-spacing:-0.68px;
}
.s_page19_231
{
position:absolute;top:342px;left:693.59px;letter-spacing:-1.15px;
}
.s_page19_232
{
position:absolute;top:342px;left:1209.82px;
}
.s_page19_233
{
position:absolute;top:342px;left:1543.66px;
}
.s_page19_234
{
position:absolute;top:342px;left:1962.93px;
}
.s_page19_235
{
position:absolute;top:342px;left:2661.8px;letter-spacing:-2.48px;
}
.s_page19_236
{
position:absolute;top:342px;left:2942.35px;letter-spacing:-0.53px;
}
.s_page19_237
{
position:absolute;top:342px;left:3904.5px;letter-spacing:-0.48px;
}
.s_page19_238
{
position:absolute;top:342px;left:4235.93px;letter-spacing:-1.62px;
}
.s_page19_239
{
position:absolute;top:342px;left:4662.65px;
}
.s_page19_240
{
position:absolute;top:342px;left:5116px;
}
.s_page19_241
{
position:absolute;top:342px;left:5353.11px;
}
.s_page19_242
{
position:absolute;top:342px;left:5942.54px;
}
.s_page19_243
{
position:absolute;top:342px;left:6256.7px;letter-spacing:-0.24px;
}
.s_page19_244
{
position:absolute;top:702px;left:0px;
}
.s_page19_245
{
position:absolute;top:702px;left:466.08px;letter-spacing:-0.45px;
}
.s_page19_246
{
position:absolute;top:-18px;left:0px;
}
.s_page19_247
{
position:absolute;top:-18px;left:110.4px;
}
.s_page19_248
{
position:absolute;top:-18px;left:975.59px;letter-spacing:-0.72px;
}
.s_page19_249
{
position:absolute;top:-18px;left:1740px;letter-spacing:-0.34px;
}
.s_page19_250
{
position:absolute;top:-18px;left:2243.51px;letter-spacing:-0.24px;
}
.s_page19_251
{
position:absolute;top:-18px;left:2855.26px;
}
.s_page19_252
{
position:absolute;top:-18px;left:3092.38px;letter-spacing:-3px;
}
.s_page19_253
{
position:absolute;top:-18px;left:3283.89px;letter-spacing:-0.58px;
}
.s_page19_254
{
position:absolute;top:-18px;left:4009.16px;letter-spacing:-2.48px;
}
.s_page19_255
{
position:absolute;top:-18px;left:4289.72px;letter-spacing:-0.26px;
}
.s_page19_256
{
position:absolute;top:-18px;left:5574.9px;letter-spacing:-1.24px;
}
.s_page19_257
{
position:absolute;top:342px;left:0px;
}
.s_page19_258
{
position:absolute;top:342px;left:467.27px;letter-spacing:-0.66px;
}
.s_page19_259
{
position:absolute;top:342px;left:973.43px;letter-spacing:-1.2px;
}
.s_page19_260
{
position:absolute;top:342px;left:2219.73px;
}
.s_page19_261
{
position:absolute;top:342px;left:2475.09px;letter-spacing:-0.64px;
}
.s_page19_262
{
position:absolute;top:342px;left:3221.23px;letter-spacing:-0.64px;
}
.s_page19_263
{
position:absolute;top:342px;left:3436.03px;letter-spacing:-2px;
}
.s_page19_264
{
position:absolute;top:342px;left:4173.06px;letter-spacing:-1.92px;
}
.s_page19_265
{
position:absolute;top:342px;left:4717.61px;
}
.s_page19_266
{
position:absolute;top:342px;left:5067.04px;letter-spacing:-0.82px;
}
.s_page19_267
{
position:absolute;top:342px;left:5565.03px;
}
.s_page19_268
{
position:absolute;top:342px;left:5820.38px;letter-spacing:-0.21px;
}
.s_page19_269
{
position:absolute;top:342px;left:6567.25px;
}
.s_page19_270
{
position:absolute;top:702px;left:0px;letter-spacing:-0.68px;
}
.s_page19_271
{
position:absolute;top:702px;left:540.23px;letter-spacing:-2.4px;
}
.s_page19_272
{
position:absolute;top:702px;left:914.38px;
}
.s_page19_273
{
position:absolute;top:702px;left:1610.13px;
}
.s_page19_274
{
position:absolute;top:702px;left:1946.12px;letter-spacing:-0.75px;
}
.s_page19_275
{
position:absolute;top:702px;left:2668.75px;
}
.s_page19_276
{
position:absolute;top:702px;left:2933.94px;
}
.s_page19_277
{
position:absolute;top:702px;left:3257.45px;letter-spacing:-0.41px;
}
.s_page19_278
{
position:absolute;top:702px;left:4228.48px;
}
.s_page19_279
{
position:absolute;top:702px;left:4431.99px;text-rendering:optimizeLegibility;letter-spacing:-0.9px;
}
.s_page19_280
{
position:absolute;top:702px;left:5311.58px;letter-spacing:-1.15px;
}
.s_page19_281
{
position:absolute;top:702px;left:5827.81px;letter-spacing:-0.44px;
}
.s_page19_282
{
position:absolute;top:702px;left:6476.52px;
}
.s_page19_283
{
position:absolute;top:1062px;left:0px;
}
.s_page19_284
{
position:absolute;top:1062px;left:509.27px;
}
.s_page19_285
{
position:absolute;top:1062px;left:1101.58px;letter-spacing:-1.75px;
}
.s_page19_286
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.89px;
}
.s_page19_287
{
position:absolute;top:-14.08px;left:843.18px;letter-spacing:-4.67px;
}
.s_page19_288
{
position:absolute;top:-14.08px;left:1635.81px;letter-spacing:-3.89px;
}
.s_page19_289
{
position:absolute;top:-18px;left:0px;
}
.s_page19_290
{
position:absolute;top:-18px;left:676.55px;
}
.s_page19_291
{
position:absolute;top:-18px;left:1556.86px;letter-spacing:-2.48px;
}
.s_page19_292
{
position:absolute;top:-18px;left:1837.42px;
}
.s_page19_293
{
position:absolute;top:-18px;left:2795.24px;
}
.s_page19_294
{
position:absolute;top:342px;left:0px;letter-spacing:-1.87px;
}
.s_page19_295
{
position:absolute;top:342px;left:623.03px;
}
.s_page19_296
{
position:absolute;top:342px;left:740.39px;letter-spacing:-1.25px;
}
.s_page19_297
{
position:absolute;top:342px;left:1246.3px;letter-spacing:-2.24px;
}
.s_page19_298
{
position:absolute;top:342px;left:1910.84px;
}
.s_page19_299
{
position:absolute;top:342px;left:2117px;letter-spacing:-0.21px;
}
.s_page19_300
{
position:absolute;top:342px;left:2857.62px;letter-spacing:-2.4px;
}
.s_page19_301
{
position:absolute;top:702px;left:0px;letter-spacing:-3px;
}
.s_page19_302
{
position:absolute;top:702px;left:191.52px;
}
.s_page19_303
{
position:absolute;top:702px;left:1149.34px;letter-spacing:-0.24px;
}
.s_page19_304
{
position:absolute;top:702px;left:1756.53px;letter-spacing:-0.66px;
}
.s_page19_305
{
position:absolute;top:702px;left:2262.69px;
}
.s_page19_306
{
position:absolute;top:702px;left:2447px;letter-spacing:-0.82px;
}
.s_page19_307
{
position:absolute;top:702px;left:2944.99px;
}
.s_page19_308
{
position:absolute;top:702px;left:3228.9px;
}
.s_page19_309
{
position:absolute;top:1062px;left:0px;
}
.s_page19_310
{
position:absolute;top:1062px;left:404.88px;
}
.s_page19_311
{
position:absolute;top:1062px;left:742.79px;letter-spacing:-2.3px;
}
.s_page19_312
{
position:absolute;top:1062px;left:1827.57px;letter-spacing:-0.72px;
}
.s_page19_313
{
position:absolute;top:1062px;left:2353.17px;
}
.s_page19_314
{
position:absolute;top:1062px;left:2742.92px;
}
.s_page19_315
{
position:absolute;top:1062px;left:3168.43px;
}
.s_page19_316
{
position:absolute;top:1062px;left:3375.3px;
}
.s_page19_317
{
position:absolute;top:1422px;left:0px;
}
.s_page19_318
{
position:absolute;top:1422px;left:283.91px;
}
.s_page19_319
{
position:absolute;top:1422px;left:925.42px;
}
.s_page19_320
{
position:absolute;top:1422px;left:1337.25px;
}
.s_page19_321
{
position:absolute;top:1422px;left:1675.16px;letter-spacing:-1.64px;
}
.s_page19_322
{
position:absolute;top:-12.32px;left:0px;
}
.s_page19_323
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page19_324
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page19_325
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.79px;
}
.s_page19_326
{
position:absolute;top:-18px;left:1834.3px;
}
.s_page19_327
{
position:absolute;top:-18px;left:2071.41px;
}
.s_page19_328
{
position:absolute;top:342px;left:0px;letter-spacing:-0.26px;
}
.s_page19_329
{
position:absolute;top:342px;left:1155.82px;letter-spacing:-0.24px;
}
.s_page19_330
{
position:absolute;top:342px;left:1763.49px;
}
.s_page19_331
{
position:absolute;top:342px;left:2268.68px;
}
.s_page19_332
{
position:absolute;top:702px;left:0px;
}
.s_page19_333
{
position:absolute;top:702px;left:507.11px;
}
.s_page19_334
{
position:absolute;top:702px;left:1209.1px;letter-spacing:-0.51px;
}
.s_page19_335
{
position:absolute;top:702px;left:2085.57px;letter-spacing:-3.87px;
}
.s_page19_336
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.48px;
}
.s_page19_337
{
position:absolute;top:1062px;left:388.08px;
}
.s_page19_338
{
position:absolute;top:1062px;left:1398.7px;
}
.s_page19_339
{
position:absolute;top:1062px;left:1664.37px;letter-spacing:-3px;
}
.s_page19_340
{
position:absolute;top:1062px;left:1851.81px;
}
.s_page19_341
{
position:absolute;top:1062px;left:2449.4px;
}
.s_page19_342
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.72px;
}
.s_page19_343
{
position:absolute;top:1422px;left:992.15px;
}
.s_page19_344
{
position:absolute;top:1422px;left:1497.33px;
}
.s_page19_345
{
position:absolute;top:1422px;left:2318.12px;
}
.s_page19_346
{
position:absolute;top:1422px;left:2637.8px;
}
.s_page19_347
{
position:absolute;top:1422px;left:3302.59px;
}
.s_page19_348
{
position:absolute;top:1422px;left:3825.3px;
}
.s_page19_349
{
position:absolute;top:1422px;left:4330.49px;text-rendering:optimizeLegibility;letter-spacing:-0.45px;
}
.s_page19_350
{
position:absolute;top:1782px;left:0px;
}
.s_page19_351
{
position:absolute;top:1782px;left:802.06px;letter-spacing:-1.87px;
}
.s_page19_352
{
position:absolute;top:1782px;left:1380.46px;
}
.s_page19_353
{
position:absolute;top:1782px;left:2638.52px;letter-spacing:-0.83px;
}
.s_page19_354
{
position:absolute;top:1782px;left:3901.15px;letter-spacing:-0.24px;
}
.s_page19_355
{
position:absolute;top:2142px;left:0px;
}
.s_page19_356
{
position:absolute;top:2142px;left:817.67px;
}
.s_page19_357
{
position:absolute;top:2142px;left:1107.1px;
}
.s_page19_358
{
position:absolute;top:2142px;left:1947.81px;
}
.s_page19_359
{
position:absolute;top:248.09px;left:616.04px;
}
.s_page19_360
{
position:absolute;top:248.09px;left:659.95px;letter-spacing:-0.79px;
}
.s_page19_361
{
position:absolute;top:248.09px;left:1430.51px;letter-spacing:-0.77px;
}
.s_page19_362
{
position:absolute;top:248.09px;left:2607.34px;
}
.s_page19_363
{
position:absolute;top:248.09px;left:3410.93px;letter-spacing:-0.13px;
}
.s_page19_364
{
position:absolute;top:248.09px;left:4993.48px;letter-spacing:-0.91px;
}
.s_page19_365
{
position:absolute;top:248.09px;left:5495.79px;
}
.s_page19_366
{
position:absolute;top:248.09px;left:6121.87px;letter-spacing:-2.05px;
}
.s_page19_367
{
position:absolute;top:248.09px;left:6470.19px;letter-spacing:-0.23px;
}
.s_page19_368
{
position:absolute;top:58.88px;left:0px;
}
.s_page19_369
{
position:absolute;top:205.8px;left:245.64px;letter-spacing:-1.56px;
}
.s_page19_370
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.29px;
}
.s_page19_371
{
position:absolute;top:-18px;left:819.11px;
}
.s_page19_372
{
position:absolute;top:-18px;left:1358.38px;letter-spacing:-1.62px;
}
.s_page19_373
{
position:absolute;top:-18px;left:1777.89px;
}
.s_page19_374
{
position:absolute;top:-18px;left:2451.56px;letter-spacing:-1.3px;
}
.s_page19_375
{
position:absolute;top:342px;left:0px;
}
.s_page19_376
{
position:absolute;top:342px;left:414.71px;letter-spacing:-0.58px;
}
.s_page19_377
{
position:absolute;top:342px;left:1086.7px;letter-spacing:-2.48px;
}
.s_page19_378
{
position:absolute;top:342px;left:1362.7px;letter-spacing:-0.41px;
}
.s_page19_379
{
position:absolute;top:342px;left:2113.65px;letter-spacing:-1.08px;
}
.s_page19_380
{
position:absolute;top:205.8px;left:210.84px;letter-spacing:-1.2px;
}
.s_page19_381
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.41px;
}
.s_page19_382
{
position:absolute;top:-18px;left:1242.47px;
}
.s_page19_383
{
position:absolute;top:-18px;left:1858.06px;
}
.s_page19_384
{
position:absolute;top:-18px;left:2095.17px;
}
.s_page19_385
{
position:absolute;top:-18px;left:2565.8px;letter-spacing:-2.48px;
}
.s_page19_386
{
position:absolute;top:-18px;left:2842.28px;
}
.s_page19_387
{
position:absolute;top:342px;left:0px;letter-spacing:-0.9px;
}
.s_page19_388
{
position:absolute;top:342px;left:815.98px;letter-spacing:-0.88px;
}
.s_page19_389
{
position:absolute;top:342px;left:2156.6px;letter-spacing:-0.24px;
}
.s_page19_390
{
position:absolute;top:342px;left:2768.35px;
}
.s_page19_391
{
position:absolute;top:702px;left:0px;
}
.s_page19_392
{
position:absolute;top:702px;left:414.71px;letter-spacing:-0.48px;
}
.s_page19_393
{
position:absolute;top:205.8px;left:226.08px;letter-spacing:-10.08px;
}
.s_page19_394
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page19_395
{
position:absolute;top:-18px;left:464.4px;letter-spacing:-0.9px;
}
.s_page19_396
{
position:absolute;top:-18px;left:1277.02px;text-rendering:optimizeLegibility;letter-spacing:-1.61px;
}
.s_page19_397
{
position:absolute;top:-18px;left:2035.89px;
}
.s_page19_398
{
position:absolute;top:-18px;left:2287.17px;
}
.s_page19_399
{
position:absolute;top:342px;left:0px;letter-spacing:-0.41px;
}
.s_page19_400
{
position:absolute;top:342px;left:743.99px;text-rendering:optimizeLegibility;
}
.s_page19_401
{
position:absolute;top:342px;left:1734.69px;
}
.s_page19_402
{
position:absolute;top:342px;left:1971.8px;letter-spacing:-0.36px;
}
.s_page19_403
{
position:absolute;top:342px;left:2607.55px;
}
.s_page19_404
{
position:absolute;top:702px;left:0px;letter-spacing:-0.82px;
}
.s_page19_405
{
position:absolute;top:702px;left:497.99px;
}
.s_page19_406
{
position:absolute;top:702px;left:1027.18px;
}
.s_page19_407
{
position:absolute;top:702px;left:1494.94px;letter-spacing:-1.08px;
}
.s_page19_408
{
position:absolute;top:702px;left:2132.85px;letter-spacing:-0.82px;
}
.s_page19_409
{
position:absolute;top:702px;left:2626.27px;
}
.s_page19_410
{
position:absolute;top:205.8px;left:171.24px;letter-spacing:-2.48px;
}
.s_page19_411
{
position:absolute;top:-18px;left:0px;
}
.s_page19_412
{
position:absolute;top:-18px;left:967.91px;
}
.s_page19_413
{
position:absolute;top:-18px;left:1200.94px;
}
.s_page19_414
{
position:absolute;top:342px;left:0px;
}
.s_page19_415
{
position:absolute;top:342px;left:821.26px;letter-spacing:-1.17px;
}
.s_page19_416
{
position:absolute;top:702px;left:0px;letter-spacing:-1.44px;
}
.s_page19_417
{
position:absolute;top:702px;left:795.11px;letter-spacing:-0.24px;
}
.s_page19_418
{
position:absolute;top:205.8px;left:210.6px;
}
.s_page19_419
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page19_420
{
position:absolute;top:-18px;left:457.2px;letter-spacing:-0.38px;
}
.s_page19_421
{
position:absolute;top:-18px;left:1397.75px;letter-spacing:-0.96px;
}
.s_page19_422
{
position:absolute;top:-18px;left:2524.76px;letter-spacing:-1.01px;
}
.s_page19_423
{
position:absolute;top:-18px;left:3599.71px;
}
.s_page19_424
{
position:absolute;top:342px;left:0px;letter-spacing:-1.38px;
}
.s_page19_425
{
position:absolute;top:342px;left:427.43px;letter-spacing:-0.82px;
}
.s_page19_426
{
position:absolute;top:342px;left:964.54px;letter-spacing:-2.48px;
}
.s_page19_427
{
position:absolute;top:342px;left:1241.02px;
}
.s_page19_428
{
position:absolute;top:342px;left:1655.73px;letter-spacing:-1.23px;
}
.s_page19_429
{
position:absolute;top:342px;left:2510.12px;letter-spacing:-0.69px;
}
.s_page19_430
{
position:absolute;top:342px;left:3361.87px;letter-spacing:-1.47px;
}
.s_page19_431
{
position:absolute;top:205.8px;left:212.04px;letter-spacing:-1.92px;
}
.s_page19_432
{
position:absolute;top:-18px;left:0px;letter-spacing:-3.6px;
}
.s_page19_433
{
position:absolute;top:-18px;left:207.59px;text-rendering:optimizeLegibility;letter-spacing:-1.13px;
}
.s_page19_434
{
position:absolute;top:-18px;left:1353.34px;
}
.s_page19_435
{
position:absolute;top:-18px;left:1590.45px;letter-spacing:-0.54px;
}
.s_page19_436
{
position:absolute;top:-18px;left:2012.61px;letter-spacing:-3px;
}
.s_page19_437
{
position:absolute;top:-18px;left:2204.12px;
}
.s_page19_438
{
position:absolute;top:-18px;left:2899.64px;text-rendering:optimizeLegibility;letter-spacing:-1.61px;
}
.s_page19_439
{
position:absolute;top:342px;left:0px;
}
.s_page19_440
{
position:absolute;top:342px;left:425.75px;letter-spacing:-3px;
}
.s_page19_441
{
position:absolute;top:342px;left:617.27px;letter-spacing:-0.69px;
}
.s_page19_442
{
position:absolute;top:342px;left:1421.01px;letter-spacing:-2.48px;
}
.s_page19_443
{
position:absolute;top:342px;left:1701.57px;letter-spacing:-0.72px;
}
.s_page19_444
{
position:absolute;top:342px;left:2789.48px;letter-spacing:-2.48px;
}
.s_page19_445
{
position:absolute;top:342px;left:3065.95px;letter-spacing:-1.68px;
}
.s_page19_446
{
position:absolute;top:702px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.9px;
}
.s_page19_447
{
position:absolute;top:702px;left:879.59px;
}
.s_page19_448
{
position:absolute;top:702px;left:1578.22px;text-rendering:optimizeLegibility;letter-spacing:-0.72px;
}
.s_page19_449
{
position:absolute;top:205.8px;left:203.16px;letter-spacing:-1.8px;
}
.s_page19_450
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.77px;
}
.s_page19_451
{
position:absolute;top:-18px;left:1146.46px;
}
.s_page19_452
{
position:absolute;top:-18px;left:1561.18px;letter-spacing:-1.23px;
}
.s_page19_453
{
position:absolute;top:-18px;left:2411.48px;
}
.s_page19_454
{
position:absolute;top:-18px;left:3137.46px;letter-spacing:-1.08px;
}
.s_page19_455
{
position:absolute;top:342px;left:0px;
}
.s_page19_456
{
position:absolute;top:342px;left:237.11px;letter-spacing:-0.58px;
}
.s_page19_457
{
position:absolute;top:342px;left:958.3px;
}
.s_page19_458
{
position:absolute;top:342px;left:1243.65px;
}
.s_page19_459
{
position:absolute;top:342px;left:1662.92px;text-rendering:optimizeLegibility;letter-spacing:-0.36px;
}
.s_page19_460
{
position:absolute;top:342px;left:2431.63px;letter-spacing:-0.76px;
}
.s_page19_461
{
position:absolute;top:342px;left:3119.22px;letter-spacing:-2.48px;
}
.s_page19_462
{
position:absolute;top:342px;left:3395.7px;
}
.s_page19_463
{
position:absolute;top:702px;left:0px;letter-spacing:-0.27px;
}
.s_page19_464
{
position:absolute;top:702px;left:781.19px;letter-spacing:-0.45px;
}
.s_page19_465
{
position:absolute;top:205.8px;left:208.8px;letter-spacing:-1.92px;
}
.s_page19_466
{
position:absolute;top:-18px;left:0px;
}
.s_page19_467
{
position:absolute;top:-18px;left:1126.54px;
}
.s_page19_468
{
position:absolute;top:-18px;left:1359.58px;
}
.s_page19_469
{
position:absolute;top:-18px;left:1778.85px;letter-spacing:-1.15px;
}
.s_page19_470
{
position:absolute;top:-18px;left:2291.72px;
}
.s_page19_471
{
position:absolute;top:-18px;left:2810.59px;
}
.s_page19_472
{
position:absolute;top:-18px;left:3315.78px;letter-spacing:-0.24px;
}
.s_page19_473
{
position:absolute;top:342px;left:0px;
}
.s_page19_474
{
position:absolute;top:342px;left:323.51px;
}
.s_page19_475
{
position:absolute;top:342px;left:1026.94px;
}
.s_page19_476
{
position:absolute;top:342px;left:1360.77px;
}
.s_page19_477
{
position:absolute;top:342px;left:1780.05px;
}
.s_page19_478
{
position:absolute;top:205.8px;left:206.52px;letter-spacing:-1.92px;
}
.s_page19_479
{
position:absolute;top:-18px;left:0px;
}
.s_page19_480
{
position:absolute;top:-18px;left:957.35px;
}
.s_page19_481
{
position:absolute;top:-18px;left:1407.34px;letter-spacing:-0.93px;
}
.s_page19_482
{
position:absolute;top:-18px;left:2241.57px;
}
.s_page19_483
{
position:absolute;top:-18px;left:2888.59px;text-rendering:optimizeLegibility;letter-spacing:-1.2px;
}
.s_page19_484
{
position:absolute;top:342px;left:0px;
}
.s_page19_485
{
position:absolute;top:342px;left:669.1px;letter-spacing:-2.48px;
}
.s_page19_486
{
position:absolute;top:342px;left:949.66px;letter-spacing:-0.21px;
}
.s_page19_487
{
position:absolute;top:342px;left:1673.97px;
}
.s_page19_488
{
position:absolute;top:342px;left:1963.4px;letter-spacing:-1.68px;
}
.s_page19_489
{
position:absolute;top:342px;left:2607.56px;letter-spacing:-0.82px;
}
.s_page19_490
{
position:absolute;top:205.8px;left:231.72px;
}
.s_page19_491
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.1px;
}
.s_page19_492
{
position:absolute;top:-18px;left:536.63px;letter-spacing:-1.32px;
}
.s_page19_493
{
position:absolute;top:-18px;left:1362.21px;letter-spacing:-1.62px;
}
.s_page19_494
{
position:absolute;top:-18px;left:1781.73px;letter-spacing:-0.38px;
}
.s_page19_495
{
position:absolute;top:342px;left:0px;
}
.s_page19_496
{
position:absolute;top:342px;left:307.91px;letter-spacing:-1.92px;
}
.s_page19_497
{
position:absolute;top:342px;left:848.38px;
}
.s_page19_498
{
position:absolute;top:342px;left:1263.09px;letter-spacing:-0.41px;
}
.s_page19_499
{
position:absolute;top:-5.54px;left:159.61px;
}

.page19_btn1 {
	position:absolute;
	top: 797px;
	left: 286px;
}
.page19_btn2 {
	position:absolute;
	top: 797px;
	left: 230px;
}
.page19_position1 {
	position:absolute;
	top: 136px;
	left: 227px;
}
.page19_position2 {
	position:absolute;
	top: 145px;
	left: 490px;
}
.page19_position3 {
	position:absolute;
	top: 236px;
	left: 377px;
}
.page19_position4 {
	position:absolute;
	top: 322px;
	left: 227px;
}
.page19_position5 {
	position:absolute;
	top: 326px;
	left: 490px;
}
.page19_position6 {
	position:absolute;
	top: 409px;
	left: 333px;
}
.page19_position7 {
	position:absolute;
	top: 492px;
	left: 243px;
}
.page19_position8 {
	position:absolute;
	top: 492px;
	left: 490px;
}
.page19_position9 {
	position:absolute;
	top: 611px;
	left: 199px;
}
.page19_position10 {
	position:absolute;
	top: 577px;
	left: 484px;
}
