.d_page44-45_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page44-45_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page44-45_3
{
width:9864.57px;height:803.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page44-45_4
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page44-45_5
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page44-45_6
{
width:3005.71px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_7
{
width:6778.4px;height:934.82px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_8
{
width:6470.93px;height:1094.27px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_9
{
width:6484.05px;height:904.17px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_10
{
width:6586.52px;height:960.89px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_11
{
width:6586.52px;height:904.17px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_12
{
width:5106.4px;height:1204.21px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_13
{
width:1619.6px;height:681.1px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_14
{
width:2294.22px;height:678.04px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_15
{
width:2294.22px;height:1015.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_16
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page44-45_17
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page44-45_18
{
width:9864.57px;height:787.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page44-45_19
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page44-45_20
{
width:2088px;height:3669.23px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_21
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page44-45_22
{
width:9456.35px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_23
{
width:2289.6px;height:720px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_24
{
width:2322.8px;height:629.65px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_25
{
width:2250.63px;height:305.8px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_26
{
width:2269.3px;height:273.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_27
{
width:2301.03px;height:194.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_28
{
width:2249.6px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_29
{
width:2301.03px;height:498.02px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_30
{
width:2297.03px;height:635.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page44-45_31
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page44-45_32
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page44-45_33
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page44-45_34
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page44-45_35
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page44-45_36
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page44-45_37
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page44-45_38
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.s_page44-45_39
{
position:absolute;top:-11.04px;left:108.65px;
}
.s_page44-45_40
{
position:absolute;top:168.09px;left:616.04px;
}
.s_page44-45_41
{
position:absolute;top:168.09px;left:659.95px;letter-spacing:-1.29px;
}
.s_page44-45_42
{
position:absolute;top:168.09px;left:1438.35px;
}
.s_page44-45_43
{
position:absolute;top:168.09px;left:2108.94px;
}
.s_page44-45_44
{
position:absolute;top:168.09px;left:2693.02px;
}
.s_page44-45_45
{
position:absolute;top:168.09px;left:3757.85px;letter-spacing:-2.3px;
}
.s_page44-45_46
{
position:absolute;top:168.09px;left:4452.8px;letter-spacing:-1.33px;
}
.s_page44-45_47
{
position:absolute;top:168.09px;left:5517.92px;
}
.s_page44-45_48
{
position:absolute;top:168.09px;left:6234.99px;
}
.s_page44-45_49
{
position:absolute;top:168.09px;left:6893.54px;
}
.s_page44-45_50
{
position:absolute;top:168.09px;left:7194.26px;
}
.s_page44-45_51
{
position:absolute;top:168.09px;left:7750.89px;letter-spacing:-1.28px;
}
.s_page44-45_52
{
position:absolute;top:168.09px;left:8907.56px;letter-spacing:-0.67px;
}
.s_page44-45_53
{
position:absolute;top:568.09px;left:659.95px;
}
.s_page44-45_54
{
position:absolute;top:568.09px;left:1162.55px;
}
.s_page44-45_55
{
position:absolute;top:568.09px;left:1908.45px;
}
.s_page44-45_56
{
position:absolute;top:568.09px;left:2469.85px;letter-spacing:-0.78px;
}
.s_page44-45_57
{
position:absolute;top:568.09px;left:3551.48px;
}
.s_page44-45_58
{
position:absolute;top:568.09px;left:4353.95px;letter-spacing:-0.51px;
}
.s_page44-45_59
{
position:absolute;top:568.09px;left:5183.02px;letter-spacing:-0.2px;
}
.s_page44-45_60
{
position:absolute;top:568.09px;left:6245.61px;
}
.s_page44-45_61
{
position:absolute;top:58.88px;left:0px;
}
.s_page44-45_62
{
position:absolute;top:-12.32px;left:0px;
}
.s_page44-45_63
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page44-45_64
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page44-45_65
{
position:absolute;top:-18px;left:0px;
}
.s_page44-45_66
{
position:absolute;top:-18px;left:265.2px;letter-spacing:-0.4px;
}
.s_page44-45_67
{
position:absolute;top:-18px;left:842.14px;letter-spacing:-3px;
}
.s_page44-45_68
{
position:absolute;top:-18px;left:1033.66px;
}
.s_page44-45_69
{
position:absolute;top:-18px;left:1895.73px;
}
.s_page44-45_70
{
position:absolute;top:342px;left:0px;letter-spacing:-0.66px;
}
.s_page44-45_71
{
position:absolute;top:342px;left:506.15px;
}
.s_page44-45_72
{
position:absolute;top:342px;left:1479.34px;
}
.s_page44-45_73
{
position:absolute;top:342px;left:1734.69px;letter-spacing:-1.27px;
}
.s_page44-45_74
{
position:absolute;top:702px;left:0px;
}
.s_page44-45_75
{
position:absolute;top:702px;left:505.19px;
}
.s_page44-45_76
{
position:absolute;top:702px;left:1231.66px;
}
.s_page44-45_77
{
position:absolute;top:702px;left:1703.49px;
}
.s_page44-45_78
{
position:absolute;top:702px;left:2449.64px;letter-spacing:-1.68px;
}
.s_page44-45_79
{
position:absolute;top:702px;left:2867.95px;letter-spacing:-3px;
}
.s_page44-45_80
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.32px;
}
.s_page44-45_81
{
position:absolute;top:1062px;left:1095.11px;
}
.s_page44-45_82
{
position:absolute;top:1062px;left:1698.46px;
}
.s_page44-45_83
{
position:absolute;top:-18px;left:0px;
}
.s_page44-45_84
{
position:absolute;top:-18px;left:331.28px;letter-spacing:-1.04px;
}
.s_page44-45_85
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.11px;
}
.s_page44-45_86
{
position:absolute;top:-18px;left:1577.6px;
}
.s_page44-45_87
{
position:absolute;top:-18px;left:1832.96px;
}
.s_page44-45_88
{
position:absolute;top:-18px;left:2298.79px;letter-spacing:-1.59px;
}
.s_page44-45_89
{
position:absolute;top:-18px;left:3445.27px;
}
.s_page44-45_90
{
position:absolute;top:-18px;left:3899.1px;letter-spacing:-0.66px;
}
.s_page44-45_91
{
position:absolute;top:-18px;left:4401.17px;
}
.s_page44-45_92
{
position:absolute;top:-18px;left:4820.44px;
}
.s_page44-45_93
{
position:absolute;top:-18px;left:5688.27px;
}
.s_page44-45_94
{
position:absolute;top:342px;left:639.94px;
}
.s_page44-45_95
{
position:absolute;top:342px;left:1504.88px;
}
.s_page44-45_96
{
position:absolute;top:342px;left:2790.06px;
}
.s_page44-45_97
{
position:absolute;top:342px;left:3551.57px;
}
.s_page44-45_98
{
position:absolute;top:342px;left:4213.96px;
}
.s_page44-45_99
{
position:absolute;top:342px;left:4416.27px;letter-spacing:-0.66px;
}
.s_page44-45_100
{
position:absolute;top:342px;left:4922.43px;letter-spacing:-0.26px;
}
.s_page44-45_101
{
position:absolute;top:342px;left:6137.77px;
}
.s_page44-45_102
{
position:absolute;top:702px;left:639.94px;letter-spacing:-3.8px;
}
.s_page44-45_103
{
position:absolute;top:702px;left:1237.52px;
}
.s_page44-45_104
{
position:absolute;top:-18px;left:0px;
}
.s_page44-45_105
{
position:absolute;top:-18px;left:257.6px;letter-spacing:-1.28px;
}
.s_page44-45_106
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.11px;
}
.s_page44-45_107
{
position:absolute;top:-18px;left:1577.6px;
}
.s_page44-45_108
{
position:absolute;top:-18px;left:1826.72px;letter-spacing:-0.41px;
}
.s_page44-45_109
{
position:absolute;top:-18px;left:2594.47px;
}
.s_page44-45_110
{
position:absolute;top:-18px;left:3052.86px;letter-spacing:-0.51px;
}
.s_page44-45_111
{
position:absolute;top:-18px;left:3794.93px;letter-spacing:-0.82px;
}
.s_page44-45_112
{
position:absolute;top:-18px;left:4292.92px;
}
.s_page44-45_113
{
position:absolute;top:-18px;left:4824.99px;
}
.s_page44-45_114
{
position:absolute;top:-18px;left:5591.05px;
}
.s_page44-45_115
{
position:absolute;top:-18px;left:5824.09px;
}
.s_page44-45_116
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.23px;
}
.s_page44-45_117
{
position:absolute;top:342px;left:1494.32px;
}
.s_page44-45_118
{
position:absolute;top:342px;left:2362.15px;
}
.s_page44-45_119
{
position:absolute;top:342px;left:3647.33px;
}
.s_page44-45_120
{
position:absolute;top:758.69px;left:0px;
}
.s_page44-45_121
{
position:absolute;top:758.69px;left:705.21px;letter-spacing:0px;
}
.s_page44-45_122
{
position:absolute;top:-18px;left:0px;
}
.s_page44-45_123
{
position:absolute;top:-18px;left:264.08px;letter-spacing:-1.28px;
}
.s_page44-45_124
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.36px;
}
.s_page44-45_125
{
position:absolute;top:-18px;left:1164.81px;letter-spacing:-2.48px;
}
.s_page44-45_126
{
position:absolute;top:-18px;left:1441.29px;
}
.s_page44-45_127
{
position:absolute;top:-18px;left:1860.56px;
}
.s_page44-45_128
{
position:absolute;top:-18px;left:2400.31px;letter-spacing:0px;
}
.s_page44-45_129
{
position:absolute;top:-18px;left:3651.4px;letter-spacing:-2.48px;
}
.s_page44-45_130
{
position:absolute;top:-18px;left:3924.52px;letter-spacing:-1.98px;
}
.s_page44-45_131
{
position:absolute;top:-18px;left:4751.32px;
}
.s_page44-45_132
{
position:absolute;top:-18px;left:5209.71px;
}
.s_page44-45_133
{
position:absolute;top:-18px;left:5975.77px;
}
.s_page44-45_134
{
position:absolute;top:342px;left:639.94px;
}
.s_page44-45_135
{
position:absolute;top:342px;left:1059.21px;
}
.s_page44-45_136
{
position:absolute;top:342px;left:1792.63px;
}
.s_page44-45_137
{
position:absolute;top:342px;left:2605.02px;
}
.s_page44-45_138
{
position:absolute;top:342px;left:3020.94px;letter-spacing:-1.92px;
}
.s_page44-45_139
{
position:absolute;top:342px;left:3530.45px;
}
.s_page44-45_140
{
position:absolute;top:342px;left:4413.15px;letter-spacing:-0.93px;
}
.s_page44-45_141
{
position:absolute;top:342px;left:5188.82px;
}
.s_page44-45_142
{
position:absolute;top:342px;left:5608.09px;letter-spacing:-0.32px;
}
.s_page44-45_143
{
position:absolute;top:702px;left:639.94px;
}
.s_page44-45_144
{
position:absolute;top:702px;left:1364.97px;letter-spacing:-1.98px;
}
.s_page44-45_145
{
position:absolute;top:702px;left:2193.44px;
}
.s_page44-45_146
{
position:absolute;top:-18px;left:0px;
}
.s_page44-45_147
{
position:absolute;top:-18px;left:261.2px;
}
.s_page44-45_148
{
position:absolute;top:-18px;left:639.94px;
}
.s_page44-45_149
{
position:absolute;top:-18px;left:1198.65px;letter-spacing:-3px;
}
.s_page44-45_150
{
position:absolute;top:-18px;left:1390.16px;letter-spacing:-0.21px;
}
.s_page44-45_151
{
position:absolute;top:-18px;left:2137.03px;letter-spacing:-2.48px;
}
.s_page44-45_152
{
position:absolute;top:-18px;left:2417.59px;letter-spacing:0px;
}
.s_page44-45_153
{
position:absolute;top:-18px;left:2866.86px;letter-spacing:-0.81px;
}
.s_page44-45_154
{
position:absolute;top:-18px;left:3751.96px;
}
.s_page44-45_155
{
position:absolute;top:-18px;left:4210.35px;
}
.s_page44-45_156
{
position:absolute;top:-18px;left:4976.42px;
}
.s_page44-45_157
{
position:absolute;top:-18px;left:5847.36px;
}
.s_page44-45_158
{
position:absolute;top:342px;left:639.94px;letter-spacing:-2.13px;
}
.s_page44-45_159
{
position:absolute;top:342px;left:1435.53px;
}
.s_page44-45_160
{
position:absolute;top:342px;left:1668.56px;
}
.s_page44-45_161
{
position:absolute;top:342px;left:2083.28px;letter-spacing:-1.23px;
}
.s_page44-45_162
{
position:absolute;top:342px;left:2933.58px;
}
.s_page44-45_163
{
position:absolute;top:342px;left:3663.64px;
}
.s_page44-45_164
{
position:absolute;top:758.69px;left:0px;
}
.s_page44-45_165
{
position:absolute;top:758.69px;left:639.94px;letter-spacing:0px;
}
.s_page44-45_166
{
position:absolute;top:-18px;left:0px;
}
.s_page44-45_167
{
position:absolute;top:-18px;left:261.68px;letter-spacing:-0.8px;
}
.s_page44-45_168
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page44-45_169
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:2.45px;
}
.s_page44-45_170
{
position:absolute;top:-18px;left:1649.36px;letter-spacing:-0.82px;
}
.s_page44-45_171
{
position:absolute;top:-18px;left:2147.34px;letter-spacing:0px;
}
.s_page44-45_172
{
position:absolute;top:-18px;left:2679.42px;
}
.s_page44-45_173
{
position:absolute;top:-18px;left:3445.48px;letter-spacing:-0.81px;
}
.s_page44-45_174
{
position:absolute;top:-18px;left:4342.35px;letter-spacing:-1.68px;
}
.s_page44-45_175
{
position:absolute;top:-18px;left:4913.3px;letter-spacing:-0.87px;
}
.s_page44-45_176
{
position:absolute;top:342px;left:639.94px;
}
.s_page44-45_177
{
position:absolute;top:342px;left:929.37px;letter-spacing:-0.33px;
}
.s_page44-45_178
{
position:absolute;top:342px;left:1862.48px;
}
.s_page44-45_179
{
position:absolute;top:342px;left:2682.3px;
}
.s_page44-45_180
{
position:absolute;top:342px;left:3218.69px;
}
.s_page44-45_181
{
position:absolute;top:342px;left:3542.2px;
}
.s_page44-45_182
{
position:absolute;top:342px;left:4541.06px;letter-spacing:-0.64px;
}
.s_page44-45_183
{
position:absolute;top:342px;left:4755.85px;
}
.s_page44-45_184
{
position:absolute;top:342px;left:4988.89px;
}
.s_page44-45_185
{
position:absolute;top:342px;left:5403.6px;letter-spacing:-1.23px;
}
.s_page44-45_186
{
position:absolute;top:702px;left:639.94px;
}
.s_page44-45_187
{
position:absolute;top:702px;left:1504.4px;text-rendering:optimizeLegibility;
}
.s_page44-45_188
{
position:absolute;top:702px;left:2399.11px;
}
.s_page44-45_189
{
position:absolute;top:702px;left:3221.57px;
}
.s_page44-45_190
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.62px;
}
.s_page44-45_191
{
position:absolute;top:-18px;left:1158.94px;letter-spacing:-1.04px;
}
.s_page44-45_192
{
position:absolute;top:-18px;left:1772.14px;letter-spacing:-0.21px;
}
.s_page44-45_193
{
position:absolute;top:-18px;left:2703.8px;letter-spacing:-0.24px;
}
.s_page44-45_194
{
position:absolute;top:398.69px;left:0px;
}
.s_page44-45_195
{
position:absolute;top:398.69px;left:705.11px;
}
.s_page44-45_196
{
position:absolute;top:398.69px;left:1586.14px;letter-spacing:-0.21px;
}
.s_page44-45_197
{
position:absolute;top:398.69px;left:3000px;letter-spacing:-0.21px;
}
.s_page44-45_198
{
position:absolute;top:398.69px;left:3822.08px;
}
.s_page44-45_199
{
position:absolute;top:398.69px;left:4396.97px;letter-spacing:-0.24px;
}
.s_page44-45_200
{
position:absolute;top:815.38px;left:0px;letter-spacing:-0.41px;
}
.s_page44-45_201
{
position:absolute;top:815.38px;left:1595.74px;letter-spacing:-0.21px;
}
.s_page44-45_202
{
position:absolute;top:815.38px;left:3000px;
}
.s_page44-45_203
{
position:absolute;top:815.38px;left:3683.75px;letter-spacing:-0.24px;
}
.s_page44-45_204
{
position:absolute;top:-18px;left:280.97px;letter-spacing:-2.88px;
}
.s_page44-45_205
{
position:absolute;top:-18px;left:677.21px;letter-spacing:-0.79px;
}
.s_page44-45_206
{
position:absolute;top:342px;left:119.21px;letter-spacing:-0.92px;
}
.s_page44-45_207
{
position:absolute;top:342px;left:741.28px;
}
.s_page44-45_208
{
position:absolute;top:-18px;left:413.44px;
}
.s_page44-45_209
{
position:absolute;top:-18px;left:1034.79px;
}
.s_page44-45_210
{
position:absolute;top:-18px;left:1367.66px;letter-spacing:-1.87px;
}
.s_page44-45_211
{
position:absolute;top:342px;left:276.16px;letter-spacing:-1.29px;
}
.s_page44-45_212
{
position:absolute;top:-18px;left:32.92px;
}
.s_page44-45_213
{
position:absolute;top:-18px;left:98.2px;letter-spacing:-0.66px;
}
.s_page44-45_214
{
position:absolute;top:-18px;left:528.04px;letter-spacing:-0.88px;
}
.s_page44-45_215
{
position:absolute;top:-18px;left:888.99px;letter-spacing:-1.68px;
}
.s_page44-45_216
{
position:absolute;top:-18px;left:1702.34px;
}
.s_page44-45_217
{
position:absolute;top:342px;left:232.48px;
}
.s_page44-45_218
{
position:absolute;top:342px;left:483.76px;
}
.s_page44-45_219
{
position:absolute;top:342px;left:903.03px;letter-spacing:-1.44px;
}
.s_page44-45_220
{
position:absolute;top:342px;left:1450.46px;
}
.s_page44-45_221
{
position:absolute;top:702px;left:718.36px;letter-spacing:-0.59px;
}
.s_page44-45_222
{
position:absolute;top:-5.54px;left:123.29px;
}
.s_page44-45_223
{
position:absolute;top:152.72px;left:543.94px;
}
.s_page44-45_224
{
position:absolute;top:152.72px;left:659.95px;letter-spacing:-0.7px;
}
.s_page44-45_225
{
position:absolute;top:152.72px;left:1372.82px;letter-spacing:0px;
}
.s_page44-45_226
{
position:absolute;top:152.72px;left:1906.21px;letter-spacing:-0.5px;
}
.s_page44-45_227
{
position:absolute;top:152.72px;left:2584.37px;
}
.s_page44-45_228
{
position:absolute;top:152.72px;left:3059.81px;
}
.s_page44-45_229
{
position:absolute;top:152.72px;left:3621.2px;
}
.s_page44-45_230
{
position:absolute;top:152.72px;left:4719.63px;letter-spacing:0px;
}
.s_page44-45_231
{
position:absolute;top:152.72px;left:5856.42px;letter-spacing:-0.61px;
}
.s_page44-45_232
{
position:absolute;top:152.72px;left:6769.21px;
}
.s_page44-45_233
{
position:absolute;top:152.72px;left:7271.81px;letter-spacing:-0.59px;
}
.s_page44-45_234
{
position:absolute;top:152.72px;left:8564.56px;
}
.s_page44-45_235
{
position:absolute;top:552.72px;left:659.95px;
}
.s_page44-45_236
{
position:absolute;top:552.72px;left:1310.11px;
}
.s_page44-45_237
{
position:absolute;top:552.72px;left:1812.7px;letter-spacing:-0.2px;
}
.s_page44-45_238
{
position:absolute;top:552.72px;left:2707.29px;
}
.s_page44-45_239
{
position:absolute;top:552.72px;left:3008.01px;
}
.s_page44-45_240
{
position:absolute;top:552.72px;left:3850.24px;letter-spacing:-2.18px;
}
.s_page44-45_241
{
position:absolute;top:552.72px;left:4506.56px;letter-spacing:-0.91px;
}
.s_page44-45_242
{
position:absolute;top:552.72px;left:5009.99px;letter-spacing:-0.17px;
}
.s_page44-45_243
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page44-45_244
{
position:absolute;top:-18px;left:0px;
}
.s_page44-45_245
{
position:absolute;top:-18px;left:236.24px;letter-spacing:-1.84px;
}
.s_page44-45_246
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.97px;
}
.s_page44-45_247
{
position:absolute;top:479.95px;left:0px;
}
.s_page44-45_248
{
position:absolute;top:479.95px;left:233.12px;letter-spacing:-2.96px;
}
.s_page44-45_249
{
position:absolute;top:479.95px;left:639.94px;letter-spacing:-0.13px;
}
.s_page44-45_250
{
position:absolute;top:977.89px;left:0px;
}
.s_page44-45_251
{
position:absolute;top:977.89px;left:245.12px;letter-spacing:-1.36px;
}
.s_page44-45_252
{
position:absolute;top:977.89px;left:639.94px;letter-spacing:-1.97px;
}
.s_page44-45_253
{
position:absolute;top:977.89px;left:1248.09px;letter-spacing:0px;
}
.s_page44-45_254
{
position:absolute;top:1475.84px;left:0px;
}
.s_page44-45_255
{
position:absolute;top:1475.84px;left:223.52px;
}
.s_page44-45_256
{
position:absolute;top:1475.84px;left:639.94px;letter-spacing:-1.39px;
}
.s_page44-45_257
{
position:absolute;top:1973.79px;left:0px;
}
.s_page44-45_258
{
position:absolute;top:1973.79px;left:236.24px;letter-spacing:-2px;
}
.s_page44-45_259
{
position:absolute;top:1973.79px;left:639.94px;letter-spacing:-0.27px;
}
.s_page44-45_260
{
position:absolute;top:2471.73px;left:0px;
}
.s_page44-45_261
{
position:absolute;top:2471.73px;left:278px;
}
.s_page44-45_262
{
position:absolute;top:2471.73px;left:639.94px;letter-spacing:0px;
}
.s_page44-45_263
{
position:absolute;top:2969.68px;left:0px;
}
.s_page44-45_264
{
position:absolute;top:2969.68px;left:224px;
}
.s_page44-45_265
{
position:absolute;top:2969.68px;left:639.94px;letter-spacing:-0.84px;
}
.s_page44-45_266
{
position:absolute;top:3467.63px;left:0px;
}
.s_page44-45_267
{
position:absolute;top:3467.63px;left:234.8px;letter-spacing:-2.24px;
}
.s_page44-45_268
{
position:absolute;top:3467.63px;left:639.94px;letter-spacing:-4.2px;
}
.s_page44-45_269
{
position:absolute;top:3467.63px;left:1263.21px;letter-spacing:-0.66px;
}
.s_page44-45_270
{
position:absolute;top:-12.32px;left:0px;
}
.s_page44-45_271
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page44-45_272
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page44-45_273
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.21px;
}
.s_page44-45_274
{
position:absolute;top:-18px;left:889.67px;letter-spacing:-1.17px;
}
.s_page44-45_275
{
position:absolute;top:-18px;left:1892.14px;
}
.s_page44-45_276
{
position:absolute;top:-18px;left:2504.13px;
}
.s_page44-45_277
{
position:absolute;top:-18px;left:3011.24px;letter-spacing:-0.48px;
}
.s_page44-45_278
{
position:absolute;top:-18px;left:3794.11px;
}
.s_page44-45_279
{
position:absolute;top:-18px;left:4104.18px;
}
.s_page44-45_280
{
position:absolute;top:-18px;left:4523.46px;letter-spacing:-1.24px;
}
.s_page44-45_281
{
position:absolute;top:-18px;left:5210.33px;letter-spacing:-1.37px;
}
.s_page44-45_282
{
position:absolute;top:-18px;left:5987.44px;letter-spacing:-0.21px;
}
.s_page44-45_283
{
position:absolute;top:-18px;left:6762.15px;
}
.s_page44-45_284
{
position:absolute;top:-18px;left:6999.26px;letter-spacing:-1.37px;
}
.s_page44-45_285
{
position:absolute;top:-18px;left:8033.65px;
}
.s_page44-45_286
{
position:absolute;top:-18px;left:8452.92px;
}
.s_page44-45_287
{
position:absolute;top:342px;left:0px;
}
.s_page44-45_288
{
position:absolute;top:342px;left:766.07px;
}
.s_page44-45_289
{
position:absolute;top:342px;left:1021.42px;
}
.s_page44-45_290
{
position:absolute;top:342px;left:1669.89px;letter-spacing:-3.15px;
}
.s_page44-45_291
{
position:absolute;top:342px;left:2743.4px;
}
.s_page44-45_292
{
position:absolute;top:342px;left:3162.67px;letter-spacing:-1.32px;
}
.s_page44-45_293
{
position:absolute;top:342px;left:3721.15px;letter-spacing:-1px;
}
.s_page44-45_294
{
position:absolute;top:342px;left:4492.5px;letter-spacing:-0.21px;
}
.s_page44-45_295
{
position:absolute;top:342px;left:5267.21px;letter-spacing:-1.05px;
}
.s_page44-45_296
{
position:absolute;top:342px;left:6093.75px;letter-spacing:-0.92px;
}
.s_page44-45_297
{
position:absolute;top:342px;left:6791.66px;letter-spacing:-0.2px;
}
.s_page44-45_298
{
position:absolute;top:342px;left:8219.16px;
}
.s_page44-45_299
{
position:absolute;top:342px;left:8474.52px;letter-spacing:-1.16px;
}
.s_page44-45_300
{
position:absolute;top:342px;left:9095.15px;
}
.s_page44-45_301
{
position:absolute;top:702px;left:0px;letter-spacing:-0.38px;
}
.s_page44-45_302
{
position:absolute;top:702px;left:929.75px;
}
.s_page44-45_303
{
position:absolute;top:702px;left:1349.02px;
}
.s_page44-45_304
{
position:absolute;top:702px;left:2216.85px;
}
.s_page44-45_305
{
position:absolute;top:702px;left:2982.91px;
}
.s_page44-45_306
{
position:absolute;top:702px;left:3238.27px;letter-spacing:-1px;
}
.s_page44-45_307
{
position:absolute;top:702px;left:3824.34px;letter-spacing:-0.53px;
}
.s_page44-45_308
{
position:absolute;top:702px;left:4414.26px;
}
.s_page44-45_309
{
position:absolute;top:702px;left:4621.13px;
}
.s_page44-45_310
{
position:absolute;top:702px;left:4858.24px;letter-spacing:-0.26px;
}
.s_page44-45_311
{
position:absolute;top:702px;left:6073.59px;
}
.s_page44-45_312
{
position:absolute;top:702px;left:6328.94px;letter-spacing:-2.16px;
}
.s_page44-45_313
{
position:absolute;top:-18px;left:445.45px;letter-spacing:-1.24px;
}
.s_page44-45_314
{
position:absolute;top:-18px;left:1132.32px;letter-spacing:-1.37px;
}
.s_page44-45_315
{
position:absolute;top:342px;left:790.08px;letter-spacing:-0.24px;
}
.s_page44-45_316
{
position:absolute;top:-18px;left:228.17px;letter-spacing:-1.08px;
}
.s_page44-45_317
{
position:absolute;top:-18px;left:1324.24px;
}
.s_page44-45_318
{
position:absolute;top:342px;left:917.44px;
}
.s_page44-45_319
{
position:absolute;top:-18px;left:249.21px;letter-spacing:-1.2px;
}
.s_page44-45_320
{
position:absolute;top:-18px;left:1292px;letter-spacing:-0.24px;
}
.s_page44-45_321
{
position:absolute;top:-18px;left:131.94px;letter-spacing:-0.86px;
}
.s_page44-45_322
{
position:absolute;top:-18px;left:813.77px;
}
.s_page44-45_323
{
position:absolute;top:-18px;left:1649.45px;
}
.s_page44-45_324
{
position:absolute;top:-18px;left:219.32px;
}
.s_page44-45_325
{
position:absolute;top:-18px;left:1517.95px;letter-spacing:-1.2px;
}
.s_page44-45_326
{
position:absolute;top:-18px;left:409.97px;letter-spacing:-1.07px;
}
.s_page44-45_327
{
position:absolute;top:342px;left:676.36px;letter-spacing:-1.5px;
}
.s_page44-45_328
{
position:absolute;top:342px;left:1134.04px;
}
.s_page44-45_329
{
position:absolute;top:-18px;left:335.49px;letter-spacing:-0.79px;
}
.s_page44-45_330
{
position:absolute;top:-18px;left:1256.12px;letter-spacing:-0.24px;
}
.s_page44-45_331
{
position:absolute;top:-18px;left:78px;letter-spacing:-1.28px;
}
.s_page44-45_332
{
position:absolute;top:-18px;left:851.04px;letter-spacing:-1px;
}
.s_page44-45_333
{
position:absolute;top:342px;left:793.8px;letter-spacing:-0.24px;
}
.s_page44-45_334
{
position:absolute;top:99.95px;left:135.64px;letter-spacing:-1.56px;
}
.s_page44-45_335
{
position:absolute;top:99.95px;left:96.52px;letter-spacing:-1.92px;
}
.s_page44-45_336
{
position:absolute;top:99.95px;left:100.84px;letter-spacing:-1.2px;
}
.s_page44-45_337
{
position:absolute;top:99.95px;left:96.52px;letter-spacing:-1.92px;
}
.s_page44-45_338
{
position:absolute;top:99.95px;left:100.6px;
}
.s_page44-45_339
{
position:absolute;top:99.95px;left:116.08px;letter-spacing:-10.08px;
}
.s_page44-45_340
{
position:absolute;top:99.95px;left:98.8px;letter-spacing:-1.92px;
}
.s_page44-45_341
{
position:absolute;top:99.95px;left:93.16px;letter-spacing:-1.8px;
}
.page44_btn1{
	position:absolute;
	left: 229px;
	top: 801px;
}

#box1{
	position:absolute;
	left: 112px;
	top: 146px;
	width: 130px;
}
#box2{
	position:absolute;
	left: 246px;
	top: 241px;
	width: 130px;
}
#box3{
	position:absolute;
	left: 86px;
	top: 334px;
	width: 131px;
}

#box4{
	position:absolute;
	left: 375px;
	top: 427px;
	width: 171px;
}

#box5{
	position:absolute;
	left: 162px;
	top: 519px;
	width: 128px;
}

#text1{
	position: absolute;
	left: 70px;
	top: 583px;
	cursor:pointer;
}
#text2{
	position: absolute;
	left: 70px;
	top: 604px;
	cursor:pointer;
}

#text3{
	position: absolute;
	left: 220px;
	top: 604px;
	cursor:pointer;
}

#text4{
	position: absolute;
	left: 71px;
	top: 625px;
	cursor:pointer;
}

#text5{
	position: absolute;
	left: 221px;
	top: 625px;
	cursor:pointer;
}
.p32_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.wda35
{width: 35px;}

.page45_position1{
	position:absolute;
	left: 166px;
	top: 223px;
	height: 36px;
}
.page45_position2{
	position:absolute;
	left: 340px;
	top: 222px;
	height:36px;
}
.page45_position3{
	position:absolute;
	left: 506px;
	top: 222px;
	height:36px;
}
.page45_position4{
	position:absolute;
	left: 165px;
	top: 415px;
	height:36px;
}
.page45_position5{
	position:absolute;
	left: 509px;
	top: 415px;
	height:36px;
}
.page45_position6{
	position:absolute;
	left: 166px;
	top: 607px;
	height:36px;
}
.page45_position7{
	position:absolute;
	left: 340px;
	top: 607px;
	height:36px;
}
.page45_position8{
	position:absolute;
	left: 506px;
	top: 607px;
	height:36px;
}
.page45_btn1 {
	position:absolute;
	top: 797px;
	left: 265px;
}
.page45_btn2 {
	position:absolute;
	top: 797px;
	left: 206px;
}
