.d_page25_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page25_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page25_3
{
width:9864.57px;height:455.85px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page25_4
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page25_5
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page25_6
{
width:4452.64px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_7
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page25_8
{
width:4291.2px;height:2412.23px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_9
{
width:5454.4px;height:6493.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_10
{
width:2437.26px;height:445.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_11
{
width:2437.26px;height:359.7px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_12
{
width:2553.93px;height:445.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_13
{
width:2437.26px;height:359.7px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_14
{
width:2533.93px;height:363.77px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_15
{
width:2437.26px;height:357.23px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page25_16
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page25_17
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page25_18
{
width:9691.66px;height:1014.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);
}
.d_page25_19
{
width:4946.42px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);
}
.d_page25_20
{
width:3515.31px;height:2566.82px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3px) rotate(0deg) scale(0.05);
}
.d_page25_21
{
width:2648.4px;height:2531.12px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3px) rotate(0deg) scale(0.05);
}
.d_page25_22
{
width:2892.21px;height:2536.39px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3px) rotate(0deg) scale(0.05);
}
.d_page25_23
{
width:5259.37px;height:2292.23px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3px) rotate(0deg) scale(0.05);
}
.d_page25_24
{
width:2483.45px;height:2536.39px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);
}
.d_page25_25
{
width:2619.92px;height:2566.82px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);
}
.d_page25_26
{
width:2448.14px;height:2265.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3px) rotate(0deg) scale(0.05);
}
.d_page25_27
{
width:3229.43px;height:3174px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3px) rotate(0deg) scale(0.05);
}
.d_page25_28
{
width:3517.69px;height:3341.11px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3.16px,3.16px) rotate(0deg) scale(0.05);-webkit-transform: translate(3.16px,3.16px) rotate(0deg) scale(0.05);-moz-transform: translate(3.16px,3.16px) rotate(0deg) scale(0.05);-ms-transform: translate(3.16px,3.16px) rotate(0deg) scale(0.05);-o-transform: translate(3.16px,3.16px) rotate(0deg) scale(0.05);
}
.d_page25_29
{
width:3951.15px;height:3378.19px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3px) rotate(0deg) scale(0.05);
}
.d_page25_30
{
width:3018.18px;height:2919.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(3px,3.27px) rotate(0deg) scale(0.05);
}
.s_page25_31
{
position:absolute;top:-11.04px;left:112.65px;
}
.s_page25_32
{
position:absolute;top:212.72px;left:543.94px;
}
.s_page25_33
{
position:absolute;top:212.72px;left:659.95px;letter-spacing:-0.61px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_34
{
position:absolute;top:212.72px;left:1536.23px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_35
{
position:absolute;top:212.72px;left:2307.68px;letter-spacing:-1.03px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_36
{
position:absolute;top:212.72px;left:3107.09px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_37
{
position:absolute;top:212.72px;left:3862.94px;letter-spacing:-2.8px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_38
{
position:absolute;top:212.72px;left:4183.62px;letter-spacing:-0.7px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_39
{
position:absolute;top:212.72px;left:4866.89px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_40
{
position:absolute;top:212.72px;left:5491.04px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_41
{
position:absolute;top:212.72px;left:5973.53px;letter-spacing:-0.2px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_42
{
position:absolute;top:212.72px;left:6831.26px;letter-spacing:-0.61px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_43
{
position:absolute;top:212.72px;left:7695.99px;letter-spacing:-2.18px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_44
{
position:absolute;top:212.72px;left:8326.05px;letter-spacing:-0.91px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_45
{
position:absolute;top:212.72px;left:8809.35px;letter-spacing:-0.17px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page25_46
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page25_47
{
position:absolute;top:-12.32px;left:0px;
}
.s_page25_48
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page25_49
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page25_50
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.83px;
}
.s_page25_51
{
position:absolute;top:-18px;left:753.59px;
}
.s_page25_52
{
position:absolute;top:-18px;left:1487.01px;
}
.s_page25_53
{
position:absolute;top:-18px;left:2791.63px;
}
.s_page25_54
{
position:absolute;top:-18px;left:3335.94px;
}
.s_page25_55
{
position:absolute;top:-18px;left:3573.06px;
}
.s_page25_56
{
position:absolute;top:342px;left:0px;letter-spacing:-0.48px;
}
.s_page25_57
{
position:absolute;top:342px;left:630.23px;
}
.s_page25_58
{
position:absolute;top:342px;left:1137.34px;letter-spacing:-0.48px;
}
.s_page25_59
{
position:absolute;top:342px;left:1920.22px;
}
.s_page25_60
{
position:absolute;top:342px;left:2230.29px;
}
.s_page25_61
{
position:absolute;top:342px;left:2649.56px;letter-spacing:-0.32px;
}
.s_page25_62
{
position:absolute;top:342px;left:3381.79px;
}
.s_page25_63
{
position:absolute;top:702px;left:0px;letter-spacing:-0.48px;
}
.s_page25_64
{
position:absolute;top:702px;left:627.83px;letter-spacing:-0.64px;
}
.s_page25_65
{
position:absolute;top:702px;left:838.07px;letter-spacing:-0.66px;
}
.s_page25_66
{
position:absolute;top:702px;left:1344.22px;
}
.s_page25_67
{
position:absolute;top:702px;left:1880.37px;
}
.s_page25_68
{
position:absolute;top:702px;left:2214.2px;
}
.s_page25_69
{
position:absolute;top:702px;left:2633.47px;letter-spacing:-1.6px;
}
.s_page25_70
{
position:absolute;top:702px;left:3247.14px;letter-spacing:-1.23px;
}
.s_page25_71
{
position:absolute;top:702px;left:4204.01px;
}
.s_page25_72
{
position:absolute;top:1062px;left:0px;
}
.s_page25_73
{
position:absolute;top:1062px;left:419.27px;letter-spacing:-0.38px;
}
.s_page25_74
{
position:absolute;top:1062px;left:1265.26px;letter-spacing:-1.23px;
}
.s_page25_75
{
position:absolute;top:1062px;left:2156.61px;letter-spacing:-3.12px;
}
.s_page25_76
{
position:absolute;top:1062px;left:2480.13px;
}
.s_page25_77
{
position:absolute;top:1062px;left:3027.56px;letter-spacing:-0.19px;
}
.s_page25_78
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page25_79
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page25_80
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.48px;
}
.s_page25_81
{
position:absolute;top:-18px;left:688.07px;
}
.s_page25_82
{
position:absolute;top:-18px;left:1215.34px;
}
.s_page25_83
{
position:absolute;top:-18px;left:1470.7px;letter-spacing:-0.88px;
}
.s_page25_84
{
position:absolute;top:-18px;left:2675.97px;text-rendering:optimizeLegibility;
}
.s_page25_85
{
position:absolute;top:342px;left:0px;
}
.s_page25_86
{
position:absolute;top:342px;left:425.75px;
}
.s_page25_87
{
position:absolute;top:342px;left:932.86px;
}
.s_page25_88
{
position:absolute;top:342px;left:1453.65px;
}
.s_page25_89
{
position:absolute;top:342px;left:1743.08px;
}
.s_page25_90
{
position:absolute;top:342px;left:2381.24px;letter-spacing:-0.31px;
}
.s_page25_91
{
position:absolute;top:702px;left:0px;letter-spacing:-2.48px;
}
.s_page25_92
{
position:absolute;top:702px;left:280.56px;
}
.s_page25_93
{
position:absolute;top:702px;left:1082.62px;
}
.s_page25_94
{
position:absolute;top:702px;left:1554.46px;letter-spacing:-0.7px;
}
.s_page25_95
{
position:absolute;top:702px;left:3138.42px;letter-spacing:-2.21px;
}
.s_page25_96
{
position:absolute;top:1062px;left:0px;
}
.s_page25_97
{
position:absolute;top:1062px;left:802.06px;
}
.s_page25_98
{
position:absolute;top:1062px;left:1273.9px;letter-spacing:-0.51px;
}
.s_page25_99
{
position:absolute;top:1062px;left:2806.03px;letter-spacing:-1.87px;
}
.s_page25_100
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.86px;
}
.s_page25_101
{
position:absolute;top:1422px;left:1123.66px;
}
.s_page25_102
{
position:absolute;top:1422px;left:1985.49px;
}
.s_page25_103
{
position:absolute;top:1422px;left:2903.71px;letter-spacing:-2.48px;
}
.s_page25_104
{
position:absolute;top:1422px;left:3184.27px;
}
.s_page25_105
{
position:absolute;top:1782px;left:0px;letter-spacing:-0.18px;
}
.s_page25_106
{
position:absolute;top:1782px;left:890.63px;letter-spacing:-0.69px;
}
.s_page25_107
{
position:absolute;top:1782px;left:1856.62px;letter-spacing:-0.96px;
}
.s_page25_108
{
position:absolute;top:1782px;left:2320.05px;
}
.s_page25_109
{
position:absolute;top:1782px;left:3235.63px;
}
.s_page25_110
{
position:absolute;top:2142px;left:0px;
}
.s_page25_111
{
position:absolute;top:2142px;left:820.79px;letter-spacing:-1.84px;
}
.s_page25_112
{
position:absolute;top:2142px;left:1114.06px;letter-spacing:-1.62px;
}
.s_page25_113
{
position:absolute;top:2142px;left:1533.57px;
}
.s_page25_114
{
position:absolute;top:2142px;left:2395.4px;
}
.s_page25_115
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.04px;
}
.s_page25_116
{
position:absolute;top:-18px;left:420px;letter-spacing:-0.43px;
}
.s_page25_117
{
position:absolute;top:-18px;left:990.95px;
}
.s_page25_118
{
position:absolute;top:-18px;left:2257.89px;letter-spacing:-0.6px;
}
.s_page25_119
{
position:absolute;top:-18px;left:2829.33px;
}
.s_page25_120
{
position:absolute;top:-18px;left:3301.16px;letter-spacing:-0.41px;
}
.s_page25_121
{
position:absolute;top:-18px;left:3995.23px;letter-spacing:-0.6px;
}
.s_page25_122
{
position:absolute;top:-18px;left:4566.67px;letter-spacing:-1.62px;
}
.s_page25_123
{
position:absolute;top:332px;left:420px;letter-spacing:-0.22px;
}
.s_page25_124
{
position:absolute;top:332px;left:1791.82px;letter-spacing:-0.93px;
}
.s_page25_125
{
position:absolute;top:332px;left:2571.57px;letter-spacing:-1.74px;
}
.s_page25_126
{
position:absolute;top:332px;left:3403.39px;letter-spacing:-1.6px;
}
.s_page25_127
{
position:absolute;top:332px;left:4017.06px;
}
.s_page25_128
{
position:absolute;top:332px;left:4488.89px;
}
.s_page25_129
{
position:absolute;top:682px;left:420px;
}
.s_page25_130
{
position:absolute;top:682px;left:1141.91px;letter-spacing:-0.33px;
}
.s_page25_131
{
position:absolute;top:682px;left:2033.98px;letter-spacing:-0.29px;
}
.s_page25_132
{
position:absolute;top:682px;left:3016.05px;letter-spacing:-2.48px;
}
.s_page25_133
{
position:absolute;top:682px;left:3296.61px;
}
.s_page25_134
{
position:absolute;top:682px;left:3883.64px;letter-spacing:-2.06px;
}
.s_page25_135
{
position:absolute;top:682px;left:4571.7px;letter-spacing:-2.16px;
}
.s_page25_136
{
position:absolute;top:1032px;left:420px;letter-spacing:-1.62px;
}
.s_page25_137
{
position:absolute;top:1032px;left:839.51px;letter-spacing:-0.26px;
}
.s_page25_138
{
position:absolute;top:1032px;left:2044.78px;letter-spacing:-3.12px;
}
.s_page25_139
{
position:absolute;top:1032px;left:2368.29px;letter-spacing:-3px;
}
.s_page25_140
{
position:absolute;top:1032px;left:2559.81px;letter-spacing:-1.36px;
}
.s_page25_141
{
position:absolute;top:1032px;left:3533.95px;letter-spacing:-0.96px;
}
.s_page25_142
{
position:absolute;top:1032px;left:4339.15px;letter-spacing:-1.3px;
}
.s_page25_143
{
position:absolute;top:1454px;left:0px;
}
.s_page25_144
{
position:absolute;top:1454px;left:420px;letter-spacing:-0.24px;
}
.s_page25_145
{
position:absolute;top:1454px;left:964.79px;letter-spacing:-0.93px;
}
.s_page25_146
{
position:absolute;top:1454px;left:1740.46px;
}
.s_page25_147
{
position:absolute;top:1454px;left:2159.73px;letter-spacing:-1.6px;
}
.s_page25_148
{
position:absolute;top:1454px;left:2773.4px;letter-spacing:-0.12px;
}
.s_page25_149
{
position:absolute;top:1454px;left:4003.86px;letter-spacing:-4.56px;
}
.s_page25_150
{
position:absolute;top:1454px;left:4593.53px;letter-spacing:-0.6px;
}
.s_page25_151
{
position:absolute;top:1454px;left:5164.96px;
}
.s_page25_152
{
position:absolute;top:1804px;left:420px;
}
.s_page25_153
{
position:absolute;top:1804px;left:839.27px;
}
.s_page25_154
{
position:absolute;top:1804px;left:1704.22px;
}
.s_page25_155
{
position:absolute;top:1804px;left:2248.53px;
}
.s_page25_156
{
position:absolute;top:1804px;left:2503.89px;
}
.s_page25_157
{
position:absolute;top:2226px;left:0px;letter-spacing:-1.28px;
}
.s_page25_158
{
position:absolute;top:2226px;left:420px;letter-spacing:-0.58px;
}
.s_page25_159
{
position:absolute;top:2226px;left:2107.91px;letter-spacing:-0.48px;
}
.s_page25_160
{
position:absolute;top:2226px;left:2738.14px;
}
.s_page25_161
{
position:absolute;top:2226px;left:3274.29px;letter-spacing:-0.93px;
}
.s_page25_162
{
position:absolute;top:2226px;left:4049.96px;
}
.s_page25_163
{
position:absolute;top:2226px;left:4469.23px;letter-spacing:-1.6px;
}
.s_page25_164
{
position:absolute;top:2576px;left:420px;letter-spacing:-0.18px;
}
.s_page25_165
{
position:absolute;top:2576px;left:1140.95px;
}
.s_page25_166
{
position:absolute;top:2576px;left:1378.06px;letter-spacing:-1.83px;
}
.s_page25_167
{
position:absolute;top:2576px;left:2131.65px;letter-spacing:-0.9px;
}
.s_page25_168
{
position:absolute;top:2576px;left:2947.64px;
}
.s_page25_169
{
position:absolute;top:2576px;left:3548.35px;letter-spacing:-0.48px;
}
.s_page25_170
{
position:absolute;top:2576px;left:3879.78px;letter-spacing:-1.61px;
}
.s_page25_171
{
position:absolute;top:2576px;left:4913.92px;
}
.s_page25_172
{
position:absolute;top:2926px;left:420px;letter-spacing:-0.48px;
}
.s_page25_173
{
position:absolute;top:2926px;left:1202.87px;
}
.s_page25_174
{
position:absolute;top:2926px;left:1517.03px;letter-spacing:-0.21px;
}
.s_page25_175
{
position:absolute;top:2926px;left:2344.53px;letter-spacing:-0.92px;
}
.s_page25_176
{
position:absolute;top:2926px;left:3036.93px;letter-spacing:-1.68px;
}
.s_page25_177
{
position:absolute;top:3348px;left:0px;letter-spacing:-0.8px;
}
.s_page25_178
{
position:absolute;top:3348px;left:420px;letter-spacing:-0.86px;
}
.s_page25_179
{
position:absolute;top:3348px;left:1101.83px;letter-spacing:-0.92px;
}
.s_page25_180
{
position:absolute;top:3348px;left:1794.22px;letter-spacing:-0.6px;
}
.s_page25_181
{
position:absolute;top:3348px;left:2365.66px;
}
.s_page25_182
{
position:absolute;top:3348px;left:2602.77px;
}
.s_page25_183
{
position:absolute;top:3348px;left:3138.92px;letter-spacing:-1.92px;
}
.s_page25_184
{
position:absolute;top:3348px;left:3679.39px;
}
.s_page25_185
{
position:absolute;top:3348px;left:4098.66px;letter-spacing:-1.6px;
}
.s_page25_186
{
position:absolute;top:3698px;left:420px;letter-spacing:-0.29px;
}
.s_page25_187
{
position:absolute;top:3698px;left:1549.43px;letter-spacing:-0.48px;
}
.s_page25_188
{
position:absolute;top:3698px;left:1880.86px;letter-spacing:-1.61px;
}
.s_page25_189
{
position:absolute;top:3698px;left:2915px;
}
.s_page25_190
{
position:absolute;top:3698px;left:3148.03px;
}
.s_page25_191
{
position:absolute;top:3698px;left:3567.3px;letter-spacing:-0.9px;
}
.s_page25_192
{
position:absolute;top:3698px;left:4378.73px;letter-spacing:-1.36px;
}
.s_page25_193
{
position:absolute;top:4048px;left:420px;letter-spacing:-1.61px;
}
.s_page25_194
{
position:absolute;top:4048px;left:1454.14px;
}
.s_page25_195
{
position:absolute;top:4048px;left:1709.49px;
}
.s_page25_196
{
position:absolute;top:4470px;left:0px;letter-spacing:-1.28px;
}
.s_page25_197
{
position:absolute;top:4470px;left:420px;letter-spacing:-0.86px;
}
.s_page25_198
{
position:absolute;top:4470px;left:1604.63px;letter-spacing:-0.92px;
}
.s_page25_199
{
position:absolute;top:4470px;left:2297.02px;letter-spacing:-0.48px;
}
.s_page25_200
{
position:absolute;top:4470px;left:2927.26px;
}
.s_page25_201
{
position:absolute;top:4470px;left:3463.4px;letter-spacing:-1.92px;
}
.s_page25_202
{
position:absolute;top:4470px;left:4007.95px;letter-spacing:-1.6px;
}
.s_page25_203
{
position:absolute;top:4820px;left:420px;
}
.s_page25_204
{
position:absolute;top:4820px;left:1366.78px;letter-spacing:-0.45px;
}
.s_page25_205
{
position:absolute;top:4820px;left:2343.81px;
}
.s_page25_206
{
position:absolute;top:4820px;left:2763.08px;letter-spacing:-0.86px;
}
.s_page25_207
{
position:absolute;top:4820px;left:3947.71px;letter-spacing:-0.92px;
}
.s_page25_208
{
position:absolute;top:5170px;left:420px;letter-spacing:-1.61px;
}
.s_page25_209
{
position:absolute;top:5170px;left:1449.58px;
}
.s_page25_210
{
position:absolute;top:5170px;left:2156.37px;
}
.s_page25_211
{
position:absolute;top:5170px;left:2393.49px;
}
.s_page25_212
{
position:absolute;top:5170px;left:2864.12px;letter-spacing:-2.48px;
}
.s_page25_213
{
position:absolute;top:5170px;left:3140.6px;
}
.s_page25_214
{
position:absolute;top:5170px;left:3555.31px;letter-spacing:-1.23px;
}
.s_page25_215
{
position:absolute;top:5170px;left:4409.69px;letter-spacing:-0.9px;
}
.s_page25_216
{
position:absolute;top:5520px;left:420px;
}
.s_page25_217
{
position:absolute;top:5520px;left:1677.35px;letter-spacing:-1.4px;
}
.s_page25_218
{
position:absolute;top:5942px;left:0px;letter-spacing:-1.28px;
}
.s_page25_219
{
position:absolute;top:5942px;left:420px;letter-spacing:-2.56px;
}
.s_page25_220
{
position:absolute;top:5942px;left:1154.67px;letter-spacing:-0.6px;
}
.s_page25_221
{
position:absolute;top:5942px;left:1723.98px;
}
.s_page25_222
{
position:absolute;top:5942px;left:1954.9px;
}
.s_page25_223
{
position:absolute;top:5942px;left:2372.05px;letter-spacing:-0.38px;
}
.s_page25_224
{
position:absolute;top:5942px;left:3215.91px;letter-spacing:-0.9px;
}
.s_page25_225
{
position:absolute;top:5942px;left:4029.78px;letter-spacing:-0.99px;
}
.s_page25_226
{
position:absolute;top:6292px;left:420px;letter-spacing:-1.88px;
}
.s_page25_227
{
position:absolute;top:6292px;left:1174.07px;letter-spacing:-0.24px;
}
.s_page25_228
{
position:absolute;top:6292px;left:1785.82px;letter-spacing:-2.48px;
}
.s_page25_229
{
position:absolute;top:6292px;left:2066.37px;
}
.s_page25_230
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.84px;
}
.s_page25_231
{
position:absolute;top:-18px;left:269.04px;letter-spacing:-0.13px;
}
.s_page25_232
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.96px;
}
.s_page25_233
{
position:absolute;top:-18px;left:272.16px;letter-spacing:-2.12px;
}
.s_page25_234
{
position:absolute;top:-18px;left:1204.31px;letter-spacing:-0.27px;
}
.s_page25_235
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.36px;
}
.s_page25_236
{
position:absolute;top:-18px;left:252.96px;letter-spacing:-0.86px;
}
.s_page25_237
{
position:absolute;top:-18px;left:1098.94px;letter-spacing:-0.27px;
}
.s_page25_238
{
position:absolute;top:-18px;left:0px;
}
.s_page25_239
{
position:absolute;top:-18px;left:281.76px;letter-spacing:-1.92px;
}
.s_page25_240
{
position:absolute;top:-18px;left:0px;letter-spacing:-2px;
}
.s_page25_241
{
position:absolute;top:-18px;left:269.04px;letter-spacing:-0.92px;
}
.s_page25_242
{
position:absolute;top:-18px;left:0px;
}
.s_page25_243
{
position:absolute;top:-18px;left:227.27px;
}
.s_page25_244
{
position:absolute;top:-18px;left:1297.18px;letter-spacing:-0.27px;
}
.s_page25_245
{
position:absolute;top:-5.54px;left:119.61px;
}
.s_page25_246
{
position:absolute;top:-21px;left:0px;
}
.s_page25_247
{
position:absolute;top:-21px;left:1079.11px;letter-spacing:-2.3px;
}
.s_page25_248
{
position:absolute;top:-21px;left:1774.06px;
}
.s_page25_249
{
position:absolute;top:-21px;left:2579.61px;letter-spacing:-0.84px;
}
.s_page25_250
{
position:absolute;top:-21px;left:3239.29px;letter-spacing:-2.38px;
}
.s_page25_251
{
position:absolute;top:-21px;left:3989.4px;letter-spacing:-2.15px;
}
.s_page25_252
{
position:absolute;top:-21px;left:4686.04px;letter-spacing:-0.73px;
}
.s_page25_253
{
position:absolute;top:-21px;left:5358.87px;
}
.s_page25_254
{
position:absolute;top:-21px;left:6203.62px;
}
.s_page25_255
{
position:absolute;top:-21px;left:6706.22px;letter-spacing:-1.36px;
}
.s_page25_256
{
position:absolute;top:-21px;left:7779.45px;letter-spacing:-2.8px;
}
.s_page25_257
{
position:absolute;top:-21px;left:8112.37px;
}
.s_page25_258
{
position:absolute;top:-21px;left:8614.96px;
}
.s_page25_259
{
position:absolute;top:379px;left:0px;letter-spacing:-0.73px;
}
.s_page25_260
{
position:absolute;top:379px;left:709.24px;
}
.s_page25_261
{
position:absolute;top:379px;left:1100.67px;
}
.s_page25_262
{
position:absolute;top:379px;left:1803.75px;
}
.s_page25_263
{
position:absolute;top:379px;left:2453.9px;
}
.s_page25_264
{
position:absolute;top:379px;left:2956.5px;text-rendering:optimizeLegibility;
}
.s_page25_265
{
position:absolute;top:379px;left:3568.85px;
}
.s_page25_266
{
position:absolute;top:379px;left:4667.28px;letter-spacing:-0.11px;
}
.s_page25_267
{
position:absolute;top:379px;left:6137.55px;letter-spacing:-2.8px;
}
.s_page25_268
{
position:absolute;top:379px;left:6471.59px;letter-spacing:-0.79px;
}
.s_page25_269
{
position:absolute;top:379px;left:8366.33px;
}
.s_page25_270
{
position:absolute;top:379px;left:8712.41px;
}
.s_page25_271
{
position:absolute;top:779px;left:0px;letter-spacing:-0.45px;
}
.s_page25_272
{
position:absolute;top:779px;left:1089.75px;letter-spacing:-4.48px;
}
.s_page25_273
{
position:absolute;top:-17.65px;left:0px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page25_274
{
position:absolute;top:-17.65px;left:606.26px;letter-spacing:15px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page25_275
{
position:absolute;top:-17.65px;left:2274.73px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page25_276
{
position:absolute;top:-17.65px;left:3284.58px;letter-spacing:15px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page25_277
{
position:absolute;top:453.61px;left:1168.57px;letter-spacing:-0.21px;
}
.s_page25_278
{
position:absolute;top:453.61px;left:1957.44px;
}
.s_page25_279
{
position:absolute;top:813.61px;left:292.5px;
}
.s_page25_280
{
position:absolute;top:813.61px;left:1373.93px;letter-spacing:-1.07px;
}
.s_page25_281
{
position:absolute;top:813.61px;left:2577.02px;letter-spacing:-2.48px;
}
.s_page25_282
{
position:absolute;top:813.61px;left:2853.5px;
}
.s_page25_283
{
position:absolute;top:1173.61px;left:126.44px;
}
.s_page25_284
{
position:absolute;top:1177.76px;left:318.44px;
}
.s_page25_285
{
position:absolute;top:1173.61px;left:447.44px;
}
.s_page25_286
{
position:absolute;top:1173.61px;left:512.72px;letter-spacing:-1.6px;
}
.s_page25_287
{
position:absolute;top:1173.61px;left:1453.74px;letter-spacing:-0.99px;
}
.s_page25_288
{
position:absolute;top:1173.61px;left:2434.85px;letter-spacing:-1.3px;
}
.s_page25_289
{
position:absolute;top:1173.61px;left:2912.68px;letter-spacing:-0.66px;
}
.s_page25_290
{
position:absolute;top:1533.61px;left:187.38px;letter-spacing:-0.96px;
}
.s_page25_291
{
position:absolute;top:1533.61px;left:1420.97px;letter-spacing:-0.29px;
}
.s_page25_292
{
position:absolute;top:1533.61px;left:1894.96px;
}
.s_page25_293
{
position:absolute;top:1533.61px;left:2314.23px;
}
.s_page25_294
{
position:absolute;top:1533.61px;left:3097.34px;letter-spacing:-2.48px;
}
.s_page25_295
{
position:absolute;top:1893.61px;left:996.61px;letter-spacing:-1.2px;
}
.s_page25_296
{
position:absolute;top:1893.61px;left:1609.56px;
}
.s_page25_297
{
position:absolute;top:255.76px;left:918.73px;
}
.s_page25_298
{
position:absolute;top:255.76px;left:1183.92px;letter-spacing:-1.24px;
}
.s_page25_299
{
position:absolute;top:615.76px;left:512.78px;
}
.s_page25_300
{
position:absolute;top:615.76px;left:928.69px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page25_301
{
position:absolute;top:615.76px;left:1426.44px;
}
.s_page25_302
{
position:absolute;top:975.76px;left:280.09px;letter-spacing:-0.22px;
}
.s_page25_303
{
position:absolute;top:975.76px;left:1651.91px;letter-spacing:-0.82px;
}
.s_page25_304
{
position:absolute;top:1335.76px;left:38.98px;
}
.s_page25_305
{
position:absolute;top:1335.76px;left:575.37px;
}
.s_page25_306
{
position:absolute;top:1335.76px;left:1159.76px;letter-spacing:-0.66px;
}
.s_page25_307
{
position:absolute;top:1335.76px;left:1661.84px;
}
.s_page25_308
{
position:absolute;top:1335.76px;left:2081.11px;
}
.s_page25_309
{
position:absolute;top:1695.76px;left:371.25px;letter-spacing:-2.48px;
}
.s_page25_310
{
position:absolute;top:1695.76px;left:651.81px;letter-spacing:-2.6px;
}
.s_page25_311
{
position:absolute;top:1695.76px;left:1283.96px;letter-spacing:-0.21px;
}
.s_page25_312
{
position:absolute;top:1695.76px;left:2058.67px;
}
.s_page25_313
{
position:absolute;top:2055.76px;left:823.56px;letter-spacing:-0.53px;
}
.s_page25_314
{
position:absolute;top:438.39px;left:528.21px;letter-spacing:-1.23px;
}
.s_page25_315
{
position:absolute;top:438.39px;left:1457px;letter-spacing:-1.36px;
}
.s_page25_316
{
position:absolute;top:798.39px;left:496.93px;letter-spacing:-0.51px;
}
.s_page25_317
{
position:absolute;top:798.39px;left:1263.24px;letter-spacing:-0.21px;
}
.s_page25_318
{
position:absolute;top:798.39px;left:1942.19px;letter-spacing:-0.66px;
}
.s_page25_319
{
position:absolute;top:1158.39px;left:375.82px;
}
.s_page25_320
{
position:absolute;top:1158.39px;left:791.73px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page25_321
{
position:absolute;top:1158.39px;left:1285.4px;
}
.s_page25_322
{
position:absolute;top:1158.39px;left:1574.83px;
}
.s_page25_323
{
position:absolute;top:1158.39px;left:2357.94px;letter-spacing:-3px;
}
.s_page25_324
{
position:absolute;top:1518.39px;left:409.53px;letter-spacing:-0.76px;
}
.s_page25_325
{
position:absolute;top:1518.39px;left:1659.2px;letter-spacing:-0.41px;
}
.s_page25_326
{
position:absolute;top:1878.39px;left:689.38px;
}
.s_page25_327
{
position:absolute;top:1878.39px;left:1455.44px;
}
.s_page25_328
{
position:absolute;top:1878.39px;left:1710.8px;letter-spacing:-3.76px;
}
.s_page25_329
{
position:absolute;top:136.32px;left:2022.76px;letter-spacing:-1.73px;
}
.s_page25_330
{
position:absolute;top:496.32px;left:1112.7px;
}
.s_page25_331
{
position:absolute;top:496.32px;left:1672.61px;letter-spacing:-0.96px;
}
.s_page25_332
{
position:absolute;top:496.32px;left:3142.35px;letter-spacing:-1.23px;
}
.s_page25_333
{
position:absolute;top:856.32px;left:373.51px;
}
.s_page25_334
{
position:absolute;top:856.32px;left:1111.02px;
}
.s_page25_335
{
position:absolute;top:856.32px;left:1670.93px;letter-spacing:-0.96px;
}
.s_page25_336
{
position:absolute;top:856.32px;left:3140.67px;letter-spacing:-0.6px;
}
.s_page25_337
{
position:absolute;top:856.32px;left:3742.82px;
}
.s_page25_338
{
position:absolute;top:856.32px;left:4459.93px;
}
.s_page25_339
{
position:absolute;top:1216.32px;left:420.19px;letter-spacing:-0.16px;
}
.s_page25_340
{
position:absolute;top:1216.32px;left:1497.54px;letter-spacing:-1.62px;
}
.s_page25_341
{
position:absolute;top:1216.32px;left:1917.05px;
}
.s_page25_342
{
position:absolute;top:1216.32px;left:2506.48px;
}
.s_page25_343
{
position:absolute;top:1216.32px;left:2757.76px;
}
.s_page25_344
{
position:absolute;top:1216.32px;left:3177.03px;letter-spacing:-0.2px;
}
.s_page25_345
{
position:absolute;top:1216.32px;left:4604.52px;letter-spacing:-2.48px;
}
.s_page25_346
{
position:absolute;top:1576.32px;left:457.16px;
}
.s_page25_347
{
position:absolute;top:1576.32px;left:1335.78px;
}
.s_page25_348
{
position:absolute;top:1576.32px;left:1625.21px;letter-spacing:-0.82px;
}
.s_page25_349
{
position:absolute;top:1576.32px;left:2131.84px;
}
.s_page25_350
{
position:absolute;top:1576.32px;left:2758.47px;letter-spacing:-1.3px;
}
.s_page25_351
{
position:absolute;top:1576.32px;left:3390.86px;letter-spacing:-0.72px;
}
.s_page25_352
{
position:absolute;top:1576.32px;left:4376.29px;
}
.s_page25_353
{
position:absolute;top:1936.32px;left:1956.53px;letter-spacing:-3px;
}
.s_page25_354
{
position:absolute;top:1936.32px;left:2148.05px;letter-spacing:-0.79px;
}
.s_page25_355
{
position:absolute;top:1936.32px;left:2903.08px;letter-spacing:-0.82px;
}
.s_page25_356
{
position:absolute;top:2px;left:1140.04px;
}
.s_page25_357
{
position:absolute;top:362px;left:872.34px;
}
.s_page25_358
{
position:absolute;top:362px;left:1291.62px;
}
.s_page25_359
{
position:absolute;top:366.15px;left:1458.65px;
}
.s_page25_360
{
position:absolute;top:362px;left:1587.66px;
}
.s_page25_361
{
position:absolute;top:722px;left:548.65px;letter-spacing:-1.6px;
}
.s_page25_362
{
position:absolute;top:722px;left:1494.24px;letter-spacing:-1.3px;
}
.s_page25_363
{
position:absolute;top:1082px;left:79.94px;
}
.s_page25_364
{
position:absolute;top:1082px;left:934.8px;
}
.s_page25_365
{
position:absolute;top:1082px;left:1600.55px;
}
.s_page25_366
{
position:absolute;top:1082px;left:2189.98px;
}
.s_page25_367
{
position:absolute;top:1442px;left:198.98px;
}
.s_page25_368
{
position:absolute;top:1442px;left:618.25px;letter-spacing:-0.2px;
}
.s_page25_369
{
position:absolute;top:1442px;left:2045.74px;letter-spacing:-2.48px;
}
.s_page25_370
{
position:absolute;top:1802px;left:793.09px;
}
.s_page25_371
{
position:absolute;top:2px;left:1100.44px;letter-spacing:-0.42px;
}
.s_page25_372
{
position:absolute;top:362px;left:642.41px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page25_373
{
position:absolute;top:362px;left:1140.16px;
}
.s_page25_374
{
position:absolute;top:722px;left:517.01px;letter-spacing:-1.87px;
}
.s_page25_375
{
position:absolute;top:722px;left:1128.76px;letter-spacing:-1.36px;
}
.s_page25_376
{
position:absolute;top:1082px;left:129.41px;
}
.s_page25_377
{
position:absolute;top:1082px;left:806.45px;letter-spacing:-2.48px;
}
.s_page25_378
{
position:absolute;top:1082px;left:1082.45px;letter-spacing:-0.41px;
}
.s_page25_379
{
position:absolute;top:1082px;left:2022.03px;
}
.s_page25_380
{
position:absolute;top:1442px;left:190.38px;
}
.s_page25_381
{
position:absolute;top:1442px;left:937.73px;letter-spacing:-0.61px;
}
.s_page25_382
{
position:absolute;top:1442px;left:1938.51px;
}
.s_page25_383
{
position:absolute;top:1802px;left:363.05px;letter-spacing:-1.08px;
}
.s_page25_384
{
position:absolute;top:1802px;left:981.28px;
}
.s_page25_385
{
position:absolute;top:1802px;left:1830.39px;
}
.s_page25_386
{
position:absolute;top:2162px;left:1083.41px;
}
.s_page25_387
{
position:absolute;top:123.06px;left:763.25px;letter-spacing:-0.42px;
}
.s_page25_388
{
position:absolute;top:123.06px;left:1224.28px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page25_389
{
position:absolute;top:483.06px;left:501.93px;
}
.s_page25_390
{
position:absolute;top:483.06px;left:1263.92px;
}
.s_page25_391
{
position:absolute;top:483.06px;left:1553.35px;
}
.s_page25_392
{
position:absolute;top:843.06px;left:108.42px;
}
.s_page25_393
{
position:absolute;top:843.06px;left:697.37px;
}
.s_page25_394
{
position:absolute;top:843.06px;left:1455.51px;letter-spacing:-0.66px;
}
.s_page25_395
{
position:absolute;top:843.06px;left:1957.59px;
}
.s_page25_396
{
position:absolute;top:1203.06px;left:31.98px;letter-spacing:-0.88px;
}
.s_page25_397
{
position:absolute;top:1203.06px;left:1046.68px;letter-spacing:-0.18px;
}
.s_page25_398
{
position:absolute;top:1203.06px;left:1880.19px;letter-spacing:-0.62px;
}
.s_page25_399
{
position:absolute;top:1563.06px;left:822.53px;
}
.s_page25_400
{
position:absolute;top:1563.06px;left:1077.88px;letter-spacing:-0.77px;
}
.s_page25_401
{
position:absolute;top:904.9px;left:508.53px;letter-spacing:-0.42px;
}
.s_page25_402
{
position:absolute;top:904.9px;left:972.93px;letter-spacing:-0.18px;
}
.s_page25_403
{
position:absolute;top:904.9px;left:1835px;letter-spacing:-0.58px;
}
.s_page25_404
{
position:absolute;top:1264.9px;left:490.86px;
}
.s_page25_405
{
position:absolute;top:1264.9px;left:1345.72px;letter-spacing:-0.2px;
}
.s_page25_406
{
position:absolute;top:1624.9px;left:372.06px;letter-spacing:-1.33px;
}
.s_page25_407
{
position:absolute;top:1624.9px;left:1364.2px;
}
.s_page25_408
{
position:absolute;top:1624.9px;left:2246.91px;
}
.s_page25_409
{
position:absolute;top:1984.9px;left:100px;letter-spacing:-0.45px;
}
.s_page25_410
{
position:absolute;top:1984.9px;left:1042.08px;letter-spacing:-1.3px;
}
.s_page25_411
{
position:absolute;top:1984.9px;left:1573.77px;letter-spacing:-2.31px;
}
.s_page25_412
{
position:absolute;top:1984.9px;left:2518.01px;
}
.s_page25_413
{
position:absolute;top:2344.9px;left:531.82px;
}
.s_page25_414
{
position:absolute;top:2344.9px;left:1003.65px;
}
.s_page25_415
{
position:absolute;top:2344.9px;left:1515.33px;
}
.s_page25_416
{
position:absolute;top:2344.9px;left:1804.76px;
}
.s_page25_417
{
position:absolute;top:2344.9px;left:2334.19px;
}
.s_page25_418
{
position:absolute;top:2704.9px;left:742.37px;letter-spacing:-1.28px;
}
.s_page25_419
{
position:absolute;top:2704.9px;left:1387.48px;
}
.s_page25_420
{
position:absolute;top:228.87px;left:981.47px;letter-spacing:-0.97px;
}
.s_page25_421
{
position:absolute;top:228.87px;left:1858.21px;
}
.s_page25_422
{
position:absolute;top:607.76px;left:1000.31px;
}
.s_page25_423
{
position:absolute;top:607.76px;left:1924.54px;letter-spacing:-1.97px;
}
.s_page25_424
{
position:absolute;top:986.65px;left:404.95px;letter-spacing:-0.23px;
}
.s_page25_425
{
position:absolute;top:986.65px;left:1848.76px;letter-spacing:-0.97px;
}
.s_page25_426
{
position:absolute;top:986.65px;left:2722.48px;
}
.s_page25_427
{
position:absolute;top:1365.54px;left:838.46px;
}
.s_page25_428
{
position:absolute;top:1369.91px;left:1033.46px;
}
.s_page25_429
{
position:absolute;top:1365.54px;left:1169.23px;
}
.s_page25_430
{
position:absolute;top:1365.54px;left:1237.94px;letter-spacing:-1.29px;
}
.s_page25_431
{
position:absolute;top:1365.54px;left:2176.06px;
}
.s_page25_432
{
position:absolute;top:1365.54px;left:2602.18px;
}
.s_page25_433
{
position:absolute;top:1744.44px;left:326.77px;letter-spacing:-0.38px;
}
.s_page25_434
{
position:absolute;top:1744.44px;left:879.19px;letter-spacing:-2.61px;
}
.s_page25_435
{
position:absolute;top:1744.44px;left:1170.18px;
}
.s_page25_436
{
position:absolute;top:1744.44px;left:1611.46px;
}
.s_page25_437
{
position:absolute;top:1744.44px;left:2383.37px;letter-spacing:-0.97px;
}
.s_page25_438
{
position:absolute;top:2123.33px;left:377.05px;
}
.s_page25_439
{
position:absolute;top:2123.33px;left:1306.07px;
}
.s_page25_440
{
position:absolute;top:2123.33px;left:1762.75px;
}
.s_page25_441
{
position:absolute;top:2123.33px;left:2031.51px;
}
.s_page25_442
{
position:absolute;top:2123.33px;left:2505.12px;
}
.s_page25_443
{
position:absolute;top:2123.33px;left:2750.38px;
}
.s_page25_444
{
position:absolute;top:2502.22px;left:715.26px;letter-spacing:-1.21px;
}
.s_page25_445
{
position:absolute;top:2502.22px;left:1769.32px;letter-spacing:-0.22px;
}
.s_page25_446
{
position:absolute;top:2502.22px;left:2584.69px;
}
.s_page25_447
{
position:absolute;top:2881.12px;left:1300.61px;letter-spacing:-1.66px;
}
.s_page25_448
{
position:absolute;top:22px;left:1576.89px;letter-spacing:-0.93px;
}
.s_page25_449
{
position:absolute;top:382px;left:1165.55px;
}
.s_page25_450
{
position:absolute;top:386.15px;left:1343.39px;
}
.s_page25_451
{
position:absolute;top:382px;left:1472.39px;
}
.s_page25_452
{
position:absolute;top:382px;left:1537.67px;letter-spacing:-1.23px;
}
.s_page25_453
{
position:absolute;top:382px;left:2429.02px;
}
.s_page25_454
{
position:absolute;top:382px;left:2695.65px;
}
.s_page25_455
{
position:absolute;top:742px;left:771.1px;
}
.s_page25_456
{
position:absolute;top:742px;left:1573.16px;
}
.s_page25_457
{
position:absolute;top:742px;left:2315.95px;
}
.s_page25_458
{
position:absolute;top:1102px;left:314.27px;letter-spacing:-0.83px;
}
.s_page25_459
{
position:absolute;top:1102px;left:1549.05px;
}
.s_page25_460
{
position:absolute;top:1102px;left:2020.89px;
}
.s_page25_461
{
position:absolute;top:1102px;left:2731.27px;letter-spacing:-1.92px;
}
.s_page25_462
{
position:absolute;top:1102px;left:3271.74px;
}
.s_page25_463
{
position:absolute;top:1462px;left:65.71px;letter-spacing:-0.93px;
}
.s_page25_464
{
position:absolute;top:1462px;left:881.46px;
}
.s_page25_465
{
position:absolute;top:1462px;left:1820.56px;letter-spacing:-0.37px;
}
.s_page25_466
{
position:absolute;top:1462px;left:3165.98px;
}
.s_page25_467
{
position:absolute;top:1462px;left:3421.34px;
}
.s_page25_468
{
position:absolute;top:1822px;left:29.23px;
}
.s_page25_469
{
position:absolute;top:1822px;left:318.66px;
}
.s_page25_470
{
position:absolute;top:1822px;left:642.17px;letter-spacing:-0.99px;
}
.s_page25_471
{
position:absolute;top:1822px;left:1537.83px;
}
.s_page25_472
{
position:absolute;top:1822px;left:2317.58px;letter-spacing:-1.04px;
}
.s_page25_473
{
position:absolute;top:1822px;left:3000.85px;letter-spacing:-2.05px;
}
.s_page25_474
{
position:absolute;top:2182px;left:458.34px;letter-spacing:-1.1px;
}
.s_page25_475
{
position:absolute;top:2182px;left:1510.01px;
}
.s_page25_476
{
position:absolute;top:2182px;left:1747.13px;
}
.s_page25_477
{
position:absolute;top:2182px;left:2217.76px;letter-spacing:-2.48px;
}
.s_page25_478
{
position:absolute;top:2182px;left:2494.24px;
}
.s_page25_479
{
position:absolute;top:2182px;left:2913.51px;
}
.s_page25_480
{
position:absolute;top:2542px;left:446.34px;
}
.s_page25_481
{
position:absolute;top:2542px;left:1325.93px;
}
.s_page25_482
{
position:absolute;top:2542px;left:2400.87px;
}
.s_page25_483
{
position:absolute;top:2542px;left:3283.58px;
}
.s_page25_484
{
position:absolute;top:2902px;left:1414.49px;
}
.s_page25_485
{
position:absolute;top:2902px;left:1829.2px;letter-spacing:-0.48px;
}
.s_page25_486
{
position:absolute;top:1066.69px;left:176.3px;letter-spacing:-0.53px;
}
.s_page25_487
{
position:absolute;top:1066.69px;left:747.25px;
}
.s_page25_488
{
position:absolute;top:1066.69px;left:1402.68px;
}
.s_page25_489
{
position:absolute;top:1066.69px;left:1821.96px;
}
.s_page25_490
{
position:absolute;top:1066.69px;left:2417.14px;
}
.s_page25_491
{
position:absolute;top:1426.69px;left:98.3px;letter-spacing:-0.79px;
}
.s_page25_492
{
position:absolute;top:1426.69px;left:913.33px;
}
.s_page25_493
{
position:absolute;top:1426.69px;left:1852.43px;letter-spacing:-0.27px;
}
.s_page25_494
{
position:absolute;top:1786.69px;left:356.3px;letter-spacing:-0.21px;
}
.s_page25_495
{
position:absolute;top:1786.69px;left:1131.01px;
}
.s_page25_496
{
position:absolute;top:1786.69px;left:1386.36px;letter-spacing:-1px;
}
.s_page25_497
{
position:absolute;top:1786.69px;left:2056.67px;
}
.s_page25_498
{
position:absolute;top:1786.69px;left:2289.71px;
}
.s_page25_499
{
position:absolute;top:2146.69px;left:307.82px;
}
.s_page25_500
{
position:absolute;top:2146.69px;left:1041.25px;
}
.s_page25_501
{
position:absolute;top:2146.69px;left:2083.79px;
}
.s_page25_502
{
position:absolute;top:2506.69px;left:1121.41px;
}


.circle_1 {
	position: absolute;
	top: 166px;
	left: 370px;
	display: none;
}
.circle_2 {
	position: absolute;
	top: 220px;
	left: 370px;
	display: none;
}
.circle_3 {
	position: absolute;
	top: 276px;
	left: 370px;
	display: none;
}
.circle_4 {
	position: absolute;
	top: 332px;
	left: 370px;
	display: none;
}
.circle_5 {
	position: absolute;
	top: 390px;
	left: 370px;
	display: none;
}
.circle_6 {
	position: absolute;
	top: 444px;
	left: 370px;
	display: none;
}

.width_1 {
	width: 20px;
	height: 20px;
	background-color: red;
	border: 0px solid black;
	text-align: center;
	border-radius: 20px;
	font-size: 13px;
	line-height: 17px;
	color: white;
}

.page25_btn1{
	position: absolute;
	top: 505px;
	left: 415px;
}
.page25_btn2{
	position: absolute;
	top: 218px;
	left: 45px;
}
.page25_btn3{
	position: absolute;
	top: 258px;
	left: 45px;
}
.page25_btn4{
	position: absolute;
	top: 317px;
	left: 45px;
}
.page25_btn5{
	position: absolute;
	top: 371px;
	left: 45px;
}
.page25_btn6{
	position: absolute;
	top: 443px;
	left: 45px;
}

#l1
{
	position: absolute;
	top: 168px;
	left: 355px;
}
#l2
{
	position: absolute;
	top: 221px;
	left: 355px;
}
#l3
{
	position: absolute;
	top: 278px;
	left: 355px;
}
#l4
{
	position: absolute;
	top: 335px;
	left: 355px;
}
#l5
{
	position: absolute;
	top: 391px;
	left: 355px;
}
#l6
{
	position: absolute;
	top: 447px;
	left: 355px;
}

#r1
{
	position: absolute;
	top: 161px;
	left: 390px;
}
#r2
{
	position: absolute;
	top: 216px;
	left: 390px;
}
#r3
{
	position: absolute;
	top: 270px;
	left: 390px;
}
#r4
{
	position: absolute;
	top: 324px;
	left: 390px;
}
#r5
{
	position: absolute;
	top: 382px;
	left: 390px;
}
#r6
{
	position: absolute;
	top: 436px;
	left: 390px;
}
.match11 {
	height: 303px;
	display:none;
}
.match_image1
{
	position: absolute;
	top: 160px;
	left: 355px;
}
.position_43 {
	position:absolute;
	top: 70px;
	left: 353px;
}
