.d_page40-41_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page40-41_2
{
width:9864.51px;height:1603.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page40-41_3
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page40-41_4
{
width:9864.51px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page40-41_5
{
width:6572.14px;height:543.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_6
{
width:7017.5px;height:1023.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_7
{
width:6390.68px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_8
{
width:6390.68px;height:1008px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_9
{
width:9879.79px;height:1008px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_10
{
width:6896.08px;height:505.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);
}
.d_page40-41_11
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page40-41_12
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page40-41_13
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page40-41_14
{
width:3653.92px;height:473.57px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page40-41_15
{
width:9175.02px;height:1328.92px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_16
{
width:6508.8px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_17
{
width:9734.4px;height:2474.03px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_18
{
width:6393.6px;height:1308.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_19
{
width:6508.8px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_20
{
width:7931.4px;height:1175.98px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page40-41_21
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page40-41_22
{
position:absolute;top:168.09px;left:616.04px;
}
.s_page40-41_23
{
position:absolute;top:168.09px;left:659.95px;letter-spacing:-0.56px;
}
.s_page40-41_24
{
position:absolute;top:168.09px;left:1417.63px;
}
.s_page40-41_25
{
position:absolute;top:168.09px;left:2204.98px;letter-spacing:-0.91px;
}
.s_page40-41_26
{
position:absolute;top:168.09px;left:2708.41px;
}
.s_page40-41_27
{
position:absolute;top:168.09px;left:3366.97px;
}
.s_page40-41_28
{
position:absolute;top:168.09px;left:3765.96px;letter-spacing:-2.1px;
}
.s_page40-41_29
{
position:absolute;top:168.09px;left:3988.56px;letter-spacing:-1.87px;
}
.s_page40-41_30
{
position:absolute;top:168.09px;left:4669.8px;letter-spacing:-2.24px;
}
.s_page40-41_31
{
position:absolute;top:168.09px;left:5123.96px;
}
.s_page40-41_32
{
position:absolute;top:168.09px;left:6264.94px;
}
.s_page40-41_33
{
position:absolute;top:168.09px;left:7568.04px;letter-spacing:-1.79px;
}
.s_page40-41_34
{
position:absolute;top:568.09px;left:659.95px;letter-spacing:-1.07px;
}
.s_page40-41_35
{
position:absolute;top:568.09px;left:2824.06px;letter-spacing:-0.26px;
}
.s_page40-41_36
{
position:absolute;top:568.09px;left:4415.56px;text-rendering:optimizeLegibility;
}
.s_page40-41_37
{
position:absolute;top:568.09px;left:5172.4px;letter-spacing:-0.4px;
}
.s_page40-41_38
{
position:absolute;top:568.09px;left:6257.39px;
}
.s_page40-41_39
{
position:absolute;top:568.09px;left:6818.78px;letter-spacing:-0.61px;
}
.s_page40-41_40
{
position:absolute;top:568.09px;left:8336.94px;letter-spacing:-1.73px;
}
.s_page40-41_41
{
position:absolute;top:568.09px;left:9183.09px;letter-spacing:-2.24px;
}
.s_page40-41_42
{
position:absolute;top:968.09px;left:659.95px;letter-spacing:-0.12px;
}
.s_page40-41_43
{
position:absolute;top:968.09px;left:2337.69px;
}
.s_page40-41_44
{
position:absolute;top:968.09px;left:3691.19px;
}
.s_page40-41_45
{
position:absolute;top:968.09px;left:4252.58px;letter-spacing:-0.33px;
}
.s_page40-41_46
{
position:absolute;top:968.09px;left:5849.97px;
}
.s_page40-41_47
{
position:absolute;top:968.09px;left:7225.03px;
}
.s_page40-41_48
{
position:absolute;top:968.09px;left:7662.66px;
}
.s_page40-41_49
{
position:absolute;top:968.09px;left:7963.38px;
}
.s_page40-41_50
{
position:absolute;top:968.09px;left:8465.97px;
}
.s_page40-41_51
{
position:absolute;top:1368.09px;left:659.95px;
}
.s_page40-41_52
{
position:absolute;top:1368.09px;left:1310.11px;
}
.s_page40-41_53
{
position:absolute;top:1368.09px;left:1812.7px;letter-spacing:-0.45px;
}
.s_page40-41_54
{
position:absolute;top:1368.09px;left:2837.77px;
}
.s_page40-41_55
{
position:absolute;top:1368.09px;left:3780.52px;letter-spacing:-2.8px;
}
.s_page40-41_56
{
position:absolute;top:1368.09px;left:4113.44px;
}
.s_page40-41_57
{
position:absolute;top:1368.09px;left:4917.03px;letter-spacing:-0.2px;
}
.s_page40-41_58
{
position:absolute;top:1368.09px;left:5979.62px;
}
.s_page40-41_59
{
position:absolute;top:58.88px;left:0px;
}
.s_page40-41_60
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_61
{
position:absolute;top:-18px;left:261.68px;letter-spacing:-0.8px;
}
.s_page40-41_62
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.24px;
}
.s_page40-41_63
{
position:absolute;top:-18px;left:1184.73px;letter-spacing:0px;
}
.s_page40-41_64
{
position:absolute;top:-18px;left:1518.56px;
}
.s_page40-41_65
{
position:absolute;top:-18px;left:1937.83px;letter-spacing:-1.6px;
}
.s_page40-41_66
{
position:absolute;top:-18px;left:2551.5px;letter-spacing:0px;
}
.s_page40-41_67
{
position:absolute;top:-18px;left:3262.85px;
}
.s_page40-41_68
{
position:absolute;top:-18px;left:3682.12px;
}
.s_page40-41_69
{
position:absolute;top:342px;left:639.94px;
}
.s_page40-41_70
{
position:absolute;top:342px;left:1184.25px;
}
.s_page40-41_71
{
position:absolute;top:342px;left:1439.61px;letter-spacing:-0.32px;
}
.s_page40-41_72
{
position:absolute;top:342px;left:2417.83px;
}
.s_page40-41_73
{
position:absolute;top:342px;left:2650.87px;
}
.s_page40-41_74
{
position:absolute;top:342px;left:3065.58px;letter-spacing:-1.23px;
}
.s_page40-41_75
{
position:absolute;top:342px;left:3919.96px;letter-spacing:-0.9px;
}
.s_page40-41_76
{
position:absolute;top:342px;left:4735.95px;text-rendering:optimizeLegibility;
}
.s_page40-41_77
{
position:absolute;top:342px;left:6003.12px;
}
.s_page40-41_78
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page40-41_79
{
position:absolute;top:-18px;left:461.04px;letter-spacing:-0.81px;
}
.s_page40-41_80
{
position:absolute;top:-18px;left:1211.26px;letter-spacing:-2.48px;
}
.s_page40-41_81
{
position:absolute;top:-18px;left:1491.82px;
}
.s_page40-41_82
{
position:absolute;top:-18px;left:2437.17px;letter-spacing:-0.48px;
}
.s_page40-41_83
{
position:absolute;top:-18px;left:3067.4px;letter-spacing:-1px;
}
.s_page40-41_84
{
position:absolute;top:-18px;left:3737.72px;
}
.s_page40-41_85
{
position:absolute;top:-18px;left:3993.07px;letter-spacing:-0.53px;
}
.s_page40-41_86
{
position:absolute;top:-18px;left:4482.66px;
}
.s_page40-41_87
{
position:absolute;top:-18px;left:4719.78px;letter-spacing:-0.83px;
}
.s_page40-41_88
{
position:absolute;top:-18px;left:5978.32px;
}
.s_page40-41_89
{
position:absolute;top:262px;left:0px;letter-spacing:-1.23px;
}
.s_page40-41_90
{
position:absolute;top:262px;left:849.83px;letter-spacing:-0.72px;
}
.s_page40-41_91
{
position:absolute;top:262px;left:1541.97px;
}
.s_page40-41_92
{
position:absolute;top:262px;left:2082.93px;letter-spacing:-0.81px;
}
.s_page40-41_93
{
position:absolute;top:262px;left:2833.15px;letter-spacing:-1.22px;
}
.s_page40-41_94
{
position:absolute;top:262px;left:3810.89px;letter-spacing:-2.64px;
}
.s_page40-41_95
{
position:absolute;top:262px;left:4801.6px;letter-spacing:-1.2px;
}
.s_page40-41_96
{
position:absolute;top:262px;left:5354.31px;letter-spacing:-0.99px;
}
.s_page40-41_97
{
position:absolute;top:262px;left:6275.42px;
}
.s_page40-41_98
{
position:absolute;top:542px;left:0px;letter-spacing:-0.59px;
}
.s_page40-41_99
{
position:absolute;top:542px;left:973.43px;
}
.s_page40-41_100
{
position:absolute;top:542px;left:1573.41px;letter-spacing:-2.64px;
}
.s_page40-41_101
{
position:absolute;top:542px;left:2109.32px;letter-spacing:-1.63px;
}
.s_page40-41_102
{
position:absolute;top:542px;left:3203.47px;letter-spacing:-0.42px;
}
.s_page40-41_103
{
position:absolute;top:542px;left:3667.86px;letter-spacing:-0.82px;
}
.s_page40-41_104
{
position:absolute;top:542px;left:4780.25px;letter-spacing:-0.66px;
}
.s_page40-41_105
{
position:absolute;top:542px;left:5286.4px;letter-spacing:-1.3px;
}
.s_page40-41_106
{
position:absolute;top:542px;left:5914.71px;
}
.s_page40-41_107
{
position:absolute;top:542px;left:6464.3px;
}
.s_page40-41_108
{
position:absolute;top:822px;left:0px;
}
.s_page40-41_109
{
position:absolute;top:822px;left:544.31px;letter-spacing:-0.44px;
}
.s_page40-41_110
{
position:absolute;top:822px;left:1196.63px;
}
.s_page40-41_111
{
position:absolute;top:822px;left:1787.98px;
}
.s_page40-41_112
{
position:absolute;top:822px;left:2259.81px;
}
.s_page40-41_113
{
position:absolute;top:822px;left:2466.68px;letter-spacing:-0.21px;
}
.s_page40-41_114
{
position:absolute;top:822px;left:3162.19px;
}
.s_page40-41_115
{
position:absolute;top:822px;left:3840.42px;letter-spacing:-1.3px;
}
.s_page40-41_116
{
position:absolute;top:822px;left:4468.73px;
}
.s_page40-41_117
{
position:absolute;top:822px;left:5022.4px;letter-spacing:-2px;
}
.s_page40-41_118
{
position:absolute;top:822px;left:5978.54px;
}
.s_page40-41_119
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_120
{
position:absolute;top:-18px;left:331.28px;letter-spacing:-1.04px;
}
.s_page40-41_121
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.83px;
}
.s_page40-41_122
{
position:absolute;top:-18px;left:1475.81px;letter-spacing:0px;
}
.s_page40-41_123
{
position:absolute;top:-18px;left:4415.36px;
}
.s_page40-41_124
{
position:absolute;top:-18px;left:4957.73px;
}
.s_page40-41_125
{
position:absolute;top:-18px;left:5188.81px;
}
.s_page40-41_126
{
position:absolute;top:-18px;left:5601.57px;letter-spacing:-1.23px;
}
.s_page40-41_127
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.9px;
}
.s_page40-41_128
{
position:absolute;top:342px;left:1455.92px;letter-spacing:-0.99px;
}
.s_page40-41_129
{
position:absolute;top:342px;left:2945.82px;letter-spacing:-1.88px;
}
.s_page40-41_130
{
position:absolute;top:342px;left:3699.89px;letter-spacing:-0.21px;
}
.s_page40-41_131
{
position:absolute;top:342px;left:4368.03px;letter-spacing:-0.48px;
}
.s_page40-41_132
{
position:absolute;top:342px;left:4699.46px;letter-spacing:-0.2px;
}
.s_page40-41_133
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.26px;
}
.s_page40-41_134
{
position:absolute;top:702px;left:1734.56px;letter-spacing:-1.3px;
}
.s_page40-41_135
{
position:absolute;top:702px;left:2362.87px;
}
.s_page40-41_136
{
position:absolute;top:702px;left:2916.54px;letter-spacing:-0.78px;
}
.s_page40-41_137
{
position:absolute;top:702px;left:3220.38px;
}
.s_page40-41_138
{
position:absolute;top:702px;left:3986.44px;
}
.s_page40-41_139
{
position:absolute;top:702px;left:4788.51px;
}
.s_page40-41_140
{
position:absolute;top:702px;left:5256.98px;text-rendering:optimizeLegibility;
}
.s_page40-41_141
{
position:absolute;top:1062px;left:639.94px;letter-spacing:-1.68px;
}
.s_page40-41_142
{
position:absolute;top:1062px;left:1296.09px;letter-spacing:-0.41px;
}
.s_page40-41_143
{
position:absolute;top:1062px;left:2081.84px;
}
.s_page40-41_144
{
position:absolute;top:1062px;left:3014.71px;
}
.s_page40-41_145
{
position:absolute;top:1062px;left:3486.54px;
}
.s_page40-41_146
{
position:absolute;top:1062px;left:4543px;
}
.s_page40-41_147
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_148
{
position:absolute;top:-18px;left:261.2px;
}
.s_page40-41_149
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.42px;
}
.s_page40-41_150
{
position:absolute;top:-18px;left:1104.33px;letter-spacing:0px;
}
.s_page40-41_151
{
position:absolute;top:-18px;left:4045.83px;
}
.s_page40-41_152
{
position:absolute;top:-18px;left:4590.14px;
}
.s_page40-41_153
{
position:absolute;top:-18px;left:4827.26px;letter-spacing:-0.48px;
}
.s_page40-41_154
{
position:absolute;top:-18px;left:5629.09px;letter-spacing:-3.12px;
}
.s_page40-41_155
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.43px;
}
.s_page40-41_156
{
position:absolute;top:342px;left:1200.81px;letter-spacing:-0.21px;
}
.s_page40-41_157
{
position:absolute;top:342px;left:1868px;
}
.s_page40-41_158
{
position:absolute;top:342px;left:2339.83px;letter-spacing:-1.57px;
}
.s_page40-41_159
{
position:absolute;top:342px;left:3426.54px;
}
.s_page40-41_160
{
position:absolute;top:342px;left:3740.69px;
}
.s_page40-41_161
{
position:absolute;top:342px;left:3947.56px;
}
.s_page40-41_162
{
position:absolute;top:342px;left:4184.68px;
}
.s_page40-41_163
{
position:absolute;top:342px;left:4720.83px;letter-spacing:-0.93px;
}
.s_page40-41_164
{
position:absolute;top:342px;left:5496.49px;
}
.s_page40-41_165
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.6px;
}
.s_page40-41_166
{
position:absolute;top:702px;left:1253.6px;letter-spacing:-1.27px;
}
.s_page40-41_167
{
position:absolute;top:702px;left:2072.71px;
}
.s_page40-41_168
{
position:absolute;top:702px;left:2779.51px;letter-spacing:-1.08px;
}
.s_page40-41_169
{
position:absolute;top:702px;left:3692.93px;letter-spacing:-0.43px;
}
.s_page40-41_170
{
position:absolute;top:702px;left:4249.72px;
}
.s_page40-41_171
{
position:absolute;top:702px;left:4918.35px;letter-spacing:-0.41px;
}
.s_page40-41_172
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_173
{
position:absolute;top:-18px;left:257.6px;letter-spacing:-1.28px;
}
.s_page40-41_174
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.05px;
}
.s_page40-41_175
{
position:absolute;top:-18px;left:2142.8px;letter-spacing:0px;
}
.s_page40-41_176
{
position:absolute;top:-18px;left:5084.29px;
}
.s_page40-41_177
{
position:absolute;top:-18px;left:5628.61px;
}
.s_page40-41_178
{
position:absolute;top:-18px;left:5865.72px;letter-spacing:-3px;
}
.s_page40-41_179
{
position:absolute;top:-18px;left:6057.24px;letter-spacing:-0.69px;
}
.s_page40-41_180
{
position:absolute;top:-18px;left:6947.62px;
}
.s_page40-41_181
{
position:absolute;top:-18px;left:7726.4px;
}
.s_page40-41_182
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.52px;
}
.s_page40-41_183
{
position:absolute;top:342px;left:1766px;letter-spacing:-2.4px;
}
.s_page40-41_184
{
position:absolute;top:342px;left:2140.15px;letter-spacing:-1.41px;
}
.s_page40-41_185
{
position:absolute;top:342px;left:2844.54px;
}
.s_page40-41_186
{
position:absolute;top:342px;left:3377.1px;
}
.s_page40-41_187
{
position:absolute;top:342px;left:3715.01px;letter-spacing:-0.81px;
}
.s_page40-41_188
{
position:absolute;top:342px;left:4633.72px;
}
.s_page40-41_189
{
position:absolute;top:342px;left:5052.99px;letter-spacing:-0.59px;
}
.s_page40-41_190
{
position:absolute;top:342px;left:6445.2px;letter-spacing:-0.42px;
}
.s_page40-41_191
{
position:absolute;top:342px;left:6909.6px;
}
.s_page40-41_192
{
position:absolute;top:342px;left:7453.91px;letter-spacing:-1.47px;
}
.s_page40-41_193
{
position:absolute;top:342px;left:8411.74px;letter-spacing:-1.36px;
}
.s_page40-41_194
{
position:absolute;top:342px;left:9107.25px;letter-spacing:-1.3px;
}
.s_page40-41_195
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.16px;
}
.s_page40-41_196
{
position:absolute;top:702px;left:1552.4px;
}
.s_page40-41_197
{
position:absolute;top:702px;left:2415.19px;letter-spacing:-2.48px;
}
.s_page40-41_198
{
position:absolute;top:702px;left:2695.75px;letter-spacing:-0.79px;
}
.s_page40-41_199
{
position:absolute;top:-17.65px;left:0px;letter-spacing:13.5px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page40-41_200
{
position:absolute;top:-17.65px;left:778.88px;letter-spacing:15px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page40-41_201
{
position:absolute;top:-17.65px;left:2482.22px;letter-spacing:14.4px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page40-41_202
{
position:absolute;top:-17.65px;left:3713.42px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page40-41_203
{
position:absolute;top:-17.65px;left:4723.27px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page40-41_204
{
position:absolute;top:-12.32px;left:0px;
}
.s_page40-41_205
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page40-41_206
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page40-41_207
{
position:absolute;top:-11.04px;left:95.53px;
}
.s_page40-41_208
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page40-41_209
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page40-41_210
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page40-41_211
{
position:absolute;top:-18px;left:460.32px;
}
.s_page40-41_212
{
position:absolute;top:-18px;left:941.5px;letter-spacing:-2.48px;
}
.s_page40-41_213
{
position:absolute;top:-18px;left:1217.98px;
}
.s_page40-41_214
{
position:absolute;top:-18px;left:1637.25px;letter-spacing:-1.55px;
}
.s_page40-41_215
{
position:absolute;top:-18px;left:2585.96px;letter-spacing:-1.36px;
}
.s_page40-41_216
{
position:absolute;top:-18px;left:3284.83px;letter-spacing:-1.92px;
}
.s_page40-41_217
{
position:absolute;top:-18px;left:3825.3px;
}
.s_page40-41_218
{
position:absolute;top:-18px;left:4244.57px;
}
.s_page40-41_219
{
position:absolute;top:-18px;left:4847.68px;
}
.s_page40-41_220
{
position:absolute;top:-18px;left:5084.79px;
}
.s_page40-41_221
{
position:absolute;top:-18px;left:5417.19px;
}
.s_page40-41_222
{
position:absolute;top:-18px;left:6072.86px;
}
.s_page40-41_223
{
position:absolute;top:-18px;left:6779.65px;
}
.s_page40-41_224
{
position:absolute;top:342px;left:0px;
}
.s_page40-41_225
{
position:absolute;top:342px;left:1205.98px;
}
.s_page40-41_226
{
position:absolute;top:342px;left:1711.17px;
}
.s_page40-41_227
{
position:absolute;top:342px;left:2861.72px;
}
.s_page40-41_228
{
position:absolute;top:342px;left:3112.99px;
}
.s_page40-41_229
{
position:absolute;top:342px;left:3532.26px;
}
.s_page40-41_230
{
position:absolute;top:342px;left:4072.01px;
}
.s_page40-41_231
{
position:absolute;top:342px;left:4663.84px;letter-spacing:-0.54px;
}
.s_page40-41_232
{
position:absolute;top:342px;left:5085.99px;letter-spacing:-0.79px;
}
.s_page40-41_233
{
position:absolute;top:342px;left:5886.62px;letter-spacing:-1.01px;
}
.s_page40-41_234
{
position:absolute;top:342px;left:6971.17px;
}
.s_page40-41_235
{
position:absolute;top:342px;left:7285.32px;
}
.s_page40-41_236
{
position:absolute;top:342px;left:7492.19px;letter-spacing:-0.31px;
}
.s_page40-41_237
{
position:absolute;top:342px;left:8303.38px;
}
.s_page40-41_238
{
position:absolute;top:702px;left:0px;
}
.s_page40-41_239
{
position:absolute;top:702px;left:1056.71px;
}
.s_page40-41_240
{
position:absolute;top:702px;left:1935.57px;letter-spacing:-0.96px;
}
.s_page40-41_241
{
position:absolute;top:702px;left:2847.8px;
}
.s_page40-41_242
{
position:absolute;top:702px;left:3504.67px;letter-spacing:-1.3px;
}
.s_page40-41_243
{
position:absolute;top:702px;left:4085.22px;
}
.s_page40-41_244
{
position:absolute;top:702px;left:4504.49px;letter-spacing:-0.21px;
}
.s_page40-41_245
{
position:absolute;top:702px;left:5371.84px;
}
.s_page40-41_246
{
position:absolute;top:702px;left:5877.03px;
}
.s_page40-41_247
{
position:absolute;top:702px;left:6321.98px;
}
.s_page40-41_248
{
position:absolute;top:702px;left:6741.25px;
}
.s_page40-41_249
{
position:absolute;top:702px;left:7395.48px;
}
.s_page40-41_250
{
position:absolute;top:1140.29px;left:0px;
}
.s_page40-41_251
{
position:absolute;top:1118.69px;left:173.79px;
}
.s_page40-41_252
{
position:absolute;top:1118.69px;left:765.62px;letter-spacing:-0.54px;
}
.s_page40-41_253
{
position:absolute;top:1118.69px;left:1187.77px;
}
.s_page40-41_254
{
position:absolute;top:1118.69px;left:1715.76px;letter-spacing:-1.36px;
}
.s_page40-41_255
{
position:absolute;top:1140.29px;left:2777.95px;
}
.s_page40-41_256
{
position:absolute;top:1118.69px;left:2897.48px;
}
.s_page40-41_257
{
position:absolute;top:1118.69px;left:2958.2px;letter-spacing:-1.36px;
}
.s_page40-41_258
{
position:absolute;top:1118.69px;left:3657.07px;letter-spacing:-0.92px;
}
.s_page40-41_259
{
position:absolute;top:1118.69px;left:4350.9px;
}
.s_page40-41_260
{
position:absolute;top:1118.69px;left:4770.17px;
}
.s_page40-41_261
{
position:absolute;top:1140.29px;left:5952.76px;
}
.s_page40-41_262
{
position:absolute;top:1118.69px;left:6126.54px;text-rendering:optimizeLegibility;
}
.s_page40-41_263
{
position:absolute;top:1118.69px;left:6578.46px;
}
.s_page40-41_264
{
position:absolute;top:1118.69px;left:7003.25px;letter-spacing:-2.48px;
}
.s_page40-41_265
{
position:absolute;top:1118.69px;left:7279.24px;letter-spacing:-1.63px;
}
.s_page40-41_266
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_267
{
position:absolute;top:-18px;left:264.08px;letter-spacing:-1.28px;
}
.s_page40-41_268
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.83px;
}
.s_page40-41_269
{
position:absolute;top:-18px;left:1393.52px;letter-spacing:0px;
}
.s_page40-41_270
{
position:absolute;top:-18px;left:4335.02px;
}
.s_page40-41_271
{
position:absolute;top:-18px;left:4879.34px;
}
.s_page40-41_272
{
position:absolute;top:-18px;left:5112.37px;
}
.s_page40-41_273
{
position:absolute;top:-18px;left:5527.08px;letter-spacing:-1.23px;
}
.s_page40-41_274
{
position:absolute;top:342px;left:639.94px;
}
.s_page40-41_275
{
position:absolute;top:342px;left:1507.76px;
}
.s_page40-41_276
{
position:absolute;top:342px;left:2108.47px;letter-spacing:-0.64px;
}
.s_page40-41_277
{
position:absolute;top:342px;left:2318.71px;letter-spacing:-0.66px;
}
.s_page40-41_278
{
position:absolute;top:342px;left:2824.86px;
}
.s_page40-41_279
{
position:absolute;top:342px;left:3331.97px;letter-spacing:-1.83px;
}
.s_page40-41_280
{
position:absolute;top:342px;left:4082.2px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page40-41_281
{
position:absolute;top:342px;left:4579.95px;
}
.s_page40-41_282
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.6px;
}
.s_page40-41_283
{
position:absolute;top:702px;left:1191.93px;letter-spacing:-1.82px;
}
.s_page40-41_284
{
position:absolute;top:702px;left:1871.36px;letter-spacing:-0.72px;
}
.s_page40-41_285
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_286
{
position:absolute;top:-18px;left:253.04px;letter-spacing:-1.28px;
}
.s_page40-41_287
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.42px;
}
.s_page40-41_288
{
position:absolute;top:-18px;left:1104.33px;letter-spacing:0px;
}
.s_page40-41_289
{
position:absolute;top:-18px;left:4045.83px;
}
.s_page40-41_290
{
position:absolute;top:-18px;left:4590.14px;
}
.s_page40-41_291
{
position:absolute;top:-18px;left:4838.78px;letter-spacing:-2.29px;
}
.s_page40-41_292
{
position:absolute;top:-18px;left:5893.8px;
}
.s_page40-41_293
{
position:absolute;top:-18px;left:6319.31px;
}
.s_page40-41_294
{
position:absolute;top:-18px;left:6651.95px;
}
.s_page40-41_295
{
position:absolute;top:-18px;left:7066.66px;letter-spacing:-1.23px;
}
.s_page40-41_296
{
position:absolute;top:-18px;left:7921.04px;
}
.s_page40-41_297
{
position:absolute;top:-18px;left:8785.99px;
}
.s_page40-41_298
{
position:absolute;top:342px;left:639.94px;
}
.s_page40-41_299
{
position:absolute;top:342px;left:1176.33px;letter-spacing:-3px;
}
.s_page40-41_300
{
position:absolute;top:342px;left:1367.84px;letter-spacing:-0.21px;
}
.s_page40-41_301
{
position:absolute;top:342px;left:2114.71px;letter-spacing:-2.48px;
}
.s_page40-41_302
{
position:absolute;top:342px;left:2395.27px;
}
.s_page40-41_303
{
position:absolute;top:342px;left:2874.3px;letter-spacing:-0.68px;
}
.s_page40-41_304
{
position:absolute;top:342px;left:3431.08px;letter-spacing:-0.53px;
}
.s_page40-41_305
{
position:absolute;top:342px;left:4021px;
}
.s_page40-41_306
{
position:absolute;top:342px;left:4227.87px;
}
.s_page40-41_307
{
position:absolute;top:342px;left:4676.9px;
}
.s_page40-41_308
{
position:absolute;top:342px;left:5281.21px;letter-spacing:-0.24px;
}
.s_page40-41_309
{
position:absolute;top:342px;left:6552.95px;letter-spacing:-0.48px;
}
.s_page40-41_310
{
position:absolute;top:342px;left:6884.39px;letter-spacing:-0.2px;
}
.s_page40-41_311
{
position:absolute;top:342px;left:8311.88px;
}
.s_page40-41_312
{
position:absolute;top:342px;left:8783.72px;
}
.s_page40-41_313
{
position:absolute;top:342px;left:9529.63px;
}
.s_page40-41_314
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.96px;
}
.s_page40-41_315
{
position:absolute;top:702px;left:1138.41px;
}
.s_page40-41_316
{
position:absolute;top:702px;left:1610.24px;
}
.s_page40-41_317
{
position:absolute;top:702px;left:1847.36px;
}
.s_page40-41_318
{
position:absolute;top:702px;left:2281.27px;
}
.s_page40-41_319
{
position:absolute;top:702px;left:2952.3px;
}
.s_page40-41_320
{
position:absolute;top:1694.69px;left:0px;
}
.s_page40-41_321
{
position:absolute;top:1694.69px;left:292.16px;letter-spacing:-6.72px;
}
.s_page40-41_322
{
position:absolute;top:1694.69px;left:639.94px;letter-spacing:-0.42px;
}
.s_page40-41_323
{
position:absolute;top:1694.69px;left:1104.33px;letter-spacing:0px;
}
.s_page40-41_324
{
position:absolute;top:1694.69px;left:4045.83px;
}
.s_page40-41_325
{
position:absolute;top:1694.69px;left:4590.14px;
}
.s_page40-41_326
{
position:absolute;top:1694.69px;left:5126.29px;
}
.s_page40-41_327
{
position:absolute;top:1694.69px;left:5464.2px;letter-spacing:-1.6px;
}
.s_page40-41_328
{
position:absolute;top:1694.69px;left:6077.87px;letter-spacing:-0.75px;
}
.s_page40-41_329
{
position:absolute;top:1694.69px;left:6939.22px;
}
.s_page40-41_330
{
position:absolute;top:1694.69px;left:7194.58px;letter-spacing:-1.58px;
}
.s_page40-41_331
{
position:absolute;top:1694.69px;left:8038.41px;
}
.s_page40-41_332
{
position:absolute;top:1694.69px;left:8271.45px;
}
.s_page40-41_333
{
position:absolute;top:1694.69px;left:8686.16px;letter-spacing:-1.23px;
}
.s_page40-41_334
{
position:absolute;top:2054.69px;left:639.94px;
}
.s_page40-41_335
{
position:absolute;top:2054.69px;left:1373.36px;
}
.s_page40-41_336
{
position:absolute;top:2054.69px;left:1913.6px;
}
.s_page40-41_337
{
position:absolute;top:2054.69px;left:2418.78px;
}
.s_page40-41_338
{
position:absolute;top:2054.69px;left:2655.9px;
}
.s_page40-41_339
{
position:absolute;top:2054.69px;left:3089.81px;
}
.s_page40-41_340
{
position:absolute;top:2054.69px;left:4450.82px;letter-spacing:-0.64px;
}
.s_page40-41_341
{
position:absolute;top:2054.69px;left:4661.05px;letter-spacing:-0.66px;
}
.s_page40-41_342
{
position:absolute;top:2054.69px;left:5167.21px;letter-spacing:-0.22px;
}
.s_page40-41_343
{
position:absolute;top:2054.69px;left:6539.03px;
}
.s_page40-41_344
{
position:absolute;top:2054.69px;left:6794.38px;
}
.s_page40-41_345
{
position:absolute;top:2054.69px;left:7325.01px;
}
.s_page40-41_346
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_347
{
position:absolute;top:-18px;left:246.33px;letter-spacing:-1.2px;
}
.s_page40-41_348
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.42px;
}
.s_page40-41_349
{
position:absolute;top:-18px;left:1104.33px;letter-spacing:0px;
}
.s_page40-41_350
{
position:absolute;top:-18px;left:4045.83px;
}
.s_page40-41_351
{
position:absolute;top:-18px;left:4590.14px;
}
.s_page40-41_352
{
position:absolute;top:-18px;left:5126.29px;letter-spacing:-0.93px;
}
.s_page40-41_353
{
position:absolute;top:-18px;left:5901.96px;
}
.s_page40-41_354
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.6px;
}
.s_page40-41_355
{
position:absolute;top:342px;left:1253.6px;
}
.s_page40-41_356
{
position:absolute;top:342px;left:1733.12px;
}
.s_page40-41_357
{
position:absolute;top:342px;left:2182.15px;letter-spacing:-1.53px;
}
.s_page40-41_358
{
position:absolute;top:342px;left:3005.34px;text-rendering:optimizeLegibility;
}
.s_page40-41_359
{
position:absolute;top:342px;left:4189.71px;letter-spacing:-0.96px;
}
.s_page40-41_360
{
position:absolute;top:342px;left:4876.34px;
}
.s_page40-41_361
{
position:absolute;top:342px;left:5131.7px;letter-spacing:-0.88px;
}
.s_page40-41_362
{
position:absolute;top:702px;left:639.94px;text-rendering:optimizeLegibility;
}
.s_page40-41_363
{
position:absolute;top:702px;left:1380.8px;
}
.s_page40-41_364
{
position:absolute;top:702px;left:1852.64px;letter-spacing:-0.65px;
}
.s_page40-41_365
{
position:absolute;top:702px;left:2930.46px;
}
.s_page40-41_366
{
position:absolute;top:702px;left:3132.77px;
}
.s_page40-41_367
{
position:absolute;top:702px;left:3669.16px;letter-spacing:-3px;
}
.s_page40-41_368
{
position:absolute;top:702px;left:3860.68px;letter-spacing:-1.5px;
}
.s_page40-41_369
{
position:absolute;top:702px;left:4699.94px;letter-spacing:-0.82px;
}
.s_page40-41_370
{
position:absolute;top:702px;left:5473.93px;letter-spacing:-2.48px;
}
.s_page40-41_371
{
position:absolute;top:1062px;left:639.94px;letter-spacing:-2.48px;
}
.s_page40-41_372
{
position:absolute;top:-18px;left:0px;
}
.s_page40-41_373
{
position:absolute;top:-18px;left:254.48px;letter-spacing:-2.48px;
}
.s_page40-41_374
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.42px;
}
.s_page40-41_375
{
position:absolute;top:-18px;left:1104.33px;letter-spacing:0px;
}
.s_page40-41_376
{
position:absolute;top:-18px;left:4045.83px;
}
.s_page40-41_377
{
position:absolute;top:-18px;left:4590.14px;
}
.s_page40-41_378
{
position:absolute;top:-18px;left:5461.09px;
}
.s_page40-41_379
{
position:absolute;top:-18px;left:5716.44px;letter-spacing:-1.6px;
}
.s_page40-41_380
{
position:absolute;top:342px;left:639.94px;
}
.s_page40-41_381
{
position:absolute;top:342px;left:877.05px;letter-spacing:-3px;
}
.s_page40-41_382
{
position:absolute;top:342px;left:1068.57px;
}
.s_page40-41_383
{
position:absolute;top:342px;left:1866.32px;
}
.s_page40-41_384
{
position:absolute;top:342px;left:2410.63px;
}
.s_page40-41_385
{
position:absolute;top:342px;left:2724.79px;
}
.s_page40-41_386
{
position:absolute;top:342px;left:2931.66px;
}
.s_page40-41_387
{
position:absolute;top:342px;left:3168.77px;
}
.s_page40-41_388
{
position:absolute;top:342px;left:3704.92px;letter-spacing:-2.48px;
}
.s_page40-41_389
{
position:absolute;top:342px;left:3985.48px;
}
.s_page40-41_390
{
position:absolute;top:342px;left:4383.63px;
}
.s_page40-41_391
{
position:absolute;top:342px;left:5137.46px;letter-spacing:-2.48px;
}
.s_page40-41_392
{
position:absolute;top:342px;left:5418.01px;
}
.s_page40-41_393
{
position:absolute;top:342px;left:6062.88px;letter-spacing:-0.48px;
}
.s_page40-41_394
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.2px;
}
.s_page40-41_395
{
position:absolute;top:702px;left:2062.87px;letter-spacing:-0.66px;
}
.s_page40-41_396
{
position:absolute;top:702px;left:2569.03px;letter-spacing:-0.26px;
}
.s_page40-41_397
{
position:absolute;top:702px;left:3784.37px;
}
.s_page40-41_398
{
position:absolute;top:702px;left:4039.73px;letter-spacing:-0.72px;
}
.s_page40-41_399
{
position:absolute;top:-18px;left:0px;letter-spacing:-3.9px;
}
.s_page40-41_400
{
position:absolute;top:-18px;left:2080px;letter-spacing:-0.8px;
}
.s_page40-41_401
{
position:absolute;top:-18px;left:3540px;letter-spacing:-0.27px;
}
.s_page40-41_402
{
position:absolute;top:-18px;left:5580px;letter-spacing:-0.27px;
}
.s_page40-41_403
{
position:absolute;top:-18px;left:6452.15px;letter-spacing:-1.37px;
}
.s_page40-41_404
{
position:absolute;top:398.69px;left:0px;letter-spacing:-1.36px;
}
.s_page40-41_405
{
position:absolute;top:398.69px;left:686.39px;letter-spacing:-1.23px;
}
.s_page40-41_406
{
position:absolute;top:398.69px;left:2080px;
}
.s_page40-41_407
{
position:absolute;top:398.69px;left:3540px;letter-spacing:-1.68px;
}
.s_page40-41_408
{
position:absolute;top:398.69px;left:4103.52px;letter-spacing:-1.54px;
}
.s_page40-41_409
{
position:absolute;top:398.69px;left:5580px;letter-spacing:-0.68px;
}
.s_page40-41_410
{
position:absolute;top:398.69px;left:6940px;text-rendering:optimizeLegibility;letter-spacing:-1.1px;
}
.s_page40-41_411
{
position:absolute;top:-5.54px;left:161.05px;
}

#text1{
	position: absolute;
	left: 712px;
	top: 602px;
	cursor:pointer;
}
#text2{
	position: absolute;
	left: 817px;
	top: 601px;
	cursor:pointer;
}
#text3{
	position: absolute;
	left: 889px;
	top: 601px;
	cursor:pointer;
}
#text4{
	position: absolute;
	left: 991px;
	top: 602px;
	cursor:pointer;
}
#text5{
	position: absolute;
	left: 712px;
	top: 622px;
	cursor:pointer;
}
#text6{
	position: absolute;
	left: 817px;
	top: 622px;
	cursor:pointer;
}
#text7{
	position: absolute;
	left: 889px;
	top: 622px;
	cursor:pointer;
}
#text8{
	position: absolute;
	left: 992px;
	top: 622px;
	cursor:pointer;
}
#text9{
	position: absolute;
	left: 1059px;
	top: 622px;
	cursor:pointer;
}

#box1{
	position:absolute;
	left: 128px;
	top: 261px;
	width: 144px;
}
#box2{
	position:absolute;
	left: 267px;
	top: 394px;
	width: 144px;
}
#box3{
	position:absolute;
	left: 159px;
	top: 503px;
	width: 144px;
}
#box4{
	position:absolute;
	left: 234px;
	top: 597px;
	width: 144px;
}
#box5{
	position:absolute;
	left: 120px;
	top: 75px;
	width: 144px;
}
#box6{
	position:absolute;
	left: 108px;
	top: 179px;
	width: 144px;
}
#box7{
	position:absolute;
	left: 106px;
	top: 265px;
	width: 144px;
}
#box8{
	position:absolute;
	left: 272px;
	top: 349px;
	width: 144px;
}
#box9{
	position:absolute;
	left: 112px;
	top: 484px;
	width: 144px;
}

.page40_btn1{
	position:absolute;
	left: 229px;
	top: 801px;
}
.p32_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
