.d_page09_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page09_2
{
width:3948.59px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);
}
.d_page09_3
{
width:1822.95px;height:278.55px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page09_4
{
width:6619.82px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page09_5
{
width:9864.51px;height:9847.99px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page09_6
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page09_7
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page09_8
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page09_9
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page09_10
{
width:2358.1px;height:2130.26px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page09_11
{
width:1810.53px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page09_12
{
width:3846.48px;height:2703.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page09_13
{
width:9864.57px;height:10263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page09_14
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page09_15
{
position:absolute;top:-17.65px;left:0px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page09_16
{
position:absolute;top:-17.65px;left:624.31px;letter-spacing:15px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page09_17
{
position:absolute;top:-17.65px;left:2244.05px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page09_18
{
position:absolute;top:-12.32px;left:0px;
}
.s_page09_19
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page09_20
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page09_21
{
position:absolute;top:-18px;left:0px;
}
.s_page09_22
{
position:absolute;top:-18px;left:907.43px;letter-spacing:-0.75px;
}
.s_page09_23
{
position:absolute;top:-18px;left:1682.14px;
}
.s_page09_24
{
position:absolute;top:-18px;left:2101.41px;letter-spacing:-0.82px;
}
.s_page09_25
{
position:absolute;top:-18px;left:2884.28px;
}
.s_page09_26
{
position:absolute;top:-18px;left:4154.1px;letter-spacing:-1.56px;
}
.s_page09_27
{
position:absolute;top:-18px;left:5014.97px;letter-spacing:-1.15px;
}
.s_page09_28
{
position:absolute;top:-18px;left:5498.8px;
}
.s_page09_29
{
position:absolute;top:-18px;left:5735.91px;
}
.s_page09_30
{
position:absolute;top:342px;left:0px;
}
.s_page09_31
{
position:absolute;top:342px;left:419.27px;
}
.s_page09_32
{
position:absolute;top:342px;left:1386.94px;letter-spacing:-1.23px;
}
.s_page09_33
{
position:absolute;top:342px;left:2283.33px;
}
.s_page09_34
{
position:absolute;top:342px;left:2534.6px;
}
.s_page09_35
{
position:absolute;top:342px;left:2949.31px;letter-spacing:-0.41px;
}
.s_page09_36
{
position:absolute;top:342px;left:3690.9px;letter-spacing:-0.64px;
}
.s_page09_37
{
position:absolute;top:342px;left:3905.69px;
}
.s_page09_38
{
position:absolute;top:342px;left:4354.72px;letter-spacing:-3px;
}
.s_page09_39
{
position:absolute;top:342px;left:4546.24px;
}
.s_page09_40
{
position:absolute;top:342px;left:5764.7px;letter-spacing:-2.48px;
}
.s_page09_41
{
position:absolute;top:702px;left:0px;letter-spacing:-0.93px;
}
.s_page09_42
{
position:absolute;top:702px;left:834.23px;
}
.s_page09_43
{
position:absolute;top:702px;left:1300.3px;
}
.s_page09_44
{
position:absolute;top:702px;left:2152.04px;letter-spacing:-0.34px;
}
.s_page09_45
{
position:absolute;top:702px;left:2655.55px;letter-spacing:-1.23px;
}
.s_page09_46
{
position:absolute;top:702px;left:3551.94px;
}
.s_page09_47
{
position:absolute;top:702px;left:3789.06px;letter-spacing:-0.45px;
}
.s_page09_48
{
position:absolute;top:702px;left:4885.12px;
}
.s_page09_49
{
position:absolute;top:702px;left:5199.27px;
}
.s_page09_50
{
position:absolute;top:702px;left:5531.67px;
}
.s_page09_51
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.65px;
}
.s_page09_52
{
position:absolute;top:1062px;left:1139.51px;
}
.s_page09_53
{
position:absolute;top:1062px;left:1671.82px;
}
.s_page09_54
{
position:absolute;top:1062px;left:2091.09px;
}
.s_page09_55
{
position:absolute;top:1062px;left:2705.24px;
}
.s_page09_56
{
position:absolute;top:1062px;left:2989.15px;
}
.s_page09_57
{
position:absolute;top:1062px;left:3312.66px;
}
.s_page09_58
{
position:absolute;top:281.69px;left:616.04px;
}
.s_page09_59
{
position:absolute;top:248.09px;left:659.95px;letter-spacing:-0.93px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_60
{
position:absolute;top:248.09px;left:1450.23px;letter-spacing:-0.91px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_61
{
position:absolute;top:248.09px;left:1928.5px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_62
{
position:absolute;top:248.09px;left:2637.38px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_63
{
position:absolute;top:248.09px;left:2967.21px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_64
{
position:absolute;top:248.09px;left:3542.3px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_65
{
position:absolute;top:248.09px;left:4791.15px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_66
{
position:absolute;top:248.09px;left:5076.83px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_67
{
position:absolute;top:248.09px;left:5553.23px;letter-spacing:-0.51px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_68
{
position:absolute;top:248.09px;left:6340.85px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_69
{
position:absolute;top:248.09px;left:6874.18px;letter-spacing:-2.71px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_70
{
position:absolute;top:248.09px;left:7641.32px;letter-spacing:-0.87px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_71
{
position:absolute;top:248.09px;left:8685.36px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_72
{
position:absolute;top:648.09px;left:659.95px;text-rendering:optimizeLegibility;letter-spacing:-0.58px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_73
{
position:absolute;top:648.09px;left:1879.55px;letter-spacing:-1.56px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_74
{
position:absolute;top:648.09px;left:2895.4px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_75
{
position:absolute;top:648.09px;left:3372.87px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_76
{
position:absolute;top:648.09px;left:4668.27px;letter-spacing:-0.84px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_77
{
position:absolute;top:648.09px;left:5409.34px;letter-spacing:-0.51px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_78
{
position:absolute;top:648.09px;left:6232.86px;letter-spacing:-3.73px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_79
{
position:absolute;top:648.09px;left:6598.61px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_80
{
position:absolute;top:648.09px;left:7501.94px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_81
{
position:absolute;top:648.09px;left:7979.4px;letter-spacing:-0.45px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_82
{
position:absolute;top:1048.09px;left:659.95px;letter-spacing:-3.04px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page09_83
{
position:absolute;top:1518.39px;left:0px;
}
.s_page09_84
{
position:absolute;top:1518.39px;left:331.28px;letter-spacing:-1.04px;
}
.s_page09_85
{
position:absolute;top:1518.39px;left:639.94px;letter-spacing:-0.38px;
}
.s_page09_86
{
position:absolute;top:1518.39px;left:1273.77px;letter-spacing:0px;
}
.s_page09_87
{
position:absolute;top:1518.39px;left:1506.8px;
}
.s_page09_88
{
position:absolute;top:1518.39px;left:1926.07px;
}
.s_page09_89
{
position:absolute;top:1518.39px;left:2598.55px;letter-spacing:-2.48px;
}
.s_page09_90
{
position:absolute;top:1518.39px;left:2875.02px;
}
.s_page09_91
{
position:absolute;top:1518.39px;left:3294.3px;
}
.s_page09_92
{
position:absolute;top:1518.39px;left:3885.17px;letter-spacing:-1.34px;
}
.s_page09_93
{
position:absolute;top:1518.39px;left:4732.11px;letter-spacing:-1.23px;
}
.s_page09_94
{
position:absolute;top:1518.39px;left:5628.5px;
}
.s_page09_95
{
position:absolute;top:1518.39px;left:5966.42px;
}
.s_page09_96
{
position:absolute;top:1518.39px;left:6652.32px;letter-spacing:-1.46px;
}
.s_page09_97
{
position:absolute;top:1518.39px;left:7773.83px;text-rendering:optimizeLegibility;letter-spacing:-0.36px;
}
.s_page09_98
{
position:absolute;top:1518.39px;left:8542.54px;letter-spacing:-0.44px;
}
.s_page09_99
{
position:absolute;top:2114.39px;left:0px;
}
.s_page09_100
{
position:absolute;top:2114.39px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_101
{
position:absolute;top:2114.39px;left:901.77px;letter-spacing:-0.75px;
}
.s_page09_102
{
position:absolute;top:2114.39px;left:2778.33px;
}
.s_page09_103
{
position:absolute;top:2114.39px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_104
{
position:absolute;top:2114.39px;left:3212.16px;
}
.s_page09_105
{
position:absolute;top:2114.39px;left:5258.33px;
}
.s_page09_106
{
position:absolute;top:2114.39px;left:5480px;letter-spacing:-1.36px;
}
.s_page09_107
{
position:absolute;top:2114.39px;left:5740.16px;letter-spacing:-0.67px;
}
.s_page09_108
{
position:absolute;top:2114.39px;left:7858.33px;
}
.s_page09_109
{
position:absolute;top:2114.39px;left:7960px;
}
.s_page09_110
{
position:absolute;top:2114.39px;left:8234.56px;letter-spacing:-1.46px;
}
.s_page09_111
{
position:absolute;top:2710.39px;left:0px;
}
.s_page09_112
{
position:absolute;top:2710.39px;left:261.2px;
}
.s_page09_113
{
position:absolute;top:2710.39px;left:639.94px;letter-spacing:-1.4px;
}
.s_page09_114
{
position:absolute;top:2710.39px;left:1409.85px;
}
.s_page09_115
{
position:absolute;top:2710.39px;left:1642.88px;
}
.s_page09_116
{
position:absolute;top:2710.39px;left:2062.15px;letter-spacing:-0.1px;
}
.s_page09_117
{
position:absolute;top:2710.39px;left:3509.57px;letter-spacing:-0.76px;
}
.s_page09_118
{
position:absolute;top:2710.39px;left:4179.39px;letter-spacing:-2.48px;
}
.s_page09_119
{
position:absolute;top:2710.39px;left:4453.72px;letter-spacing:-0.6px;
}
.s_page09_120
{
position:absolute;top:2710.39px;left:5274.51px;
}
.s_page09_121
{
position:absolute;top:3306.39px;left:0px;
}
.s_page09_122
{
position:absolute;top:3306.39px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_123
{
position:absolute;top:3306.39px;left:908.97px;letter-spacing:0px;
}
.s_page09_124
{
position:absolute;top:3306.39px;left:2778.33px;
}
.s_page09_125
{
position:absolute;top:3306.39px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_126
{
position:absolute;top:3306.39px;left:3212.16px;letter-spacing:-0.18px;
}
.s_page09_127
{
position:absolute;top:3902.39px;left:0px;
}
.s_page09_128
{
position:absolute;top:3902.39px;left:639.94px;letter-spacing:-1.36px;
}
.s_page09_129
{
position:absolute;top:3902.39px;left:900.09px;letter-spacing:-0.64px;
}
.s_page09_130
{
position:absolute;top:3902.39px;left:2778.33px;
}
.s_page09_131
{
position:absolute;top:3902.39px;left:2940px;
}
.s_page09_132
{
position:absolute;top:3902.39px;left:3221.76px;letter-spacing:-0.22px;
}
.s_page09_133
{
position:absolute;top:4498.39px;left:0px;
}
.s_page09_134
{
position:absolute;top:4498.39px;left:257.6px;letter-spacing:-1.28px;
}
.s_page09_135
{
position:absolute;top:4498.39px;left:639.94px;letter-spacing:-0.32px;
}
.s_page09_136
{
position:absolute;top:4498.39px;left:1367.13px;letter-spacing:-2.48px;
}
.s_page09_137
{
position:absolute;top:4498.39px;left:1643.61px;
}
.s_page09_138
{
position:absolute;top:4498.39px;left:2059.52px;letter-spacing:-0.7px;
}
.s_page09_139
{
position:absolute;top:4498.39px;left:3112.38px;letter-spacing:-0.41px;
}
.s_page09_140
{
position:absolute;top:4498.39px;left:4185.65px;letter-spacing:-0.66px;
}
.s_page09_141
{
position:absolute;top:4498.39px;left:4688.45px;letter-spacing:-1.09px;
}
.s_page09_142
{
position:absolute;top:4498.39px;left:5682.27px;letter-spacing:-0.48px;
}
.s_page09_143
{
position:absolute;top:4498.39px;left:6465.14px;
}
.s_page09_144
{
position:absolute;top:4498.39px;left:6779.29px;letter-spacing:-2.72px;
}
.s_page09_145
{
position:absolute;top:5094.39px;left:0px;
}
.s_page09_146
{
position:absolute;top:5094.39px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_147
{
position:absolute;top:5094.39px;left:901.77px;letter-spacing:-0.89px;
}
.s_page09_148
{
position:absolute;top:5094.39px;left:2778.33px;
}
.s_page09_149
{
position:absolute;top:5094.39px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_150
{
position:absolute;top:5094.39px;left:3212.16px;letter-spacing:-0.84px;
}
.s_page09_151
{
position:absolute;top:5094.39px;left:5258.33px;
}
.s_page09_152
{
position:absolute;top:5094.39px;left:5480px;letter-spacing:-1.36px;
}
.s_page09_153
{
position:absolute;top:5094.39px;left:5740.16px;letter-spacing:-1.97px;
}
.s_page09_154
{
position:absolute;top:5094.39px;left:6348.31px;
}
.s_page09_155
{
position:absolute;top:5094.39px;left:7858.33px;
}
.s_page09_156
{
position:absolute;top:5094.39px;left:7960px;
}
.s_page09_157
{
position:absolute;top:5094.39px;left:8241.76px;letter-spacing:-1.23px;
}
.s_page09_158
{
position:absolute;top:5690.39px;left:0px;
}
.s_page09_159
{
position:absolute;top:5690.39px;left:261.68px;letter-spacing:-0.8px;
}
.s_page09_160
{
position:absolute;top:5690.39px;left:639.94px;letter-spacing:-0.32px;
}
.s_page09_161
{
position:absolute;top:5690.39px;left:1397.36px;letter-spacing:-2.48px;
}
.s_page09_162
{
position:absolute;top:5690.39px;left:1704.06px;
}
.s_page09_163
{
position:absolute;top:5690.39px;left:2150.2px;letter-spacing:-0.7px;
}
.s_page09_164
{
position:absolute;top:5690.39px;left:3233.29px;letter-spacing:-0.41px;
}
.s_page09_165
{
position:absolute;top:5690.39px;left:4341.34px;
}
.s_page09_166
{
position:absolute;top:5690.39px;left:4820.6px;letter-spacing:-0.43px;
}
.s_page09_167
{
position:absolute;top:5690.39px;left:5407.62px;
}
.s_page09_168
{
position:absolute;top:5690.39px;left:5857.12px;letter-spacing:-1.2px;
}
.s_page09_169
{
position:absolute;top:5690.39px;left:6803.17px;
}
.s_page09_170
{
position:absolute;top:5690.39px;left:7301.15px;
}
.s_page09_171
{
position:absolute;top:5690.39px;left:7743.93px;letter-spacing:-4.66px;
}
.s_page09_172
{
position:absolute;top:5690.39px;left:8489.82px;letter-spacing:-2.48px;
}
.s_page09_173
{
position:absolute;top:5690.39px;left:8800.61px;letter-spacing:-0.26px;
}
.s_page09_174
{
position:absolute;top:6070.39px;left:639.94px;
}
.s_page09_175
{
position:absolute;top:6070.39px;left:1531.04px;letter-spacing:-0.81px;
}
.s_page09_176
{
position:absolute;top:6070.39px;left:2453.83px;
}
.s_page09_177
{
position:absolute;top:6666.39px;left:0px;
}
.s_page09_178
{
position:absolute;top:6666.39px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_179
{
position:absolute;top:6666.39px;left:908.97px;letter-spacing:-1px;
}
.s_page09_180
{
position:absolute;top:6666.39px;left:2778.33px;
}
.s_page09_181
{
position:absolute;top:6666.39px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_182
{
position:absolute;top:6666.39px;left:3212.16px;letter-spacing:-0.21px;
}
.s_page09_183
{
position:absolute;top:6666.39px;left:5258.33px;
}
.s_page09_184
{
position:absolute;top:6666.39px;left:5480px;letter-spacing:-1.36px;
}
.s_page09_185
{
position:absolute;top:6666.39px;left:5740.16px;letter-spacing:-1px;
}
.s_page09_186
{
position:absolute;top:6666.39px;left:7858.33px;
}
.s_page09_187
{
position:absolute;top:6666.39px;left:7923.61px;
}
.s_page09_188
{
position:absolute;top:6666.39px;left:8205.36px;letter-spacing:-0.75px;
}
.s_page09_189
{
position:absolute;top:7262.39px;left:0px;
}
.s_page09_190
{
position:absolute;top:7262.39px;left:264.08px;letter-spacing:-1.28px;
}
.s_page09_191
{
position:absolute;top:7262.39px;left:639.94px;letter-spacing:-0.32px;
}
.s_page09_192
{
position:absolute;top:7262.39px;left:1361.37px;
}
.s_page09_193
{
position:absolute;top:7262.39px;left:2118.8px;
}
.s_page09_194
{
position:absolute;top:7262.39px;left:2567.83px;
}
.s_page09_195
{
position:absolute;top:7262.39px;left:3172.14px;letter-spacing:-0.72px;
}
.s_page09_196
{
position:absolute;top:7262.39px;left:4176.29px;
}
.s_page09_197
{
position:absolute;top:7262.39px;left:4595.56px;
}
.s_page09_198
{
position:absolute;top:7262.39px;left:5567.79px;
}
.s_page09_199
{
position:absolute;top:7262.39px;left:6325.21px;
}
.s_page09_200
{
position:absolute;top:7262.39px;left:6580.57px;letter-spacing:-1.48px;
}
.s_page09_201
{
position:absolute;top:7858.39px;left:0px;
}
.s_page09_202
{
position:absolute;top:7858.39px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_203
{
position:absolute;top:7858.39px;left:908.97px;letter-spacing:0px;
}
.s_page09_204
{
position:absolute;top:7858.39px;left:2778.33px;
}
.s_page09_205
{
position:absolute;top:7858.39px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_206
{
position:absolute;top:7858.39px;left:3212.16px;letter-spacing:-0.61px;
}
.s_page09_207
{
position:absolute;top:8454.39px;left:0px;
}
.s_page09_208
{
position:absolute;top:8454.39px;left:639.94px;letter-spacing:-1.36px;
}
.s_page09_209
{
position:absolute;top:8454.39px;left:900.09px;letter-spacing:-0.18px;
}
.s_page09_210
{
position:absolute;top:8454.39px;left:2778.33px;
}
.s_page09_211
{
position:absolute;top:8454.39px;left:2940px;
}
.s_page09_212
{
position:absolute;top:8454.39px;left:3221.76px;letter-spacing:-0.18px;
}
.s_page09_213
{
position:absolute;top:9050.39px;left:0px;
}
.s_page09_214
{
position:absolute;top:9050.39px;left:253.04px;letter-spacing:-1.28px;
}
.s_page09_215
{
position:absolute;top:9050.39px;left:639.94px;letter-spacing:-0.32px;
}
.s_page09_216
{
position:absolute;top:9050.39px;left:1367.13px;letter-spacing:-2.48px;
}
.s_page09_217
{
position:absolute;top:9050.39px;left:1643.61px;
}
.s_page09_218
{
position:absolute;top:9050.39px;left:2312.23px;letter-spacing:-0.41px;
}
.s_page09_219
{
position:absolute;top:9050.39px;left:3390.06px;
}
.s_page09_220
{
position:absolute;top:9050.39px;left:3627.17px;
}
.s_page09_221
{
position:absolute;top:9050.39px;left:4131.89px;
}
.s_page09_222
{
position:absolute;top:9050.39px;left:4421.32px;
}
.s_page09_223
{
position:absolute;top:9050.39px;left:4758.03px;
}
.s_page09_224
{
position:absolute;top:9050.39px;left:5618.42px;letter-spacing:-1.68px;
}
.s_page09_225
{
position:absolute;top:9050.39px;left:6036.73px;
}
.s_page09_226
{
position:absolute;top:9050.39px;left:6369.13px;letter-spacing:-0.76px;
}
.s_page09_227
{
position:absolute;top:9050.39px;left:7550.39px;
}
.s_page09_228
{
position:absolute;top:9646.39px;left:0px;
}
.s_page09_229
{
position:absolute;top:9646.39px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_230
{
position:absolute;top:9646.39px;left:908.97px;letter-spacing:-0.96px;
}
.s_page09_231
{
position:absolute;top:9646.39px;left:2778.33px;
}
.s_page09_232
{
position:absolute;top:9646.39px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_233
{
position:absolute;top:9646.39px;left:3212.16px;letter-spacing:-0.67px;
}
.s_page09_234
{
position:absolute;top:9646.39px;left:5258.33px;
}
.s_page09_235
{
position:absolute;top:9646.39px;left:5480px;letter-spacing:-1.36px;
}
.s_page09_236
{
position:absolute;top:9646.39px;left:5740.16px;
}
.s_page09_237
{
position:absolute;top:9646.39px;left:6433.27px;letter-spacing:-3px;
}
.s_page09_238
{
position:absolute;top:9646.39px;left:7858.33px;
}
.s_page09_239
{
position:absolute;top:9646.39px;left:7960px;
}
.s_page09_240
{
position:absolute;top:9646.39px;left:8235.04px;letter-spacing:-0.19px;
}
.s_page09_241
{
position:absolute;top:58.88px;left:0px;
}
.s_page09_242
{
position:absolute;top:-11.04px;left:135.53px;
}
.s_page09_243
{
position:absolute;top:-12.32px;left:0px;
}
.s_page09_244
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page09_245
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page09_246
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page09_247
{
position:absolute;top:-18px;left:461.04px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page09_248
{
position:absolute;top:-18px;left:958.78px;letter-spacing:-0.83px;
}
.s_page09_249
{
position:absolute;top:342px;left:0px;letter-spacing:-0.66px;
}
.s_page09_250
{
position:absolute;top:342px;left:506.15px;
}
.s_page09_251
{
position:absolute;top:342px;left:1042.3px;
}
.s_page09_252
{
position:absolute;top:342px;left:1297.66px;letter-spacing:-0.29px;
}
.s_page09_253
{
position:absolute;top:702px;left:0px;letter-spacing:-0.78px;
}
.s_page09_254
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-4.03px;
}
.s_page09_255
{
position:absolute;top:-14.08px;left:714.87px;letter-spacing:-3.28px;
}
.s_page09_256
{
position:absolute;top:-14.08px;left:1266.86px;letter-spacing:-1.68px;
}
.s_page09_257
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.32px;
}
.s_page09_258
{
position:absolute;top:-18px;left:727.19px;letter-spacing:-1.23px;
}
.s_page09_259
{
position:absolute;top:-18px;left:1623.58px;
}
.s_page09_260
{
position:absolute;top:-18px;left:2028.46px;
}
.s_page09_261
{
position:absolute;top:342px;left:0px;
}
.s_page09_262
{
position:absolute;top:342px;left:130.32px;letter-spacing:-1.87px;
}
.s_page09_263
{
position:absolute;top:342px;left:704.15px;
}
.s_page09_264
{
position:absolute;top:342px;left:1373.26px;
}
.s_page09_265
{
position:absolute;top:342px;left:1845.09px;letter-spacing:-1.62px;
}
.s_page09_266
{
position:absolute;top:342px;left:2271.8px;
}
.s_page09_267
{
position:absolute;top:342px;left:2527.16px;letter-spacing:-2.8px;
}
.s_page09_268
{
position:absolute;top:342px;left:2916.92px;text-rendering:optimizeLegibility;
}
.s_page09_269
{
position:absolute;top:342px;left:3397.39px;
}
.s_page09_270
{
position:absolute;top:702px;left:0px;
}
.s_page09_271
{
position:absolute;top:702px;left:130.32px;
}
.s_page09_272
{
position:absolute;top:702px;left:535.19px;letter-spacing:-0.54px;
}
.s_page09_273
{
position:absolute;top:702px;left:951.11px;letter-spacing:-0.58px;
}
.s_page09_274
{
position:absolute;top:1062px;left:0px;
}
.s_page09_275
{
position:absolute;top:1062px;left:130.32px;letter-spacing:-1.87px;
}
.s_page09_276
{
position:absolute;top:1062px;left:708.71px;letter-spacing:-3px;
}
.s_page09_277
{
position:absolute;top:1062px;left:900.23px;letter-spacing:-0.32px;
}
.s_page09_278
{
position:absolute;top:1062px;left:1594.54px;letter-spacing:-0.61px;
}
.s_page09_279
{
position:absolute;top:1062px;left:2545.16px;
}
.s_page09_280
{
position:absolute;top:1062px;left:2970.91px;
}
.s_page09_281
{
position:absolute;top:1062px;left:3101.23px;
}
.s_page09_282
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.54px;
}
.s_page09_283
{
position:absolute;top:1422px;left:422.15px;letter-spacing:-1px;
}
.s_page09_284
{
position:absolute;top:1782px;left:0px;
}
.s_page09_285
{
position:absolute;top:1782px;left:130.32px;
}
.s_page09_286
{
position:absolute;top:1782px;left:535.19px;
}
.s_page09_287
{
position:absolute;top:1782px;left:790.55px;letter-spacing:-1.47px;
}
.s_page09_288
{
position:absolute;top:1782px;left:1619.97px;
}
.s_page09_289
{
position:absolute;top:1782px;left:2045.72px;
}
.s_page09_290
{
position:absolute;top:1782px;left:2176.04px;
}
.s_page09_291
{
position:absolute;top:1782px;left:2580.92px;letter-spacing:-0.54px;
}
.s_page09_292
{
position:absolute;top:1782px;left:3003.07px;letter-spacing:-2.48px;
}
.s_page09_293
{
position:absolute;top:2142px;left:0px;
}
.s_page09_294
{
position:absolute;top:2142px;left:130.32px;letter-spacing:-1.87px;
}
.s_page09_295
{
position:absolute;top:2142px;left:708.71px;letter-spacing:-3px;
}
.s_page09_296
{
position:absolute;top:2142px;left:900.23px;letter-spacing:-2.32px;
}
.s_page09_297
{
position:absolute;top:2142px;left:1498.06px;letter-spacing:-0.82px;
}
.s_page09_298
{
position:absolute;top:2142px;left:2221.41px;
}
.s_page09_299
{
position:absolute;top:2142px;left:2647.16px;
}
.s_page09_300
{
position:absolute;top:2142px;left:2777.48px;
}
.s_page09_301
{
position:absolute;top:2142px;left:3182.35px;letter-spacing:-0.54px;
}
.s_page09_302
{
position:absolute;top:2502px;left:0px;
}
.s_page09_303
{
position:absolute;top:-18px;left:0px;
}
.s_page09_304
{
position:absolute;top:-18px;left:292.16px;letter-spacing:-6.72px;
}
.s_page09_305
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.61px;
}
.s_page09_306
{
position:absolute;top:-18px;left:1780.4px;
}
.s_page09_307
{
position:absolute;top:-18px;left:2069.84px;
}
.s_page09_308
{
position:absolute;top:-18px;left:2437.75px;letter-spacing:-1.58px;
}
.s_page09_309
{
position:absolute;top:-18px;left:3110.23px;
}
.s_page09_310
{
position:absolute;top:-18px;left:3582.06px;letter-spacing:-1.64px;
}
.s_page09_311
{
position:absolute;top:-18px;left:4282.61px;letter-spacing:-0.51px;
}
.s_page09_312
{
position:absolute;top:-18px;left:5141.55px;
}
.s_page09_313
{
position:absolute;top:-18px;left:5843.79px;letter-spacing:-0.66px;
}
.s_page09_314
{
position:absolute;top:-18px;left:6345.86px;
}
.s_page09_315
{
position:absolute;top:-18px;left:6765.13px;letter-spacing:-0.51px;
}
.s_page09_316
{
position:absolute;top:-18px;left:7557.84px;
}
.s_page09_317
{
position:absolute;top:-18px;left:8097.58px;letter-spacing:-1.23px;
}
.s_page09_318
{
position:absolute;top:-18px;left:8993.97px;
}
.s_page09_319
{
position:absolute;top:-18px;left:9245.25px;
}
.s_page09_320
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.48px;
}
.s_page09_321
{
position:absolute;top:342px;left:1325.12px;
}
.s_page09_322
{
position:absolute;top:342px;left:1580.48px;
}
.s_page09_323
{
position:absolute;top:944.08px;left:0px;
}
.s_page09_324
{
position:absolute;top:944.08px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_325
{
position:absolute;top:944.08px;left:908.97px;letter-spacing:-1.58px;
}
.s_page09_326
{
position:absolute;top:944.08px;left:2778.33px;
}
.s_page09_327
{
position:absolute;top:944.08px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_328
{
position:absolute;top:944.08px;left:3212.16px;letter-spacing:-0.86px;
}
.s_page09_329
{
position:absolute;top:944.08px;left:5258.33px;
}
.s_page09_330
{
position:absolute;top:944.08px;left:5480px;letter-spacing:-1.36px;
}
.s_page09_331
{
position:absolute;top:944.08px;left:5740.16px;letter-spacing:-2.13px;
}
.s_page09_332
{
position:absolute;top:944.08px;left:7678.33px;
}
.s_page09_333
{
position:absolute;top:944.08px;left:7820px;
}
.s_page09_334
{
position:absolute;top:944.08px;left:8101.76px;letter-spacing:-0.64px;
}
.s_page09_335
{
position:absolute;top:1546.16px;left:0px;
}
.s_page09_336
{
position:absolute;top:1546.16px;left:246.33px;letter-spacing:-1.2px;
}
.s_page09_337
{
position:absolute;top:1546.16px;left:639.94px;letter-spacing:-0.42px;
}
.s_page09_338
{
position:absolute;top:1546.16px;left:1104.33px;letter-spacing:-0.44px;
}
.s_page09_339
{
position:absolute;top:1546.16px;left:1797.92px;
}
.s_page09_340
{
position:absolute;top:1546.16px;left:2371.99px;letter-spacing:0px;
}
.s_page09_341
{
position:absolute;top:1546.16px;left:3288.05px;
}
.s_page09_342
{
position:absolute;top:1546.16px;left:3572.93px;
}
.s_page09_343
{
position:absolute;top:1546.16px;left:4279.72px;letter-spacing:-2.48px;
}
.s_page09_344
{
position:absolute;top:1546.16px;left:4556.2px;
}
.s_page09_345
{
position:absolute;top:1906.16px;left:639.94px;letter-spacing:-0.7px;
}
.s_page09_346
{
position:absolute;top:1906.16px;left:1692.8px;letter-spacing:-0.41px;
}
.s_page09_347
{
position:absolute;top:2508.24px;left:0px;
}
.s_page09_348
{
position:absolute;top:2508.24px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_349
{
position:absolute;top:2508.24px;left:908.97px;letter-spacing:-0.76px;
}
.s_page09_350
{
position:absolute;top:2508.24px;left:2778.33px;
}
.s_page09_351
{
position:absolute;top:2508.24px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_352
{
position:absolute;top:2508.24px;left:3212.16px;letter-spacing:-0.61px;
}
.s_page09_353
{
position:absolute;top:3110.31px;left:0px;
}
.s_page09_354
{
position:absolute;top:3110.31px;left:639.94px;letter-spacing:-1.36px;
}
.s_page09_355
{
position:absolute;top:3110.31px;left:900.09px;letter-spacing:-1.32px;
}
.s_page09_356
{
position:absolute;top:3110.31px;left:1458.57px;letter-spacing:-0.75px;
}
.s_page09_357
{
position:absolute;top:3110.31px;left:2778.33px;
}
.s_page09_358
{
position:absolute;top:3110.31px;left:2940px;
}
.s_page09_359
{
position:absolute;top:3110.31px;left:3221.76px;letter-spacing:-1px;
}
.s_page09_360
{
position:absolute;top:3784.39px;left:0px;
}
.s_page09_361
{
position:absolute;top:3784.39px;left:254.48px;letter-spacing:-2.48px;
}
.s_page09_362
{
position:absolute;top:3784.39px;left:639.94px;
}
.s_page09_363
{
position:absolute;top:3784.39px;left:900.57px;letter-spacing:0px;
}
.s_page09_364
{
position:absolute;top:3784.39px;left:1607.36px;letter-spacing:-1.23px;
}
.s_page09_365
{
position:absolute;top:3784.39px;left:2503.75px;letter-spacing:0px;
}
.s_page09_366
{
position:absolute;top:3784.39px;left:2736.79px;
}
.s_page09_367
{
position:absolute;top:3784.39px;left:3152.7px;text-rendering:optimizeLegibility;letter-spacing:-0.5px;
}
.s_page09_368
{
position:absolute;top:3784.39px;left:4306.6px;letter-spacing:-0.77px;
}
.s_page09_369
{
position:absolute;top:3784.39px;left:5208.98px;letter-spacing:-2px;
}
.s_page09_370
{
position:absolute;top:3784.39px;left:5524.58px;letter-spacing:-3.42px;
}
.s_page09_371
{
position:absolute;top:3784.39px;left:6516.49px;
}
.s_page09_372
{
position:absolute;top:3784.39px;left:6581.76px;
}
.s_page09_373
{
position:absolute;top:4386.47px;left:0px;
}
.s_page09_374
{
position:absolute;top:4386.47px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_375
{
position:absolute;top:4386.47px;left:908.97px;letter-spacing:-1.28px;
}
.s_page09_376
{
position:absolute;top:4386.47px;left:2778.33px;
}
.s_page09_377
{
position:absolute;top:4386.47px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_378
{
position:absolute;top:4386.47px;left:3212.16px;letter-spacing:-0.82px;
}
.s_page09_379
{
position:absolute;top:4988.55px;left:0px;
}
.s_page09_380
{
position:absolute;top:4988.55px;left:639.94px;letter-spacing:-1.36px;
}
.s_page09_381
{
position:absolute;top:4988.55px;left:900.09px;letter-spacing:-0.24px;
}
.s_page09_382
{
position:absolute;top:4988.55px;left:2778.33px;
}
.s_page09_383
{
position:absolute;top:4988.55px;left:2940px;
}
.s_page09_384
{
position:absolute;top:4988.55px;left:3221.76px;
}
.s_page09_385
{
position:absolute;top:4988.55px;left:3907.66px;letter-spacing:-1.82px;
}
.s_page09_386
{
position:absolute;top:5590.63px;left:0px;
}
.s_page09_387
{
position:absolute;top:5590.63px;left:182.49px;letter-spacing:-1.86px;
}
.s_page09_388
{
position:absolute;top:5590.63px;left:639.94px;
}
.s_page09_389
{
position:absolute;top:5590.63px;left:900.57px;letter-spacing:0px;
}
.s_page09_390
{
position:absolute;top:5590.63px;left:1607.36px;letter-spacing:-1.23px;
}
.s_page09_391
{
position:absolute;top:5590.63px;left:2503.75px;letter-spacing:0px;
}
.s_page09_392
{
position:absolute;top:5590.63px;left:2736.79px;
}
.s_page09_393
{
position:absolute;top:5590.63px;left:3156.06px;letter-spacing:-1.36px;
}
.s_page09_394
{
position:absolute;top:5590.63px;left:4176.28px;letter-spacing:-2.08px;
}
.s_page09_395
{
position:absolute;top:5590.63px;left:4882.83px;
}
.s_page09_396
{
position:absolute;top:6192.71px;left:0px;
}
.s_page09_397
{
position:absolute;top:6192.71px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_398
{
position:absolute;top:6192.71px;left:908.97px;letter-spacing:-0.18px;
}
.s_page09_399
{
position:absolute;top:6192.71px;left:2778.33px;
}
.s_page09_400
{
position:absolute;top:6192.71px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_401
{
position:absolute;top:6192.71px;left:3212.16px;letter-spacing:-1.23px;
}
.s_page09_402
{
position:absolute;top:6794.79px;left:0px;
}
.s_page09_403
{
position:absolute;top:6794.79px;left:639.94px;letter-spacing:-1.36px;
}
.s_page09_404
{
position:absolute;top:6794.79px;left:900.09px;letter-spacing:-0.86px;
}
.s_page09_405
{
position:absolute;top:6794.79px;left:2778.33px;
}
.s_page09_406
{
position:absolute;top:6794.79px;left:2940px;
}
.s_page09_407
{
position:absolute;top:6794.79px;left:3221.76px;letter-spacing:-1.13px;
}
.s_page09_408
{
position:absolute;top:7396.87px;left:0px;
}
.s_page09_409
{
position:absolute;top:7396.87px;left:275.85px;letter-spacing:-0.78px;
}
.s_page09_410
{
position:absolute;top:7396.87px;left:639.94px;letter-spacing:-0.32px;
}
.s_page09_411
{
position:absolute;top:7396.87px;left:1367.13px;letter-spacing:-2.48px;
}
.s_page09_412
{
position:absolute;top:7396.87px;left:1643.61px;
}
.s_page09_413
{
position:absolute;top:7396.87px;left:2312.23px;
}
.s_page09_414
{
position:absolute;top:7396.87px;left:2545.27px;letter-spacing:0px;
}
.s_page09_415
{
position:absolute;top:7396.87px;left:2964.54px;letter-spacing:-0.9px;
}
.s_page09_416
{
position:absolute;top:7396.87px;left:3780.52px;letter-spacing:-0.76px;
}
.s_page09_417
{
position:absolute;top:7396.87px;left:5004.51px;letter-spacing:-1.23px;
}
.s_page09_418
{
position:absolute;top:7396.87px;left:5900.9px;
}
.s_page09_419
{
position:absolute;top:7396.87px;left:6152.18px;
}
.s_page09_420
{
position:absolute;top:7396.87px;left:6566.89px;letter-spacing:-0.41px;
}
.s_page09_421
{
position:absolute;top:7998.94px;left:0px;
}
.s_page09_422
{
position:absolute;top:7998.94px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_423
{
position:absolute;top:7998.94px;left:908.97px;letter-spacing:-0.45px;
}
.s_page09_424
{
position:absolute;top:7998.94px;left:2778.33px;
}
.s_page09_425
{
position:absolute;top:7998.94px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_426
{
position:absolute;top:7998.94px;left:3212.16px;
}
.s_page09_427
{
position:absolute;top:7998.94px;left:5258.33px;
}
.s_page09_428
{
position:absolute;top:7998.94px;left:5480px;letter-spacing:-1.36px;
}
.s_page09_429
{
position:absolute;top:7998.94px;left:5740.16px;
}
.s_page09_430
{
position:absolute;top:7998.94px;left:7678.33px;
}
.s_page09_431
{
position:absolute;top:7998.94px;left:7820px;
}
.s_page09_432
{
position:absolute;top:7998.94px;left:8101.76px;letter-spacing:-2.36px;
}
.s_page09_433
{
position:absolute;top:8601.02px;left:0px;
}
.s_page09_434
{
position:absolute;top:8601.02px;left:205.77px;
}
.s_page09_435
{
position:absolute;top:8601.02px;left:639.94px;
}
.s_page09_436
{
position:absolute;top:8601.02px;left:900.57px;letter-spacing:0px;
}
.s_page09_437
{
position:absolute;top:8601.02px;left:1607.36px;letter-spacing:-1.23px;
}
.s_page09_438
{
position:absolute;top:8601.02px;left:2499.19px;letter-spacing:0px;
}
.s_page09_439
{
position:absolute;top:8601.02px;left:2920.62px;
}
.s_page09_440
{
position:absolute;top:8601.02px;left:3339.9px;letter-spacing:-0.67px;
}
.s_page09_441
{
position:absolute;top:8601.02px;left:3952.84px;letter-spacing:-0.99px;
}
.s_page09_442
{
position:absolute;top:8601.02px;left:4923.16px;letter-spacing:-0.16px;
}
.s_page09_443
{
position:absolute;top:8601.02px;left:6004.82px;
}
.s_page09_444
{
position:absolute;top:8601.02px;left:6341.54px;
}
.s_page09_445
{
position:absolute;top:9203.1px;left:0px;
}
.s_page09_446
{
position:absolute;top:9203.1px;left:639.94px;letter-spacing:-1.84px;
}
.s_page09_447
{
position:absolute;top:9203.1px;left:908.97px;letter-spacing:-1px;
}
.s_page09_448
{
position:absolute;top:9203.1px;left:2778.33px;
}
.s_page09_449
{
position:absolute;top:9203.1px;left:2940px;letter-spacing:-2.96px;
}
.s_page09_450
{
position:absolute;top:9203.1px;left:3212.16px;letter-spacing:-0.18px;
}
.s_page09_451
{
position:absolute;top:9805.18px;left:0px;
}
.s_page09_452
{
position:absolute;top:9805.18px;left:639.94px;letter-spacing:-1.36px;
}
.s_page09_453
{
position:absolute;top:9805.18px;left:893.86px;letter-spacing:-0.48px;
}
.s_page09_454
{
position:absolute;top:9805.18px;left:2778.33px;
}
.s_page09_455
{
position:absolute;top:9805.18px;left:2940px;
}
.s_page09_456
{
position:absolute;top:9805.18px;left:3221.76px;letter-spacing:-2.36px;
}
.s_page09_457
{
position:absolute;top:-5.54px;left:201.05px;
}

.page09_btn1 {
	position:absolute;
	top: 797px;
	left: 288px;
}
.page09_btn2 {
	position:absolute;
	top: 797px;
	left: 228px;
}
.page09_pos1 {
	position:absolute;
	top: 247px;
	left: 170px;
}
.page09_pos2 {
	position:absolute;
	top: 248px;
	left: 293px;
}
.page09_pos3 {
	position:absolute;
	top: 247px;
	left: 423px;
}
.page09_pos4 {
	position:absolute;
	top: 247px;
	left: 523px;
}
.page09_pos5 {
	position:absolute;
	top: 307px;
	left: 169px;
}
.page09_pos6 {
	position:absolute;
	top: 307px;
	left: 293px;
}
.page09_pos7 {
	position:absolute;
	top: 337px;
	left: 170px;
}
.page09_pos8 {
	position:absolute;
	top: 337px;
	left: 293px;
}
.page09_pos9 {
	position:absolute;
	top: 395px;
	left: 169px;
}
.page09_pos10 {
	position:absolute;
	top: 395px;
	left: 293px;
}
.page09_pos11 {
	position:absolute;
	top: 395px;
	left: 422px;
}
.page09_pos12 {
	position:absolute;
	top: 398px;
	left: 524px;
}
.page09_pos13 {
	position:absolute;
	top: 473px;
	left: 168px;
}
.page09_pos14 {
	position:absolute;
	top: 475px;
	left: 293px;
}
.page09_pos15 {
	position:absolute;
	top: 473px;
	left: 423px;
}
.page09_pos16 {
	position:absolute;
	top: 473px;
	left: 521px;
}
.page09_pos17 {
	position:absolute;
	top: 533px;
	left: 169px;
}
.page09_pos18 {
	position:absolute;
	top: 535px;
	left: 293px;
}
.page09_pos19 {
	position:absolute;
	top: 563px;
	left: 170px;
}
.page09_pos20 {
	position:absolute;
	top: 563px;
	left: 291px;
}
.page09_pos21 {
	position:absolute;
	top: 622px;
	left: 168px;
}
.page09_pos22 {
	position:absolute;
	top: 622px;
	left: 292px;
}
.page09_pos23 {
	position:absolute;
	top: 622px;
	left: 423px;
}
.page09_pos24 {
	position:absolute;
	top: 625px;
	left: 524px;
}
.page09_pos25 {
	position:absolute;
	top: 94px;
	left: 167px;
}
.page09_pos26 {
	position:absolute;
	top: 94px;
	left: 291px;
}
.page09_pos27 {
	position:absolute;
	top: 94px;
	left: 412px;
}
.page09_pos28 {
	position:absolute;
	top: 95px;
	left: 522px;
}
.page09_pos29 {
	position:absolute;
	top: 171px;
	left: 169px;
}
.page09_pos30 {
	position:absolute;
	top: 171px;
	left: 292px;
}
.page09_pos31 {
	position:absolute;
	top: 203px;
	left: 169px;
}
.page09_pos32 {
	position:absolute;
	top: 201px;
	left: 292px;
}
.page09_pos33 {
	position:absolute;
	top: 266px;
	left: 168px;
}
.page09_pos34 {
	position:absolute;
	top: 266px;
	left: 291px;
}
.page09_pos35 {
	position:absolute;
	top: 298px;
	left: 169px;
}
.page09_pos36 {
	position:absolute;
	top: 297px;
	left: 292px;
}
.page09_pos37 {
	position:absolute;
	top: 357px;
	left: 168px;
}
.page09_pos38 {
	position:absolute;
	top: 357px;
	left: 292px;
}
.page09_pos39 {
	position:absolute;
	top: 387px;
	left: 169px;
}
.page09_pos40 {
	position:absolute;
	top: 388px;
	left: 292px;
}
.page09_pos41 {
	position:absolute;
	top: 446px;
	left: 167px;
}
.page09_pos42 {
	position:absolute;
	top: 446px;
	left: 292px;
}
.page09_pos43 {
	position:absolute;
	top: 448px;
	left: 414px;
}
.page09_pos44 {
	position:absolute;
	top: 446px;
	left: 523px;
}
.page09_pos45 {
	position:absolute;
	top: 506px;
	left: 167px;
}
.page09_pos46 {
	position:absolute;
	top: 506px;
	left: 291px;
}
.page09_pos47 {
	position:absolute;
	top: 539px;
	left: 170px;
}
.page09_pos48 {
	position:absolute;
	top: 537px;
	left: 292px;
}


.position_10 {
	position:absolute;
	top: 657px;
	left: 172px;
}

.position_11 {
	position:absolute;
	top: 595px;
	left: 175px;
}
