.d_page18_1
{position:absolute;overflow:hidden;left: 0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_page18_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page18_3
{
width:9864.57px;height:3953.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page18_4
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page18_5
{
width:9864.57px;height:681.68px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page18_6
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page18_7
{
width:7136.27px;height:965.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_8
{
width:6667.2px;height:960.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_9
{
width:3803.2px;height:1479.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_10
{
width:2548.8px;height:1231.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_11
{
width:6062.4px;height:1281.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_12
{
width:7063.8px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_13
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page18_14
{
width:6061.83px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_15
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page18_16
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page18_17
{
width:9864.57px;height:12310.75px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page18_18
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page18_19
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page18_20
{
width:4320.23px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_21
{
width:484.56px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page18_22
{
width:2145.6px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.s_page18_23
{
position:absolute;top:-11.04px;left:104.49px;
}
.s_page18_24
{
position:absolute;top:92.72px;left:543.94px;
}
.s_page18_25
{
position:absolute;top:92.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page18_26
{
position:absolute;top:92.72px;left:1750.26px;
}
.s_page18_27
{
position:absolute;top:92.72px;left:2252.86px;letter-spacing:-0.45px;
}
.s_page18_28
{
position:absolute;top:92.72px;left:3276.81px;
}
.s_page18_29
{
position:absolute;top:92.72px;left:4126.05px;
}
.s_page18_30
{
position:absolute;top:92.72px;left:4828.84px;letter-spacing:-2.24px;
}
.s_page18_31
{
position:absolute;top:92.72px;left:5282.99px;letter-spacing:-0.52px;
}
.s_page18_32
{
position:absolute;top:92.72px;left:6281.19px;letter-spacing:-2.8px;
}
.s_page18_33
{
position:absolute;top:92.72px;left:6615.22px;
}
.s_page18_34
{
position:absolute;top:92.72px;left:7769.37px;
}
.s_page18_35
{
position:absolute;top:92.72px;left:8368.56px;
}
.s_page18_36
{
position:absolute;top:92.72px;left:8871.15px;letter-spacing:-0.45px;
}
.s_page18_37
{
position:absolute;top:492.72px;left:659.95px;letter-spacing:-0.24px;
}
.s_page18_38
{
position:absolute;top:492.72px;left:1581.42px;letter-spacing:-2.24px;
}
.s_page18_39
{
position:absolute;top:492.72px;left:2035.58px;
}
.s_page18_40
{
position:absolute;top:987.12px;left:0px;
}
.s_page18_41
{
position:absolute;top:987.12px;left:331.28px;letter-spacing:-1.04px;
}
.s_page18_42
{
position:absolute;top:987.12px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_43
{
position:absolute;top:987.12px;left:847.53px;letter-spacing:-1.08px;
}
.s_page18_44
{
position:absolute;top:987.12px;left:1553.36px;letter-spacing:-2.48px;
}
.s_page18_45
{
position:absolute;top:987.12px;left:1833.92px;letter-spacing:-1.71px;
}
.s_page18_46
{
position:absolute;top:987.12px;left:2921.83px;letter-spacing:-1.7px;
}
.s_page18_47
{
position:absolute;top:1447.92px;left:0px;
}
.s_page18_48
{
position:absolute;top:1447.92px;left:261.2px;
}
.s_page18_49
{
position:absolute;top:1447.92px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_50
{
position:absolute;top:1447.92px;left:847.53px;letter-spacing:-1.08px;
}
.s_page18_51
{
position:absolute;top:1447.92px;left:1553.36px;letter-spacing:-2.48px;
}
.s_page18_52
{
position:absolute;top:1447.92px;left:1833.92px;
}
.s_page18_53
{
position:absolute;top:1447.92px;left:2514.06px;text-rendering:optimizeLegibility;letter-spacing:-0.28px;
}
.s_page18_54
{
position:absolute;top:1908.72px;left:0px;
}
.s_page18_55
{
position:absolute;top:1908.72px;left:257.6px;letter-spacing:-1.28px;
}
.s_page18_56
{
position:absolute;top:1908.72px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_57
{
position:absolute;top:1908.72px;left:847.53px;letter-spacing:-1.08px;
}
.s_page18_58
{
position:absolute;top:1908.72px;left:1553.36px;letter-spacing:-2.48px;
}
.s_page18_59
{
position:absolute;top:1908.72px;left:1833.92px;letter-spacing:-0.72px;
}
.s_page18_60
{
position:absolute;top:1908.72px;left:2902.38px;letter-spacing:-0.72px;
}
.s_page18_61
{
position:absolute;top:2369.52px;left:0px;
}
.s_page18_62
{
position:absolute;top:2369.52px;left:261.68px;letter-spacing:-0.8px;
}
.s_page18_63
{
position:absolute;top:2369.52px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_64
{
position:absolute;top:2369.52px;left:847.53px;letter-spacing:0px;
}
.s_page18_65
{
position:absolute;top:2369.52px;left:1962.79px;letter-spacing:-2.48px;
}
.s_page18_66
{
position:absolute;top:2369.52px;left:2238.79px;letter-spacing:0px;
}
.s_page18_67
{
position:absolute;top:2369.52px;left:3131.82px;letter-spacing:-1.31px;
}
.s_page18_68
{
position:absolute;top:2830.32px;left:0px;
}
.s_page18_69
{
position:absolute;top:2830.32px;left:264.08px;letter-spacing:-1.28px;
}
.s_page18_70
{
position:absolute;top:2830.32px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_71
{
position:absolute;top:2830.32px;left:847.53px;letter-spacing:-1.08px;
}
.s_page18_72
{
position:absolute;top:2830.32px;left:1553.36px;letter-spacing:-2.48px;
}
.s_page18_73
{
position:absolute;top:2830.32px;left:1833.92px;
}
.s_page18_74
{
position:absolute;top:2830.32px;left:2481.42px;letter-spacing:-2.36px;
}
.s_page18_75
{
position:absolute;top:3291.12px;left:0px;
}
.s_page18_76
{
position:absolute;top:3291.12px;left:253.04px;letter-spacing:-1.28px;
}
.s_page18_77
{
position:absolute;top:3291.12px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_78
{
position:absolute;top:3291.12px;left:847.53px;letter-spacing:-1.08px;
}
.s_page18_79
{
position:absolute;top:3291.12px;left:1553.36px;letter-spacing:-2.48px;
}
.s_page18_80
{
position:absolute;top:3291.12px;left:1833.92px;letter-spacing:-0.13px;
}
.s_page18_81
{
position:absolute;top:3291.12px;left:3769.01px;letter-spacing:-1.17px;
}
.s_page18_82
{
position:absolute;top:3751.92px;left:0px;
}
.s_page18_83
{
position:absolute;top:3751.92px;left:292.16px;letter-spacing:-6.72px;
}
.s_page18_84
{
position:absolute;top:3751.92px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_85
{
position:absolute;top:3751.92px;left:847.53px;letter-spacing:-1.38px;
}
.s_page18_86
{
position:absolute;top:3751.92px;left:1904px;letter-spacing:-2.48px;
}
.s_page18_87
{
position:absolute;top:3751.92px;left:2184.56px;letter-spacing:-0.33px;
}
.s_page18_88
{
position:absolute;top:3751.92px;left:3040.87px;letter-spacing:-1.3px;
}
.s_page18_89
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page18_90
{
position:absolute;top:232.72px;left:577.84px;
}
.s_page18_91
{
position:absolute;top:232.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page18_92
{
position:absolute;top:232.72px;left:1750.26px;
}
.s_page18_93
{
position:absolute;top:232.72px;left:2252.86px;letter-spacing:0px;
}
.s_page18_94
{
position:absolute;top:232.72px;left:3342.88px;
}
.s_page18_95
{
position:absolute;top:232.72px;left:3740.76px;
}
.s_page18_96
{
position:absolute;top:232.72px;left:4582.99px;
}
.s_page18_97
{
position:absolute;top:232.72px;left:5085.59px;letter-spacing:-0.59px;
}
.s_page18_98
{
position:absolute;top:232.72px;left:6378.33px;text-rendering:optimizeLegibility;
}
.s_page18_99
{
position:absolute;top:232.72px;left:7078.61px;letter-spacing:-2.3px;
}
.s_page18_100
{
position:absolute;top:232.72px;left:7773.56px;
}
.s_page18_101
{
position:absolute;top:232.72px;left:8490.63px;
}
.s_page18_102
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page18_103
{
position:absolute;top:-18px;left:0px;
}
.s_page18_104
{
position:absolute;top:-18px;left:331.28px;letter-spacing:-1.04px;
}
.s_page18_105
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.24px;
}
.s_page18_106
{
position:absolute;top:-18px;left:1252.89px;letter-spacing:-0.48px;
}
.s_page18_107
{
position:absolute;top:-18px;left:1984.4px;
}
.s_page18_108
{
position:absolute;top:-18px;left:2221.51px;letter-spacing:-3px;
}
.s_page18_109
{
position:absolute;top:-18px;left:2413.03px;letter-spacing:0px;
}
.s_page18_110
{
position:absolute;top:-18px;left:3133.98px;
}
.s_page18_111
{
position:absolute;top:-18px;left:3825.64px;
}
.s_page18_112
{
position:absolute;top:-18px;left:4241.55px;
}
.s_page18_113
{
position:absolute;top:-18px;left:5395.69px;letter-spacing:-0.36px;
}
.s_page18_114
{
position:absolute;top:-18px;left:6410.88px;letter-spacing:-0.24px;
}
.s_page18_115
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.18px;
}
.s_page18_116
{
position:absolute;top:342px;left:1735.04px;letter-spacing:-2.48px;
}
.s_page18_117
{
position:absolute;top:342px;left:2011.52px;
}
.s_page18_118
{
position:absolute;top:342px;left:2680.15px;
}
.s_page18_119
{
position:absolute;top:342px;left:3257.1px;
}
.s_page18_120
{
position:absolute;top:342px;left:4151.57px;
}
.s_page18_121
{
position:absolute;top:342px;left:4684.12px;letter-spacing:-1.62px;
}
.s_page18_122
{
position:absolute;top:342px;left:5103.63px;
}
.s_page18_123
{
position:absolute;top:342px;left:5528.18px;
}
.s_page18_124
{
position:absolute;top:342px;left:6329.29px;
}
.s_page18_125
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.72px;
}
.s_page18_126
{
position:absolute;top:702px;left:1582.88px;letter-spacing:-0.66px;
}
.s_page18_127
{
position:absolute;top:702px;left:2878.37px;
}
.s_page18_128
{
position:absolute;top:-18px;left:0px;
}
.s_page18_129
{
position:absolute;top:-18px;left:257.6px;letter-spacing:-1.28px;
}
.s_page18_130
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page18_131
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:-0.79px;
}
.s_page18_132
{
position:absolute;top:-18px;left:2117.84px;letter-spacing:-2.48px;
}
.s_page18_133
{
position:absolute;top:-18px;left:2394.32px;letter-spacing:0px;
}
.s_page18_134
{
position:absolute;top:-18px;left:2813.59px;
}
.s_page18_135
{
position:absolute;top:-18px;left:4019.33px;letter-spacing:-0.82px;
}
.s_page18_136
{
position:absolute;top:-18px;left:4742.68px;letter-spacing:-0.68px;
}
.s_page18_137
{
position:absolute;top:-18px;left:5286.27px;
}
.s_page18_138
{
position:absolute;top:-18px;left:5534.43px;letter-spacing:-1.82px;
}
.s_page18_139
{
position:absolute;top:-18px;left:6226.58px;
}
.s_page18_140
{
position:absolute;top:342px;left:639.94px;
}
.s_page18_141
{
position:absolute;top:342px;left:877.05px;letter-spacing:-0.81px;
}
.s_page18_142
{
position:absolute;top:342px;left:2274.06px;letter-spacing:-0.64px;
}
.s_page18_143
{
position:absolute;top:342px;left:2488.86px;letter-spacing:-0.81px;
}
.s_page18_144
{
position:absolute;top:342px;left:3346.6px;
}
.s_page18_145
{
position:absolute;top:342px;left:3597.88px;
}
.s_page18_146
{
position:absolute;top:342px;left:4017.15px;
}
.s_page18_147
{
position:absolute;top:342px;left:5099.54px;text-rendering:optimizeLegibility;
}
.s_page18_148
{
position:absolute;top:342px;left:5556.01px;
}
.s_page18_149
{
position:absolute;top:342px;left:5612.41px;letter-spacing:-0.42px;
}
.s_page18_150
{
position:absolute;top:342px;left:6076.8px;
}
.s_page18_151
{
position:absolute;top:702px;left:639.94px;
}
.s_page18_152
{
position:absolute;top:702px;left:1180.89px;
}
.s_page18_153
{
position:absolute;top:702px;left:1246.17px;
}
.s_page18_154
{
position:absolute;top:702px;left:1553.6px;
}
.s_page18_155
{
position:absolute;top:702px;left:2343.67px;
}
.s_page18_156
{
position:absolute;top:-18px;left:0px;
}
.s_page18_157
{
position:absolute;top:-18px;left:264.08px;letter-spacing:-1.28px;
}
.s_page18_158
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_159
{
position:absolute;top:-18px;left:844.17px;letter-spacing:-1.06px;
}
.s_page18_160
{
position:absolute;top:-18px;left:1916.95px;letter-spacing:-0.79px;
}
.s_page18_161
{
position:absolute;top:-18px;left:2891.34px;letter-spacing:-2.48px;
}
.s_page18_162
{
position:absolute;top:342px;left:639.94px;
}
.s_page18_163
{
position:absolute;top:342px;left:1059.21px;
}
.s_page18_164
{
position:absolute;top:342px;left:1461.68px;letter-spacing:-1.29px;
}
.s_page18_165
{
position:absolute;top:342px;left:2235.19px;
}
.s_page18_166
{
position:absolute;top:342px;left:2693.58px;
}
.s_page18_167
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.72px;
}
.s_page18_168
{
position:absolute;top:702px;left:1742.24px;
}
.s_page18_169
{
position:absolute;top:702px;left:1993.51px;
}
.s_page18_170
{
position:absolute;top:702px;left:2409.43px;text-rendering:optimizeLegibility;
}
.s_page18_171
{
position:absolute;top:702px;left:2931.18px;letter-spacing:-0.82px;
}
.s_page18_172
{
position:absolute;top:702px;left:3396.05px;letter-spacing:-2.48px;
}
.s_page18_173
{
position:absolute;top:1062px;left:639.94px;
}
.s_page18_174
{
position:absolute;top:1062px;left:835.05px;
}
.s_page18_175
{
position:absolute;top:1062px;left:956.73px;
}
.s_page18_176
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.92px;
}
.s_page18_177
{
position:absolute;top:-18px;left:619.91px;letter-spacing:-1.1px;
}
.s_page18_178
{
position:absolute;top:-18px;left:1540px;letter-spacing:-0.27px;
}
.s_page18_179
{
position:absolute;top:398.69px;left:0px;
}
.s_page18_180
{
position:absolute;top:398.69px;left:803.99px;letter-spacing:-0.92px;
}
.s_page18_181
{
position:absolute;top:398.69px;left:1540px;letter-spacing:-1.1px;
}
.s_page18_182
{
position:absolute;top:815.38px;left:0px;
}
.s_page18_183
{
position:absolute;top:815.38px;left:943.43px;letter-spacing:-1.15px;
}
.s_page18_184
{
position:absolute;top:-18px;left:0px;
}
.s_page18_185
{
position:absolute;top:-18px;left:261.2px;
}
.s_page18_186
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page18_187
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:0px;
}
.s_page18_188
{
position:absolute;top:-18px;left:2150.48px;
}
.s_page18_189
{
position:absolute;top:-18px;left:2599.52px;letter-spacing:-3px;
}
.s_page18_190
{
position:absolute;top:-18px;left:2791.03px;
}
.s_page18_191
{
position:absolute;top:-18px;left:3423.66px;
}
.s_page18_192
{
position:absolute;top:-18px;left:4059.65px;
}
.s_page18_193
{
position:absolute;top:-18px;left:4531.48px;
}
.s_page18_194
{
position:absolute;top:-18px;left:4765.24px;letter-spacing:-0.68px;
}
.s_page18_195
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.82px;
}
.s_page18_196
{
position:absolute;top:342px;left:1405.53px;
}
.s_page18_197
{
position:absolute;top:342px;left:1660.88px;
}
.s_page18_198
{
position:absolute;top:342px;left:2346.79px;
}
.s_page18_199
{
position:absolute;top:342px;left:3363.17px;letter-spacing:-0.64px;
}
.s_page18_200
{
position:absolute;top:342px;left:3577.97px;
}
.s_page18_201
{
position:absolute;top:342px;left:4085.08px;letter-spacing:-0.72px;
}
.s_page18_202
{
position:absolute;top:342px;left:5187.38px;
}
.s_page18_203
{
position:absolute;top:342px;left:5438.65px;
}
.s_page18_204
{
position:absolute;top:702px;left:639.94px;text-rendering:optimizeLegibility;
}
.s_page18_205
{
position:absolute;top:702px;left:1096.41px;
}
.s_page18_206
{
position:absolute;top:702px;left:1152.81px;
}
.s_page18_207
{
position:absolute;top:702px;left:1756.39px;letter-spacing:-3.6px;
}
.s_page18_208
{
position:absolute;top:702px;left:1963.99px;letter-spacing:-0.68px;
}
.s_page18_209
{
position:absolute;top:702px;left:2684.7px;letter-spacing:-2.16px;
}
.s_page18_210
{
position:absolute;top:702px;left:3680.45px;
}
.s_page18_211
{
position:absolute;top:702px;left:3745.72px;
}
.s_page18_212
{
position:absolute;top:-18px;left:0px;
}
.s_page18_213
{
position:absolute;top:-18px;left:261.68px;letter-spacing:-0.8px;
}
.s_page18_214
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page18_215
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:-0.88px;
}
.s_page18_216
{
position:absolute;top:-18px;left:2484.07px;letter-spacing:-1.1px;
}
.s_page18_217
{
position:absolute;top:-18px;left:3043.26px;
}
.s_page18_218
{
position:absolute;top:-18px;left:3277.01px;letter-spacing:-0.68px;
}
.s_page18_219
{
position:absolute;top:-18px;left:3970.6px;
}
.s_page18_220
{
position:absolute;top:-18px;left:4221.88px;
}
.s_page18_221
{
position:absolute;top:-18px;left:4633.95px;letter-spacing:-0.93px;
}
.s_page18_222
{
position:absolute;top:-18px;left:5323.46px;letter-spacing:-0.81px;
}
.s_page18_223
{
position:absolute;top:-18px;left:6053.28px;letter-spacing:-0.64px;
}
.s_page18_224
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.17px;
}
.s_page18_225
{
position:absolute;top:342px;left:1634.24px;
}
.s_page18_226
{
position:absolute;top:342px;left:1885.51px;
}
.s_page18_227
{
position:absolute;top:342px;left:2301.43px;text-rendering:optimizeLegibility;
}
.s_page18_228
{
position:absolute;top:342px;left:2823.18px;letter-spacing:-0.42px;
}
.s_page18_229
{
position:absolute;top:342px;left:3281.34px;letter-spacing:-1.56px;
}
.s_page18_230
{
position:absolute;top:342px;left:4211.57px;letter-spacing:-0.66px;
}
.s_page18_231
{
position:absolute;top:342px;left:4852.37px;
}
.s_page18_232
{
position:absolute;top:342px;left:4913.08px;letter-spacing:-1.08px;
}
.s_page18_233
{
position:absolute;top:342px;left:5662.59px;letter-spacing:-3px;
}
.s_page18_234
{
position:absolute;top:342px;left:5854.11px;letter-spacing:-2.4px;
}
.s_page18_235
{
position:absolute;top:342px;left:6311.06px;
}
.s_page18_236
{
position:absolute;top:702px;left:639.94px;
}
.s_page18_237
{
position:absolute;top:702px;left:929.37px;letter-spacing:-0.81px;
}
.s_page18_238
{
position:absolute;top:702px;left:1757.11px;
}
.s_page18_239
{
position:absolute;top:702px;left:2176.38px;
}
.s_page18_240
{
position:absolute;top:702px;left:2633.1px;
}
.s_page18_241
{
position:absolute;top:702px;left:3169.49px;
}
.s_page18_242
{
position:absolute;top:702px;left:3493px;letter-spacing:-1.8px;
}
.s_page18_243
{
position:absolute;top:702px;left:4395.14px;
}
.s_page18_244
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page18_245
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page18_246
{
position:absolute;top:-18px;left:0px;
}
.s_page18_247
{
position:absolute;top:-18px;left:480.48px;letter-spacing:-0.96px;
}
.s_page18_248
{
position:absolute;top:-18px;left:943.91px;
}
.s_page18_249
{
position:absolute;top:-18px;left:1874.85px;
}
.s_page18_250
{
position:absolute;top:-18px;left:2530.05px;letter-spacing:-2.35px;
}
.s_page18_251
{
position:absolute;top:-18px;left:3151.88px;
}
.s_page18_252
{
position:absolute;top:-18px;left:3441.31px;
}
.s_page18_253
{
position:absolute;top:-18px;left:3867.54px;
}
.s_page18_254
{
position:absolute;top:-18px;left:4199.93px;
}
.s_page18_255
{
position:absolute;top:-18px;left:4668.17px;
}
.s_page18_256
{
position:absolute;top:-18px;left:4957.6px;letter-spacing:-0.51px;
}
.s_page18_257
{
position:absolute;top:-5.54px;left:118.81px;
}
.s_page18_258
{
position:absolute;top:232.72px;left:637.84px;
}
.s_page18_259
{
position:absolute;top:232.72px;left:659.95px;letter-spacing:0px;
}
.s_page18_260
{
position:absolute;top:232.72px;left:2036.69px;letter-spacing:-0.91px;
}
.s_page18_261
{
position:absolute;top:232.72px;left:2539.01px;letter-spacing:0px;
}
.s_page18_262
{
position:absolute;top:232.72px;left:3041.61px;letter-spacing:-0.49px;
}
.s_page18_263
{
position:absolute;top:232.72px;left:4040.64px;
}
.s_page18_264
{
position:absolute;top:232.72px;left:4674.27px;letter-spacing:0px;
}
.s_page18_265
{
position:absolute;top:232.72px;left:5836.25px;letter-spacing:-0.79px;
}
.s_page18_266
{
position:absolute;top:232.72px;left:6606.8px;letter-spacing:-0.77px;
}
.s_page18_267
{
position:absolute;top:232.72px;left:7783.64px;
}
.s_page18_268
{
position:absolute;top:232.72px;left:8286.23px;letter-spacing:-0.59px;
}
.s_page18_269
{
position:absolute;top:632.72px;left:659.95px;letter-spacing:-0.13px;
}
.s_page18_270
{
position:absolute;top:632.72px;left:2242.5px;
}
.s_page18_271
{
position:absolute;top:632.72px;left:3088.37px;
}
.s_page18_272
{
position:absolute;top:632.72px;left:4460.91px;letter-spacing:-0.91px;
}
.s_page18_273
{
position:absolute;top:632.72px;left:4963.23px;
}
.s_page18_274
{
position:absolute;top:632.72px;left:5589.3px;letter-spacing:-2.05px;
}
.s_page18_275
{
position:absolute;top:632.72px;left:5937.62px;letter-spacing:-0.23px;
}
.s_page18_276
{
position:absolute;top:1179.71px;left:0px;
}
.s_page18_277
{
position:absolute;top:1179.71px;left:331.28px;letter-spacing:-1.04px;
}
.s_page18_278
{
position:absolute;top:1179.71px;left:639.94px;letter-spacing:-0.14px;
}
.s_page18_279
{
position:absolute;top:1179.71px;left:1769.6px;
}
.s_page18_280
{
position:absolute;top:1179.71px;left:2497.75px;letter-spacing:-0.93px;
}
.s_page18_281
{
position:absolute;top:1179.71px;left:3331.97px;
}
.s_page18_282
{
position:absolute;top:1179.71px;left:3587.09px;letter-spacing:-0.24px;
}
.s_page18_283
{
position:absolute;top:1179.71px;left:4271.32px;letter-spacing:-3px;
}
.s_page18_284
{
position:absolute;top:1179.71px;left:4462.83px;letter-spacing:-2.82px;
}
.s_page18_285
{
position:absolute;top:1179.71px;left:4917.39px;
}
.s_page18_286
{
position:absolute;top:2036.4px;left:0px;
}
.s_page18_287
{
position:absolute;top:2036.4px;left:261.2px;
}
.s_page18_288
{
position:absolute;top:2036.4px;left:639.94px;letter-spacing:-0.84px;
}
.s_page18_289
{
position:absolute;top:2036.4px;left:1472.96px;letter-spacing:-0.14px;
}
.s_page18_290
{
position:absolute;top:2036.4px;left:2601.66px;letter-spacing:-1.62px;
}
.s_page18_291
{
position:absolute;top:2036.4px;left:3021.17px;letter-spacing:-0.69px;
}
.s_page18_292
{
position:absolute;top:2036.4px;left:3876.04px;
}
.s_page18_293
{
position:absolute;top:2036.4px;left:4131.4px;letter-spacing:-0.53px;
}
.s_page18_294
{
position:absolute;top:2036.4px;left:4610.67px;
}
.s_page18_295
{
position:absolute;top:2036.4px;left:5157.14px;
}
.s_page18_296
{
position:absolute;top:2436.4px;left:639.94px;letter-spacing:-0.13px;
}
.s_page18_297
{
position:absolute;top:2436.4px;left:1827.44px;
}
.s_page18_298
{
position:absolute;top:2436.4px;left:2249.11px;letter-spacing:-0.92px;
}
.s_page18_299
{
position:absolute;top:2436.4px;left:2813.82px;letter-spacing:-0.29px;
}
.s_page18_300
{
position:absolute;top:2436.4px;left:3355.01px;letter-spacing:-1.62px;
}
.s_page18_301
{
position:absolute;top:2436.4px;left:3774.52px;letter-spacing:-2.43px;
}
.s_page18_302
{
position:absolute;top:2893.1px;left:0px;
}
.s_page18_303
{
position:absolute;top:2893.1px;left:257.6px;letter-spacing:-1.28px;
}
.s_page18_304
{
position:absolute;top:2893.1px;left:639.94px;letter-spacing:-0.14px;
}
.s_page18_305
{
position:absolute;top:2893.1px;left:1769.6px;
}
.s_page18_306
{
position:absolute;top:2893.1px;left:2223.91px;letter-spacing:-0.82px;
}
.s_page18_307
{
position:absolute;top:2893.1px;left:2734.62px;
}
.s_page18_308
{
position:absolute;top:2893.1px;left:3310.85px;letter-spacing:-0.53px;
}
.s_page18_309
{
position:absolute;top:2893.1px;left:3900.76px;letter-spacing:-2.24px;
}
.s_page18_310
{
position:absolute;top:2893.1px;left:4559.55px;letter-spacing:-2.68px;
}
.s_page18_311
{
position:absolute;top:3749.79px;left:0px;
}
.s_page18_312
{
position:absolute;top:3749.79px;left:261.68px;letter-spacing:-0.8px;
}
.s_page18_313
{
position:absolute;top:3749.79px;left:639.94px;letter-spacing:-2.23px;
}
.s_page18_314
{
position:absolute;top:3749.79px;left:1477.53px;letter-spacing:-0.14px;
}
.s_page18_315
{
position:absolute;top:3749.79px;left:2606.23px;
}
.s_page18_316
{
position:absolute;top:3749.79px;left:3330.3px;letter-spacing:-0.92px;
}
.s_page18_317
{
position:absolute;top:3749.79px;left:3895.01px;letter-spacing:-1.13px;
}
.s_page18_318
{
position:absolute;top:3749.79px;left:4590.04px;letter-spacing:-0.68px;
}
.s_page18_319
{
position:absolute;top:3749.79px;left:5133.63px;
}
.s_page18_320
{
position:absolute;top:4149.79px;left:639.94px;
}
.s_page18_321
{
position:absolute;top:4149.79px;left:895.29px;letter-spacing:-1.03px;
}
.s_page18_322
{
position:absolute;top:4149.79px;left:1627.04px;
}
.s_page18_323
{
position:absolute;top:4149.79px;left:2264.95px;
}
.s_page18_324
{
position:absolute;top:4149.79px;left:2857.74px;letter-spacing:-0.14px;
}
.s_page18_325
{
position:absolute;top:4149.79px;left:3986.44px;letter-spacing:-1.3px;
}
.s_page18_326
{
position:absolute;top:4149.79px;left:4615px;letter-spacing:-1.75px;
}
.s_page18_327
{
position:absolute;top:4149.79px;left:5298.27px;letter-spacing:-3.12px;
}
.s_page18_328
{
position:absolute;top:4549.79px;left:639.94px;letter-spacing:-0.34px;
}
.s_page18_329
{
position:absolute;top:5006.48px;left:0px;
}
.s_page18_330
{
position:absolute;top:5006.48px;left:264.08px;letter-spacing:-1.28px;
}
.s_page18_331
{
position:absolute;top:5006.48px;left:639.94px;letter-spacing:-0.14px;
}
.s_page18_332
{
position:absolute;top:5006.48px;left:1769.6px;
}
.s_page18_333
{
position:absolute;top:5006.48px;left:2215.51px;letter-spacing:-0.92px;
}
.s_page18_334
{
position:absolute;top:5006.48px;left:2776.14px;
}
.s_page18_335
{
position:absolute;top:5006.48px;left:3524.69px;
}
.s_page18_336
{
position:absolute;top:5006.48px;left:3814.12px;
}
.s_page18_337
{
position:absolute;top:5006.48px;left:4418.43px;letter-spacing:-1.36px;
}
.s_page18_338
{
position:absolute;top:5006.48px;left:5117.3px;
}
.s_page18_339
{
position:absolute;top:5006.48px;left:5585.05px;
}
.s_page18_340
{
position:absolute;top:5406.48px;left:639.94px;letter-spacing:-1.88px;
}
.s_page18_341
{
position:absolute;top:5406.48px;left:1302.09px;letter-spacing:-1.36px;
}
.s_page18_342
{
position:absolute;top:5406.48px;left:2000.96px;
}
.s_page18_343
{
position:absolute;top:5406.48px;left:2334.79px;letter-spacing:-0.92px;
}
.s_page18_344
{
position:absolute;top:5406.48px;left:2899.5px;
}
.s_page18_345
{
position:absolute;top:5863.17px;left:0px;
}
.s_page18_346
{
position:absolute;top:5863.17px;left:253.04px;letter-spacing:-1.28px;
}
.s_page18_347
{
position:absolute;top:5863.17px;left:639.94px;letter-spacing:-3.6px;
}
.s_page18_348
{
position:absolute;top:5863.17px;left:847.53px;letter-spacing:-0.66px;
}
.s_page18_349
{
position:absolute;top:5863.17px;left:1372.41px;
}
.s_page18_350
{
position:absolute;top:5863.17px;left:1944.79px;letter-spacing:-0.16px;
}
.s_page18_351
{
position:absolute;top:5863.17px;left:2952.78px;letter-spacing:-1.4px;
}
.s_page18_352
{
position:absolute;top:5863.17px;left:3595.97px;
}
.s_page18_353
{
position:absolute;top:5863.17px;left:4396.84px;letter-spacing:-3px;
}
.s_page18_354
{
position:absolute;top:5863.17px;left:4583.79px;letter-spacing:-0.58px;
}
.s_page18_355
{
position:absolute;top:5863.17px;left:5220.51px;
}
.s_page18_356
{
position:absolute;top:6263.17px;left:639.94px;
}
.s_page18_357
{
position:absolute;top:6263.17px;left:1314.8px;letter-spacing:-0.66px;
}
.s_page18_358
{
position:absolute;top:6719.87px;left:0px;
}
.s_page18_359
{
position:absolute;top:6719.87px;left:292.16px;letter-spacing:-6.72px;
}
.s_page18_360
{
position:absolute;top:6719.87px;left:639.94px;letter-spacing:-0.14px;
}
.s_page18_361
{
position:absolute;top:6719.87px;left:1769.6px;letter-spacing:-1.62px;
}
.s_page18_362
{
position:absolute;top:6719.87px;left:2189.11px;
}
.s_page18_363
{
position:absolute;top:6719.87px;left:2508.78px;letter-spacing:-0.41px;
}
.s_page18_364
{
position:absolute;top:6719.87px;left:3523px;
}
.s_page18_365
{
position:absolute;top:6719.87px;left:3994.84px;
}
.s_page18_366
{
position:absolute;top:6719.87px;left:4700.67px;
}
.s_page18_367
{
position:absolute;top:7119.87px;left:639.94px;letter-spacing:-1.47px;
}
.s_page18_368
{
position:absolute;top:7119.87px;left:1768.44px;letter-spacing:-1.82px;
}
.s_page18_369
{
position:absolute;top:7119.87px;left:2307.04px;
}
.s_page18_370
{
position:absolute;top:7119.87px;left:2872.51px;letter-spacing:-0.92px;
}
.s_page18_371
{
position:absolute;top:7119.87px;left:3436.79px;
}
.s_page18_372
{
position:absolute;top:7119.87px;left:4100.18px;letter-spacing:-1.82px;
}
.s_page18_373
{
position:absolute;top:7119.87px;left:4638.78px;letter-spacing:-2.82px;
}
.s_page18_374
{
position:absolute;top:7119.87px;left:5092.65px;
}
.s_page18_375
{
position:absolute;top:7519.87px;left:639.94px;letter-spacing:-3.12px;
}
.s_page18_376
{
position:absolute;top:7519.87px;left:963.45px;letter-spacing:-1.03px;
}
.s_page18_377
{
position:absolute;top:7519.87px;left:1694.48px;
}
.s_page18_378
{
position:absolute;top:7519.87px;left:2701.03px;
}
.s_page18_379
{
position:absolute;top:7519.87px;left:3120.3px;
}
.s_page18_380
{
position:absolute;top:7519.87px;left:3846.28px;
}
.s_page18_381
{
position:absolute;top:7519.87px;left:4314.04px;
}
.s_page18_382
{
position:absolute;top:7519.87px;left:4952.67px;letter-spacing:-2.48px;
}
.s_page18_383
{
position:absolute;top:7519.87px;left:5229.14px;
}
.s_page18_384
{
position:absolute;top:7919.87px;left:639.94px;
}
.s_page18_385
{
position:absolute;top:8376.56px;left:0px;
}
.s_page18_386
{
position:absolute;top:8376.56px;left:246.33px;letter-spacing:-1.2px;
}
.s_page18_387
{
position:absolute;top:8376.56px;left:639.94px;letter-spacing:-2.56px;
}
.s_page18_388
{
position:absolute;top:8376.56px;left:929.37px;letter-spacing:0px;
}
.s_page18_389
{
position:absolute;top:8376.56px;left:1344.56px;
}
.s_page18_390
{
position:absolute;top:8376.56px;left:1891.51px;letter-spacing:-2.48px;
}
.s_page18_391
{
position:absolute;top:8376.56px;left:2172.07px;letter-spacing:0px;
}
.s_page18_392
{
position:absolute;top:8376.56px;left:2807.09px;letter-spacing:-3px;
}
.s_page18_393
{
position:absolute;top:8376.56px;left:2998.61px;letter-spacing:-1.87px;
}
.s_page18_394
{
position:absolute;top:8376.56px;left:3593.08px;letter-spacing:-0.16px;
}
.s_page18_395
{
position:absolute;top:8376.56px;left:4605.14px;letter-spacing:-0.72px;
}
.s_page18_396
{
position:absolute;top:8776.56px;left:639.94px;letter-spacing:-0.93px;
}
.s_page18_397
{
position:absolute;top:8776.56px;left:1470.08px;letter-spacing:-1.08px;
}
.s_page18_398
{
position:absolute;top:8776.56px;left:2108px;letter-spacing:-0.82px;
}
.s_page18_399
{
position:absolute;top:8776.56px;left:2605.98px;
}
.s_page18_400
{
position:absolute;top:8776.56px;left:3073.26px;letter-spacing:-0.41px;
}
.s_page18_401
{
position:absolute;top:8776.56px;left:3908.69px;letter-spacing:-0.93px;
}
.s_page18_402
{
position:absolute;top:8776.56px;left:4742.92px;letter-spacing:-1.36px;
}
.s_page18_403
{
position:absolute;top:9633.25px;left:0px;
}
.s_page18_404
{
position:absolute;top:9633.25px;left:254.48px;letter-spacing:-2.48px;
}
.s_page18_405
{
position:absolute;top:9633.25px;left:639.94px;letter-spacing:-0.14px;
}
.s_page18_406
{
position:absolute;top:9633.25px;left:1769.6px;
}
.s_page18_407
{
position:absolute;top:9633.25px;left:2371.99px;letter-spacing:0px;
}
.s_page18_408
{
position:absolute;top:9633.25px;left:2897.1px;
}
.s_page18_409
{
position:absolute;top:9633.25px;left:3186.53px;letter-spacing:-1.08px;
}
.s_page18_410
{
position:absolute;top:9633.25px;left:3858.77px;
}
.s_page18_411
{
position:absolute;top:9633.25px;left:4273.96px;
}
.s_page18_412
{
position:absolute;top:10033.25px;left:639.94px;
}
.s_page18_413
{
position:absolute;top:10033.25px;left:1712.96px;letter-spacing:-2.48px;
}
.s_page18_414
{
position:absolute;top:10033.25px;left:1989.44px;letter-spacing:-0.93px;
}
.s_page18_415
{
position:absolute;top:10033.25px;left:2671.26px;
}
.s_page18_416
{
position:absolute;top:10033.25px;left:3143.1px;
}
.s_page18_417
{
position:absolute;top:10033.25px;left:3862.37px;
}
.s_page18_418
{
position:absolute;top:10033.25px;left:4520.68px;letter-spacing:-0.59px;
}
.s_page18_419
{
position:absolute;top:10433.25px;left:639.94px;letter-spacing:-1.84px;
}
.s_page18_420
{
position:absolute;top:10433.25px;left:933.21px;letter-spacing:-1.47px;
}
.s_page18_421
{
position:absolute;top:10889.95px;left:0px;
}
.s_page18_422
{
position:absolute;top:10889.95px;left:182.49px;letter-spacing:-1.86px;
}
.s_page18_423
{
position:absolute;top:10889.95px;left:639.94px;letter-spacing:-1.44px;
}
.s_page18_424
{
position:absolute;top:10889.95px;left:1775.85px;
}
.s_page18_425
{
position:absolute;top:10889.95px;left:2220.8px;letter-spacing:0px;
}
.s_page18_426
{
position:absolute;top:10889.95px;left:2640.07px;letter-spacing:-0.9px;
}
.s_page18_427
{
position:absolute;top:10889.95px;left:3456.06px;letter-spacing:-0.79px;
}
.s_page18_428
{
position:absolute;top:10889.95px;left:4360.61px;letter-spacing:-2.48px;
}
.s_page18_429
{
position:absolute;top:10889.95px;left:4641.16px;letter-spacing:-0.14px;
}
.s_page18_430
{
position:absolute;top:10889.95px;left:5769.87px;
}
.s_page18_431
{
position:absolute;top:11289.95px;left:639.94px;
}
.s_page18_432
{
position:absolute;top:11289.95px;left:1054.65px;
}
.s_page18_433
{
position:absolute;top:11289.95px;left:1770.56px;letter-spacing:-0.41px;
}
.s_page18_434
{
position:absolute;top:58.88px;left:0px;letter-spacing:-23.28px;
}
.s_page18_435
{
position:absolute;top:-12.32px;left:0px;
}
.s_page18_436
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page18_437
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page18_438
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.29px;
}
.s_page18_439
{
position:absolute;top:-18px;left:1197.82px;letter-spacing:-0.92px;
}
.s_page18_440
{
position:absolute;top:-18px;left:1825.41px;letter-spacing:-0.67px;
}
.s_page18_441
{
position:absolute;top:-18px;left:2399.73px;
}
.s_page18_442
{
position:absolute;top:-18px;left:3451.15px;letter-spacing:-0.66px;
}
.s_page18_443
{
position:absolute;top:342px;left:0px;letter-spacing:-0.72px;
}
.s_page18_444
{
position:absolute;top:342px;left:1102.79px;
}
.s_page18_445
{
position:absolute;top:342px;left:1635.1px;
}
.s_page18_446
{
position:absolute;top:342px;left:2054.37px;letter-spacing:-1.8px;
}
.s_page18_447
{
position:absolute;top:342px;left:2505.8px;letter-spacing:-1.89px;
}
.s_page18_448
{
position:absolute;top:342px;left:3378.19px;letter-spacing:-2.6px;
}
.s_page18_449
{
position:absolute;top:702px;left:0px;
}
.s_page18_450
{
position:absolute;top:702px;left:255.36px;
}
.s_page18_451
{
position:absolute;top:702px;left:886.78px;letter-spacing:-2.4px;
}
.s_page18_452
{
position:absolute;top:702px;left:1260.93px;
}
.s_page18_453
{
position:absolute;top:702px;left:1632.93px;letter-spacing:-1.3px;
}
.s_page18_454
{
position:absolute;top:702px;left:2113.16px;
}
.s_page18_455
{
position:absolute;top:702px;left:2368.51px;letter-spacing:-0.72px;
}
.s_page18_456
{
position:absolute;top:702px;left:3325.38px;letter-spacing:-1.83px;
}
.s_page18_457
{
position:absolute;top:1062px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page18_458
{
position:absolute;top:1062px;left:497.75px;letter-spacing:-0.16px;
}
.s_page18_459
{
position:absolute;top:1062px;left:1504.05px;
}
.s_page18_460
{
position:absolute;top:1062px;left:2261.48px;
}
.s_page18_461
{
position:absolute;top:1062px;left:2516.84px;letter-spacing:-0.34px;
}
.s_page18_462
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.46px;
}
.s_page18_463
{
position:absolute;top:-18px;left:364.45px;letter-spacing:-1.38px;
}
.s_page18_464
{
position:absolute;top:-18px;left:922.2px;
}
.s_page18_465
{
position:absolute;top:-18px;left:1514.03px;
}
.s_page18_466
{
position:absolute;top:342px;left:55.81px;letter-spacing:-0.16px;
}
.s_page18_467
{
position:absolute;top:342px;left:1067.88px;letter-spacing:-0.53px;
}
.s_page18_468
{
position:absolute;top:342px;left:1730.27px;
}
.s_page18_469
{
position:absolute;top:702px;left:350.77px;letter-spacing:-2.48px;
}
.s_page18_470
{
position:absolute;top:702px;left:627.25px;
}
.s_page18_471
{
position:absolute;top:702px;left:1041.96px;letter-spacing:-0.38px;
}

.page18_position1 {
	position:absolute;
	top: 103px;
	left: 30px;
}
.page18_position2 {
	position:absolute;
	top: 127px;
	left: 30px;
}
.page18_position3 {
	position:absolute;
	top: 150px;
	left: 30px;
}
.page18_position4 {
	position:absolute;
	top: 174px;
	left: 30px;
}
.page18_position5 {
	position:absolute;
	top: 196px;
	left: 30px;
}
.page18_position6 {
	position:absolute;
	top: 219px;
	left: 30px;
}
.page18_position7 {
	position:absolute;
	top: 241px;
	left: 30px;
}

#text1{
	position: absolute;
	top: 724px;
	left: 406px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 724px;
	left: 483px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 745px;
	left: 406px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 745px;
	left: 482px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 766px;
	left: 406px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 427px;
	left: 191px;
	width: 148px;
}
#box2{
	position:absolute;
	top: 507px;
	left: 343px;
	width: 117px;
}
#box3{
	position:absolute;
	top: 583px;
	left: 238px;
	width: 148px;
}
#box4{
	position:absolute;
	top: 661px;
	left: 344px;
	width: 134px;
}
#box5{
	position:absolute;
	top: 758px;
	left: 97px;
	width: 144px;
}

.page18_btn1 {
	position:absolute;
	top: 237px;
	left: 478px;
}
.page18_btn2 {
	position:absolute;
	top: 237px;
	left: 418px;
}

.page29_btn1 {
	position:absolute;
	top: 797px;
	left: 278px;
}
.page29_btn2 {
	position:absolute;
	top: 797px;
	left: 222px;
}
.page29_position1 {
	position:absolute;
	top: 149px;
	left: 83px;
}
.page29_position2 {
	position:absolute;
	top: 192px;
	left: 282px;
}
.page29_position3 {
	position:absolute;
	top: 235px;
	left: 83px;
}
.page29_position4 {
	position:absolute;
	top: 298px;
	left: 156px;
}
.page29_position5 {
	position:absolute;
	top: 341px;
	left: 241px;
}
.page29_position6 {
	position:absolute;
	top: 384px;
	left: 140px;
}
.page29_position7 {
	position:absolute;
	top: 468px;
	left: 121px;
}
.page29_position8 {
	position:absolute;
	top: 530px;
	left: 85px;
}
.page29_position9 {
	position:absolute;
	top: 592px;
	left: 139px;
}
.page29_position10 {
	position:absolute;
	top: 636px;
	left: 180px;
}

.p28_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page28_btn1 {
	position:absolute;
	top: 803px;
	left: 269px;
}
.position_1 {
	position:absolute;
	top: 65px;
	left: 15px;
}
