.d_page38-39_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page38-39_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page38-39_3
{
width:9864.57px;height:847.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page38-39_4
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page38-39_5
{
width:4016.24px;height:1927.99px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page38-39_6
{
width:5290.73px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page38-39_7
{
width:2610.12px;height:1983.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page38-39_8
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page38-39_9
{
width:4257.35px;height:2424.99px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page38-39_10
{width:3917.78px;height:2703.6px;position:absolute;top: 3px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%;transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);}
.d_page38-39_11
{width:4257.35px;height:3345.82px;position:absolute;top: 2px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%;transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);}
.d_page38-39_12
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page38-39_13
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page38-39_14
{
width:3612.76px;height:3772.8px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page38-39_15
{
width:1810.53px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page38-39_16
{
width:2188.8px;height:3100.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page38-39_17
{
width:1396.8px;height:459.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page38-39_18
{
width:1823.33px;height:459.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page38-39_19
{
width:482.1px;height:243.88px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page38-39_20
{
width:2476.8px;height:4296.28px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page38-39_21
{
width:5373.04px;height:4863.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page38-39_22
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page38-39_23
{
width:4193.53px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.s_page38-39_24
{
position:absolute;top:-11.04px;left:100.65px;
}
.s_page38-39_25
{
position:absolute;top:212.72px;left:543.94px;
}
.s_page38-39_26
{
position:absolute;top:212.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page38-39_27
{
position:absolute;top:212.72px;left:1750.26px;
}
.s_page38-39_28
{
position:absolute;top:212.72px;left:2553.85px;letter-spacing:-0.77px;
}
.s_page38-39_29
{
position:absolute;top:212.72px;left:3643.04px;letter-spacing:-0.1px;
}
.s_page38-39_30
{
position:absolute;top:212.72px;left:5419.62px;
}
.s_page38-39_31
{
position:absolute;top:212.72px;left:6280.89px;letter-spacing:-0.4px;
}
.s_page38-39_32
{
position:absolute;top:212.72px;left:7204.32px;
}
.s_page38-39_33
{
position:absolute;top:212.72px;left:7809.11px;letter-spacing:-2.24px;
}
.s_page38-39_34
{
position:absolute;top:212.72px;left:8485.03px;letter-spacing:-0.59px;
}
.s_page38-39_35
{
position:absolute;top:612.72px;left:659.95px;letter-spacing:-0.73px;
}
.s_page38-39_36
{
position:absolute;top:612.72px;left:1368.07px;
}
.s_page38-39_37
{
position:absolute;top:612.72px;left:1870.66px;
}
.s_page38-39_38
{
position:absolute;top:612.72px;left:2501.22px;
}
.s_page38-39_39
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page38-39_40
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_41
{
position:absolute;top:-18px;left:297.45px;
}
.s_page38-39_42
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_43
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.64px;
}
.s_page38-39_44
{
position:absolute;top:-18px;left:854.73px;
}
.s_page38-39_45
{
position:absolute;top:-18px;left:1091.84px;letter-spacing:-3px;
}
.s_page38-39_46
{
position:absolute;top:-18px;left:1283.36px;letter-spacing:-1.41px;
}
.s_page38-39_47
{
position:absolute;top:-18px;left:1888.63px;letter-spacing:-0.44px;
}
.s_page38-39_48
{
position:absolute;top:-18px;left:2609.11px;letter-spacing:-1.3px;
}
.s_page38-39_49
{
position:absolute;top:-18px;left:3193.74px;letter-spacing:-0.21px;
}
.s_page38-39_50
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.41px;
}
.s_page38-39_51
{
position:absolute;top:342px;left:1862.48px;
}
.s_page38-39_52
{
position:absolute;top:342px;left:2147.6px;
}
.s_page38-39_53
{
position:absolute;top:342px;left:2566.64px;
}
.s_page38-39_54
{
position:absolute;top:342px;left:3099.44px;
}
.s_page38-39_55
{
position:absolute;top:342px;left:3800.96px;letter-spacing:-2.48px;
}
.s_page38-39_56
{
position:absolute;top:702px;left:639.94px;
}
.s_page38-39_57
{
position:absolute;top:702px;left:1399.77px;
}
.s_page38-39_58
{
position:absolute;top:1062px;left:639.94px;letter-spacing:-1.28px;
}
.s_page38-39_59
{
position:absolute;top:1062px;left:1285.05px;letter-spacing:-0.59px;
}
.s_page38-39_60
{
position:absolute;top:1422px;left:639.94px;letter-spacing:-0.12px;
}
.s_page38-39_61
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_62
{
position:absolute;top:-18px;left:241.04px;
}
.s_page38-39_63
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_64
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page38-39_65
{
position:absolute;top:-18px;left:1139.37px;letter-spacing:0px;
}
.s_page38-39_66
{
position:absolute;top:-18px;left:2315.35px;letter-spacing:0px;
}
.s_page38-39_67
{
position:absolute;top:-18px;left:3241.49px;letter-spacing:-0.44px;
}
.s_page38-39_68
{
position:absolute;top:-18px;left:3965.33px;
}
.s_page38-39_69
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.41px;
}
.s_page38-39_70
{
position:absolute;top:342px;left:1862.23px;
}
.s_page38-39_71
{
position:absolute;top:342px;left:2398.62px;letter-spacing:-3px;
}
.s_page38-39_72
{
position:absolute;top:342px;left:2590.14px;
}
.s_page38-39_73
{
position:absolute;top:342px;left:3118.85px;text-rendering:optimizeLegibility;
}
.s_page38-39_74
{
position:absolute;top:342px;left:3960.76px;
}
.s_page38-39_75
{
position:absolute;top:702px;left:639.94px;text-rendering:optimizeLegibility;letter-spacing:-0.81px;
}
.s_page38-39_76
{
position:absolute;top:702px;left:1390.88px;
}
.s_page38-39_77
{
position:absolute;top:702px;left:1927.27px;
}
.s_page38-39_78
{
position:absolute;top:702px;left:2574.06px;letter-spacing:-0.38px;
}
.s_page38-39_79
{
position:absolute;top:702px;left:3357.41px;
}
.s_page38-39_80
{
position:absolute;top:702px;left:3641.32px;letter-spacing:-1.5px;
}
.s_page38-39_81
{
position:absolute;top:1062px;left:639.94px;letter-spacing:-0.5px;
}
.s_page38-39_82
{
position:absolute;top:1062px;left:1631.84px;
}
.s_page38-39_83
{
position:absolute;top:1062px;left:2292.07px;
}
.s_page38-39_84
{
position:absolute;top:1062px;left:2711.34px;
}
.s_page38-39_85
{
position:absolute;top:1062px;left:3459.65px;letter-spacing:-2.48px;
}
.s_page38-39_86
{
position:absolute;top:1062px;left:3736.12px;
}
.s_page38-39_87
{
position:absolute;top:1062px;left:4155.4px;
}
.s_page38-39_88
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_89
{
position:absolute;top:-18px;left:237.2px;letter-spacing:-0.48px;
}
.s_page38-39_90
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_91
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page38-39_92
{
position:absolute;top:-18px;left:1139.37px;letter-spacing:-0.42px;
}
.s_page38-39_93
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.44px;
}
.s_page38-39_94
{
position:absolute;top:342px;left:1360.41px;letter-spacing:-0.82px;
}
.s_page38-39_95
{
position:absolute;top:342px;left:1944.08px;letter-spacing:-1.3px;
}
.s_page38-39_96
{
position:absolute;top:702px;left:639.94px;
}
.s_page38-39_97
{
position:absolute;top:702px;left:1059.21px;
}
.s_page38-39_98
{
position:absolute;top:702px;left:1860.56px;
}
.s_page38-39_99
{
position:absolute;top:1062px;left:639.94px;
}
.s_page38-39_100
{
position:absolute;top:1062px;left:1088.97px;letter-spacing:-0.72px;
}
.s_page38-39_101
{
position:absolute;top:1062px;left:1618.64px;letter-spacing:-0.38px;
}
.s_page38-39_102
{
position:absolute;top:1422px;left:639.94px;letter-spacing:-0.69px;
}
.s_page38-39_103
{
position:absolute;top:1422px;left:1534.4px;
}
.s_page38-39_104
{
position:absolute;top:1422px;left:1842.31px;letter-spacing:-1.92px;
}
.s_page38-39_105
{
position:absolute;top:1782px;left:639.94px;
}
.s_page38-39_106
{
position:absolute;top:1782px;left:1054.65px;letter-spacing:-0.48px;
}
.s_page38-39_107
{
position:absolute;top:-12.32px;left:0px;
}
.s_page38-39_108
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page38-39_109
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page38-39_110
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.9px;
}
.s_page38-39_111
{
position:absolute;top:-18px;left:1636.05px;letter-spacing:-0.44px;
}
.s_page38-39_112
{
position:absolute;top:-18px;left:2359.89px;
}
.s_page38-39_113
{
position:absolute;top:-18px;left:2597px;letter-spacing:-3px;
}
.s_page38-39_114
{
position:absolute;top:-18px;left:2788.52px;letter-spacing:-0.44px;
}
.s_page38-39_115
{
position:absolute;top:-18px;left:3512.35px;
}
.s_page38-39_116
{
position:absolute;top:342px;left:0px;letter-spacing:-1.08px;
}
.s_page38-39_117
{
position:absolute;top:342px;left:749.51px;letter-spacing:-0.51px;
}
.s_page38-39_118
{
position:absolute;top:342px;left:1684.3px;letter-spacing:-0.33px;
}
.s_page38-39_119
{
position:absolute;top:342px;left:2675.49px;letter-spacing:-0.16px;
}
.s_page38-39_120
{
position:absolute;top:342px;left:3737.96px;letter-spacing:-2.48px;
}
.s_page38-39_121
{
position:absolute;top:702px;left:0px;
}
.s_page38-39_122
{
position:absolute;top:702px;left:543.83px;
}
.s_page38-39_123
{
position:absolute;top:702px;left:1268.38px;
}
.s_page38-39_124
{
position:absolute;top:702px;left:2240.36px;letter-spacing:-0.29px;
}
.s_page38-39_125
{
position:absolute;top:702px;left:3208.75px;
}
.s_page38-39_126
{
position:absolute;top:1062px;left:0px;
}
.s_page38-39_127
{
position:absolute;top:1062px;left:555.11px;
}
.s_page38-39_128
{
position:absolute;top:1062px;left:1021.18px;letter-spacing:-0.64px;
}
.s_page38-39_129
{
position:absolute;top:1062px;left:1676.85px;
}
.s_page38-39_130
{
position:absolute;top:1062px;left:2350.05px;
}
.s_page38-39_131
{
position:absolute;top:1062px;left:3229.63px;
}
.s_page38-39_132
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.76px;
}
.s_page38-39_133
{
position:absolute;top:1422px;left:1606.06px;letter-spacing:-0.51px;
}
.s_page38-39_134
{
position:absolute;top:1422px;left:2540.85px;letter-spacing:-1.62px;
}
.s_page38-39_135
{
position:absolute;top:1422px;left:2960.36px;letter-spacing:-0.18px;
}
.s_page38-39_136
{
position:absolute;top:1782px;left:0px;letter-spacing:-3.36px;
}
.s_page38-39_137
{
position:absolute;top:1782px;left:745.19px;letter-spacing:-1.3px;
}
.s_page38-39_138
{
position:absolute;top:1782px;left:1519.18px;letter-spacing:-1.92px;
}
.s_page38-39_139
{
position:absolute;top:1782px;left:2170.06px;letter-spacing:-4.05px;
}
.s_page38-39_140
{
position:absolute;top:1782px;left:3178.52px;letter-spacing:-1.64px;
}
.s_page38-39_141
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.82px;
}
.s_page38-39_142
{
position:absolute;top:2142px;left:690.71px;
}
.s_page38-39_143
{
position:absolute;top:2142px;left:1698.22px;
}
.s_page38-39_144
{
position:absolute;top:2142px;left:2170.05px;letter-spacing:-0.21px;
}
.s_page38-39_145
{
position:absolute;top:2142px;left:2894.36px;letter-spacing:-0.44px;
}
.s_page38-39_146
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_147
{
position:absolute;top:-18px;left:233.85px;
}
.s_page38-39_148
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_149
{
position:absolute;top:-18px;left:639.94px;
}
.s_page38-39_150
{
position:absolute;top:-18px;left:901.05px;letter-spacing:0px;
}
.s_page38-39_151
{
position:absolute;top:-18px;left:1355.36px;
}
.s_page38-39_152
{
position:absolute;top:-18px;left:2531.34px;letter-spacing:-0.44px;
}
.s_page38-39_153
{
position:absolute;top:-18px;left:3251.81px;letter-spacing:-0.82px;
}
.s_page38-39_154
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.3px;
}
.s_page38-39_155
{
position:absolute;top:342px;left:1224.57px;letter-spacing:-0.21px;
}
.s_page38-39_156
{
position:absolute;top:342px;left:1942.16px;letter-spacing:-0.51px;
}
.s_page38-39_157
{
position:absolute;top:342px;left:2876.95px;letter-spacing:-0.16px;
}
.s_page38-39_158
{
position:absolute;top:702px;left:639.94px;
}
.s_page38-39_159
{
position:absolute;top:702px;left:972.33px;letter-spacing:-0.18px;
}
.s_page38-39_160
{
position:absolute;top:702px;left:1821.91px;letter-spacing:-0.72px;
}
.s_page38-39_161
{
position:absolute;top:702px;left:2783.34px;letter-spacing:-3px;
}
.s_page38-39_162
{
position:absolute;top:702px;left:2974.85px;letter-spacing:-1.08px;
}
.s_page38-39_163
{
position:absolute;top:1062px;left:639.94px;letter-spacing:-0.54px;
}
.s_page38-39_164
{
position:absolute;top:1422px;left:639.94px;
}
.s_page38-39_165
{
position:absolute;top:1422px;left:1111.77px;letter-spacing:-1.41px;
}
.s_page38-39_166
{
position:absolute;top:1782px;left:639.94px;letter-spacing:-0.96px;
}
.s_page38-39_167
{
position:absolute;top:2142px;left:639.94px;
}
.s_page38-39_168
{
position:absolute;top:2142px;left:1140.57px;
}
.s_page38-39_169
{
position:absolute;top:2142px;left:1609.04px;letter-spacing:-0.82px;
}
.s_page38-39_170
{
position:absolute;top:2502px;left:639.94px;letter-spacing:-0.55px;
}
.s_page38-39_171
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_172
{
position:absolute;top:-18px;left:242.24px;letter-spacing:-0.48px;
}
.s_page38-39_173
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_174
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page38-39_175
{
position:absolute;top:-18px;left:1143.45px;letter-spacing:-0.44px;
}
.s_page38-39_176
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.82px;
}
.s_page38-39_177
{
position:absolute;top:342px;left:1223.61px;letter-spacing:-1.3px;
}
.s_page38-39_178
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.92px;
}
.s_page38-39_179
{
position:absolute;top:702px;left:1255.77px;
}
.s_page38-39_180
{
position:absolute;top:1062px;left:639.94px;letter-spacing:-0.41px;
}
.s_page38-39_181
{
position:absolute;top:1062px;left:1866.79px;letter-spacing:-3.12px;
}
.s_page38-39_182
{
position:absolute;top:1422px;left:639.94px;letter-spacing:-0.33px;
}
.s_page38-39_183
{
position:absolute;top:1422px;left:1541.36px;
}
.s_page38-39_184
{
position:absolute;top:1782px;left:639.94px;letter-spacing:-0.68px;
}
.s_page38-39_185
{
position:absolute;top:1782px;left:1889.36px;
}
.s_page38-39_186
{
position:absolute;top:2142px;left:639.94px;letter-spacing:-0.64px;
}
.s_page38-39_187
{
position:absolute;top:2142px;left:854.73px;letter-spacing:-1.15px;
}
.s_page38-39_188
{
position:absolute;top:2142px;left:1787.36px;letter-spacing:-3px;
}
.s_page38-39_189
{
position:absolute;top:2142px;left:1978.87px;letter-spacing:-0.54px;
}
.s_page38-39_190
{
position:absolute;top:2142px;left:2321.35px;letter-spacing:-2.48px;
}
.s_page38-39_191
{
position:absolute;top:2502px;left:639.94px;
}
.s_page38-39_192
{
position:absolute;top:2502px;left:1214.48px;
}
.s_page38-39_193
{
position:absolute;top:2502px;left:1901.11px;
}
.s_page38-39_194
{
position:absolute;top:2502px;left:2372.95px;letter-spacing:-0.93px;
}
.s_page38-39_195
{
position:absolute;top:-5.54px;left:114.97px;
}
.s_page38-39_196
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_197
{
position:absolute;top:-18px;left:225.21px;
}
.s_page38-39_198
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_199
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.64px;
}
.s_page38-39_200
{
position:absolute;top:-18px;left:854.73px;
}
.s_page38-39_201
{
position:absolute;top:-18px;left:1091.84px;letter-spacing:-3px;
}
.s_page38-39_202
{
position:absolute;top:-18px;left:1280px;letter-spacing:-0.65px;
}
.s_page38-39_203
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.44px;
}
.s_page38-39_204
{
position:absolute;top:342px;left:1360.41px;letter-spacing:-0.82px;
}
.s_page38-39_205
{
position:absolute;top:342px;left:1943.36px;
}
.s_page38-39_206
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.44px;
}
.s_page38-39_207
{
position:absolute;top:702px;left:1595.36px;letter-spacing:-3px;
}
.s_page38-39_208
{
position:absolute;top:702px;left:1786.88px;letter-spacing:-0.54px;
}
.s_page38-39_209
{
position:absolute;top:702px;left:2129.35px;letter-spacing:-2.48px;
}
.s_page38-39_210
{
position:absolute;top:1062px;left:639.94px;text-rendering:optimizeLegibility;letter-spacing:-0.48px;
}
.s_page38-39_211
{
position:absolute;top:1062px;left:1669.04px;
}
.s_page38-39_212
{
position:absolute;top:1062px;left:2140.87px;letter-spacing:-2.5px;
}
.s_page38-39_213
{
position:absolute;top:1422px;left:639.94px;letter-spacing:-0.64px;
}
.s_page38-39_214
{
position:absolute;top:1422px;left:854.73px;
}
.s_page38-39_215
{
position:absolute;top:1422px;left:1091.84px;letter-spacing:-0.72px;
}
.s_page38-39_216
{
position:absolute;top:1782px;left:639.94px;letter-spacing:-0.41px;
}
.s_page38-39_217
{
position:absolute;top:1782px;left:1866.79px;
}
.s_page38-39_218
{
position:absolute;top:2142px;left:639.94px;
}
.s_page38-39_219
{
position:absolute;top:2142px;left:1059.21px;letter-spacing:-0.81px;
}
.s_page38-39_220
{
position:absolute;top:2142px;left:1885.27px;
}
.s_page38-39_221
{
position:absolute;top:2502px;left:639.94px;letter-spacing:-0.2px;
}
.s_page38-39_222
{
position:absolute;top:2502px;left:2088.79px;letter-spacing:-0.65px;
}
.s_page38-39_223
{
position:absolute;top:2862px;left:639.94px;
}
.s_page38-39_224
{
position:absolute;top:2862px;left:1526.24px;
}
.s_page38-39_225
{
position:absolute;top:2862px;left:1998.08px;
}
.s_page38-39_226
{
position:absolute;top:3222px;left:639.94px;
}
.s_page38-39_227
{
position:absolute;top:3222px;left:1341.68px;letter-spacing:-2.48px;
}
.s_page38-39_228
{
position:absolute;top:3222px;left:1622.24px;letter-spacing:-0.61px;
}
.s_page38-39_229
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-4.03px;
}
.s_page38-39_230
{
position:absolute;top:-14.08px;left:714.87px;letter-spacing:-3.28px;
}
.s_page38-39_231
{
position:absolute;top:-14.08px;left:1266.86px;letter-spacing:-1.68px;
}
.s_page38-39_232
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_233
{
position:absolute;top:-18px;left:256.24px;letter-spacing:-1.84px;
}
.s_page38-39_234
{
position:absolute;top:-18px;left:560px;letter-spacing:-1.2px;
}
.s_page38-39_235
{
position:absolute;top:398.69px;left:0px;
}
.s_page38-39_236
{
position:absolute;top:398.69px;left:253.12px;letter-spacing:-2.96px;
}
.s_page38-39_237
{
position:absolute;top:398.69px;left:560px;
}
.s_page38-39_238
{
position:absolute;top:815.38px;left:0px;
}
.s_page38-39_239
{
position:absolute;top:815.38px;left:265.12px;letter-spacing:-1.36px;
}
.s_page38-39_240
{
position:absolute;top:815.38px;left:560px;
}
.s_page38-39_241
{
position:absolute;top:815.38px;left:983.11px;letter-spacing:-0.53px;
}
.s_page38-39_242
{
position:absolute;top:1232.08px;left:0px;
}
.s_page38-39_243
{
position:absolute;top:1232.08px;left:243.52px;
}
.s_page38-39_244
{
position:absolute;top:1232.08px;left:560px;letter-spacing:-1.2px;
}
.s_page38-39_245
{
position:absolute;top:1648.77px;left:0px;
}
.s_page38-39_246
{
position:absolute;top:1648.77px;left:256.24px;letter-spacing:-2px;
}
.s_page38-39_247
{
position:absolute;top:1648.77px;left:560px;letter-spacing:-0.18px;
}
.s_page38-39_248
{
position:absolute;top:2065.46px;left:0px;
}
.s_page38-39_249
{
position:absolute;top:2065.46px;left:298px;
}
.s_page38-39_250
{
position:absolute;top:2065.46px;left:560px;letter-spacing:-0.96px;
}
.s_page38-39_251
{
position:absolute;top:2065.46px;left:1130.23px;letter-spacing:-0.53px;
}
.s_page38-39_252
{
position:absolute;top:2482.16px;left:0px;
}
.s_page38-39_253
{
position:absolute;top:2482.16px;left:244px;
}
.s_page38-39_254
{
position:absolute;top:2482.16px;left:560px;letter-spacing:-1.2px;
}
.s_page38-39_255
{
position:absolute;top:2898.85px;left:0px;
}
.s_page38-39_256
{
position:absolute;top:2898.85px;left:254.8px;letter-spacing:-2.24px;
}
.s_page38-39_257
{
position:absolute;top:2898.85px;left:560px;
}
.s_page38-39_258
{
position:absolute;top:2898.85px;left:1404.31px;letter-spacing:-0.53px;
}
.s_page38-39_259
{
position:absolute;top:-18px;left:28.21px;letter-spacing:-4.08px;
}
.s_page38-39_260
{
position:absolute;top:-18px;left:1196.75px;
}
.s_page38-39_261
{
position:absolute;top:258px;left:153.61px;
}
.s_page38-39_262
{
position:absolute;top:258px;left:691.92px;
}
.s_page38-39_263
{
position:absolute;top:-18px;left:28.6px;letter-spacing:-1.78px;
}
.s_page38-39_264
{
position:absolute;top:-18px;left:412.59px;letter-spacing:-0.1px;
}
.s_page38-39_265
{
position:absolute;top:258px;left:327.99px;letter-spacing:-0.84px;
}
.s_page38-39_266
{
position:absolute;top:258px;left:1078.94px;letter-spacing:-4.56px;
}
.s_page38-39_267
{
position:absolute;top:-18px;left:15.93px;
}
.s_page38-39_268
{
position:absolute;top:-18px;left:81.21px;
}
.s_page38-39_269
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_270
{
position:absolute;top:-18px;left:234.08px;letter-spacing:-0.48px;
}
.s_page38-39_271
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_272
{
position:absolute;top:-18px;left:639.94px;
}
.s_page38-39_273
{
position:absolute;top:-18px;left:901.05px;letter-spacing:0px;
}
.s_page38-39_274
{
position:absolute;top:-18px;left:1356.08px;letter-spacing:-0.82px;
}
.s_page38-39_275
{
position:absolute;top:342px;left:639.94px;letter-spacing:-2.48px;
}
.s_page38-39_276
{
position:absolute;top:342px;left:920.49px;letter-spacing:-0.38px;
}
.s_page38-39_277
{
position:absolute;top:702px;left:639.94px;
}
.s_page38-39_278
{
position:absolute;top:1062px;left:639.94px;
}
.s_page38-39_279
{
position:absolute;top:1422px;left:639.94px;letter-spacing:-1.62px;
}
.s_page38-39_280
{
position:absolute;top:1422px;left:1056.09px;text-rendering:optimizeLegibility;letter-spacing:-0.92px;
}
.s_page38-39_281
{
position:absolute;top:1782px;left:639.94px;
}
.s_page38-39_282
{
position:absolute;top:1782px;left:973.77px;
}
.s_page38-39_283
{
position:absolute;top:1782px;left:1393.04px;
}
.s_page38-39_284
{
position:absolute;top:2142px;left:639.94px;letter-spacing:-2.48px;
}
.s_page38-39_285
{
position:absolute;top:2142px;left:916.41px;
}
.s_page38-39_286
{
position:absolute;top:2142px;left:1335.69px;letter-spacing:-0.45px;
}
.s_page38-39_287
{
position:absolute;top:2502px;left:639.94px;letter-spacing:-0.38px;
}
.s_page38-39_288
{
position:absolute;top:2502px;left:1313.69px;
}
.s_page38-39_289
{
position:absolute;top:2502px;left:1728px;letter-spacing:-1.17px;
}
.s_page38-39_290
{
position:absolute;top:2862px;left:639.94px;letter-spacing:-0.65px;
}
.s_page38-39_291
{
position:absolute;top:3222px;left:639.94px;
}
.s_page38-39_292
{
position:absolute;top:3222px;left:1179.68px;
}
.s_page38-39_293
{
position:absolute;top:3222px;left:1551.68px;letter-spacing:-1.84px;
}
.s_page38-39_294
{
position:absolute;top:3222px;left:1844.95px;letter-spacing:-1.38px;
}
.s_page38-39_295
{
position:absolute;top:3582px;left:639.94px;letter-spacing:-1.04px;
}
.s_page38-39_296
{
position:absolute;top:3582px;left:1204.64px;
}
.s_page38-39_297
{
position:absolute;top:3582px;left:1876.63px;letter-spacing:-1.62px;
}
.s_page38-39_298
{
position:absolute;top:3942px;left:639.94px;letter-spacing:-1.01px;
}
.s_page38-39_299
{
position:absolute;top:-18px;left:0px;
}
.s_page38-39_300
{
position:absolute;top:-18px;left:267.92px;letter-spacing:-8.64px;
}
.s_page38-39_301
{
position:absolute;top:-18px;left:440px;
}
.s_page38-39_302
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-1.05px;
}
.s_page38-39_303
{
position:absolute;top:-18px;left:1569.92px;letter-spacing:-3.12px;
}
.s_page38-39_304
{
position:absolute;top:342px;left:639.94px;letter-spacing:-3px;
}
.s_page38-39_305
{
position:absolute;top:342px;left:831.45px;letter-spacing:-0.46px;
}
.s_page38-39_306
{
position:absolute;top:702px;left:639.94px;letter-spacing:-1.17px;
}
.s_page38-39_307
{
position:absolute;top:702px;left:1454.01px;
}
.s_page38-39_308
{
position:absolute;top:1062px;left:639.94px;letter-spacing:-1.25px;
}
.s_page38-39_309
{
position:absolute;top:1422px;left:639.94px;
}
.s_page38-39_310
{
position:absolute;top:1782px;left:639.94px;letter-spacing:-1.61px;
}
.s_page38-39_311
{
position:absolute;top:1782px;left:1365.93px;
}
.s_page38-39_312
{
position:absolute;top:2142px;left:639.94px;letter-spacing:-0.44px;
}
.s_page38-39_313
{
position:absolute;top:2142px;left:1360.41px;letter-spacing:-0.82px;
}
.s_page38-39_314
{
position:absolute;top:2502px;left:639.94px;letter-spacing:-0.29px;
}
.s_page38-39_315
{
position:absolute;top:2862px;left:639.94px;letter-spacing:-0.68px;
}
.s_page38-39_316
{
position:absolute;top:2862px;left:1414.89px;letter-spacing:-1.3px;
}
.s_page38-39_317
{
position:absolute;top:3222px;left:639.94px;text-rendering:optimizeLegibility;letter-spacing:-1.2px;
}
.s_page38-39_318
{
position:absolute;top:3222px;left:1623.44px;letter-spacing:-0.44px;
}
.s_page38-39_319
{
position:absolute;top:3582px;left:639.94px;
}
.s_page38-39_320
{
position:absolute;top:3582px;left:1341.68px;
}
.s_page38-39_321
{
position:absolute;top:3582px;left:1915.75px;
}
.s_page38-39_322
{
position:absolute;top:3582px;left:2229.91px;letter-spacing:-0.29px;
}
.s_page38-39_323
{
position:absolute;top:3582px;left:3198.29px;
}
.s_page38-39_324
{
position:absolute;top:3582px;left:4049.56px;
}
.s_page38-39_325
{
position:absolute;top:3942px;left:639.94px;letter-spacing:-0.38px;
}
.s_page38-39_326
{
position:absolute;top:3942px;left:1584.81px;
}
.s_page38-39_327
{
position:absolute;top:3942px;left:2414.47px;
}
.s_page38-39_328
{
position:absolute;top:3942px;left:2969.58px;letter-spacing:-0.26px;
}
.s_page38-39_329
{
position:absolute;top:3942px;left:4216.12px;letter-spacing:-0.96px;
}
.s_page38-39_330
{
position:absolute;top:4302px;left:639.94px;letter-spacing:-0.44px;
}
.s_page38-39_331
{
position:absolute;top:4302px;left:1363.77px;
}
.s_page38-39_332
{
position:absolute;top:4302px;left:2023.52px;
}
.s_page38-39_333
{
position:absolute;top:4302px;left:2559.91px;letter-spacing:-0.81px;
}
.s_page38-39_334
{
position:absolute;top:4302px;left:3433.02px;letter-spacing:-1.2px;
}
.s_page38-39_335
{
position:absolute;top:4302px;left:4448.44px;letter-spacing:-0.64px;
}
.s_page38-39_336
{
position:absolute;top:4302px;left:4663.23px;
}
.s_page38-39_337
{
position:absolute;top:4662px;left:639.94px;letter-spacing:-0.41px;
}
.s_page38-39_338
{
position:absolute;top:4662px;left:1862.71px;
}
.s_page38-39_339
{
position:absolute;top:4662px;left:2148.79px;letter-spacing:-0.68px;
}
.s_page38-39_340
{
position:absolute;top:4662px;left:3398.21px;
}
.s_page38-39_341
{
position:absolute;top:-12.32px;left:0px;
}
.s_page38-39_342
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page38-39_343
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page38-39_344
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.75px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_345
{
position:absolute;top:-18px;left:911.67px;letter-spacing:-0.99px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_346
{
position:absolute;top:-18px;left:1795.93px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_347
{
position:absolute;top:-18px;left:2073.79px;letter-spacing:-0.21px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_348
{
position:absolute;top:-18px;left:2714.29px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_349
{
position:absolute;top:-18px;left:3015.88px;letter-spacing:-1.34px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_350
{
position:absolute;top:342px;left:0px;letter-spacing:-0.93px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_351
{
position:absolute;top:342px;left:800.86px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_352
{
position:absolute;top:342px;left:1271.33px;letter-spacing:-0.88px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_353
{
position:absolute;top:342px;left:1910.91px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_354
{
position:absolute;top:342px;left:2361.79px;letter-spacing:-1.87px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_355
{
position:absolute;top:342px;left:2949.07px;letter-spacing:-0.54px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_356
{
position:absolute;top:342px;left:3354.34px;letter-spacing:-0.72px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_357
{
position:absolute;top:702px;left:0px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_358
{
position:absolute;top:702px;left:277.85px;letter-spacing:-0.29px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_359
{
position:absolute;top:702px;left:1187.92px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_360
{
position:absolute;top:702px;left:1984.4px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_361
{
position:absolute;top:702px;left:2514.99px;letter-spacing:-0.66px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_362
{
position:absolute;top:702px;left:2888.01px;letter-spacing:-1.82px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_363
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.81px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_364
{
position:absolute;top:1062px;left:862.34px;letter-spacing:-0.67px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_365
{
position:absolute;top:1062px;left:1822.37px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_366
{
position:absolute;top:1062px;left:2499.25px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_367
{
position:absolute;top:1062px;left:2725.23px;letter-spacing:-3px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_368
{
position:absolute;top:1062px;left:2907.45px;letter-spacing:-0.22px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_369
{
position:absolute;top:1422px;left:0px;letter-spacing:-2.48px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_370
{
position:absolute;top:1422px;left:269.34px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_371
{
position:absolute;top:1422px;left:1065.81px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_372
{
position:absolute;top:1422px;left:1598.72px;letter-spacing:-0.44px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_373
{
position:absolute;top:1422px;left:2293.6px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}
.s_page38-39_374
{
position:absolute;top:1422px;left:2746.56px;-webkit-transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;-webkit-transform:matrix(0.96,0,0,1,0,0);-moz-transform:matrix(0.96,0,0,1,0,0);-ms-transform:matrix(0.96,0,0,1,0,0);-o-transform:matrix(0.96,0,0,1,0,0);transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.96,0,0,1,0,0);
}

.page38_btn1 {
	position:absolute;
	top: 797px;
	left: 268px;
}
.page38_btn2 {
	position:absolute;
	top: 797px;
	left: 212px;
}
.page38_position1 {
	position:absolute;
	left: 134px;
	top: 268px;
}
.page38_position2 {
	position:absolute;
	left: 459px;
	top: 169px;
}
.page38_position3 {
	position:absolute;
	left: 142px;
	top: 479px;
}
.page38_position4 {
	position:absolute;
	left: 416px;
	top: 467px;
}
.page38_position5 {
	position:absolute;
	left: 148px;
	top: 752px;
}
.page38_position6 {
	position:absolute;
	left: 126px;
	top: 282px;
}
.page38_position7 {
	position:absolute;
	left: 443px;
	top: 229px;
}
.page38_position8 {
	position:absolute;
	left: 475px;
	top: 515px;
}
.wda35
{width: 26px;}
