.d_page60-61_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page60-61_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page60-61_3
{
width:9864.57px;height:1147.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page60-61_4
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page60-61_5
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page60-61_6
{
width:5010.94px;height:2107.95px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_7
{
width:108.72px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_8
{
width:8495.95px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_9
{
width:178.8px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_10
{
width:8541.31px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_11
{
width:182.4px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_12
{
width:8507.29px;height:647.39px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_13
{
width:182.4px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_14
{
width:8653.54px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_15
{
width:182.4px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_16
{
width:8608.19px;height:559.48px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_17
{
width:186.96px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_18
{
width:8641.92px;height:722.49px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_19
{
width:186.96px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_20
{
width:8599.97px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_21
{
width:193.67px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_22
{
width:8599.97px;height:589.37px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_23
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page60-61_24
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page60-61_25
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page60-61_26
{
width:8432.04px;height:1184.26px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page60-61_27
{
width:9864.57px;height:12271.7px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page60-61_28
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.s_page60-61_29
{
position:absolute;top:-11.04px;left:91.85px;
}
.s_page60-61_30
{
position:absolute;top:112.72px;left:543.94px;
}
.s_page60-61_31
{
position:absolute;top:112.72px;left:659.95px;letter-spacing:0px;
}
.s_page60-61_32
{
position:absolute;top:112.72px;left:1750.54px;letter-spacing:-0.68px;
}
.s_page60-61_33
{
position:absolute;top:112.72px;left:3321.05px;letter-spacing:-1.17px;
}
.s_page60-61_34
{
position:absolute;top:112.72px;left:4215.36px;
}
.s_page60-61_35
{
position:absolute;top:112.72px;left:4516.08px;
}
.s_page60-61_36
{
position:absolute;top:112.72px;left:5018.67px;letter-spacing:-0.56px;
}
.s_page60-61_37
{
position:absolute;top:112.72px;left:5728.75px;letter-spacing:-2.8px;
}
.s_page60-61_38
{
position:absolute;top:112.72px;left:6062.79px;
}
.s_page60-61_39
{
position:absolute;top:112.72px;left:7045.29px;
}
.s_page60-61_40
{
position:absolute;top:112.72px;left:7675.85px;
}
.s_page60-61_41
{
position:absolute;top:112.72px;left:7977.68px;
}
.s_page60-61_42
{
position:absolute;top:512.72px;left:659.95px;letter-spacing:-0.54px;
}
.s_page60-61_43
{
position:absolute;top:512.72px;left:2271.06px;
}
.s_page60-61_44
{
position:absolute;top:512.72px;left:3053.65px;letter-spacing:-1.56px;
}
.s_page60-61_45
{
position:absolute;top:512.72px;left:4122.96px;
}
.s_page60-61_46
{
position:absolute;top:512.72px;left:4926.55px;
}
.s_page60-61_47
{
position:absolute;top:512.72px;left:6290.13px;
}
.s_page60-61_48
{
position:absolute;top:512.72px;left:6689.13px;letter-spacing:-0.2px;
}
.s_page60-61_49
{
position:absolute;top:512.72px;left:7751.72px;
}
.s_page60-61_50
{
position:absolute;top:912.72px;left:659.95px;letter-spacing:-0.14px;
}
.s_page60-61_51
{
position:absolute;top:912.72px;left:2222.61px;
}
.s_page60-61_52
{
position:absolute;top:912.72px;left:2784px;
}
.s_page60-61_53
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page60-61_54
{
position:absolute;top:-12.32px;left:0px;
}
.s_page60-61_55
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page60-61_56
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page60-61_57
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.21px;
}
.s_page60-61_58
{
position:absolute;top:-18px;left:721.91px;letter-spacing:-0.36px;
}
.s_page60-61_59
{
position:absolute;top:-18px;left:1501.9px;
}
.s_page60-61_60
{
position:absolute;top:-18px;left:1567.17px;letter-spacing:-0.59px;
}
.s_page60-61_61
{
position:absolute;top:-18px;left:2732.84px;letter-spacing:-0.79px;
}
.s_page60-61_62
{
position:absolute;top:-18px;left:3508.26px;letter-spacing:-3.74px;
}
.s_page60-61_63
{
position:absolute;top:342px;left:0px;letter-spacing:-1.44px;
}
.s_page60-61_64
{
position:absolute;top:342px;left:1010.63px;text-rendering:optimizeLegibility;letter-spacing:-0.51px;
}
.s_page60-61_65
{
position:absolute;top:342px;left:1790.13px;
}
.s_page60-61_66
{
position:absolute;top:342px;left:2076.2px;text-rendering:optimizeLegibility;
}
.s_page60-61_67
{
position:absolute;top:342px;left:2546.83px;
}
.s_page60-61_68
{
position:absolute;top:342px;left:2966.1px;letter-spacing:-1.3px;
}
.s_page60-61_69
{
position:absolute;top:342px;left:3440.82px;letter-spacing:-0.96px;
}
.s_page60-61_70
{
position:absolute;top:342px;left:4065.76px;
}
.s_page60-61_71
{
position:absolute;top:702px;left:0px;
}
.s_page60-61_72
{
position:absolute;top:702px;left:419.27px;letter-spacing:-1.08px;
}
.s_page60-61_73
{
position:absolute;top:702px;left:1398.94px;letter-spacing:-2.48px;
}
.s_page60-61_74
{
position:absolute;top:702px;left:1676.14px;letter-spacing:-1.92px;
}
.s_page60-61_75
{
position:absolute;top:702px;left:2185.65px;letter-spacing:-0.18px;
}
.s_page60-61_76
{
position:absolute;top:702px;left:3280.75px;letter-spacing:-2.48px;
}
.s_page60-61_77
{
position:absolute;top:702px;left:3557.23px;
}
.s_page60-61_78
{
position:absolute;top:702px;left:3976.5px;letter-spacing:-0.33px;
}
.s_page60-61_79
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.69px;
}
.s_page60-61_80
{
position:absolute;top:1062px;left:802.06px;letter-spacing:-1.29px;
}
.s_page60-61_81
{
position:absolute;top:1062px;left:1577.25px;
}
.s_page60-61_82
{
position:absolute;top:1062px;left:2312.36px;
}
.s_page60-61_83
{
position:absolute;top:1062px;left:2650.27px;
}
.s_page60-61_84
{
position:absolute;top:1062px;left:3018.91px;text-rendering:optimizeLegibility;
}
.s_page60-61_85
{
position:absolute;top:1062px;left:3998.09px;
}
.s_page60-61_86
{
position:absolute;top:1062px;left:4326.41px;letter-spacing:-1.44px;
}
.s_page60-61_87
{
position:absolute;top:1422px;left:0px;
}
.s_page60-61_88
{
position:absolute;top:1422px;left:419.27px;text-rendering:optimizeLegibility;
}
.s_page60-61_89
{
position:absolute;top:1422px;left:1665.57px;letter-spacing:-0.68px;
}
.s_page60-61_90
{
position:absolute;top:1422px;left:2309.96px;
}
.s_page60-61_91
{
position:absolute;top:1422px;left:2575.16px;letter-spacing:-0.91px;
}
.s_page60-61_92
{
position:absolute;top:1422px;left:3122.11px;letter-spacing:-0.29px;
}
.s_page60-61_93
{
position:absolute;top:1422px;left:3739.62px;
}
.s_page60-61_94
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.56px;
}
.s_page60-61_95
{
position:absolute;top:-18px;left:0.06px;letter-spacing:-0.34px;
}
.s_page60-61_96
{
position:absolute;top:-18px;left:742.14px;letter-spacing:-0.68px;
}
.s_page60-61_97
{
position:absolute;top:-18px;left:1455.88px;letter-spacing:-1.44px;
}
.s_page60-61_98
{
position:absolute;top:-18px;left:2159.79px;letter-spacing:-3px;
}
.s_page60-61_99
{
position:absolute;top:-18px;left:2351.31px;letter-spacing:-0.68px;
}
.s_page60-61_100
{
position:absolute;top:-18px;left:2995.7px;
}
.s_page60-61_101
{
position:absolute;top:-18px;left:3687.37px;
}
.s_page60-61_102
{
position:absolute;top:-18px;left:4106.64px;letter-spacing:-1.17px;
}
.s_page60-61_103
{
position:absolute;top:-18px;left:5016.7px;
}
.s_page60-61_104
{
position:absolute;top:-18px;left:5548.77px;letter-spacing:-1.09px;
}
.s_page60-61_105
{
position:absolute;top:-18px;left:6830.84px;letter-spacing:-2.48px;
}
.s_page60-61_106
{
position:absolute;top:-18px;left:7111.39px;letter-spacing:-3px;
}
.s_page60-61_107
{
position:absolute;top:-18px;left:7302.91px;
}
.s_page60-61_108
{
position:absolute;top:342px;left:0px;letter-spacing:-1.46px;
}
.s_page60-61_109
{
position:absolute;top:342px;left:1429.19px;
}
.s_page60-61_110
{
position:absolute;top:342px;left:1767.1px;
}
.s_page60-61_111
{
position:absolute;top:342px;left:2099.49px;
}
.s_page60-61_112
{
position:absolute;top:342px;left:2798.36px;
}
.s_page60-61_113
{
position:absolute;top:342px;left:3270.2px;
}
.s_page60-61_114
{
position:absolute;top:342px;left:3642.19px;letter-spacing:-0.63px;
}
.s_page60-61_115
{
position:absolute;top:342px;left:4523.69px;letter-spacing:-3.51px;
}
.s_page60-61_116
{
position:absolute;top:342px;left:5296.48px;letter-spacing:-0.38px;
}
.s_page60-61_117
{
position:absolute;top:342px;left:5930.31px;
}
.s_page60-61_118
{
position:absolute;top:342px;left:6163.34px;
}
.s_page60-61_119
{
position:absolute;top:342px;left:6582.62px;
}
.s_page60-61_120
{
position:absolute;top:342px;left:7255.09px;letter-spacing:-2.48px;
}
.s_page60-61_121
{
position:absolute;top:342px;left:7531.57px;
}
.s_page60-61_122
{
position:absolute;top:702px;left:0px;
}
.s_page60-61_123
{
position:absolute;top:702px;left:4604.6px;
}
.s_page60-61_124
{
position:absolute;top:-18px;left:0px;
}
.s_page60-61_125
{
position:absolute;top:-18px;left:0.06px;letter-spacing:-0.42px;
}
.s_page60-61_126
{
position:absolute;top:-18px;left:457.26px;letter-spacing:-1.37px;
}
.s_page60-61_127
{
position:absolute;top:-18px;left:1753.48px;letter-spacing:-2.48px;
}
.s_page60-61_128
{
position:absolute;top:-18px;left:2027.32px;letter-spacing:-6.84px;
}
.s_page60-61_129
{
position:absolute;top:-18px;left:2543.55px;letter-spacing:-1.32px;
}
.s_page60-61_130
{
position:absolute;top:-18px;left:3353.3px;
}
.s_page60-61_131
{
position:absolute;top:-18px;left:3418.58px;letter-spacing:-3.12px;
}
.s_page60-61_132
{
position:absolute;top:-18px;left:3742.1px;letter-spacing:-0.53px;
}
.s_page60-61_133
{
position:absolute;top:-18px;left:4358.41px;letter-spacing:-3.72px;
}
.s_page60-61_134
{
position:absolute;top:-18px;left:5051.53px;
}
.s_page60-61_135
{
position:absolute;top:-18px;left:5288.64px;
}
.s_page60-61_136
{
position:absolute;top:-18px;left:5984.39px;letter-spacing:-3px;
}
.s_page60-61_137
{
position:absolute;top:-18px;left:6170.15px;letter-spacing:-0.64px;
}
.s_page60-61_138
{
position:absolute;top:-18px;left:6907.42px;letter-spacing:-2.4px;
}
.s_page60-61_139
{
position:absolute;top:-18px;left:7363.89px;
}
.s_page60-61_140
{
position:absolute;top:-18px;left:7896.44px;
}
.s_page60-61_141
{
position:absolute;top:342px;left:0px;
}
.s_page60-61_142
{
position:absolute;top:342px;left:737.27px;letter-spacing:-3.12px;
}
.s_page60-61_143
{
position:absolute;top:342px;left:1060.78px;
}
.s_page60-61_144
{
position:absolute;top:342px;left:1432.77px;letter-spacing:-0.29px;
}
.s_page60-61_145
{
position:absolute;top:342px;left:1985.49px;letter-spacing:-0.92px;
}
.s_page60-61_146
{
position:absolute;top:342px;left:2573.23px;
}
.s_page60-61_147
{
position:absolute;top:342px;left:2992.5px;
}
.s_page60-61_148
{
position:absolute;top:342px;left:3683.45px;letter-spacing:-2.48px;
}
.s_page60-61_149
{
position:absolute;top:342px;left:3964.01px;
}
.s_page60-61_150
{
position:absolute;top:342px;left:4336px;letter-spacing:-0.88px;
}
.s_page60-61_151
{
position:absolute;top:342px;left:5287.58px;letter-spacing:-0.38px;
}
.s_page60-61_152
{
position:absolute;top:342px;left:5921.41px;
}
.s_page60-61_153
{
position:absolute;top:342px;left:6506.52px;letter-spacing:-6.84px;
}
.s_page60-61_154
{
position:absolute;top:342px;left:7022.76px;
}
.s_page60-61_155
{
position:absolute;top:342px;left:7452.59px;
}
.s_page60-61_156
{
position:absolute;top:342px;left:7824.58px;letter-spacing:-0.24px;
}
.s_page60-61_157
{
position:absolute;top:702px;left:0px;
}
.s_page60-61_158
{position:absolute;top:702px;left: 4750.95px;letter-spacing:0px;}
.s_page60-61_159
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.92px;
}
.s_page60-61_160
{
position:absolute;top:-18px;left:0.06px;letter-spacing:-0.32px;
}
.s_page60-61_161
{
position:absolute;top:-18px;left:723.9px;
}
.s_page60-61_162
{
position:absolute;top:-18px;left:1603.49px;
}
.s_page60-61_163
{
position:absolute;top:-18px;left:2201.31px;letter-spacing:-2.48px;
}
.s_page60-61_164
{
position:absolute;top:-18px;left:2481.87px;letter-spacing:-1.53px;
}
.s_page60-61_165
{
position:absolute;top:-18px;left:3457.7px;
}
.s_page60-61_166
{
position:absolute;top:-18px;left:4254.72px;
}
.s_page60-61_167
{
position:absolute;top:-18px;left:4491.84px;
}
.s_page60-61_168
{
position:absolute;top:-18px;left:5187.58px;letter-spacing:-3px;
}
.s_page60-61_169
{
position:absolute;top:-18px;left:5379.1px;letter-spacing:-1.87px;
}
.s_page60-61_170
{
position:absolute;top:-18px;left:5973.57px;letter-spacing:-2.4px;
}
.s_page60-61_171
{
position:absolute;top:-18px;left:6430.04px;
}
.s_page60-61_172
{
position:absolute;top:-18px;left:6962.59px;
}
.s_page60-61_173
{
position:absolute;top:-18px;left:7199.71px;
}
.s_page60-61_174
{
position:absolute;top:-18px;left:7936.98px;letter-spacing:-3.12px;
}
.s_page60-61_175
{
position:absolute;top:-18px;left:8260.49px;letter-spacing:-3px;
}
.s_page60-61_176
{
position:absolute;top:342px;left:0px;
}
.s_page60-61_177
{
position:absolute;top:342px;left:576.95px;letter-spacing:-2.48px;
}
.s_page60-61_178
{
position:absolute;top:342px;left:852.95px;letter-spacing:-0.87px;
}
.s_page60-61_179
{position:absolute;top:342px;left: 4765.94px;}
.s_page60-61_180
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.2px;
}
.s_page60-61_181
{
position:absolute;top:-18px;left:0.06px;letter-spacing:-1.2px;
}
.s_page60-61_182
{
position:absolute;top:-18px;left:1047.41px;letter-spacing:-5.07px;
}
.s_page60-61_183
{
position:absolute;top:-18px;left:1800.28px;
}
.s_page60-61_184
{
position:absolute;top:-18px;left:1865.56px;
}
.s_page60-61_185
{
position:absolute;top:-18px;left:2102.67px;
}
.s_page60-61_186
{
position:absolute;top:-18px;left:2794.34px;
}
.s_page60-61_187
{
position:absolute;top:-18px;left:3213.61px;letter-spacing:-1.14px;
}
.s_page60-61_188
{
position:absolute;top:-18px;left:4090.32px;letter-spacing:-2.48px;
}
.s_page60-61_189
{
position:absolute;top:-18px;left:4370.88px;letter-spacing:-1.27px;
}
.s_page60-61_190
{
position:absolute;top:-18px;left:5221.43px;letter-spacing:-1.31px;
}
.s_page60-61_191
{
position:absolute;top:-18px;left:6096.7px;
}
.s_page60-61_192
{
position:absolute;top:-18px;left:6382.77px;letter-spacing:-1.92px;
}
.s_page60-61_193
{
position:absolute;top:-18px;left:6892.28px;
}
.s_page60-61_194
{
position:absolute;top:-18px;left:7795.15px;
}
.s_page60-61_195
{
position:absolute;top:342px;left:0px;letter-spacing:-0.38px;
}
.s_page60-61_196
{
position:absolute;top:342px;left:629.27px;letter-spacing:-0.66px;
}
.s_page60-61_197
{
position:absolute;top:342px;left:1131.35px;
}
.s_page60-61_198
{
position:absolute;top:342px;left:1550.62px;
}
.s_page60-61_199
{
position:absolute;top:342px;left:2223.09px;letter-spacing:-2.48px;
}
.s_page60-61_200
{
position:absolute;top:342px;left:2499.57px;
}
.s_page60-61_201
{
position:absolute;top:342px;left:2918.84px;letter-spacing:-0.44px;
}
.s_page60-61_202
{
position:absolute;top:342px;left:3558.19px;letter-spacing:-1.08px;
}
.s_page60-61_203
{
position:absolute;top:342px;left:4307.7px;
}
.s_page60-61_204
{
position:absolute;top:342px;left:4640.58px;
}
.s_page60-61_205
{
position:absolute;top:342px;left:5128.25px;letter-spacing:-1.68px;
}
.s_page60-61_206
{
position:absolute;top:342px;left:5590.48px;letter-spacing:-0.78px;
}
.s_page60-61_207
{
position:absolute;top:702px;left:0px;
}
.s_page60-61_208
{position:absolute;top:702px;left: 4837.19px;letter-spacing:0px;}
.s_page60-61_209
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.92px;
}
.s_page60-61_210
{
position:absolute;top:-18px;left:0.06px;letter-spacing:-0.16px;
}
.s_page60-61_211
{
position:absolute;top:-18px;left:993.89px;letter-spacing:-0.33px;
}
.s_page60-61_212
{
position:absolute;top:-18px;left:1926.52px;
}
.s_page60-61_213
{
position:absolute;top:-18px;left:2342.43px;text-rendering:optimizeLegibility;
}
.s_page60-61_214
{
position:absolute;top:-18px;left:3266.42px;letter-spacing:-0.66px;
}
.s_page60-61_215
{
position:absolute;top:-18px;left:3715.93px;letter-spacing:-0.41px;
}
.s_page60-61_216
{
position:absolute;top:-18px;left:4787.27px;
}
.s_page60-61_217
{
position:absolute;top:-18px;left:5236.31px;letter-spacing:-3px;
}
.s_page60-61_218
{
position:absolute;top:-18px;left:5424.46px;
}
.s_page60-61_219
{
position:absolute;top:-18px;left:6132.69px;
}
.s_page60-61_220
{
position:absolute;top:-18px;left:6604.52px;letter-spacing:-1.36px;
}
.s_page60-61_221
{
position:absolute;top:-18px;left:7530.9px;letter-spacing:-0.38px;
}
.s_page60-61_222
{
position:absolute;top:-18px;left:8164.73px;
}
.s_page60-61_223
{
position:absolute;top:342px;left:0px;
}
.s_page60-61_224
{
position:absolute;top:342px;left:371.99px;letter-spacing:-1.04px;
}
.s_page60-61_225
{position:absolute;top:342px;left: 4836.83px;}
.s_page60-61_226
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.92px;
}
.s_page60-61_227
{
position:absolute;top:-18px;left:0.06px;letter-spacing:-0.48px;
}
.s_page60-61_228
{
position:absolute;top:-18px;left:553.02px;
}
.s_page60-61_229
{
position:absolute;top:-18px;left:786.05px;
}
.s_page60-61_230
{
position:absolute;top:-18px;left:1205.32px;letter-spacing:-1.99px;
}
.s_page60-61_231
{
position:absolute;top:-18px;left:2008.11px;letter-spacing:-2.48px;
}
.s_page60-61_232
{
position:absolute;top:-18px;left:2284.59px;
}
.s_page60-61_233
{
position:absolute;top:-18px;left:2703.86px;
}
.s_page60-61_234
{
position:absolute;top:-18px;left:3193.93px;
}
.s_page60-61_235
{
position:absolute;top:-18px;left:3445.21px;
}
.s_page60-61_236
{
position:absolute;top:-18px;left:3861.12px;
}
.s_page60-61_237
{
position:absolute;top:-18px;left:4740.71px;
}
.s_page60-61_238
{
position:absolute;top:-18px;left:5455.65px;letter-spacing:-3.12px;
}
.s_page60-61_239
{
position:absolute;top:-18px;left:5772.93px;letter-spacing:-0.66px;
}
.s_page60-61_240
{
position:absolute;top:-18px;left:6244.29px;letter-spacing:-3.97px;
}
.s_page60-61_241
{
position:absolute;top:-18px;left:7099.88px;letter-spacing:-0.42px;
}
.s_page60-61_242
{
position:absolute;top:-18px;left:7564.27px;letter-spacing:-3.22px;
}
.s_page60-61_243
{
position:absolute;top:-18px;left:8117.22px;letter-spacing:-2.48px;
}
.s_page60-61_244
{
position:absolute;top:342px;left:0px;
}
.s_page60-61_245
{
position:absolute;top:342px;left:419.27px;
}
.s_page60-61_246
{
position:absolute;top:342px;left:1016.62px;
}
.s_page60-61_247
{position:absolute;top:342px;left: 4810.56px;}
.s_page60-61_248
{
position:absolute;top:-18px;left:0px;letter-spacing:-10.08px;
}
.s_page60-61_249
{
position:absolute;top:-18px;left:0.06px;letter-spacing:-2.4px;
}
.s_page60-61_250
{
position:absolute;top:-18px;left:202.38px;letter-spacing:-0.96px;
}
.s_page60-61_251
{
position:absolute;top:-18px;left:661.26px;letter-spacing:-1.87px;
}
.s_page60-61_252
{
position:absolute;top:-18px;left:1273.01px;letter-spacing:-3px;
}
.s_page60-61_253
{
position:absolute;top:-18px;left:1464.53px;
}
.s_page60-61_254
{
position:absolute;top:-18px;left:1983.39px;letter-spacing:-2.48px;
}
.s_page60-61_255
{
position:absolute;top:-18px;left:2259.87px;
}
.s_page60-61_256
{
position:absolute;top:-18px;left:2675.78px;letter-spacing:-1.23px;
}
.s_page60-61_257
{
position:absolute;top:-18px;left:3547.45px;letter-spacing:-0.58px;
}
.s_page60-61_258
{
position:absolute;top:-18px;left:4250.64px;letter-spacing:-0.42px;
}
.s_page60-61_259
{
position:absolute;top:-18px;left:4715.04px;
}
.s_page60-61_260
{
position:absolute;top:-18px;left:5293.67px;
}
.s_page60-61_261
{
position:absolute;top:-18px;left:5712.94px;
}
.s_page60-61_262
{
position:absolute;top:-18px;left:6393.57px;
}
.s_page60-61_263
{
position:absolute;top:-18px;left:6861.32px;
}
.s_page60-61_264
{
position:absolute;top:-18px;left:7280.59px;letter-spacing:-2.59px;
}
.s_page60-61_265
{
position:absolute;top:-18px;left:8405.46px;
}
.s_page60-61_266
{
position:absolute;top:342px;left:0px;
}
.s_page60-61_267
{
position:absolute;top:342px;left:554.15px;
}
.s_page60-61_268
{
position:absolute;top:342px;left:804.95px;
}
.s_page60-61_269
{
position:absolute;top:342px;left:1508.38px;text-rendering:optimizeLegibility;
}
.s_page60-61_270
{
position:absolute;top:342px;left:2427.8px;letter-spacing:-0.48px;
}
.s_page60-61_271
{
position:absolute;top:342px;left:3108.43px;letter-spacing:-0.48px;
}
.s_page60-61_272
{
position:absolute;top:342px;left:3827.46px;letter-spacing:-0.96px;
}
.s_page60-61_273
{
position:absolute;top:342px;left:4290.9px;letter-spacing:-1.56px;
}
.s_page60-61_274
{
position:absolute;top:702px;left:0px;
}
.s_page60-61_275
{position:absolute;top:702px;left: 4852.61px;letter-spacing:0px;}
.s_page60-61_276
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.8px;
}
.s_page60-61_277
{
position:absolute;top:-18px;left:0.06px;
}
.s_page60-61_278
{
position:absolute;top:-18px;left:260.7px;
}
.s_page60-61_279
{
position:absolute;top:-18px;left:964.13px;
}
.s_page60-61_280
{
position:absolute;top:-18px;left:1843.72px;letter-spacing:-0.68px;
}
.s_page60-61_281
{
position:absolute;top:-18px;left:2483.55px;
}
.s_page60-61_282
{
position:absolute;top:-18px;left:2903.3px;letter-spacing:-0.96px;
}
.s_page60-61_283
{
position:absolute;top:-18px;left:3363.38px;text-rendering:optimizeLegibility;
}
.s_page60-61_284
{
position:absolute;top:-18px;left:3834.01px;
}
.s_page60-61_285
{
position:absolute;top:-18px;left:4253.28px;letter-spacing:-0.13px;
}
.s_page60-61_286
{
position:absolute;top:-18px;left:5487.58px;letter-spacing:-0.96px;
}
.s_page60-61_287
{
position:absolute;top:-18px;left:6058.53px;letter-spacing:-2.96px;
}
.s_page60-61_288
{
position:absolute;top:-18px;left:6846.21px;
}
.s_page60-61_289
{
position:absolute;top:-18px;left:7318.04px;letter-spacing:-0.68px;
}
.s_page60-61_290
{
position:absolute;top:342px;left:0px;letter-spacing:-0.99px;
}
.s_page60-61_291
{position:absolute;top:342px;left: 4849.61px;letter-spacing:0px;}
.s_page60-61_292
{
position:absolute;top:-5.54px;left:157.37px;
}
.s_page60-61_293
{
position:absolute;top:-12.32px;left:0px;
}
.s_page60-61_294
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page60-61_295
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page60-61_296
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.21px;
}
.s_page60-61_297
{
position:absolute;top:-18px;left:659.76px;letter-spacing:-1.68px;
}
.s_page60-61_298
{
position:absolute;top:-18px;left:1395.11px;
}
.s_page60-61_299
{
position:absolute;top:-18px;left:1900.3px;letter-spacing:-1.62px;
}
.s_page60-61_300
{
position:absolute;top:-18px;left:2319.81px;letter-spacing:-0.72px;
}
.s_page60-61_301
{
position:absolute;top:-18px;left:2849.48px;
}
.s_page60-61_302
{
position:absolute;top:-18px;left:3368.35px;letter-spacing:-2.48px;
}
.s_page60-61_303
{
position:absolute;top:-18px;left:3644.83px;
}
.s_page60-61_304
{
position:absolute;top:-18px;left:4064.1px;letter-spacing:-0.18px;
}
.s_page60-61_305
{
position:absolute;top:-18px;left:4897.37px;
}
.s_page60-61_306
{
position:absolute;top:-18px;left:5963.2px;letter-spacing:-1.62px;
}
.s_page60-61_307
{
position:absolute;top:-18px;left:6382.71px;letter-spacing:-1.36px;
}
.s_page60-61_308
{
position:absolute;top:-18px;left:7504.93px;letter-spacing:-1.3px;
}
.s_page60-61_309
{
position:absolute;top:342px;left:0px;letter-spacing:-1.28px;
}
.s_page60-61_310
{
position:absolute;top:342px;left:645.11px;
}
.s_page60-61_311
{
position:absolute;top:342px;left:1883.97px;letter-spacing:-5.28px;
}
.s_page60-61_312
{
position:absolute;top:342px;left:2289.33px;letter-spacing:-0.24px;
}
.s_page60-61_313
{
position:absolute;top:342px;left:3328.75px;letter-spacing:-1.08px;
}
.s_page60-61_314
{
position:absolute;top:342px;left:4022.59px;letter-spacing:-2.54px;
}
.s_page60-61_315
{
position:absolute;top:342px;left:5023.14px;letter-spacing:-0.55px;
}
.s_page60-61_316
{
position:absolute;top:342px;left:6478.47px;letter-spacing:-1.7px;
}
.s_page60-61_317
{
position:absolute;top:342px;left:7616.3px;letter-spacing:-1.2px;
}
.s_page60-61_318
{
position:absolute;top:702px;left:0px;
}
.s_page60-61_319
{
position:absolute;top:702px;left:828.47px;
}
.s_page60-61_320
{
position:absolute;top:702px;left:1300.3px;
}
.s_page60-61_321
{
position:absolute;top:702px;left:2509.41px;letter-spacing:-3.15px;
}
.s_page60-61_322
{
position:absolute;top:232.72px;left:577.84px;
}
.s_page60-61_323
{
position:absolute;top:232.72px;left:659.95px;letter-spacing:0px;
}
.s_page60-61_324
{
position:absolute;top:232.72px;left:1673.26px;
}
.s_page60-61_325
{
position:absolute;top:232.72px;left:1950.18px;
}
.s_page60-61_326
{
position:absolute;top:232.72px;left:2451.65px;letter-spacing:-0.65px;
}
.s_page60-61_327
{
position:absolute;top:232.72px;left:3153.05px;
}
.s_page60-61_328
{
position:absolute;top:232.72px;left:3890.28px;letter-spacing:-1px;
}
.s_page60-61_329
{
position:absolute;top:232.72px;left:4821.83px;letter-spacing:-1.28px;
}
.s_page60-61_330
{
position:absolute;top:232.72px;left:5837.38px;
}
.s_page60-61_331
{
position:absolute;top:232.72px;left:7129.28px;
}
.s_page60-61_332
{
position:absolute;top:232.72px;left:7430px;
}
.s_page60-61_333
{
position:absolute;top:232.72px;left:7931.48px;letter-spacing:-0.44px;
}
.s_page60-61_334
{
position:absolute;top:232.72px;left:8832.51px;
}
.s_page60-61_335
{
position:absolute;top:632.72px;left:659.95px;
}
.s_page60-61_336
{
position:absolute;top:632.72px;left:1162.55px;letter-spacing:-0.45px;
}
.s_page60-61_337
{
position:absolute;top:632.72px;left:2187.62px;letter-spacing:-0.21px;
}
.s_page60-61_338
{
position:absolute;top:632.72px;left:3249.37px;
}
.s_page60-61_339
{
position:absolute;top:632.72px;left:3596.57px;letter-spacing:-1.56px;
}
.s_page60-61_340
{
position:absolute;top:632.72px;left:4634.24px;
}
.s_page60-61_341
{
position:absolute;top:632.72px;left:5136.84px;letter-spacing:-0.59px;
}
.s_page60-61_342
{
position:absolute;top:632.72px;left:6429.59px;letter-spacing:-1.51px;
}
.s_page60-61_343
{
position:absolute;top:1083.02px;left:0px;
}
.s_page60-61_344
{
position:absolute;top:1083.02px;left:331.28px;letter-spacing:-1.04px;
}
.s_page60-61_345
{
position:absolute;top:1083.02px;left:639.94px;letter-spacing:-0.42px;
}
.s_page60-61_346
{
position:absolute;top:1083.02px;left:1099.77px;letter-spacing:-2.02px;
}
.s_page60-61_347
{
position:absolute;top:1083.02px;left:1722.56px;letter-spacing:-1.55px;
}
.s_page60-61_348
{
position:absolute;top:1083.02px;left:3332.22px;
}
.s_page60-61_349
{
position:absolute;top:1083.02px;left:3781.25px;letter-spacing:-0.53px;
}
.s_page60-61_350
{
position:absolute;top:1083.02px;left:4440.29px;letter-spacing:-1.3px;
}
.s_page60-61_351
{
position:absolute;top:1083.02px;left:5020.36px;
}
.s_page60-61_352
{
position:absolute;top:1083.02px;left:5727.15px;letter-spacing:-0.69px;
}
.s_page60-61_353
{
position:absolute;top:1632.37px;left:0px;
}
.s_page60-61_354
{
position:absolute;top:1632.37px;left:1058.27px;
}
.s_page60-61_355
{
position:absolute;top:1632.37px;left:1123.54px;letter-spacing:-1.84px;
}
.s_page60-61_356
{
position:absolute;top:1632.37px;left:1392.58px;letter-spacing:-0.21px;
}
.s_page60-61_357
{
position:absolute;top:1632.37px;left:5838.33px;
}
.s_page60-61_358
{
position:absolute;top:1632.37px;left:5903.61px;letter-spacing:-2.96px;
}
.s_page60-61_359
{
position:absolute;top:1632.37px;left:6175.77px;
}
.s_page60-61_360
{
position:absolute;top:2181.73px;left:0px;
}
.s_page60-61_361
{
position:absolute;top:2181.73px;left:1058.27px;
}
.s_page60-61_362
{
position:absolute;top:2181.73px;left:1123.54px;letter-spacing:-1.36px;
}
.s_page60-61_363
{
position:absolute;top:2181.73px;left:1383.7px;letter-spacing:-2.67px;
}
.s_page60-61_364
{
position:absolute;top:2181.73px;left:5838.33px;
}
.s_page60-61_365
{
position:absolute;top:2181.73px;left:5903.61px;
}
.s_page60-61_366
{
position:absolute;top:2181.73px;left:6185.36px;letter-spacing:-0.21px;
}
.s_page60-61_367
{
position:absolute;top:2731.08px;left:0px;
}
.s_page60-61_368
{
position:absolute;top:2731.08px;left:261.2px;
}
.s_page60-61_369
{
position:absolute;top:2731.08px;left:639.94px;letter-spacing:-0.32px;
}
.s_page60-61_370
{
position:absolute;top:2731.08px;left:1367.13px;letter-spacing:-2.48px;
}
.s_page60-61_371
{
position:absolute;top:2731.08px;left:1643.61px;
}
.s_page60-61_372
{
position:absolute;top:2731.08px;left:2307.68px;letter-spacing:-1.68px;
}
.s_page60-61_373
{
position:absolute;top:2731.08px;left:3047.1px;letter-spacing:-0.45px;
}
.s_page60-61_374
{
position:absolute;top:2731.08px;left:4028.21px;letter-spacing:-3px;
}
.s_page60-61_375
{
position:absolute;top:2731.08px;left:4219.73px;text-rendering:optimizeLegibility;letter-spacing:-0.93px;
}
.s_page60-61_376
{
position:absolute;top:3280.43px;left:0px;
}
.s_page60-61_377
{
position:absolute;top:3280.43px;left:1058.27px;
}
.s_page60-61_378
{
position:absolute;top:3280.43px;left:1123.54px;letter-spacing:-1.84px;
}
.s_page60-61_379
{
position:absolute;top:3280.43px;left:1392.58px;letter-spacing:-0.88px;
}
.s_page60-61_380
{
position:absolute;top:3280.43px;left:5838.33px;
}
.s_page60-61_381
{
position:absolute;top:3280.43px;left:5903.61px;letter-spacing:-2.96px;
}
.s_page60-61_382
{
position:absolute;top:3280.43px;left:6175.77px;letter-spacing:-0.32px;
}
.s_page60-61_383
{
position:absolute;top:3829.79px;left:0px;
}
.s_page60-61_384
{
position:absolute;top:3829.79px;left:1058.27px;
}
.s_page60-61_385
{
position:absolute;top:3829.79px;left:1123.54px;letter-spacing:-1.36px;
}
.s_page60-61_386
{
position:absolute;top:3829.79px;left:1383.7px;
}
.s_page60-61_387
{
position:absolute;top:3829.79px;left:5838.33px;
}
.s_page60-61_388
{
position:absolute;top:3829.79px;left:5903.61px;
}
.s_page60-61_389
{
position:absolute;top:3829.79px;left:6185.36px;text-rendering:optimizeLegibility;letter-spacing:-0.12px;
}
.s_page60-61_390
{
position:absolute;top:4379.14px;left:0px;
}
.s_page60-61_391
{
position:absolute;top:4379.14px;left:257.6px;letter-spacing:-1.28px;
}
.s_page60-61_392
{
position:absolute;top:4379.14px;left:639.94px;letter-spacing:-0.32px;
}
.s_page60-61_393
{
position:absolute;top:4379.14px;left:1367.13px;letter-spacing:-2.48px;
}
.s_page60-61_394
{
position:absolute;top:4379.14px;left:1643.61px;
}
.s_page60-61_395
{
position:absolute;top:4379.14px;left:2312.23px;
}
.s_page60-61_396
{
position:absolute;top:4379.14px;left:2549.35px;letter-spacing:-0.54px;
}
.s_page60-61_397
{
position:absolute;top:4379.14px;left:2971.5px;letter-spacing:-3px;
}
.s_page60-61_398
{
position:absolute;top:4379.14px;left:3163.02px;
}
.s_page60-61_399
{
position:absolute;top:4379.14px;left:3681.89px;letter-spacing:-2.48px;
}
.s_page60-61_400
{
position:absolute;top:4379.14px;left:3962.44px;letter-spacing:-1.03px;
}
.s_page60-61_401
{
position:absolute;top:4928.5px;left:0px;
}
.s_page60-61_402
{
position:absolute;top:4928.5px;left:1058.27px;
}
.s_page60-61_403
{
position:absolute;top:4928.5px;left:1123.54px;letter-spacing:-1.84px;
}
.s_page60-61_404
{
position:absolute;top:4928.5px;left:1392.58px;letter-spacing:-0.57px;
}
.s_page60-61_405
{
position:absolute;top:4928.5px;left:5838.33px;
}
.s_page60-61_406
{
position:absolute;top:4928.5px;left:5903.61px;letter-spacing:-2.96px;
}
.s_page60-61_407
{
position:absolute;top:4928.5px;left:6175.77px;letter-spacing:-0.12px;
}
.s_page60-61_408
{
position:absolute;top:5477.85px;left:0px;
}
.s_page60-61_409
{
position:absolute;top:5477.85px;left:1058.27px;
}
.s_page60-61_410
{
position:absolute;top:5477.85px;left:1123.54px;letter-spacing:-1.36px;
}
.s_page60-61_411
{
position:absolute;top:5477.85px;left:1383.7px;letter-spacing:-0.22px;
}
.s_page60-61_412
{
position:absolute;top:5477.85px;left:5838.33px;
}
.s_page60-61_413
{
position:absolute;top:5477.85px;left:5903.61px;
}
.s_page60-61_414
{
position:absolute;top:5477.85px;left:6185.36px;
}
.s_page60-61_415
{
position:absolute;top:6027.21px;left:0px;
}
.s_page60-61_416
{
position:absolute;top:6027.21px;left:261.68px;letter-spacing:-0.8px;
}
.s_page60-61_417
{
position:absolute;top:6027.21px;left:639.94px;letter-spacing:-0.32px;
}
.s_page60-61_418
{
position:absolute;top:6027.21px;left:1367.13px;letter-spacing:-2.48px;
}
.s_page60-61_419
{
position:absolute;top:6027.21px;left:1643.61px;
}
.s_page60-61_420
{
position:absolute;top:6027.21px;left:2307.68px;letter-spacing:-1.68px;
}
.s_page60-61_421
{
position:absolute;top:6027.21px;left:3047.1px;
}
.s_page60-61_422
{
position:absolute;top:6027.21px;left:4045.49px;letter-spacing:-0.13px;
}
.s_page60-61_423
{
position:absolute;top:6027.21px;left:5309.07px;letter-spacing:-1.08px;
}
.s_page60-61_424
{
position:absolute;top:6027.21px;left:6448.81px;letter-spacing:-1.84px;
}
.s_page60-61_425
{
position:absolute;top:6027.21px;left:6742.08px;
}
.s_page60-61_426
{
position:absolute;top:6027.21px;left:7715.27px;
}
.s_page60-61_427
{
position:absolute;top:6027.21px;left:7970.62px;letter-spacing:-3px;
}
.s_page60-61_428
{
position:absolute;top:6027.21px;left:8162.14px;letter-spacing:-1.23px;
}
.s_page60-61_429
{
position:absolute;top:6576.56px;left:0px;
}
.s_page60-61_430
{
position:absolute;top:6576.56px;left:1058.27px;
}
.s_page60-61_431
{
position:absolute;top:6576.56px;left:1123.54px;letter-spacing:-1.84px;
}
.s_page60-61_432
{
position:absolute;top:6576.56px;left:1392.58px;letter-spacing:-0.79px;
}
.s_page60-61_433
{
position:absolute;top:6576.56px;left:5838.33px;
}
.s_page60-61_434
{
position:absolute;top:6576.56px;left:5903.61px;letter-spacing:-2.96px;
}
.s_page60-61_435
{
position:absolute;top:6576.56px;left:6175.77px;letter-spacing:-0.72px;
}
.s_page60-61_436
{
position:absolute;top:7125.91px;left:0px;
}
.s_page60-61_437
{
position:absolute;top:7125.91px;left:1058.27px;
}
.s_page60-61_438
{
position:absolute;top:7125.91px;left:1123.54px;letter-spacing:-1.36px;
}
.s_page60-61_439
{
position:absolute;top:7125.91px;left:1383.7px;letter-spacing:-0.78px;
}
.s_page60-61_440
{
position:absolute;top:7125.91px;left:5838.33px;
}
.s_page60-61_441
{
position:absolute;top:7125.91px;left:5903.61px;
}
.s_page60-61_442
{
position:absolute;top:7125.91px;left:6185.36px;
}
.s_page60-61_443
{
position:absolute;top:7675.27px;left:0px;
}
.s_page60-61_444
{
position:absolute;top:7675.27px;left:264.08px;letter-spacing:-1.28px;
}
.s_page60-61_445
{
position:absolute;top:7675.27px;left:639.94px;letter-spacing:-0.42px;
}
.s_page60-61_446
{
position:absolute;top:7675.27px;left:1104.33px;letter-spacing:-0.66px;
}
.s_page60-61_447
{
position:absolute;top:7675.27px;left:2153.6px;letter-spacing:-2.48px;
}
.s_page60-61_448
{
position:absolute;top:7675.27px;left:2434.16px;letter-spacing:-0.66px;
}
.s_page60-61_449
{
position:absolute;top:7675.27px;left:3768.78px;
}
.s_page60-61_450
{
position:absolute;top:8224.62px;left:0px;
}
.s_page60-61_451
{
position:absolute;top:8224.62px;left:1058.27px;
}
.s_page60-61_452
{
position:absolute;top:8224.62px;left:1123.54px;letter-spacing:-1.84px;
}
.s_page60-61_453
{
position:absolute;top:8224.62px;left:1392.58px;letter-spacing:-1.13px;
}
.s_page60-61_454
{
position:absolute;top:8224.62px;left:5838.33px;
}
.s_page60-61_455
{
position:absolute;top:8224.62px;left:5903.61px;letter-spacing:-2.96px;
}
.s_page60-61_456
{
position:absolute;top:8224.62px;left:6175.77px;
}
.s_page60-61_457
{
position:absolute;top:8773.98px;left:0px;
}
.s_page60-61_458
{
position:absolute;top:8773.98px;left:1058.27px;
}
.s_page60-61_459
{
position:absolute;top:8773.98px;left:1123.54px;letter-spacing:-1.36px;
}
.s_page60-61_460
{
position:absolute;top:8773.98px;left:1383.7px;letter-spacing:-1.05px;
}
.s_page60-61_461
{
position:absolute;top:8773.98px;left:5838.33px;
}
.s_page60-61_462
{
position:absolute;top:8773.98px;left:5903.61px;
}
.s_page60-61_463
{
position:absolute;top:8773.98px;left:6185.36px;
}
.s_page60-61_464
{
position:absolute;top:9323.33px;left:0px;
}
.s_page60-61_465
{
position:absolute;top:9323.33px;left:253.04px;letter-spacing:-1.28px;
}
.s_page60-61_466
{
position:absolute;top:9323.33px;left:639.94px;letter-spacing:-0.32px;
}
.s_page60-61_467
{
position:absolute;top:9323.33px;left:1367.13px;letter-spacing:-2.48px;
}
.s_page60-61_468
{
position:absolute;top:9323.33px;left:1643.61px;
}
.s_page60-61_469
{
position:absolute;top:9323.33px;left:2307.68px;letter-spacing:-1.68px;
}
.s_page60-61_470
{
position:absolute;top:9323.33px;left:3047.1px;
}
.s_page60-61_471
{
position:absolute;top:9323.33px;left:3501.42px;
}
.s_page60-61_472
{
position:absolute;top:9323.33px;left:3838.13px;
}
.s_page60-61_473
{
position:absolute;top:9323.33px;left:4423.48px;
}
.s_page60-61_474
{
position:absolute;top:9323.33px;left:4712.91px;
}
.s_page60-61_475
{
position:absolute;top:9323.33px;left:5706.74px;letter-spacing:-1.36px;
}
.s_page60-61_476
{
position:absolute;top:9323.33px;left:6401.53px;
}
.s_page60-61_477
{
position:absolute;top:9323.33px;left:6906.71px;letter-spacing:-0.45px;
}
.s_page60-61_478
{
position:absolute;top:9323.33px;left:7887.82px;
}
.s_page60-61_479
{
position:absolute;top:9872.69px;left:0px;
}
.s_page60-61_480
{
position:absolute;top:9872.69px;left:1058.27px;
}
.s_page60-61_481
{
position:absolute;top:9872.69px;left:1123.54px;letter-spacing:-1.84px;
}
.s_page60-61_482
{
position:absolute;top:9872.69px;left:1392.58px;letter-spacing:-1.1px;
}
.s_page60-61_483
{
position:absolute;top:9872.69px;left:5838.33px;
}
.s_page60-61_484
{
position:absolute;top:9872.69px;left:5903.61px;letter-spacing:-2.96px;
}
.s_page60-61_485
{
position:absolute;top:9872.69px;left:6175.77px;
}
.s_page60-61_486
{
position:absolute;top:10422.04px;left:0px;
}
.s_page60-61_487
{
position:absolute;top:10422.04px;left:1058.27px;
}
.s_page60-61_488
{
position:absolute;top:10422.04px;left:1123.54px;letter-spacing:-1.36px;
}
.s_page60-61_489
{
position:absolute;top:10422.04px;left:1383.7px;letter-spacing:-0.79px;
}
.s_page60-61_490
{
position:absolute;top:10422.04px;left:5838.33px;
}
.s_page60-61_491
{
position:absolute;top:10422.04px;left:5903.61px;
}
.s_page60-61_492
{
position:absolute;top:10422.04px;left:6181.28px;letter-spacing:-1.15px;
}
.s_page60-61_493
{
position:absolute;top:10971.4px;left:0px;
}
.s_page60-61_494
{
position:absolute;top:10971.4px;left:292.16px;letter-spacing:-6.72px;
}
.s_page60-61_495
{
position:absolute;top:10971.4px;left:639.94px;letter-spacing:-0.38px;
}
.s_page60-61_496
{
position:absolute;top:10971.4px;left:1273.77px;letter-spacing:0px;
}
.s_page60-61_497
{
position:absolute;top:10971.4px;left:1506.8px;
}
.s_page60-61_498
{
position:absolute;top:10971.4px;left:1926.07px;
}
.s_page60-61_499
{
position:absolute;top:10971.4px;left:2598.55px;letter-spacing:-2.48px;
}
.s_page60-61_500
{
position:absolute;top:10971.4px;left:2879.1px;
}
.s_page60-61_501
{
position:absolute;top:10971.4px;left:3211.5px;letter-spacing:-0.45px;
}
.s_page60-61_502
{
position:absolute;top:10971.4px;left:4285.72px;letter-spacing:-1.14px;
}
.s_page60-61_503
{
position:absolute;top:11520.75px;left:0px;
}
.s_page60-61_504
{
position:absolute;top:11520.75px;left:1058.27px;
}
.s_page60-61_505
{
position:absolute;top:11520.75px;left:1123.54px;letter-spacing:-1.84px;
}
.s_page60-61_506
{
position:absolute;top:11520.75px;left:1392.58px;
}
.s_page60-61_507
{
position:absolute;top:11520.75px;left:5838.33px;
}
.s_page60-61_508
{
position:absolute;top:11520.75px;left:5903.61px;letter-spacing:-2.96px;
}
.s_page60-61_509
{
position:absolute;top:11520.75px;left:6175.77px;letter-spacing:-1.06px;
}
.s_page60-61_510
{
position:absolute;top:12070.1px;left:0px;
}
.s_page60-61_511
{
position:absolute;top:12070.1px;left:1058.27px;
}
.s_page60-61_512
{
position:absolute;top:12070.1px;left:1123.54px;letter-spacing:-1.36px;
}
.s_page60-61_513
{
position:absolute;top:12070.1px;left:1383.7px;
}
.s_page60-61_514
{
position:absolute;top:12070.1px;left:5838.33px;
}
.s_page60-61_515
{
position:absolute;top:12070.1px;left:5903.61px;
}
.s_page60-61_516
{
position:absolute;top:12070.1px;left:6185.36px;
}
.s_page60-61_517
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}


.page60_btn1 {
	position: absolute;
	top: 804px;
	left: 320px;
}
.page60_btn2 {
	position: absolute;
	top: 804px;
	left: 262px;
}
.page60_position1 {
	position: absolute;
	top: 160px;
	right: 58px;
}
.page60_position2 {
	position: absolute;
	top: 233px;
	right: 58px;
}
.page60_position3 {
	position: absolute;
	top: 287px;
	right: 58px;
}
.page60_position4 {
	position: absolute;
	top: 364px;
	right: 58px;
}
.page60_position5 {
	position: absolute;
	top: 419px;
	right: 58px;
}
.page60_position6 {
	position: absolute;
	top: 475px;
	right: 58px;
}
.page60_position7 {
	position: absolute;
	top: 553px;
	right: 58px;
}
.page60_position8 {
	position: absolute;
	top: 608px;
	right: 61px;
}


.page61_btn1 {
	position:absolute;
	top: 797px;
	left: 258px;
}
.page61_btn2 {
	position:absolute;
	top: 797px;
	left: 200px;
}
.page61_pos1 {
	position:absolute;
	top: 127px;
	left: 80px;
}
.page61_pos2 {
	position:absolute;
	top: 127px;
	left: 321px;
}
.page61_pos3 {
	position:absolute;
	top: 153px;
	left: 80px;
}
.page61_pos4 {
	position:absolute;
	top: 153px;
	left: 321px;
}
.page61_pos5 {
	position:absolute;
	top: 207px;
	left: 80px;
}
.page61_pos6 {
	position:absolute;
	top: 207px;
	left: 321px;
}
.page61_pos7 {
	position:absolute;
	top: 237px;
	left: 80px;
}
.page61_pos8 {
	position:absolute;
	top: 237px;
	left: 321px;
}
.page61_pos9 {
	position:absolute;
	top: 291px;
	left: 80px;
}
.page61_pos10 {
	position:absolute;
	top: 291px;
	left: 321px;
}
.page61_pos11 {
	position:absolute;
	top: 318px;
	left: 80px;
}
.page61_pos12 {
	position:absolute;
	top: 318px;
	left: 321px;
}
.page61_pos13 {
	position:absolute;
	top: 373px;
	left: 80px;
}
.page61_pos14 {
	position:absolute;
	top: 374px;
	left: 321px;
}
.page61_pos15 {
	position:absolute;
	top: 402px;
	left: 80px;
}
.page61_pos16 {
	position:absolute;
	top: 400px;
	left: 321px;
}
.page61_pos17 {
	position:absolute;
	top: 453px;
	left: 80px;
}
.page61_pos18 {
	position:absolute;
	top: 453px;
	left: 321px;
}
.page61_pos19 {
	position:absolute;
	top: 483px;
	left: 80px;
}
.page61_pos20 {
	position:absolute;
	top: 483px;
	left: 321px;
}
.page61_pos21 {
	position:absolute;
	top: 538px;
	left: 80px;
}
.page61_pos22 {
	position:absolute;
	top: 538px;
	left: 321px;
}
.page61_pos23 {
	position:absolute;
	top: 563px;
	left: 80px;
}
.page61_pos24 {
	position:absolute;
	top: 565px;
	left: 321px;
}
.page61_pos25 {
	position:absolute;
	top: 620px;
	left: 80px;
}
.page61_pos26 {
	position:absolute;
	top: 620px;
	left: 321px;
}
.page61_pos27 {
	position:absolute;
	top: 648px;
	left: 80px;
}
.page61_pos28 {
	position:absolute;
	top: 648px;
	left: 321px;
}
.position_61 {
	position: absolute;
	top: 44px;
	left: 10px;
}
