.d_page64-65_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page64-65_2
{
width:9660.47px;height:635.74px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page64-65_3
{
width:9620.5px;height:9442.41px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page64-65_4
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page64-65_5
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page64-65_6
{
width:3418.47px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page64-65_7
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page64-65_8
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page64-65_9
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page64-65_10
{
width:2269.64px;height:662.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page64-65_11
{
width:1230.95px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page64-65_12
{
width:1497.82px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page64-65_13
{
width:7012.91px;height:2503.15px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page64-65_14
{
width:4772.82px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);
}
.d_page64-65_15
{
width:6640.18px;height:529.52px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,5.02px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,5.02px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,5.02px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,5.02px) rotate(0deg) scale(0.05);-o-transform: translate(0px,5.02px) rotate(0deg) scale(0.05);
}
.d_page64-65_16
{
width:9851.53px;height:735.59px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);
}
.d_page64-65_17
{
width:3000.8px;height:4083.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(5.75px,5.75px) rotate(0deg) scale(0.05);-webkit-transform: translate(5.75px,5.75px) rotate(0deg) scale(0.05);-moz-transform: translate(5.75px,5.75px) rotate(0deg) scale(0.05);-ms-transform: translate(5.75px,5.75px) rotate(0deg) scale(0.05);-o-transform: translate(5.75px,5.75px) rotate(0deg) scale(0.05);
}
.d_page64-65_18
{
width:9697.18px;height:5203.76px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page64-65_19
{
width:262.8px;height:153px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_20
{
width:262.8px;height:153px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_21
{
width:262.8px;height:153px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_22
{
width:262.8px;height:153px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_23
{
width:262.8px;height:153px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_24
{
width:279.04px;height:158.12px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_25
{
width:279.04px;height:158.12px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_26
{
width:262.8px;height:153px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.d_page64-65_27
{
width:215.6px;height:153px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.89px) rotate(0deg) scale(0.05);
}
.s_page64-65_28
{
position:absolute;top:-18px;left:0px;
}
.s_page64-65_29
{
position:absolute;top:-18px;left:65.28px;letter-spacing:-1.49px;
}
.s_page64-65_30
{
position:absolute;top:-18px;left:618.71px;letter-spacing:-0.83px;
}
.s_page64-65_31
{
position:absolute;top:-18px;left:2460px;
}
.s_page64-65_32
{
position:absolute;top:-18px;left:3215.99px;letter-spacing:-0.44px;
}
.s_page64-65_33
{
position:absolute;top:-18px;left:4820px;
}
.s_page64-65_34
{
position:absolute;top:-18px;left:7280px;
}
.s_page64-65_35
{
position:absolute;top:-18px;left:8191.51px;
}
.s_page64-65_36
{
position:absolute;top:398.69px;left:0px;
}
.s_page64-65_37
{
position:absolute;top:398.69px;left:65.28px;
}
.s_page64-65_38
{
position:absolute;top:398.69px;left:2460px;
}
.s_page64-65_39
{
position:absolute;top:398.69px;left:3217.66px;letter-spacing:-1.06px;
}
.s_page64-65_40
{
position:absolute;top:398.69px;left:4820px;letter-spacing:-3.32px;
}
.s_page64-65_41
{
position:absolute;top:398.69px;left:5609.84px;letter-spacing:-0.9px;
}
.s_page64-65_42
{
position:absolute;top:398.69px;left:6061.27px;
}
.s_page64-65_43
{
position:absolute;top:398.69px;left:7280px;letter-spacing:-0.84px;
}
.s_page64-65_44
{
position:absolute;top:232.72px;left:577.84px;
}
.s_page64-65_45
{
position:absolute;top:232.72px;left:659.95px;
}
.s_page64-65_46
{
position:absolute;top:232.72px;left:1097.58px;letter-spacing:0px;
}
.s_page64-65_47
{
position:absolute;top:232.72px;left:1398.3px;
}
.s_page64-65_48
{
position:absolute;top:232.72px;left:1900.9px;letter-spacing:0px;
}
.s_page64-65_49
{
position:absolute;top:232.72px;left:2830.2px;
}
.s_page64-65_50
{
position:absolute;top:232.72px;left:3229.2px;
}
.s_page64-65_51
{
position:absolute;top:232.72px;left:4533.71px;letter-spacing:0px;
}
.s_page64-65_52
{
position:absolute;top:232.72px;left:5312.66px;
}
.s_page64-65_53
{
position:absolute;top:232.72px;left:5815.25px;
}
.s_page64-65_54
{
position:absolute;top:232.72px;left:6445.8px;
}
.s_page64-65_55
{
position:absolute;top:739.71px;left:0px;
}
.s_page64-65_56
{
position:absolute;top:739.71px;left:331.28px;letter-spacing:-1.04px;
}
.s_page64-65_57
{
position:absolute;top:739.71px;left:639.94px;letter-spacing:-0.42px;
}
.s_page64-65_58
{
position:absolute;top:739.71px;left:1104.33px;letter-spacing:0px;
}
.s_page64-65_59
{
position:absolute;top:739.71px;left:1641.68px;letter-spacing:-0.99px;
}
.s_page64-65_60
{
position:absolute;top:739.71px;left:2611.99px;letter-spacing:-0.16px;
}
.s_page64-65_61
{
position:absolute;top:739.71px;left:3689.1px;
}
.s_page64-65_62
{
position:absolute;top:739.71px;left:4114.61px;
}
.s_page64-65_63
{
position:absolute;top:739.71px;left:4451.32px;
}
.s_page64-65_64
{
position:absolute;top:739.71px;left:4978.84px;
}
.s_page64-65_65
{
position:absolute;top:739.71px;left:5227.47px;letter-spacing:-4.83px;
}
.s_page64-65_66
{
position:absolute;top:739.71px;left:5967.39px;letter-spacing:-0.41px;
}
.s_page64-65_67
{
position:absolute;top:739.71px;left:6739.22px;
}
.s_page64-65_68
{
position:absolute;top:739.71px;left:6990.49px;
}
.s_page64-65_69
{
position:absolute;top:739.71px;left:7404.01px;letter-spacing:-1.87px;
}
.s_page64-65_70
{
position:absolute;top:1099.71px;left:639.94px;
}
.s_page64-65_71
{
position:absolute;top:1799.87px;left:0px;
}
.s_page64-65_72
{
position:absolute;top:1799.87px;left:261.2px;
}
.s_page64-65_73
{
position:absolute;top:1799.87px;left:639.94px;letter-spacing:-2.04px;
}
.s_page64-65_74
{
position:absolute;top:1799.87px;left:1242.32px;letter-spacing:0px;
}
.s_page64-65_75
{
position:absolute;top:1799.87px;left:2108.23px;
}
.s_page64-65_76
{
position:absolute;top:1799.87px;left:2527.5px;letter-spacing:-0.99px;
}
.s_page64-65_77
{
position:absolute;top:1799.87px;left:3307.72px;letter-spacing:-0.16px;
}
.s_page64-65_78
{
position:absolute;top:1799.87px;left:4389.39px;letter-spacing:-0.56px;
}
.s_page64-65_79
{
position:absolute;top:1799.87px;left:5030.42px;
}
.s_page64-65_80
{
position:absolute;top:1799.87px;left:7741.77px;
}
.s_page64-65_81
{
position:absolute;top:1799.87px;left:8167.28px;letter-spacing:-0.38px;
}
.s_page64-65_82
{
position:absolute;top:1799.87px;left:9097.04px;
}
.s_page64-65_83
{
position:absolute;top:2159.87px;left:639.94px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_84
{
position:absolute;top:2159.87px;left:1137.68px;letter-spacing:-1.15px;
}
.s_page64-65_85
{
position:absolute;top:2159.87px;left:1585.51px;
}
.s_page64-65_86
{
position:absolute;top:2159.87px;left:1874.95px;letter-spacing:-1.87px;
}
.s_page64-65_87
{
position:absolute;top:2159.87px;left:2453.34px;
}
.s_page64-65_88
{
position:absolute;top:2159.87px;left:3266.44px;letter-spacing:-0.43px;
}
.s_page64-65_89
{
position:absolute;top:2159.87px;left:3827.32px;letter-spacing:-0.99px;
}
.s_page64-65_90
{
position:absolute;top:2159.87px;left:4797.63px;
}
.s_page64-65_91
{
position:absolute;top:2159.87px;left:5269.46px;letter-spacing:-0.99px;
}
.s_page64-65_92
{
position:absolute;top:2159.87px;left:6049.69px;letter-spacing:-0.16px;
}
.s_page64-65_93
{
position:absolute;top:2860.03px;left:0px;
}
.s_page64-65_94
{
position:absolute;top:2860.03px;left:257.6px;letter-spacing:-1.28px;
}
.s_page64-65_95
{
position:absolute;top:2860.03px;left:639.94px;letter-spacing:-0.42px;
}
.s_page64-65_96
{
position:absolute;top:2860.03px;left:1100.97px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_97
{
position:absolute;top:2860.03px;left:1598.72px;letter-spacing:-4.75px;
}
.s_page64-65_98
{
position:absolute;top:2860.03px;left:2051.12px;letter-spacing:-2.26px;
}
.s_page64-65_99
{
position:absolute;top:2860.03px;left:2554.15px;letter-spacing:-2.6px;
}
.s_page64-65_100
{
position:absolute;top:2860.03px;left:3310.86px;letter-spacing:-0.66px;
}
.s_page64-65_101
{
position:absolute;top:2860.03px;left:3817.02px;letter-spacing:-1.74px;
}
.s_page64-65_102
{
position:absolute;top:2860.03px;left:4830.77px;
}
.s_page64-65_103
{
position:absolute;top:2860.03px;left:5120.2px;letter-spacing:-0.99px;
}
.s_page64-65_104
{
position:absolute;top:2860.03px;left:6084.51px;letter-spacing:-1.12px;
}
.s_page64-65_105
{
position:absolute;top:2860.03px;left:7078.33px;letter-spacing:-0.29px;
}
.s_page64-65_106
{
position:absolute;top:2860.03px;left:7617.6px;letter-spacing:-1.1px;
}
.s_page64-65_107
{
position:absolute;top:2860.03px;left:8482.08px;
}
.s_page64-65_108
{
position:absolute;top:2860.03px;left:8943.11px;
}
.s_page64-65_109
{
position:absolute;top:3220.03px;left:639.94px;letter-spacing:-0.72px;
}
.s_page64-65_110
{
position:absolute;top:3220.03px;left:1115.61px;letter-spacing:-1.11px;
}
.s_page64-65_111
{
position:absolute;top:3220.03px;left:2019.68px;
}
.s_page64-65_112
{
position:absolute;top:3220.03px;left:2480.71px;
}
.s_page64-65_113
{
position:absolute;top:3220.03px;left:2731.98px;
}
.s_page64-65_114
{
position:absolute;top:3220.03px;left:3145.5px;letter-spacing:-1.87px;
}
.s_page64-65_115
{
position:absolute;top:3220.03px;left:3691.01px;
}
.s_page64-65_116
{
position:absolute;top:3920.18px;left:0px;
}
.s_page64-65_117
{
position:absolute;top:3920.18px;left:261.68px;letter-spacing:-0.8px;
}
.s_page64-65_118
{
position:absolute;top:3920.18px;left:639.94px;letter-spacing:0px;
}
.s_page64-65_119
{
position:absolute;top:3920.18px;left:3351.29px;letter-spacing:-0.66px;
}
.s_page64-65_120
{
position:absolute;top:3920.18px;left:3853.36px;
}
.s_page64-65_121
{
position:absolute;top:3920.18px;left:4269.28px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_122
{
position:absolute;top:3920.18px;left:4759.82px;letter-spacing:-0.84px;
}
.s_page64-65_123
{
position:absolute;top:3920.18px;left:5588.77px;
}
.s_page64-65_124
{
position:absolute;top:3920.18px;left:5873.64px;
}
.s_page64-65_125
{
position:absolute;top:3920.18px;left:6323.63px;letter-spacing:-3px;
}
.s_page64-65_126
{
position:absolute;top:3920.18px;left:6515.15px;
}
.s_page64-65_127
{
position:absolute;top:3920.18px;left:7051.78px;
}
.s_page64-65_128
{
position:absolute;top:3920.18px;left:7784.01px;
}
.s_page64-65_129
{
position:absolute;top:3920.18px;left:8039.37px;letter-spacing:-0.14px;
}
.s_page64-65_130
{
position:absolute;top:3920.18px;left:9179.83px;
}
.s_page64-65_131
{
position:absolute;top:4280.18px;left:639.94px;
}
.s_page64-65_132
{
position:absolute;top:4280.18px;left:972.81px;
}
.s_page64-65_133
{
position:absolute;top:4280.18px;left:1372.16px;
}
.s_page64-65_134
{
position:absolute;top:4280.18px;left:1691.84px;letter-spacing:-1.41px;
}
.s_page64-65_135
{
position:absolute;top:4980.34px;left:0px;
}
.s_page64-65_136
{
position:absolute;top:4980.34px;left:264.08px;letter-spacing:-1.28px;
}
.s_page64-65_137
{
position:absolute;top:4980.34px;left:639.94px;
}
.s_page64-65_138
{
position:absolute;top:4980.34px;left:905.13px;letter-spacing:0px;
}
.s_page64-65_139
{
position:absolute;top:4980.34px;left:1435.76px;letter-spacing:-0.14px;
}
.s_page64-65_140
{
position:absolute;top:4980.34px;left:2576.22px;
}
.s_page64-65_141
{
position:absolute;top:4980.34px;left:5292.14px;
}
.s_page64-65_142
{
position:absolute;top:4980.34px;left:6219.01px;
}
.s_page64-65_143
{
position:absolute;top:4980.34px;left:6634.92px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_144
{
position:absolute;top:4980.34px;left:7132.67px;
}
.s_page64-65_145
{
position:absolute;top:4980.34px;left:7855.06px;letter-spacing:-0.48px;
}
.s_page64-65_146
{
position:absolute;top:4980.34px;left:8720.25px;
}
.s_page64-65_147
{
position:absolute;top:4980.34px;left:9005.12px;
}
.s_page64-65_148
{
position:absolute;top:4980.34px;left:9455.11px;letter-spacing:-3px;
}
.s_page64-65_149
{
position:absolute;top:5340.34px;left:639.94px;letter-spacing:-1.3px;
}
.s_page64-65_150
{
position:absolute;top:5340.34px;left:1452.09px;
}
.s_page64-65_151
{
position:absolute;top:5340.34px;left:1704.08px;letter-spacing:-0.65px;
}
.s_page64-65_152
{
position:absolute;top:5340.34px;left:2724.3px;letter-spacing:-0.65px;
}
.s_page64-65_153
{
position:absolute;top:6040.5px;left:0px;
}
.s_page64-65_154
{
position:absolute;top:6040.5px;left:253.04px;letter-spacing:-1.28px;
}
.s_page64-65_155
{
position:absolute;top:6040.5px;left:639.94px;letter-spacing:-0.24px;
}
.s_page64-65_156
{
position:absolute;top:6040.5px;left:1518.57px;
}
.s_page64-65_157
{
position:absolute;top:6040.5px;left:1968.08px;letter-spacing:0px;
}
.s_page64-65_158
{
position:absolute;top:6040.5px;left:2796.79px;
}
.s_page64-65_159
{
position:absolute;top:6040.5px;left:3710.7px;letter-spacing:-3px;
}
.s_page64-65_160
{
position:absolute;top:6040.5px;left:3902.22px;
}
.s_page64-65_161
{
position:absolute;top:6040.5px;left:4634.45px;
}
.s_page64-65_162
{
position:absolute;top:6040.5px;left:4914.28px;
}
.s_page64-65_163
{
position:absolute;top:6040.5px;left:5333.55px;
}
.s_page64-65_164
{
position:absolute;top:6040.5px;left:5864.18px;letter-spacing:-0.14px;
}
.s_page64-65_165
{
position:absolute;top:6400.5px;left:639.94px;
}
.s_page64-65_166
{
position:absolute;top:6400.5px;left:3351.77px;
}
.s_page64-65_167
{
position:absolute;top:6400.5px;left:3767.68px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_168
{
position:absolute;top:6400.5px;left:4265.43px;
}
.s_page64-65_169
{
position:absolute;top:6400.5px;left:4989.02px;letter-spacing:-0.58px;
}
.s_page64-65_170
{
position:absolute;top:6400.5px;left:5795.41px;
}
.s_page64-65_171
{
position:absolute;top:6400.5px;left:6801.96px;
}
.s_page64-65_172
{
position:absolute;top:6400.5px;left:7091.39px;letter-spacing:-0.33px;
}
.s_page64-65_173
{
position:absolute;top:6400.5px;left:8112.09px;
}
.s_page64-65_174
{
position:absolute;top:6400.5px;left:8363.37px;
}
.s_page64-65_175
{
position:absolute;top:6760.5px;left:639.94px;letter-spacing:-0.14px;
}
.s_page64-65_176
{
position:absolute;top:7460.66px;left:0px;
}
.s_page64-65_177
{
position:absolute;top:7460.66px;left:292.16px;letter-spacing:-6.72px;
}
.s_page64-65_178
{
position:absolute;top:7460.66px;left:639.94px;
}
.s_page64-65_179
{
position:absolute;top:7460.66px;left:1325.85px;letter-spacing:-2.37px;
}
.s_page64-65_180
{
position:absolute;top:7460.66px;left:2185.51px;letter-spacing:0px;
}
.s_page64-65_181
{
position:absolute;top:7460.66px;left:4901.42px;
}
.s_page64-65_182
{
position:absolute;top:7460.66px;left:5578.45px;letter-spacing:-3px;
}
.s_page64-65_183
{
position:absolute;top:7460.66px;left:5769.97px;letter-spacing:-0.66px;
}
.s_page64-65_184
{
position:absolute;top:7460.66px;left:6290.29px;letter-spacing:-0.48px;
}
.s_page64-65_185
{
position:absolute;top:7460.66px;left:6975.47px;letter-spacing:-2.33px;
}
.s_page64-65_186
{
position:absolute;top:7460.66px;left:7747.78px;letter-spacing:-2.48px;
}
.s_page64-65_187
{
position:absolute;top:7460.66px;left:8028.34px;letter-spacing:-2.48px;
}
.s_page64-65_188
{
position:absolute;top:7460.66px;left:8672.25px;letter-spacing:-0.33px;
}
.s_page64-65_189
{
position:absolute;top:7820.66px;left:639.94px;
}
.s_page64-65_190
{
position:absolute;top:7820.66px;left:891.21px;
}
.s_page64-65_191
{
position:absolute;top:7820.66px;left:1310.48px;
}
.s_page64-65_192
{
position:absolute;top:7820.66px;left:1806.31px;letter-spacing:-0.93px;
}
.s_page64-65_193
{
position:absolute;top:7820.66px;left:2636.7px;
}
.s_page64-65_194
{
position:absolute;top:7820.66px;left:3225.17px;
}
.s_page64-65_195
{
position:absolute;top:7820.66px;left:3509.08px;
}
.s_page64-65_196
{
position:absolute;top:7820.66px;left:3918.99px;letter-spacing:-0.77px;
}
.s_page64-65_197
{
position:absolute;top:8520.81px;left:0px;
}
.s_page64-65_198
{
position:absolute;top:8520.81px;left:246.33px;letter-spacing:-1.2px;
}
.s_page64-65_199
{
position:absolute;top:8520.81px;left:639.94px;letter-spacing:0px;
}
.s_page64-65_200
{
position:absolute;top:8520.81px;left:1734.8px;letter-spacing:-0.96px;
}
.s_page64-65_201
{
position:absolute;top:8520.81px;left:2802.07px;
}
.s_page64-65_202
{
position:absolute;top:8520.81px;left:5517.98px;
}
.s_page64-65_203
{
position:absolute;top:8520.81px;left:6163.09px;
}
.s_page64-65_204
{
position:absolute;top:8520.81px;left:6582.36px;letter-spacing:-2.33px;
}
.s_page64-65_205
{
position:absolute;top:8520.81px;left:7354.67px;letter-spacing:-2.48px;
}
.s_page64-65_206
{
position:absolute;top:8520.81px;left:7635.23px;letter-spacing:-0.75px;
}
.s_page64-65_207
{
position:absolute;top:8520.81px;left:8409.46px;letter-spacing:-0.72px;
}
.s_page64-65_208
{
position:absolute;top:8520.81px;left:8935.06px;
}
.s_page64-65_209
{
position:absolute;top:8880.81px;left:639.94px;
}
.s_page64-65_210
{
position:absolute;top:8880.81px;left:1253.36px;letter-spacing:-0.79px;
}
.s_page64-65_211
{
position:absolute;top:8880.81px;left:2157.91px;letter-spacing:-2.48px;
}
.s_page64-65_212
{
position:absolute;top:8880.81px;left:2438.47px;
}
.s_page64-65_213
{
position:absolute;top:8880.81px;left:3287.34px;
}
.s_page64-65_214
{
position:absolute;top:8880.81px;left:3692.93px;
}
.s_page64-65_215
{
position:absolute;top:8880.81px;left:3944.21px;letter-spacing:-0.31px;
}
.s_page64-65_216
{
position:absolute;top:8880.81px;left:4582.36px;
}
.s_page64-65_217
{
position:absolute;top:8880.81px;left:4837.71px;letter-spacing:-0.14px;
}
.s_page64-65_218
{
position:absolute;top:8880.81px;left:5975.78px;letter-spacing:-0.88px;
}
.s_page64-65_219
{
position:absolute;top:8880.81px;left:6332.17px;letter-spacing:-0.72px;
}
.s_page64-65_220
{
position:absolute;top:8880.81px;left:6861.85px;
}
.s_page64-65_221
{
position:absolute;top:8880.81px;left:7233.84px;letter-spacing:-1.44px;
}
.s_page64-65_222
{
position:absolute;top:8880.81px;left:7779.35px;
}
.s_page64-65_223
{
position:absolute;top:8880.81px;left:8315.98px;
}
.s_page64-65_224
{
position:absolute;top:8880.81px;left:8595.81px;
}
.s_page64-65_225
{
position:absolute;top:8880.81px;left:9015.08px;
}
.s_page64-65_226
{
position:absolute;top:9240.81px;left:639.94px;letter-spacing:-0.16px;
}
.s_page64-65_227
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page64-65_228
{
position:absolute;top:-12.32px;left:0px;
}
.s_page64-65_229
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page64-65_230
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page64-65_231
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.99px;
}
.s_page64-65_232
{
position:absolute;top:-18px;left:970.31px;letter-spacing:-0.16px;
}
.s_page64-65_233
{
position:absolute;top:-18px;left:2051.98px;letter-spacing:-1.62px;
}
.s_page64-65_234
{
position:absolute;top:-18px;left:2471.49px;
}
.s_page64-65_235
{
position:absolute;top:342px;left:0px;letter-spacing:-2.24px;
}
.s_page64-65_236
{
position:absolute;top:342px;left:664.55px;
}
.s_page64-65_237
{
position:absolute;top:342px;left:1183.42px;letter-spacing:-1.87px;
}
.s_page64-65_238
{
position:absolute;top:342px;left:1728.93px;
}
.s_page64-65_239
{
position:absolute;top:342px;left:2196.69px;
}
.s_page64-65_240
{
position:absolute;top:342px;left:2615.96px;letter-spacing:-0.99px;
}
.s_page64-65_241
{
position:absolute;top:702px;left:0px;letter-spacing:-0.16px;
}
.s_page64-65_242
{
position:absolute;top:702px;left:1081.67px;letter-spacing:-1.62px;
}
.s_page64-65_243
{
position:absolute;top:702px;left:1501.18px;
}
.s_page64-65_244
{
position:absolute;top:702px;left:2024.61px;letter-spacing:-0.72px;
}
.s_page64-65_245
{
position:absolute;top:702px;left:2500.05px;letter-spacing:-0.88px;
}
.s_page64-65_246
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.92px;
}
.s_page64-65_247
{
position:absolute;top:1062px;left:591.83px;letter-spacing:-3px;
}
.s_page64-65_248
{
position:absolute;top:1062px;left:783.34px;
}
.s_page64-65_249
{
position:absolute;top:1062px;left:1302.22px;letter-spacing:-2.68px;
}
.s_page64-65_250
{
position:absolute;top:-11.04px;left:106.57px;
}
.s_page64-65_251
{
position:absolute;top:-5.54px;left:119.62px;
}
.s_page64-65_252
{
position:absolute;top:-18px;left:8.16px;letter-spacing:-0.21px;
}
.s_page64-65_253
{
position:absolute;top:-18px;left:1442.85px;
}
.s_page64-65_254
{
position:absolute;top:-18px;left:2071.4px;
}
.s_page64-65_255
{
position:absolute;top:342px;left:269.03px;
}
.s_page64-65_256
{
position:absolute;top:342px;left:678.94px;letter-spacing:-0.26px;
}
.s_page64-65_257
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.66px;
}
.s_page64-65_258
{
position:absolute;top:-18px;left:544.32px;letter-spacing:-1.28px;
}
.s_page64-65_259
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.64px;
}
.s_page64-65_260
{
position:absolute;top:-18px;left:885.11px;letter-spacing:-1.28px;
}
.s_page64-65_261
{
position:absolute;top:143.31px;left:1155.8px;
}
.s_page64-65_262
{
position:absolute;top:143.31px;left:3926.41px;letter-spacing:-1.3px;
}
.s_page64-65_263
{
position:absolute;top:143.31px;left:5872.07px;letter-spacing:-1.01px;
}
.s_page64-65_264
{
position:absolute;top:631.54px;left:270.08px;letter-spacing:-1.52px;
}
.s_page64-65_265
{
position:absolute;top:631.54px;left:1374.79px;letter-spacing:-0.67px;
}
.s_page64-65_266
{
position:absolute;top:631.54px;left:3258.54px;letter-spacing:-2.36px;
}
.s_page64-65_267
{
position:absolute;top:631.54px;left:3961.26px;letter-spacing:-1.53px;
}
.s_page64-65_268
{
position:absolute;top:631.54px;left:4752.54px;letter-spacing:-2.21px;
}
.s_page64-65_269
{
position:absolute;top:631.54px;left:5848.5px;letter-spacing:-0.36px;
}
.s_page64-65_270
{
position:absolute;top:1141.77px;left:270.08px;letter-spacing:-0.57px;
}
.s_page64-65_271
{
position:absolute;top:1141.77px;left:1626.3px;letter-spacing:-1px;
}
.s_page64-65_272
{
position:absolute;top:1141.77px;left:3258.54px;letter-spacing:-2.36px;
}
.s_page64-65_273
{
position:absolute;top:1141.77px;left:3967.5px;
}
.s_page64-65_274
{
position:absolute;top:1141.77px;left:4521.17px;letter-spacing:-0.54px;
}
.s_page64-65_275
{
position:absolute;top:1141.77px;left:5848.5px;letter-spacing:-0.36px;
}
.s_page64-65_276
{
position:absolute;top:1630px;left:270.08px;letter-spacing:-1px;
}
.s_page64-65_277
{
position:absolute;top:1630px;left:1035.19px;letter-spacing:-0.53px;
}
.s_page64-65_278
{
position:absolute;top:1630px;left:3258.54px;letter-spacing:-2.67px;
}
.s_page64-65_279
{
position:absolute;top:1630px;left:4308.3px;letter-spacing:-0.72px;
}
.s_page64-65_280
{
position:absolute;top:1630px;left:4862.45px;letter-spacing:-0.48px;
}
.s_page64-65_281
{
position:absolute;top:1630px;left:5848.5px;letter-spacing:-1.6px;
}
.s_page64-65_282
{
position:absolute;top:2118.23px;left:270.08px;letter-spacing:-2.08px;
}
.s_page64-65_283
{
position:absolute;top:2118.23px;left:966.31px;
}
.s_page64-65_284
{
position:absolute;top:2118.23px;left:1628.94px;letter-spacing:-0.29px;
}
.s_page64-65_285
{
position:absolute;top:2118.23px;left:3258.54px;letter-spacing:-2.36px;
}
.s_page64-65_286
{
position:absolute;top:2118.23px;left:3967.5px;
}
.s_page64-65_287
{
position:absolute;top:2118.23px;left:4521.17px;letter-spacing:-0.54px;
}
.s_page64-65_288
{
position:absolute;top:2118.23px;left:5848.5px;letter-spacing:-1.76px;
}
.s_page64-65_289
{
position:absolute;top:-18px;left:0px;
}
.s_page64-65_290
{
position:absolute;top:-18px;left:895.43px;letter-spacing:-0.6px;
}
.s_page64-65_291
{
position:absolute;top:-18px;left:2284.77px;letter-spacing:-7.84px;
}
.s_page64-65_292
{
position:absolute;top:-18px;left:2626.77px;
}
.s_page64-65_293
{
position:absolute;top:-18px;left:3113.72px;letter-spacing:-3.36px;
}
.s_page64-65_294
{
position:absolute;top:-23.96px;left:1574.93px;letter-spacing:-9.11px;
}
.s_page64-65_295
{
position:absolute;top:-23.96px;left:2171.4px;
}
.s_page64-65_296
{
position:absolute;top:-23.96px;left:2431.13px;
}
.s_page64-65_297
{
position:absolute;top:-23.96px;left:3677.43px;letter-spacing:-0.89px;
}
.s_page64-65_298
{
position:absolute;top:-21px;left:0px;letter-spacing:-0.61px;
}
.s_page64-65_299
{
position:absolute;top:-21px;left:1550.9px;
}
.s_page64-65_300
{
position:absolute;top:-21px;left:2533.97px;
}
.s_page64-65_301
{
position:absolute;top:-21px;left:2812.01px;
}
.s_page64-65_302
{
position:absolute;top:-21px;left:3204px;letter-spacing:-0.1px;
}
.s_page64-65_303
{
position:absolute;top:-21px;left:4980.58px;
}
.s_page64-65_304
{
position:absolute;top:-21px;left:5900.37px;letter-spacing:-1.54px;
}
.s_page64-65_305
{
position:absolute;top:-21px;left:6708.17px;
}
.s_page64-65_306
{
position:absolute;top:-21px;left:7339px;letter-spacing:-2.24px;
}
.s_page64-65_307
{
position:absolute;top:-21px;left:7793.16px;letter-spacing:-0.16px;
}
.s_page64-65_308
{
position:absolute;top:-21px;left:8942.27px;
}
.s_page64-65_309
{
position:absolute;top:379px;left:0px;
}
.s_page64-65_310
{
position:absolute;top:132px;left:308.86px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_311
{
position:absolute;top:132px;left:712.64px;letter-spacing:-0.48px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_312
{
position:absolute;top:132px;left:2084.27px;letter-spacing:-4.24px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_313
{
position:absolute;top:492px;left:144px;letter-spacing:-0.33px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_314
{
position:absolute;top:492px;left:1219.7px;letter-spacing:-0.11px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_315
{
position:absolute;top:852px;left:144px;letter-spacing:-1.3px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_316
{
position:absolute;top:852px;left:699.4px;letter-spacing:-3px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_317
{
position:absolute;top:852px;left:881.34px;letter-spacing:-1.05px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_318
{
position:absolute;top:1212px;left:144px;letter-spacing:-1.2px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_319
{
position:absolute;top:1572px;left:144px;letter-spacing:-0.6px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_320
{
position:absolute;top:1572px;left:1192.55px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_321
{
position:absolute;top:1572px;left:1668.15px;letter-spacing:-0.72px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_322
{
position:absolute;top:1932px;left:144px;letter-spacing:-0.92px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_323
{
position:absolute;top:1932px;left:677.28px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_324
{
position:absolute;top:1932px;left:1150.14px;letter-spacing:-0.29px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_325
{
position:absolute;top:1932px;left:1691.63px;letter-spacing:-0.65px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_326
{
position:absolute;top:2292px;left:144px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_327
{
position:absolute;top:2292px;left:1111.16px;letter-spacing:-1.18px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_328
{
position:absolute;top:2652px;left:144px;letter-spacing:-0.32px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_329
{
position:absolute;top:2652px;left:1398.66px;letter-spacing:-0.96px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_330
{
position:absolute;top:2652px;left:2331.39px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_331
{
position:absolute;top:3012px;left:144px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_332
{
position:absolute;top:3372px;left:144px;letter-spacing:-1.65px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_333
{
position:absolute;top:3732px;left:144px;letter-spacing:-0.44px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_334
{
position:absolute;top:3732px;left:843.5px;letter-spacing:-1.87px;transform-origin: 0% 201.60px;-webkit-transform-origin: 0% 201.60px;-moz-transform-origin: 0% 201.60px;-ms-transform-origin: 0% 201.60px;-o-transform-origin: 0% 201.60px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page64-65_335
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.42px;
}
.s_page64-65_336
{
position:absolute;top:-18px;left:821.04px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_337
{
position:absolute;top:-18px;left:1318.78px;letter-spacing:-0.26px;
}
.s_page64-65_338
{
position:absolute;top:-18px;left:2589.09px;
}
.s_page64-65_339
{
position:absolute;top:-18px;left:3412.52px;letter-spacing:-0.66px;
}
.s_page64-65_340
{
position:absolute;top:-18px;left:3918.67px;
}
.s_page64-65_341
{
position:absolute;top:-18px;left:4446.19px;
}
.s_page64-65_342
{
position:absolute;top:-18px;left:4701.54px;letter-spacing:-0.68px;
}
.s_page64-65_343
{
position:absolute;top:-18px;left:5451.05px;letter-spacing:-1.75px;
}
.s_page64-65_344
{
position:absolute;top:-18px;left:6030.64px;
}
.s_page64-65_345
{
position:absolute;top:-18px;left:6285.99px;letter-spacing:-1.24px;
}
.s_page64-65_346
{
position:absolute;top:-18px;left:6879.74px;letter-spacing:-0.64px;
}
.s_page64-65_347
{
position:absolute;top:342px;left:360px;letter-spacing:-1.17px;
}
.s_page64-65_348
{
position:absolute;top:342px;left:1354.3px;
}
.s_page64-65_349
{
position:absolute;top:342px;left:1850.13px;
}
.s_page64-65_350
{
position:absolute;top:342px;left:2789.23px;letter-spacing:-1.3px;
}
.s_page64-65_351
{
position:absolute;top:342px;left:3373.86px;
}
.s_page64-65_352
{
position:absolute;top:342px;left:3691.38px;letter-spacing:-0.41px;
}
.s_page64-65_353
{
position:absolute;top:758.69px;left:360px;letter-spacing:-1.13px;
}
.s_page64-65_354
{
position:absolute;top:758.69px;left:1280.63px;letter-spacing:-0.66px;
}
.s_page64-65_355
{
position:absolute;top:758.69px;left:1782.71px;
}
.s_page64-65_356
{
position:absolute;top:758.69px;left:2201.98px;
}
.s_page64-65_357
{
position:absolute;top:758.69px;left:2742.93px;letter-spacing:-2.48px;
}
.s_page64-65_358
{
position:absolute;top:758.69px;left:3019.41px;
}
.s_page64-65_359
{
position:absolute;top:758.69px;left:3435.32px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_360
{
position:absolute;top:758.69px;left:3933.07px;letter-spacing:-0.99px;
}
.s_page64-65_361
{
position:absolute;top:758.69px;left:4713.29px;letter-spacing:-0.26px;
}
.s_page64-65_362
{
position:absolute;top:758.69px;left:5983.59px;
}
.s_page64-65_363
{
position:absolute;top:758.69px;left:6811.59px;
}
.s_page64-65_364
{
position:absolute;top:1118.69px;left:360px;letter-spacing:-1.73px;
}
.s_page64-65_365
{
position:absolute;top:1535.38px;left:360px;letter-spacing:-0.43px;
}
.s_page64-65_366
{
position:absolute;top:1535.38px;left:873.59px;letter-spacing:-1.68px;
}
.s_page64-65_367
{
position:absolute;top:1535.38px;left:1287.83px;
}
.s_page64-65_368
{
position:absolute;top:1535.38px;left:1707.1px;letter-spacing:-0.18px;
}
.s_page64-65_369
{
position:absolute;top:1535.38px;left:2672.13px;
}
.s_page64-65_370
{
position:absolute;top:1535.38px;left:3558.92px;letter-spacing:-0.43px;
}
.s_page64-65_371
{
position:absolute;top:1535.38px;left:4119.79px;letter-spacing:-0.26px;
}
.s_page64-65_372
{
position:absolute;top:1535.38px;left:5390.09px;
}
.s_page64-65_373
{
position:absolute;top:1535.38px;left:6218.08px;letter-spacing:-1.62px;
}
.s_page64-65_374
{
position:absolute;top:1535.38px;left:6637.6px;
}
.s_page64-65_375
{
position:absolute;top:1895.38px;left:360px;
}
.s_page64-65_376
{
position:absolute;top:1895.38px;left:887.51px;
}
.s_page64-65_377
{
position:absolute;top:1895.38px;left:1171.42px;
}
.s_page64-65_378
{
position:absolute;top:1895.38px;left:1503.82px;letter-spacing:-0.56px;
}
.s_page64-65_379
{
position:absolute;top:1895.38px;left:2379.08px;letter-spacing:-2.48px;
}
.s_page64-65_380
{
position:absolute;top:1895.38px;left:2656.28px;letter-spacing:-1.92px;
}
.s_page64-65_381
{
position:absolute;top:1895.38px;left:3160.03px;letter-spacing:-0.88px;
}
.s_page64-65_382
{
position:absolute;top:2312.08px;left:360px;letter-spacing:-0.79px;
}
.s_page64-65_383
{
position:absolute;top:2312.08px;left:1149.35px;
}
.s_page64-65_384
{
position:absolute;top:2312.08px;left:1703.02px;letter-spacing:-0.72px;
}
.s_page64-65_385
{
position:absolute;top:2312.08px;left:2737.88px;
}
.s_page64-65_386
{
position:absolute;top:2312.08px;left:3680.34px;letter-spacing:-3.12px;
}
.s_page64-65_387
{
position:absolute;top:2312.08px;left:4003.86px;
}
.s_page64-65_388
{
position:absolute;top:2312.08px;left:4527.29px;letter-spacing:-0.62px;
}
.s_page64-65_389
{
position:absolute;top:2312.08px;left:5331.04px;
}
.s_page64-65_390
{
position:absolute;top:2312.08px;left:5802.87px;letter-spacing:-1.53px;
}
.s_page64-65_391
{
position:absolute;top:2312.08px;left:6689.18px;letter-spacing:-0.82px;
}
.s_page64-65_392
{
position:absolute;top:2672.08px;left:360px;
}
.s_page64-65_393
{
position:absolute;top:2672.08px;left:1000.78px;
}
.s_page64-65_394
{
position:absolute;top:2672.08px;left:1943px;letter-spacing:-1.62px;
}
.s_page64-65_395
{
position:absolute;top:2672.08px;left:2362.27px;letter-spacing:-0.81px;
}
.s_page64-65_396
{
position:absolute;top:2672.08px;left:3336.66px;letter-spacing:-2.4px;
}
.s_page64-65_397
{
position:absolute;top:2672.08px;left:3710.57px;
}
.s_page64-65_398
{
position:absolute;top:2672.08px;left:4297.36px;
}
.s_page64-65_399
{
position:absolute;top:2672.08px;left:5267.18px;letter-spacing:-1.52px;
}
.s_page64-65_400
{
position:absolute;top:2672.08px;left:5932.44px;letter-spacing:-3.12px;
}
.s_page64-65_401
{
position:absolute;top:2672.08px;left:6251.64px;
}
.s_page64-65_402
{
position:absolute;top:2672.08px;left:6982.66px;letter-spacing:-0.29px;
}
.s_page64-65_403
{
position:absolute;top:3032.08px;left:360px;letter-spacing:-0.84px;
}
.s_page64-65_404
{
position:absolute;top:3032.08px;left:1284.95px;
}
.s_page64-65_405
{
position:absolute;top:3032.08px;left:1704.22px;letter-spacing:-1.28px;
}
.s_page64-65_406
{
position:absolute;top:3032.08px;left:2260.29px;letter-spacing:-2.48px;
}
.s_page64-65_407
{
position:absolute;top:3032.08px;left:2540.85px;letter-spacing:-0.13px;
}
.s_page64-65_408
{
position:absolute;top:3448.77px;left:360px;letter-spacing:-5.64px;
}
.s_page64-65_409
{
position:absolute;top:3448.77px;left:868.32px;letter-spacing:-0.66px;
}
.s_page64-65_410
{
position:absolute;top:3448.77px;left:1393.19px;letter-spacing:-0.28px;
}
.s_page64-65_411
{
position:absolute;top:3448.77px;left:3345.8px;
}
.s_page64-65_412
{
position:absolute;top:3448.77px;left:3813.56px;
}
.s_page64-65_413
{
position:absolute;top:3448.77px;left:4228.75px;
}
.s_page64-65_414
{
position:absolute;top:3448.77px;left:5266.97px;letter-spacing:-1.87px;
}
.s_page64-65_415
{
position:absolute;top:3448.77px;left:5878.72px;
}
.s_page64-65_416
{
position:absolute;top:3448.77px;left:6858.15px;
}
.s_page64-65_417
{
position:absolute;top:3448.77px;left:7109.42px;
}
.s_page64-65_418
{
position:absolute;top:3448.77px;left:7528.69px;
}
.s_page64-65_419
{
position:absolute;top:3448.77px;left:8059.32px;letter-spacing:-0.99px;
}
.s_page64-65_420
{
position:absolute;top:3808.77px;left:360px;letter-spacing:-0.24px;
}
.s_page64-65_421
{
position:absolute;top:3808.77px;left:1743.58px;letter-spacing:-2.4px;
}
.s_page64-65_422
{
position:absolute;top:3808.77px;left:2113.65px;
}
.s_page64-65_423
{
position:absolute;top:3808.77px;left:2529.57px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page64-65_424
{
position:absolute;top:3808.77px;left:3023.23px;
}
.s_page64-65_425
{
position:absolute;top:4225.46px;left:360px;letter-spacing:-0.4px;
}
.s_page64-65_426
{
position:absolute;top:4225.46px;left:1012.31px;
}
.s_page64-65_427
{
position:absolute;top:4225.46px;left:1951.41px;letter-spacing:-1.3px;
}
.s_page64-65_428
{
position:absolute;top:4225.46px;left:2536.04px;
}
.s_page64-65_429
{
position:absolute;top:4225.46px;left:2944.27px;letter-spacing:-0.41px;
}
.s_page64-65_430
{
position:absolute;top:4225.46px;left:4022.09px;letter-spacing:-0.29px;
}
.s_page64-65_431
{
position:absolute;top:4225.46px;left:5182.24px;
}
.s_page64-65_432
{
position:absolute;top:4225.46px;left:5433.52px;
}
.s_page64-65_433
{
position:absolute;top:4225.46px;left:5852.79px;
}
.s_page64-65_434
{
position:absolute;top:4225.46px;left:6262.7px;letter-spacing:-0.24px;
}
.s_page64-65_435
{
position:absolute;top:4225.46px;left:7649.64px;letter-spacing:-0.77px;
}
.s_page64-65_436
{
position:absolute;top:4642.16px;left:360px;letter-spacing:-1.46px;
}
.s_page64-65_437
{
position:absolute;top:4642.16px;left:1339.18px;letter-spacing:-0.48px;
}
.s_page64-65_438
{
position:absolute;top:4642.16px;left:2428.76px;letter-spacing:-1.58px;
}
.s_page64-65_439
{
position:absolute;top:4642.16px;left:3013.16px;letter-spacing:-0.72px;
}
.s_page64-65_440
{
position:absolute;top:4642.16px;left:3538.75px;
}
.s_page64-65_441
{
position:absolute;top:4642.16px;left:3958.02px;letter-spacing:-1.76px;
}
.s_page64-65_442
{
position:absolute;top:4642.16px;left:4656.18px;
}
.s_page64-65_443
{
position:absolute;top:4642.16px;left:5413.84px;letter-spacing:-0.44px;
}
.s_page64-65_444
{
position:absolute;top:4642.16px;left:6025.11px;
}
.s_page64-65_445
{
position:absolute;top:4642.16px;left:6357.99px;
}
.s_page64-65_446
{
position:absolute;top:4642.16px;left:6757.34px;
}
.s_page64-65_447
{
position:absolute;top:4642.16px;left:6964.22px;
}
.s_page64-65_448
{
position:absolute;top:4642.16px;left:7219.57px;
}
.s_page64-65_449
{
position:absolute;top:4642.16px;left:7701.96px;
}
.s_page64-65_450
{
position:absolute;top:4642.16px;left:8244.83px;
}
.s_page64-65_451
{
position:absolute;top:4642.16px;left:8794.42px;
}
.s_page64-65_452
{
position:absolute;top:5002.16px;left:360px;letter-spacing:-0.79px;
}
.s_page64-65_453
{
position:absolute;top:5002.16px;left:1167.83px;letter-spacing:-2.48px;
}
.s_page64-65_454
{
position:absolute;top:5002.16px;left:1448.39px;
}
.s_page64-65_455
{
position:absolute;top:5002.16px;left:1858.3px;letter-spacing:-0.16px;
}
.s_page64-65_456
{
position:absolute;top:5002.16px;left:2939.96px;letter-spacing:-0.77px;
}
.s_page64-65_457
{
position:absolute;top:-15px;left:0px;letter-spacing:-1.33px;
}
.s_page64-65_458
{
position:absolute;top:-15px;left:49.6px;
}
.s_page64-65_459
{
position:absolute;top:-15px;left:56.9px;
}
.s_page64-65_460
{
position:absolute;top:-15px;left:26.4px;letter-spacing:1.4px;
}
.s_page64-65_461
{
position:absolute;top:-15px;left:20.4px;
}
.s_page64-65_462
{
position:absolute;top:-15px;left:28.52px;
}
.s_page64-65_463
{
position:absolute;top:-15px;left:38.92px;
}
.s_page64-65_464
{
position:absolute;top:-15px;left:56.5px;
}
.s_page64-65_465
{
position:absolute;top:-15px;left:0px;
}

#text1{
	position: absolute;
	top: 585px;
	left: 67px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 585px;
	left: 186px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 585px;
	left: 305px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 585px;
	left: 428px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 606px;
	left: 64px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 606px;
	left: 186px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 606px;
	left: 304px;
	cursor:pointer;
}
#text8{
	position:absolute;
	top: 606px;
	left: 428px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 119px;
	left: 86px;
	width: 132px;
}
#box2{
	position:absolute;
	top: 154px;
	left: 306px;
	width: 132px;
}
#box3{
	position:absolute;
	top: 225px;
	left: 238px;
	width: 132px;
}
#box4{
	position:absolute;
	top: 260px;
	left: 87px;
	width: 132px;
}
#box5{
	position:absolute;
	top: 313px;
	left: 183px;
	width: 132px;
}
#box6{
	position:absolute;
	top: 384px;
	left: 85px;
	width: 134px;
}
#box7{
	position:absolute;
	top: 437px;
	left: 163px;
	width: 133px;
}
#box8{
	position:absolute;
	top: 490px;
	left: 195px;
	width: 132px;
}
.p64_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page64_btn1 {
	position:absolute;
	top: 803px;
	left: 277px;
}

.position_64 {
	position: absolute;
	top: 66px;
	left: 414px;
}
