.d_page72_1
{position:absolute;overflow:hidden;left: 297.36px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px;}
.d_page72_2
{
width:9594.5px;height:13659.52px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page72_3
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.s_page72_4
{
position:absolute;top:-21px;left:0px;letter-spacing:-31.36px;
}
.s_page72_5
{
position:absolute;top:-21px;left:136.64px;
}
.s_page72_6
{
position:absolute;top:-21px;left:615.43px;letter-spacing:-1.87px;
}
.s_page72_7
{
position:absolute;top:-21px;left:1459.9px;
}
.s_page72_8
{
position:absolute;top:12.6px;left:1628.46px;
}
.s_page72_9
{
position:absolute;top:12.6px;left:7936.37px;letter-spacing:-4.92px;
}
.s_page72_10
{
position:absolute;top:12.6px;left:8516.92px;letter-spacing:-0.38px;
}
.s_page72_11
{
position:absolute;top:12.6px;left:9318.03px;
}
.s_page72_12
{
position:absolute;top:480.6px;left:0px;
}
.s_page72_13
{
position:absolute;top:480.6px;left:212px;
}
.s_page72_14
{
position:absolute;top:480.6px;left:639.94px;letter-spacing:-0.91px;
}
.s_page72_15
{
position:absolute;top:480.6px;left:1574.49px;
}
.s_page72_16
{
position:absolute;top:480.6px;left:2005.28px;letter-spacing:-0.35px;
}
.s_page72_17
{
position:absolute;top:480.6px;left:2987.11px;
}
.s_page72_18
{
position:absolute;top:480.6px;left:3467.35px;
}
.s_page72_19
{
position:absolute;top:480.6px;left:4123.26px;
}
.s_page72_20
{
position:absolute;top:480.6px;left:4554.06px;
}
.s_page72_21
{
position:absolute;top:480.6px;left:5362.13px;
}
.s_page72_22
{
position:absolute;top:480.6px;left:5619.88px;
}
.s_page72_23
{
position:absolute;top:480.6px;left:6050.68px;
}
.s_page72_24
{
position:absolute;top:480.6px;left:6768.27px;letter-spacing:-0.31px;
}
.s_page72_25
{
position:absolute;top:480.6px;left:8675.56px;
}
.s_page72_26
{
position:absolute;top:2407.53px;left:0px;
}
.s_page72_27
{
position:absolute;top:2407.53px;left:587.49px;letter-spacing:-1.04px;
}
.s_page72_28
{
position:absolute;top:2407.53px;left:761.49px;
}
.s_page72_29
{
position:absolute;top:2407.53px;left:2393.87px;
}
.s_page72_30
{
position:absolute;top:2407.53px;left:2637.95px;
}
.s_page72_31
{
position:absolute;top:2407.53px;left:4205.05px;letter-spacing:-1.28px;
}
.s_page72_32
{
position:absolute;top:2407.53px;left:4452.73px;
}
.s_page72_33
{
position:absolute;top:2407.53px;left:6019.83px;letter-spacing:-0.8px;
}
.s_page72_34
{
position:absolute;top:2407.53px;left:6263.43px;
}
.s_page72_35
{
position:absolute;top:2407.53px;left:7830.53px;letter-spacing:-1.28px;
}
.s_page72_36
{
position:absolute;top:2407.53px;left:8071.73px;
}
.s_page72_37
{
position:absolute;top:2917.61px;left:0px;
}
.s_page72_38
{
position:absolute;top:2917.61px;left:221.84px;
}
.s_page72_39
{
position:absolute;top:2917.61px;left:639.94px;
}
.s_page72_40
{
position:absolute;top:2917.61px;left:1170.09px;letter-spacing:-1.2px;
}
.s_page72_41
{
position:absolute;top:2917.61px;left:1815.45px;
}
.s_page72_42
{
position:absolute;top:2917.61px;left:2074.17px;letter-spacing:0px;
}
.s_page72_43
{
position:absolute;top:2917.61px;left:2667.2px;letter-spacing:-0.12px;
}
.s_page72_44
{
position:absolute;top:2917.61px;left:3902.47px;
}
.s_page72_45
{
position:absolute;top:2917.61px;left:4140.78px;letter-spacing:-0.28px;
}
.s_page72_46
{
position:absolute;top:2917.61px;left:5284.61px;letter-spacing:-0.22px;
}
.s_page72_47
{
position:absolute;top:2917.61px;left:6445.25px;
}
.s_page72_48
{
position:absolute;top:2917.61px;left:6876.04px;letter-spacing:-0.31px;
}
.s_page72_49
{
position:absolute;top:3257.61px;left:639.94px;letter-spacing:-1px;
}
.s_page72_50
{
position:absolute;top:3257.61px;left:1348.41px;
}
.s_page72_51
{
position:absolute;top:3257.61px;left:1828.65px;
}
.s_page72_52
{
position:absolute;top:3257.61px;left:2484.56px;
}
.s_page72_53
{
position:absolute;top:3257.61px;left:2915.35px;letter-spacing:-0.39px;
}
.s_page72_54
{
position:absolute;top:3257.61px;left:3793.99px;letter-spacing:-0.12px;
}
.s_page72_55
{
position:absolute;top:3257.61px;left:5029.26px;
}
.s_page72_56
{
position:absolute;top:3257.61px;left:5287.02px;
}
.s_page72_57
{
position:absolute;top:3257.61px;left:5717.81px;
}
.s_page72_58
{
position:absolute;top:3257.61px;left:6435.4px;letter-spacing:-0.31px;
}
.s_page72_59
{
position:absolute;top:3257.61px;left:8675.56px;
}
.s_page72_60
{
position:absolute;top:3597.61px;left:0px;
}
.s_page72_61
{
position:absolute;top:3597.61px;left:791.28px;letter-spacing:-1.04px;
}
.s_page72_62
{
position:absolute;top:3597.61px;left:1160px;letter-spacing:-0.42px;
}
.s_page72_63
{
position:absolute;top:3597.61px;left:1621.04px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page72_64
{
position:absolute;top:3597.61px;left:2118.78px;
}
.s_page72_65
{
position:absolute;top:3597.61px;left:3031.97px;letter-spacing:-0.18px;
}
.s_page72_66
{
position:absolute;top:3597.61px;left:3997px;
}
.s_page72_67
{
position:absolute;top:3597.61px;left:4820.43px;letter-spacing:-1.87px;
}
.s_page72_68
{
position:absolute;top:3597.61px;left:5432.18px;
}
.s_page72_69
{
position:absolute;top:3597.61px;left:5959.7px;
}
.s_page72_70
{
position:absolute;top:3597.61px;left:6207.85px;letter-spacing:-1.1px;
}
.s_page72_71
{
position:absolute;top:3597.61px;left:7020.48px;
}
.s_page72_72
{
position:absolute;top:3597.61px;left:7275.83px;letter-spacing:-0.77px;
}
.s_page72_73
{
position:absolute;top:3937.61px;left:0px;
}
.s_page72_74
{
position:absolute;top:3937.61px;left:1160px;
}
.s_page72_75
{
position:absolute;top:4277.61px;left:0px;
}
.s_page72_76
{
position:absolute;top:4277.61px;left:721.2px;
}
.s_page72_77
{
position:absolute;top:4277.61px;left:1160px;letter-spacing:-0.48px;
}
.s_page72_78
{
position:absolute;top:4277.61px;left:1425.97px;letter-spacing:-1.68px;
}
.s_page72_79
{
position:absolute;top:4277.61px;left:2238.66px;letter-spacing:0px;
}
.s_page72_80
{
position:absolute;top:4277.61px;left:3009.35px;
}
.s_page72_81
{
position:absolute;top:4277.61px;left:4228.6px;letter-spacing:-0.24px;
}
.s_page72_82
{
position:absolute;top:4277.61px;left:4758.81px;letter-spacing:-0.96px;
}
.s_page72_83
{
position:absolute;top:4277.61px;left:5128.7px;letter-spacing:-0.88px;
}
.s_page72_84
{
position:absolute;top:4277.61px;left:5784.67px;
}
.s_page72_85
{
position:absolute;top:4277.61px;left:6021.13px;letter-spacing:-3px;
}
.s_page72_86
{
position:absolute;top:4277.61px;left:6208.63px;
}
.s_page72_87
{
position:absolute;top:4277.61px;left:7087.55px;letter-spacing:-0.36px;
}
.s_page72_88
{
position:absolute;top:4277.61px;left:7781.21px;letter-spacing:-3.12px;
}
.s_page72_89
{
position:absolute;top:4277.61px;left:8104.06px;letter-spacing:-0.21px;
}
.s_page72_90
{
position:absolute;top:4277.61px;left:8940.75px;
}
.s_page72_91
{
position:absolute;top:4617.61px;left:0px;
}
.s_page72_92
{
position:absolute;top:4617.61px;left:1160px;
}
.s_page72_93
{
position:absolute;top:4957.61px;left:0px;
}
.s_page72_94
{
position:absolute;top:4957.61px;left:717.6px;letter-spacing:-1.28px;
}
.s_page72_95
{
position:absolute;top:4957.61px;left:1160px;letter-spacing:-0.42px;
}
.s_page72_96
{
position:absolute;top:4957.61px;left:1624.4px;letter-spacing:-0.29px;
}
.s_page72_97
{
position:absolute;top:4957.61px;left:2116.15px;
}
.s_page72_98
{
position:absolute;top:4957.61px;left:2378.94px;
}
.s_page72_99
{
position:absolute;top:4957.61px;left:2960.45px;
}
.s_page72_100
{
position:absolute;top:4957.61px;left:3409.48px;letter-spacing:-0.72px;
}
.s_page72_101
{
position:absolute;top:4957.61px;left:4511.78px;
}
.s_page72_102
{
position:absolute;top:4957.61px;left:4767.14px;letter-spacing:-1.3px;
}
.s_page72_103
{
position:absolute;top:4957.61px;left:5395.45px;
}
.s_page72_104
{
position:absolute;top:4957.61px;left:5949.12px;
}
.s_page72_105
{
position:absolute;top:4957.61px;left:6409.91px;text-rendering:optimizeLegibility;
}
.s_page72_106
{
position:absolute;top:5297.61px;left:0px;
}
.s_page72_107
{
position:absolute;top:5297.61px;left:1160px;
}
.s_page72_108
{
position:absolute;top:5637.61px;left:0px;
}
.s_page72_109
{
position:absolute;top:5637.61px;left:721.68px;letter-spacing:-0.8px;
}
.s_page72_110
{
position:absolute;top:5637.61px;left:1160px;letter-spacing:-3.6px;
}
.s_page72_111
{
position:absolute;top:5637.61px;left:1367.59px;
}
.s_page72_112
{
position:absolute;top:5637.61px;left:2361.18px;
}
.s_page72_113
{
position:absolute;top:5637.61px;left:2598.29px;letter-spacing:-3px;
}
.s_page72_114
{
position:absolute;top:5637.61px;left:2789.81px;
}
.s_page72_115
{
position:absolute;top:5637.61px;left:3613.24px;
}
.s_page72_116
{
position:absolute;top:5637.61px;left:4391.07px;
}
.s_page72_117
{
position:absolute;top:5637.61px;left:4927.46px;
}
.s_page72_118
{
position:absolute;top:5637.61px;left:5455.45px;
}
.s_page72_119
{
position:absolute;top:5637.61px;left:6094.08px;
}
.s_page72_120
{
position:absolute;top:5637.61px;left:6565.91px;letter-spacing:-3px;
}
.s_page72_121
{
position:absolute;top:5637.61px;left:6757.43px;
}
.s_page72_122
{
position:absolute;top:5977.61px;left:0px;
}
.s_page72_123
{
position:absolute;top:5977.61px;left:1160px;
}
.s_page72_124
{
position:absolute;top:6317.61px;left:0px;
}
.s_page72_125
{
position:absolute;top:6317.61px;left:724.08px;letter-spacing:-1.28px;
}
.s_page72_126
{
position:absolute;top:6317.61px;left:1160px;letter-spacing:-2.04px;
}
.s_page72_127
{
position:absolute;top:6317.61px;left:1753.49px;
}
.s_page72_128
{
position:absolute;top:6317.61px;left:2602.11px;
}
.s_page72_129
{
position:absolute;top:6317.61px;left:3012.49px;letter-spacing:-0.99px;
}
.s_page72_130
{
position:absolute;top:6317.61px;left:3973.91px;letter-spacing:-0.16px;
}
.s_page72_131
{
position:absolute;top:6317.61px;left:5046.68px;
}
.s_page72_132
{
position:absolute;top:6317.61px;left:5293.14px;letter-spacing:-0.56px;
}
.s_page72_133
{
position:absolute;top:6317.61px;left:5925.28px;
}
.s_page72_134
{
position:absolute;top:6317.61px;left:6698.06px;
}
.s_page72_135
{
position:absolute;top:6317.61px;left:7114.68px;letter-spacing:-0.38px;
}
.s_page72_136
{
position:absolute;top:6317.61px;left:8035.54px;
}
.s_page72_137
{
position:absolute;top:6317.61px;left:8442.56px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page72_138
{
position:absolute;top:6317.61px;left:8931.41px;letter-spacing:-1.15px;
}
.s_page72_139
{
position:absolute;top:6317.61px;left:9370.35px;
}
.s_page72_140
{
position:absolute;top:6657.61px;left:1160.06px;
}
.s_page72_141
{
position:absolute;top:6657.61px;left:1692.62px;letter-spacing:-0.43px;
}
.s_page72_142
{
position:absolute;top:6657.61px;left:2253.49px;letter-spacing:-0.99px;
}
.s_page72_143
{
position:absolute;top:6657.61px;left:3223.8px;
}
.s_page72_144
{
position:absolute;top:6657.61px;left:3695.63px;letter-spacing:-0.99px;
}
.s_page72_145
{
position:absolute;top:6657.61px;left:4475.86px;letter-spacing:-0.16px;
}
.s_page72_146
{
position:absolute;top:6997.61px;left:0px;
}
.s_page72_147
{
position:absolute;top:6997.61px;left:1160px;
}
.s_page72_148
{
position:absolute;top:7394.3px;left:0px;
}
.s_page72_149
{
position:absolute;top:7394.3px;left:219.93px;
}
.s_page72_150
{
position:absolute;top:7394.3px;left:639.94px;
}
.s_page72_151
{
position:absolute;top:7394.3px;left:1015.05px;
}
.s_page72_152
{
position:absolute;top:7394.3px;left:1272.81px;letter-spacing:0px;
}
.s_page72_153
{
position:absolute;top:7394.3px;left:1703.6px;
}
.s_page72_154
{
position:absolute;top:7394.3px;left:2499.19px;letter-spacing:0px;
}
.s_page72_155
{
position:absolute;top:7394.3px;left:3057.43px;letter-spacing:-0.36px;
}
.s_page72_156
{
position:absolute;top:7394.3px;left:4469.57px;letter-spacing:-0.45px;
}
.s_page72_157
{
position:absolute;top:7394.3px;left:8498.2px;letter-spacing:-0.83px;
}
.s_page72_158
{
position:absolute;top:7790.99px;left:0px;
}
.s_page72_159
{
position:absolute;top:7790.99px;left:791.28px;letter-spacing:-1.04px;
}
.s_page72_160
{
position:absolute;top:7790.99px;left:1160px;letter-spacing:-0.42px;
}
.s_page72_161
{
position:absolute;top:7790.99px;left:1619.84px;letter-spacing:-1.23px;
}
.s_page72_162
{
position:absolute;top:7790.99px;left:2474.22px;letter-spacing:-0.9px;
}
.s_page72_163
{
position:absolute;top:7790.99px;left:3290.21px;letter-spacing:-2.28px;
}
.s_page72_164
{
position:absolute;top:7790.99px;left:3846.75px;letter-spacing:-0.29px;
}
.s_page72_165
{
position:absolute;top:7790.99px;left:5042.18px;letter-spacing:-2.48px;
}
.s_page72_166
{
position:absolute;top:7790.99px;left:5322.74px;
}
.s_page72_167
{
position:absolute;top:7790.99px;left:6136.8px;letter-spacing:-2.48px;
}
.s_page72_168
{
position:absolute;top:7790.99px;left:6413.28px;letter-spacing:-1.68px;
}
.s_page72_169
{
position:absolute;top:7790.99px;left:6875.52px;letter-spacing:-0.72px;
}
.s_page72_170
{
position:absolute;top:7790.99px;left:8069.02px;
}
.s_page72_171
{
position:absolute;top:7790.99px;left:8771.01px;letter-spacing:-0.44px;
}
.s_page72_172
{
position:absolute;top:8130.99px;left:1160.06px;
}
.s_page72_173
{
position:absolute;top:8130.99px;left:2001.01px;
}
.s_page72_174
{
position:absolute;top:8130.99px;left:2238.12px;
}
.s_page72_175
{
position:absolute;top:8130.99px;left:2940.11px;
}
.s_page72_176
{
position:absolute;top:8130.99px;left:5035.66px;
}
.s_page72_177
{
position:absolute;top:8527.69px;left:0px;
}
.s_page72_178
{
position:absolute;top:8527.69px;left:721.2px;
}
.s_page72_179
{
position:absolute;top:8527.69px;left:1160px;
}
.s_page72_180
{
position:absolute;top:8527.69px;left:3311.25px;letter-spacing:-1.83px;
}
.s_page72_181
{
position:absolute;top:8527.69px;left:4058.38px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page72_182
{
position:absolute;top:8527.69px;left:4553.02px;
}
.s_page72_183
{
position:absolute;top:8527.69px;left:5247.34px;letter-spacing:-0.79px;
}
.s_page72_184
{
position:absolute;top:8527.69px;left:5919.59px;
}
.s_page72_185
{
position:absolute;top:8527.69px;left:6653.28px;
}
.s_page72_186
{
position:absolute;top:8527.69px;left:6887.29px;
}
.s_page72_187
{
position:absolute;top:8527.69px;left:7755.13px;
}
.s_page72_188
{
position:absolute;top:8527.69px;left:8007.39px;
}
.s_page72_189
{
position:absolute;top:8527.69px;left:9011.31px;
}
.s_page72_190
{
position:absolute;top:8924.38px;left:0px;
}
.s_page72_191
{
position:absolute;top:8924.38px;left:717.6px;letter-spacing:-1.28px;
}
.s_page72_192
{
position:absolute;top:8924.38px;left:1160px;
}
.s_page72_193
{
position:absolute;top:8924.38px;left:3250.99px;letter-spacing:-0.72px;
}
.s_page72_194
{
position:absolute;top:8924.38px;left:3776.58px;
}
.s_page72_195
{
position:absolute;top:8924.38px;left:4195.86px;letter-spacing:-0.29px;
}
.s_page72_196
{
position:absolute;top:8924.38px;left:4765.85px;
}
.s_page72_197
{
position:absolute;top:8924.38px;left:5498.08px;
}
.s_page72_198
{
position:absolute;top:8924.38px;left:5753.44px;letter-spacing:-2.36px;
}
.s_page72_199
{
position:absolute;top:8924.38px;left:6456.15px;letter-spacing:-1.53px;
}
.s_page72_200
{
position:absolute;top:8924.38px;left:7247.43px;letter-spacing:-1.84px;
}
.s_page72_201
{
position:absolute;top:8924.38px;left:7997.9px;
}
.s_page72_202
{
position:absolute;top:8924.38px;left:8253.25px;
}
.s_page72_203
{
position:absolute;top:9264.38px;left:1160.06px;letter-spacing:-0.24px;
}
.s_page72_204
{
position:absolute;top:9264.38px;left:2547px;letter-spacing:-0.77px;
}
.s_page72_205
{
position:absolute;top:9661.07px;left:0px;
}
.s_page72_206
{
position:absolute;top:9661.07px;left:721.68px;letter-spacing:-0.8px;
}
.s_page72_207
{
position:absolute;top:9661.07px;left:1160px;
}
.s_page72_208
{
position:absolute;top:9661.07px;left:3255.55px;
}
.s_page72_209
{
position:absolute;top:9661.07px;left:3492.66px;letter-spacing:-3px;
}
.s_page72_210
{
position:absolute;top:9661.07px;left:3684.18px;letter-spacing:-1.41px;
}
.s_page72_211
{
position:absolute;top:9661.07px;left:4289.45px;letter-spacing:-0.44px;
}
.s_page72_212
{
position:absolute;top:9661.07px;left:5009.93px;letter-spacing:-1.3px;
}
.s_page72_213
{
position:absolute;top:9661.07px;left:5594.56px;letter-spacing:-0.21px;
}
.s_page72_214
{
position:absolute;top:9661.07px;left:6261.75px;letter-spacing:-0.41px;
}
.s_page72_215
{
position:absolute;top:9661.07px;left:7484.53px;
}
.s_page72_216
{
position:absolute;top:9661.07px;left:7769.88px;
}
.s_page72_217
{
position:absolute;top:9661.07px;left:8189.15px;
}
.s_page72_218
{
position:absolute;top:9661.07px;left:8722.18px;
}
.s_page72_219
{
position:absolute;top:10001.07px;left:1160.06px;letter-spacing:-2.48px;
}
.s_page72_220
{
position:absolute;top:10001.07px;left:1440.62px;
}
.s_page72_221
{
position:absolute;top:10001.07px;left:2200.45px;
}
.s_page72_222
{
position:absolute;top:10001.07px;left:2672.28px;letter-spacing:-1.28px;
}
.s_page72_223
{
position:absolute;top:10001.07px;left:3317.39px;letter-spacing:-0.59px;
}
.s_page72_224
{
position:absolute;top:10001.07px;left:4562.26px;letter-spacing:-0.12px;
}
.s_page72_225
{
position:absolute;top:10397.76px;left:0px;
}
.s_page72_226
{
position:absolute;top:10397.76px;left:724.08px;letter-spacing:-1.28px;
}
.s_page72_227
{
position:absolute;top:10397.76px;left:1160px;letter-spacing:-0.42px;
}
.s_page72_228
{
position:absolute;top:10397.76px;left:1621.04px;letter-spacing:-0.81px;
}
.s_page72_229
{
position:absolute;top:10397.76px;left:2371.26px;letter-spacing:-2.48px;
}
.s_page72_230
{
position:absolute;top:10397.76px;left:2651.82px;
}
.s_page72_231
{
position:absolute;top:10397.76px;left:4747.37px;
}
.s_page72_232
{
position:absolute;top:10397.76px;left:4984.49px;letter-spacing:-0.83px;
}
.s_page72_233
{
position:absolute;top:10397.76px;left:6243.03px;
}
.s_page72_234
{
position:absolute;top:10397.76px;left:6657.75px;letter-spacing:-1.23px;
}
.s_page72_235
{
position:absolute;top:10397.76px;left:7507.57px;letter-spacing:-0.72px;
}
.s_page72_236
{
position:absolute;top:10397.76px;left:8199.72px;
}
.s_page72_237
{
position:absolute;top:10397.76px;left:8740.67px;letter-spacing:-0.81px;
}
.s_page72_238
{
position:absolute;top:10737.76px;left:1160.06px;letter-spacing:-0.61px;
}
.s_page72_239
{
position:absolute;top:10737.76px;left:2094.85px;
}
.s_page72_240
{
position:absolute;top:10737.76px;left:2409px;
}
.s_page72_241
{
position:absolute;top:10737.76px;left:2615.87px;letter-spacing:-0.72px;
}
.s_page72_242
{
position:absolute;top:10737.76px;left:3568.9px;
}
.s_page72_243
{
position:absolute;top:10737.76px;left:3820.17px;
}
.s_page72_244
{
position:absolute;top:10737.76px;left:4239.44px;
}
.s_page72_245
{
position:absolute;top:10737.76px;left:5047.03px;letter-spacing:-2.48px;
}
.s_page72_246
{
position:absolute;top:10737.76px;left:5327.59px;letter-spacing:-0.93px;
}
.s_page72_247
{
position:absolute;top:10737.76px;left:6161.82px;letter-spacing:-2px;
}
.s_page72_248
{
position:absolute;top:10737.76px;left:7117.96px;
}
.s_page72_249
{
position:absolute;top:11134.46px;left:0px;
}
.s_page72_250
{
position:absolute;top:11134.46px;left:713.04px;letter-spacing:-1.28px;
}
.s_page72_251
{
position:absolute;top:11134.46px;left:1160px;letter-spacing:-1.54px;
}
.s_page72_252
{
position:absolute;top:11134.46px;left:1798.63px;
}
.s_page72_253
{
position:absolute;top:11134.46px;left:2598.54px;letter-spacing:-1.87px;
}
.s_page72_254
{
position:absolute;top:11134.46px;left:3210.29px;letter-spacing:-0.81px;
}
.s_page72_255
{
position:absolute;top:11134.46px;left:4192.59px;
}
.s_page72_256
{
position:absolute;top:11134.46px;left:4530.5px;letter-spacing:-1.25px;
}
.s_page72_257
{
position:absolute;top:11134.46px;left:5683.93px;
}
.s_page72_258
{
position:absolute;top:11134.46px;left:6155.76px;letter-spacing:-0.29px;
}
.s_page72_259
{
position:absolute;top:11134.46px;left:7215.35px;
}
.s_page72_260
{
position:absolute;top:11134.46px;left:7466.63px;
}
.s_page72_261
{
position:absolute;top:11134.46px;left:7880.14px;letter-spacing:-2.34px;
}
.s_page72_262
{
position:absolute;top:11531.15px;left:0px;
}
.s_page72_263
{
position:absolute;top:11531.15px;left:1160px;
}
.s_page72_264
{
position:absolute;top:11531.15px;left:3255.55px;
}
.s_page72_265
{
position:absolute;top:11927.84px;left:0px;
}
.s_page72_266
{
position:absolute;top:11927.84px;left:752.16px;letter-spacing:-6.72px;
}
.s_page72_267
{
position:absolute;top:11927.84px;left:1160px;letter-spacing:-6.53px;
}
.s_page72_268
{
position:absolute;top:11927.84px;left:1839.91px;letter-spacing:-0.44px;
}
.s_page72_269
{
position:absolute;top:11927.84px;left:2556.07px;letter-spacing:-2.48px;
}
.s_page72_270
{
position:absolute;top:11927.84px;left:2829.91px;letter-spacing:-0.42px;
}
.s_page72_271
{
position:absolute;top:11927.84px;left:3287.1px;letter-spacing:-1.44px;
}
.s_page72_272
{
position:absolute;top:11927.84px;left:4096.13px;letter-spacing:-0.66px;
}
.s_page72_273
{
position:absolute;top:11927.84px;left:4602.28px;letter-spacing:-0.96px;
}
.s_page72_274
{
position:absolute;top:11927.84px;left:5835.87px;
}
.s_page72_275
{
position:absolute;top:11927.84px;left:6091.22px;letter-spacing:-1.83px;
}
.s_page72_276
{
position:absolute;top:11927.84px;left:6844.81px;letter-spacing:-0.18px;
}
.s_page72_277
{
position:absolute;top:11927.84px;left:7765.92px;
}
.s_page72_278
{
position:absolute;top:11927.84px;left:8805.58px;
}
.s_page72_279
{
position:absolute;top:11927.84px;left:9056.86px;
}
.s_page72_280
{
position:absolute;top:12267.84px;left:1160.06px;letter-spacing:-1.87px;
}
.s_page72_281
{
position:absolute;top:12267.84px;left:1705.58px;
}
.s_page72_282
{
position:absolute;top:12267.84px;left:3801.13px;
}
.s_page72_283
{
position:absolute;top:12664.54px;left:0px;
}
.s_page72_284
{
position:absolute;top:12664.54px;left:706.33px;letter-spacing:-1.2px;
}
.s_page72_285
{
position:absolute;top:12664.54px;left:1160px;
}
.s_page72_286
{
position:absolute;top:12664.54px;left:3255.55px;
}
.s_page72_287
{
position:absolute;top:12664.54px;left:3488.59px;
}
.s_page72_288
{
position:absolute;top:12664.54px;left:3904.5px;letter-spacing:-1.2px;
}
.s_page72_289
{
position:absolute;top:12664.54px;left:4821.04px;letter-spacing:-2.48px;
}
.s_page72_290
{
position:absolute;top:12664.54px;left:5101.6px;letter-spacing:-1.07px;
}
.s_page72_291
{
position:absolute;top:12664.54px;left:6551.19px;
}
.s_page72_292
{
position:absolute;top:12664.54px;left:7000.22px;
}
.s_page72_293
{
position:absolute;top:13061.23px;left:0px;
}
.s_page72_294
{
position:absolute;top:13061.23px;left:714.48px;letter-spacing:-2.48px;
}
.s_page72_295
{
position:absolute;top:13061.23px;left:1160px;
}
.s_page72_296
{
position:absolute;top:13061.23px;left:3255.55px;
}
.s_page72_297
{
position:absolute;top:13061.23px;left:3799.86px;
}
.s_page72_298
{
position:absolute;top:13061.23px;left:4032.9px;
}
.s_page72_299
{
position:absolute;top:13061.23px;left:4447.61px;letter-spacing:-1.23px;
}
.s_page72_300
{
position:absolute;top:13061.23px;left:5302px;letter-spacing:-0.9px;
}
.s_page72_301
{
position:absolute;top:13061.23px;left:6117.98px;letter-spacing:-0.99px;
}
.s_page72_302
{
position:absolute;top:13061.23px;left:7607.88px;letter-spacing:-1.88px;
}
.s_page72_303
{
position:absolute;top:13061.23px;left:8361.95px;letter-spacing:-0.24px;
}
.s_page72_304
{
position:absolute;top:13457.92px;left:0px;
}
.s_page72_305
{
position:absolute;top:13457.92px;left:642.49px;letter-spacing:-1.86px;
}
.s_page72_306
{
position:absolute;top:13457.92px;left:1160px;
}
.s_page72_307
{
position:absolute;top:13457.92px;left:3819.52px;
}
.s_page72_308
{
position:absolute;top:13457.92px;left:4056.63px;
}
.s_page72_309
{
position:absolute;top:13457.92px;left:4596.38px;letter-spacing:-0.48px;
}
.s_page72_310
{
position:absolute;top:13457.92px;left:5375.89px;letter-spacing:-2.4px;
}
.s_page72_311
{
position:absolute;top:13457.92px;left:5750.04px;
}
.s_page72_312
{
position:absolute;top:13457.92px;left:6118.68px;letter-spacing:-0.45px;
}
.s_page72_313
{
position:absolute;top:13457.92px;left:7087.3px;
}
.s_page72_314
{
position:absolute;top:13457.92px;left:7286.25px;
}
.s_page72_315
{
position:absolute;top:13457.92px;left:7477.77px;
}
.s_page72_316
{
position:absolute;top:13462.07px;left:7845.69px;letter-spacing:0px;
}
.s_page72_317
{
position:absolute;top:13457.92px;left:7917.04px;
}
.s_page72_318
{
position:absolute;top:-11.04px;left:121.13px;
}

.page72_btn1 {
	position: absolute;
	top: 800px;
	left: 323px;
}
.page72_btn2 {
	position: absolute;
	top: 800px;
	left: 262px;
}
.page72_btn3 {
	position: absolute;
	top: 20px;
	left: 262px;
	display: none;
}
.page72_position1 {
	position: absolute;
	top: 184px;
	left: 84px;
}
.page72_position2 {
	position: absolute;
	top: 184px;
	left: 179px;
}
.page72_position3 {
	position: absolute;
	top: 184px;
	left: 275px;
}
.page72_position4 {
	position: absolute;
	top: 184px;
	left: 365px;
}
.page72_position5 {
	position: absolute;
	top: 184px;
	left: 451px;
}
.page72_position6 {
	position: absolute;
	top: 261px;
	left: 67px;
}
.page72_position7 {
	position: absolute;
	top: 295px;
	left: 111px;
}
.page72_position8 {
	position: absolute;
	top: 329px;
	left: 71px;
}
.page72_position9 {
	position: absolute;
	top: 363px;
	left: 88px;
}
.page72_position10 {
	position: absolute;
	top: 414px;
	left: 100px;
}
.page72_position11 {
	position: absolute;
	top: 470px;
	left: 203px;
}
.page72_position12 {
	position: absolute;
	top: 490px;
	left: 114px;
}
.page72_position13 {
	position: absolute;
	top: 511px;
	left: 114px;
}
.page72_position14 {
	position: absolute;
	top: 547px;
	left: 114px;
}
.page72_position15 {
	position: absolute;
	top: 585px;
	left: 188px;
}
.page72_position16 {
	position: absolute;
	top: 640px;
	left: 114px;
}
.page72_position17 {
	position: absolute;
	top: 678px;
	left: 141px;
}
.page72_position18 {
	position: absolute;
	top: 698px;
	left: 114px;
}
.page72_position19 {
	position: absolute;
	top: 718px;
	left: 114px;
}
.page72_position20 {
	position: absolute;
	top: 738px;
	left: 114px;
}

.head {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#score {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 22px;
	font-weight: bold;
	position: relative;
	text-align: center;
	color: green;
}
.head1 {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#btnYes {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-left: 140px;
	background-color: #5CD7E7;
	border-radius: 10px;
}
#btnNo {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	background-color: #5CD7E7;
	border-radius: 10px;
}
.italic {
	font-style: italic;
}
