.d_page70-71_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page70-71_2
{
width:9446.4px;height:12958.83px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page70-71_3
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page70-71_4
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page70-71_5
{
width:9599.59px;height:13699.58px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page70-71_6
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.s_page70-71_7
{
position:absolute;top:-21px;left:0px;letter-spacing:-6.27px;
}
.s_page70-71_8
{
position:absolute;top:-21px;left:615.43px;letter-spacing:-1.87px;
}
.s_page70-71_9
{
position:absolute;top:-21px;left:1459.9px;
}
.s_page70-71_10
{
position:absolute;top:12.6px;left:1620.06px;
}
.s_page70-71_11
{
position:absolute;top:12.6px;left:7788.26px;letter-spacing:-4.92px;
}
.s_page70-71_12
{
position:absolute;top:12.6px;left:8368.81px;letter-spacing:-0.38px;
}
.s_page70-71_13
{
position:absolute;top:12.6px;left:9169.93px;
}
.s_page70-71_14
{
position:absolute;top:845.98px;left:0px;
}
.s_page70-71_15
{
position:absolute;top:845.98px;left:212px;
}
.s_page70-71_16
{
position:absolute;top:845.98px;left:639.94px;letter-spacing:-0.33px;
}
.s_page70-71_17
{
position:absolute;top:845.98px;left:2052.57px;
}
.s_page70-71_18
{
position:absolute;top:845.98px;left:2482.4px;letter-spacing:-1px;
}
.s_page70-71_19
{
position:absolute;top:845.98px;left:3248px;
}
.s_page70-71_20
{
position:absolute;top:845.98px;left:3545.6px;text-rendering:optimizeLegibility;
}
.s_page70-71_21
{
position:absolute;top:845.98px;left:4034.47px;
}
.s_page70-71_22
{
position:absolute;top:845.98px;left:4465.27px;letter-spacing:-0.39px;
}
.s_page70-71_23
{
position:absolute;top:845.98px;left:5343.9px;letter-spacing:-0.45px;
}
.s_page70-71_24
{
position:absolute;top:845.98px;left:8527.45px;
}
.s_page70-71_25
{
position:absolute;top:1262.68px;left:0px;
}
.s_page70-71_26
{
position:absolute;top:1262.68px;left:791.28px;letter-spacing:-1.04px;
}
.s_page70-71_27
{
position:absolute;top:1262.68px;left:1160px;letter-spacing:-1.53px;
}
.s_page70-71_28
{
position:absolute;top:1262.68px;left:2144.24px;letter-spacing:-0.7px;
}
.s_page70-71_29
{
position:absolute;top:1262.68px;left:3115.53px;
}
.s_page70-71_30
{
position:absolute;top:1262.68px;left:4003.54px;
}
.s_page70-71_31
{
position:absolute;top:1262.68px;left:4609.79px;letter-spacing:0px;
}
.s_page70-71_32
{
position:absolute;top:1262.68px;left:5313.95px;letter-spacing:-3px;
}
.s_page70-71_33
{
position:absolute;top:1262.68px;left:5513.89px;letter-spacing:-1.87px;
}
.s_page70-71_34
{
position:absolute;top:1262.68px;left:6116.78px;letter-spacing:-2.4px;
}
.s_page70-71_35
{
position:absolute;top:1262.68px;left:6581.68px;
}
.s_page70-71_36
{
position:absolute;top:1262.68px;left:7122.65px;
}
.s_page70-71_37
{
position:absolute;top:1262.68px;left:7368.19px;
}
.s_page70-71_38
{
position:absolute;top:1262.68px;left:8113.87px;letter-spacing:-3.12px;
}
.s_page70-71_39
{
position:absolute;top:1262.68px;left:8445.81px;letter-spacing:-3px;
}
.s_page70-71_40
{
position:absolute;top:1262.68px;left:8645.75px;
}
.s_page70-71_41
{
position:absolute;top:1262.68px;left:9231.12px;letter-spacing:-2.48px;
}
.s_page70-71_42
{
position:absolute;top:1622.68px;left:1160.06px;letter-spacing:-0.87px;
}
.s_page70-71_43
{
position:absolute;top:1622.68px;left:2034.37px;letter-spacing:-0.62px;
}
.s_page70-71_44
{
position:absolute;top:1622.68px;left:2985.96px;letter-spacing:-1.82px;
}
.s_page70-71_45
{
position:absolute;top:1622.68px;left:3730.91px;
}
.s_page70-71_46
{
position:absolute;top:2039.37px;left:0px;
}
.s_page70-71_47
{
position:absolute;top:2039.37px;left:721.2px;
}
.s_page70-71_48
{
position:absolute;top:2039.37px;left:1160px;letter-spacing:-3.6px;
}
.s_page70-71_49
{
position:absolute;top:2039.37px;left:1367.59px;
}
.s_page70-71_50
{
position:absolute;top:2039.37px;left:1958.46px;letter-spacing:-1.34px;
}
.s_page70-71_51
{
position:absolute;top:2039.37px;left:2805.41px;letter-spacing:-1.23px;
}
.s_page70-71_52
{
position:absolute;top:2039.37px;left:3701.8px;
}
.s_page70-71_53
{
position:absolute;top:2039.37px;left:4039.71px;
}
.s_page70-71_54
{
position:absolute;top:2039.37px;left:4725.62px;letter-spacing:-1.46px;
}
.s_page70-71_55
{
position:absolute;top:2039.37px;left:5847.13px;text-rendering:optimizeLegibility;letter-spacing:-0.36px;
}
.s_page70-71_56
{
position:absolute;top:2039.37px;left:6615.84px;letter-spacing:-0.38px;
}
.s_page70-71_57
{
position:absolute;top:2039.37px;left:7329.82px;
}
.s_page70-71_58
{
position:absolute;top:2399.37px;left:1160.06px;
}
.s_page70-71_59
{
position:absolute;top:2816.06px;left:0px;
}
.s_page70-71_60
{
position:absolute;top:2816.06px;left:717.6px;letter-spacing:-1.28px;
}
.s_page70-71_61
{
position:absolute;top:2816.06px;left:1160px;letter-spacing:-0.34px;
}
.s_page70-71_62
{
position:absolute;top:2816.06px;left:1663.51px;letter-spacing:-0.96px;
}
.s_page70-71_63
{
position:absolute;top:2816.06px;left:2730.78px;
}
.s_page70-71_64
{
position:absolute;top:2816.06px;left:3175.26px;letter-spacing:-0.72px;
}
.s_page70-71_65
{
position:absolute;top:2816.06px;left:3700.85px;
}
.s_page70-71_66
{
position:absolute;top:2816.06px;left:4120.12px;
}
.s_page70-71_67
{
position:absolute;top:2816.06px;left:5248.35px;letter-spacing:-0.79px;
}
.s_page70-71_68
{
position:absolute;top:2816.06px;left:6152.9px;letter-spacing:-2.48px;
}
.s_page70-71_69
{
position:absolute;top:2816.06px;left:6433.46px;
}
.s_page70-71_70
{
position:absolute;top:2816.06px;left:7282.33px;
}
.s_page70-71_71
{
position:absolute;top:2816.06px;left:7562.16px;
}
.s_page70-71_72
{
position:absolute;top:2816.06px;left:7981.43px;letter-spacing:-0.14px;
}
.s_page70-71_73
{
position:absolute;top:3176.06px;left:1160.06px;
}
.s_page70-71_74
{
position:absolute;top:3176.06px;left:2237.89px;letter-spacing:-0.93px;
}
.s_page70-71_75
{
position:absolute;top:3176.06px;left:3140.04px;
}
.s_page70-71_76
{
position:absolute;top:3592.76px;left:0px;
}
.s_page70-71_77
{
position:absolute;top:3592.76px;left:721.68px;letter-spacing:-0.8px;
}
.s_page70-71_78
{
position:absolute;top:3592.76px;left:1160px;letter-spacing:-0.92px;
}
.s_page70-71_79
{
position:absolute;top:3592.76px;left:1863.67px;letter-spacing:-1.16px;
}
.s_page70-71_80
{
position:absolute;top:3592.76px;left:2446.14px;
}
.s_page70-71_81
{
position:absolute;top:3592.76px;left:3367.96px;
}
.s_page70-71_82
{
position:absolute;top:3592.76px;left:3605.08px;letter-spacing:-3px;
}
.s_page70-71_83
{
position:absolute;top:3592.76px;left:3793.24px;
}
.s_page70-71_84
{
position:absolute;top:3592.76px;left:4672.82px;letter-spacing:-2.13px;
}
.s_page70-71_85
{
position:absolute;top:3592.76px;left:5407.21px;letter-spacing:-2.48px;
}
.s_page70-71_86
{
position:absolute;top:3592.76px;left:5683.69px;
}
.s_page70-71_87
{
position:absolute;top:3592.76px;left:6142.08px;letter-spacing:-0.12px;
}
.s_page70-71_88
{
position:absolute;top:3592.76px;left:7447.9px;letter-spacing:-4.48px;
}
.s_page70-71_89
{
position:absolute;top:3952.76px;left:1160.06px;
}
.s_page70-71_90
{
position:absolute;top:4369.45px;left:0px;
}
.s_page70-71_91
{
position:absolute;top:4369.45px;left:724.08px;letter-spacing:-1.28px;
}
.s_page70-71_92
{
position:absolute;top:4369.45px;left:1160px;letter-spacing:-0.34px;
}
.s_page70-71_93
{
position:absolute;top:4369.45px;left:1663.51px;
}
.s_page70-71_94
{
position:absolute;top:4369.45px;left:1896.55px;
}
.s_page70-71_95
{
position:absolute;top:4369.45px;left:2315.82px;
}
.s_page70-71_96
{
position:absolute;top:4369.45px;left:2935.49px;letter-spacing:-1.44px;
}
.s_page70-71_97
{
position:absolute;top:4369.45px;left:3422.67px;letter-spacing:-2.48px;
}
.s_page70-71_98
{
position:absolute;top:4369.45px;left:3703.23px;letter-spacing:-0.24px;
}
.s_page70-71_99
{
position:absolute;top:4369.45px;left:4626.98px;letter-spacing:-0.68px;
}
.s_page70-71_100
{
position:absolute;top:4369.45px;left:5430px;letter-spacing:-0.8px;
}
.s_page70-71_101
{
position:absolute;top:4369.45px;left:6713.52px;
}
.s_page70-71_102
{
position:absolute;top:4786.14px;left:0px;
}
.s_page70-71_103
{
position:absolute;top:4786.14px;left:221.84px;
}
.s_page70-71_104
{
position:absolute;top:4786.14px;left:639.94px;letter-spacing:-0.91px;
}
.s_page70-71_105
{
position:absolute;top:4786.14px;left:1574.49px;
}
.s_page70-71_106
{
position:absolute;top:4786.14px;left:2005.28px;letter-spacing:-0.5px;
}
.s_page70-71_107
{
position:absolute;top:4786.14px;left:3113.35px;
}
.s_page70-71_108
{
position:absolute;top:4786.14px;left:3593.59px;
}
.s_page70-71_109
{
position:absolute;top:4786.14px;left:4249.5px;
}
.s_page70-71_110
{
position:absolute;top:4786.14px;left:4680.3px;
}
.s_page70-71_111
{
position:absolute;top:4786.14px;left:5488.37px;
}
.s_page70-71_112
{
position:absolute;top:4786.14px;left:5746.12px;
}
.s_page70-71_113
{
position:absolute;top:4786.14px;left:6176.92px;
}
.s_page70-71_114
{
position:absolute;top:4786.14px;left:6894.51px;letter-spacing:-0.31px;
}
.s_page70-71_115
{
position:absolute;top:4786.14px;left:8527.45px;
}
.s_page70-71_116
{
position:absolute;top:7013.61px;left:0px;
}
.s_page70-71_117
{
position:absolute;top:7013.61px;left:652.77px;letter-spacing:-1.04px;
}
.s_page70-71_118
{
position:absolute;top:7013.61px;left:826.77px;
}
.s_page70-71_119
{
position:absolute;top:7013.61px;left:2459.15px;
}
.s_page70-71_120
{
position:absolute;top:7013.61px;left:2703.22px;
}
.s_page70-71_121
{
position:absolute;top:7013.61px;left:4270.33px;letter-spacing:-1.28px;
}
.s_page70-71_122
{
position:absolute;top:7013.61px;left:4518px;
}
.s_page70-71_123
{
position:absolute;top:7013.61px;left:6085.11px;letter-spacing:-0.8px;
}
.s_page70-71_124
{
position:absolute;top:7013.61px;left:6328.7px;
}
.s_page70-71_125
{
position:absolute;top:7013.61px;left:7895.81px;letter-spacing:-1.28px;
}
.s_page70-71_126
{
position:absolute;top:7013.61px;left:8137.01px;
}
.s_page70-71_127
{
position:absolute;top:7430.3px;left:0px;
}
.s_page70-71_128
{
position:absolute;top:7430.3px;left:219.93px;
}
.s_page70-71_129
{
position:absolute;top:7430.3px;left:639.94px;
}
.s_page70-71_130
{
position:absolute;top:7430.3px;left:1015.05px;
}
.s_page70-71_131
{
position:absolute;top:7430.3px;left:1272.81px;letter-spacing:0px;
}
.s_page70-71_132
{
position:absolute;top:7430.3px;left:1703.6px;
}
.s_page70-71_133
{
position:absolute;top:7430.3px;left:2499.19px;letter-spacing:0px;
}
.s_page70-71_134
{
position:absolute;top:7430.3px;left:3056.47px;
}
.s_page70-71_135
{
position:absolute;top:7430.3px;left:3487.26px;letter-spacing:-0.36px;
}
.s_page70-71_136
{
position:absolute;top:7430.3px;left:4899.41px;letter-spacing:-0.45px;
}
.s_page70-71_137
{
position:absolute;top:7430.3px;left:8350.09px;letter-spacing:-0.83px;
}
.s_page70-71_138
{
position:absolute;top:7826.99px;left:0px;
}
.s_page70-71_139
{
position:absolute;top:7826.99px;left:791.28px;letter-spacing:-1.04px;
}
.s_page70-71_140
{
position:absolute;top:7826.99px;left:1160px;letter-spacing:-0.42px;
}
.s_page70-71_141
{
position:absolute;top:7826.99px;left:1688.15px;letter-spacing:-0.66px;
}
.s_page70-71_142
{
position:absolute;top:7826.99px;left:3653.64px;letter-spacing:-1.3px;
}
.s_page70-71_143
{
position:absolute;top:7826.99px;left:4220.43px;letter-spacing:-0.68px;
}
.s_page70-71_144
{
position:absolute;top:7826.99px;left:4977.77px;letter-spacing:-1.15px;
}
.s_page70-71_145
{
position:absolute;top:7826.99px;left:5557.76px;
}
.s_page70-71_146
{
position:absolute;top:7826.99px;left:5955.35px;
}
.s_page70-71_147
{
position:absolute;top:7826.99px;left:6438.38px;
}
.s_page70-71_148
{
position:absolute;top:7826.99px;left:7201px;letter-spacing:-2.48px;
}
.s_page70-71_149
{
position:absolute;top:7826.99px;left:7545.31px;letter-spacing:-1.35px;
}
.s_page70-71_150
{
position:absolute;top:7826.99px;left:8508.82px;
}
.s_page70-71_151
{
position:absolute;top:7826.99px;left:8809.69px;
}
.s_page70-71_152
{
position:absolute;top:8166.99px;left:1160.06px;
}
.s_page70-71_153
{
position:absolute;top:8563.69px;left:0px;
}
.s_page70-71_154
{
position:absolute;top:8563.69px;left:721.2px;
}
.s_page70-71_155
{
position:absolute;top:8563.69px;left:1160px;
}
.s_page70-71_156
{
position:absolute;top:8563.69px;left:3537.53px;
}
.s_page70-71_157
{
position:absolute;top:8563.69px;left:3770.57px;
}
.s_page70-71_158
{
position:absolute;top:8563.69px;left:4186.48px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page70-71_159
{
position:absolute;top:8563.69px;left:4680.87px;letter-spacing:-0.58px;
}
.s_page70-71_160
{
position:absolute;top:8563.69px;left:5487.26px;
}
.s_page70-71_161
{
position:absolute;top:8563.69px;left:6514.44px;
}
.s_page70-71_162
{
position:absolute;top:8563.69px;left:6803.87px;
}
.s_page70-71_163
{
position:absolute;top:8563.69px;left:7447.55px;letter-spacing:-0.68px;
}
.s_page70-71_164
{
position:absolute;top:8563.69px;left:8217.22px;letter-spacing:-2.37px;
}
.s_page70-71_165
{
position:absolute;top:8960.38px;left:0px;
}
.s_page70-71_166
{
position:absolute;top:8960.38px;left:717.6px;letter-spacing:-1.28px;
}
.s_page70-71_167
{
position:absolute;top:8960.38px;left:1160px;
}
.s_page70-71_168
{
position:absolute;top:8960.38px;left:3537.53px;
}
.s_page70-71_169
{
position:absolute;top:8960.38px;left:3770.57px;
}
.s_page70-71_170
{
position:absolute;top:8960.38px;left:4185.28px;letter-spacing:-1.23px;
}
.s_page70-71_171
{
position:absolute;top:8960.38px;left:5039.66px;letter-spacing:-0.9px;
}
.s_page70-71_172
{
position:absolute;top:8960.38px;left:5848.45px;letter-spacing:-0.5px;
}
.s_page70-71_173
{
position:absolute;top:9357.07px;left:0px;
}
.s_page70-71_174
{
position:absolute;top:9357.07px;left:721.68px;letter-spacing:-0.8px;
}
.s_page70-71_175
{
position:absolute;top:9357.07px;left:1160px;letter-spacing:-0.42px;
}
.s_page70-71_176
{
position:absolute;top:9357.07px;left:1624.4px;letter-spacing:-1.15px;
}
.s_page70-71_177
{
position:absolute;top:9357.07px;left:2140.63px;
}
.s_page70-71_178
{
position:absolute;top:9357.07px;left:2767.98px;letter-spacing:-1.17px;
}
.s_page70-71_179
{
position:absolute;top:9357.07px;left:3635.56px;letter-spacing:-2.48px;
}
.s_page70-71_180
{
position:absolute;top:9357.07px;left:3916.12px;letter-spacing:-3px;
}
.s_page70-71_181
{
position:absolute;top:9357.07px;left:4107.64px;text-rendering:optimizeLegibility;letter-spacing:-0.51px;
}
.s_page70-71_182
{
position:absolute;top:9357.07px;left:4876.82px;
}
.s_page70-71_183
{
position:absolute;top:9357.07px;left:5113.94px;
}
.s_page70-71_184
{
position:absolute;top:9753.76px;left:0px;
}
.s_page70-71_185
{
position:absolute;top:9753.76px;left:724.08px;letter-spacing:-1.28px;
}
.s_page70-71_186
{
position:absolute;top:9753.76px;left:1160px;letter-spacing:-3.6px;
}
.s_page70-71_187
{
position:absolute;top:9753.76px;left:1367.59px;letter-spacing:-1.08px;
}
.s_page70-71_188
{
position:absolute;top:9753.76px;left:2073.42px;letter-spacing:-2.48px;
}
.s_page70-71_189
{
position:absolute;top:9753.76px;left:2353.98px;letter-spacing:-0.14px;
}
.s_page70-71_190
{
position:absolute;top:9753.76px;left:4227.63px;
}
.s_page70-71_191
{
position:absolute;top:9753.76px;left:4464.75px;
}
.s_page70-71_192
{
position:absolute;top:9753.76px;left:5166.74px;
}
.s_page70-71_193
{
position:absolute;top:10150.46px;left:0px;
}
.s_page70-71_194
{
position:absolute;top:10150.46px;left:713.04px;letter-spacing:-1.28px;
}
.s_page70-71_195
{
position:absolute;top:10150.46px;left:1160px;
}
.s_page70-71_196
{
position:absolute;top:10150.46px;left:3561.64px;
}
.s_page70-71_197
{
position:absolute;top:10150.46px;left:3822.87px;letter-spacing:-3px;
}
.s_page70-71_198
{
position:absolute;top:10150.46px;left:4038.5px;letter-spacing:-0.22px;
}
.s_page70-71_199
{
position:absolute;top:10150.46px;left:5467.55px;letter-spacing:-2.48px;
}
.s_page70-71_200
{
position:absolute;top:10150.46px;left:5772.22px;
}
.s_page70-71_201
{
position:absolute;top:10150.46px;left:6626px;
}
.s_page70-71_202
{
position:absolute;top:10150.46px;left:7146.42px;
}
.s_page70-71_203
{
position:absolute;top:10150.46px;left:7642.37px;letter-spacing:-1.28px;
}
.s_page70-71_204
{
position:absolute;top:10150.46px;left:8311.59px;
}
.s_page70-71_205
{
position:absolute;top:10150.46px;left:9093.36px;letter-spacing:-1.68px;
}
.s_page70-71_206
{
position:absolute;top:10490.46px;left:1160.06px;
}
.s_page70-71_207
{
position:absolute;top:10490.46px;left:2007.73px;letter-spacing:-0.78px;
}
.s_page70-71_208
{
position:absolute;top:10490.46px;left:3364.91px;letter-spacing:-0.24px;
}
.s_page70-71_209
{
position:absolute;top:10490.46px;left:4184.74px;
}
.s_page70-71_210
{
position:absolute;top:10490.46px;left:5109.2px;
}
.s_page70-71_211
{
position:absolute;top:10887.15px;left:0px;
}
.s_page70-71_212
{
position:absolute;top:10887.15px;left:752.16px;letter-spacing:-6.72px;
}
.s_page70-71_213
{
position:absolute;top:10887.15px;left:1160px;
}
.s_page70-71_214
{
position:absolute;top:10887.15px;left:3571.79px;
}
.s_page70-71_215
{
position:absolute;top:10887.15px;left:3843.15px;letter-spacing:-3px;
}
.s_page70-71_216
{
position:absolute;top:10887.15px;left:4065.56px;letter-spacing:-0.82px;
}
.s_page70-71_217
{
position:absolute;top:10887.15px;left:4686.84px;letter-spacing:-2.48px;
}
.s_page70-71_218
{
position:absolute;top:10887.15px;left:5001.65px;letter-spacing:-0.5px;
}
.s_page70-71_219
{
position:absolute;top:10887.15px;left:6419.73px;
}
.s_page70-71_220
{
position:absolute;top:10887.15px;left:6704.77px;
}
.s_page70-71_221
{
position:absolute;top:10887.15px;left:7445.82px;letter-spacing:-3px;
}
.s_page70-71_222
{
position:absolute;top:10887.15px;left:7671.59px;
}
.s_page70-71_223
{
position:absolute;top:10887.15px;left:8218.47px;letter-spacing:-1.84px;
}
.s_page70-71_224
{
position:absolute;top:10887.15px;left:8546px;letter-spacing:-3px;
}
.s_page70-71_225
{
position:absolute;top:10887.15px;left:8771.77px;
}
.s_page70-71_226
{
position:absolute;top:11227.15px;left:1160.06px;
}
.s_page70-71_227
{
position:absolute;top:11227.15px;left:1756.93px;
}
.s_page70-71_228
{
position:absolute;top:11227.15px;left:2176.2px;letter-spacing:-1.6px;
}
.s_page70-71_229
{
position:absolute;top:11227.15px;left:3126.83px;
}
.s_page70-71_230
{
position:absolute;top:11227.15px;left:3598.66px;
}
.s_page70-71_231
{
position:absolute;top:11227.15px;left:4418.01px;
}
.s_page70-71_232
{
position:absolute;top:11227.15px;left:4751.84px;
}
.s_page70-71_233
{
position:absolute;top:11227.15px;left:5171.11px;letter-spacing:-1.56px;
}
.s_page70-71_234
{
position:absolute;top:11227.15px;left:5907.9px;
}
.s_page70-71_235
{
position:absolute;top:11227.15px;left:6197.34px;
}
.s_page70-71_236
{
position:absolute;top:11227.15px;left:6569.33px;letter-spacing:-1.84px;
}
.s_page70-71_237
{
position:absolute;top:11227.15px;left:6862.6px;letter-spacing:-1.38px;
}
.s_page70-71_238
{
position:absolute;top:11227.15px;left:7285.71px;
}
.s_page70-71_239
{
position:absolute;top:11227.15px;left:8014.1px;
}
.s_page70-71_240
{
position:absolute;top:11623.84px;left:0px;
}
.s_page70-71_241
{
position:absolute;top:11623.84px;left:706.33px;letter-spacing:-1.2px;
}
.s_page70-71_242
{
position:absolute;top:11623.84px;left:1160px;
}
.s_page70-71_243
{
position:absolute;top:11623.84px;left:1406.11px;
}
.s_page70-71_244
{
position:absolute;top:11623.84px;left:2033.81px;
}
.s_page70-71_245
{
position:absolute;top:11623.84px;left:2434px;
}
.s_page70-71_246
{
position:absolute;top:11623.84px;left:4792.44px;
}
.s_page70-71_247
{
position:absolute;top:11623.84px;left:5010.47px;letter-spacing:0px;
}
.s_page70-71_248
{
position:absolute;top:11623.84px;left:5857.77px;letter-spacing:-3.12px;
}
.s_page70-71_249
{
position:absolute;top:11623.84px;left:6158.12px;
}
.s_page70-71_250
{
position:absolute;top:11623.84px;left:6558.3px;letter-spacing:-0.18px;
}
.s_page70-71_251
{
position:absolute;top:11623.84px;left:7634.32px;letter-spacing:-2.48px;
}
.s_page70-71_252
{
position:absolute;top:11623.84px;left:7891.71px;
}
.s_page70-71_253
{
position:absolute;top:11623.84px;left:8291.9px;letter-spacing:-2.22px;
}
.s_page70-71_254
{
position:absolute;top:11623.84px;left:8716.09px;
}
.s_page70-71_255
{
position:absolute;top:11963.84px;left:1160.06px;
}
.s_page70-71_256
{
position:absolute;top:11963.84px;left:1579.34px;letter-spacing:-1.6px;
}
.s_page70-71_257
{
position:absolute;top:11963.84px;left:2235.24px;
}
.s_page70-71_258
{
position:absolute;top:11963.84px;left:3030.83px;
}
.s_page70-71_259
{
position:absolute;top:11963.84px;left:3498.59px;
}
.s_page70-71_260
{
position:absolute;top:11963.84px;left:3917.86px;letter-spacing:-1.08px;
}
.s_page70-71_261
{
position:absolute;top:11963.84px;left:5121.68px;letter-spacing:-0.64px;
}
.s_page70-71_262
{
position:absolute;top:11963.84px;left:6223.51px;letter-spacing:-2.4px;
}
.s_page70-71_263
{
position:absolute;top:11963.84px;left:6597.66px;letter-spacing:-3px;
}
.s_page70-71_264
{
position:absolute;top:11963.84px;left:6789.18px;
}
.s_page70-71_265
{
position:absolute;top:11963.84px;left:7554.52px;letter-spacing:-2.48px;
}
.s_page70-71_266
{
position:absolute;top:11963.84px;left:7835.08px;
}
.s_page70-71_267
{
position:absolute;top:11963.84px;left:8017.96px;letter-spacing:-0.75px;
}
.s_page70-71_268
{
position:absolute;top:12360.54px;left:0px;
}
.s_page70-71_269
{
position:absolute;top:12360.54px;left:714.48px;letter-spacing:-2.48px;
}
.s_page70-71_270
{
position:absolute;top:12360.54px;left:1160px;
}
.s_page70-71_271
{
position:absolute;top:12360.54px;left:3537.53px;
}
.s_page70-71_272
{
position:absolute;top:12360.54px;left:3774.65px;letter-spacing:-0.48px;
}
.s_page70-71_273
{
position:absolute;top:12360.54px;left:4557.52px;
}
.s_page70-71_274
{
position:absolute;top:12360.54px;left:4867.59px;
}
.s_page70-71_275
{
position:absolute;top:12360.54px;left:5286.86px;letter-spacing:-2.97px;
}
.s_page70-71_276
{
position:absolute;top:12360.54px;left:6097.33px;letter-spacing:-2.48px;
}
.s_page70-71_277
{
position:absolute;top:12360.54px;left:6373.81px;
}
.s_page70-71_278
{
position:absolute;top:12360.54px;left:6793.08px;letter-spacing:-0.18px;
}
.s_page70-71_279
{
position:absolute;top:12360.54px;left:7549.07px;letter-spacing:-5.62px;
}
.s_page70-71_280
{
position:absolute;top:12757.23px;left:0px;
}
.s_page70-71_281
{
position:absolute;top:12757.23px;left:642.49px;letter-spacing:-1.86px;
}
.s_page70-71_282
{
position:absolute;top:12757.23px;left:1160px;
}
.s_page70-71_283
{
position:absolute;top:12757.23px;left:3537.53px;
}
.s_page70-71_284
{
position:absolute;top:12757.23px;left:3770.57px;
}
.s_page70-71_285
{
position:absolute;top:12757.23px;left:4189.84px;
}
.s_page70-71_286
{
position:absolute;top:12757.23px;left:4977.5px;letter-spacing:-2.48px;
}
.s_page70-71_287
{
position:absolute;top:12757.23px;left:5258.06px;letter-spacing:-1.8px;
}
.s_page70-71_288
{
position:absolute;top:-11.04px;left:104.01px;
}
.s_page70-71_289
{
position:absolute;top:-21px;left:0px;letter-spacing:-6.27px;
}
.s_page70-71_290
{
position:absolute;top:-21px;left:615.43px;letter-spacing:-1.87px;
}
.s_page70-71_291
{
position:absolute;top:-21px;left:1459.9px;
}
.s_page70-71_292
{
position:absolute;top:12.6px;left:1625.66px;
}
.s_page70-71_293
{
position:absolute;top:12.6px;left:7941.45px;letter-spacing:-4.92px;
}
.s_page70-71_294
{
position:absolute;top:12.6px;left:8522px;letter-spacing:-0.38px;
}
.s_page70-71_295
{
position:absolute;top:12.6px;left:9323.11px;
}
.s_page70-71_296
{
position:absolute;top:845.98px;left:0px;
}
.s_page70-71_297
{
position:absolute;top:845.98px;left:212px;
}
.s_page70-71_298
{
position:absolute;top:845.98px;left:639.94px;letter-spacing:-0.52px;
}
.s_page70-71_299
{
position:absolute;top:845.98px;left:1422.33px;
}
.s_page70-71_300
{
position:absolute;top:845.98px;left:1853.13px;letter-spacing:-0.46px;
}
.s_page70-71_301
{
position:absolute;top:845.98px;left:8687.36px;
}
.s_page70-71_302
{
position:absolute;top:1242.68px;left:0px;
}
.s_page70-71_303
{
position:absolute;top:1242.68px;left:845.64px;letter-spacing:-1.04px;
}
.s_page70-71_304
{
position:absolute;top:1242.68px;left:1320px;letter-spacing:-1.56px;
}
.s_page70-71_305
{
position:absolute;top:1242.68px;left:1999.43px;letter-spacing:-2.48px;
}
.s_page70-71_306
{
position:absolute;top:1242.68px;left:2279.99px;letter-spacing:-0.93px;
}
.s_page70-71_307
{
position:absolute;top:1242.68px;left:3020.38px;
}
.s_page70-71_308
{
position:absolute;top:1242.68px;left:5198.12px;letter-spacing:-1.84px;
}
.s_page70-71_309
{
position:absolute;top:1242.68px;left:5760px;letter-spacing:-1.8px;
}
.s_page70-71_310
{
position:absolute;top:1242.68px;left:6211.44px;letter-spacing:-1.89px;
}
.s_page70-71_311
{
position:absolute;top:1242.68px;left:7083.82px;letter-spacing:-2.6px;
}
.s_page70-71_312
{
position:absolute;top:1242.68px;left:7845.09px;
}
.s_page70-71_313
{
position:absolute;top:1639.37px;left:0px;
}
.s_page70-71_314
{
position:absolute;top:1639.37px;left:810.6px;
}
.s_page70-71_315
{
position:absolute;top:1639.37px;left:1320px;letter-spacing:-0.29px;
}
.s_page70-71_316
{
position:absolute;top:1639.37px;left:1811.75px;
}
.s_page70-71_317
{
position:absolute;top:1639.37px;left:2074.54px;
}
.s_page70-71_318
{
position:absolute;top:1639.37px;left:5196.56px;letter-spacing:-2.96px;
}
.s_page70-71_319
{
position:absolute;top:1639.37px;left:5760px;
}
.s_page70-71_320
{
position:absolute;top:1639.37px;left:6675.59px;letter-spacing:-0.8px;
}
.s_page70-71_321
{
position:absolute;top:2036.06px;left:0px;
}
.s_page70-71_322
{
position:absolute;top:2036.06px;left:808.8px;letter-spacing:-1.28px;
}
.s_page70-71_323
{
position:absolute;top:2036.06px;left:1320px;letter-spacing:-1px;
}
.s_page70-71_324
{
position:absolute;top:2036.06px;left:5202.56px;letter-spacing:-1.36px;
}
.s_page70-71_325
{
position:absolute;top:2036.06px;left:5760px;letter-spacing:-1px;
}
.s_page70-71_326
{
position:absolute;top:2432.76px;left:0px;
}
.s_page70-71_327
{
position:absolute;top:2432.76px;left:810.84px;letter-spacing:-0.8px;
}
.s_page70-71_328
{
position:absolute;top:2432.76px;left:1320px;letter-spacing:-0.67px;
}
.s_page70-71_329
{
position:absolute;top:2432.76px;left:1894.31px;
}
.s_page70-71_330
{
position:absolute;top:2432.76px;left:5191.76px;
}
.s_page70-71_331
{
position:absolute;top:2432.76px;left:5760px;letter-spacing:-1.11px;
}
.s_page70-71_332
{
position:absolute;top:2432.76px;left:6694.55px;letter-spacing:-1.6px;
}
.s_page70-71_333
{
position:absolute;top:2432.76px;left:7252.29px;
}
.s_page70-71_334
{
position:absolute;top:2432.76px;left:7500.45px;letter-spacing:-1.5px;
}
.s_page70-71_335
{
position:absolute;top:2829.45px;left:0px;
}
.s_page70-71_336
{
position:absolute;top:2829.45px;left:812.04px;letter-spacing:-1.28px;
}
.s_page70-71_337
{
position:absolute;top:2829.45px;left:1320px;letter-spacing:-2.64px;
}
.s_page70-71_338
{
position:absolute;top:2829.45px;left:5198.12px;letter-spacing:-2px;
}
.s_page70-71_339
{
position:absolute;top:2829.45px;left:5760px;letter-spacing:-0.18px;
}
.s_page70-71_340
{
position:absolute;top:2829.45px;left:6641.51px;letter-spacing:-0.58px;
}
.s_page70-71_341
{
position:absolute;top:2829.45px;left:7919.01px;
}
.s_page70-71_342
{
position:absolute;top:2829.45px;left:8170.29px;
}
.s_page70-71_343
{
position:absolute;top:2829.45px;left:8585px;letter-spacing:-0.58px;
}
.s_page70-71_344
{
position:absolute;top:3226.14px;left:0px;
}
.s_page70-71_345
{
position:absolute;top:3226.14px;left:806.52px;letter-spacing:-1.28px;
}
.s_page70-71_346
{
position:absolute;top:3226.14px;left:1320px;letter-spacing:-0.32px;
}
.s_page70-71_347
{
position:absolute;top:3226.14px;left:2052.23px;
}
.s_page70-71_348
{
position:absolute;top:3226.14px;left:2800.78px;letter-spacing:-0.6px;
}
.s_page70-71_349
{
position:absolute;top:3226.14px;left:5219px;
}
.s_page70-71_350
{
position:absolute;top:3226.14px;left:5760px;letter-spacing:-0.42px;
}
.s_page70-71_351
{
position:absolute;top:3226.14px;left:6224.4px;letter-spacing:-0.51px;
}
.s_page70-71_352
{
position:absolute;top:3226.14px;left:7330.3px;letter-spacing:-0.88px;
}
.s_page70-71_353
{
position:absolute;top:3622.84px;left:0px;
}
.s_page70-71_354
{
position:absolute;top:3622.84px;left:826.08px;letter-spacing:-6.72px;
}
.s_page70-71_355
{
position:absolute;top:3622.84px;left:1320px;letter-spacing:-0.69px;
}
.s_page70-71_356
{
position:absolute;top:3622.84px;left:5192px;
}
.s_page70-71_357
{
position:absolute;top:3622.84px;left:5760px;letter-spacing:-1.64px;
}
.s_page70-71_358
{
position:absolute;top:3622.84px;left:6557.99px;letter-spacing:-0.36px;
}
.s_page70-71_359
{
position:absolute;top:3622.84px;left:7168.06px;
}
.s_page70-71_360
{
position:absolute;top:3622.84px;left:7423.42px;letter-spacing:-0.29px;
}
.s_page70-71_361
{
position:absolute;top:4250.84px;left:0px;
}
.s_page70-71_362
{
position:absolute;top:4250.84px;left:221.84px;
}
.s_page70-71_363
{
position:absolute;top:4250.84px;left:639.94px;
}
.s_page70-71_364
{
position:absolute;top:4250.84px;left:1015.05px;
}
.s_page70-71_365
{
position:absolute;top:4250.84px;left:1272.81px;letter-spacing:0px;
}
.s_page70-71_366
{
position:absolute;top:4250.84px;left:1703.6px;
}
.s_page70-71_367
{
position:absolute;top:4250.84px;left:8503.28px;letter-spacing:-0.83px;
}
.s_page70-71_368
{
position:absolute;top:4647.53px;left:0px;
}
.s_page70-71_369
{
position:absolute;top:4647.53px;left:791.28px;letter-spacing:-1.04px;
}
.s_page70-71_370
{
position:absolute;top:4647.53px;left:1160px;
}
.s_page70-71_371
{
position:absolute;top:4647.53px;left:3368.34px;
}
.s_page70-71_372
{
position:absolute;top:4647.53px;left:3601.38px;
}
.s_page70-71_373
{
position:absolute;top:4647.53px;left:4017.29px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page70-71_374
{
position:absolute;top:4647.53px;left:4510.48px;letter-spacing:-0.48px;
}
.s_page70-71_375
{
position:absolute;top:4647.53px;left:5375.67px;
}
.s_page70-71_376
{
position:absolute;top:4647.53px;left:5665.1px;
}
.s_page70-71_377
{
position:absolute;top:4647.53px;left:5997.73px;
}
.s_page70-71_378
{
position:absolute;top:4647.53px;left:6417.01px;letter-spacing:-0.12px;
}
.s_page70-71_379
{
position:absolute;top:4647.53px;left:7809.7px;letter-spacing:-2.48px;
}
.s_page70-71_380
{
position:absolute;top:4647.53px;left:8086.18px;
}
.s_page70-71_381
{
position:absolute;top:4647.53px;left:8505.45px;letter-spacing:-0.6px;
}
.s_page70-71_382
{
position:absolute;top:4987.53px;left:1160.06px;
}
.s_page70-71_383
{
position:absolute;top:4987.53px;left:1759.58px;letter-spacing:-2.48px;
}
.s_page70-71_384
{
position:absolute;top:4987.53px;left:2040.13px;letter-spacing:-1px;
}
.s_page70-71_385
{
position:absolute;top:4987.53px;left:2626.21px;
}
.s_page70-71_386
{
position:absolute;top:4987.53px;left:3093.96px;
}
.s_page70-71_387
{
position:absolute;top:4987.53px;left:3507.48px;letter-spacing:-0.43px;
}
.s_page70-71_388
{
position:absolute;top:4987.53px;left:4580.5px;letter-spacing:-0.21px;
}
.s_page70-71_389
{
position:absolute;top:4987.53px;left:5397.21px;
}
.s_page70-71_390
{
position:absolute;top:4987.53px;left:5686.64px;letter-spacing:-1.08px;
}
.s_page70-71_391
{
position:absolute;top:4987.53px;left:6358.87px;
}
.s_page70-71_392
{
position:absolute;top:4987.53px;left:6817.26px;
}
.s_page70-71_393
{
position:absolute;top:5440.91px;left:0px;
}
.s_page70-71_394
{
position:absolute;top:5440.91px;left:721.2px;
}
.s_page70-71_395
{
position:absolute;top:5440.91px;left:1160px;letter-spacing:-1.83px;
}
.s_page70-71_396
{
position:absolute;top:5440.91px;left:1913.59px;
}
.s_page70-71_397
{
position:absolute;top:5440.91px;left:2647.01px;
}
.s_page70-71_398
{
position:absolute;top:5440.91px;left:3951.63px;
}
.s_page70-71_399
{
position:absolute;top:5440.91px;left:4495.94px;
}
.s_page70-71_400
{
position:absolute;top:5440.91px;left:4733.06px;
}
.s_page70-71_401
{
position:absolute;top:5894.3px;left:0px;
}
.s_page70-71_402
{
position:absolute;top:5894.3px;left:717.6px;letter-spacing:-1.28px;
}
.s_page70-71_403
{
position:absolute;top:5894.3px;left:1160px;letter-spacing:-0.42px;
}
.s_page70-71_404
{
position:absolute;top:5894.3px;left:1624.4px;
}
.s_page70-71_405
{
position:absolute;top:5894.3px;left:2357.82px;letter-spacing:-0.37px;
}
.s_page70-71_406
{
position:absolute;top:5894.3px;left:3615.17px;
}
.s_page70-71_407
{
position:absolute;top:5894.3px;left:4518.75px;letter-spacing:-0.96px;
}
.s_page70-71_408
{
position:absolute;top:5894.3px;left:5160.73px;
}
.s_page70-71_409
{
position:absolute;top:5894.3px;left:5416.09px;letter-spacing:-1px;
}
.s_page70-71_410
{
position:absolute;top:5894.3px;left:6002.16px;
}
.s_page70-71_411
{
position:absolute;top:5894.3px;left:6239.28px;
}
.s_page70-71_412
{
position:absolute;top:6347.69px;left:0px;
}
.s_page70-71_413
{
position:absolute;top:6347.69px;left:721.68px;letter-spacing:-0.8px;
}
.s_page70-71_414
{
position:absolute;top:6347.69px;left:1160px;
}
.s_page70-71_415
{
position:absolute;top:6347.69px;left:3368.34px;
}
.s_page70-71_416
{
position:absolute;top:6347.69px;left:3605.46px;letter-spacing:-3px;
}
.s_page70-71_417
{
position:absolute;top:6347.69px;left:3796.98px;letter-spacing:-0.22px;
}
.s_page70-71_418
{
position:absolute;top:6347.69px;left:5201.92px;letter-spacing:-2.48px;
}
.s_page70-71_419
{
position:absolute;top:6347.69px;left:5482.48px;letter-spacing:-0.44px;
}
.s_page70-71_420
{
position:absolute;top:6347.69px;left:6206.31px;
}
.s_page70-71_421
{
position:absolute;top:6347.69px;left:6678.14px;letter-spacing:-1.33px;
}
.s_page70-71_422
{
position:absolute;top:6347.69px;left:7637.17px;letter-spacing:-0.41px;
}
.s_page70-71_423
{
position:absolute;top:6347.69px;left:8859.95px;
}
.s_page70-71_424
{
position:absolute;top:6687.69px;left:1160.06px;letter-spacing:-0.68px;
}
.s_page70-71_425
{
position:absolute;top:6687.69px;left:2409.49px;
}
.s_page70-71_426
{
position:absolute;top:7141.07px;left:0px;
}
.s_page70-71_427
{
position:absolute;top:7141.07px;left:724.08px;letter-spacing:-1.28px;
}
.s_page70-71_428
{
position:absolute;top:7141.07px;left:1160px;
}
.s_page70-71_429
{
position:absolute;top:7141.07px;left:3368.34px;
}
.s_page70-71_430
{
position:absolute;top:7141.07px;left:4177.37px;
}
.s_page70-71_431
{
position:absolute;top:7141.07px;left:4593.28px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page70-71_432
{
position:absolute;top:7141.07px;left:5091.03px;letter-spacing:-0.99px;
}
.s_page70-71_433
{
position:absolute;top:7141.07px;left:5871.26px;letter-spacing:-0.26px;
}
.s_page70-71_434
{
position:absolute;top:7141.07px;left:7141.56px;
}
.s_page70-71_435
{
position:absolute;top:7141.07px;left:7969.55px;
}
.s_page70-71_436
{
position:absolute;top:7141.07px;left:8224.9px;letter-spacing:-1.73px;
}
.s_page70-71_437
{
position:absolute;top:7594.46px;left:0px;
}
.s_page70-71_438
{
position:absolute;top:7594.46px;left:713.04px;letter-spacing:-1.28px;
}
.s_page70-71_439
{
position:absolute;top:7594.46px;left:1160px;
}
.s_page70-71_440
{
position:absolute;top:7594.46px;left:3368.34px;
}
.s_page70-71_441
{
position:absolute;top:7594.46px;left:3813.3px;
}
.s_page70-71_442
{
position:absolute;top:7594.46px;left:4232.57px;letter-spacing:-0.9px;
}
.s_page70-71_443
{
position:absolute;top:7594.46px;left:5048.55px;letter-spacing:-0.79px;
}
.s_page70-71_444
{
position:absolute;top:7594.46px;left:5953.1px;letter-spacing:-2.48px;
}
.s_page70-71_445
{
position:absolute;top:7594.46px;left:6233.66px;letter-spacing:-0.14px;
}
.s_page70-71_446
{
position:absolute;top:7594.46px;left:7362.36px;
}
.s_page70-71_447
{
position:absolute;top:7594.46px;left:7613.64px;
}
.s_page70-71_448
{
position:absolute;top:7594.46px;left:8028.35px;
}
.s_page70-71_449
{
position:absolute;top:7594.46px;left:8744.26px;letter-spacing:-0.48px;
}
.s_page70-71_450
{
position:absolute;top:8047.84px;left:0px;
}
.s_page70-71_451
{
position:absolute;top:8047.84px;left:752.16px;letter-spacing:-6.72px;
}
.s_page70-71_452
{
position:absolute;top:8047.84px;left:1160px;letter-spacing:-0.42px;
}
.s_page70-71_453
{
position:absolute;top:8047.84px;left:1619.84px;letter-spacing:-1.23px;
}
.s_page70-71_454
{
position:absolute;top:8047.84px;left:2470.86px;
}
.s_page70-71_455
{
position:absolute;top:8047.84px;left:3409.24px;
}
.s_page70-71_456
{
position:absolute;top:8047.84px;left:4258.59px;
}
.s_page70-71_457
{
position:absolute;top:8047.84px;left:5511.86px;letter-spacing:-2.57px;
}
.s_page70-71_458
{
position:absolute;top:8047.84px;left:6265.21px;
}
.s_page70-71_459
{
position:absolute;top:8047.84px;left:6498.24px;
}
.s_page70-71_460
{
position:absolute;top:8047.84px;left:6917.51px;
}
.s_page70-71_461
{
position:absolute;top:8501.23px;left:0px;
}
.s_page70-71_462
{
position:absolute;top:8501.23px;left:706.33px;letter-spacing:-1.2px;
}
.s_page70-71_463
{
position:absolute;top:8501.23px;left:1160px;letter-spacing:-3.6px;
}
.s_page70-71_464
{
position:absolute;top:8501.23px;left:1367.59px;
}
.s_page70-71_465
{
position:absolute;top:8501.23px;left:1999.51px;letter-spacing:-0.12px;
}
.s_page70-71_466
{
position:absolute;top:8501.23px;left:3425.81px;
}
.s_page70-71_467
{
position:absolute;top:8501.23px;left:4167.87px;
}
.s_page70-71_468
{
position:absolute;top:8501.23px;left:4894.34px;letter-spacing:-1.75px;
}
.s_page70-71_469
{
position:absolute;top:8501.23px;left:5473.93px;
}
.s_page70-71_470
{
position:absolute;top:8501.23px;left:7682.27px;
}
.s_page70-71_471
{
position:absolute;top:8501.23px;left:7919.39px;letter-spacing:-0.83px;
}
.s_page70-71_472
{
position:absolute;top:8501.23px;left:9177.93px;
}
.s_page70-71_473
{
position:absolute;top:8841.23px;left:1160.06px;
}
.s_page70-71_474
{
position:absolute;top:8841.23px;left:1492.7px;
}
.s_page70-71_475
{
position:absolute;top:8841.23px;left:1907.41px;letter-spacing:-1.23px;
}
.s_page70-71_476
{
position:absolute;top:8841.23px;left:2761.79px;
}
.s_page70-71_477
{
position:absolute;top:8841.23px;left:3495.22px;letter-spacing:-0.65px;
}
.s_page70-71_478
{
position:absolute;top:9294.61px;left:0px;
}
.s_page70-71_479
{
position:absolute;top:9294.61px;left:714.48px;letter-spacing:-2.48px;
}
.s_page70-71_480
{
position:absolute;top:9294.61px;left:1160px;letter-spacing:-1.37px;
}
.s_page70-71_481
{
position:absolute;top:9294.61px;left:1803.91px;letter-spacing:-5.64px;
}
.s_page70-71_482
{
position:absolute;top:9294.61px;left:2458.86px;
}
.s_page70-71_483
{
position:absolute;top:9294.61px;left:3270.52px;
}
.s_page70-71_484
{
position:absolute;top:9294.61px;left:3507.64px;
}
.s_page70-71_485
{
position:absolute;top:9294.61px;left:4305.39px;
}
.s_page70-71_486
{
position:absolute;top:9294.61px;left:5280.98px;
}
.s_page70-71_487
{
position:absolute;top:9294.61px;left:5601.13px;text-rendering:optimizeLegibility;letter-spacing:-0.9px;
}
.s_page70-71_488
{
position:absolute;top:9294.61px;left:6480.72px;letter-spacing:-1.87px;
}
.s_page70-71_489
{
position:absolute;top:9294.61px;left:7103.75px;
}
.s_page70-71_490
{
position:absolute;top:9748px;left:0px;
}
.s_page70-71_491
{
position:absolute;top:9748px;left:642.49px;letter-spacing:-1.86px;
}
.s_page70-71_492
{
position:absolute;top:9748px;left:1160px;
}
.s_page70-71_493
{
position:absolute;top:9748px;left:3368.34px;
}
.s_page70-71_494
{
position:absolute;top:9748px;left:3605.46px;
}
.s_page70-71_495
{
position:absolute;top:9748px;left:3937.85px;
}
.s_page70-71_496
{
position:absolute;top:9748px;left:4592.08px;letter-spacing:-1.15px;
}
.s_page70-71_497
{
position:absolute;top:9748px;left:5044px;
}
.s_page70-71_498
{
position:absolute;top:9748px;left:5914.94px;
}
.s_page70-71_499
{
position:absolute;top:9748px;left:6170.3px;letter-spacing:-1.27px;
}
.s_page70-71_500
{
position:absolute;top:9748px;left:6951.01px;letter-spacing:-0.96px;
}
.s_page70-71_501
{
position:absolute;top:10376px;left:0px;
}
.s_page70-71_502
{
position:absolute;top:10376px;left:219.93px;
}
.s_page70-71_503
{
position:absolute;top:10376px;left:639.94px;letter-spacing:-0.91px;
}
.s_page70-71_504
{
position:absolute;top:10376px;left:1574.49px;
}
.s_page70-71_505
{
position:absolute;top:10376px;left:2005.28px;letter-spacing:-0.5px;
}
.s_page70-71_506
{
position:absolute;top:10376px;left:3113.35px;
}
.s_page70-71_507
{
position:absolute;top:10376px;left:3593.59px;
}
.s_page70-71_508
{
position:absolute;top:10376px;left:4249.5px;
}
.s_page70-71_509
{
position:absolute;top:10376px;left:4680.3px;letter-spacing:-0.51px;
}
.s_page70-71_510
{
position:absolute;top:10376px;left:5697.17px;
}
.s_page70-71_511
{
position:absolute;top:10376px;left:5954.92px;
}
.s_page70-71_512
{
position:absolute;top:10376px;left:6385.72px;
}
.s_page70-71_513
{
position:absolute;top:10376px;left:7103.31px;letter-spacing:-0.31px;
}
.s_page70-71_514
{
position:absolute;top:10376px;left:8670.8px;letter-spacing:-1.02px;
}
.s_page70-71_515
{
position:absolute;top:13096.32px;left:0px;
}
.s_page70-71_516
{
position:absolute;top:13096.32px;left:652.77px;letter-spacing:-1.04px;
}
.s_page70-71_517
{
position:absolute;top:13096.32px;left:826.77px;
}
.s_page70-71_518
{
position:absolute;top:13096.32px;left:2853.93px;
}
.s_page70-71_519
{
position:absolute;top:13096.32px;left:3098px;
}
.s_page70-71_520
{
position:absolute;top:13096.32px;left:5059.88px;letter-spacing:-1.28px;
}
.s_page70-71_521
{
position:absolute;top:13096.32px;left:5307.55px;
}
.s_page70-71_522
{
position:absolute;top:13096.32px;left:7269.44px;letter-spacing:-0.8px;
}
.s_page70-71_523
{
position:absolute;top:13096.32px;left:7513.03px;
}
.s_page70-71_524
{
position:absolute;top:-5.54px;left:165.54px;
}

.page70_btn1 {
	position: absolute;
	top: 800px;
	left: 286px;
}
.page70_btn2 {
	position: absolute;
	top: 800px;
	left: 226px;
}
.page70_btn3 {
	position: absolute;
	top: 20px;
	left: 277px;
	display: none;
}
.page70_position1 {
	position: absolute;
	top: 159px;
	left: 245px;
}
.page70_position2 {
	position: absolute;
	top: 198px;
	left: 117px;
}
.page70_position3 {
	position: absolute;
	top: 237px;
	left: 217px;
}
.page70_position4 {
	position: absolute;
	top: 276px;
	left: 117px;
}
.page70_position5 {
	position: absolute;
	top: 297px;
	left: 396px;
}
.page70_position6 {
	position: absolute;
	top: 429px;
	left: 95px;
}
.page70_position7 {
	position: absolute;
	top: 429px;
	left: 191px;
}
.page70_position8 {
	position: absolute;
	top: 429px;
	left: 280px;
}
.page70_position9 {
	position: absolute;
	top: 429px;
	left: 373px;
}
.page70_position10 {
	position: absolute;
	top: 429px;
	left: 460px;
}
.page70_position11 {
	position: absolute;
	top: 488px;
	left: 116px;
}
.page70_position12 {
	position: absolute;
	top: 508px;
	left: 116px;
}
.page70_position13 {
	position: absolute;
	top: 527px;
	left: 116px;
}
.page70_position14 {
	position: absolute;
	top: 547px;
	left: 316px;
}
.page70_position15 {
	position: absolute;
	top: 567px;
	left: 318px;
}
.page70_position16 {
	position: absolute;
	top: 587px;
	left: 116px;
}
.page70_position17 {
	position: absolute;
	top: 624px;
	left: 117px;
}
.page70_position18 {
	position: absolute;
	top: 661px;
	left: 181px;
}
.page70_position19 {
	position: absolute;
	top: 697px;
	left: 117px;
}
.page70_position20 {
	position: absolute;
	top: 717px;
	left: 117px;
}

.head {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#score {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 22px;
	font-weight: bold;
	position: relative;
	text-align: center;
	color: green;
}
#score2 {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 22px;
	font-weight: bold;
	position: relative;
	text-align: center;
	color: green;
}
.head1 {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#btnYes {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-left: 140px;
	background-color: #5CD7E7;
	border-radius: 10px;
}
#btnNo {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	background-color: #5CD7E7;
	border-radius: 10px;
}
#btnYes1 {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-left: 140px;
	background-color: #5CD7E7;
	border-radius: 10px;
}
#btnNo1 {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	background-color: #5CD7E7;
	border-radius: 10px;
}
.italic {
	font-style: italic;
}

.page71_btn1 {
	position: absolute;
	top: 800px;
	left: 321px;
}
.page71_btn2 {
	position: absolute;
	top: 800px;
	left: 260px;
}
.page71_btn3 {
	position: absolute;
	top: 20px;
	left: 263px;
	display: none;
}
.page71_position21 {
	position: absolute;
	top: 311px;
	left: 103px;
}
.page71_position22 {
	position: absolute;
	top: 350px;
	left: 295px;
}
.page71_position23 {
	position: absolute;
	top: 373px;
	left: 371px;
}
.page71_position24 {
	position: absolute;
	top: 397px;
	left: 116px;
}
.page71_position25 {
	position: absolute;
	top: 436px;
	left: 117px;
}
.page71_position26 {
	position: absolute;
	top: 459px;
	left: 116px;
}
.page71_position27 {
	position: absolute;
	top: 482px;
	left: 405px;
}
.page71_position28 {
	position: absolute;
	top: 504px;
	left: 332px;
}
.page71_position29 {
	position: absolute;
	top: 544px;
	left: 414px;
}
.page71_position30 {
	position: absolute;
	top: 567px;
	left: 117px;
}
.page71_position31 {
	position: absolute;
	top: 734px;
	left: 94px;
}
.page71_position32 {
	position: absolute;
	top: 734px;
	left: 206px;
}
.page71_position33 {
	position: absolute;
	top: 734px;
	left: 321px;
}
.page71_position34 {
	position: absolute;
	top: 734px;
	left: 431px;
}


.circle_1 {
	position: absolute;
	top: 166px;
	left: 370px;
	display: none;
}
.circle_2 {
	position: absolute;
	top: 220px;
	left: 370px;
	display: none;
}
.circle_3 {
	position: absolute;
	top: 276px;
	left: 370px;
	display: none;
}
.circle_4 {
	position: absolute;
	top: 332px;
	left: 370px;
	display: none;
}
.circle_5 {
	position: absolute;
	top: 390px;
	left: 370px;
	display: none;
}
.circle_6 {
	position: absolute;
	top: 444px;
	left: 370px;
	display: none;
}
.circle_7 {
	position: absolute;
	top: 444px;
	left: 370px;
	display: none;
}
.width_1 {
	width: 20px;
	height: 20px;
	background-color: red;
	border: 0px solid black;
	text-align: center;
	border-radius: 20px;
	font-size: 13px;
	line-height: 17px;
	color: white;
}
.pagee71_btn1{
	position: absolute;
	top: 505px;
	left: 415px;
}
.pagee71_btn2{
	position: absolute;
	top: 218px;
	left: 45px;
}
.pagee71_btn3{
	position: absolute;
	top: 258px;
	left: 45px;
}
.pagee71_btn4{
	position: absolute;
	top: 317px;
	left: 45px;
}
.pagee71_btn5{
	position: absolute;
	top: 371px;
	left: 45px;
}
.pagee71_btn6{
	position: absolute;
	top: 443px;
	left: 45px;
}
.pagee71_btn7{
	position: absolute;
	top: 443px;
	left: 45px;
}
#l1
{
	position: absolute;
	top: 146px;
	left: 253px;
}
#l2
{
	position: absolute;
	top: 168px;
	left: 253px;
}
#l3
{
	position: absolute;
	top: 188px;
	left: 253px;
}
#l4
{
	position: absolute;
	top: 207px;
	left: 253px;
}
#l5
{
	position: absolute;
	top: 226px;
	left: 253px;
}
#l6
{
	position: absolute;
	top: 245px;
	left: 253px;
}
#l7
{
	position: absolute;
	top: 264px;
	left: 253px;
}
#r1
{
	position: absolute;
	top: 146px;
	left: 301px;
}
#r2
{
	position: absolute;
	top: 168px;
	left: 300px;
}
#r3
{
	position: absolute;
	top: 188px;
	left: 300px;
}
#r4
{
	position: absolute;
	top: 206px;
	left: 300px;
}
#r5
{
	position: absolute;
	top: 226px;
	left: 300px;
}
#r6
{
	position: absolute;
	top: 246px;
	left: 300px;
}
#r7
{
	position: absolute;
	top: 264px;
	left: 300px;
}
.match11 {
	height: 134px;
	display:none;
}
.match_image1
{
	position: absolute;
	top: 146px;
	left: 253px;
}
