.d_page08_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page08_2
{
width:9864.57px;height:847.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page08_3
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page08_4
{
width:556.72px;height:556.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-moz-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-ms-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-o-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);
}
.d_page08_5
{
width:556.72px;height:556.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-moz-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-ms-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-o-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);
}
.d_page08_6
{
width:556.72px;height:556.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-moz-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-ms-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-o-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);
}
.d_page08_7
{
width:556.72px;height:556.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-moz-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-ms-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-o-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);
}
.d_page08_8
{
width:556.72px;height:556.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-moz-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-ms-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-o-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);
}
.d_page08_9
{
width:556.72px;height:556.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-webkit-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-moz-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-ms-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);-o-transform: translate(1.2px,1.89px) rotate(0deg) scale(0.05);
}
.d_page08_10
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page08_11
{
width:3817.94px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page08_12
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page08_13
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page08_14
{
width:1028.79px;height:244.8px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.57px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.57px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.57px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.57px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.57px) rotate(0deg) scale(0.05);
}
.d_page08_15
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page08_16
{
width:3626.1px;height:560.19px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page08_17
{
width:8961.9px;height:4356.88px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page08_18
{
width:7938.96px;height:701.75px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page08_19
{
width:9029.92px;height:4065.11px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page08_20
{
width:446.4px;height:1255.1px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.68px) rotate(0deg) scale(0.05);
}
.d_page08_21
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page08_22
{
position:absolute;top:246.32px;left:543.94px;
}
.s_page08_23
{
position:absolute;top:212.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page08_24
{
position:absolute;top:212.72px;left:1750.26px;
}
.s_page08_25
{
position:absolute;top:212.72px;left:2553.85px;
}
.s_page08_26
{
position:absolute;top:212.72px;left:4058px;letter-spacing:-0.38px;
}
.s_page08_27
{
position:absolute;top:212.72px;left:5281.03px;letter-spacing:-2.8px;
}
.s_page08_28
{
position:absolute;top:212.72px;left:5613.95px;
}
.s_page08_29
{
position:absolute;top:212.72px;left:6116.54px;
}
.s_page08_30
{
position:absolute;top:212.72px;left:7213.86px;letter-spacing:-0.51px;
}
.s_page08_31
{
position:absolute;top:212.72px;left:8041.81px;
}
.s_page08_32
{
position:absolute;top:212.72px;left:8691.96px;
}
.s_page08_33
{
position:absolute;top:212.72px;left:9194.56px;
}
.s_page08_34
{
position:absolute;top:612.72px;left:659.95px;letter-spacing:-2.8px;
}
.s_page08_35
{
position:absolute;top:612.72px;left:992.87px;
}
.s_page08_36
{
position:absolute;top:612.72px;left:1495.47px;
}
.s_page08_37
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page08_38
{
position:absolute;top:5px;left:14.4px;
}
.s_page08_39
{
position:absolute;top:5px;left:14.4px;
}
.s_page08_40
{
position:absolute;top:5px;left:14.4px;
}
.s_page08_41
{
position:absolute;top:5px;left:14.4px;
}
.s_page08_42
{
position:absolute;top:5px;left:14.4px;
}
.s_page08_43
{
position:absolute;top:5px;left:14.4px;
}
.s_page08_44
{
position:absolute;top:-12.32px;left:0px;
}
.s_page08_45
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page08_46
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page08_47
{
position:absolute;top:-18px;left:0px;
}
.s_page08_48
{
position:absolute;top:-18px;left:480.47px;letter-spacing:-2.48px;
}
.s_page08_49
{
position:absolute;top:-18px;left:756.95px;
}
.s_page08_50
{
position:absolute;top:-18px;left:1176.22px;letter-spacing:-1.28px;
}
.s_page08_51
{
position:absolute;top:-18px;left:1868.85px;letter-spacing:-0.54px;
}
.s_page08_52
{
position:absolute;top:-18px;left:2881.64px;letter-spacing:-2.48px;
}
.s_page08_53
{
position:absolute;top:-18px;left:3158.12px;
}
.s_page08_54
{
position:absolute;top:342px;left:0px;letter-spacing:-0.18px;
}
.s_page08_55
{
position:absolute;top:342px;left:857.51px;letter-spacing:-0.41px;
}
.s_page08_56
{
position:absolute;top:342px;left:1597.42px;
}
.s_page08_57
{
position:absolute;top:342px;left:2016.69px;letter-spacing:-1.4px;
}
.s_page08_58
{
position:absolute;top:342px;left:2694.44px;
}
.s_page08_59
{
position:absolute;top:702px;left:0px;letter-spacing:-2.48px;
}
.s_page08_60
{
position:absolute;top:702px;left:280.56px;letter-spacing:-0.24px;
}
.s_page08_61
{
position:absolute;top:702px;left:880.55px;
}
.s_page08_62
{
position:absolute;top:702px;left:1751.5px;
}
.s_page08_63
{
position:absolute;top:702px;left:2085.33px;
}
.s_page08_64
{
position:absolute;top:702px;left:2500.04px;letter-spacing:-0.58px;
}
.s_page08_65
{
position:absolute;top:702px;left:3092.83px;
}
.s_page08_66
{
position:absolute;top:1062px;left:0px;letter-spacing:-2.48px;
}
.s_page08_67
{
position:absolute;top:1062px;left:276.48px;
}
.s_page08_68
{
position:absolute;top:1062px;left:695.75px;
}
.s_page08_69
{
position:absolute;top:1062px;left:1175.26px;letter-spacing:-1.6px;
}
.s_page08_70
{
position:absolute;top:1062px;left:1788.93px;
}
.s_page08_71
{
position:absolute;top:1062px;left:2044.28px;letter-spacing:-0.82px;
}
.s_page08_72
{
position:absolute;top:1062px;left:2789.71px;letter-spacing:-1.62px;
}
.s_page08_73
{
position:absolute;top:1062px;left:3205.14px;
}
.s_page08_74
{
position:absolute;top:1422px;left:0px;letter-spacing:-1.15px;
}
.s_page08_75
{
position:absolute;top:1422px;left:516.23px;
}
.s_page08_76
{
position:absolute;top:1422px;left:1558.77px;letter-spacing:-0.59px;
}
.s_page08_77
{
position:absolute;top:-11.04px;left:181.61px;
}
.s_page08_78
{
position:absolute;top:-24px;left:0px;letter-spacing:-1.33px;
}
.s_page08_79
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page08_80
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page08_81
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.38px;
}
.s_page08_82
{
position:absolute;top:-18px;left:633.83px;
}
.s_page08_83
{
position:absolute;top:-18px;left:1083.59px;letter-spacing:-0.96px;
}
.s_page08_84
{
position:absolute;top:-18px;left:1473.34px;
}
.s_page08_85
{
position:absolute;top:-18px;left:1811.73px;
}
.s_page08_86
{
position:absolute;top:-18px;left:2101.16px;letter-spacing:-1.17px;
}
.s_page08_87
{
position:absolute;top:342px;left:0px;
}
.s_page08_88
{
position:absolute;top:342px;left:664.07px;letter-spacing:-0.54px;
}
.s_page08_89
{
position:absolute;top:342px;left:1676.85px;letter-spacing:-2.48px;
}
.s_page08_90
{
position:absolute;top:342px;left:1953.33px;
}
.s_page08_91
{
position:absolute;top:342px;left:2368.04px;letter-spacing:-0.48px;
}
.s_page08_92
{
position:absolute;top:-18px;left:0px;
}
.s_page08_93
{
position:absolute;top:-18px;left:380px;letter-spacing:-1.11px;
}
.s_page08_94
{
position:absolute;top:-18px;left:1317.67px;
}
.s_page08_95
{
position:absolute;top:-18px;left:1573.02px;
}
.s_page08_96
{
position:absolute;top:-18px;left:2304.05px;
}
.s_page08_97
{
position:absolute;top:-18px;left:2762.44px;
}
.s_page08_98
{
position:absolute;top:-18px;left:2995.48px;
}
.s_page08_99
{
position:absolute;top:-18px;left:3414.75px;letter-spacing:-0.9px;
}
.s_page08_100
{
position:absolute;top:-18px;left:4230.73px;
}
.s_page08_101
{
position:absolute;top:-18px;left:5488.08px;letter-spacing:-0.65px;
}
.s_page08_102
{
position:absolute;top:-18px;left:6553.18px;
}
.s_page08_103
{
position:absolute;top:-18px;left:6804.46px;
}
.s_page08_104
{
position:absolute;top:-18px;left:7219.17px;letter-spacing:-0.41px;
}
.s_page08_105
{
position:absolute;top:-18px;left:7960.75px;letter-spacing:-0.64px;
}
.s_page08_106
{
position:absolute;top:-18px;left:8170.99px;letter-spacing:-0.66px;
}
.s_page08_107
{
position:absolute;top:342px;left:380px;
}
.s_page08_108
{
position:absolute;top:342px;left:916.15px;
}
.s_page08_109
{
position:absolute;top:342px;left:1230.3px;letter-spacing:-3px;
}
.s_page08_110
{
position:absolute;top:342px;left:1421.82px;letter-spacing:-0.69px;
}
.s_page08_111
{
position:absolute;top:342px;left:2223.64px;
}
.s_page08_112
{
position:absolute;top:342px;left:2513.07px;letter-spacing:-1.08px;
}
.s_page08_113
{
position:absolute;top:342px;left:3365.78px;
}
.s_page08_114
{
position:absolute;top:342px;left:3785.05px;
}
.s_page08_115
{
position:absolute;top:342px;left:4711.2px;
}
.s_page08_116
{
position:absolute;top:342px;left:5509.9px;letter-spacing:-1.3px;
}
.s_page08_117
{
position:absolute;top:342px;left:6091.17px;letter-spacing:-1.32px;
}
.s_page08_118
{
position:absolute;top:342px;left:6926.12px;letter-spacing:-0.72px;
}
.s_page08_119
{
position:absolute;top:342px;left:7970.1px;letter-spacing:-0.48px;
}
.s_page08_120
{
position:absolute;top:702px;left:380px;letter-spacing:-0.2px;
}
.s_page08_121
{
position:absolute;top:702px;left:1807.5px;
}
.s_page08_122
{
position:absolute;top:702px;left:2662.36px;
}
.s_page08_123
{
position:absolute;top:702px;left:2913.63px;
}
.s_page08_124
{
position:absolute;top:702px;left:3332.91px;
}
.s_page08_125
{
position:absolute;top:706.15px;left:3462.74px;letter-spacing:-2.1px;
}
.s_page08_126
{
position:absolute;top:702px;left:3595.66px;
}
.s_page08_127
{
position:absolute;top:702px;left:3660.94px;letter-spacing:-1.23px;
}
.s_page08_128
{
position:absolute;top:702px;left:4552.29px;
}
.s_page08_129
{
position:absolute;top:702px;left:4957.16px;
}
.s_page08_130
{
position:absolute;top:702px;left:5022.44px;
}
.s_page08_131
{
position:absolute;top:702px;left:5489.71px;letter-spacing:-0.86px;
}
.s_page08_132
{
position:absolute;top:702px;left:6099.3px;
}
.s_page08_133
{
position:absolute;top:702px;left:6433.14px;
}
.s_page08_134
{
position:absolute;top:702px;left:6746.33px;
}
.s_page08_135
{
position:absolute;top:702px;left:7165.6px;
}
.s_page08_136
{
position:absolute;top:702px;left:7619.19px;letter-spacing:-1.23px;
}
.s_page08_137
{
position:absolute;top:702px;left:8510.54px;
}
.s_page08_138
{
position:absolute;top:702px;left:8777.17px;
}
.s_page08_139
{
position:absolute;top:1133.09px;left:0px;letter-spacing:-1.28px;
}
.s_page08_140
{
position:absolute;top:1133.09px;left:380px;letter-spacing:-0.34px;
}
.s_page08_141
{
position:absolute;top:1133.09px;left:883.51px;
}
.s_page08_142
{
position:absolute;top:1133.09px;left:1537.75px;letter-spacing:-1.15px;
}
.s_page08_143
{
position:absolute;top:1133.09px;left:1989.66px;
}
.s_page08_144
{
position:absolute;top:1133.09px;left:2860.6px;
}
.s_page08_145
{
position:absolute;top:1133.09px;left:3111.88px;
}
.s_page08_146
{
position:absolute;top:1133.09px;left:3531.15px;letter-spacing:-1.04px;
}
.s_page08_147
{
position:absolute;top:1133.09px;left:4255.7px;letter-spacing:-0.58px;
}
.s_page08_148
{
position:absolute;top:1133.09px;left:5068.09px;letter-spacing:-2.48px;
}
.s_page08_149
{
position:absolute;top:1133.09px;left:5348.65px;letter-spacing:-0.96px;
}
.s_page08_150
{
position:absolute;top:1133.09px;left:5908.32px;letter-spacing:-0.66px;
}
.s_page08_151
{
position:absolute;top:1133.09px;left:6414.48px;letter-spacing:-1.2px;
}
.s_page08_152
{
position:absolute;top:1133.09px;left:7660.78px;letter-spacing:-3.12px;
}
.s_page08_153
{
position:absolute;top:1133.09px;left:7980.21px;
}
.s_page08_154
{
position:absolute;top:1493.09px;left:380px;
}
.s_page08_155
{
position:absolute;top:1493.09px;left:1474.86px;letter-spacing:-1.33px;
}
.s_page08_156
{
position:absolute;top:1493.09px;left:2435.33px;
}
.s_page08_157
{
position:absolute;top:1493.09px;left:3156.75px;letter-spacing:-0.18px;
}
.s_page08_158
{
position:absolute;top:1493.09px;left:4172.91px;
}
.s_page08_159
{
position:absolute;top:1493.09px;left:4428.26px;letter-spacing:-0.52px;
}
.s_page08_160
{
position:absolute;top:1493.09px;left:4849.69px;letter-spacing:-0.48px;
}
.s_page08_161
{
position:absolute;top:1493.09px;left:5181.12px;
}
.s_page08_162
{
position:absolute;top:1493.09px;left:5794.55px;letter-spacing:-0.27px;
}
.s_page08_163
{
position:absolute;top:1493.09px;left:6672.21px;letter-spacing:-1.32px;
}
.s_page08_164
{
position:absolute;top:1493.09px;left:7527.08px;
}
.s_page08_165
{
position:absolute;top:1493.09px;left:7764.19px;
}
.s_page08_166
{
position:absolute;top:1493.09px;left:8087.7px;letter-spacing:-1.14px;
}
.s_page08_167
{
position:absolute;top:1853.09px;left:380px;
}
.s_page08_168
{
position:absolute;top:1853.09px;left:1049.11px;letter-spacing:-0.44px;
}
.s_page08_169
{
position:absolute;top:1853.09px;left:1665.66px;
}
.s_page08_170
{
position:absolute;top:1853.09px;left:2342.69px;letter-spacing:-2.48px;
}
.s_page08_171
{
position:absolute;top:1853.09px;left:2623.25px;
}
.s_page08_172
{
position:absolute;top:1853.09px;left:3230.44px;
}
.s_page08_173
{
position:absolute;top:1853.09px;left:3904.11px;
}
.s_page08_174
{
position:absolute;top:1853.09px;left:4654.58px;text-rendering:optimizeLegibility;
}
.s_page08_175
{
position:absolute;top:1853.09px;left:4937.29px;letter-spacing:-0.61px;
}
.s_page08_176
{
position:absolute;top:1853.09px;left:5938.55px;letter-spacing:-0.9px;
}
.s_page08_177
{
position:absolute;top:1853.09px;left:6677.98px;
}
.s_page08_178
{
position:absolute;top:1853.09px;left:7573.88px;letter-spacing:-1.75px;
}
.s_page08_179
{
position:absolute;top:2284.18px;left:0px;letter-spacing:-1.28px;
}
.s_page08_180
{
position:absolute;top:2284.18px;left:380px;letter-spacing:-0.34px;
}
.s_page08_181
{
position:absolute;top:2284.18px;left:883.51px;letter-spacing:-1.15px;
}
.s_page08_182
{
position:absolute;top:2284.18px;left:1335.43px;
}
.s_page08_183
{
position:absolute;top:2284.18px;left:1590.78px;letter-spacing:-2.03px;
}
.s_page08_184
{
position:absolute;top:2284.18px;left:2585.1px;letter-spacing:-2.16px;
}
.s_page08_185
{
position:absolute;top:2284.18px;left:3516.52px;letter-spacing:-0.6px;
}
.s_page08_186
{
position:absolute;top:2284.18px;left:4149.39px;
}
.s_page08_187
{
position:absolute;top:2284.18px;left:4386.51px;letter-spacing:-3px;
}
.s_page08_188
{
position:absolute;top:2284.18px;left:4574.66px;text-rendering:optimizeLegibility;
}
.s_page08_189
{
position:absolute;top:2284.18px;left:5042.66px;letter-spacing:-0.27px;
}
.s_page08_190
{
position:absolute;top:2284.18px;left:6023.28px;letter-spacing:-2.48px;
}
.s_page08_191
{
position:absolute;top:2284.18px;left:6299.76px;
}
.s_page08_192
{
position:absolute;top:2284.18px;left:6719.03px;letter-spacing:-0.46px;
}
.s_page08_193
{
position:absolute;top:2284.18px;left:8163.81px;
}
.s_page08_194
{
position:absolute;top:2644.18px;left:380px;
}
.s_page08_195
{
position:absolute;top:2644.18px;left:851.83px;
}
.s_page08_196
{
position:absolute;top:2644.18px;left:1630.86px;letter-spacing:-2.48px;
}
.s_page08_197
{
position:absolute;top:2644.18px;left:1907.34px;
}
.s_page08_198
{
position:absolute;top:2644.18px;left:2326.61px;letter-spacing:-1.96px;
}
.s_page08_199
{
position:absolute;top:2644.18px;left:3122.45px;
}
.s_page08_200
{
position:absolute;top:2644.18px;left:3980.91px;letter-spacing:-0.48px;
}
.s_page08_201
{
position:absolute;top:2644.18px;left:4312.34px;
}
.s_page08_202
{
position:absolute;top:2644.18px;left:4978.33px;
}
.s_page08_203
{
position:absolute;top:2644.18px;left:5518.56px;letter-spacing:-0.45px;
}
.s_page08_204
{
position:absolute;top:2644.18px;left:6474.22px;
}
.s_page08_205
{
position:absolute;top:2644.18px;left:7351.89px;letter-spacing:-0.48px;
}
.s_page08_206
{
position:absolute;top:2644.18px;left:8134.76px;
}
.s_page08_207
{
position:absolute;top:2644.18px;left:8448.91px;
}
.s_page08_208
{
position:absolute;top:3004.18px;left:380px;letter-spacing:-0.26px;
}
.s_page08_209
{
position:absolute;top:3004.18px;left:1293.91px;
}
.s_page08_210
{
position:absolute;top:3004.18px;left:1531.02px;
}
.s_page08_211
{
position:absolute;top:3004.18px;left:1854.53px;
}
.s_page08_212
{
position:absolute;top:3004.18px;left:2464.6px;
}
.s_page08_213
{
position:absolute;top:3004.18px;left:3723.38px;letter-spacing:-0.65px;
}
.s_page08_214
{
position:absolute;top:3435.28px;left:0px;letter-spacing:-1.28px;
}
.s_page08_215
{
position:absolute;top:3435.28px;left:380px;letter-spacing:-0.34px;
}
.s_page08_216
{
position:absolute;top:3435.28px;left:883.51px;letter-spacing:-0.72px;
}
.s_page08_217
{
position:absolute;top:3435.28px;left:2186.93px;
}
.s_page08_218
{
position:absolute;top:3435.28px;left:3014.2px;
}
.s_page08_219
{
position:absolute;top:3435.28px;left:4398.26px;
}
.s_page08_220
{
position:absolute;top:3435.28px;left:4934.41px;
}
.s_page08_221
{
position:absolute;top:3435.28px;left:5268.25px;
}
.s_page08_222
{
position:absolute;top:3435.28px;left:5687.52px;
}
.s_page08_223
{
position:absolute;top:3435.28px;left:6393.59px;letter-spacing:-2.48px;
}
.s_page08_224
{
position:absolute;top:3435.28px;left:6670.06px;
}
.s_page08_225
{
position:absolute;top:3435.28px;left:7089.34px;letter-spacing:-1.6px;
}
.s_page08_226
{
position:absolute;top:3435.28px;left:7694.36px;letter-spacing:-2.31px;
}
.s_page08_227
{
position:absolute;top:3795.28px;left:380px;
}
.s_page08_228
{
position:absolute;top:3795.28px;left:617.11px;
}
.s_page08_229
{
position:absolute;top:3795.28px;left:1488.06px;
}
.s_page08_230
{
position:absolute;top:3795.28px;left:1736.21px;letter-spacing:-0.52px;
}
.s_page08_231
{
position:absolute;top:3795.28px;left:2373.65px;
}
.s_page08_232
{
position:absolute;top:3795.28px;left:3022.11px;letter-spacing:-0.64px;
}
.s_page08_233
{
position:absolute;top:3795.28px;left:3232.35px;letter-spacing:-0.66px;
}
.s_page08_234
{
position:absolute;top:3795.28px;left:3738.5px;
}
.s_page08_235
{
position:absolute;top:3795.28px;left:4274.65px;letter-spacing:-3.12px;
}
.s_page08_236
{
position:absolute;top:3795.28px;left:4594.08px;
}
.s_page08_237
{
position:absolute;top:3795.28px;left:5013.36px;
}
.s_page08_238
{
position:absolute;top:3795.28px;left:5889.35px;letter-spacing:-1.5px;
}
.s_page08_239
{
position:absolute;top:3795.28px;left:6883.89px;letter-spacing:-0.29px;
}
.s_page08_240
{
position:absolute;top:3795.28px;left:7476.93px;letter-spacing:-0.48px;
}
.s_page08_241
{
position:absolute;top:3795.28px;left:8185.64px;
}
.s_page08_242
{
position:absolute;top:3795.28px;left:8499.8px;letter-spacing:-3px;
}
.s_page08_243
{
position:absolute;top:4155.28px;left:380px;
}
.s_page08_244
{
position:absolute;top:4155.28px;left:1465.51px;letter-spacing:-2.4px;
}
.s_page08_245
{
position:absolute;top:4155.28px;left:1839.66px;
}
.s_page08_246
{
position:absolute;top:4155.28px;left:2207.09px;letter-spacing:-0.68px;
}
.s_page08_247
{
position:absolute;top:4155.28px;left:2794.6px;letter-spacing:-0.21px;
}
.s_page08_248
{
position:absolute;top:4155.28px;left:3750.03px;letter-spacing:-0.44px;
}
.s_page08_249
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.8px;
}
.s_page08_250
{
position:absolute;top:-18px;left:1760px;letter-spacing:-0.46px;
}
.s_page08_251
{
position:absolute;top:-18px;left:3680px;
}
.s_page08_252
{
position:absolute;top:-18px;left:4383.91px;
}
.s_page08_253
{
position:absolute;top:-18px;left:4803.18px;letter-spacing:-1.07px;
}
.s_page08_254
{
position:absolute;top:-18px;left:6720px;letter-spacing:-6.3px;
}
.s_page08_255
{
position:absolute;top:-18px;left:7080.71px;letter-spacing:-0.53px;
}
.s_page08_256
{
position:absolute;top:398.69px;left:0px;
}
.s_page08_257
{
position:absolute;top:398.69px;left:933.59px;letter-spacing:-1.58px;
}
.s_page08_258
{
position:absolute;top:398.69px;left:1760px;letter-spacing:-0.44px;
}
.s_page08_259
{
position:absolute;top:398.69px;left:2561.12px;letter-spacing:-0.38px;
}
.s_page08_260
{
position:absolute;top:398.69px;left:3680px;letter-spacing:-0.42px;
}
.s_page08_261
{
position:absolute;top:398.69px;left:4144.4px;letter-spacing:-1.4px;
}
.s_page08_262
{
position:absolute;top:398.69px;left:4822.15px;letter-spacing:-1.92px;
}
.s_page08_263
{
position:absolute;top:398.69px;left:5337.42px;letter-spacing:-2.48px;
}
.s_page08_264
{
position:absolute;top:398.69px;left:5617.98px;letter-spacing:-1.2px;
}
.s_page08_265
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.04px;
}
.s_page08_266
{
position:absolute;top:-18px;left:380px;letter-spacing:-0.34px;
}
.s_page08_267
{
position:absolute;top:-18px;left:883.51px;letter-spacing:-0.63px;
}
.s_page08_268
{
position:absolute;top:-18px;left:2241.41px;
}
.s_page08_269
{
position:absolute;top:-18px;left:2996.43px;letter-spacing:-2.48px;
}
.s_page08_270
{
position:absolute;top:-18px;left:3270.76px;letter-spacing:-0.56px;
}
.s_page08_271
{
position:absolute;top:-18px;left:3946.11px;
}
.s_page08_272
{
position:absolute;top:-18px;left:4654.09px;
}
.s_page08_273
{
position:absolute;top:-18px;left:4891.21px;
}
.s_page08_274
{
position:absolute;top:-18px;left:5762.15px;
}
.s_page08_275
{
position:absolute;top:-18px;left:6100.06px;letter-spacing:-0.68px;
}
.s_page08_276
{
position:absolute;top:-18px;left:6869.74px;letter-spacing:-1.73px;
}
.s_page08_277
{
position:absolute;top:-18px;left:8096.84px;
}
.s_page08_278
{
position:absolute;top:-18px;left:8352.2px;
}
.s_page08_279
{
position:absolute;top:342px;left:380px;
}
.s_page08_280
{
position:absolute;top:342px;left:711.2px;letter-spacing:-1.33px;
}
.s_page08_281
{
position:absolute;top:342px;left:1623.91px;letter-spacing:-0.18px;
}
.s_page08_282
{
position:absolute;top:342px;left:2347.49px;letter-spacing:-0.48px;
}
.s_page08_283
{
position:absolute;top:342px;left:2678.93px;letter-spacing:-0.2px;
}
.s_page08_284
{
position:absolute;top:342px;left:4102.34px;
}
.s_page08_285
{
position:absolute;top:342px;left:4647.85px;
}
.s_page08_286
{
position:absolute;top:342px;left:5165.05px;letter-spacing:-0.75px;
}
.s_page08_287
{
position:absolute;top:342px;left:5897.28px;
}
.s_page08_288
{
position:absolute;top:342px;left:6220.79px;
}
.s_page08_289
{
position:absolute;top:342px;left:6851.73px;letter-spacing:-1.87px;
}
.s_page08_290
{
position:absolute;top:342px;left:7463.48px;letter-spacing:-0.22px;
}
.s_page08_291
{
position:absolute;top:702px;left:380px;letter-spacing:-0.52px;
}
.s_page08_292
{
position:absolute;top:702px;left:1591.5px;
}
.s_page08_293
{
position:absolute;top:702px;left:2063.33px;
}
.s_page08_294
{
position:absolute;top:702px;left:2485.48px;letter-spacing:-0.61px;
}
.s_page08_295
{
position:absolute;top:702px;left:3490.82px;letter-spacing:-0.92px;
}
.s_page08_296
{
position:absolute;top:702px;left:4082.65px;
}
.s_page08_297
{
position:absolute;top:702px;left:4744.32px;
}
.s_page08_298
{
position:absolute;top:702px;left:6102.69px;
}
.s_page08_299
{
position:absolute;top:702px;left:6388.04px;
}
.s_page08_300
{
position:absolute;top:702px;left:6803.23px;
}
.s_page08_301
{
position:absolute;top:702px;left:7231.86px;letter-spacing:-2.48px;
}
.s_page08_302
{
position:absolute;top:702px;left:7508.34px;
}
.s_page08_303
{
position:absolute;top:702px;left:7927.61px;letter-spacing:-0.16px;
}
.s_page08_304
{
position:absolute;top:1133.09px;left:0px;letter-spacing:-0.8px;
}
.s_page08_305
{
position:absolute;top:1133.09px;left:380px;letter-spacing:-0.34px;
}
.s_page08_306
{
position:absolute;top:1133.09px;left:883.51px;letter-spacing:-0.18px;
}
.s_page08_307
{
position:absolute;top:1133.09px;left:1745.58px;letter-spacing:-1.15px;
}
.s_page08_308
{
position:absolute;top:1133.09px;left:2192.93px;letter-spacing:-0.66px;
}
.s_page08_309
{
position:absolute;top:1133.09px;left:2699.09px;
}
.s_page08_310
{
position:absolute;top:1133.09px;left:3235.24px;
}
.s_page08_311
{
position:absolute;top:1133.09px;left:3490.59px;letter-spacing:-3px;
}
.s_page08_312
{
position:absolute;top:1133.09px;left:3682.11px;
}
.s_page08_313
{
position:absolute;top:1133.09px;left:4325.06px;
}
.s_page08_314
{
position:absolute;top:1133.09px;left:4658.89px;
}
.s_page08_315
{
position:absolute;top:1133.09px;left:5078.16px;
}
.s_page08_316
{
position:absolute;top:1133.09px;left:5724.95px;letter-spacing:-2.48px;
}
.s_page08_317
{
position:absolute;top:1133.09px;left:6001.43px;
}
.s_page08_318
{
position:absolute;top:1133.09px;left:6420.7px;letter-spacing:-0.16px;
}
.s_page08_319
{
position:absolute;top:1133.09px;left:7502.37px;letter-spacing:-0.56px;
}
.s_page08_320
{
position:absolute;top:1133.09px;left:8135.72px;
}
.s_page08_321
{
position:absolute;top:1493.09px;left:380px;letter-spacing:-0.29px;
}
.s_page08_322
{
position:absolute;top:1493.09px;left:1518.79px;letter-spacing:-0.42px;
}
.s_page08_323
{
position:absolute;top:1493.09px;left:1983.18px;
}
.s_page08_324
{
position:absolute;top:1493.09px;left:2770.85px;letter-spacing:-1.15px;
}
.s_page08_325
{
position:absolute;top:1493.09px;left:3222.76px;letter-spacing:-2.48px;
}
.s_page08_326
{
position:absolute;top:1493.09px;left:3499.24px;
}
.s_page08_327
{
position:absolute;top:1493.09px;left:3918.51px;
}
.s_page08_328
{
position:absolute;top:1493.09px;left:4905.38px;
}
.s_page08_329
{
position:absolute;top:1493.09px;left:5603.52px;
}
.s_page08_330
{
position:absolute;top:1493.09px;left:6305.51px;letter-spacing:-0.22px;
}
.s_page08_331
{
position:absolute;top:1493.09px;left:7736.38px;
}
.s_page08_332
{
position:absolute;top:1493.09px;left:7938.69px;letter-spacing:-0.66px;
}
.s_page08_333
{
position:absolute;top:1493.09px;left:8444.84px;letter-spacing:-3px;
}
.s_page08_334
{
position:absolute;top:1853.09px;left:380px;letter-spacing:-0.92px;
}
.s_page08_335
{
position:absolute;top:1853.09px;left:1063.99px;
}
.s_page08_336
{
position:absolute;top:1853.09px;left:1715.82px;
}
.s_page08_337
{
position:absolute;top:1853.09px;left:2190.05px;
}
.s_page08_338
{
position:absolute;top:1853.09px;left:2441.32px;
}
.s_page08_339
{
position:absolute;top:1853.09px;left:2860.6px;letter-spacing:-0.18px;
}
.s_page08_340
{
position:absolute;top:1853.09px;left:3718.58px;
}
.s_page08_341
{
position:absolute;top:1853.09px;left:4438.57px;letter-spacing:-0.64px;
}
.s_page08_342
{
position:absolute;top:1853.09px;left:4648.8px;letter-spacing:-0.66px;
}
.s_page08_343
{
position:absolute;top:1853.09px;left:5154.96px;
}
.s_page08_344
{
position:absolute;top:1853.09px;left:6397.19px;letter-spacing:-0.68px;
}
.s_page08_345
{
position:absolute;top:1853.09px;left:7056.45px;letter-spacing:-0.36px;
}
.s_page08_346
{
position:absolute;top:1853.09px;left:7603.4px;
}
.s_page08_347
{
position:absolute;top:1853.09px;left:8072.11px;
}
.s_page08_348
{
position:absolute;top:1853.09px;left:8357.47px;
}
.s_page08_349
{
position:absolute;top:2213.09px;left:380px;letter-spacing:-1.17px;
}
.s_page08_350
{
position:absolute;top:2213.09px;left:1120.87px;letter-spacing:-2.48px;
}
.s_page08_351
{
position:absolute;top:2213.09px;left:1397.35px;
}
.s_page08_352
{
position:absolute;top:2213.09px;left:1816.62px;
}
.s_page08_353
{
position:absolute;top:2213.09px;left:2490.29px;
}
.s_page08_354
{
position:absolute;top:2213.09px;left:2915.08px;letter-spacing:-2.48px;
}
.s_page08_355
{
position:absolute;top:2213.09px;left:3191.08px;
}
.s_page08_356
{
position:absolute;top:2213.09px;left:3897.87px;
}
.s_page08_357
{
position:absolute;top:2213.09px;left:4100.18px;letter-spacing:-0.66px;
}
.s_page08_358
{
position:absolute;top:2213.09px;left:4606.33px;letter-spacing:-0.51px;
}
.s_page08_359
{
position:absolute;top:2644.18px;left:0px;letter-spacing:-1.28px;
}
.s_page08_360
{
position:absolute;top:2644.18px;left:380px;letter-spacing:-0.64px;
}
.s_page08_361
{
position:absolute;top:2644.18px;left:594.79px;
}
.s_page08_362
{
position:absolute;top:2644.18px;left:827.83px;
}
.s_page08_363
{
position:absolute;top:2644.18px;left:1242.54px;letter-spacing:-1.23px;
}
.s_page08_364
{
position:absolute;top:2644.18px;left:2096.93px;letter-spacing:-0.9px;
}
.s_page08_365
{
position:absolute;top:2644.18px;left:2912.91px;letter-spacing:-0.5px;
}
.s_page08_366
{
position:absolute;top:2644.18px;left:4438.33px;letter-spacing:-0.68px;
}
.s_page08_367
{
position:absolute;top:2644.18px;left:5131.92px;
}
.s_page08_368
{
position:absolute;top:2644.18px;left:5387.27px;letter-spacing:-0.68px;
}
.s_page08_369
{
position:absolute;top:2644.18px;left:6136.78px;letter-spacing:-1.75px;
}
.s_page08_370
{
position:absolute;top:2644.18px;left:6713.97px;letter-spacing:-0.64px;
}
.s_page08_371
{
position:absolute;top:2644.18px;left:6924.2px;letter-spacing:-0.66px;
}
.s_page08_372
{
position:absolute;top:2644.18px;left:7430.36px;
}
.s_page08_373
{
position:absolute;top:2644.18px;left:7966.5px;letter-spacing:-3.12px;
}
.s_page08_374
{
position:absolute;top:2644.18px;left:8285.94px;
}
.s_page08_375
{
position:absolute;top:3004.18px;left:380px;letter-spacing:-0.68px;
}
.s_page08_376
{
position:absolute;top:3004.18px;left:1205.11px;letter-spacing:-1.13px;
}
.s_page08_377
{
position:absolute;top:3004.18px;left:2026.38px;
}
.s_page08_378
{
position:absolute;top:3004.18px;left:2277.65px;
}
.s_page08_379
{
position:absolute;top:3004.18px;left:2696.93px;
}
.s_page08_380
{
position:absolute;top:3004.18px;left:3344.19px;letter-spacing:-2.48px;
}
.s_page08_381
{
position:absolute;top:3004.18px;left:3620.67px;
}
.s_page08_382
{
position:absolute;top:3004.18px;left:4039.94px;letter-spacing:-1.15px;
}
.s_page08_383
{
position:absolute;top:3004.18px;left:4487.77px;
}
.s_page08_384
{
position:absolute;top:3004.18px;left:4777.2px;
}
.s_page08_385
{
position:absolute;top:3004.18px;left:5309.76px;letter-spacing:-0.55px;
}
.s_page08_386
{
position:absolute;top:3004.18px;left:6342.7px;letter-spacing:-0.41px;
}
.s_page08_387
{
position:absolute;top:3004.18px;left:7396.04px;
}
.s_page08_388
{
position:absolute;top:3004.18px;left:8178.43px;letter-spacing:-0.21px;
}
.s_page08_389
{
position:absolute;top:3364.18px;left:380px;
}
.s_page08_390
{
position:absolute;top:3364.18px;left:1327.75px;
}
.s_page08_391
{
position:absolute;top:3364.18px;left:1799.58px;letter-spacing:-0.46px;
}
.s_page08_392
{
position:absolute;top:3364.18px;left:3080.68px;letter-spacing:-0.34px;
}
.s_page08_393
{
position:absolute;top:3364.18px;left:3584.19px;letter-spacing:-0.3px;
}
.s_page08_394
{
position:absolute;top:3364.18px;left:4992.25px;letter-spacing:-0.5px;
}
.s_page08_395
{
position:absolute;top:3364.18px;left:6516.47px;letter-spacing:-0.66px;
}
.s_page08_396
{
position:absolute;top:3364.18px;left:7022.62px;letter-spacing:-0.52px;
}
.s_page08_397
{
position:absolute;top:3364.18px;left:8071.41px;
}
.s_page08_398
{
position:absolute;top:3724.18px;left:380px;letter-spacing:-0.9px;
}
.s_page08_399
{
position:absolute;top:3724.18px;left:1190.95px;letter-spacing:-0.46px;
}
.s_page08_400
{
position:absolute;top:-18px;left:134.88px;
}
.s_page08_401
{
position:absolute;top:339.16px;left:150.6px;
}
.s_page08_402
{
position:absolute;top:696.33px;left:122.04px;
}
.s_page08_403
{
position:absolute;top:1053.5px;left:152.4px;
}
.s_page08_404
{
position:absolute;top:-5.54px;left:195.93px;
}

.page08_btn1 {
	position:absolute;
	top: 795px;
	left: 333px;
}
.page08_btn2 {
	position:absolute;
	top: 795px;
	left: 272px;
}
.page08_btn3 {
	position:absolute;
	top: 162px;
	left: 53PX;
}
.page08_btn4 {
	position:absolute;
	top: 431px;
	left: 33px;
}
.page08_btn5 {
	position:absolute;
	top: 216px;
	left: 53px;
}
.page08_btn6 {
	position:absolute;
	top: 275px;
	left: 53px;
}
.page08_btn5_1 {
	position:absolute;
	top: 509px;
	left: 33px;
}
.page08_item1 {
	position: absolute;
	top: 152px;
	left: 398px;
}
.page08_item2 {
	position: absolute;
	top: 181px;
	left: 398px;
}
.page08_item3 {
	position: absolute;
	top: 210px;
	left: 398px;
}
.page08_item4 {
	position: absolute;
	top: 239px;
	left: 398px;
}
.page08_item5 {
	position: absolute;
	top: 268px;
	left: 398px;
}
.page08_item6 {
	position: absolute;
	top: 297px;
	left: 398px;
}
.page08_item7 {
	position: absolute;
	top: 326px;
	left: 398px;
}
.page08_item8 {
	position: absolute;
	top: 355px;
	left: 398px;
}
.page08_item9 {
	position: absolute;
	top: 384px;
	left: 398px;
}
.page08_item10 {
	position: absolute;
	top: 413px;
	left: 398px;
}
.page08_item11 {
	position: absolute;
	top: 442px;
	left: 398px;
}
.page08_item12 {
	position: absolute;
	top: 471px;
	left: 398px;
}
.page08_item13 {
	position: absolute;
	top: 500px;
	left: 398px;
}
.page08_item14 {
	position: absolute;
	top: 529px;
	left: 398px;
}
.page08_item15 {
	position: absolute;
	top: 558px;
	left: 398px;
}
.page08_item16 {
	position: absolute;
	top: 587px;
	left: 398px;
}
.page08_item17 {
	position: absolute;
	top: 617px;
	left: 398px;
}

.page08_item18 {
	position: absolute;
	top: 182px;
	left: 51px;
}
.page08_item19 {
	position: absolute;
	top: 182px;
	left: 80px;
}
.page08_item20 {
	position: absolute;
	top: 182px;
	left: 109px;
}
.page08_item21 {
	position: absolute;
	top: 182px;
	left: 138px;
}
.page08_item22 {
	position: absolute;
	top: 182px;
	left: 167px;
}
.page08_item23 {
	position: absolute;
	top: 182px;
	left: 196px;
}
.page08_item24 {
	position: absolute;
	top: 182px;
	left: 225px;
}
.page08_item25 {
	position: absolute;
	top: 182px;
	left: 254px;
}
.page08_item26 {
	position: absolute;
	top: 182px;
	left: 283px;
}
.page08_item27 {
	position: absolute;
	top: 182px;
	left: 312px;
}
.page08_item28 {
	position: absolute;
	top: 182px;
	left: 341px;
}
.page08_item29 {
	position: absolute;
	top: 182px;
	left: 370px;
}
.page08_item30 {
	position: absolute;
	top: 182px;
	left: 398px;
}
.page08_item31 {
	position: absolute;
	top: 182px;
	left: 427px;
}
.page08_item32 {
	position: absolute;
	top: 182px;
	left: 456px;
}

.page08_item33 {
	position: absolute;
	top: 182px;
	left: 485px;
}
.page08_item34 {
	position: absolute;
	top: 240px;
	left: 225px;
}
.page08_item35 {
	position: absolute;
	top: 240px;
	left: 254px;
}
.page08_item36 {
	position: absolute;
	top: 240px;
	left: 283px;
}
.page08_item37 {
	position: absolute;
	top: 240px;
	left: 312px;
}
.page08_item38 {
	position: absolute;
	top: 240px;
	left: 341px;
}
.page08_item39 {
	position: absolute;
	top: 240px;
	left: 370px;
}
.page08_item40 {
	position: absolute;
	top: 240px;
	left: 398px;
}
.page08_item41 {
	position: absolute;
	top: 240px;
	left: 427px;
}
.page08_item42 {
	position: absolute;
	top: 240px;
	left: 456px;
}
.page08_item43 {
	position: absolute;
	top: 240px;
	left: 485px;
}
.page08_item44 {
	position: absolute;
	top: 240px;
	left: 514px;
}

.page08_item45 {
	position: absolute;
	top: 298px;
	left: 311px;
}
.page08_item46 {
	position: absolute;
	top: 327px;
	left: 311px;
}
.page08_item47 {
	position: absolute;
	top: 356px;
	left: 311px;
}
.page08_item48 {
	position: absolute;
	top: 384px;
	left: 311px;
}
.page08_item49 {
	position: absolute;
	top: 413px;
	left: 311px;
}

.page08_item50 {
	position: absolute;
	top: 327px;
	left: 166px;
}
.page08_item51 {
	position: absolute;
	top: 327px;
	left: 195px;
}
.page08_item52 {
	position: absolute;
	top: 327px;
	left: 224px;
}
.page08_item53 {
	position: absolute;
	top: 327px;
	left: 253px;
}
.page08_item54 {
	position: absolute;
	top: 327px;
	left: 282px;
}
.page08_item55 {
	position: absolute;
	top: 327px;
	left: 311px;
}
.page08_item56 {
	position: absolute;
	top: 327px;
	left: 340px;
}
.page08_item57 {
	position: absolute;
	top: 327px;
	left: 369px;
}
.page08_item58 {
	position: absolute;
	top: 327px;
	left: 398px;
}
.page08_item59 {
	position: absolute;
	top: 327px;
	left: 427px;
}
.page08_item60 {
	position: absolute;
	top: 327px;
	left: 456px;
}

.page08_item61 {
	position: absolute;
	top: 558px;
	left: 79px;
}
.page08_item62 {
	position: absolute;
	top: 558px;
	left: 108px;
}
.page08_item63 {
	position: absolute;
	top: 558px;
	left: 137px;
}
.page08_item64 {
	position: absolute;
	top: 558px;
	left: 166px;
}
.page08_item65 {
	position: absolute;
	top: 558px;
	left: 195px;
}
.page08_item66 {
	position: absolute;
	top: 558px;
	left: 224px;
}
.page08_item67 {
	position: absolute;
	top: 558px;
	left: 253px;
}
.page08_item68 {
	position: absolute;
	top: 558px;
	left: 282px;
}

.page08_item69 {
	position: absolute;
	top: 327px;
	left: 166px;
}
.page08_item70 {
	position: absolute;
	top: 355px;
	left: 166px;
}
.page08_item71 {
	position: absolute;
	top: 383px;
	left: 166px;
}
.page08_item72 {
	position: absolute;
	top: 412px;
	left: 166px;
}
.page08_item73 {
	position: absolute;
	top: 441px;
	left: 166px;
}
.page08_item74 {
	position: absolute;
	top: 470px;
	left: 166px;
}
.page08_item75 {
	position: absolute;
	top: 499px;
	left: 166px;
}
.page08_item76 {
	position: absolute;
	top: 528px;
	left: 166px;
}
.page08_item77 {
	position: absolute;
	top: 558px;
	left: 166px;
}

.position_9 {
	position: absolute;
	top: 677px;
	left: 264px;
}

.position_8 {
	position: absolute;
	top: 625px;
	left: 175px;
}
