.d_page20_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page20_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page20_3
{
width:9864.57px;height:859.3px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page20_4
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page20_5
{
width:2956.78px;height:1162.04px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_6
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page20_7
{
width:5143.13px;height:1320.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_8
{
width:6538.07px;height:903.62px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_9
{
width:6508.8px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_10
{
width:6739.49px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_11
{
width:6422.4px;height:979.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_12
{
width:6623.66px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_13
{position:absolute;overflow:hidden;left: 0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_page20_14
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page20_15
{
width:4479.07px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);
}
.d_page20_16
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page20_17
{
width:3110.63px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_18
{
width:6015.44px;height:1016.99px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_19
{
width:9691.66px;height:883.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page20_20
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page20_21
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_22
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_23
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_24
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_25
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_26
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_27
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_28
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_29
{
width:2292.2px;height:259.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page20_30
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_31
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_32
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_33
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_34
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_35
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_36
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_37
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.d_page20_38
{
width:386.4px;height:419.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(2px,2px) rotate(0deg) scale(0.05);-webkit-transform: translate(2px,2px) rotate(0deg) scale(0.05);-moz-transform: translate(2px,2px) rotate(0deg) scale(0.05);-ms-transform: translate(2px,2px) rotate(0deg) scale(0.05);-o-transform: translate(2px,2px) rotate(0deg) scale(0.05);
}
.s_page20_39
{
position:absolute;top:-11.04px;left:111.21px;
}
.s_page20_40
{
position:absolute;top:212.72px;left:543.94px;
}
.s_page20_41
{
position:absolute;top:212.72px;left:659.95px;letter-spacing:-1.06px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_42
{
position:absolute;top:212.72px;left:1717.55px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_43
{
position:absolute;top:212.72px;left:2497.03px;letter-spacing:-0.92px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_44
{
position:absolute;top:212.72px;left:3356.1px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_45
{
position:absolute;top:212.72px;left:4210.81px;letter-spacing:-0.52px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_46
{
position:absolute;top:212.72px;left:5013.38px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_47
{
position:absolute;top:212.72px;left:6029.15px;letter-spacing:-2.24px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_48
{
position:absolute;top:212.72px;left:6684.79px;letter-spacing:-0.59px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_49
{
position:absolute;top:212.72px;left:7835.55px;letter-spacing:-0.73px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_50
{
position:absolute;top:212.72px;left:8522.42px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_51
{
position:absolute;top:212.72px;left:9009.94px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_52
{
position:absolute;top:612.72px;left:659.95px;-webkit-transform-origin: 0% 235.20px;-moz-transform-origin: 0% 235.20px;-ms-transform-origin: 0% 235.20px;-o-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page20_53
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page20_54
{
position:absolute;top:-18px;left:0px;
}
.s_page20_55
{
position:absolute;top:-18px;left:1880px;
}
.s_page20_56
{
position:absolute;top:398.69px;left:0px;
}
.s_page20_57
{
position:absolute;top:398.69px;left:509.75px;
}
.s_page20_58
{
position:absolute;top:398.69px;left:1065.82px;
}
.s_page20_59
{
position:absolute;top:398.69px;left:1880px;letter-spacing:-1.04px;
}
.s_page20_60
{
position:absolute;top:815.38px;left:0px;
}
.s_page20_61
{
position:absolute;top:815.38px;left:726.95px;letter-spacing:-0.52px;
}
.s_page20_62
{
position:absolute;top:815.38px;left:2042.13px;letter-spacing:-1.92px;
}
.s_page20_63
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page20_64
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page20_65
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page20_66
{
position:absolute;top:-18px;left:464.4px;
}
.s_page20_67
{
position:absolute;top:-18px;left:1183.43px;
}
.s_page20_68
{
position:absolute;top:-18px;left:1760.37px;letter-spacing:-1.92px;
}
.s_page20_69
{
position:absolute;top:-18px;left:2304.92px;letter-spacing:-3px;
}
.s_page20_70
{
position:absolute;top:-18px;left:2496.44px;letter-spacing:-0.66px;
}
.s_page20_71
{
position:absolute;top:-18px;left:3021.31px;letter-spacing:-0.43px;
}
.s_page20_72
{
position:absolute;top:342px;left:0px;
}
.s_page20_73
{
position:absolute;top:342px;left:65.28px;
}
.s_page20_74
{
position:absolute;top:342px;left:854.39px;
}
.s_page20_75
{
position:absolute;top:342px;left:1437.09px;letter-spacing:-0.59px;
}
.s_page20_76
{
position:absolute;top:342px;left:2487.32px;
}
.s_page20_77
{
position:absolute;top:342px;left:2742.67px;letter-spacing:-3px;
}
.s_page20_78
{
position:absolute;top:342px;left:2934.19px;letter-spacing:-0.79px;
}
.s_page20_79
{
position:absolute;top:342px;left:3662.09px;letter-spacing:-3.7px;
}
.s_page20_80
{
position:absolute;top:702px;left:0px;letter-spacing:-0.28px;
}
.s_page20_81
{
position:absolute;top:702px;left:640.07px;letter-spacing:-2.48px;
}
.s_page20_82
{
position:absolute;top:702px;left:920.63px;letter-spacing:-3px;
}
.s_page20_83
{
position:absolute;top:702px;left:1112.15px;letter-spacing:-1.06px;
}
.s_page20_84
{
position:absolute;top:702px;left:2016.69px;letter-spacing:-0.29px;
}
.s_page20_85
{
position:absolute;top:702px;left:3001.88px;letter-spacing:-1.08px;
}
.s_page20_86
{
position:absolute;top:702px;left:3747.31px;
}
.s_page20_87
{
position:absolute;top:702px;left:4205.7px;
}
.s_page20_88
{
position:absolute;top:1062px;left:0px;
}
.s_page20_89
{
position:absolute;top:1062px;left:454.31px;
}
.s_page20_90
{
position:absolute;top:1062px;left:791.03px;
}
.s_page20_91
{
position:absolute;top:-18px;left:0px;
}
.s_page20_92
{
position:absolute;top:-18px;left:331.28px;letter-spacing:-1.04px;
}
.s_page20_93
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.64px;
}
.s_page20_94
{
position:absolute;top:-18px;left:854.73px;
}
.s_page20_95
{
position:absolute;top:-18px;left:1087.76px;letter-spacing:0px;
}
.s_page20_96
{
position:absolute;top:-18px;left:1507.04px;
}
.s_page20_97
{
position:absolute;top:-18px;left:2437.02px;letter-spacing:-1.3px;
}
.s_page20_98
{
position:absolute;top:-18px;left:2943.41px;letter-spacing:-2.48px;
}
.s_page20_99
{
position:absolute;top:-18px;left:3223.97px;
}
.s_page20_100
{
position:absolute;top:-18px;left:3872.44px;letter-spacing:-0.64px;
}
.s_page20_101
{
position:absolute;top:-18px;left:4087.23px;letter-spacing:-2px;
}
.s_page20_102
{
position:absolute;top:-18px;left:4824.26px;letter-spacing:-1.92px;
}
.s_page20_103
{
position:absolute;top:-18px;left:5368.81px;letter-spacing:-3px;
}
.s_page20_104
{
position:absolute;top:-18px;left:5555.77px;
}
.s_page20_105
{
position:absolute;top:342px;left:639.94px;letter-spacing:-2.5px;
}
.s_page20_106
{
position:absolute;top:342px;left:1185.69px;letter-spacing:-3.12px;
}
.s_page20_107
{
position:absolute;top:342px;left:1509.2px;letter-spacing:-0.65px;
}
.s_page20_108
{
position:absolute;top:342px;left:2653.03px;
}
.s_page20_109
{
position:absolute;top:342px;left:2976.54px;
}
.s_page20_110
{
position:absolute;top:342px;left:3645.17px;letter-spacing:-1.44px;
}
.s_page20_111
{
position:absolute;top:342px;left:4271.55px;
}
.s_page20_112
{
position:absolute;top:342px;left:4978.35px;letter-spacing:-0.58px;
}
.s_page20_113
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.38px;
}
.s_page20_114
{
position:absolute;top:702px;left:1569.69px;
}
.s_page20_115
{
position:absolute;top:702px;left:2151.68px;letter-spacing:-1.68px;
}
.s_page20_116
{
position:absolute;top:702px;left:2565.91px;letter-spacing:-1.3px;
}
.s_page20_117
{
position:absolute;top:702px;left:3068.22px;
}
.s_page20_118
{
position:absolute;top:-18px;left:0px;
}
.s_page20_119
{
position:absolute;top:-18px;left:261.2px;
}
.s_page20_120
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.64px;
}
.s_page20_121
{
position:absolute;top:-18px;left:854.73px;
}
.s_page20_122
{
position:absolute;top:-18px;left:1091.84px;letter-spacing:0px;
}
.s_page20_123
{
position:absolute;top:-18px;left:1424.24px;letter-spacing:-2.14px;
}
.s_page20_124
{
position:absolute;top:-18px;left:2582.94px;letter-spacing:-1.3px;
}
.s_page20_125
{
position:absolute;top:-18px;left:3084.77px;
}
.s_page20_126
{
position:absolute;top:-18px;left:3621.16px;
}
.s_page20_127
{
position:absolute;top:-18px;left:4553.06px;
}
.s_page20_128
{
position:absolute;top:342px;left:639.94px;text-rendering:optimizeLegibility;
}
.s_page20_129
{
position:absolute;top:342px;left:1638.79px;letter-spacing:-0.48px;
}
.s_page20_130
{
position:absolute;top:342px;left:1970.23px;letter-spacing:-1.34px;
}
.s_page20_131
{
position:absolute;top:342px;left:2718.3px;
}
.s_page20_132
{
position:absolute;top:342px;left:3172.61px;
}
.s_page20_133
{
position:absolute;top:342px;left:3509.32px;
}
.s_page20_134
{
position:absolute;top:342px;left:4098.75px;
}
.s_page20_135
{
position:absolute;top:342px;left:4961.54px;letter-spacing:-2.48px;
}
.s_page20_136
{
position:absolute;top:342px;left:5242.1px;letter-spacing:-0.43px;
}
.s_page20_137
{
position:absolute;top:342px;left:5871.61px;
}
.s_page20_138
{
position:absolute;top:702px;left:639.94px;
}
.s_page20_139
{
position:absolute;top:702px;left:929.37px;letter-spacing:-1.17px;
}
.s_page20_140
{
position:absolute;top:702px;left:1947.67px;letter-spacing:-0.36px;
}
.s_page20_141
{
position:absolute;top:702px;left:2858.21px;letter-spacing:-0.27px;
}
.s_page20_142
{
position:absolute;top:-18px;left:0px;
}
.s_page20_143
{
position:absolute;top:-18px;left:257.6px;letter-spacing:-1.28px;
}
.s_page20_144
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.34px;
}
.s_page20_145
{
position:absolute;top:-18px;left:1139.37px;letter-spacing:-1.3px;
}
.s_page20_146
{
position:absolute;top:-18px;left:1645.76px;
}
.s_page20_147
{
position:absolute;top:-18px;left:1882.87px;letter-spacing:-0.83px;
}
.s_page20_148
{
position:absolute;top:-18px;left:3145.5px;letter-spacing:-0.93px;
}
.s_page20_149
{
position:absolute;top:-18px;left:3943.01px;letter-spacing:-3.12px;
}
.s_page20_150
{
position:absolute;top:-18px;left:4266.52px;
}
.s_page20_151
{
position:absolute;top:-18px;left:5078.91px;
}
.s_page20_152
{
position:absolute;top:-18px;left:5550.74px;letter-spacing:-0.13px;
}
.s_page20_153
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.48px;
}
.s_page20_154
{
position:absolute;top:342px;left:971.37px;letter-spacing:-1.1px;
}
.s_page20_155
{
position:absolute;top:342px;left:1513.28px;
}
.s_page20_156
{
position:absolute;top:342px;left:2036.23px;
}
.s_page20_157
{
position:absolute;top:342px;left:2273.34px;
}
.s_page20_158
{
position:absolute;top:342px;left:2862.77px;
}
.s_page20_159
{
position:absolute;top:342px;left:3114.77px;letter-spacing:-0.68px;
}
.s_page20_160
{
position:absolute;top:342px;left:3734.67px;
}
.s_page20_161
{
position:absolute;top:342px;left:4954.82px;
}
.s_page20_162
{
position:absolute;top:342px;left:5426.65px;letter-spacing:-0.59px;
}
.s_page20_163
{
position:absolute;top:702px;left:639.94px;letter-spacing:-0.72px;
}
.s_page20_164
{
position:absolute;top:-18px;left:0px;
}
.s_page20_165
{
position:absolute;top:-18px;left:261.68px;letter-spacing:-0.8px;
}
.s_page20_166
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.64px;
}
.s_page20_167
{
position:absolute;top:-18px;left:854.73px;
}
.s_page20_168
{
position:absolute;top:-18px;left:1091.84px;letter-spacing:-0.82px;
}
.s_page20_169
{
position:absolute;top:-18px;left:1772.23px;letter-spacing:-0.7px;
}
.s_page20_170
{
position:absolute;top:-18px;left:3221.1px;
}
.s_page20_171
{
position:absolute;top:-18px;left:3689.81px;
}
.s_page20_172
{
position:absolute;top:-18px;left:3979.24px;
}
.s_page20_173
{
position:absolute;top:-18px;left:4302.75px;letter-spacing:-0.37px;
}
.s_page20_174
{
position:absolute;top:342px;left:639.94px;letter-spacing:-1.17px;
}
.s_page20_175
{
position:absolute;top:342px;left:1444.4px;letter-spacing:-0.64px;
}
.s_page20_176
{
position:absolute;top:342px;left:1659.2px;
}
.s_page20_177
{
position:absolute;top:342px;left:1896.31px;
}
.s_page20_178
{
position:absolute;top:342px;left:2509.74px;letter-spacing:-0.93px;
}
.s_page20_179
{
position:absolute;top:342px;left:3303.17px;
}
.s_page20_180
{
position:absolute;top:342px;left:3592.6px;letter-spacing:-0.14px;
}
.s_page20_181
{
position:absolute;top:342px;left:4729.22px;
}
.s_page20_182
{
position:absolute;top:342px;left:5043.38px;letter-spacing:-3.22px;
}
.s_page20_183
{
position:absolute;top:342px;left:5596.33px;letter-spacing:-1.06px;
}
.s_page20_184
{
position:absolute;top:702px;left:639.94px;
}
.s_page20_185
{
position:absolute;top:702px;left:1604.72px;letter-spacing:-0.21px;
}
.s_page20_186
{
position:absolute;top:702px;left:3234.3px;letter-spacing:-0.92px;
}
.s_page20_187
{
position:absolute;top:702px;left:3932.21px;
}
.s_page20_188
{
position:absolute;top:702px;left:4402.84px;
}
.s_page20_189
{
position:absolute;top:702px;left:4972.83px;letter-spacing:-1.3px;
}
.s_page20_190
{
position:absolute;top:-18px;left:0px;
}
.s_page20_191
{
position:absolute;top:-18px;left:264.08px;letter-spacing:-1.28px;
}
.s_page20_192
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.64px;
}
.s_page20_193
{
position:absolute;top:-18px;left:854.73px;
}
.s_page20_194
{
position:absolute;top:-18px;left:1091.84px;letter-spacing:-3px;
}
.s_page20_195
{
position:absolute;top:-18px;left:1283.36px;letter-spacing:-0.93px;
}
.s_page20_196
{
position:absolute;top:-18px;left:2468px;letter-spacing:-0.68px;
}
.s_page20_197
{
position:absolute;top:-18px;left:3161.58px;letter-spacing:-0.2px;
}
.s_page20_198
{
position:absolute;top:-18px;left:4761.17px;letter-spacing:-1.08px;
}
.s_page20_199
{
position:absolute;top:-18px;left:5323.96px;letter-spacing:-0.48px;
}
.s_page20_200
{
position:absolute;top:-18px;left:5655.39px;
}
.s_page20_201
{
position:absolute;top:-18px;left:6140.18px;
}
.s_page20_202
{
position:absolute;top:342px;left:639.94px;
}
.s_page20_203
{
position:absolute;top:342px;left:877.05px;letter-spacing:-1.56px;
}
.s_page20_204
{
position:absolute;top:342px;left:1634.72px;
}
.s_page20_205
{
position:absolute;top:342px;left:1890.07px;letter-spacing:-1.17px;
}
.s_page20_206
{
position:absolute;top:342px;left:2630.94px;
}
.s_page20_207
{
position:absolute;top:342px;left:3102.78px;
}
.s_page20_208
{
position:absolute;top:342px;left:3339.89px;
}
.s_page20_209
{
position:absolute;top:342px;left:4024.12px;letter-spacing:-2.45px;
}
.s_page20_210
{
position:absolute;top:342px;left:4549.47px;letter-spacing:-0.42px;
}
.s_page20_211
{
position:absolute;top:342px;left:5010.51px;
}
.s_page20_212
{
position:absolute;top:342px;left:5533.45px;
}
.s_page20_213
{
position:absolute;top:342px;left:5770.57px;
}
.s_page20_214
{
position:absolute;top:702px;left:639.94px;
}
.s_page20_215
{
position:absolute;top:702px;left:1316.97px;letter-spacing:-0.29px;
}
.s_page20_216
{
position:absolute;top:702px;left:1795.04px;
}
.s_page20_217
{
position:absolute;top:702px;left:2371.75px;
}
.s_page20_218
{
position:absolute;top:702px;left:2843.58px;
}
.s_page20_219
{
position:absolute;top:-5.54px;left:118.17px;
}
.s_page20_220
{
position:absolute;top:-17.65px;left:0px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page20_221
{
position:absolute;top:-17.65px;left:626.71px;letter-spacing:15.75px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page20_222
{
position:absolute;top:-17.65px;left:2711.37px;letter-spacing:15px;-webkit-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page20_223
{
position:absolute;top:-12.32px;left:0px;
}
.s_page20_224
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page20_225
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page20_226
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.32px;
}
.s_page20_227
{
position:absolute;top:-18px;left:658.31px;
}
.s_page20_228
{
position:absolute;top:-18px;left:1629.58px;
}
.s_page20_229
{
position:absolute;top:-18px;left:1919.01px;
}
.s_page20_230
{
position:absolute;top:-18px;left:2675.48px;
}
.s_page20_231
{
position:absolute;top:342px;left:0px;
}
.s_page20_232
{
position:absolute;top:342px;left:622.07px;letter-spacing:-0.72px;
}
.s_page20_233
{
position:absolute;top:342px;left:1595.49px;letter-spacing:-3px;
}
.s_page20_234
{
position:absolute;top:342px;left:1787.01px;
}
.s_page20_235
{
position:absolute;top:702px;left:0px;
}
.s_page20_236
{
position:absolute;top:702px;left:811.91px;letter-spacing:-1.33px;
}
.s_page20_237
{
position:absolute;top:702px;left:2055.58px;
}
.s_page20_238
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.4px;
}
.s_page20_239
{
position:absolute;top:1062px;left:764.15px;
}
.s_page20_240
{
position:absolute;top:1062px;left:1078.07px;letter-spacing:-0.82px;
}
.s_page20_241
{
position:absolute;top:1062px;left:1539.1px;letter-spacing:-1.97px;
}
.s_page20_242
{
position:absolute;top:1062px;left:2074.53px;letter-spacing:-2.32px;
}
.s_page20_243
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.84px;
}
.s_page20_244
{
position:absolute;top:-18px;left:260.4px;letter-spacing:-4.66px;
}
.s_page20_245
{
position:absolute;top:-18px;left:1780px;letter-spacing:-2.96px;
}
.s_page20_246
{
position:absolute;top:-18px;left:2052.16px;letter-spacing:-0.75px;
}
.s_page20_247
{
position:absolute;top:-18px;left:3900px;letter-spacing:-1.36px;
}
.s_page20_248
{
position:absolute;top:-18px;left:4160.16px;letter-spacing:-0.18px;
}
.s_page20_249
{
position:absolute;top:-18px;left:5050.54px;letter-spacing:-0.36px;
}
.s_page20_250
{
position:absolute;top:398.69px;left:0px;
}
.s_page20_251
{
position:absolute;top:398.69px;left:281.76px;letter-spacing:-1.15px;
}
.s_page20_252
{
position:absolute;top:398.69px;left:841.9px;letter-spacing:-1.76px;
}
.s_page20_253
{
position:absolute;top:398.69px;left:1780px;letter-spacing:-2px;
}
.s_page20_254
{
position:absolute;top:398.69px;left:2041.84px;letter-spacing:-2.59px;
}
.s_page20_255
{
position:absolute;top:398.69px;left:2463.03px;
}
.s_page20_256
{
position:absolute;top:398.69px;left:3900px;
}
.s_page20_257
{
position:absolute;top:398.69px;left:4120.07px;
}
.s_page20_258
{
position:absolute;top:398.69px;left:4682.62px;
}
.s_page20_259
{
position:absolute;top:815.38px;left:0px;
}
.s_page20_260
{
position:absolute;top:815.38px;left:281.28px;letter-spacing:-1.36px;
}
.s_page20_261
{
position:absolute;top:815.38px;left:615.59px;letter-spacing:-0.18px;
}
.s_page20_262
{
position:absolute;top:815.38px;left:1780px;letter-spacing:-2.24px;
}
.s_page20_263
{
position:absolute;top:815.38px;left:2044.24px;letter-spacing:-0.54px;
}
.s_page20_264
{
position:absolute;top:815.38px;left:2489.68px;letter-spacing:-0.48px;
}
.s_page20_265
{
position:absolute;top:815.38px;left:3900px;
}
.s_page20_266
{
position:absolute;top:815.38px;left:4091.28px;letter-spacing:-0.31px;
}
.s_page20_267
{
position:absolute;top:815.38px;left:4794.95px;letter-spacing:-0.99px;
}
.s_page20_268
{
position:absolute;top:188.09px;left:616.04px;
}
.s_page20_269
{
position:absolute;top:188.09px;left:659.95px;letter-spacing:-1.06px;
}
.s_page20_270
{
position:absolute;top:188.09px;left:1750.26px;
}
.s_page20_271
{
position:absolute;top:188.09px;left:2553.85px;letter-spacing:-0.77px;
}
.s_page20_272
{
position:absolute;top:188.09px;left:3643.04px;
}
.s_page20_273
{
position:absolute;top:188.09px;left:4479.11px;letter-spacing:0px;
}
.s_page20_274
{
position:absolute;top:188.09px;left:5408.42px;letter-spacing:-0.73px;
}
.s_page20_275
{
position:absolute;top:188.09px;left:6117.65px;letter-spacing:-0.52px;
}
.s_page20_276
{
position:absolute;top:188.09px;left:7132.37px;
}
.s_page20_277
{
position:absolute;top:188.09px;left:7633.84px;letter-spacing:-0.44px;
}
.s_page20_278
{
position:absolute;top:188.09px;left:8534.87px;letter-spacing:-1.63px;
}
.s_page20_279
{
position:absolute;top:588.09px;left:659.95px;
}
.s_page20_280
{
position:absolute;top:588.09px;left:1162.55px;letter-spacing:-0.45px;
}
.s_page20_281
{
position:absolute;top:588.09px;left:2187.62px;letter-spacing:-0.59px;
}
.s_page20_282
{
position:absolute;top:588.09px;left:3373.97px;
}
.s_page20_283
{
position:absolute;top:588.09px;left:3674.69px;
}
.s_page20_284
{
position:absolute;top:588.09px;left:4177.28px;letter-spacing:-1.07px;
}
.s_page20_285
{
position:absolute;top:58.88px;left:0px;
}
.s_page20_286
{
position:absolute;top:-18px;left:272.15px;letter-spacing:-0.27px;
}
.s_page20_287
{
position:absolute;top:-18px;left:1053.34px;
}
.s_page20_288
{
position:absolute;top:-18px;left:736.66px;letter-spacing:-1px;
}
.s_page20_289
{
position:absolute;top:-18px;left:885.7px;letter-spacing:-1.2px;
}
.s_page20_290
{
position:absolute;top:-18px;left:671.62px;letter-spacing:-2.22px;
}
.s_page20_291
{
position:absolute;top:-18px;left:625.31px;
}
.s_page20_292
{
position:absolute;top:-18px;left:689.62px;letter-spacing:-0.36px;
}
.s_page20_293
{
position:absolute;top:-18px;left:925.18px;letter-spacing:-3.44px;
}
.s_page20_294
{
position:absolute;top:-18px;left:822.22px;letter-spacing:-0.58px;
}
.s_page20_295
{
position:absolute;top:-18px;left:849.34px;letter-spacing:-0.29px;
}
.s_page20_296
{
position:absolute;top:99.95px;left:135.64px;letter-spacing:-1.56px;
}
.s_page20_297
{
position:absolute;top:99.95px;left:100.84px;letter-spacing:-1.2px;
}
.s_page20_298
{
position:absolute;top:99.95px;left:116.08px;letter-spacing:-10.08px;
}
.s_page20_299
{
position:absolute;top:99.95px;left:100.6px;
}
.s_page20_300
{
position:absolute;top:99.95px;left:102.04px;letter-spacing:-1.92px;
}
.s_page20_301
{
position:absolute;top:99.95px;left:93.16px;letter-spacing:-1.8px;
}
.s_page20_302
{
position:absolute;top:99.95px;left:98.8px;letter-spacing:-1.92px;
}
.s_page20_303
{
position:absolute;top:99.95px;left:96.52px;letter-spacing:-1.92px;
}
.s_page20_304
{
position:absolute;top:99.95px;left:97.24px;letter-spacing:-3.72px;
}


.page20_btn1 {
	position:absolute;
	top: 797px;
	left: 332px;
}
.page20_btn2 {
	position:absolute;
	top: 797px;
	left: 275px;
}
.page20_position1 {
	position:absolute;
	top: 314px;
	left: 173px;
}
.page20_position2 {
	position:absolute;
	top: 314px;
	left: 337px;
}
.page20_position3 {
	position:absolute;
	top: 314px;
	left: 500px;
}
.page20_position4 {
	position:absolute;
	top: 469px;
	left: 172px;
}
.page20_position5 {
	position:absolute;
	top: 469px;
	left: 337px;
}
.page20_position6 {
	position:absolute;
	top: 469px;
	left: 500px;
}
.page20_position7 {
	position:absolute;
	top: 620px;
	left: 171px;
}
.page20_position8 {
	position:absolute;
	top: 620px;
	left: 337px;
}
.page20_position9 {
	position:absolute;
	top: 620px;
	left: 500px;
}

#text1{
	position: absolute;
	top: 703px;
	left: 373px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 703px;
	left: 467px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 724px;
	left: 373px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 724px;
	left: 467px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 744px;
	left: 373px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 153px;
	left: 85px;
	width: 179px;
	height: 29px;
}
#box2{
	position:absolute;
	top: 267px;
	left: 246px;
	width: 179px;
	height: 29px;
}
#box3{
	position:absolute;
	top: 386px;
	left: 85px;
	width: 179px;
	height: 29px;
}
#box4{
	position:absolute;
	top: 492px;
	left: 256px;
	width: 179px;
	height: 29px;
}
#box5{
	position:absolute;
	top: 614px;
	left: 85px;
	width: 179px;
	height: 29px;
}

.p32_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 6px;
}
.page32_btn1 {
	position:absolute;
	top: 797px;
	left: 269px;
}
