.d_page07_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
.d_page07_2
{
width:9691.66px;height:1345.67px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page07_3
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page07_4
{
width:5885.31px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,11.3px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,11.3px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,11.3px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,11.3px) rotate(0deg) scale(0.05);-o-transform: translate(0px,11.3px) rotate(0deg) scale(0.05);
}
.d_page07_5
{
width:3986.46px;height:1016.99px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page07_6
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page07_7
{
width:2413.33px;height:1971.1px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page07_8
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page07_9
{
width:6977.92px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page07_10
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page07_11
{
width:6794.49px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page07_12
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page07_13
{
width:7000.74px;height:567px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page07_14
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page07_15
{
width:7370.08px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page07_16
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page07_17
{
width:6963.01px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page07_18
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page07_19
{
position:absolute;top:248.09px;left:616.04px;
}
.s_page07_20
{
position:absolute;top:248.09px;left:659.95px;letter-spacing:-1.04px;
}
.s_page07_21
{
position:absolute;top:248.09px;left:1647.79px;
}
.s_page07_22
{
position:absolute;top:248.09px;left:1925.82px;
}
.s_page07_23
{
position:absolute;top:248.09px;left:2317.82px;letter-spacing:-0.82px;
}
.s_page07_24
{
position:absolute;top:248.09px;left:3905.96px;
}
.s_page07_25
{
position:absolute;top:248.09px;left:4767.5px;letter-spacing:0px;
}
.s_page07_26
{
position:absolute;top:248.09px;left:5327.78px;
}
.s_page07_27
{
position:absolute;top:248.09px;left:5829.25px;letter-spacing:-0.51px;
}
.s_page07_28
{
position:absolute;top:248.09px;left:6658.33px;
}
.s_page07_29
{
position:absolute;top:248.09px;left:6936.36px;text-rendering:optimizeLegibility;
}
.s_page07_30
{
position:absolute;top:248.09px;left:7645.6px;
}
.s_page07_31
{
position:absolute;top:248.09px;left:8296.87px;
}
.s_page07_32
{
position:absolute;top:648.09px;left:659.95px;
}
.s_page07_33
{
position:absolute;top:648.09px;left:1845.74px;letter-spacing:-0.46px;
}
.s_page07_34
{
position:absolute;top:648.09px;left:3221.65px;letter-spacing:-1.06px;
}
.s_page07_35
{
position:absolute;top:648.09px;left:4311.96px;
}
.s_page07_36
{
position:absolute;top:648.09px;left:4814.55px;letter-spacing:-1.54px;
}
.s_page07_37
{
position:absolute;top:648.09px;left:5649.23px;letter-spacing:-0.38px;
}
.s_page07_38
{
position:absolute;top:648.09px;left:6872.26px;letter-spacing:-2.8px;
}
.s_page07_39
{
position:absolute;top:648.09px;left:7205.17px;
}
.s_page07_40
{
position:absolute;top:648.09px;left:7707.77px;letter-spacing:-0.38px;
}
.s_page07_41
{
position:absolute;top:648.09px;left:8732.28px;letter-spacing:-0.51px;
}
.s_page07_42
{
position:absolute;top:1048.09px;left:659.95px;
}
.s_page07_43
{
position:absolute;top:1048.09px;left:1310.11px;
}
.s_page07_44
{
position:absolute;top:1048.09px;left:1812.7px;
}
.s_page07_45
{
position:absolute;top:1048.09px;left:2443.25px;letter-spacing:-2.8px;
}
.s_page07_46
{
position:absolute;top:1048.09px;left:2776.17px;
}
.s_page07_47
{
position:absolute;top:1048.09px;left:3278.77px;letter-spacing:-0.84px;
}
.s_page07_48
{
position:absolute;top:1048.09px;left:4058.84px;
}
.s_page07_49
{
position:absolute;top:1048.09px;left:4804.75px;
}
.s_page07_50
{
position:absolute;top:1048.09px;left:5366.14px;letter-spacing:-0.4px;
}
.s_page07_51
{
position:absolute;top:58.88px;left:0px;
}
.s_page07_52
{
position:absolute;top:-17.65px;left:0px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page07_53
{
position:absolute;top:-17.65px;left:446.88px;letter-spacing:15.75px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page07_54
{
position:absolute;top:-17.65px;left:2825.66px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page07_55
{
position:absolute;top:-17.65px;left:3540.81px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page07_56
{
position:absolute;top:-17.65px;left:4550.66px;letter-spacing:12px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page07_57
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page07_58
{
position:absolute;top:-18px;left:888.94px;letter-spacing:-3.04px;
}
.s_page07_59
{
position:absolute;top:-18px;left:1960px;letter-spacing:-1.4px;
}
.s_page07_60
{
position:absolute;top:-18px;left:2637.75px;letter-spacing:-0.69px;
}
.s_page07_61
{
position:absolute;top:-18px;left:3453.73px;letter-spacing:-2.34px;
}
.s_page07_62
{
position:absolute;top:398.69px;left:0px;letter-spacing:-0.68px;
}
.s_page07_63
{
position:absolute;top:398.69px;left:769.67px;letter-spacing:-2.37px;
}
.s_page07_64
{
position:absolute;top:398.69px;left:1960px;letter-spacing:-0.32px;
}
.s_page07_65
{
position:absolute;top:398.69px;left:2699.43px;letter-spacing:-1.08px;
}
.s_page07_66
{
position:absolute;top:815.38px;left:0px;letter-spacing:-2.19px;
}
.s_page07_67
{
position:absolute;top:815.38px;left:796.31px;letter-spacing:-0.81px;
}
.s_page07_68
{
position:absolute;top:-12.32px;left:0px;
}
.s_page07_69
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page07_70
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page07_71
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.75px;
}
.s_page07_72
{
position:absolute;top:-18px;left:969.59px;letter-spacing:-1px;
}
.s_page07_73
{
position:absolute;top:-18px;left:1619.5px;
}
.s_page07_74
{
position:absolute;top:-18px;left:1852.54px;
}
.s_page07_75
{
position:absolute;top:342px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page07_76
{
position:absolute;top:342px;left:497.75px;
}
.s_page07_77
{
position:absolute;top:342px;left:1224.7px;
}
.s_page07_78
{
position:absolute;top:702px;left:0px;
}
.s_page07_79
{
position:absolute;top:702px;left:309.59px;letter-spacing:-0.58px;
}
.s_page07_80
{
position:absolute;top:702px;left:809.75px;
}
.s_page07_81
{
position:absolute;top:702px;left:1119.82px;
}
.s_page07_82
{
position:absolute;top:702px;left:1535.73px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page07_83
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.58px;
}
.s_page07_84
{
position:absolute;top:1062px;left:806.39px;
}
.s_page07_85
{
position:absolute;top:1062px;left:1833.57px;
}
.s_page07_86
{
position:absolute;top:1422px;left:0px;
}
.s_page07_87
{
position:absolute;top:1422px;left:643.67px;letter-spacing:-0.68px;
}
.s_page07_88
{
position:absolute;top:1422px;left:1413.34px;letter-spacing:-2.11px;
}
.s_page07_89
{
position:absolute;top:109.95px;left:110.6px;
}
.s_page07_90
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page07_91
{
position:absolute;top:-18px;left:503.51px;letter-spacing:-0.46px;
}
.s_page07_92
{
position:absolute;top:-18px;left:1832.85px;
}
.s_page07_93
{
position:absolute;top:-18px;left:2670.2px;letter-spacing:-0.24px;
}
.s_page07_94
{
position:absolute;top:-18px;left:3204.67px;letter-spacing:-0.58px;
}
.s_page07_95
{
position:absolute;top:-18px;left:3850.98px;
}
.s_page07_96
{
position:absolute;top:-18px;left:4305.29px;
}
.s_page07_97
{
position:absolute;top:-18px;left:4642.01px;
}
.s_page07_98
{
position:absolute;top:-18px;left:5224.24px;
}
.s_page07_99
{
position:absolute;top:-18px;left:5475.51px;
}
.s_page07_100
{
position:absolute;top:-18px;left:5887.58px;letter-spacing:-0.93px;
}
.s_page07_101
{
position:absolute;top:342px;left:0px;letter-spacing:-0.93px;
}
.s_page07_102
{
position:absolute;top:342px;left:673.43px;letter-spacing:-2.06px;
}
.s_page07_103
{
position:absolute;top:342px;left:1141.9px;letter-spacing:-0.28px;
}
.s_page07_104
{
position:absolute;top:342px;left:1855.65px;letter-spacing:-0.21px;
}
.s_page07_105
{
position:absolute;top:342px;left:2569.39px;
}
.s_page07_106
{
position:absolute;top:342px;left:3492.18px;letter-spacing:-0.21px;
}
.s_page07_107
{
position:absolute;top:342px;left:4143.29px;letter-spacing:-0.79px;
}
.s_page07_108
{
position:absolute;top:342px;left:4974.4px;
}
.s_page07_109
{
position:absolute;top:342px;left:5229.75px;letter-spacing:-1.68px;
}
.s_page07_110
{
position:absolute;top:342px;left:5889.99px;letter-spacing:-0.45px;
}
.s_page07_111
{
position:absolute;top:702px;left:0px;
}
.s_page07_112
{
position:absolute;top:702px;left:524.63px;letter-spacing:-1.08px;
}
.s_page07_113
{
position:absolute;top:702px;left:1218.46px;
}
.s_page07_114
{
position:absolute;top:702px;left:1690.29px;
}
.s_page07_115
{
position:absolute;top:702px;left:2203.17px;letter-spacing:-1.62px;
}
.s_page07_116
{
position:absolute;top:702px;left:2618.6px;
}
.s_page07_117
{
position:absolute;top:702px;left:3037.87px;
}
.s_page07_118
{
position:absolute;top:702px;left:3651.3px;letter-spacing:-0.33px;
}
.s_page07_119
{
position:absolute;top:702px;left:4717.37px;
}
.s_page07_120
{
position:absolute;top:109.95px;left:110.84px;letter-spacing:-1.2px;
}
.s_page07_121
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page07_122
{
position:absolute;top:-18px;left:503.51px;letter-spacing:-2.35px;
}
.s_page07_123
{
position:absolute;top:-18px;left:1003.19px;
}
.s_page07_124
{
position:absolute;top:-18px;left:1236.22px;
}
.s_page07_125
{
position:absolute;top:-18px;left:1650.93px;letter-spacing:-1.23px;
}
.s_page07_126
{
position:absolute;top:-18px;left:2505.32px;letter-spacing:-0.9px;
}
.s_page07_127
{
position:absolute;top:-18px;left:3321.3px;
}
.s_page07_128
{
position:absolute;top:-18px;left:3944.57px;
}
.s_page07_129
{
position:absolute;top:-18px;left:4560.16px;
}
.s_page07_130
{
position:absolute;top:-18px;left:4874.32px;
}
.s_page07_131
{
position:absolute;top:-18px;left:5081.19px;
}
.s_page07_132
{
position:absolute;top:-18px;left:5318.3px;letter-spacing:-0.29px;
}
.s_page07_133
{
position:absolute;top:-18px;left:6513.73px;letter-spacing:-2.48px;
}
.s_page07_134
{
position:absolute;top:342px;left:0px;
}
.s_page07_135
{
position:absolute;top:342px;left:814.06px;letter-spacing:-2.48px;
}
.s_page07_136
{
position:absolute;top:342px;left:1090.54px;letter-spacing:-1.68px;
}
.s_page07_137
{
position:absolute;top:342px;left:1552.78px;letter-spacing:-0.72px;
}
.s_page07_138
{
position:absolute;top:342px;left:2746.28px;
}
.s_page07_139
{
position:absolute;top:342px;left:3448.27px;letter-spacing:-0.44px;
}
.s_page07_140
{
position:absolute;top:342px;left:4053.78px;
}
.s_page07_141
{
position:absolute;top:342px;left:4892.32px;letter-spacing:-0.64px;
}
.s_page07_142
{
position:absolute;top:342px;left:5107.12px;
}
.s_page07_143
{
position:absolute;top:342px;left:5344.23px;letter-spacing:-1.54px;
}
.s_page07_144
{
position:absolute;top:342px;left:5919.02px;
}
.s_page07_145
{
position:absolute;top:702px;left:0px;letter-spacing:-1.3px;
}
.s_page07_146
{
position:absolute;top:702px;left:584.63px;letter-spacing:-0.38px;
}
.s_page07_147
{
position:absolute;top:702px;left:1346.38px;
}
.s_page07_148
{
position:absolute;top:109.95px;left:145.64px;letter-spacing:-1.56px;
}
.s_page07_149
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page07_150
{
position:absolute;top:-18px;left:521.3px;letter-spacing:1.12px;
}
.s_page07_151
{
position:absolute;top:-18px;left:1309.72px;
}
.s_page07_152
{
position:absolute;top:-18px;left:1918.38px;
}
.s_page07_153
{
position:absolute;top:-18px;left:2581.52px;
}
.s_page07_154
{
position:absolute;top:-18px;left:3186.58px;
}
.s_page07_155
{
position:absolute;top:-18px;left:3676.2px;letter-spacing:-1.88px;
}
.s_page07_156
{
position:absolute;top:-18px;left:4397.18px;letter-spacing:-0.82px;
}
.s_page07_157
{
position:absolute;top:-18px;left:4912.95px;
}
.s_page07_158
{
position:absolute;top:-18px;left:5540.09px;letter-spacing:-1.2px;
}
.s_page07_159
{
position:absolute;top:-18px;left:6260.11px;letter-spacing:-0.58px;
}
.s_page07_160
{
position:absolute;top:342px;left:0px;
}
.s_page07_161
{
position:absolute;top:342px;left:424.79px;letter-spacing:-3.12px;
}
.s_page07_162
{
position:absolute;top:342px;left:744.22px;
}
.s_page07_163
{
position:absolute;top:342px;left:1163.5px;letter-spacing:-1.6px;
}
.s_page07_164
{
position:absolute;top:342px;left:1777.16px;letter-spacing:-0.72px;
}
.s_page07_165
{
position:absolute;top:342px;left:2883.79px;
}
.s_page07_166
{
position:absolute;top:342px;left:3120.9px;
}
.s_page07_167
{
position:absolute;top:342px;left:3369.06px;letter-spacing:-0.29px;
}
.s_page07_168
{
position:absolute;top:342px;left:4312px;letter-spacing:-0.62px;
}
.s_page07_169
{
position:absolute;top:342px;left:4882.71px;
}
.s_page07_170
{
position:absolute;top:109.95px;left:108.8px;letter-spacing:-1.92px;
}
.s_page07_171
{
position:absolute;top:-18px;left:380px;letter-spacing:-0.34px;
}
.s_page07_172
{
position:absolute;top:-18px;left:878.96px;letter-spacing:-0.26px;
}
.s_page07_173
{
position:absolute;top:-18px;left:1910.94px;
}
.s_page07_174
{
position:absolute;top:-18px;left:2248.85px;letter-spacing:-1.6px;
}
.s_page07_175
{
position:absolute;top:-18px;left:2862.52px;letter-spacing:-0.18px;
}
.s_page07_176
{
position:absolute;top:-18px;left:3831.38px;
}
.s_page07_177
{
position:absolute;top:-18px;left:4111.22px;
}
.s_page07_178
{
position:absolute;top:-18px;left:4530.49px;letter-spacing:-1.82px;
}
.s_page07_179
{
position:absolute;top:-18px;left:5323.19px;letter-spacing:-2.48px;
}
.s_page07_180
{
position:absolute;top:-18px;left:5603.75px;letter-spacing:-0.61px;
}
.s_page07_181
{
position:absolute;top:-18px;left:6785.74px;
}
.s_page07_182
{
position:absolute;top:342px;left:380px;letter-spacing:-0.18px;
}
.s_page07_183
{
position:absolute;top:342px;left:1291.03px;
}
.s_page07_184
{
position:absolute;top:342px;left:1528.14px;letter-spacing:-3px;
}
.s_page07_185
{
position:absolute;top:342px;left:1719.66px;letter-spacing:-0.82px;
}
.s_page07_186
{
position:absolute;top:342px;left:2733.89px;letter-spacing:-1.64px;
}
.s_page07_187
{
position:absolute;top:342px;left:3434.44px;letter-spacing:-0.29px;
}
.s_page07_188
{
position:absolute;top:342px;left:4436.67px;
}
.s_page07_189
{
position:absolute;top:342px;left:4959.37px;letter-spacing:-0.42px;
}
.s_page07_190
{
position:absolute;top:342px;left:5423.77px;
}
.s_page07_191
{
position:absolute;top:342px;left:5991.36px;
}
.s_page07_192
{
position:absolute;top:702px;left:0px;
}
.s_page07_193
{
position:absolute;top:702px;left:701.99px;
}
.s_page07_194
{
position:absolute;top:702px;left:908.86px;letter-spacing:-2.97px;
}
.s_page07_195
{
position:absolute;top:702px;left:2525.25px;
}
.s_page07_196
{
position:absolute;top:702px;left:2585.97px;
}
.s_page07_197
{
position:absolute;top:702px;left:3288.68px;
}
.s_page07_198
{
position:absolute;top:702px;left:4438.98px;
}
.s_page07_199
{
position:absolute;top:702px;left:4728.41px;
}
.s_page07_200
{
position:absolute;top:702px;left:5206.96px;letter-spacing:-1.4px;
}
.s_page07_201
{
position:absolute;top:702px;left:5972.55px;
}
.s_page07_202
{
position:absolute;top:1062px;left:0px;letter-spacing:-2.99px;
}
.s_page07_203
{
position:absolute;top:1062px;left:1124.38px;
}
.s_page07_204
{
position:absolute;top:109.95px;left:112.04px;letter-spacing:-1.92px;
}
.s_page07_205
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.64px;
}
.s_page07_206
{
position:absolute;top:-18px;left:214.79px;
}
.s_page07_207
{
position:absolute;top:-18px;left:447.83px;
}
.s_page07_208
{
position:absolute;top:-18px;left:867.1px;
}
.s_page07_209
{
position:absolute;top:-18px;left:1732.05px;letter-spacing:-0.16px;
}
.s_page07_210
{
position:absolute;top:-18px;left:2819.95px;
}
.s_page07_211
{
position:absolute;top:-18px;left:3071.23px;
}
.s_page07_212
{
position:absolute;top:-18px;left:3485.94px;letter-spacing:-0.48px;
}
.s_page07_213
{
position:absolute;top:-18px;left:4171.13px;
}
.s_page07_214
{
position:absolute;top:-18px;left:5042.07px;
}
.s_page07_215
{
position:absolute;top:-18px;left:5375.91px;
}
.s_page07_216
{
position:absolute;top:-18px;left:5795.18px;letter-spacing:-1.82px;
}
.s_page07_217
{
position:absolute;top:-18px;left:6587.88px;letter-spacing:-2.48px;
}
.s_page07_218
{
position:absolute;top:342px;left:0px;letter-spacing:-0.44px;
}
.s_page07_219
{
position:absolute;top:342px;left:693.11px;
}
.s_page07_220
{
position:absolute;top:342px;left:1164.95px;
}
.s_page07_221
{
position:absolute;top:342px;left:1897.65px;
}
.s_page07_222
{
position:absolute;top:342px;left:2162.85px;letter-spacing:-0.64px;
}
.s_page07_223
{
position:absolute;top:342px;left:2732.84px;
}
.s_page07_224
{
position:absolute;top:342px;left:3255.79px;letter-spacing:-0.18px;
}
.s_page07_225
{
position:absolute;top:342px;left:4350.9px;letter-spacing:-2.48px;
}
.s_page07_226
{
position:absolute;top:342px;left:4631.46px;
}
.s_page07_227
{
position:absolute;top:342px;left:4963.85px;
}
.s_page07_228
{
position:absolute;top:342px;left:5683.6px;letter-spacing:-1.68px;
}
.s_page07_229
{
position:absolute;top:702px;left:0px;
}
.s_page07_230
{
position:absolute;top:702px;left:1196.86px;
}
.s_page07_231
{
position:absolute;top:702px;left:2123.73px;
}
.s_page07_232
{
position:absolute;top:702px;left:2539.64px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page07_233
{
position:absolute;top:702px;left:3037.39px;
}
.s_page07_234
{
position:absolute;top:702px;left:3876.9px;
}
.s_page07_235
{
position:absolute;top:702px;left:4166.33px;letter-spacing:-1.08px;
}
.s_page07_236
{
position:absolute;top:702px;left:4842.64px;
}
.s_page07_237
{
position:absolute;top:702px;left:5166.15px;
}
.s_page07_238
{
position:absolute;top:1062px;left:0px;
}
.s_page07_239
{
position:absolute;top:-5.54px;left:209.05px;
}


#text1{
	position: absolute;
	top: 698px;
	left: 333px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 699px;
	left: 431px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 720px;
	left: 334px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 720px;
	left: 432px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 741px;
	left: 333px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 251px;
	left: 330px;
}
#box2{
	position:absolute;
	top: 339px;
	left: 420px;
	width: 112px;
}
#box3{
	position:absolute;
	top: 441px;
	left: 117px;
	width: 145px;
}
#box4{
	position:absolute;
	top: 527px;
	left: 259px;
	width: 118px;
}
#box5{
	position:absolute;
	top: 630px;
	left: 81px;
	width: 120px;
}
.p07_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page07_btn1 {
	position:absolute;
	top: 803px;
	left: 277px;
}
