.d_page26-27_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page26-27_2
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page26-27_3
{
width:8116.45px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_4
{
width:5128.28px;height:505.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);
}
.d_page26-27_5
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_6
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_7
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_8
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_9
{
width:9864.51px;height:883.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page26-27_10
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page26-27_11
{
width:2230px;height:2947.38px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_12
{
width:6537.3px;height:1025.71px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_13
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_14
{
width:4359.4px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_15
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_16
{
width:3234.11px;height:2181.45px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_17
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_18
{
width:2818.34px;height:2148.78px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_19
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page26-27_20
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page26-27_21
{
width:1937.55px;height:313.43px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page26-27_22
{
width:5281.35px;height:2343.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_23
{
width:3497.2px;height:2337.85px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_24
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_25
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_26
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_27
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_28
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_29
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_30
{
width:6072.51px;height:1025.71px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_31
{
width:3763.34px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_32
{
width:4572.01px;height:1658px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_33
{
width:4663.2px;height:1371.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_34
{
width:406.4px;height:439.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page26-27_35
{
width:2000.78px;height:1345.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page26-27_36
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page26-27_37
{
position:absolute;top:-12.32px;left:0px;
}
.s_page26-27_38
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page26-27_39
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page26-27_40
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.53px;
}
.s_page26-27_41
{
position:absolute;top:-18px;left:617.51px;
}
.s_page26-27_42
{
position:absolute;top:-18px;left:1799.98px;letter-spacing:-1.4px;
}
.s_page26-27_43
{
position:absolute;top:-18px;left:2586.45px;letter-spacing:-0.64px;
}
.s_page26-27_44
{
position:absolute;top:-18px;left:3858.67px;
}
.s_page26-27_45
{
position:absolute;top:-18px;left:5027.7px;
}
.s_page26-27_46
{
position:absolute;top:-18px;left:5499.53px;
}
.s_page26-27_47
{
position:absolute;top:-18px;left:6022.24px;
}
.s_page26-27_48
{
position:absolute;top:-18px;left:6912.63px;letter-spacing:-1.87px;
}
.s_page26-27_49
{
position:absolute;top:-18px;left:7486.94px;
}
.s_page26-27_50
{
position:absolute;top:-17.65px;left:0px;letter-spacing:12px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page26-27_51
{
position:absolute;top:-17.65px;left:652.58px;letter-spacing:15.43px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page26-27_52
{
position:absolute;top:-17.65px;left:2935.12px;letter-spacing:14.4px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page26-27_53
{
position:absolute;top:109.95px;left:110.6px;
}
.s_page26-27_54
{
position:absolute;top:109.95px;left:110.6px;
}
.s_page26-27_55
{
position:absolute;top:109.95px;left:110.84px;letter-spacing:-1.2px;
}
.s_page26-27_56
{
position:absolute;top:109.95px;left:112.04px;letter-spacing:-1.92px;
}
.s_page26-27_57
{
position:absolute;top:248.09px;left:616.04px;
}
.s_page26-27_58
{
position:absolute;top:248.09px;left:659.95px;letter-spacing:-1.06px;
}
.s_page26-27_59
{
position:absolute;top:248.09px;left:1750.26px;
}
.s_page26-27_60
{
position:absolute;top:248.09px;left:2553.85px;
}
.s_page26-27_61
{
position:absolute;top:248.09px;left:3904.84px;
}
.s_page26-27_62
{
position:absolute;top:248.09px;left:4554.99px;
}
.s_page26-27_63
{
position:absolute;top:248.09px;left:5057.59px;letter-spacing:0px;
}
.s_page26-27_64
{
position:absolute;top:248.09px;left:5688.14px;letter-spacing:-2.8px;
}
.s_page26-27_65
{
position:absolute;top:248.09px;left:6021.06px;
}
.s_page26-27_66
{
position:absolute;top:248.09px;left:6523.65px;letter-spacing:-0.4px;
}
.s_page26-27_67
{
position:absolute;top:248.09px;left:7669.12px;
}
.s_page26-27_68
{
position:absolute;top:248.09px;left:8230.51px;
}
.s_page26-27_69
{
position:absolute;top:248.09px;left:9048.38px;
}
.s_page26-27_70
{
position:absolute;top:648.09px;left:659.95px;letter-spacing:-2.24px;
}
.s_page26-27_71
{
position:absolute;top:648.09px;left:1335.87px;letter-spacing:-0.59px;
}
.s_page26-27_72
{
position:absolute;top:648.09px;left:2522.22px;letter-spacing:-0.73px;
}
.s_page26-27_73
{
position:absolute;top:648.09px;left:3230.34px;
}
.s_page26-27_74
{
position:absolute;top:648.09px;left:3732.93px;
}
.s_page26-27_75
{
position:absolute;top:648.09px;left:4363.48px;
}
.s_page26-27_76
{
position:absolute;top:58.88px;left:0px;
}
.s_page26-27_77
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.64px;
}
.s_page26-27_78
{
position:absolute;top:-18px;left:214.79px;
}
.s_page26-27_79
{
position:absolute;top:-18px;left:451.91px;letter-spacing:-3px;
}
.s_page26-27_80
{
position:absolute;top:-18px;left:643.43px;
}
.s_page26-27_81
{
position:absolute;top:-18px;left:1441.18px;
}
.s_page26-27_82
{
position:absolute;top:342px;left:0px;letter-spacing:-0.79px;
}
.s_page26-27_83
{
position:absolute;top:342px;left:705.11px;
}
.s_page26-27_84
{
position:absolute;top:702px;left:0px;
}
.s_page26-27_85
{
position:absolute;top:702px;left:505.19px;
}
.s_page26-27_86
{
position:absolute;top:702px;left:950.14px;
}
.s_page26-27_87
{
position:absolute;top:702px;left:1588.04px;letter-spacing:-2.48px;
}
.s_page26-27_88
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.28px;
}
.s_page26-27_89
{
position:absolute;top:1062px;left:645.11px;
}
.s_page26-27_90
{
position:absolute;top:1062px;left:1544.14px;
}
.s_page26-27_91
{
position:absolute;top:1422px;left:0px;
}
.s_page26-27_92
{
position:absolute;top:1422px;left:314.15px;letter-spacing:-3px;
}
.s_page26-27_93
{
position:absolute;top:1422px;left:505.67px;letter-spacing:-0.99px;
}
.s_page26-27_94
{
position:absolute;top:1422px;left:1255.18px;
}
.s_page26-27_95
{
position:absolute;top:1422px;left:1624.77px;
}
.s_page26-27_96
{
position:absolute;top:1782px;left:0px;letter-spacing:-0.41px;
}
.s_page26-27_97
{
position:absolute;top:1782px;left:935.99px;letter-spacing:-0.68px;
}
.s_page26-27_98
{
position:absolute;top:1782px;left:1492.77px;letter-spacing:-3px;
}
.s_page26-27_99
{
position:absolute;top:2142px;left:0px;letter-spacing:-1.81px;
}
.s_page26-27_100
{
position:absolute;top:2142px;left:975.82px;
}
.s_page26-27_101
{
position:absolute;top:2142px;left:1428.93px;
}
.s_page26-27_102
{
position:absolute;top:2142px;left:1900.77px;
}
.s_page26-27_103
{
position:absolute;top:2502px;left:0px;letter-spacing:-1.14px;
}
.s_page26-27_104
{
position:absolute;top:2502px;left:767.98px;letter-spacing:-1.38px;
}
.s_page26-27_105
{
position:absolute;top:2502px;left:1143.82px;
}
.s_page26-27_106
{
position:absolute;top:2502px;left:1615.65px;letter-spacing:-2.06px;
}
.s_page26-27_107
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.64px;
}
.s_page26-27_108
{
position:absolute;top:-18px;left:214.79px;
}
.s_page26-27_109
{
position:absolute;top:-18px;left:447.83px;
}
.s_page26-27_110
{
position:absolute;top:-18px;left:867.1px;letter-spacing:-1.15px;
}
.s_page26-27_111
{
position:absolute;top:-18px;left:1383.33px;
}
.s_page26-27_112
{
position:absolute;top:-18px;left:2010.68px;letter-spacing:-1.17px;
}
.s_page26-27_113
{
position:absolute;top:-18px;left:2878.26px;letter-spacing:-2.48px;
}
.s_page26-27_114
{
position:absolute;top:-18px;left:3154.74px;
}
.s_page26-27_115
{
position:absolute;top:-18px;left:3574.01px;text-rendering:optimizeLegibility;letter-spacing:-0.45px;
}
.s_page26-27_116
{
position:absolute;top:-18px;left:4409.2px;letter-spacing:-2.85px;
}
.s_page26-27_117
{
position:absolute;top:-18px;left:5458.7px;
}
.s_page26-27_118
{
position:absolute;top:-18px;left:5665.58px;
}
.s_page26-27_119
{
position:absolute;top:-18px;left:5902.69px;letter-spacing:-0.36px;
}
.s_page26-27_120
{
position:absolute;top:342px;left:0px;letter-spacing:-0.29px;
}
.s_page26-27_121
{
position:absolute;top:342px;left:1062.95px;letter-spacing:-2.4px;
}
.s_page26-27_122
{
position:absolute;top:342px;left:1437.1px;
}
.s_page26-27_123
{
position:absolute;top:342px;left:2102.85px;letter-spacing:-0.81px;
}
.s_page26-27_124
{
position:absolute;top:342px;left:2932.03px;
}
.s_page26-27_125
{
position:absolute;top:342px;left:3217.39px;
}
.s_page26-27_126
{
position:absolute;top:342px;left:3636.66px;letter-spacing:-1.44px;
}
.s_page26-27_127
{
position:absolute;top:342px;left:4308.89px;
}
.s_page26-27_128
{
position:absolute;top:342px;left:5284.48px;letter-spacing:-2.48px;
}
.s_page26-27_129
{
position:absolute;top:342px;left:5560.95px;
}
.s_page26-27_130
{
position:absolute;top:702px;left:0px;letter-spacing:-0.69px;
}
.s_page26-27_131
{
position:absolute;top:702px;left:777.35px;
}
.s_page26-27_132
{
position:absolute;top:702px;left:1409.02px;
}
.s_page26-27_133
{
position:absolute;top:702px;left:1876.29px;
}
.s_page26-27_134
{
position:absolute;top:702px;left:2545.4px;
}
.s_page26-27_135
{
position:absolute;top:702px;left:3376.02px;
}
.s_page26-27_136
{
position:absolute;top:702px;left:4248.88px;
}
.s_page26-27_137
{
position:absolute;top:702px;left:4586.8px;
}
.s_page26-27_138
{
position:absolute;top:702px;left:4910.31px;
}
.s_page26-27_139
{
position:absolute;top:109.95px;left:108.8px;letter-spacing:-1.92px;
}
.s_page26-27_140
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.16px;
}
.s_page26-27_141
{
position:absolute;top:-18px;left:584.16px;letter-spacing:-1.62px;
}
.s_page26-27_142
{
position:absolute;top:-18px;left:999.59px;
}
.s_page26-27_143
{
position:absolute;top:-18px;left:1418.86px;letter-spacing:-1.15px;
}
.s_page26-27_144
{
position:absolute;top:-18px;left:1935.1px;
}
.s_page26-27_145
{
position:absolute;top:-18px;left:3058.77px;
}
.s_page26-27_146
{
position:absolute;top:-18px;left:3310.04px;
}
.s_page26-27_147
{
position:absolute;top:-18px;left:3724.75px;letter-spacing:-0.48px;
}
.s_page26-27_148
{
position:absolute;top:342px;left:0px;
}
.s_page26-27_149
{
position:absolute;top:342px;left:536.39px;letter-spacing:-3px;
}
.s_page26-27_150
{
position:absolute;top:342px;left:727.91px;letter-spacing:-1.15px;
}
.s_page26-27_151
{
position:absolute;top:342px;left:1332.22px;letter-spacing:-1.65px;
}
.s_page26-27_152
{
position:absolute;top:342px;left:2262.69px;
}
.s_page26-27_153
{
position:absolute;top:342px;left:2799.07px;
}
.s_page26-27_154
{
position:absolute;top:342px;left:3589.38px;letter-spacing:-2.16px;
}
.s_page26-27_155
{
position:absolute;top:702px;left:0px;
}
.s_page26-27_156
{
position:absolute;top:702px;left:342.47px;letter-spacing:-0.54px;
}
.s_page26-27_157
{
position:absolute;top:702px;left:764.63px;letter-spacing:-1.87px;
}
.s_page26-27_158
{
position:absolute;top:702px;left:1338.94px;
}
.s_page26-27_159
{
position:absolute;top:702px;left:1977.33px;
}
.s_page26-27_160
{
position:absolute;top:702px;left:2449.16px;
}
.s_page26-27_161
{
position:absolute;top:702px;left:3111.79px;
}
.s_page26-27_162
{
position:absolute;top:1062px;left:0px;
}
.s_page26-27_163
{
position:absolute;top:1062px;left:532.31px;letter-spacing:-0.92px;
}
.s_page26-27_164
{
position:absolute;top:1062px;left:1097.02px;letter-spacing:-0.82px;
}
.s_page26-27_165
{
position:absolute;top:1062px;left:1779.81px;
}
.s_page26-27_166
{
position:absolute;top:109.95px;left:110.6px;
}
.s_page26-27_167
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.16px;
}
.s_page26-27_168
{
position:absolute;top:-18px;left:584.16px;letter-spacing:-1.62px;
}
.s_page26-27_169
{
position:absolute;top:-18px;left:1003.67px;letter-spacing:-0.36px;
}
.s_page26-27_170
{
position:absolute;top:-18px;left:1643.5px;letter-spacing:-0.21px;
}
.s_page26-27_171
{
position:absolute;top:-18px;left:2467.65px;letter-spacing:-2.4px;
}
.s_page26-27_172
{
position:absolute;top:342px;left:0px;letter-spacing:-0.68px;
}
.s_page26-27_173
{
position:absolute;top:342px;left:615.83px;
}
.s_page26-27_174
{
position:absolute;top:342px;left:1791.8px;
}
.s_page26-27_175
{
position:absolute;top:702px;left:0px;
}
.s_page26-27_176
{
position:absolute;top:702px;left:467.75px;
}
.s_page26-27_177
{
position:absolute;top:702px;left:887.03px;
}
.s_page26-27_178
{
position:absolute;top:702px;left:1306.53px;
}
.s_page26-27_179
{
position:absolute;top:702px;left:2008.04px;letter-spacing:-2.16px;
}
.s_page26-27_180
{
position:absolute;top:702px;left:2592.19px;letter-spacing:-1.87px;
}
.s_page26-27_181
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.43px;
}
.s_page26-27_182
{
position:absolute;top:1062px;left:488.87px;letter-spacing:-3.12px;
}
.s_page26-27_183
{
position:absolute;top:1062px;left:1034.86px;letter-spacing:-1.84px;
}
.s_page26-27_184
{
position:absolute;top:1062px;left:1328.14px;letter-spacing:-1.56px;
}
.s_page26-27_185
{
position:absolute;top:1062px;left:2082.45px;letter-spacing:-1.38px;
}
.s_page26-27_186
{
position:absolute;top:1062px;left:2458.28px;
}
.s_page26-27_187
{
position:absolute;top:1422px;left:0px;
}
.s_page26-27_188
{
position:absolute;top:1422px;left:607.19px;letter-spacing:-1.44px;
}
.s_page26-27_189
{
position:absolute;top:1422px;left:1176.23px;letter-spacing:-0.65px;
}
.s_page26-27_190
{
position:absolute;top:1422px;left:2224.77px;letter-spacing:-3.12px;
}
.s_page26-27_191
{
position:absolute;top:1422px;left:2548.29px;
}
.s_page26-27_192
{
position:absolute;top:1782px;left:0px;
}
.s_page26-27_193
{
position:absolute;top:109.95px;left:145.64px;letter-spacing:-1.56px;
}
.s_page26-27_194
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page26-27_195
{
position:absolute;top:-18px;left:503.51px;letter-spacing:-0.5px;
}
.s_page26-27_196
{
position:absolute;top:-18px;left:1725.1px;
}
.s_page26-27_197
{
position:absolute;top:342px;left:0px;
}
.s_page26-27_198
{
position:absolute;top:342px;left:237.11px;
}
.s_page26-27_199
{
position:absolute;top:342px;left:744.22px;letter-spacing:-0.48px;
}
.s_page26-27_200
{
position:absolute;top:342px;left:1527.1px;
}
.s_page26-27_201
{
position:absolute;top:342px;left:1841.25px;letter-spacing:-1.4px;
}
.s_page26-27_202
{
position:absolute;top:702px;left:0px;letter-spacing:-1.37px;
}
.s_page26-27_203
{
position:absolute;top:702px;left:1041.34px;letter-spacing:-0.64px;
}
.s_page26-27_204
{
position:absolute;top:702px;left:1252.77px;letter-spacing:-0.68px;
}
.s_page26-27_205
{
position:absolute;top:702px;left:1920.44px;
}
.s_page26-27_206
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.29px;
}
.s_page26-27_207
{
position:absolute;top:1062px;left:533.99px;
}
.s_page26-27_208
{
position:absolute;top:1062px;left:1001.74px;
}
.s_page26-27_209
{
position:absolute;top:1062px;left:1975.65px;
}
.s_page26-27_210
{
position:absolute;top:1422px;left:0px;
}
.s_page26-27_211
{
position:absolute;top:1422px;left:206.87px;
}
.s_page26-27_212
{
position:absolute;top:1422px;left:1173.1px;
}
.s_page26-27_213
{
position:absolute;top:1422px;left:1709.49px;
}
.s_page26-27_214
{
position:absolute;top:1422px;left:2033px;
}
.s_page26-27_215
{
position:absolute;top:1782px;left:0px;letter-spacing:-0.82px;
}
.s_page26-27_216
{
position:absolute;top:1782px;left:682.79px;
}
.s_page26-27_217
{
position:absolute;top:-11.04px;left:108.97px;
}
.s_page26-27_218
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-4.03px;
}
.s_page26-27_219
{
position:absolute;top:-14.08px;left:714.87px;letter-spacing:-3.28px;
}
.s_page26-27_220
{
position:absolute;top:-14.08px;left:1266.86px;letter-spacing:-1.68px;
}
.s_page26-27_221
{
position:absolute;top:-18px;left:0px;
}
.s_page26-27_222
{
position:absolute;top:-18px;left:130.32px;letter-spacing:-0.82px;
}
.s_page26-27_223
{
position:absolute;top:-18px;left:557.27px;
}
.s_page26-27_224
{
position:absolute;top:-18px;left:891.1px;
}
.s_page26-27_225
{
position:absolute;top:-18px;left:1281.33px;letter-spacing:-1.3px;
}
.s_page26-27_226
{
position:absolute;top:342px;left:0px;letter-spacing:-0.5px;
}
.s_page26-27_227
{
position:absolute;top:342px;left:1244.62px;
}
.s_page26-27_228
{
position:absolute;top:342px;left:1481.74px;letter-spacing:-2.8px;
}
.s_page26-27_229
{
position:absolute;top:342px;left:1871.5px;letter-spacing:-0.94px;
}
.s_page26-27_230
{
position:absolute;top:342px;left:2906.36px;letter-spacing:-1.3px;
}
.s_page26-27_231
{
position:absolute;top:702px;left:0px;
}
.s_page26-27_232
{
position:absolute;top:702px;left:319.67px;
}
.s_page26-27_233
{
position:absolute;top:702px;left:449.99px;
}
.s_page26-27_234
{
position:absolute;top:702px;left:1082.38px;letter-spacing:-1.68px;
}
.s_page26-27_235
{
position:absolute;top:702px;left:1500.7px;letter-spacing:-0.44px;
}
.s_page26-27_236
{
position:absolute;top:702px;left:2232.21px;letter-spacing:-0.44px;
}
.s_page26-27_237
{
position:absolute;top:1062px;left:0px;
}
.s_page26-27_238
{
position:absolute;top:1062px;left:130.32px;
}
.s_page26-27_239
{
position:absolute;top:1062px;left:535.19px;
}
.s_page26-27_240
{
position:absolute;top:1062px;left:1076.86px;letter-spacing:-1.68px;
}
.s_page26-27_241
{
position:absolute;top:1062px;left:1495.18px;letter-spacing:-3px;
}
.s_page26-27_242
{
position:absolute;top:1062px;left:1686.69px;text-rendering:optimizeLegibility;letter-spacing:-0.51px;
}
.s_page26-27_243
{
position:absolute;top:1062px;left:2507.48px;letter-spacing:-2.83px;
}
.s_page26-27_244
{
position:absolute;top:1062px;left:2970.43px;
}
.s_page26-27_245
{
position:absolute;top:1062px;left:3396.18px;
}
.s_page26-27_246
{
position:absolute;top:1062px;left:3526.49px;
}
.s_page26-27_247
{
position:absolute;top:1062px;left:3931.37px;letter-spacing:-0.54px;
}
.s_page26-27_248
{
position:absolute;top:1062px;left:4353.52px;letter-spacing:-3px;
}
.s_page26-27_249
{
position:absolute;top:1062px;left:4545.04px;letter-spacing:-1.38px;
}
.s_page26-27_250
{
position:absolute;top:1422px;left:0px;
}
.s_page26-27_251
{
position:absolute;top:1422px;left:130.32px;
}
.s_page26-27_252
{
position:absolute;top:1422px;left:531.83px;letter-spacing:-1.3px;
}
.s_page26-27_253
{
position:absolute;top:1422px;left:1109.26px;letter-spacing:-0.26px;
}
.s_page26-27_254
{
position:absolute;top:1422px;left:2189px;
}
.s_page26-27_255
{
position:absolute;top:1422px;left:2614.75px;
}
.s_page26-27_256
{
position:absolute;top:1422px;left:2745.07px;
}
.s_page26-27_257
{
position:absolute;top:1422px;left:3149.95px;letter-spacing:-0.54px;
}
.s_page26-27_258
{
position:absolute;top:1422px;left:3572.1px;
}
.s_page26-27_259
{
position:absolute;top:1422px;left:3904.49px;
}
.s_page26-27_260
{
position:absolute;top:1782px;left:0px;letter-spacing:-0.48px;
}
.s_page26-27_261
{
position:absolute;top:1782px;left:552.95px;
}
.s_page26-27_262
{
position:absolute;top:1782px;left:957.83px;
}
.s_page26-27_263
{
position:absolute;top:-18px;left:0px;
}
.s_page26-27_264
{
position:absolute;top:-18px;left:522.71px;
}
.s_page26-27_265
{
position:absolute;top:-18px;left:1740px;
}
.s_page26-27_266
{
position:absolute;top:398.69px;left:0px;letter-spacing:-1.07px;
}
.s_page26-27_267
{
position:absolute;top:398.69px;left:1740px;letter-spacing:-0.86px;
}
.s_page26-27_268
{
position:absolute;top:815.38px;left:0px;letter-spacing:-0.65px;
}
.s_page26-27_269
{
position:absolute;top:815.38px;left:1740px;letter-spacing:-0.38px;
}
.s_page26-27_270
{
position:absolute;top:1232.08px;left:0px;letter-spacing:-0.38px;
}
.s_page26-27_271
{
position:absolute;top:1232.08px;left:1740px;letter-spacing:-0.18px;
}
.s_page26-27_272
{
position:absolute;top:1648.77px;left:0px;
}
.s_page26-27_273
{
position:absolute;top:1648.77px;left:1740px;
}
.s_page26-27_274
{
position:absolute;top:109.95px;left:71.24px;letter-spacing:-2.48px;
}
.s_page26-27_275
{
position:absolute;top:109.95px;left:110.6px;
}
.s_page26-27_276
{
position:absolute;top:109.95px;left:110.6px;
}
.s_page26-27_277
{
position:absolute;top:109.95px;left:126.08px;letter-spacing:-10.08px;
}
.s_page26-27_278
{
position:absolute;top:109.95px;left:103.16px;letter-spacing:-1.8px;
}
.s_page26-27_279
{
position:absolute;top:109.95px;left:107.24px;letter-spacing:-3.72px;
}
.s_page26-27_280
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page26-27_281
{
position:absolute;top:-18px;left:503.51px;letter-spacing:-0.88px;
}
.s_page26-27_282
{
position:absolute;top:-18px;left:1861.41px;
}
.s_page26-27_283
{
position:absolute;top:-18px;left:2868.44px;
}
.s_page26-27_284
{
position:absolute;top:-18px;left:3317.48px;letter-spacing:-0.7px;
}
.s_page26-27_285
{
position:absolute;top:-18px;left:4569.3px;
}
.s_page26-27_286
{
position:absolute;top:-18px;left:5431.84px;
}
.s_page26-27_287
{
position:absolute;top:342px;left:0px;
}
.s_page26-27_288
{
position:absolute;top:342px;left:617.27px;
}
.s_page26-27_289
{
position:absolute;top:342px;left:1324.06px;
}
.s_page26-27_290
{
position:absolute;top:342px;left:1656.94px;
}
.s_page26-27_291
{
position:absolute;top:342px;left:2282.37px;
}
.s_page26-27_292
{
position:absolute;top:342px;left:3043.15px;
}
.s_page26-27_293
{
position:absolute;top:342px;left:3706.74px;letter-spacing:-2.48px;
}
.s_page26-27_294
{
position:absolute;top:342px;left:3987.3px;letter-spacing:-1.53px;
}
.s_page26-27_295
{
position:absolute;top:342px;left:4869.05px;
}
.s_page26-27_296
{
position:absolute;top:342px;left:5158.48px;
}
.s_page26-27_297
{
position:absolute;top:702px;left:0px;letter-spacing:-1.84px;
}
.s_page26-27_298
{
position:absolute;top:702px;left:293.27px;letter-spacing:-1.95px;
}
.s_page26-27_299
{
position:absolute;top:702px;left:1183.18px;
}
.s_page26-27_300
{
position:absolute;top:702px;left:1602.45px;letter-spacing:-1.4px;
}
.s_page26-27_301
{
position:absolute;top:702px;left:2392.53px;letter-spacing:-1.3px;
}
.s_page26-27_302
{
position:absolute;top:702px;left:2977.16px;
}
.s_page26-27_303
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.64px;
}
.s_page26-27_304
{
position:absolute;top:-18px;left:214.79px;
}
.s_page26-27_305
{
position:absolute;top:-18px;left:447.83px;
}
.s_page26-27_306
{
position:absolute;top:-18px;left:867.1px;letter-spacing:-0.9px;
}
.s_page26-27_307
{
position:absolute;top:-18px;left:1683.08px;
}
.s_page26-27_308
{
position:absolute;top:-18px;left:2461.4px;
}
.s_page26-27_309
{
position:absolute;top:-18px;left:2750.83px;letter-spacing:-1.87px;
}
.s_page26-27_310
{
position:absolute;top:342px;left:0px;letter-spacing:-2.64px;
}
.s_page26-27_311
{
position:absolute;top:342px;left:535.91px;letter-spacing:-0.68px;
}
.s_page26-27_312
{
position:absolute;top:342px;left:1102.3px;
}
.s_page26-27_313
{
position:absolute;top:342px;left:1440.21px;
}
.s_page26-27_314
{
position:absolute;top:342px;left:2143.88px;
}
.s_page26-27_315
{
position:absolute;top:342px;left:3040.98px;
}
.s_page26-27_316
{
position:absolute;top:702px;left:0px;
}
.s_page26-27_317
{
position:absolute;top:702px;left:1052.15px;letter-spacing:-0.44px;
}
.s_page26-27_318
{
position:absolute;top:702px;left:1594.3px;
}
.s_page26-27_319
{
position:absolute;top:702px;left:1797.82px;letter-spacing:-0.68px;
}
.s_page26-27_320
{
position:absolute;top:702px;left:2465.49px;letter-spacing:-1.15px;
}
.s_page26-27_321
{
position:absolute;top:702px;left:2981.72px;
}
.s_page26-27_322
{
position:absolute;top:702px;left:3319.63px;
}
.s_page26-27_323
{
position:absolute;top:1062px;left:0px;
}
.s_page26-27_324
{
position:absolute;top:1062px;left:706.79px;
}
.s_page26-27_325
{
position:absolute;top:1062px;left:943.91px;letter-spacing:-3px;
}
.s_page26-27_326
{
position:absolute;top:1062px;left:1135.42px;letter-spacing:-0.7px;
}
.s_page26-27_327
{
position:absolute;top:1062px;left:2408.61px;letter-spacing:-0.24px;
}
.s_page26-27_328
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.28px;
}
.s_page26-27_329
{
position:absolute;top:-18px;left:713.75px;letter-spacing:-1.2px;
}
.s_page26-27_330
{
position:absolute;top:-18px;left:1326.7px;letter-spacing:-0.88px;
}
.s_page26-27_331
{
position:absolute;top:-18px;left:2684.6px;
}
.s_page26-27_332
{
position:absolute;top:-18px;left:3583.63px;letter-spacing:-1.62px;
}
.s_page26-27_333
{
position:absolute;top:342px;left:0px;
}
.s_page26-27_334
{
position:absolute;top:342px;left:1537.66px;letter-spacing:-0.21px;
}
.s_page26-27_335
{
position:absolute;top:342px;left:2326.53px;
}
.s_page26-27_336
{
position:absolute;top:342px;left:2745.8px;letter-spacing:-3.17px;
}
.s_page26-27_337
{
position:absolute;top:342px;left:3250.51px;letter-spacing:-1.82px;
}
.s_page26-27_338
{
position:absolute;top:342px;left:3789.54px;letter-spacing:-0.93px;
}
.s_page26-27_339
{
position:absolute;top:702px;left:0px;letter-spacing:-0.72px;
}
.s_page26-27_340
{
position:absolute;top:702px;left:1295.74px;
}
.s_page26-27_341
{
position:absolute;top:702px;left:1546.54px;letter-spacing:-1.36px;
}
.s_page26-27_342
{
position:absolute;top:702px;left:2245.41px;letter-spacing:-1.05px;
}
.s_page26-27_343
{
position:absolute;top:702px;left:3150.2px;letter-spacing:-0.92px;
}
.s_page26-27_344
{
position:absolute;top:702px;left:3714.91px;letter-spacing:-1.2px;
}
.s_page26-27_345
{
position:absolute;top:1062px;left:0px;
}
.s_page26-27_346
{
position:absolute;top:1062px;left:646.07px;
}
.s_page26-27_347
{
position:absolute;top:1062px;left:1117.9px;letter-spacing:-0.29px;
}
.s_page26-27_348
{
position:absolute;top:1062px;left:1659.09px;letter-spacing:-0.68px;
}
.s_page26-27_349
{
position:absolute;top:1062px;left:2379.8px;letter-spacing:-1.36px;
}
.s_page26-27_350
{
position:absolute;top:1062px;left:3074.59px;
}
.s_page26-27_351
{
position:absolute;top:1062px;left:3364.02px;
}
.s_page26-27_352
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.72px;
}
.s_page26-27_353
{
position:absolute;top:1422px;left:971.02px;
}
.s_page26-27_354
{
position:absolute;top:1422px;left:1442.86px;letter-spacing:-2.45px;
}
.s_page26-27_355
{
position:absolute;top:-18px;left:0px;letter-spacing:-3.6px;
}
.s_page26-27_356
{
position:absolute;top:-18px;left:207.59px;letter-spacing:-1.2px;
}
.s_page26-27_357
{
position:absolute;top:-18px;left:820.54px;
}
.s_page26-27_358
{
position:absolute;top:-18px;left:1643.97px;
}
.s_page26-27_359
{
position:absolute;top:-18px;left:2421.8px;
}
.s_page26-27_360
{
position:absolute;top:-18px;left:2958.19px;
}
.s_page26-27_361
{
position:absolute;top:-18px;left:3486.19px;
}
.s_page26-27_362
{
position:absolute;top:-18px;left:4124.81px;
}
.s_page26-27_363
{
position:absolute;top:342px;left:0px;letter-spacing:-3px;
}
.s_page26-27_364
{
position:absolute;top:342px;left:191.52px;
}
.s_page26-27_365
{
position:absolute;top:342px;left:1520.86px;
}
.s_page26-27_366
{
position:absolute;top:342px;left:1727.73px;
}
.s_page26-27_367
{
position:absolute;top:342px;left:1961.49px;letter-spacing:-0.68px;
}
.s_page26-27_368
{
position:absolute;top:342px;left:2655.08px;letter-spacing:-1.1px;
}
.s_page26-27_369
{
position:absolute;top:342px;left:3206.35px;
}
.s_page26-27_370
{
position:absolute;top:342px;left:3618.42px;letter-spacing:-0.93px;
}
.s_page26-27_371
{
position:absolute;top:702px;left:0px;letter-spacing:-0.81px;
}
.s_page26-27_372
{
position:absolute;top:702px;left:729.83px;letter-spacing:-0.64px;
}
.s_page26-27_373
{
position:absolute;top:702px;left:944.62px;
}
.s_page26-27_374
{
position:absolute;top:702px;left:1398.93px;
}
.s_page26-27_375
{
position:absolute;top:702px;left:1735.65px;
}
.s_page26-27_376
{
position:absolute;top:702px;left:2317.88px;letter-spacing:-0.19px;
}
.s_page26-27_377
{
position:absolute;top:702px;left:4045.38px;
}
.s_page26-27_378
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.51px;
}
.s_page26-27_379
{
position:absolute;top:1062px;left:765.83px;letter-spacing:-2.48px;
}
.s_page26-27_380
{
position:absolute;top:1062px;left:1046.39px;
}
.s_page26-27_381
{
position:absolute;top:1062px;left:1369.9px;
}
.s_page26-27_382
{
position:absolute;top:1062px;left:1883.01px;letter-spacing:-3.12px;
}
.s_page26-27_383
{
position:absolute;top:1062px;left:2206.52px;letter-spacing:-0.29px;
}
.s_page26-27_384
{
position:absolute;top:1062px;left:3312.19px;letter-spacing:-1.47px;
}
.s_page26-27_385
{
position:absolute;top:109.95px;left:106.52px;letter-spacing:-1.92px;
}
.s_page26-27_386
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.64px;
}
.s_page26-27_387
{
position:absolute;top:-18px;left:214.79px;
}
.s_page26-27_388
{
position:absolute;top:-18px;left:447.83px;
}
.s_page26-27_389
{
position:absolute;top:-18px;left:867.1px;letter-spacing:-0.9px;
}
.s_page26-27_390
{
position:absolute;top:342px;left:0px;letter-spacing:-1.13px;
}
.s_page26-27_391
{
position:absolute;top:342px;left:784.31px;
}
.s_page26-27_392
{
position:absolute;top:342px;left:1035.58px;
}
.s_page26-27_393
{
position:absolute;top:702px;left:0px;letter-spacing:-0.41px;
}
.s_page26-27_394
{
position:absolute;top:702px;left:739.43px;letter-spacing:-0.32px;
}
.s_page26-27_395
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.93px;
}
.s_page26-27_396
{
position:absolute;top:1062px;left:834.23px;letter-spacing:-1.63px;
}
.s_page26-27_397
{
position:absolute;top:-5.54px;left:131.93px;
}

#text1{
	position: absolute;
	top: 674px;
	left: 664px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 674px;
	left: 752px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 695px;
	left: 664px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 695px;
	left: 751px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 716px;
	left: 664px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 716px;
	left: 751px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 737px;
	left: 664px;
	cursor:pointer;
}
#text8{
	position:absolute;
	top: 737px;
	left: 751px;
	cursor:pointer;
}
#text9{
	position:absolute;
	top: 758px;
	left: 664px;
	cursor:pointer;
}
#text10{
	position:absolute;
	top: 758px;
	left: 751px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 302px;
	left: 227px;
}
#box2{
	position:absolute;
	top: 284px;
	left: 355px;
}
#box3{
	position:absolute;
	top: 426px;
	left: 122px;
}
#box4{
	position:absolute;
	top: 614px;
	left: 300px;
}
#box5{
	position:absolute;
	top: 614px;
	left: 159px;
}
#box6{
	position:absolute;
	top: 156px;
	left: 52px;
}
#box7{
	position:absolute;
	top: 106px;
	left: 371px;
}
#box8{
	position:absolute;
	top: 326px;
	left: 102px;
}
#box9{
	position:absolute;
	top: 488px;
	left: 359px;
}
#box10{
	position:absolute;
	top: 603px;
	left: 70px;
}
.p26_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
	line-height: 26px;
}
.page26_btn1 {
	position:absolute;
	top: 803px;
	left: 277px;
}
