.d_page66-67_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page66-67_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page66-67_3
{
width:9495.78px;height:9501.08px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page66-67_4
{
width:7257.6px;height:272.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page66-67_5
{
width:538.58px;height:401.47px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page66-67_6
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page66-67_7
{
width:7257.6px;height:272.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page66-67_8
{
width:8949.6px;height:8192.61px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page66-67_9
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.s_page66-67_10
{
position:absolute;top:-11.04px;left:102.89px;
}
.s_page66-67_11
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.78px;
}
.s_page66-67_12
{
position:absolute;top:-18px;left:622.39px;
}
.s_page66-67_13
{
position:absolute;top:-18px;left:943.58px;
}
.s_page66-67_14
{
position:absolute;top:-18px;left:1443.32px;
}
.s_page66-67_15
{
position:absolute;top:-18px;left:2216.43px;letter-spacing:-2.48px;
}
.s_page66-67_16
{
position:absolute;top:-18px;left:2538.34px;letter-spacing:-3px;
}
.s_page66-67_17
{
position:absolute;top:-18px;left:2767.85px;letter-spacing:-1.51px;
}
.s_page66-67_18
{
position:absolute;top:-18px;left:3518.15px;letter-spacing:-1.51px;
}
.s_page66-67_19
{
position:absolute;top:-18px;left:4336.85px;
}
.s_page66-67_20
{
position:absolute;top:-18px;left:4850.04px;letter-spacing:-0.92px;
}
.s_page66-67_21
{
position:absolute;top:-18px;left:5483.22px;letter-spacing:-0.7px;
}
.s_page66-67_22
{
position:absolute;top:-18px;left:7108.54px;letter-spacing:-0.32px;
}
.s_page66-67_23
{
position:absolute;top:-18px;left:7877.09px;
}
.s_page66-67_24
{
position:absolute;top:-18px;left:8650.2px;
}
.s_page66-67_25
{
position:absolute;top:-18px;left:8928.67px;letter-spacing:-1.3px;
}
.s_page66-67_26
{
position:absolute;top:342px;left:0px;
}
.s_page66-67_27
{
position:absolute;top:342px;left:984.51px;
}
.s_page66-67_28
{
position:absolute;top:342px;left:1286.47px;letter-spacing:-1.87px;
}
.s_page66-67_29
{
position:absolute;top:342px;left:1858.43px;letter-spacing:-1.2px;
}
.s_page66-67_30
{
position:absolute;top:342px;left:2559.51px;letter-spacing:-0.88px;
}
.s_page66-67_31
{
position:absolute;top:342px;left:3980.1px;letter-spacing:-0.72px;
}
.s_page66-67_32
{
position:absolute;top:342px;left:4523.98px;
}
.s_page66-67_33
{
position:absolute;top:342px;left:4961.53px;letter-spacing:-1.18px;
}
.s_page66-67_34
{
position:absolute;top:342px;left:6265.72px;letter-spacing:-1.05px;
}
.s_page66-67_35
{
position:absolute;top:342px;left:7250.23px;
}
.s_page66-67_36
{
position:absolute;top:342px;left:7740.35px;
}
.s_page66-67_37
{
position:absolute;top:342px;left:8614.95px;letter-spacing:-2.48px;
}
.s_page66-67_38
{
position:absolute;top:342px;left:8913.79px;
}
.s_page66-67_39
{
position:absolute;top:702px;left:0px;letter-spacing:-1.87px;
}
.s_page66-67_40
{
position:absolute;top:702px;left:597.41px;letter-spacing:0px;
}
.s_page66-67_41
{
position:absolute;top:702px;left:1616.74px;
}
.s_page66-67_42
{
position:absolute;top:702px;left:1887.03px;
}
.s_page66-67_43
{
position:absolute;top:702px;left:2325.32px;letter-spacing:0px;
}
.s_page66-67_44
{
position:absolute;top:702px;left:2884.09px;
}
.s_page66-67_45
{
position:absolute;top:702px;left:3878.93px;
}
.s_page66-67_46
{
position:absolute;top:702px;left:4323.46px;
}
.s_page66-67_47
{
position:absolute;top:702px;left:4863.99px;letter-spacing:-0.96px;
}
.s_page66-67_48
{
position:absolute;top:702px;left:5346.44px;letter-spacing:-0.13px;
}
.s_page66-67_49
{
position:absolute;top:702px;left:6672.96px;
}
.s_page66-67_50
{
position:absolute;top:702px;left:7197.17px;letter-spacing:-1.38px;
}
.s_page66-67_51
{
position:absolute;top:702px;left:7644.82px;letter-spacing:-0.77px;
}
.s_page66-67_52
{
position:absolute;top:702px;left:8575.58px;letter-spacing:-0.93px;
}
.s_page66-67_53
{
position:absolute;top:702px;left:9323.94px;
}
.s_page66-67_54
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.26px;
}
.s_page66-67_55
{
position:absolute;top:1062px;left:1090.79px;letter-spacing:-1.76px;
}
.s_page66-67_56
{
position:absolute;top:1062px;left:1289.75px;letter-spacing:-0.27px;
}
.s_page66-67_57
{
position:absolute;top:1062px;left:2174.63px;
}
.s_page66-67_58
{
position:absolute;top:1062px;left:2410.55px;
}
.s_page66-67_59
{
position:absolute;top:1062px;left:3015.34px;
}
.s_page66-67_60
{
position:absolute;top:1062px;left:3303.58px;letter-spacing:-1.32px;
}
.s_page66-67_61
{
position:absolute;top:1062px;left:4122.69px;
}
.s_page66-67_62
{
position:absolute;top:1062px;left:4540.77px;
}
.s_page66-67_63
{
position:absolute;top:1062px;left:5537.48px;letter-spacing:-0.42px;
}
.s_page66-67_64
{
position:absolute;top:1062px;left:6000.68px;letter-spacing:-0.68px;
}
.s_page66-67_65
{
position:absolute;top:1062px;left:6645.08px;
}
.s_page66-67_66
{
position:absolute;top:1062px;left:7759.15px;
}
.s_page66-67_67
{
position:absolute;top:1062px;left:8183.46px;
}
.s_page66-67_68
{
position:absolute;top:1062px;left:8843.46px;letter-spacing:-0.96px;
}
.s_page66-67_69
{
position:absolute;top:1062px;left:9305.7px;
}
.s_page66-67_70
{
position:absolute;top:1422px;left:0px;letter-spacing:-1.87px;
}
.s_page66-67_71
{
position:absolute;top:1422px;left:553.67px;letter-spacing:-0.81px;
}
.s_page66-67_72
{
position:absolute;top:1838.69px;left:0px;
}
.s_page66-67_73
{
position:absolute;top:1838.69px;left:331.28px;letter-spacing:-1.04px;
}
.s_page66-67_74
{
position:absolute;top:1838.69px;left:639.94px;letter-spacing:-0.38px;
}
.s_page66-67_75
{
position:absolute;top:1838.69px;left:1273.77px;letter-spacing:0px;
}
.s_page66-67_76
{
position:absolute;top:1838.69px;left:1510.88px;letter-spacing:-1.27px;
}
.s_page66-67_77
{
position:absolute;top:2312.08px;left:0px;
}
.s_page66-67_78
{
position:absolute;top:2312.08px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_79
{
position:absolute;top:2785.46px;left:0px;
}
.s_page66-67_80
{
position:absolute;top:2785.46px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_81
{
position:absolute;top:3258.85px;left:0px;
}
.s_page66-67_82
{
position:absolute;top:3258.85px;left:261.2px;
}
.s_page66-67_83
{
position:absolute;top:3258.85px;left:639.94px;letter-spacing:-0.38px;
}
.s_page66-67_84
{
position:absolute;top:3258.85px;left:1273.77px;letter-spacing:0px;
}
.s_page66-67_85
{
position:absolute;top:3258.85px;left:1510.88px;
}
.s_page66-67_86
{
position:absolute;top:3258.85px;left:2513.1px;letter-spacing:0px;
}
.s_page66-67_87
{
position:absolute;top:3258.85px;left:2984.93px;
}
.s_page66-67_88
{
position:absolute;top:3258.85px;left:3308.45px;
}
.s_page66-67_89
{
position:absolute;top:3732.24px;left:0px;
}
.s_page66-67_90
{
position:absolute;top:3732.24px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_91
{
position:absolute;top:4205.62px;left:0px;
}
.s_page66-67_92
{
position:absolute;top:4205.62px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_93
{
position:absolute;top:4679.01px;left:0px;
}
.s_page66-67_94
{
position:absolute;top:4679.01px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_95
{
position:absolute;top:5152.39px;left:0px;
}
.s_page66-67_96
{
position:absolute;top:5152.39px;left:257.6px;letter-spacing:-1.28px;
}
.s_page66-67_97
{
position:absolute;top:5152.39px;left:639.94px;letter-spacing:-1.38px;
}
.s_page66-67_98
{
position:absolute;top:5152.39px;left:1198.02px;
}
.s_page66-67_99
{
position:absolute;top:5152.39px;left:1540.81px;
}
.s_page66-67_100
{
position:absolute;top:5152.39px;left:2543.36px;letter-spacing:0px;
}
.s_page66-67_101
{
position:absolute;top:5152.39px;left:3015.52px;letter-spacing:-0.75px;
}
.s_page66-67_102
{
position:absolute;top:5152.39px;left:4543.42px;text-rendering:optimizeLegibility;letter-spacing:-0.58px;
}
.s_page66-67_103
{
position:absolute;top:5152.39px;left:5227.25px;
}
.s_page66-67_104
{
position:absolute;top:5152.39px;left:5646.85px;letter-spacing:-1.18px;
}
.s_page66-67_105
{
position:absolute;top:5152.39px;left:6933.08px;letter-spacing:-1.68px;
}
.s_page66-67_106
{
position:absolute;top:5152.39px;left:7951.71px;
}
.s_page66-67_107
{
position:absolute;top:5152.39px;left:8423.87px;
}
.s_page66-67_108
{
position:absolute;top:5152.39px;left:9280.5px;letter-spacing:-2.48px;
}
.s_page66-67_109
{
position:absolute;top:5512.39px;left:639.94px;
}
.s_page66-67_110
{
position:absolute;top:5512.39px;left:1385.84px;letter-spacing:-1.2px;
}
.s_page66-67_111
{
position:absolute;top:5985.78px;left:0px;
}
.s_page66-67_112
{
position:absolute;top:5985.78px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_113
{
position:absolute;top:6459.16px;left:0px;
}
.s_page66-67_114
{
position:absolute;top:6459.16px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_115
{
position:absolute;top:6932.55px;left:0px;
}
.s_page66-67_116
{
position:absolute;top:6932.55px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_117
{
position:absolute;top:7405.94px;left:0px;
}
.s_page66-67_118
{
position:absolute;top:7405.94px;left:261.68px;letter-spacing:-0.8px;
}
.s_page66-67_119
{
position:absolute;top:7405.94px;left:639.94px;letter-spacing:-0.38px;
}
.s_page66-67_120
{
position:absolute;top:7405.94px;left:1273.77px;letter-spacing:0px;
}
.s_page66-67_121
{
position:absolute;top:7405.94px;left:1930.63px;letter-spacing:0px;
}
.s_page66-67_122
{
position:absolute;top:7405.94px;left:2715.18px;
}
.s_page66-67_123
{
position:absolute;top:7405.94px;left:3047.81px;letter-spacing:-1.4px;
}
.s_page66-67_124
{
position:absolute;top:7405.94px;left:3705.17px;
}
.s_page66-67_125
{
position:absolute;top:7405.94px;left:3994.6px;letter-spacing:-1.87px;
}
.s_page66-67_126
{
position:absolute;top:7405.94px;left:4554.75px;
}
.s_page66-67_127
{
position:absolute;top:7405.94px;left:5300.65px;
}
.s_page66-67_128
{
position:absolute;top:7405.94px;left:5944.56px;letter-spacing:-1.3px;
}
.s_page66-67_129
{
position:absolute;top:7405.94px;left:6529.19px;
}
.s_page66-67_130
{
position:absolute;top:7405.94px;left:7786.54px;letter-spacing:-0.6px;
}
.s_page66-67_131
{
position:absolute;top:7879.32px;left:0px;
}
.s_page66-67_132
{
position:absolute;top:7879.32px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_133
{
position:absolute;top:8352.71px;left:0px;
}
.s_page66-67_134
{
position:absolute;top:8352.71px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_135
{
position:absolute;top:8826.09px;left:0px;
}
.s_page66-67_136
{
position:absolute;top:8826.09px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_137
{
position:absolute;top:9299.48px;left:0px;
}
.s_page66-67_138
{
position:absolute;top:9299.48px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_139
{
position:absolute;top:-21px;left:1400.44px;letter-spacing:-1.15px;
}
.s_page66-67_140
{
position:absolute;top:-21px;left:2479.55px;
}
.s_page66-67_141
{
position:absolute;top:-21px;left:2716.99px;letter-spacing:-0.4px;
}
.s_page66-67_142
{
position:absolute;top:-21px;left:4709.73px;
}
.s_page66-67_143
{
position:absolute;top:54.33px;left:102.89px;
}
.s_page66-67_144
{
position:absolute;top:-21px;left:769.61px;letter-spacing:-1.15px;
}
.s_page66-67_145
{
position:absolute;top:-21px;left:1848.72px;
}
.s_page66-67_146
{
position:absolute;top:-21px;left:2144.11px;letter-spacing:-6.79px;
}
.s_page66-67_147
{
position:absolute;top:-21px;left:2583.99px;letter-spacing:-0.32px;
}
.s_page66-67_148
{
position:absolute;top:-21px;left:3558.93px;letter-spacing:-1.54px;
}
.s_page66-67_149
{
position:absolute;top:-21px;left:4136.29px;letter-spacing:-2.2px;
}
.s_page66-67_150
{
position:absolute;top:-21px;left:5210.92px;letter-spacing:-1.54px;
}
.s_page66-67_151
{
position:absolute;top:-21px;left:5788.28px;letter-spacing:-0.34px;
}
.s_page66-67_152
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page66-67_153
{
position:absolute;top:-18px;left:469.27px;letter-spacing:-6.3px;
}
.s_page66-67_154
{
position:absolute;top:-18px;left:841.59px;letter-spacing:-0.44px;
}
.s_page66-67_155
{
position:absolute;top:-18px;left:1584.46px;
}
.s_page66-67_156
{
position:absolute;top:-18px;left:1833.17px;
}
.s_page66-67_157
{
position:absolute;top:-18px;left:2177.16px;letter-spacing:-0.16px;
}
.s_page66-67_158
{
position:absolute;top:-18px;left:3083.95px;
}
.s_page66-67_159
{
position:absolute;top:-18px;left:3614.41px;letter-spacing:-2.48px;
}
.s_page66-67_160
{
position:absolute;top:-18px;left:3906.57px;letter-spacing:-1.38px;
}
.s_page66-67_161
{
position:absolute;top:-18px;left:4346.8px;letter-spacing:-1.15px;
}
.s_page66-67_162
{
position:absolute;top:-18px;left:5218.53px;letter-spacing:-0.34px;
}
.s_page66-67_163
{
position:absolute;top:-18px;left:5729.09px;letter-spacing:-0.48px;
}
.s_page66-67_164
{
position:absolute;top:-18px;left:6422.51px;
}
.s_page66-67_165
{
position:absolute;top:-18px;left:7313.7px;letter-spacing:-0.16px;
}
.s_page66-67_166
{
position:absolute;top:-18px;left:8565.84px;
}
.s_page66-67_167
{
position:absolute;top:342px;left:0px;letter-spacing:-0.96px;
}
.s_page66-67_168
{
position:absolute;top:342px;left:843.84px;letter-spacing:-0.66px;
}
.s_page66-67_169
{
position:absolute;top:342px;left:2069.27px;
}
.s_page66-67_170
{
position:absolute;top:342px;left:3035.02px;letter-spacing:-1.17px;
}
.s_page66-67_171
{
position:absolute;top:342px;left:4106.62px;
}
.s_page66-67_172
{
position:absolute;top:342px;left:4796.62px;letter-spacing:0px;
}
.s_page66-67_173
{
position:absolute;top:342px;left:5248.78px;letter-spacing:-1.2px;
}
.s_page66-67_174
{
position:absolute;top:342px;left:6139.18px;letter-spacing:-2.48px;
}
.s_page66-67_175
{
position:absolute;top:342px;left:6413.99px;
}
.s_page66-67_176
{
position:absolute;top:342px;left:6831.6px;letter-spacing:-1.64px;
}
.s_page66-67_177
{
position:absolute;top:342px;left:7530.48px;
}
.s_page66-67_178
{
position:absolute;top:342px;left:8000.65px;letter-spacing:-0.82px;
}
.s_page66-67_179
{
position:absolute;top:702px;left:0px;letter-spacing:-1.64px;
}
.s_page66-67_180
{
position:absolute;top:702px;left:700.55px;letter-spacing:-0.29px;
}
.s_page66-67_181
{
position:absolute;top:702px;left:1702.77px;
}
.s_page66-67_182
{
position:absolute;top:702px;left:2225.48px;letter-spacing:-0.42px;
}
.s_page66-67_183
{
position:absolute;top:702px;left:2689.88px;
}
.s_page66-67_184
{
position:absolute;top:702px;left:3809.7px;letter-spacing:-0.68px;
}
.s_page66-67_185
{
position:absolute;top:702px;left:4450.73px;
}
.s_page66-67_186
{
position:absolute;top:702px;left:4876.24px;
}
.s_page66-67_187
{
position:absolute;top:702px;left:5559.51px;letter-spacing:-0.96px;
}
.s_page66-67_188
{
position:absolute;top:702px;left:6022.94px;
}
.s_page66-67_189
{
position:absolute;top:702px;left:6274.22px;
}
.s_page66-67_190
{
position:absolute;top:702px;left:6693.49px;letter-spacing:-0.81px;
}
.s_page66-67_191
{
position:absolute;top:1262.69px;left:0px;
}
.s_page66-67_192
{
position:absolute;top:1262.69px;left:331.28px;letter-spacing:-1.04px;
}
.s_page66-67_193
{
position:absolute;top:1262.69px;left:639.94px;letter-spacing:-0.48px;
}
.s_page66-67_194
{
position:absolute;top:1262.69px;left:1192.89px;letter-spacing:0px;
}
.s_page66-67_195
{
position:absolute;top:1262.69px;left:1724.96px;
}
.s_page66-67_196
{
position:absolute;top:1262.69px;left:2137.51px;letter-spacing:-6.3px;
}
.s_page66-67_197
{
position:absolute;top:1262.69px;left:2498.22px;letter-spacing:-0.44px;
}
.s_page66-67_198
{
position:absolute;top:1262.69px;left:3229.5px;
}
.s_page66-67_199
{
position:absolute;top:1262.69px;left:3696.77px;letter-spacing:-1.5px;
}
.s_page66-67_200
{
position:absolute;top:1823.38px;left:0px;
}
.s_page66-67_201
{
position:absolute;top:1823.38px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_202
{
position:absolute;top:2384.08px;left:0px;
}
.s_page66-67_203
{
position:absolute;top:2384.08px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_204
{
position:absolute;top:2944.77px;left:0px;
}
.s_page66-67_205
{
position:absolute;top:2944.77px;left:261.2px;
}
.s_page66-67_206
{
position:absolute;top:2944.77px;left:639.94px;letter-spacing:-0.38px;
}
.s_page66-67_207
{
position:absolute;top:2944.77px;left:1318.17px;letter-spacing:-0.66px;
}
.s_page66-67_208
{
position:absolute;top:2944.77px;left:1824.32px;
}
.s_page66-67_209
{
position:absolute;top:2944.77px;left:2031.2px;letter-spacing:0px;
}
.s_page66-67_210
{
position:absolute;top:3505.46px;left:0px;
}
.s_page66-67_211
{
position:absolute;top:3505.46px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_212
{
position:absolute;top:4066.16px;left:0px;
}
.s_page66-67_213
{
position:absolute;top:4066.16px;left:257.6px;letter-spacing:-1.28px;
}
.s_page66-67_214
{
position:absolute;top:4066.16px;left:639.94px;
}
.s_page66-67_215
{
position:absolute;top:4066.16px;left:900.57px;letter-spacing:0px;
}
.s_page66-67_216
{
position:absolute;top:4066.16px;left:1607.36px;
}
.s_page66-67_217
{
position:absolute;top:4066.16px;left:2126.23px;letter-spacing:-2.48px;
}
.s_page66-67_218
{
position:absolute;top:4066.16px;left:2406.79px;letter-spacing:-1px;
}
.s_page66-67_219
{
position:absolute;top:4066.16px;left:2992.86px;
}
.s_page66-67_220
{
position:absolute;top:4066.16px;left:3464.69px;
}
.s_page66-67_221
{
position:absolute;top:4066.16px;left:3715.49px;
}
.s_page66-67_222
{
position:absolute;top:4066.16px;left:4422.28px;letter-spacing:-1.15px;
}
.s_page66-67_223
{
position:absolute;top:4066.16px;left:4874.19px;
}
.s_page66-67_224
{
position:absolute;top:4066.16px;left:5111.31px;
}
.s_page66-67_225
{
position:absolute;top:4066.16px;left:5318.18px;
}
.s_page66-67_226
{
position:absolute;top:4626.85px;left:0px;
}
.s_page66-67_227
{
position:absolute;top:4626.85px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_228
{
position:absolute;top:5187.54px;left:0px;
}
.s_page66-67_229
{
position:absolute;top:5187.54px;left:261.68px;letter-spacing:-0.8px;
}
.s_page66-67_230
{
position:absolute;top:5187.54px;left:639.94px;letter-spacing:-2.58px;
}
.s_page66-67_231
{
position:absolute;top:5187.54px;left:1171.06px;letter-spacing:-0.66px;
}
.s_page66-67_232
{
position:absolute;top:5187.54px;left:1673.13px;
}
.s_page66-67_233
{
position:absolute;top:5187.54px;left:2131.52px;letter-spacing:0px;
}
.s_page66-67_234
{
position:absolute;top:5187.54px;left:3058.14px;
}
.s_page66-67_235
{
position:absolute;top:5187.54px;left:3898.85px;letter-spacing:-2.4px;
}
.s_page66-67_236
{
position:absolute;top:5187.54px;left:4273px;
}
.s_page66-67_237
{
position:absolute;top:5187.54px;left:4596.52px;letter-spacing:-0.76px;
}
.s_page66-67_238
{
position:absolute;top:5748.24px;left:0px;
}
.s_page66-67_239
{
position:absolute;top:5748.24px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_240
{
position:absolute;top:6308.93px;left:0px;
}
.s_page66-67_241
{
position:absolute;top:6308.93px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_242
{
position:absolute;top:6869.62px;left:0px;
}
.s_page66-67_243
{
position:absolute;top:6869.62px;left:264.08px;letter-spacing:-1.28px;
}
.s_page66-67_244
{
position:absolute;top:6869.62px;left:639.94px;letter-spacing:-0.64px;
}
.s_page66-67_245
{
position:absolute;top:6869.62px;left:854.73px;
}
.s_page66-67_246
{
position:absolute;top:6869.62px;left:1091.84px;letter-spacing:0px;
}
.s_page66-67_247
{
position:absolute;top:6869.62px;left:1962.79px;letter-spacing:-1.1px;
}
.s_page66-67_248
{
position:absolute;top:6869.62px;left:2513.58px;letter-spacing:0px;
}
.s_page66-67_249
{
position:absolute;top:6869.62px;left:3220.37px;letter-spacing:-0.68px;
}
.s_page66-67_250
{
position:absolute;top:7430.31px;left:0px;
}
.s_page66-67_251
{
position:absolute;top:7430.31px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_252
{
position:absolute;top:7991.01px;left:0px;
}
.s_page66-67_253
{
position:absolute;top:7991.01px;left:639.94px;letter-spacing:0px;
}
.s_page66-67_254
{
position:absolute;top:-5.54px;left:125.86px;
}

.page66_btn1 {
	position:absolute;
	top: 790px;
	right: 270px;
}


.page66_position1 {
	position:absolute;
	top: 509px;
	left: 221px;
	width: 140px;
	height: 21px;
}
.page66_position2 {
	position:absolute;
	top: 537px;
	left: 221px;
	width: 140px;
	height: 21px;
}
.page66_position3 {
	position:absolute;
	top: 566px;
	left: 221px;
	width: 140px;
	height: 21px;
}
.page66_position4 {
	position:absolute;
	top: 594px;
	left: 221px;
	width: 140px;
	height: 21px;
}
