.d_page56-57_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page56-57_2
{
width:2079.81px;height:214.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.62px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.62px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.62px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.62px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.62px) rotate(0deg) scale(0.05);
}
.d_page56-57_3
{
width:2907.17px;height:691.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,5.22px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,5.22px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,5.22px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,5.22px) rotate(0deg) scale(0.05);-o-transform: translate(0px,5.22px) rotate(0deg) scale(0.05);
}
.d_page56-57_4
{
width:3259.84px;height:655.04px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.7px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.7px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.7px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.7px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.7px) rotate(0deg) scale(0.05);
}
.d_page56-57_5
{
width:4426.14px;height:2959.62px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);
}
.d_page56-57_6
{
width:4187.73px;height:2343.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);
}
.d_page56-57_7
{
width:2633.9px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.68px) rotate(0deg) scale(0.05);
}
.d_page56-57_8
{
width:2776.56px;height:1983.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);
}
.d_page56-57_9
{
width:8191.79px;height:5265.26px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);
}
.d_page56-57_10
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page56-57_11
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page56-57_12
{
width:8859.99px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page56-57_13
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page56-57_14
{
width:8116.45px;height:619.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);
}
.d_page56-57_15
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.24px) rotate(0deg) scale(0.05);
}
.d_page56-57_16
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page56-57_17
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page56-57_18
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page56-57_19
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page56-57_20
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page56-57_21
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page56-57_22
{
width:3972px;height:2491.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page56-57_23
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page56-57_24
{
position:absolute;top:-21px;left:0px;
}
.s_page56-57_25
{
position:absolute;top:-21px;left:882.27px;
}
.s_page56-57_26
{
position:absolute;top:-21.69px;left:227.68px;letter-spacing:-4.29px;
}
.s_page56-57_27
{
position:absolute;top:-21.69px;left:1097.58px;letter-spacing:-2.89px;
}
.s_page56-57_28
{
position:absolute;top:-21.69px;left:1442.59px;
}
.s_page56-57_29
{
position:absolute;top:412.11px;left:6.73px;letter-spacing:-0.69px;
}
.s_page56-57_30
{
position:absolute;top:412.11px;left:1100.47px;letter-spacing:-1.56px;
}
.s_page56-57_31
{
position:absolute;top:412.11px;left:1774.88px;
}
.s_page56-57_32
{
position:absolute;top:412.11px;left:2133.49px;
}
.s_page56-57_33
{
position:absolute;top:-21.69px;left:404.02px;letter-spacing:-4.29px;
}
.s_page56-57_34
{
position:absolute;top:-21.69px;left:1273.92px;letter-spacing:-2.89px;
}
.s_page56-57_35
{
position:absolute;top:-21.69px;left:1618.93px;
}
.s_page56-57_36
{
position:absolute;top:412.11px;left:14.9px;
}
.s_page56-57_37
{
position:absolute;top:412.11px;left:1192.5px;
}
.s_page56-57_38
{
position:absolute;top:412.11px;left:2541.9px;letter-spacing:-2.89px;
}
.s_page56-57_39
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.18px;
}
.s_page56-57_40
{
position:absolute;top:-18px;left:857.51px;
}
.s_page56-57_41
{
position:absolute;top:-18px;left:1848.45px;
}
.s_page56-57_42
{
position:absolute;top:-18px;left:1913.73px;letter-spacing:-3.04px;
}
.s_page56-57_43
{
position:absolute;top:-18px;left:2574.44px;
}
.s_page56-57_44
{
position:absolute;top:-18px;left:2757.32px;letter-spacing:-0.88px;
}
.s_page56-57_45
{
position:absolute;top:342px;left:0px;
}
.s_page56-57_46
{
position:absolute;top:342px;left:419.27px;letter-spacing:-1.13px;
}
.s_page56-57_47
{
position:absolute;top:342px;left:1114.3px;letter-spacing:-1.23px;
}
.s_page56-57_48
{
position:absolute;top:342px;left:2004.93px;letter-spacing:-1.04px;
}
.s_page56-57_49
{
position:absolute;top:342px;left:2656.04px;
}
.s_page56-57_50
{
position:absolute;top:342px;left:2945.47px;
}
.s_page56-57_51
{
position:absolute;top:702px;left:0px;
}
.s_page56-57_52
{
position:absolute;top:702px;left:419.27px;letter-spacing:-0.18px;
}
.s_page56-57_53
{
position:absolute;top:702px;left:1514.38px;letter-spacing:-2.48px;
}
.s_page56-57_54
{
position:absolute;top:702px;left:1790.86px;
}
.s_page56-57_55
{
position:absolute;top:702px;left:2210.13px;letter-spacing:-1.88px;
}
.s_page56-57_56
{
position:absolute;top:702px;left:2880.2px;
}
.s_page56-57_57
{
position:absolute;top:1062px;left:0px;letter-spacing:-2.48px;
}
.s_page56-57_58
{
position:absolute;top:1062px;left:280.56px;letter-spacing:-0.39px;
}
.s_page56-57_59
{
position:absolute;top:1062px;left:1513.42px;letter-spacing:-1.78px;
}
.s_page56-57_60
{
position:absolute;top:1062px;left:2033.74px;letter-spacing:-0.79px;
}
.s_page56-57_61
{
position:absolute;top:1062px;left:2837.49px;
}
.s_page56-57_62
{
position:absolute;top:1062px;left:3370.04px;letter-spacing:-1.62px;
}
.s_page56-57_63
{
position:absolute;top:1422px;left:0px;
}
.s_page56-57_64
{
position:absolute;top:1422px;left:701.99px;letter-spacing:-0.53px;
}
.s_page56-57_65
{
position:absolute;top:1422px;left:1284.46px;letter-spacing:-2.1px;
}
.s_page56-57_66
{
position:absolute;top:1422px;left:1754.62px;letter-spacing:-0.96px;
}
.s_page56-57_67
{
position:absolute;top:1422px;left:2396.61px;letter-spacing:-1.84px;
}
.s_page56-57_68
{
position:absolute;top:1422px;left:2689.88px;letter-spacing:-3px;
}
.s_page56-57_69
{
position:absolute;top:1422px;left:2881.4px;letter-spacing:-1.08px;
}
.s_page56-57_70
{
position:absolute;top:1422px;left:3587.22px;letter-spacing:-2.48px;
}
.s_page56-57_71
{
position:absolute;top:1782px;left:0px;
}
.s_page56-57_72
{
position:absolute;top:1782px;left:877.66px;
}
.s_page56-57_73
{
position:absolute;top:1782px;left:1414.05px;
}
.s_page56-57_74
{
position:absolute;top:1782px;left:1835.72px;letter-spacing:-0.66px;
}
.s_page56-57_75
{
position:absolute;top:1782px;left:2365.64px;letter-spacing:-0.68px;
}
.s_page56-57_76
{
position:absolute;top:1782px;left:3065.23px;
}
.s_page56-57_77
{
position:absolute;top:1782px;left:3484.5px;letter-spacing:-0.51px;
}
.s_page56-57_78
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.5px;
}
.s_page56-57_79
{
position:absolute;top:2142px;left:1383.82px;
}
.s_page56-57_80
{
position:absolute;top:2142px;left:1855.65px;
}
.s_page56-57_81
{
position:absolute;top:2142px;left:2179.16px;letter-spacing:-0.79px;
}
.s_page56-57_82
{
position:absolute;top:2142px;left:2926.99px;letter-spacing:-0.33px;
}
.s_page56-57_83
{
position:absolute;top:2142px;left:3973.38px;
}
.s_page56-57_84
{
position:absolute;top:2502px;left:0px;
}
.s_page56-57_85
{
position:absolute;top:2502px;left:695.51px;letter-spacing:-1.36px;
}
.s_page56-57_86
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.68px;
}
.s_page56-57_87
{
position:absolute;top:-18px;left:709.2px;letter-spacing:-0.67px;
}
.s_page56-57_88
{
position:absolute;top:-18px;left:1865.27px;
}
.s_page56-57_89
{
position:absolute;top:-18px;left:2959.17px;
}
.s_page56-57_90
{
position:absolute;top:-18px;left:3024.45px;letter-spacing:-0.69px;
}
.s_page56-57_91
{
position:absolute;top:-18px;left:3822.44px;letter-spacing:-2.48px;
}
.s_page56-57_92
{
position:absolute;top:342px;left:0px;letter-spacing:-3px;
}
.s_page56-57_93
{
position:absolute;top:342px;left:191.52px;
}
.s_page56-57_94
{
position:absolute;top:342px;left:805.43px;letter-spacing:-1.25px;
}
.s_page56-57_95
{
position:absolute;top:342px;left:1339.9px;
}
.s_page56-57_96
{
position:absolute;top:342px;left:1629.33px;
}
.s_page56-57_97
{
position:absolute;top:342px;left:2472.19px;
}
.s_page56-57_98
{
position:absolute;top:342px;left:2891.47px;letter-spacing:-0.18px;
}
.s_page56-57_99
{
position:absolute;top:702px;left:0px;letter-spacing:-2.48px;
}
.s_page56-57_100
{
position:absolute;top:702px;left:280.56px;letter-spacing:-1.08px;
}
.s_page56-57_101
{
position:absolute;top:702px;left:1484.38px;letter-spacing:-0.64px;
}
.s_page56-57_102
{
position:absolute;top:702px;left:2585.01px;
}
.s_page56-57_103
{
position:absolute;top:702px;left:3117.56px;letter-spacing:-1.62px;
}
.s_page56-57_104
{
position:absolute;top:702px;left:3537.07px;
}
.s_page56-57_105
{
position:absolute;top:1062px;left:0px;
}
.s_page56-57_106
{
position:absolute;top:1062px;left:732.71px;letter-spacing:-1.44px;
}
.s_page56-57_107
{
position:absolute;top:1062px;left:1372.54px;letter-spacing:-1.84px;
}
.s_page56-57_108
{
position:absolute;top:1062px;left:1665.81px;letter-spacing:-3px;
}
.s_page56-57_109
{
position:absolute;top:1062px;left:1857.33px;letter-spacing:-1.08px;
}
.s_page56-57_110
{
position:absolute;top:1062px;left:2563.15px;letter-spacing:-2.48px;
}
.s_page56-57_111
{
position:absolute;top:1062px;left:2843.71px;
}
.s_page56-57_112
{
position:absolute;top:1062px;left:3662.57px;
}
.s_page56-57_113
{
position:absolute;top:1422px;left:0px;
}
.s_page56-57_114
{
position:absolute;top:1422px;left:419.27px;
}
.s_page56-57_115
{
position:absolute;top:1422px;left:1541.74px;letter-spacing:-1.04px;
}
.s_page56-57_116
{
position:absolute;top:1422px;left:2193.57px;letter-spacing:-0.68px;
}
.s_page56-57_117
{
position:absolute;top:1422px;left:2893.16px;
}
.s_page56-57_118
{
position:absolute;top:1422px;left:3312.43px;
}
.s_page56-57_119
{
position:absolute;top:1782px;left:0px;letter-spacing:-0.5px;
}
.s_page56-57_120
{
position:absolute;top:1782px;left:1383.82px;
}
.s_page56-57_121
{
position:absolute;top:1782px;left:1855.65px;
}
.s_page56-57_122
{
position:absolute;top:1782px;left:2179.16px;letter-spacing:-0.79px;
}
.s_page56-57_123
{
position:absolute;top:1782px;left:2926.99px;letter-spacing:-0.33px;
}
.s_page56-57_124
{
position:absolute;top:2142px;left:0px;
}
.s_page56-57_125
{
position:absolute;top:2142px;left:419.27px;letter-spacing:-0.88px;
}
.s_page56-57_126
{
position:absolute;top:2142px;left:1008.94px;letter-spacing:-1.36px;
}
.s_page56-57_127
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.24px;
}
.s_page56-57_128
{
position:absolute;top:-18px;left:691.91px;letter-spacing:-0.6px;
}
.s_page56-57_129
{
position:absolute;top:-18px;left:1447.66px;
}
.s_page56-57_130
{
position:absolute;top:342px;left:0px;
}
.s_page56-57_131
{
position:absolute;top:342px;left:676.31px;
}
.s_page56-57_132
{
position:absolute;top:342px;left:1266.46px;
}
.s_page56-57_133
{
position:absolute;top:342px;left:1685.73px;letter-spacing:-1.6px;
}
.s_page56-57_134
{
position:absolute;top:702px;left:0px;letter-spacing:-1px;
}
.s_page56-57_135
{
position:absolute;top:702px;left:730.79px;letter-spacing:-0.18px;
}
.s_page56-57_136
{
position:absolute;top:702px;left:1822.54px;letter-spacing:-2.4px;
}
.s_page56-57_137
{
position:absolute;top:702px;left:2196.69px;letter-spacing:-3px;
}
.s_page56-57_138
{
position:absolute;top:1062px;left:0px;
}
.s_page56-57_139
{
position:absolute;top:1062px;left:765.34px;letter-spacing:-2.48px;
}
.s_page56-57_140
{
position:absolute;top:1062px;left:1045.9px;
}
.s_page56-57_141
{
position:absolute;top:1062px;left:1239.82px;letter-spacing:-0.88px;
}
.s_page56-57_142
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.35px;
}
.s_page56-57_143
{
position:absolute;top:-18px;left:1411.67px;
}
.s_page56-57_144
{
position:absolute;top:342px;left:0px;letter-spacing:-0.42px;
}
.s_page56-57_145
{
position:absolute;top:342px;left:464.4px;letter-spacing:-0.79px;
}
.s_page56-57_146
{
position:absolute;top:342px;left:1554.7px;
}
.s_page56-57_147
{
position:absolute;top:342px;left:1791.81px;
}
.s_page56-57_148
{
position:absolute;top:702px;left:0px;letter-spacing:-3.12px;
}
.s_page56-57_149
{
position:absolute;top:702px;left:319.43px;
}
.s_page56-57_150
{
position:absolute;top:702px;left:738.71px;letter-spacing:-0.18px;
}
.s_page56-57_151
{
position:absolute;top:702px;left:1833.81px;letter-spacing:-2.48px;
}
.s_page56-57_152
{
position:absolute;top:702px;left:2114.37px;letter-spacing:-2.22px;
}
.s_page56-57_153
{
position:absolute;top:1062px;left:0px;
}
.s_page56-57_154
{
position:absolute;top:1062px;left:795.59px;letter-spacing:-1.6px;
}
.s_page56-57_155
{
position:absolute;top:1062px;left:1451.5px;
}
.s_page56-57_156
{
position:absolute;top:1062px;left:2247.09px;
}
.s_page56-57_157
{
position:absolute;top:1422px;left:0px;
}
.s_page56-57_158
{
position:absolute;top:1422px;left:419.27px;letter-spacing:-1.08px;
}
.s_page56-57_159
{
position:absolute;top:1422px;left:1623.09px;letter-spacing:-0.64px;
}
.s_page56-57_160
{
position:absolute;top:1782px;left:0px;letter-spacing:-2.4px;
}
.s_page56-57_161
{
position:absolute;top:1782px;left:374.15px;letter-spacing:-3px;
}
.s_page56-57_162
{
position:absolute;top:1782px;left:565.67px;
}
.s_page56-57_163
{
position:absolute;top:1782px;left:1331.01px;letter-spacing:-2.48px;
}
.s_page56-57_164
{
position:absolute;top:1782px;left:1611.57px;
}
.s_page56-57_165
{
position:absolute;top:1782px;left:1794.45px;letter-spacing:-0.88px;
}
.s_page56-57_166
{
position:absolute;top:-21px;left:1508.72px;letter-spacing:-0.3px;
}
.s_page56-57_167
{
position:absolute;top:-21px;left:3032.47px;letter-spacing:-0.23px;
}
.s_page56-57_168
{
position:absolute;top:-21px;left:3761.58px;
}
.s_page56-57_169
{
position:absolute;top:-21px;left:4607.45px;
}
.s_page56-57_170
{
position:absolute;top:-21px;left:5489.72px;
}
.s_page56-57_171
{
position:absolute;top:573.29px;left:360px;letter-spacing:-0.58px;
}
.s_page56-57_172
{
position:absolute;top:573.29px;left:1255.91px;letter-spacing:-0.57px;
}
.s_page56-57_173
{
position:absolute;top:573.29px;left:2539.42px;letter-spacing:-0.35px;
}
.s_page56-57_174
{
position:absolute;top:573.29px;left:3904.76px;
}
.s_page56-57_175
{
position:absolute;top:573.29px;left:4353.79px;
}
.s_page56-57_176
{
position:absolute;top:573.29px;left:4954.02px;
}
.s_page56-57_177
{
position:absolute;top:573.29px;left:5373.3px;letter-spacing:-1.15px;
}
.s_page56-57_178
{
position:absolute;top:573.29px;left:5883.77px;letter-spacing:-1.96px;
}
.s_page56-57_179
{
position:absolute;top:573.29px;left:6512.56px;
}
.s_page56-57_180
{
position:absolute;top:573.29px;left:6792.39px;
}
.s_page56-57_181
{
position:absolute;top:573.29px;left:7211.66px;
}
.s_page56-57_182
{
position:absolute;top:933.29px;left:360px;
}
.s_page56-57_183
{
position:absolute;top:933.29px;left:1174.78px;letter-spacing:-2.48px;
}
.s_page56-57_184
{
position:absolute;top:933.29px;left:1455.34px;
}
.s_page56-57_185
{
position:absolute;top:933.29px;left:2124.45px;
}
.s_page56-57_186
{
position:absolute;top:933.29px;left:2375.73px;
}
.s_page56-57_187
{
position:absolute;top:933.29px;left:2795px;letter-spacing:-1.74px;
}
.s_page56-57_188
{
position:absolute;top:933.29px;left:3174.68px;letter-spacing:-1.51px;
}
.s_page56-57_189
{
position:absolute;top:933.29px;left:3880.26px;letter-spacing:-2.4px;
}
.s_page56-57_190
{
position:absolute;top:933.29px;left:4254.41px;letter-spacing:-0.96px;
}
.s_page56-57_191
{
position:absolute;top:933.29px;left:5094.16px;letter-spacing:-0.75px;
}
.s_page56-57_192
{
position:absolute;top:933.29px;left:5810.06px;letter-spacing:-0.34px;
}
.s_page56-57_193
{
position:absolute;top:933.29px;left:6313.58px;
}
.s_page56-57_194
{
position:absolute;top:933.29px;left:6550.69px;
}
.s_page56-57_195
{
position:absolute;top:1293.29px;left:360px;letter-spacing:-1.25px;
}
.s_page56-57_196
{
position:absolute;top:1293.29px;left:1486.79px;
}
.s_page56-57_197
{
position:absolute;top:1293.29px;left:1772.14px;
}
.s_page56-57_198
{
position:absolute;top:1293.29px;left:2191.41px;
}
.s_page56-57_199
{
position:absolute;top:1293.29px;left:3113.48px;letter-spacing:-0.22px;
}
.s_page56-57_200
{
position:absolute;top:1293.29px;left:4525.62px;
}
.s_page56-57_201
{
position:absolute;top:1293.29px;left:4863.54px;letter-spacing:-0.33px;
}
.s_page56-57_202
{
position:absolute;top:1293.29px;left:5628.65px;
}
.s_page56-57_203
{
position:absolute;top:1293.29px;left:6413.2px;letter-spacing:-1.64px;
}
.s_page56-57_204
{
position:absolute;top:1293.29px;left:7544.3px;letter-spacing:-1.34px;
}
.s_page56-57_205
{
position:absolute;top:1653.29px;left:360px;letter-spacing:-1.3px;
}
.s_page56-57_206
{
position:absolute;top:1653.29px;left:988.31px;
}
.s_page56-57_207
{
position:absolute;top:1653.29px;left:1537.9px;letter-spacing:-0.72px;
}
.s_page56-57_208
{
position:absolute;top:1653.29px;left:2019.09px;
}
.s_page56-57_209
{
position:absolute;top:1653.29px;left:2405.97px;
}
.s_page56-57_210
{
position:absolute;top:1653.29px;left:2695.4px;letter-spacing:-1.08px;
}
.s_page56-57_211
{
position:absolute;top:1653.29px;left:3367.63px;
}
.s_page56-57_212
{
position:absolute;top:1653.29px;left:3786.9px;letter-spacing:-0.84px;
}
.s_page56-57_213
{
position:absolute;top:1653.29px;left:4606.49px;letter-spacing:-0.38px;
}
.s_page56-57_214
{
position:absolute;top:1653.29px;left:5385.04px;letter-spacing:-3px;
}
.s_page56-57_215
{
position:absolute;top:1653.29px;left:5576.56px;letter-spacing:-0.36px;
}
.s_page56-57_216
{
position:absolute;top:1653.29px;left:6275.19px;
}
.s_page56-57_217
{
position:absolute;top:1653.29px;left:6512.3px;
}
.s_page56-57_218
{
position:absolute;top:1653.29px;left:6913.33px;
}
.s_page56-57_219
{
position:absolute;top:1653.29px;left:7249.8px;letter-spacing:-2.4px;
}
.s_page56-57_220
{
position:absolute;top:1653.29px;left:7623.96px;
}
.s_page56-57_221
{
position:absolute;top:2013.29px;left:360px;letter-spacing:-1.03px;
}
.s_page56-57_222
{
position:absolute;top:2429.98px;left:360px;letter-spacing:-6.53px;
}
.s_page56-57_223
{
position:absolute;top:2429.98px;left:1039.91px;letter-spacing:-0.44px;
}
.s_page56-57_224
{
position:absolute;top:2429.98px;left:1756.07px;letter-spacing:-2.48px;
}
.s_page56-57_225
{
position:absolute;top:2429.98px;left:2032.55px;
}
.s_page56-57_226
{
position:absolute;top:2429.98px;left:2444.62px;letter-spacing:-1.44px;
}
.s_page56-57_227
{
position:absolute;top:2429.98px;left:3253.65px;letter-spacing:-0.66px;
}
.s_page56-57_228
{
position:absolute;top:2429.98px;left:3759.8px;letter-spacing:-0.96px;
}
.s_page56-57_229
{
position:absolute;top:2429.98px;left:4993.39px;
}
.s_page56-57_230
{
position:absolute;top:2429.98px;left:5244.66px;
}
.s_page56-57_231
{
position:absolute;top:2429.98px;left:5663.93px;
}
.s_page56-57_232
{
position:absolute;top:2429.98px;left:6551.68px;
}
.s_page56-57_233
{
position:absolute;top:2429.98px;left:7590.38px;
}
.s_page56-57_234
{
position:absolute;top:2789.98px;left:360px;
}
.s_page56-57_235
{
position:absolute;top:2789.98px;left:875.99px;letter-spacing:-1.08px;
}
.s_page56-57_236
{
position:absolute;top:2789.98px;left:1625.5px;letter-spacing:-3.12px;
}
.s_page56-57_237
{
position:absolute;top:2789.98px;left:1949.01px;letter-spacing:-3px;
}
.s_page56-57_238
{
position:absolute;top:2789.98px;left:2140.53px;letter-spacing:-0.33px;
}
.s_page56-57_239
{
position:absolute;top:2789.98px;left:2905.64px;letter-spacing:-0.44px;
}
.s_page56-57_240
{
position:absolute;top:2789.98px;left:3557.95px;
}
.s_page56-57_241
{
position:absolute;top:2789.98px;left:4400.82px;
}
.s_page56-57_242
{
position:absolute;top:2789.98px;left:4859.21px;letter-spacing:-0.24px;
}
.s_page56-57_243
{
position:absolute;top:2789.98px;left:5614px;
}
.s_page56-57_244
{
position:absolute;top:2789.98px;left:6476.78px;letter-spacing:-2.48px;
}
.s_page56-57_245
{
position:absolute;top:2789.98px;left:6751.58px;letter-spacing:-0.89px;
}
.s_page56-57_246
{
position:absolute;top:2789.98px;left:7483.09px;letter-spacing:-2.4px;
}
.s_page56-57_247
{
position:absolute;top:2789.98px;left:7857.24px;letter-spacing:-3px;
}
.s_page56-57_248
{
position:absolute;top:3149.98px;left:360px;
}
.s_page56-57_249
{
position:absolute;top:3566.68px;left:360px;letter-spacing:-1px;
}
.s_page56-57_250
{
position:absolute;top:3566.68px;left:946.07px;
}
.s_page56-57_251
{
position:absolute;top:3566.68px;left:1179.11px;
}
.s_page56-57_252
{
position:absolute;top:3566.68px;left:1598.38px;
}
.s_page56-57_253
{
position:absolute;top:3566.68px;left:2062.77px;letter-spacing:-1.23px;
}
.s_page56-57_254
{
position:absolute;top:3566.68px;left:2955.08px;
}
.s_page56-57_255
{
position:absolute;top:3566.68px;left:3244.51px;
}
.s_page56-57_256
{
position:absolute;top:3566.68px;left:3694.5px;letter-spacing:-5.09px;
}
.s_page56-57_257
{
position:absolute;top:3983.37px;left:360px;letter-spacing:-0.42px;
}
.s_page56-57_258
{
position:absolute;top:3983.37px;left:824.4px;
}
.s_page56-57_259
{
position:absolute;top:3983.37px;left:1198.07px;
}
.s_page56-57_260
{
position:absolute;top:3983.37px;left:2056.53px;
}
.s_page56-57_261
{
position:absolute;top:3983.37px;left:2394.45px;letter-spacing:-3px;
}
.s_page56-57_262
{
position:absolute;top:3983.37px;left:2580.21px;letter-spacing:-1.65px;
}
.s_page56-57_263
{
position:absolute;top:3983.37px;left:3380.35px;text-rendering:optimizeLegibility;
}
.s_page56-57_264
{
position:absolute;top:3983.37px;left:4456.5px;letter-spacing:-1.4px;
}
.s_page56-57_265
{
position:absolute;top:3983.37px;left:5095.61px;letter-spacing:-0.72px;
}
.s_page56-57_266
{
position:absolute;top:3983.37px;left:5576.8px;letter-spacing:-1.82px;
}
.s_page56-57_267
{
position:absolute;top:3983.37px;left:6146.07px;
}
.s_page56-57_268
{
position:absolute;top:3983.37px;left:6435.5px;letter-spacing:-3px;
}
.s_page56-57_269
{
position:absolute;top:3983.37px;left:6627.02px;letter-spacing:-0.24px;
}
.s_page56-57_270
{
position:absolute;top:3983.37px;left:7388.05px;
}
.s_page56-57_271
{
position:absolute;top:4343.37px;left:360px;
}
.s_page56-57_272
{
position:absolute;top:4760.06px;left:360px;letter-spacing:-0.91px;
}
.s_page56-57_273
{
position:absolute;top:4760.06px;left:1030.32px;letter-spacing:-0.54px;
}
.s_page56-57_274
{
position:absolute;top:4760.06px;left:2234.14px;letter-spacing:-2.19px;
}
.s_page56-57_275
{
position:absolute;top:4760.06px;left:2982.45px;letter-spacing:-0.26px;
}
.s_page56-57_276
{
position:absolute;top:4760.06px;left:4160.12px;letter-spacing:-1.87px;
}
.s_page56-57_277
{
position:absolute;top:4760.06px;left:4771.88px;letter-spacing:-0.96px;
}
.s_page56-57_278
{
position:absolute;top:4760.06px;left:6005.46px;
}
.s_page56-57_279
{
position:absolute;top:4760.06px;left:6260.82px;letter-spacing:-1.49px;
}
.s_page56-57_280
{
position:absolute;top:-11.04px;left:108.81px;
}
.s_page56-57_281
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page56-57_282
{
position:absolute;top:196.8px;left:329.76px;
}
.s_page56-57_283
{
position:absolute;top:196.8px;left:659.95px;letter-spacing:-0.67px;
}
.s_page56-57_284
{
position:absolute;top:196.8px;left:1400.35px;
}
.s_page56-57_285
{
position:absolute;top:196.8px;left:1902.2px;
}
.s_page56-57_286
{
position:absolute;top:196.8px;left:2647.35px;
}
.s_page56-57_287
{
position:absolute;top:196.8px;left:3206.88px;
}
.s_page56-57_288
{
position:absolute;top:196.8px;left:3750.72px;
}
.s_page56-57_289
{
position:absolute;top:196.8px;left:4252.56px;letter-spacing:-0.45px;
}
.s_page56-57_290
{
position:absolute;top:196.8px;left:5276.88px;letter-spacing:-1.56px;
}
.s_page56-57_291
{
position:absolute;top:196.8px;left:6314.93px;
}
.s_page56-57_292
{
position:absolute;top:196.8px;left:6713.17px;
}
.s_page56-57_293
{
position:absolute;top:196.8px;left:7594.69px;
}
.s_page56-57_294
{
position:absolute;top:-12.32px;left:0px;
}
.s_page56-57_295
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page56-57_296
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page56-57_297
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page56-57_298
{
position:absolute;top:-18px;left:464.4px;
}
.s_page56-57_299
{
position:absolute;top:-18px;left:1387.42px;letter-spacing:-0.41px;
}
.s_page56-57_300
{
position:absolute;top:-18px;left:2770.76px;letter-spacing:-2.48px;
}
.s_page56-57_301
{
position:absolute;top:-18px;left:3051.32px;letter-spacing:-1px;
}
.s_page56-57_302
{
position:absolute;top:-18px;left:3637.39px;
}
.s_page56-57_303
{
position:absolute;top:-18px;left:4268.34px;letter-spacing:-0.92px;
}
.s_page56-57_304
{
position:absolute;top:-18px;left:4856.09px;
}
.s_page56-57_305
{
position:absolute;top:-18px;left:5275.36px;
}
.s_page56-57_306
{
position:absolute;top:-18px;left:6309.98px;
}
.s_page56-57_307
{
position:absolute;top:-18px;left:6595.33px;
}
.s_page56-57_308
{
position:absolute;top:-18px;left:7014.61px;letter-spacing:-2.22px;
}
.s_page56-57_309
{
position:absolute;top:342px;left:0px;
}
.s_page56-57_310
{
position:absolute;top:342px;left:795.59px;letter-spacing:-1.6px;
}
.s_page56-57_311
{
position:absolute;top:342px;left:1451.5px;letter-spacing:-1px;
}
.s_page56-57_312
{
position:absolute;top:342px;left:2182.29px;
}
.s_page56-57_313
{
position:absolute;top:342px;left:2654.12px;letter-spacing:-1.08px;
}
.s_page56-57_314
{
position:absolute;top:342px;left:3857.95px;letter-spacing:-1.15px;
}
.s_page56-57_315
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.04px;
}
.s_page56-57_316
{
position:absolute;top:-18px;left:360px;
}
.s_page56-57_317
{
position:absolute;top:-18px;left:620.64px;
}
.s_page56-57_318
{
position:absolute;top:-18px;left:1321.67px;letter-spacing:-1.87px;
}
.s_page56-57_319
{
position:absolute;top:-18px;left:1862.62px;letter-spacing:-0.66px;
}
.s_page56-57_320
{
position:absolute;top:-18px;left:2364.7px;
}
.s_page56-57_321
{
position:absolute;top:-18px;left:2783.97px;
}
.s_page56-57_322
{
position:absolute;top:342px;left:360px;letter-spacing:-0.41px;
}
.s_page56-57_323
{
position:absolute;top:342px;left:1743.34px;letter-spacing:-2.48px;
}
.s_page56-57_324
{
position:absolute;top:342px;left:2023.9px;letter-spacing:-1px;
}
.s_page56-57_325
{
position:absolute;top:342px;left:2606.62px;letter-spacing:-0.58px;
}
.s_page56-57_326
{
position:absolute;top:758.69px;left:0px;
}
.s_page56-57_327
{
position:absolute;top:758.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_328
{
position:absolute;top:758.69px;left:629.04px;
}
.s_page56-57_329
{
position:absolute;top:1175.38px;left:0px;
}
.s_page56-57_330
{
position:absolute;top:1175.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_331
{
position:absolute;top:1175.38px;left:632.16px;
}
.s_page56-57_332
{
position:absolute;top:1592.08px;left:0px;
}
.s_page56-57_333
{
position:absolute;top:1592.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_334
{
position:absolute;top:1592.08px;left:620.16px;
}
.s_page56-57_335
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page56-57_336
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.32px;
}
.s_page56-57_337
{
position:absolute;top:-18px;left:1087.19px;letter-spacing:-2.48px;
}
.s_page56-57_338
{
position:absolute;top:-18px;left:1363.67px;
}
.s_page56-57_339
{
position:absolute;top:-18px;left:2032.3px;
}
.s_page56-57_340
{
position:absolute;top:-18px;left:2269.41px;letter-spacing:-0.54px;
}
.s_page56-57_341
{
position:absolute;top:-18px;left:2691.57px;letter-spacing:-3px;
}
.s_page56-57_342
{
position:absolute;top:-18px;left:2883.08px;
}
.s_page56-57_343
{
position:absolute;top:342px;left:360px;letter-spacing:-0.56px;
}
.s_page56-57_344
{
position:absolute;top:758.69px;left:0px;
}
.s_page56-57_345
{
position:absolute;top:758.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_346
{
position:absolute;top:758.69px;left:629.04px;
}
.s_page56-57_347
{
position:absolute;top:758.69px;left:1567.91px;
}
.s_page56-57_348
{
position:absolute;top:758.69px;left:2293.66px;letter-spacing:-1.44px;
}
.s_page56-57_349
{
position:absolute;top:1175.38px;left:0px;
}
.s_page56-57_350
{
position:absolute;top:1175.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_351
{
position:absolute;top:1175.38px;left:625.44px;letter-spacing:-3.91px;
}
.s_page56-57_352
{
position:absolute;top:1175.38px;left:1394.15px;
}
.s_page56-57_353
{
position:absolute;top:1175.38px;left:2217.34px;letter-spacing:-1.44px;
}
.s_page56-57_354
{
position:absolute;top:1592.08px;left:0px;
}
.s_page56-57_355
{
position:absolute;top:1592.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_356
{
position:absolute;top:1592.08px;left:620.16px;
}
.s_page56-57_357
{
position:absolute;top:1592.08px;left:1347.11px;letter-spacing:-0.29px;
}
.s_page56-57_358
{
position:absolute;top:1592.08px;left:2314.78px;letter-spacing:-2.22px;
}
.s_page56-57_359
{
position:absolute;top:1592.08px;left:2758.05px;letter-spacing:-0.8px;
}
.s_page56-57_360
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page56-57_361
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.32px;
}
.s_page56-57_362
{
position:absolute;top:-18px;left:1087.19px;
}
.s_page56-57_363
{
position:absolute;top:-18px;left:1990.77px;letter-spacing:-0.96px;
}
.s_page56-57_364
{
position:absolute;top:-18px;left:2632.76px;
}
.s_page56-57_365
{
position:absolute;top:-18px;left:3081.79px;
}
.s_page56-57_366
{
position:absolute;top:342px;left:360px;
}
.s_page56-57_367
{
position:absolute;top:342px;left:1002.23px;
}
.s_page56-57_368
{
position:absolute;top:342px;left:1421.5px;
}
.s_page56-57_369
{
position:absolute;top:342px;left:2075.73px;letter-spacing:-0.38px;
}
.s_page56-57_370
{
position:absolute;top:342px;left:2922.92px;
}
.s_page56-57_371
{
position:absolute;top:342px;left:3178.28px;
}
.s_page56-57_372
{
position:absolute;top:702px;left:360px;
}
.s_page56-57_373
{
position:absolute;top:702px;left:1398.7px;letter-spacing:-0.44px;
}
.s_page56-57_374
{
position:absolute;top:702px;left:2022.7px;letter-spacing:-0.68px;
}
.s_page56-57_375
{
position:absolute;top:1118.69px;left:0px;
}
.s_page56-57_376
{
position:absolute;top:1118.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_377
{
position:absolute;top:1118.69px;left:629.04px;
}
.s_page56-57_378
{
position:absolute;top:1118.69px;left:1355.99px;letter-spacing:-0.29px;
}
.s_page56-57_379
{
position:absolute;top:1118.69px;left:2323.66px;letter-spacing:-1.38px;
}
.s_page56-57_380
{
position:absolute;top:1535.38px;left:0px;
}
.s_page56-57_381
{
position:absolute;top:1535.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_382
{
position:absolute;top:1535.38px;left:632.16px;letter-spacing:-1.23px;
}
.s_page56-57_383
{
position:absolute;top:1535.38px;left:1594.54px;letter-spacing:-1.72px;
}
.s_page56-57_384
{
position:absolute;top:1535.38px;left:2247.34px;letter-spacing:-1.44px;
}
.s_page56-57_385
{
position:absolute;top:1952.08px;left:0px;
}
.s_page56-57_386
{
position:absolute;top:1952.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_387
{
position:absolute;top:1952.08px;left:620.16px;letter-spacing:-0.46px;
}
.s_page56-57_388
{
position:absolute;top:1952.08px;left:1915.66px;letter-spacing:-1.44px;
}
.s_page56-57_389
{
position:absolute;top:1952.08px;left:2555.49px;letter-spacing:-2.48px;
}
.s_page56-57_390
{
position:absolute;top:1952.08px;left:2836.05px;letter-spacing:-1.2px;
}
.s_page56-57_391
{
position:absolute;top:-18px;left:0px;letter-spacing:-6.72px;
}
.s_page56-57_392
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.48px;
}
.s_page56-57_393
{
position:absolute;top:-18px;left:912.95px;
}
.s_page56-57_394
{
position:absolute;top:-18px;left:1839.82px;
}
.s_page56-57_395
{
position:absolute;top:-18px;left:2253.34px;letter-spacing:-0.43px;
}
.s_page56-57_396
{
position:absolute;top:-18px;left:3326.36px;
}
.s_page56-57_397
{
position:absolute;top:342px;left:360px;letter-spacing:-0.61px;
}
.s_page56-57_398
{
position:absolute;top:342px;left:1303.91px;letter-spacing:-2.48px;
}
.s_page56-57_399
{
position:absolute;top:342px;left:1584.46px;letter-spacing:-1.48px;
}
.s_page56-57_400
{
position:absolute;top:758.69px;left:0px;
}
.s_page56-57_401
{
position:absolute;top:758.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_402
{
position:absolute;top:758.69px;left:629.04px;
}
.s_page56-57_403
{
position:absolute;top:758.69px;left:1012.55px;letter-spacing:-0.69px;
}
.s_page56-57_404
{
position:absolute;top:758.69px;left:1991.02px;letter-spacing:-0.21px;
}
.s_page56-57_405
{
position:absolute;top:1175.38px;left:0px;
}
.s_page56-57_406
{
position:absolute;top:1175.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_407
{
position:absolute;top:1175.38px;left:632.16px;letter-spacing:-0.96px;
}
.s_page56-57_408
{
position:absolute;top:1175.38px;left:1208.63px;
}
.s_page56-57_409
{
position:absolute;top:1592.08px;left:0px;
}
.s_page56-57_410
{
position:absolute;top:1592.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_411
{
position:absolute;top:1592.08px;left:620.16px;letter-spacing:-1.68px;
}
.s_page56-57_412
{
position:absolute;top:1592.08px;left:1704.47px;letter-spacing:-0.66px;
}
.s_page56-57_413
{
position:absolute;top:-18px;left:0px;
}
.s_page56-57_414
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.38px;
}
.s_page56-57_415
{
position:absolute;top:-18px;left:993.83px;
}
.s_page56-57_416
{
position:absolute;top:-18px;left:1226.87px;
}
.s_page56-57_417
{
position:absolute;top:-18px;left:1646.14px;
}
.s_page56-57_418
{
position:absolute;top:-18px;left:2714.13px;
}
.s_page56-57_419
{
position:absolute;top:-18px;left:3179.96px;letter-spacing:-2.4px;
}
.s_page56-57_420
{
position:absolute;top:342px;left:360px;letter-spacing:-0.37px;
}
.s_page56-57_421
{
position:absolute;top:342px;left:1566.94px;letter-spacing:-2.22px;
}
.s_page56-57_422
{
position:absolute;top:342px;left:2010.22px;letter-spacing:-1px;
}
.s_page56-57_423
{
position:absolute;top:342px;left:2741.01px;
}
.s_page56-57_424
{
position:absolute;top:758.69px;left:0px;
}
.s_page56-57_425
{
position:absolute;top:758.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_426
{
position:absolute;top:758.69px;left:629.04px;
}
.s_page56-57_427
{
position:absolute;top:758.69px;left:964.07px;letter-spacing:-1.06px;
}
.s_page56-57_428
{
position:absolute;top:1175.38px;left:0px;
}
.s_page56-57_429
{
position:absolute;top:1175.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_430
{
position:absolute;top:1175.38px;left:632.16px;
}
.s_page56-57_431
{
position:absolute;top:1175.38px;left:937.43px;letter-spacing:-1.06px;
}
.s_page56-57_432
{
position:absolute;top:1592.08px;left:0px;
}
.s_page56-57_433
{
position:absolute;top:1592.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_434
{
position:absolute;top:1592.08px;left:620.16px;
}
.s_page56-57_435
{
position:absolute;top:1592.08px;left:962.63px;letter-spacing:-1.06px;
}
.s_page56-57_436
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page56-57_437
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.48px;
}
.s_page56-57_438
{
position:absolute;top:-18px;left:908.39px;letter-spacing:-0.66px;
}
.s_page56-57_439
{
position:absolute;top:-18px;left:1410.47px;
}
.s_page56-57_440
{
position:absolute;top:-18px;left:1829.74px;
}
.s_page56-57_441
{
position:absolute;top:-18px;left:2697.56px;
}
.s_page56-57_442
{
position:absolute;top:342px;left:360px;letter-spacing:-0.88px;
}
.s_page56-57_443
{
position:absolute;top:342px;left:949.67px;letter-spacing:-0.61px;
}
.s_page56-57_444
{
position:absolute;top:342px;left:1893.58px;letter-spacing:-2.48px;
}
.s_page56-57_445
{
position:absolute;top:342px;left:2174.14px;letter-spacing:-2.1px;
}
.s_page56-57_446
{
position:absolute;top:342px;left:2627.01px;
}
.s_page56-57_447
{
position:absolute;top:342px;left:3246.68px;
}
.s_page56-57_448
{
position:absolute;top:702px;left:360px;letter-spacing:-1.48px;
}
.s_page56-57_449
{
position:absolute;top:1118.69px;left:0px;
}
.s_page56-57_450
{
position:absolute;top:1118.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_451
{
position:absolute;top:1118.69px;left:629.04px;letter-spacing:-1.6px;
}
.s_page56-57_452
{
position:absolute;top:1118.69px;left:1418.63px;letter-spacing:-1.2px;
}
.s_page56-57_453
{
position:absolute;top:1118.69px;left:2200.54px;
}
.s_page56-57_454
{
position:absolute;top:1535.38px;left:0px;
}
.s_page56-57_455
{
position:absolute;top:1535.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_456
{
position:absolute;top:1535.38px;left:625.92px;letter-spacing:-1.32px;
}
.s_page56-57_457
{
position:absolute;top:1535.38px;left:1203.59px;
}
.s_page56-57_458
{
position:absolute;top:1952.08px;left:0px;
}
.s_page56-57_459
{
position:absolute;top:1952.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_460
{
position:absolute;top:1952.08px;left:620.16px;
}
.s_page56-57_461
{
position:absolute;top:1952.08px;left:2153.73px;letter-spacing:-0.53px;
}
.s_page56-57_462
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.8px;
}
.s_page56-57_463
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.32px;
}
.s_page56-57_464
{
position:absolute;top:-18px;left:1087.19px;
}
.s_page56-57_465
{
position:absolute;top:-18px;left:1320.23px;
}
.s_page56-57_466
{
position:absolute;top:-18px;left:1739.5px;
}
.s_page56-57_467
{
position:absolute;top:-18px;left:2472.92px;
}
.s_page56-57_468
{
position:absolute;top:342px;left:360px;
}
.s_page56-57_469
{
position:absolute;top:342px;left:1263.58px;letter-spacing:-0.96px;
}
.s_page56-57_470
{
position:absolute;top:342px;left:1905.57px;letter-spacing:-2.48px;
}
.s_page56-57_471
{
position:absolute;top:342px;left:2186.13px;letter-spacing:-1.48px;
}
.s_page56-57_472
{
position:absolute;top:758.69px;left:0px;
}
.s_page56-57_473
{
position:absolute;top:758.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_474
{
position:absolute;top:758.69px;left:629.04px;
}
.s_page56-57_475
{
position:absolute;top:758.69px;left:1355.99px;letter-spacing:-0.29px;
}
.s_page56-57_476
{
position:absolute;top:758.69px;left:2323.66px;letter-spacing:-1.38px;
}
.s_page56-57_477
{
position:absolute;top:1175.38px;left:0px;
}
.s_page56-57_478
{
position:absolute;top:1175.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_479
{
position:absolute;top:1175.38px;left:632.16px;letter-spacing:-0.46px;
}
.s_page56-57_480
{
position:absolute;top:1175.38px;left:1927.66px;letter-spacing:-1.44px;
}
.s_page56-57_481
{
position:absolute;top:1175.38px;left:2567.49px;letter-spacing:-2.48px;
}
.s_page56-57_482
{
position:absolute;top:1175.38px;left:2848.05px;letter-spacing:-1.2px;
}
.s_page56-57_483
{
position:absolute;top:1592.08px;left:0px;
}
.s_page56-57_484
{
position:absolute;top:1592.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_485
{
position:absolute;top:1592.08px;left:612.96px;
}
.s_page56-57_486
{
position:absolute;top:1592.08px;left:1400.63px;letter-spacing:-0.27px;
}
.s_page56-57_487
{
position:absolute;top:1592.08px;left:2181.81px;
}
.s_page56-57_488
{
position:absolute;top:1952.08px;left:360px;
}
.s_page56-57_489
{
position:absolute;top:1952.08px;left:621.11px;letter-spacing:-4.03px;
}
.s_page56-57_490
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.2px;
}
.s_page56-57_491
{
position:absolute;top:-18px;left:360px;letter-spacing:-0.48px;
}
.s_page56-57_492
{
position:absolute;top:-18px;left:912.95px;
}
.s_page56-57_493
{
position:absolute;top:-18px;left:1361.99px;
}
.s_page56-57_494
{
position:absolute;top:-18px;left:1962.22px;
}
.s_page56-57_495
{
position:absolute;top:-18px;left:2381.49px;letter-spacing:-1.15px;
}
.s_page56-57_496
{
position:absolute;top:-18px;left:2893.16px;letter-spacing:-0.48px;
}
.s_page56-57_497
{
position:absolute;top:342px;left:360px;letter-spacing:-0.79px;
}
.s_page56-57_498
{
position:absolute;top:342px;left:1450.3px;letter-spacing:-2.48px;
}
.s_page56-57_499
{
position:absolute;top:342px;left:1730.86px;letter-spacing:-1.48px;
}
.s_page56-57_500
{
position:absolute;top:758.69px;left:0px;
}
.s_page56-57_501
{
position:absolute;top:758.69px;left:360px;letter-spacing:-1.84px;
}
.s_page56-57_502
{
position:absolute;top:758.69px;left:629.04px;letter-spacing:-0.86px;
}
.s_page56-57_503
{
position:absolute;top:758.69px;left:1310.87px;
}
.s_page56-57_504
{
position:absolute;top:1175.38px;left:0px;
}
.s_page56-57_505
{
position:absolute;top:1175.38px;left:360px;letter-spacing:-2.96px;
}
.s_page56-57_506
{
position:absolute;top:1175.38px;left:632.16px;letter-spacing:-1.06px;
}
.s_page56-57_507
{
position:absolute;top:1175.38px;left:1549.91px;letter-spacing:-1.28px;
}
.s_page56-57_508
{
position:absolute;top:1592.08px;left:0px;
}
.s_page56-57_509
{
position:absolute;top:1592.08px;left:360px;letter-spacing:-1.36px;
}
.s_page56-57_510
{
position:absolute;top:1592.08px;left:620.16px;letter-spacing:-0.88px;
}
.s_page56-57_511
{
position:absolute;top:1592.08px;left:1592.86px;letter-spacing:-0.58px;
}
.s_page56-57_512
{
position:absolute;top:-5.54px;left:131.78px;
}



.page57_pos1 {
	position:absolute;
	top: 144px;
	left: 89px;
}
.page57_pos2 {
	position:absolute;
	top: 165px;
	left: 89px;
}
.page57_pos3 {
	position:absolute;
	top: 185px;
	left: 89px;
}
.page57_pos4 {
	position:absolute;
	top: 144px;
	left: 338px;
}
.page57_pos5 {
	position:absolute;
	top: 165px;
	left: 338px;
}
.page57_pos6 {
	position:absolute;
	top: 185px;
	left: 338px;
}
.page57_pos7 {
	position:absolute;
	top: 308px;
	left: 89px;
}
.page57_pos8 {
	position:absolute;
	top: 329px;
	left: 89px;
}
.page57_pos9 {
	position:absolute;
	top: 350px;
	left: 89px;
}
.page57_pos10 {
	position:absolute;
	top: 292px;
	left: 338px;
}
.page57_pos11 {
	position:absolute;
	top: 312px;
	left: 338px;
}
.page57_pos12 {
	position:absolute;
	top: 332px;
	left: 338px;
}
.page57_pos13 {
	position:absolute;
	top: 441px;
	left: 89px;
}
.page57_pos14 {
	position:absolute;
	top: 461px;
	left: 89px;
}
.page57_pos15 {
	position:absolute;
	top: 482px;
	left: 89px;
}
.page57_pos16 {
	position:absolute;
	top: 458px;
	left: 338px;
}
.page57_pos17 {
	position:absolute;
	top: 478px;
	left: 338px;
}
.page57_pos18 {
	position:absolute;
	top: 500px;
	left: 338px;
}
.page57_pos19 {
	position:absolute;
	top: 589px;
	left: 89px;
}
.page57_pos20 {
	position:absolute;
	top: 609px;
	left: 89px;
}
.page57_pos21 {
	position:absolute;
	top: 629px;
	left: 89px;
}
.page57_pos22 {
	position:absolute;
	top: 588px;
	left: 338px;
}
.page57_pos23 {
	position:absolute;
	top: 609px;
	left: 338px;
}
.page57_pos24 {
	position:absolute;
	top: 630px;
	left: 338px;
}
.page57_btn1 {
	position:absolute;
	top: 797px;
	left: 278px;
}
.page57_btn2 {
	position:absolute;
	top: 797px;
	left: 221px;
}

.position_56 {
	position: absolute;
	top: 48px;
	left: 375px;
}
.position_57 {
	position: absolute;
	top: 44px;
	left: 10px;
}
