.d_page58-59_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page58-59_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page58-59_3
{
width:4817.72px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);
}
.d_page58-59_4
{
width:9864.51px;height:1243.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page58-59_5
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page58-59_6
{
width:3908.38px;height:9630.89px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page58-59_7
{
width:1883.73px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_8
{
width:2460.22px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_9
{
width:1883.73px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_10
{
width:1883.73px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_11
{
width:2361.6px;height:237.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_12
{
width:2361.6px;height:237.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_13
{
width:2361.6px;height:237.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_14
{
width:2361.6px;height:237.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_15
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page58-59_16
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.d_page58-59_17
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page58-59_18
{
width:8020.8px;height:1264.16px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_19
{
width:3962.8px;height:8197.57px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_20
{
width:2102.4px;height:676.1px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_21
{
width:913.42px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_22
{
width:2283.03px;height:334.8px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_23
{
width:2361.6px;height:237.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_24
{
width:2361.6px;height:237.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_25
{
width:2361.6px;height:237.5px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page58-59_26
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page58-59_27
{
width:8254.63px;height:1901.84px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.s_page58-59_28
{
position:absolute;top:-11.04px;left:104.33px;
}
.s_page58-59_29
{
position:absolute;top:-17.65px;left:0px;letter-spacing:13.5px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page58-59_30
{
position:absolute;top:-17.65px;left:811.96px;letter-spacing:15px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page58-59_31
{
position:absolute;top:-17.65px;left:2485.84px;letter-spacing:12px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page58-59_32
{
position:absolute;top:-17.65px;left:3200.98px;letter-spacing:14.4px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page58-59_33
{
position:absolute;top:208.09px;left:616.04px;
}
.s_page58-59_34
{
position:absolute;top:208.09px;left:659.95px;letter-spacing:-0.84px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_35
{
position:absolute;top:208.09px;left:1456.28px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_36
{
position:absolute;top:208.09px;left:2474.49px;letter-spacing:-1.79px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_37
{
position:absolute;top:208.09px;left:2973.96px;letter-spacing:-0.98px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_38
{
position:absolute;top:208.09px;left:4277.62px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_39
{
position:absolute;top:208.09px;left:5251.84px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_40
{
position:absolute;top:208.09px;left:5796.39px;letter-spacing:-0.4px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_41
{
position:absolute;top:208.09px;left:6743.18px;letter-spacing:-0.8px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_42
{
position:absolute;top:208.09px;left:7927.61px;letter-spacing:-2.3px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_43
{
position:absolute;top:608.09px;left:659.95px;letter-spacing:-0.54px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_44
{
position:absolute;top:608.09px;left:2285.18px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_45
{
position:absolute;top:608.09px;left:2965.8px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_46
{
position:absolute;top:608.09px;left:3453.31px;letter-spacing:-2.05px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_47
{
position:absolute;top:608.09px;left:4333.03px;letter-spacing:-2.8px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_48
{
position:absolute;top:608.09px;left:4655.96px;letter-spacing:-1.17px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_49
{
position:absolute;top:608.09px;left:5522.36px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_50
{
position:absolute;top:608.09px;left:5859.14px;letter-spacing:-0.45px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_51
{
position:absolute;top:608.09px;left:6791.53px;letter-spacing:-0.52px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_52
{
position:absolute;top:608.09px;left:7617.46px;letter-spacing:-0.16px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_53
{
position:absolute;top:608.09px;left:8707.92px;letter-spacing:-1.06px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_54
{
position:absolute;top:1008.09px;left:659.95px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_55
{
position:absolute;top:1008.09px;left:1147.47px;letter-spacing:-1px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_56
{
position:absolute;top:1008.09px;left:2374.54px;letter-spacing:-2.8px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_57
{
position:absolute;top:1008.09px;left:2697.47px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_58
{
position:absolute;top:1008.09px;left:3476.95px;letter-spacing:-0.2px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_59
{
position:absolute;top:1008.09px;left:4507.66px;letter-spacing:-0.31px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_60
{
position:absolute;top:1008.09px;left:5530.22px;letter-spacing:-1.63px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_61
{
position:absolute;top:1008.09px;left:6309.71px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_62
{
position:absolute;top:1008.09px;left:6797.22px;letter-spacing:-0.45px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_63
{
position:absolute;top:1008.09px;left:7791.54px;letter-spacing:-1.56px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_64
{
position:absolute;top:1008.09px;left:8799.17px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_65
{
position:absolute;top:1008.09px;left:9090.87px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_66
{
position:absolute;top:58.88px;left:0px;
}
.s_page58-59_67
{
position:absolute;top: 1308.09px;left:659.95px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page58-59_68
{
position:absolute;top:429.29px;left:0px;
}
.s_page58-59_69
{
position:absolute;top:429.29px;left:331.28px;letter-spacing:-1.04px;
}
.s_page58-59_70
{
position:absolute;top:429.29px;left:639.94px;
}
.s_page58-59_71
{
position:absolute;top:429.29px;left:1041.93px;letter-spacing:0px;
}
.s_page58-59_72
{
position:absolute;top:429.29px;left:1461.2px;
}
.s_page58-59_73
{
position:absolute;top:429.29px;left:2316.31px;letter-spacing:-0.96px;
}
.s_page58-59_74
{
position:absolute;top:429.29px;left:2775.19px;letter-spacing:-0.82px;
}
.s_page58-59_75
{
position:absolute;top:429.29px;left:3380.46px;
}
.s_page58-59_76
{
position:absolute;top:789.29px;left:639.94px;
}
.s_page58-59_77
{
position:absolute;top:789.29px;left:1087.29px;
}
.s_page58-59_78
{
position:absolute;top:789.29px;left:1338.56px;
}
.s_page58-59_79
{
position:absolute;top:789.29px;left:1753.28px;letter-spacing:-4.23px;
}
.s_page58-59_80
{
position:absolute;top:1509.29px;left:0px;
}
.s_page58-59_81
{
position:absolute;top:1509.29px;left:261.2px;
}
.s_page58-59_82
{
position:absolute;top:1509.29px;left:639.94px;letter-spacing:-2.46px;
}
.s_page58-59_83
{
position:absolute;top:1509.29px;left:1104.33px;letter-spacing:-1.62px;
}
.s_page58-59_84
{
position:absolute;top:1509.29px;left:1519.29px;
}
.s_page58-59_85
{
position:absolute;top:1509.29px;left:2128.16px;letter-spacing:-0.96px;
}
.s_page58-59_86
{
position:absolute;top:1509.29px;left:2517.91px;letter-spacing:-1.11px;
}
.s_page58-59_87
{
position:absolute;top:1869.29px;left:639.94px;
}
.s_page58-59_88
{
position:absolute;top:1869.29px;left:1048.41px;letter-spacing:-0.9px;
}
.s_page58-59_89
{
position:absolute;top:1869.29px;left:2295.68px;
}
.s_page58-59_90
{
position:absolute;top:1869.29px;left:2908.63px;
}
.s_page58-59_91
{
position:absolute;top:1869.29px;left:3145.74px;letter-spacing:-0.54px;
}
.s_page58-59_92
{
position:absolute;top:1869.29px;left:3567.89px;
}
.s_page58-59_93
{
position:absolute;top:2229.29px;left:639.94px;
}
.s_page58-59_94
{
position:absolute;top:2229.29px;left:1045.77px;
}
.s_page58-59_95
{
position:absolute;top:2229.29px;left:1471.52px;letter-spacing:-3px;
}
.s_page58-59_96
{
position:absolute;top:2229.29px;left:1663.03px;letter-spacing:-4.42px;
}
.s_page58-59_97
{
position:absolute;top:2949.29px;left:0px;
}
.s_page58-59_98
{
position:absolute;top:2949.29px;left:257.6px;letter-spacing:-1.28px;
}
.s_page58-59_99
{
position:absolute;top:2949.29px;left:639.94px;letter-spacing:-6.36px;
}
.s_page58-59_100
{
position:absolute;top:2949.29px;left:970.89px;letter-spacing:0px;
}
.s_page58-59_101
{
position:absolute;top:2949.29px;left:1390.16px;letter-spacing:-2.13px;
}
.s_page58-59_102
{
position:absolute;top:2949.29px;left:2128.15px;letter-spacing:-2.48px;
}
.s_page58-59_103
{
position:absolute;top:2949.29px;left:2404.63px;letter-spacing:0px;
}
.s_page58-59_104
{
position:absolute;top:2949.29px;left:2823.9px;letter-spacing:-0.16px;
}
.s_page58-59_105
{
position:absolute;top:3309.29px;left:639.94px;letter-spacing:-2.04px;
}
.s_page58-59_106
{
position:absolute;top:3309.29px;left:1250.97px;
}
.s_page58-59_107
{
position:absolute;top:3309.29px;left:1909.28px;
}
.s_page58-59_108
{
position:absolute;top:3309.29px;left:2323.99px;letter-spacing:-0.48px;
}
.s_page58-59_109
{
position:absolute;top:3309.29px;left:3009.18px;
}
.s_page58-59_110
{
position:absolute;top:3669.29px;left:639.94px;letter-spacing:-1px;
}
.s_page58-59_111
{
position:absolute;top:3669.29px;left:1221.45px;
}
.s_page58-59_112
{
position:absolute;top:3669.29px;left:1646.96px;letter-spacing:-2.52px;
}
.s_page58-59_113
{
position:absolute;top:3669.29px;left:2403.2px;
}
.s_page58-59_114
{
position:absolute;top:3669.29px;left:2692.63px;letter-spacing:-0.82px;
}
.s_page58-59_115
{
position:absolute;top:3669.29px;left:3081.9px;
}
.s_page58-59_116
{
position:absolute;top:4029.29px;left:639.94px;letter-spacing:-3.74px;
}
.s_page58-59_117
{
position:absolute;top:4749.29px;left:0px;
}
.s_page58-59_118
{
position:absolute;top:4749.29px;left:261.68px;letter-spacing:-0.8px;
}
.s_page58-59_119
{
position:absolute;top:4749.29px;left:639.94px;letter-spacing:-0.86px;
}
.s_page58-59_120
{
position:absolute;top:4749.29px;left:1956.32px;
}
.s_page58-59_121
{
position:absolute;top:4749.29px;left:2428.15px;letter-spacing:0px;
}
.s_page58-59_122
{
position:absolute;top:4749.29px;left:3373.26px;letter-spacing:-1.62px;
}
.s_page58-59_123
{
position:absolute;top:5109.29px;left:639.94px;
}
.s_page58-59_124
{
position:absolute;top:5109.29px;left:2184.79px;
}
.s_page58-59_125
{
position:absolute;top:5109.29px;left:2474.22px;
}
.s_page58-59_126
{
position:absolute;top:5109.29px;left:3061.26px;letter-spacing:-5.04px;
}
.s_page58-59_127
{
position:absolute;top:5829.29px;left:0px;
}
.s_page58-59_128
{
position:absolute;top:5829.29px;left:264.08px;letter-spacing:-1.28px;
}
.s_page58-59_129
{
position:absolute;top:5829.29px;left:639.94px;letter-spacing:-0.96px;
}
.s_page58-59_130
{
position:absolute;top:5829.29px;left:1500.33px;
}
.s_page58-59_131
{
position:absolute;top:5829.29px;left:1737.44px;letter-spacing:-2.8px;
}
.s_page58-59_132
{
position:absolute;top:5829.29px;left:2130.56px;letter-spacing:-0.13px;
}
.s_page58-59_133
{
position:absolute;top:5829.29px;left:3216.54px;
}
.s_page58-59_134
{
position:absolute;top:5829.29px;left:3688.37px;
}
.s_page58-59_135
{
position:absolute;top:6189.29px;left:639.94px;
}
.s_page58-59_136
{
position:absolute;top:6189.29px;left:1199.37px;letter-spacing:-1.87px;
}
.s_page58-59_137
{
position:absolute;top:6189.29px;left:1777.76px;letter-spacing:-7.74px;
}
.s_page58-59_138
{
position:absolute;top:6909.29px;left:0px;
}
.s_page58-59_139
{
position:absolute;top:6909.29px;left:253.04px;letter-spacing:-1.28px;
}
.s_page58-59_140
{
position:absolute;top:6909.29px;left:639.94px;
}
.s_page58-59_141
{
position:absolute;top:6909.29px;left:1308.09px;
}
.s_page58-59_142
{
position:absolute;top:6909.29px;left:1545.2px;letter-spacing:-2.2px;
}
.s_page58-59_143
{
position:absolute;top:6909.29px;left:2215.99px;letter-spacing:-3px;
}
.s_page58-59_144
{
position:absolute;top:6909.29px;left:2407.51px;letter-spacing:-0.72px;
}
.s_page58-59_145
{
position:absolute;top:7269.29px;left:639.94px;
}
.s_page58-59_146
{
position:absolute;top:7269.29px;left:1577.84px;letter-spacing:-7.74px;
}
.s_page58-59_147
{
position:absolute;top:7989.29px;left:0px;
}
.s_page58-59_148
{
position:absolute;top:7989.29px;left:292.16px;letter-spacing:-6.72px;
}
.s_page58-59_149
{
position:absolute;top:7989.29px;left:639.94px;letter-spacing:-0.75px;
}
.s_page58-59_150
{
position:absolute;top:7989.29px;left:1636.41px;
}
.s_page58-59_151
{
position:absolute;top:7989.29px;left:1868.97px;letter-spacing:-0.33px;
}
.s_page58-59_152
{
position:absolute;top:7989.29px;left:2757.68px;letter-spacing:-1.3px;
}
.s_page58-59_153
{
position:absolute;top:8349.29px;left:639.94px;letter-spacing:-0.81px;
}
.s_page58-59_154
{
position:absolute;top:8349.29px;left:1386.08px;
}
.s_page58-59_155
{
position:absolute;top:8349.29px;left:1672.16px;letter-spacing:-0.81px;
}
.s_page58-59_156
{
position:absolute;top:8349.29px;left:2417.82px;
}
.s_page58-59_157
{
position:absolute;top:8349.29px;left:2954.21px;
}
.s_page58-59_158
{
position:absolute;top:8349.29px;left:3292.13px;
}
.s_page58-59_159
{
position:absolute;top:8709.29px;left:639.94px;letter-spacing:-2.48px;
}
.s_page58-59_160
{
position:absolute;top:8709.29px;left:920.49px;letter-spacing:-2.7px;
}
.s_page58-59_161
{
position:absolute;top:9429.29px;left:0px;
}
.s_page58-59_162
{
position:absolute;top:9429.29px;left:246.33px;letter-spacing:-1.2px;
}
.s_page58-59_163
{
position:absolute;top:9429.29px;left:639.94px;letter-spacing:-1.53px;
}
.s_page58-59_164
{
position:absolute;top:9429.29px;left:1949.6px;letter-spacing:-1.77px;
}
.s_page58-59_165
{
position:absolute;top:-18px;left:0px;
}
.s_page58-59_166
{
position:absolute;top:-18px;left:947.98px;letter-spacing:-0.72px;
}
.s_page58-59_167
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.44px;
}
.s_page58-59_168
{
position:absolute;top:-18px;left:815.52px;letter-spacing:-0.44px;
}
.s_page58-59_169
{
position:absolute;top:-18px;left:1631.99px;letter-spacing:-1.75px;
}
.s_page58-59_170
{
position:absolute;top:-18px;left:8.63px;letter-spacing:-1.08px;
}
.s_page58-59_171
{
position:absolute;top:-18px;left:1104.71px;
}
.s_page58-59_172
{
position:absolute;top:-18px;left:127.79px;letter-spacing:-1.68px;
}
.s_page58-59_173
{
position:absolute;top:-18px;left:1212.1px;letter-spacing:-0.66px;
}
.s_page58-59_174
{
position:absolute;top:-18px;left:99.25px;
}
.s_page58-59_175
{
position:absolute;top:-18px;left:500.77px;letter-spacing:-0.55px;
}
.s_page58-59_176
{
position:absolute;top:-18px;left:1768.19px;
}
.s_page58-59_177
{
position:absolute;top:-18px;left:231.01px;letter-spacing:-0.87px;
}
.s_page58-59_178
{
position:absolute;top:-18px;left:1463.4px;letter-spacing:-0.53px;
}
.s_page58-59_179
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page58-59_180
{
position:absolute;top:-18px;left:581.51px;letter-spacing:-9.28px;
}
.s_page58-59_181
{
position:absolute;top:-18px;left:803.03px;letter-spacing:-1.61px;
}
.s_page58-59_182
{
position:absolute;top:-18px;left:268.81px;
}
.s_page58-59_183
{
position:absolute;top:-18px;left:1324.79px;letter-spacing:-0.38px;
}
.s_page58-59_184
{
position:absolute;top:-5.54px;left:118.66px;
}
.s_page58-59_185
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page58-59_186
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page58-59_187
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.4px;
}
.s_page58-59_188
{
position:absolute;top:-18px;left:600.72px;letter-spacing:-0.96px;
}
.s_page58-59_189
{
position:absolute;top:-18px;left:1064.15px;letter-spacing:-1.2px;
}
.s_page58-59_190
{
position:absolute;top:-18px;left:1753.18px;
}
.s_page58-59_191
{
position:absolute;top:-18px;left:2169.09px;
}
.s_page58-59_192
{
position:absolute;top:-18px;left:3048.68px;
}
.s_page58-59_193
{
position:absolute;top:-18px;left:3924.18px;
}
.s_page58-59_194
{
position:absolute;top:-18px;left:4395.29px;
}
.s_page58-59_195
{
position:absolute;top:-18px;left:4867.36px;
}
.s_page58-59_196
{
position:absolute;top:-18px;left:5104.48px;letter-spacing:-0.77px;
}
.s_page58-59_197
{
position:absolute;top:-18px;left:6065.19px;
}
.s_page58-59_198
{
position:absolute;top:-18px;left:6614.78px;
}
.s_page58-59_199
{
position:absolute;top:-18px;left:7034.05px;letter-spacing:-1.53px;
}
.s_page58-59_200
{
position:absolute;top:342px;left:0px;letter-spacing:-0.28px;
}
.s_page58-59_201
{
position:absolute;top:342px;left:713.75px;
}
.s_page58-59_202
{
position:absolute;top:342px;left:1269.1px;letter-spacing:-1.87px;
}
.s_page58-59_203
{
position:absolute;top:342px;left:1877.5px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page58-59_204
{
position:absolute;top:342px;left:2370.68px;
}
.s_page58-59_205
{
position:absolute;top:342px;left:3221.95px;letter-spacing:-3.12px;
}
.s_page58-59_206
{
position:absolute;top:342px;left:3545.46px;letter-spacing:-1.99px;
}
.s_page58-59_207
{
position:absolute;top:342px;left:4432.01px;letter-spacing:-2.85px;
}
.s_page58-59_208
{
position:absolute;top:342px;left:6028.95px;
}
.s_page58-59_209
{
position:absolute;top:342px;left:6284.3px;
}
.s_page58-59_210
{
position:absolute;top:342px;left:6812.29px;
}
.s_page58-59_211
{
position:absolute;top:342px;left:7067.64px;
}
.s_page58-59_212
{
position:absolute;top:702px;left:0px;
}
.s_page58-59_213
{
position:absolute;top:702px;left:1056.46px;letter-spacing:-2.26px;
}
.s_page58-59_214
{
position:absolute;top:702px;left:1565.97px;letter-spacing:-0.8px;
}
.s_page58-59_215
{
position:absolute;top:702px;left:2522.84px;
}
.s_page58-59_216
{
position:absolute;top:702px;left:3497.71px;
}
.s_page58-59_217
{
position:absolute;top:702px;left:3619.38px;
}
.s_page58-59_218
{
position:absolute;top:702px;left:3985.62px;letter-spacing:-0.96px;
}
.s_page58-59_219
{
position:absolute;top:702px;left:4449.05px;letter-spacing:-1.08px;
}
.s_page58-59_220
{
position:absolute;top:702px;left:5135.68px;
}
.s_page58-59_221
{
position:absolute;top:702px;left:5667.99px;
}
.s_page58-59_222
{
position:absolute;top:702px;left:6126.38px;letter-spacing:-0.14px;
}
.s_page58-59_223
{
position:absolute;top:-18px;left:0px;
}
.s_page58-59_224
{
position:absolute;top:-18px;left:254.48px;letter-spacing:-2.48px;
}
.s_page58-59_225
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.48px;
}
.s_page58-59_226
{
position:absolute;top:-18px;left:914.01px;letter-spacing:-0.36px;
}
.s_page58-59_227
{
position:absolute;top:-18px;left:1553.84px;letter-spacing:-1.44px;
}
.s_page58-59_228
{
position:absolute;top:-18px;left:2509.26px;letter-spacing:-1.3px;
}
.s_page58-59_229
{
position:absolute;top:342px;left:639.94px;letter-spacing:-0.33px;
}
.s_page58-59_230
{
position:absolute;top:342px;left:1593.21px;
}
.s_page58-59_231
{
position:absolute;top:342px;left:1882.64px;letter-spacing:-1.3px;
}
.s_page58-59_232
{
position:absolute;top:342px;left:2437.51px;
}
.s_page58-59_233
{
position:absolute;top:342px;left:2726.94px;
}
.s_page58-59_234
{
position:absolute;top:342px;left:3069.41px;letter-spacing:-0.24px;
}
.s_page58-59_235
{
position:absolute;top:702px;left:639.94px;
}
.s_page58-59_236
{
position:absolute;top:702px;left:1189.53px;
}
.s_page58-59_237
{
position:absolute;top:702px;left:1475.6px;letter-spacing:-1.92px;
}
.s_page58-59_238
{
position:absolute;top:702px;left:1972.87px;
}
.s_page58-59_239
{
position:absolute;top:702px;left:2262.3px;
}
.s_page58-59_240
{
position:absolute;top:702px;left:2600.22px;letter-spacing:-4.68px;
}
.s_page58-59_241
{
position:absolute;top:1118.69px;left:0px;
}
.s_page58-59_242
{
position:absolute;top:1484.36px;left:0px;
}
.s_page58-59_243
{
position:absolute;top:1484.36px;left:182.49px;letter-spacing:-1.86px;
}
.s_page58-59_244
{
position:absolute;top:1484.36px;left:639.94px;letter-spacing:0px;
}
.s_page58-59_245
{
position:absolute;top:1484.36px;left:1513.76px;
}
.s_page58-59_246
{
position:absolute;top:1484.36px;left:1985.6px;letter-spacing:0px;
}
.s_page58-59_247
{
position:absolute;top:1484.36px;left:2757.9px;
}
.s_page58-59_248
{
position:absolute;top:1484.36px;left:3100.37px;letter-spacing:-0.54px;
}
.s_page58-59_249
{
position:absolute;top:1844.36px;left:639.94px;letter-spacing:-1.68px;
}
.s_page58-59_250
{
position:absolute;top:1844.36px;left:1287.45px;letter-spacing:-1.18px;
}
.s_page58-59_251
{
position:absolute;top:1844.36px;left:2481.91px;letter-spacing:-0.42px;
}
.s_page58-59_252
{
position:absolute;top:1844.36px;left:2946.3px;letter-spacing:-2.04px;
}
.s_page58-59_253
{
position:absolute;top:1844.36px;left:3683.57px;letter-spacing:-2.48px;
}
.s_page58-59_254
{
position:absolute;top:2204.36px;left:639.94px;letter-spacing:-1.29px;
}
.s_page58-59_255
{
position:absolute;top:2204.36px;left:1784.72px;
}
.s_page58-59_256
{
position:absolute;top:2204.36px;left:2021.83px;
}
.s_page58-59_257
{
position:absolute;top:2204.36px;left:3245.57px;
}
.s_page58-59_258
{
position:absolute;top:2204.36px;left:3579.4px;
}
.s_page58-59_259
{
position:absolute;top:2564.36px;left:639.94px;
}
.s_page58-59_260
{
position:absolute;top:2564.36px;left:2381.11px;letter-spacing:-2.48px;
}
.s_page58-59_261
{
position:absolute;top:2564.36px;left:2661.67px;letter-spacing:-4.42px;
}
.s_page58-59_262
{
position:absolute;top:3341.05px;left:0px;
}
.s_page58-59_263
{
position:absolute;top:3341.05px;left:275.85px;letter-spacing:-0.78px;
}
.s_page58-59_264
{
position:absolute;top:3341.05px;left:639.94px;
}
.s_page58-59_265
{
position:absolute;top:3341.05px;left:829.53px;
}
.s_page58-59_266
{
position:absolute;top:3341.05px;left:1234.41px;letter-spacing:-1.08px;
}
.s_page58-59_267
{
position:absolute;top:3341.05px;left:1936.63px;
}
.s_page58-59_268
{
position:absolute;top:3341.05px;left:2226.07px;letter-spacing:0px;
}
.s_page58-59_269
{
position:absolute;top:3341.05px;left:3025.49px;
}
.s_page58-59_270
{
position:absolute;top:3341.05px;left:3314.92px;letter-spacing:-3px;
}
.s_page58-59_271
{
position:absolute;top:3701.05px;left:639.94px;letter-spacing:-0.72px;
}
.s_page58-59_272
{
position:absolute;top:3701.05px;left:1499.84px;
}
.s_page58-59_273
{
position:absolute;top:3701.05px;left:2206.63px;
}
.s_page58-59_274
{
position:absolute;top:3701.05px;left:2651.59px;letter-spacing:-0.21px;
}
.s_page58-59_275
{
position:absolute;top:3701.05px;left:3425.57px;
}
.s_page58-59_276
{
position:absolute;top:4061.05px;left:639.94px;letter-spacing:-0.48px;
}
.s_page58-59_277
{
position:absolute;top:4061.05px;left:1325.12px;letter-spacing:-0.43px;
}
.s_page58-59_278
{
position:absolute;top:4061.05px;left:1881.91px;letter-spacing:-0.26px;
}
.s_page58-59_279
{
position:absolute;top:4061.05px;left:2974.14px;
}
.s_page58-59_280
{
position:absolute;top:4421.05px;left:639.94px;letter-spacing:-0.55px;
}
.s_page58-59_281
{
position:absolute;top:4421.05px;left:1680.32px;letter-spacing:-3.38px;
}
.s_page58-59_282
{
position:absolute;top:5197.75px;left:0px;
}
.s_page58-59_283
{
position:absolute;top:5197.75px;left:205.77px;
}
.s_page58-59_284
{
position:absolute;top:5197.75px;left:639.94px;letter-spacing:-4.22px;
}
.s_page58-59_285
{
position:absolute;top:5197.75px;left:1149.45px;letter-spacing:-2.82px;
}
.s_page58-59_286
{
position:absolute;top:5197.75px;left:1671.92px;letter-spacing:-1.87px;
}
.s_page58-59_287
{
position:absolute;top:5197.75px;left:2246.24px;
}
.s_page58-59_288
{
position:absolute;top:5197.75px;left:2532.31px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page58-59_289
{
position:absolute;top:5197.75px;left:3091.5px;letter-spacing:-3px;
}
.s_page58-59_290
{
position:absolute;top:5197.75px;left:3283.02px;
}
.s_page58-59_291
{
position:absolute;top:5557.75px;left:639.94px;letter-spacing:-1.3px;
}
.s_page58-59_292
{
position:absolute;top:5557.75px;left:1268.25px;
}
.s_page58-59_293
{
position:absolute;top:5557.75px;left:1821.92px;letter-spacing:-0.53px;
}
.s_page58-59_294
{
position:absolute;top:5557.75px;left:2407.75px;
}
.s_page58-59_295
{
position:absolute;top:5557.75px;left:2692.63px;
}
.s_page58-59_296
{
position:absolute;top:5557.75px;left:3142.62px;letter-spacing:-6.48px;
}
.s_page58-59_297
{
position:absolute;top:6334.44px;left:0px;
}
.s_page58-59_298
{
position:absolute;top:6334.44px;left:202.17px;letter-spacing:-0.96px;
}
.s_page58-59_299
{
position:absolute;top:6334.44px;left:639.94px;letter-spacing:-0.48px;
}
.s_page58-59_300
{
position:absolute;top:6334.44px;left:914.01px;letter-spacing:-1.68px;
}
.s_page58-59_301
{
position:absolute;top:6334.44px;left:1727.36px;
}
.s_page58-59_302
{
position:absolute;top:6334.44px;left:2498.71px;letter-spacing:0px;
}
.s_page58-59_303
{
position:absolute;top:6694.44px;left:639.94px;letter-spacing:-0.24px;
}
.s_page58-59_304
{
position:absolute;top:6694.44px;left:1170.81px;letter-spacing:-1.39px;
}
.s_page58-59_305
{
position:absolute;top:6694.44px;left:1546.88px;letter-spacing:-5.16px;
}
.s_page58-59_306
{
position:absolute;top:7471.13px;left:0px;
}
.s_page58-59_307
{
position:absolute;top:7471.13px;left:206.25px;letter-spacing:-0.6px;
}
.s_page58-59_308
{
position:absolute;top:7471.13px;left:705.21px;letter-spacing:-1.06px;
}
.s_page58-59_309
{
position:absolute;top:7471.13px;left:1285.53px;letter-spacing:-2.48px;
}
.s_page58-59_310
{
position:absolute;top:7471.13px;left:1562.01px;
}
.s_page58-59_311
{
position:absolute;top:7471.13px;left:1981.28px;letter-spacing:-0.72px;
}
.s_page58-59_312
{
position:absolute;top:7471.13px;left:2961.9px;
}
.s_page58-59_313
{
position:absolute;top:7831.13px;left:639.94px;
}
.s_page58-59_314
{
position:absolute;top:7831.13px;left:872.97px;
}
.s_page58-59_315
{
position:absolute;top:7831.13px;left:1162.4px;
}
.s_page58-59_316
{
position:absolute;top:7831.13px;left:1499.11px;letter-spacing:-0.82px;
}
.s_page58-59_317
{
position:absolute;top:7831.13px;left:2371.98px;
}
.s_page58-59_318
{
position:absolute;top:7831.13px;left:2661.41px;letter-spacing:-4.88px;
}
.s_page58-59_319
{
position:absolute;top:-18px;left:693.6px;letter-spacing:-1.28px;
}
.s_page58-59_320
{
position:absolute;top:342px;left:367.21px;letter-spacing:-1.09px;
}
.s_page58-59_321
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.24px;
}
.s_page58-59_322
{
position:absolute;top:-18px;left:123.93px;letter-spacing:-1.81px;
}
.s_page58-59_323
{
position:absolute;top:-18px;left:1194.31px;letter-spacing:-0.9px;
}
.s_page58-59_324
{
position:absolute;top:-18px;left:309.25px;letter-spacing:-0.38px;
}
.s_page58-59_325
{
position:absolute;top:-18px;left:1120.2px;letter-spacing:-1.23px;
}
.s_page58-59_326
{
position:absolute;top:-18px;left:463.45px;letter-spacing:-0.21px;
}
.s_page58-59_327
{
position:absolute;top:-18px;left:1300.8px;
}
.s_page58-59_328
{
position:absolute;top:-18px;left:404.17px;letter-spacing:-1.47px;
}
.s_page58-59_329
{
position:absolute;top:-18px;left:1254px;letter-spacing:-6.64px;
}
.s_page58-59_330
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.89px;
}
.s_page58-59_331
{
position:absolute;top:-14.08px;left:843.18px;letter-spacing:-4.67px;
}
.s_page58-59_332
{
position:absolute;top:-14.08px;left:1635.81px;letter-spacing:-3.89px;
}
.s_page58-59_333
{
position:absolute;top:-18px;left:0px;
}
.s_page58-59_334
{
position:absolute;top:-18px;left:480.48px;letter-spacing:-0.96px;
}
.s_page58-59_335
{
position:absolute;top:-18px;left:943.91px;letter-spacing:-0.68px;
}
.s_page58-59_336
{
position:absolute;top:-18px;left:1565.98px;
}
.s_page58-59_337
{
position:absolute;top:-18px;left:2234.6px;
}
.s_page58-59_338
{
position:absolute;top:398.69px;left:0px;
}
.s_page58-59_339
{
position:absolute;top:398.69px;left:164.15px;letter-spacing:-0.32px;
}
.s_page58-59_340
{
position:absolute;top:398.69px;left:886.79px;letter-spacing:-2.02px;
}
.s_page58-59_341
{
position:absolute;top:398.69px;left:1509.58px;letter-spacing:-0.33px;
}
.s_page58-59_342
{
position:absolute;top:398.69px;left:2560.05px;letter-spacing:-0.69px;
}
.s_page58-59_343
{
position:absolute;top:398.69px;left:3415.15px;
}
.s_page58-59_344
{
position:absolute;top:398.69px;left:4071.78px;letter-spacing:-0.96px;
}
.s_page58-59_345
{
position:absolute;top:398.69px;left:4535.21px;
}
.s_page58-59_346
{
position:absolute;top:398.69px;left:5007.53px;letter-spacing:-0.72px;
}
.s_page58-59_347
{
position:absolute;top:398.69px;left:5488.72px;letter-spacing:-0.18px;
}
.s_page58-59_348
{
position:absolute;top:398.69px;left:6254.3px;
}
.s_page58-59_349
{
position:absolute;top:398.69px;left:6543.73px;
}
.s_page58-59_350
{
position:absolute;top:815.38px;left:0px;
}
.s_page58-59_351
{
position:absolute;top:815.38px;left:222.71px;letter-spacing:-6.72px;
}
.s_page58-59_352
{
position:absolute;top:815.38px;left:770.87px;letter-spacing:-3.6px;
}
.s_page58-59_353
{
position:absolute;top:815.38px;left:1406.14px;letter-spacing:-2.8px;
}
.s_page58-59_354
{
position:absolute;top:815.38px;left:1795.91px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page58-59_355
{
position:absolute;top:815.38px;left:2293.65px;letter-spacing:-1.53px;
}
.s_page58-59_356
{
position:absolute;top:815.38px;left:2994.68px;
}
.s_page58-59_357
{
position:absolute;top:815.38px;left:3124.99px;
}
.s_page58-59_358
{
position:absolute;top:815.38px;left:3850.26px;
}
.s_page58-59_359
{
position:absolute;top:815.38px;left:4269.53px;
}
.s_page58-59_360
{
position:absolute;top:815.38px;left:4973.44px;letter-spacing:-6.72px;
}
.s_page58-59_361
{
position:absolute;top:815.38px;left:5521.6px;letter-spacing:-3.6px;
}
.s_page58-59_362
{
position:absolute;top:815.38px;left:6152.79px;
}
.s_page58-59_363
{
position:absolute;top:815.38px;left:6572.07px;
}
.s_page58-59_364
{
position:absolute;top:815.38px;left:7027.81px;letter-spacing:-1.53px;
}
.s_page58-59_365
{
position:absolute;top:815.38px;left:7728.84px;
}
.s_page58-59_366
{
position:absolute;top:1175.38px;left:0px;
}
.s_page58-59_367
{
position:absolute;top:1242.59px;left:195.83px;
}
.s_page58-59_368
{
position:absolute;top:1175.38px;left:239.35px;
}
.s_page58-59_369
{
position:absolute;top:1175.38px;left:369.67px;
}
.s_page58-59_370
{
position:absolute;top:1175.38px;left:803.57px;
}
.s_page58-59_371
{
position:absolute;top:1175.38px;left:1528.84px;
}
.s_page58-59_372
{
position:absolute;top:1175.38px;left:1948.12px;
}
.s_page58-59_373
{
position:absolute;top:1175.38px;left:2652.02px;letter-spacing:-6.72px;
}
.s_page58-59_374
{
position:absolute;top:1175.38px;left:3200.18px;letter-spacing:-3.6px;
}
.s_page58-59_375
{
position:absolute;top:1175.38px;left:3835.46px;letter-spacing:-2.8px;
}
.s_page58-59_376
{
position:absolute;top:1175.38px;left:4228.58px;
}
.s_page58-59_377
{
position:absolute;top:1175.38px;left:5023.21px;letter-spacing:-0.79px;
}
.s_page58-59_378
{
position:absolute;top:1175.38px;left:5672.15px;
}
.s_page58-59_379
{
position:absolute;top:1175.38px;left:6143.98px;
}
.s_page58-59_380
{
position:absolute;top:1175.38px;left:6269.74px;
}
.s_page58-59_381
{
position:absolute;top:1175.38px;left:6695.25px;
}
.s_page58-59_382
{
position:absolute;top:1175.38px;left:7129.16px;
}
.s_page58-59_383
{
position:absolute;top:1175.38px;left:7854.43px;
}
.s_page58-59_384
{
position:absolute;top:1535.38px;left:0px;
}
.s_page58-59_385
{
position:absolute;top:1602.59px;left:195.83px;
}
.s_page58-59_386
{
position:absolute;top:1535.38px;left:239.35px;
}
.s_page58-59_387
{
position:absolute;top:1535.38px;left:949.98px;
}
.s_page58-59_388
{
position:absolute;top:1535.38px;left:1080.29px;
}
.s_page58-59_389
{
position:absolute;top:1535.38px;left:1485.17px;letter-spacing:-3px;
}
.s_page58-59_390
{
position:absolute;top:1535.38px;left:1673.33px;text-rendering:optimizeLegibility;letter-spacing:-0.8px;
}
.s_page58-59_391
{
position:absolute;top:1535.38px;left:2809.95px;letter-spacing:-1.68px;
}
.s_page58-59_392
{
position:absolute;top:1535.38px;left:3489.13px;letter-spacing:-0.38px;
}
.s_page58-59_393
{
position:absolute;top:1535.38px;left:4122.96px;
}
.s_page58-59_394
{
position:absolute;top:1535.38px;left:4527.84px;
}

.page59_btn1 {
	position:absolute;
	top: 797px;
	left: 317px;
}
.page59_btn2 {
	position:absolute;
	top: 797px;
	left: 258px;
}
.page59_position1 {
	position:absolute;
	top: 585px;
	left: 131px;
}
.page59_position2 {
	position:absolute;
	top: 310px;
	left: 141px;
}
.page59_position3 {
	position:absolute;
	top: 452px;
	left: 521px;
}
.page59_position4 {
	position:absolute;
	top: 586px;
	left: 521px;
}
.page59_position5 {
	position:absolute;
	top: 329px;
	left: 521px;
}
.page59_position6 {
	position:absolute;
	top: 719px;
	left: 125px;
}
.page59_position7 {
	position:absolute;
	top: 330px;
	left: 134px;
}
.page59_position8 {
	position:absolute;
	top: 452px;
	left: 143px;
}
.page59_position9 {
	position:absolute;
	top: 719px;
	left: 522px;
}
.page59_position10 {
	position:absolute;
	top: 294px;
	left: 519px;
}
.page59_position11 {
	position:absolute;
	top: 170px;
	left: 141px;
}
.page59_position12 {
	position:absolute;
	top: 450px;
	left: 141px;
}
.page59_position13 {
	position:absolute;
	top: 163px;
	left: 520px;
}
.page59_position14 {
	position:absolute;
	top: 450px;
	left: 518px;
}
