.d_page48-49_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page48-49_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page48-49_3
{
width:6285.1px;height:214.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,5.12px) rotate(0deg) scale(0.05);
}
.d_page48-49_4
{
width:8236.8px;height:5742.1px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_5
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_6
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_7
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_8
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_9
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_10
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_11
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_12
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_13
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_14
{
width:508.23px;height:235.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_15
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page48-49_16
{
width:5545.03px;height:517.56px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);
}
.d_page48-49_17
{
width:4709.16px;height:711.61px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_18
{
width:9691.66px;height:517.56px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page48-49_19
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page48-49_20
{
width:560px;height:554.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_21
{
width:560px;height:554.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_22
{
width:5959.57px;height:990.52px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_23
{
width:6234.36px;height:1104.19px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_24
{
width:560px;height:554.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_25
{
width:6116.76px;height:1104.19px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_26
{
width:560px;height:554.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_27
{
width:5900.78px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_28
{
width:6162.36px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_29
{
width:560px;height:554.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_30
{
width:6234.36px;height:1046.94px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_31
{
width:560px;height:554.53px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(4px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_32
{
width:3181.41px;height:1263.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page48-49_33
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page48-49_34
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page48-49_35
{
position:absolute;top:-11.04px;left:102.09px;
}
.s_page48-49_36
{
position:absolute;top:-21px;left:0px;letter-spacing:-2.15px;
}
.s_page48-49_37
{
position:absolute;top:-21px;left:696.64px;
}
.s_page48-49_38
{
position:absolute;top:-21px;left:1327.47px;letter-spacing:-0.47px;
}
.s_page48-49_39
{
position:absolute;top:-21px;left:1665.15px;
}
.s_page48-49_40
{
position:absolute;top:-21px;left:2166.62px;letter-spacing:-1.22px;
}
.s_page48-49_41
{
position:absolute;top:-21px;left:3201.5px;
}
.s_page48-49_42
{
position:absolute;top:-21px;left:3702.98px;
}
.s_page48-49_43
{
position:absolute;top:-21px;left:4602.04px;letter-spacing:-0.49px;
}
.s_page48-49_44
{
position:absolute;top:-18px;left:0px;
}
.s_page48-49_45
{
position:absolute;top:-18px;left:331.28px;letter-spacing:-1.04px;
}
.s_page48-49_46
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.29px;
}
.s_page48-49_47
{
position:absolute;top:-18px;left:1138.89px;letter-spacing:0px;
}
.s_page48-49_48
{
position:absolute;top:-18px;left:2010.79px;letter-spacing:-0.84px;
}
.s_page48-49_49
{
position:absolute;top:-18px;left:7180.1px;letter-spacing:1.16px;
}
.s_page48-49_50
{
position:absolute;top:-18px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_51
{
position:absolute;top:599.61px;left:0px;
}
.s_page48-49_52
{
position:absolute;top:599.61px;left:261.2px;
}
.s_page48-49_53
{
position:absolute;top:599.61px;left:639.94px;letter-spacing:-0.16px;
}
.s_page48-49_54
{
position:absolute;top:599.61px;left:1693.77px;letter-spacing:-6.48px;
}
.s_page48-49_55
{
position:absolute;top:599.61px;left:2466.56px;letter-spacing:-1px;
}
.s_page48-49_56
{
position:absolute;top:599.61px;left:7075.94px;letter-spacing:-0.8px;
}
.s_page48-49_57
{
position:absolute;top:599.61px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_58
{
position:absolute;top:1217.22px;left:0px;
}
.s_page48-49_59
{
position:absolute;top:1217.22px;left:257.6px;letter-spacing:-1.28px;
}
.s_page48-49_60
{
position:absolute;top:1217.22px;left:639.94px;
}
.s_page48-49_61
{
position:absolute;top:1217.22px;left:1269.44px;letter-spacing:0px;
}
.s_page48-49_62
{
position:absolute;top:1217.22px;left:2065.99px;letter-spacing:0px;
}
.s_page48-49_63
{
position:absolute;top:1217.22px;left:2711.58px;letter-spacing:-6.48px;
}
.s_page48-49_64
{
position:absolute;top:1217.22px;left:3484.37px;
}
.s_page48-49_65
{
position:absolute;top:1217.22px;left:4138.12px;letter-spacing:-0.86px;
}
.s_page48-49_66
{
position:absolute;top:1217.22px;left:7224.74px;letter-spacing:0.72px;
}
.s_page48-49_67
{
position:absolute;top:1217.22px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_68
{
position:absolute;top:1834.83px;left:0px;
}
.s_page48-49_69
{
position:absolute;top:1834.83px;left:261.68px;letter-spacing:-0.8px;
}
.s_page48-49_70
{
position:absolute;top:1834.83px;left:639.94px;
}
.s_page48-49_71
{
position:absolute;top:1834.83px;left:1166.97px;letter-spacing:0px;
}
.s_page48-49_72
{
position:absolute;top:1834.83px;left:1516.64px;letter-spacing:-0.33px;
}
.s_page48-49_73
{
position:absolute;top:1834.83px;left:2418.79px;letter-spacing:-1.56px;
}
.s_page48-49_74
{
position:absolute;top:1834.83px;left:3266.7px;letter-spacing:-1px;
}
.s_page48-49_75
{
position:absolute;top:1834.83px;left:7138.34px;
}
.s_page48-49_76
{
position:absolute;top:1834.83px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_77
{
position:absolute;top:2452.44px;left:0px;
}
.s_page48-49_78
{
position:absolute;top:2452.44px;left:264.08px;letter-spacing:-1.28px;
}
.s_page48-49_79
{
position:absolute;top:2452.44px;left:639.94px;letter-spacing:-1.84px;
}
.s_page48-49_80
{
position:absolute;top:2452.44px;left:1268.25px;letter-spacing:-1.64px;
}
.s_page48-49_81
{
position:absolute;top:2452.44px;left:1962.08px;letter-spacing:-6.48px;
}
.s_page48-49_82
{
position:absolute;top:2452.44px;left:2734.87px;
}
.s_page48-49_83
{
position:absolute;top:2452.44px;left:3427.98px;letter-spacing:-3px;
}
.s_page48-49_84
{
position:absolute;top:2452.44px;left:7199.78px;
}
.s_page48-49_85
{
position:absolute;top:2452.44px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_86
{
position:absolute;top:3070.05px;left:0px;
}
.s_page48-49_87
{
position:absolute;top:3070.05px;left:253.04px;letter-spacing:-1.28px;
}
.s_page48-49_88
{
position:absolute;top:3070.05px;left:639.94px;letter-spacing:-0.36px;
}
.s_page48-49_89
{
position:absolute;top:3070.05px;left:1164.81px;letter-spacing:-1.64px;
}
.s_page48-49_90
{
position:absolute;top:3070.05px;left:1858.64px;letter-spacing:-4.36px;
}
.s_page48-49_91
{
position:absolute;top:3070.05px;left:2531.11px;letter-spacing:-1.56px;
}
.s_page48-49_92
{
position:absolute;top:3070.05px;left:3379.02px;letter-spacing:-2.58px;
}
.s_page48-49_93
{
position:absolute;top:3070.05px;left:7171.94px;letter-spacing:0.52px;
}
.s_page48-49_94
{
position:absolute;top:3070.05px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_95
{
position:absolute;top:3687.66px;left:0px;
}
.s_page48-49_96
{
position:absolute;top:3687.66px;left:292.16px;letter-spacing:-6.72px;
}
.s_page48-49_97
{
position:absolute;top:3687.66px;left:639.94px;letter-spacing:-1.38px;
}
.s_page48-49_98
{
position:absolute;top:3687.66px;left:1114.41px;letter-spacing:-0.33px;
}
.s_page48-49_99
{
position:absolute;top:3687.66px;left:2016.56px;letter-spacing:-1.56px;
}
.s_page48-49_100
{
position:absolute;top:3687.66px;left:2864.47px;letter-spacing:-1px;
}
.s_page48-49_101
{
position:absolute;top:3687.66px;left:7154.66px;
}
.s_page48-49_102
{
position:absolute;top:3687.66px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_103
{
position:absolute;top:4305.27px;left:0px;
}
.s_page48-49_104
{
position:absolute;top:4305.27px;left:246.33px;letter-spacing:-1.2px;
}
.s_page48-49_105
{
position:absolute;top:4305.27px;left:639.94px;letter-spacing:-3.6px;
}
.s_page48-49_106
{
position:absolute;top:4305.27px;left:1327.76px;letter-spacing:-0.62px;
}
.s_page48-49_107
{
position:absolute;top:4305.27px;left:1705.99px;letter-spacing:-3.98px;
}
.s_page48-49_108
{
position:absolute;top:4305.27px;left:7152.26px;
}
.s_page48-49_109
{
position:absolute;top:4305.27px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_110
{
position:absolute;top:4922.88px;left:0px;
}
.s_page48-49_111
{
position:absolute;top:4922.88px;left:254.48px;letter-spacing:-2.48px;
}
.s_page48-49_112
{
position:absolute;top:4922.88px;left:639.94px;letter-spacing:-0.16px;
}
.s_page48-49_113
{
position:absolute;top:4922.88px;left:1700.49px;letter-spacing:-1.64px;
}
.s_page48-49_114
{
position:absolute;top:4922.88px;left:2401.04px;letter-spacing:0px;
}
.s_page48-49_115
{
position:absolute;top:4922.88px;left:3415.75px;letter-spacing:-1.56px;
}
.s_page48-49_116
{
position:absolute;top:4922.88px;left:4263.65px;letter-spacing:-1px;
}
.s_page48-49_117
{
position:absolute;top:4922.88px;left:7218.5px;
}
.s_page48-49_118
{
position:absolute;top:4922.88px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_119
{
position:absolute;top:5540.49px;left:0px;
}
.s_page48-49_120
{
position:absolute;top:5540.49px;left:182.49px;letter-spacing:-1.86px;
}
.s_page48-49_121
{
position:absolute;top:5540.49px;left:639.94px;letter-spacing:-0.1px;
}
.s_page48-49_122
{
position:absolute;top:5540.49px;left:2087.35px;letter-spacing:-1.52px;
}
.s_page48-49_123
{
position:absolute;top:5540.49px;left:3328.38px;letter-spacing:-1.56px;
}
.s_page48-49_124
{
position:absolute;top:5540.49px;left:4176.29px;letter-spacing:-0.53px;
}
.s_page48-49_125
{
position:absolute;top:5540.49px;left:4816.12px;letter-spacing:-1.1px;
}
.s_page48-49_126
{
position:absolute;top:5540.49px;left:7127.54px;
}
.s_page48-49_127
{
position:absolute;top:5540.49px;left:7727.05px;letter-spacing:-0.82px;
}
.s_page48-49_128
{
position:absolute;top:-18px;left:149.84px;
}
.s_page48-49_129
{
position:absolute;top:-18px;left:185.84px;
}
.s_page48-49_130
{
position:absolute;top:-18px;left:183.68px;
}
.s_page48-49_131
{
position:absolute;top:-18px;left:198.32px;
}
.s_page48-49_132
{
position:absolute;top:-18px;left:186.92px;
}
.s_page48-49_133
{
position:absolute;top:-18px;left:192.44px;
}
.s_page48-49_134
{
position:absolute;top:-18px;left:191.96px;
}
.s_page48-49_135
{
position:absolute;top:-18px;left:189.2px;
}
.s_page48-49_136
{
position:absolute;top:-18px;left:192.92px;
}
.s_page48-49_137
{
position:absolute;top:-18px;left:226.4px;
}
.s_page48-49_138
{
position:absolute;top:-17.65px;left:0px;letter-spacing:13.5px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page48-49_139
{
position:absolute;top:-17.65px;left:795.12px;letter-spacing:15.75px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page48-49_140
{
position:absolute;top:-17.65px;left:2784.16px;letter-spacing:13.5px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page48-49_141
{
position:absolute;top:-17.65px;left:3794.01px;letter-spacing:14.4px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page48-49_142
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.2px;
}
.s_page48-49_143
{
position:absolute;top:-18px;left:901.67px;
}
.s_page48-49_144
{
position:absolute;top:-18px;left:1980px;letter-spacing:-0.58px;
}
.s_page48-49_145
{
position:absolute;top:-18px;left:2526.95px;letter-spacing:-2.88px;
}
.s_page48-49_146
{
position:absolute;top:-18px;left:3280px;text-rendering:optimizeLegibility;letter-spacing:-1.73px;
}
.s_page48-49_147
{
position:absolute;top:-18px;left:3734.56px;letter-spacing:-0.53px;
}
.s_page48-49_148
{
position:absolute;top:398.69px;left:0px;letter-spacing:-0.9px;
}
.s_page48-49_149
{
position:absolute;top:398.69px;left:889.19px;letter-spacing:-0.18px;
}
.s_page48-49_150
{
position:absolute;top:398.69px;left:1980px;letter-spacing:-1.88px;
}
.s_page48-49_151
{
position:absolute;top:398.69px;left:2635.67px;letter-spacing:-0.67px;
}
.s_page48-49_152
{
position:absolute;top:398.69px;left:3280px;letter-spacing:-0.58px;
}
.s_page48-49_153
{
position:absolute;top:398.69px;left:3826.95px;letter-spacing:-1.76px;
}
.s_page48-49_154
{
position:absolute;top:248.09px;left:616.04px;
}
.s_page48-49_155
{
position:absolute;top:248.09px;left:659.95px;letter-spacing:-1.06px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_156
{
position:absolute;top:248.09px;left:1717.55px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_157
{
position:absolute;top:248.09px;left:2497.03px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_158
{
position:absolute;top:248.09px;left:3682.28px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_159
{
position:absolute;top:248.09px;left:4699.4px;letter-spacing:0px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_160
{
position:absolute;top:248.09px;left:5315.39px;letter-spacing:-2.3px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_161
{
position:absolute;top:248.09px;left:5989.49px;letter-spacing:-1.5px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_162
{
position:absolute;top:248.09px;left:6973.22px;text-rendering:optimizeLegibility;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_163
{
position:absolute;top:248.09px;left:8376.83px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_164
{
position:absolute;top:248.09px;left:8863.26px;letter-spacing:-0.51px;-webkit-transform-origin: 0% 235.20px;-webkit-transform:matrix(0.97,0,0,1,0,0);-webkit-transform:matrix(0.97,0,0,1,0,0);-moz-transform:matrix(0.97,0,0,1,0,0);-ms-transform:matrix(0.97,0,0,1,0,0);-o-transform:matrix(0.97,0,0,1,0,0);transform-origin: 0% 235.20px;transform:matrix(0.97,0,0,1,0,0);
}
.s_page48-49_165
{
position:absolute;top:58.88px;left:0px;
}
.s_page48-49_166
{
position:absolute;top:167.47px;left:225.64px;letter-spacing:-1.56px;
}
.s_page48-49_167
{
position:absolute;top:167.47px;left:190.6px;
}
.s_page48-49_168
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.06px;
}
.s_page48-49_169
{
position:absolute;top:-18px;left:1074.22px;letter-spacing:-0.48px;
}
.s_page48-49_170
{
position:absolute;top:-18px;left:1857.1px;
}
.s_page48-49_171
{
position:absolute;top:-18px;left:2167.17px;
}
.s_page48-49_172
{
position:absolute;top:-18px;left:2586.44px;letter-spacing:-2.97px;
}
.s_page48-49_173
{
position:absolute;top:-18px;left:3396.91px;letter-spacing:-2.48px;
}
.s_page48-49_174
{
position:absolute;top:-18px;left:3673.39px;
}
.s_page48-49_175
{
position:absolute;top:-18px;left:4092.66px;letter-spacing:-0.18px;
}
.s_page48-49_176
{
position:absolute;top:-18px;left:4848.65px;letter-spacing:-4.92px;
}
.s_page48-49_177
{
position:absolute;top:-18px;left:5638px;
}
.s_page48-49_178
{
position:absolute;top:342px;left:0px;letter-spacing:-0.66px;
}
.s_page48-49_179
{
position:absolute;top:342px;left:502.08px;
}
.s_page48-49_180
{
position:absolute;top:342px;left:917.99px;letter-spacing:-1.2px;
}
.s_page48-49_181
{
position:absolute;top:342px;left:1834.53px;letter-spacing:-2.48px;
}
.s_page48-49_182
{
position:absolute;top:342px;left:2107.89px;
}
.s_page48-49_183
{
position:absolute;top:342px;left:2789px;
}
.s_page48-49_184
{
position:absolute;top:342px;left:3234.91px;letter-spacing:-1.28px;
}
.s_page48-49_185
{
position:absolute;top:342px;left:3826.5px;
}
.s_page48-49_186
{
position:absolute;top:342px;left:4985.2px;letter-spacing:-0.4px;
}
.s_page48-49_187
{
position:absolute;top:702px;left:0px;
}
.s_page48-49_188
{
position:absolute;top:702px;left:471.83px;letter-spacing:-2.21px;
}
.s_page48-49_189
{
position:absolute;top:702px;left:1105.91px;
}
.s_page48-49_190
{
position:absolute;top:702px;left:1549.42px;
}
.s_page48-49_191
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page48-49_192
{
position:absolute;top:-18px;left:500.16px;letter-spacing:-1.2px;
}
.s_page48-49_193
{
position:absolute;top:-18px;left:1416.7px;letter-spacing:-2.48px;
}
.s_page48-49_194
{
position:absolute;top:-18px;left:1697.26px;letter-spacing:-1.07px;
}
.s_page48-49_195
{
position:absolute;top:-18px;left:3146.85px;
}
.s_page48-49_196
{
position:absolute;top:-18px;left:3595.88px;letter-spacing:-0.75px;
}
.s_page48-49_197
{
position:absolute;top:-18px;left:4452.43px;letter-spacing:-0.66px;
}
.s_page48-49_198
{
position:absolute;top:-18px;left:4958.58px;letter-spacing:-3px;
}
.s_page48-49_199
{
position:absolute;top:-18px;left:5150.1px;letter-spacing:-1.1px;
}
.s_page48-49_200
{
position:absolute;top:-18px;left:5720.32px;letter-spacing:-2.4px;
}
.s_page48-49_201
{
position:absolute;top:342px;left:0px;
}
.s_page48-49_202
{
position:absolute;top:342px;left:532.55px;
}
.s_page48-49_203
{
position:absolute;top:342px;left:1334.86px;
}
.s_page48-49_204
{
position:absolute;top:342px;left:2230.28px;
}
.s_page48-49_205
{
position:absolute;top:342px;left:2485.63px;
}
.s_page48-49_206
{
position:absolute;top:342px;left:3211.62px;letter-spacing:-6.17px;
}
.s_page48-49_207
{
position:absolute;top:342px;left:3964.01px;
}
.s_page48-49_208
{
position:absolute;top:342px;left:4296.88px;
}
.s_page48-49_209
{
position:absolute;top:342px;left:4529.92px;
}
.s_page48-49_210
{
position:absolute;top:342px;left:4949.19px;
}
.s_page48-49_211
{
position:absolute;top:342px;left:5757.97px;
}
.s_page48-49_212
{
position:absolute;top:702px;left:0px;
}
.s_page48-49_213
{
position:absolute;top:702px;left:255.36px;
}
.s_page48-49_214
{
position:absolute;top:702px;left:988.06px;
}
.s_page48-49_215
{
position:absolute;top:167.47px;left:188.8px;letter-spacing:-1.92px;
}
.s_page48-49_216
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page48-49_217
{
position:absolute;top:-18px;left:503.51px;
}
.s_page48-49_218
{
position:absolute;top:-18px;left:1615.18px;letter-spacing:-2.48px;
}
.s_page48-49_219
{
position:absolute;top:-18px;left:1895.74px;letter-spacing:-0.75px;
}
.s_page48-49_220
{
position:absolute;top:-18px;left:2870.85px;
}
.s_page48-49_221
{
position:absolute;top:-18px;left:4014.19px;
}
.s_page48-49_222
{
position:absolute;top:-18px;left:4886.58px;
}
.s_page48-49_223
{
position:absolute;top:-18px;left:5123.69px;
}
.s_page48-49_224
{
position:absolute;top:342px;left:0px;
}
.s_page48-49_225
{
position:absolute;top:342px;left:726.95px;
}
.s_page48-49_226
{
position:absolute;top:342px;left:1734.94px;letter-spacing:-0.81px;
}
.s_page48-49_227
{
position:absolute;top:342px;left:2600.12px;
}
.s_page48-49_228
{
position:absolute;top:342px;left:3071.96px;
}
.s_page48-49_229
{
position:absolute;top:342px;left:3542.59px;letter-spacing:-2.48px;
}
.s_page48-49_230
{
position:absolute;top:342px;left:3819.07px;
}
.s_page48-49_231
{
position:absolute;top:342px;left:4238.34px;
}
.s_page48-49_232
{
position:absolute;top:342px;left:5047.12px;
}
.s_page48-49_233
{
position:absolute;top:342px;left:5518.96px;
}
.s_page48-49_234
{
position:absolute;top:702px;left:0px;letter-spacing:-0.64px;
}
.s_page48-49_235
{
position:absolute;top:702px;left:1035.1px;
}
.s_page48-49_236
{
position:absolute;top:702px;left:1575.34px;
}
.s_page48-49_237
{
position:absolute;top:702px;left:1826.61px;
}
.s_page48-49_238
{
position:absolute;top:702px;left:2241.32px;letter-spacing:-0.41px;
}
.s_page48-49_239
{
position:absolute;top:702px;left:2982.91px;
}
.s_page48-49_240
{
position:absolute;top:167.47px;left:192.04px;letter-spacing:-1.92px;
}
.s_page48-49_241
{
position:absolute;top:-18px;left:0px;letter-spacing:-2.64px;
}
.s_page48-49_242
{
position:absolute;top:-18px;left:947.75px;
}
.s_page48-49_243
{
position:absolute;top:-18px;left:1419.58px;
}
.s_page48-49_244
{
position:absolute;top:-18px;left:2531.25px;letter-spacing:-2.48px;
}
.s_page48-49_245
{
position:absolute;top:-18px;left:2807.73px;
}
.s_page48-49_246
{
position:absolute;top:-18px;left:3219.56px;letter-spacing:-1.03px;
}
.s_page48-49_247
{
position:absolute;top:-18px;left:3902.83px;letter-spacing:-1.58px;
}
.s_page48-49_248
{
position:absolute;top:-18px;left:4697.7px;
}
.s_page48-49_249
{
position:absolute;top:-18px;left:5030.58px;
}
.s_page48-49_250
{
position:absolute;top:342px;left:0px;
}
.s_page48-49_251
{
position:absolute;top:342px;left:371.99px;
}
.s_page48-49_252
{
position:absolute;top:342px;left:1379.5px;
}
.s_page48-49_253
{
position:absolute;top:342px;left:1915.89px;letter-spacing:-3px;
}
.s_page48-49_254
{
position:absolute;top:342px;left:2107.4px;
}
.s_page48-49_255
{
position:absolute;top:342px;left:2739.32px;letter-spacing:-0.93px;
}
.s_page48-49_256
{
position:absolute;top:342px;left:3418.74px;letter-spacing:-1.03px;
}
.s_page48-49_257
{
position:absolute;top:342px;left:4102.01px;letter-spacing:-1.55px;
}
.s_page48-49_258
{
position:absolute;top:342px;left:5098.96px;letter-spacing:-6.44px;
}
.s_page48-49_259
{
position:absolute;top:702px;left:0px;
}
.s_page48-49_260
{
position:absolute;top:702px;left:332.87px;
}
.s_page48-49_261
{
position:absolute;top:702px;left:982.06px;letter-spacing:-1.3px;
}
.s_page48-49_262
{
position:absolute;top:702px;left:1610.38px;
}
.s_page48-49_263
{
position:absolute;top:702px;left:2164.05px;
}
.s_page48-49_264
{
position:absolute;top:702px;left:2659.87px;letter-spacing:-0.24px;
}
.s_page48-49_265
{
position:absolute;top:702px;left:3956.82px;
}
.s_page48-49_266
{
position:absolute;top:-18px;left:0px;
}
.s_page48-49_267
{
position:absolute;top:-18px;left:265.2px;letter-spacing:-0.64px;
}
.s_page48-49_268
{
position:absolute;top:-18px;left:948.46px;
}
.s_page48-49_269
{
position:absolute;top:-18px;left:1281.34px;letter-spacing:-0.81px;
}
.s_page48-49_270
{
position:absolute;top:-18px;left:2174.6px;letter-spacing:-3.55px;
}
.s_page48-49_271
{
position:absolute;top:-18px;left:3051.07px;letter-spacing:-3px;
}
.s_page48-49_272
{
position:absolute;top:-18px;left:3242.59px;
}
.s_page48-49_273
{
position:absolute;top:-18px;left:3926.81px;letter-spacing:-0.26px;
}
.s_page48-49_274
{
position:absolute;top:-18px;left:5214.16px;letter-spacing:-0.36px;
}
.s_page48-49_275
{
position:absolute;top:342px;left:0px;
}
.s_page48-49_276
{
position:absolute;top:342px;left:505.19px;letter-spacing:-0.79px;
}
.s_page48-49_277
{
position:absolute;top:342px;left:1256.62px;
}
.s_page48-49_278
{
position:absolute;top:342px;left:1580.13px;letter-spacing:-0.24px;
}
.s_page48-49_279
{
position:absolute;top:342px;left:2237px;
}
.s_page48-49_280
{
position:absolute;top:342px;left:2526.43px;
}
.s_page48-49_281
{
position:absolute;top:342px;left:3115.38px;
}
.s_page48-49_282
{
position:absolute;top:342px;left:3752.09px;
}
.s_page48-49_283
{
position:absolute;top:342px;left:4911.27px;
}
.s_page48-49_284
{
position:absolute;top:702px;left:0px;letter-spacing:-0.36px;
}
.s_page48-49_285
{
position:absolute;top:702px;left:868.3px;
}
.s_page48-49_286
{
position:absolute;top:167.47px;left:186.52px;letter-spacing:-1.92px;
}
.s_page48-49_287
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.88px;
}
.s_page48-49_288
{
position:absolute;top:-18px;left:360.96px;
}
.s_page48-49_289
{
position:absolute;top:-18px;left:1231.42px;
}
.s_page48-49_290
{
position:absolute;top:-18px;left:1515.33px;letter-spacing:-0.46px;
}
.s_page48-49_291
{
position:absolute;top:-18px;left:2615.48px;letter-spacing:-1.2px;
}
.s_page48-49_292
{
position:absolute;top:-18px;left:3765.06px;
}
.s_page48-49_293
{
position:absolute;top:-18px;left:4232.33px;letter-spacing:-1.61px;
}
.s_page48-49_294
{
position:absolute;top:-18px;left:5104.96px;
}
.s_page48-49_295
{
position:absolute;top:-18px;left:5388.87px;letter-spacing:-1.92px;
}
.s_page48-49_296
{
position:absolute;top:342px;left:0px;letter-spacing:-1.44px;
}
.s_page48-49_297
{
position:absolute;top:342px;left:722.63px;letter-spacing:-1.51px;
}
.s_page48-49_298
{
position:absolute;top:342px;left:1499.97px;letter-spacing:-0.66px;
}
.s_page48-49_299
{
position:absolute;top:342px;left:2331.8px;
}
.s_page48-49_300
{
position:absolute;top:342px;left:2703.79px;letter-spacing:-0.46px;
}
.s_page48-49_301
{
position:absolute;top:342px;left:4062.66px;
}
.s_page48-49_302
{
position:absolute;top:342px;left:4455.53px;
}
.s_page48-49_303
{
position:absolute;top:342px;left:4744.96px;
}
.s_page48-49_304
{
position:absolute;top:702px;left:0px;letter-spacing:-0.66px;
}
.s_page48-49_305
{
position:absolute;top:702px;left:1515.11px;
}
.s_page48-49_306
{
position:absolute;top:167.47px;left:190.84px;letter-spacing:-1.2px;
}
.s_page48-49_307
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page48-49_308
{
position:absolute;top:-18px;left:456.96px;letter-spacing:-1.64px;
}
.s_page48-49_309
{
position:absolute;top:-18px;left:1810.79px;letter-spacing:-1.08px;
}
.s_page48-49_310
{
position:absolute;top:342px;left:0px;letter-spacing:-0.58px;
}
.s_page48-49_311
{
position:absolute;top:342px;left:642.23px;
}
.s_page48-49_312
{
position:absolute;top:342px;left:1061.5px;letter-spacing:-1.68px;
}
.s_page48-49_313
{
position:absolute;top:342px;left:1990.05px;letter-spacing:-0.16px;
}
.s_page48-49_314
{
position:absolute;top:702px;left:0px;letter-spacing:-0.55px;
}
.s_page48-49_315
{
position:absolute;top:702px;left:1471.42px;letter-spacing:-0.48px;
}
.s_page48-49_316
{
position:absolute;top:702px;left:2072.13px;letter-spacing:-0.18px;
}
.s_page48-49_317
{
position:absolute;top:1062px;left:0px;
}
.s_page48-49_318
{
position:absolute;top:1062px;left:467.75px;
}
.s_page48-49_319
{
position:absolute;top:1062px;left:887.03px;letter-spacing:-0.78px;
}
.s_page48-49_320
{
position:absolute;top:1062px;left:1825.65px;letter-spacing:-0.29px;
}
.s_page48-49_321
{
position:absolute;top:-12.32px;left:0px;
}
.s_page48-49_322
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page48-49_323
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page48-49_324
{
position:absolute;top:-5.54px;left:116.41px;
}

#text1{
	position: absolute;
	top: 741px;
	left: 169px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 720px;
	left: 169px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 720px;
	left: 71px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 741px;
	left: 236px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 741px;
	left: 71px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 720px;
	left: 235px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 243px;
	left: 189px;
	width: 83px;
	height: 15px;
}
#box2{
	position:absolute;
	top: 317px;
	left: 189px;
	width: 88px;
	height: 15px;
}
#box3{
	position:absolute;
	top: 393px;
	left: 255px;
	width: 91px;
	height: 15px;
}
#box4{
	position:absolute;
	top: 472px;
	left: 184px;
	width: 97px;
	height: 15px;
}
#box5{
	position:absolute;
	top: 546px;
	left: 304px;
	width: 100px;
	height: 15px;
}
#box6{
	position:absolute;
	top: 623px;
	left: 215px;
	width: 92px;
	height: 15px;
}
.p49_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page49_btn1 {
	position:absolute;
	top: 803px;
	left: 277px;
}
.position_48 {
	position: absolute;
	top: 34px;
	left: 372px;
}
