.d_page46-47_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page46-47_2
{
width:9838.78px;height:403.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page46-47_3
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page46-47_4
{
width:3988.8px;height:1699.2px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_5
{
width:403.2px;height:383.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page46-47_6
{
width:2037.6px;height:1526.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_7
{
width:2768px;height:2174.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_8
{
width:403.2px;height:383.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page46-47_9
{
width:1384px;height:2045.27px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_10
{
width:403.2px;height:383.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page46-47_11
{
width:2768px;height:3063.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_12
{
width:403.2px;height:383.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page46-47_13
{
width:2768px;height:2875.14px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_14
{
width:2409.4px;height:1503.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_15
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.91px) rotate(0deg) scale(0.05);
}
.d_page46-47_16
{
width:5227.2px;height:1452.84px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_17
{
width:2187.14px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_18
{
width:403.2px;height:383.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1px) rotate(0deg) scale(0.05);
}
.d_page46-47_19
{
width:5000px;height:1026.13px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_20
{
width:5475.44px;height:690.29px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.8px) rotate(0deg) scale(0.05);
}
.d_page46-47_21
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page46-47_22
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page46-47_23
{
width:9864.57px;height:546.46px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,15.37px) rotate(0deg) scale(0.05);
}
.d_page46-47_24
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.37px) rotate(0deg) scale(0.05);
}
.d_page46-47_25
{
width:2808px;height:1983.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_26
{
width:316.8px;height:375.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_27
{
width:2808px;height:1711.71px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_28
{
width:316.8px;height:375.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_29
{
width:2808px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_30
{
width:316.8px;height:375.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_31
{
width:2808px;height:1248.55px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_32
{
width:316.8px;height:375.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_33
{
width:2750.4px;height:2073.65px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_34
{
width:316.8px;height:375.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_35
{
width:2750.4px;height:1983.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_36
{
width:316.8px;height:375.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_37
{
width:1629.95px;height:1623.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_38
{
width:4233.71px;height:903.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.27px) rotate(0deg) scale(0.05);
}
.d_page46-47_39
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page46-47_40
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page46-47_41
{
position:absolute;top:168.09px;left:616.04px;
}
.s_page46-47_42
{
position:absolute;top:168.09px;left:659.95px;letter-spacing:-1.06px;
}
.s_page46-47_43
{
position:absolute;top:168.09px;left:1749.46px;
}
.s_page46-47_44
{
position:absolute;top:168.09px;left:2552.24px;letter-spacing:0px;
}
.s_page46-47_45
{
position:absolute;top:168.09px;left:3812.54px;letter-spacing:-0.28px;
}
.s_page46-47_46
{
position:absolute;top:168.09px;left:4429.13px;letter-spacing:-2.3px;
}
.s_page46-47_47
{
position:absolute;top:168.09px;left:5123.28px;letter-spacing:-0.65px;
}
.s_page46-47_48
{
position:absolute;top:168.09px;left:7237.02px;letter-spacing:-0.3px;
}
.s_page46-47_49
{
position:absolute;top:168.09px;left:8748.76px;
}
.s_page46-47_50
{
position:absolute;top:58.88px;left:0px;
}
.s_page46-47_51
{
position:absolute;top:-18px;left:0px;
}
.s_page46-47_52
{
position:absolute;top:-18px;left:770.63px;letter-spacing:-2.48px;
}
.s_page46-47_53
{
position:absolute;top:-18px;left:1047.1px;
}
.s_page46-47_54
{
position:absolute;top:-18px;left:1466.37px;
}
.s_page46-47_55
{
position:absolute;top:-18px;left:2070.92px;letter-spacing:-0.42px;
}
.s_page46-47_56
{
position:absolute;top:-18px;left:2535.32px;
}
.s_page46-47_57
{
position:absolute;top:-18px;left:3453.54px;
}
.s_page46-47_58
{
position:absolute;top:342px;left:0px;
}
.s_page46-47_59
{
position:absolute;top:342px;left:337.43px;text-rendering:optimizeLegibility;letter-spacing:-0.21px;
}
.s_page46-47_60
{
position:absolute;top:342px;left:1033.18px;
}
.s_page46-47_61
{
position:absolute;top:342px;left:1952.13px;
}
.s_page46-47_62
{
position:absolute;top:342px;left:2294.84px;letter-spacing:-0.12px;
}
.s_page46-47_63
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_64
{
position:absolute;top:702px;left:582.47px;
}
.s_page46-47_65
{
position:absolute;top:702px;left:1118.86px;letter-spacing:-3px;
}
.s_page46-47_66
{
position:absolute;top:702px;left:1310.38px;letter-spacing:-0.16px;
}
.s_page46-47_67
{
position:absolute;top:702px;left:2318.6px;letter-spacing:-1.03px;
}
.s_page46-47_68
{
position:absolute;top:702px;left:3147.31px;text-rendering:optimizeLegibility;
}
.s_page46-47_69
{
position:absolute;top:1062px;left:0px;
}
.s_page46-47_70
{
position:absolute;top:1062px;left:536.39px;letter-spacing:-0.18px;
}
.s_page46-47_71
{
position:absolute;top:1062px;left:1317.82px;letter-spacing:-0.41px;
}
.s_page46-47_72
{
position:absolute;top:1062px;left:2451.32px;letter-spacing:-0.8px;
}
.s_page46-47_73
{
position:absolute;top:1062px;left:3458.82px;
}
.s_page46-47_74
{
position:absolute;top:1422px;left:0px;
}
.s_page46-47_75
{
position:absolute;top:1422px;left:518.87px;letter-spacing:-1.08px;
}
.s_page46-47_76
{
position:absolute;top:81.76px;left:147.24px;letter-spacing:-1.56px;
}
.s_page46-47_77
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page46-47_78
{
position:absolute;top:-18px;left:503.51px;
}
.s_page46-47_79
{
position:absolute;top:342px;left:0px;letter-spacing:-0.66px;
}
.s_page46-47_80
{
position:absolute;top:342px;left:1184.65px;letter-spacing:0px;
}
.s_page46-47_81
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_82
{
position:absolute;top:702px;left:248.64px;letter-spacing:-3.15px;
}
.s_page46-47_83
{
position:absolute;top:702px;left:988.54px;letter-spacing:-3.48px;
}
.s_page46-47_84
{
position:absolute;top:1062px;left:0px;
}
.s_page46-47_85
{
position:absolute;top:1062px;left:237.11px;
}
.s_page46-47_86
{
position:absolute;top:1062px;left:1292.38px;letter-spacing:-1.68px;
}
.s_page46-47_87
{
position:absolute;top:1062px;left:1710.7px;letter-spacing:-3px;
}
.s_page46-47_88
{
position:absolute;top:-18px;left:0px;
}
.s_page46-47_89
{
position:absolute;top:-18px;left:458.39px;
}
.s_page46-47_90
{
position:absolute;top:-18px;left:1619.49px;
}
.s_page46-47_91
{
position:absolute;top:342px;left:0px;
}
.s_page46-47_92
{
position:absolute;top:342px;left:237.11px;
}
.s_page46-47_93
{
position:absolute;top:342px;left:1292.38px;
}
.s_page46-47_94
{
position:absolute;top:342px;left:1547.74px;
}
.s_page46-47_95
{
position:absolute;top:342px;left:2121.81px;letter-spacing:-3px;
}
.s_page46-47_96
{
position:absolute;top:702px;left:0px;letter-spacing:-0.79px;
}
.s_page46-47_97
{
position:absolute;top:702px;left:893.51px;
}
.s_page46-47_98
{
position:absolute;top:702px;left:1398.7px;
}
.s_page46-47_99
{
position:absolute;top:702px;left:1605.57px;letter-spacing:-0.65px;
}
.s_page46-47_100
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.38px;
}
.s_page46-47_101
{
position:absolute;top:1062px;left:338.87px;
}
.s_page46-47_102
{
position:absolute;top:1062px;left:628.3px;letter-spacing:-1.3px;
}
.s_page46-47_103
{
position:absolute;top:1062px;left:1438.3px;
}
.s_page46-47_104
{
position:absolute;top:1062px;left:1857.57px;
}
.s_page46-47_105
{
position:absolute;top:1062px;left:2462.6px;letter-spacing:-2.48px;
}
.s_page46-47_106
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.83px;
}
.s_page46-47_107
{
position:absolute;top:1422px;left:1772.62px;
}
.s_page46-47_108
{
position:absolute;top:1422px;left:2082.21px;letter-spacing:-0.58px;
}
.s_page46-47_109
{
position:absolute;top:1782px;left:0px;
}
.s_page46-47_110
{
position:absolute;top:1782px;left:314.15px;letter-spacing:-0.16px;
}
.s_page46-47_111
{
position:absolute;top:1782px;left:1177.66px;
}
.s_page46-47_112
{
position:absolute;top:1782px;left:1649.49px;
}
.s_page46-47_113
{
position:absolute;top:81.76px;left:110.4px;letter-spacing:-1.92px;
}
.s_page46-47_114
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page46-47_115
{
position:absolute;top:-18px;left:503.51px;
}
.s_page46-47_116
{
position:absolute;top:342px;left:0px;letter-spacing:-0.83px;
}
.s_page46-47_117
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_118
{
position:absolute;top:702px;left:918.23px;
}
.s_page46-47_119
{
position:absolute;top:1062px;left:0px;
}
.s_page46-47_120
{
position:absolute;top:1062px;left:255.36px;letter-spacing:-1.11px;
}
.s_page46-47_121
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.21px;
}
.s_page46-47_122
{
position:absolute;top:1422px;left:875.75px;letter-spacing:-1.68px;
}
.s_page46-47_123
{
position:absolute;top:1782px;left:0px;letter-spacing:-3px;
}
.s_page46-47_124
{
position:absolute;top:1782px;left:191.52px;
}
.s_page46-47_125
{
position:absolute;top:81.76px;left:112.44px;letter-spacing:-1.2px;
}
.s_page46-47_126
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page46-47_127
{
position:absolute;top:-18px;left:503.51px;
}
.s_page46-47_128
{
position:absolute;top:-18px;left:1485.82px;letter-spacing:-0.61px;
}
.s_page46-47_129
{
position:absolute;top:342px;left:0px;letter-spacing:-0.66px;
}
.s_page46-47_130
{
position:absolute;top:342px;left:506.15px;
}
.s_page46-47_131
{
position:absolute;top:342px;left:1042.3px;letter-spacing:-0.93px;
}
.s_page46-47_132
{
position:absolute;top:342px;left:1876.53px;
}
.s_page46-47_133
{
position:absolute;top:342px;left:2384.6px;
}
.s_page46-47_134
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_135
{
position:absolute;top:702px;left:471.83px;
}
.s_page46-47_136
{
position:absolute;top:702px;left:708.95px;
}
.s_page46-47_137
{
position:absolute;top:702px;left:1579.89px;
}
.s_page46-47_138
{
position:absolute;top:702px;left:1835.25px;letter-spacing:-3px;
}
.s_page46-47_139
{
position:absolute;top:702px;left:2021.01px;
}
.s_page46-47_140
{
position:absolute;top:1062px;left:0px;
}
.s_page46-47_141
{
position:absolute;top:1062px;left:255.36px;
}
.s_page46-47_142
{
position:absolute;top:1062px;left:1446.21px;
}
.s_page46-47_143
{
position:absolute;top:1062px;left:2264.36px;
}
.s_page46-47_144
{
position:absolute;top:1422px;left:0px;letter-spacing:-1.68px;
}
.s_page46-47_145
{
position:absolute;top:1422px;left:866.62px;
}
.s_page46-47_146
{
position:absolute;top:1422px;left:1454.62px;
}
.s_page46-47_147
{
position:absolute;top:1422px;left:1661.49px;
}
.s_page46-47_148
{
position:absolute;top:1422px;left:1898.6px;
}
.s_page46-47_149
{
position:absolute;top:1422px;left:2377.64px;
}
.s_page46-47_150
{
position:absolute;top:1422px;left:2632.99px;letter-spacing:-3px;
}
.s_page46-47_151
{
position:absolute;top:1782px;left:0px;letter-spacing:-1.17px;
}
.s_page46-47_152
{
position:absolute;top:1782px;left:960.23px;
}
.s_page46-47_153
{
position:absolute;top:1782px;left:1761.1px;
}
.s_page46-47_154
{
position:absolute;top:1782px;left:2184.69px;letter-spacing:-0.82px;
}
.s_page46-47_155
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.48px;
}
.s_page46-47_156
{
position:absolute;top:2142px;left:717.35px;
}
.s_page46-47_157
{
position:absolute;top:2142px;left:1136.62px;letter-spacing:-1.44px;
}
.s_page46-47_158
{
position:absolute;top:2142px;left:1948.52px;letter-spacing:-0.33px;
}
.s_page46-47_159
{
position:absolute;top:2502px;left:0px;
}
.s_page46-47_160
{
position:absolute;top:2502px;left:471.83px;
}
.s_page46-47_161
{
position:absolute;top:2502px;left:920.87px;letter-spacing:-0.93px;
}
.s_page46-47_162
{
position:absolute;top:2502px;left:1755.1px;letter-spacing:-0.64px;
}
.s_page46-47_163
{
position:absolute;top:2862px;left:0px;letter-spacing:-0.98px;
}
.s_page46-47_164
{
position:absolute;top:2862px;left:1033.18px;letter-spacing:-0.96px;
}
.s_page46-47_165
{
position:absolute;top:2862px;left:1861.41px;
}
.s_page46-47_166
{
position:absolute;top:81.76px;left:113.64px;letter-spacing:-1.92px;
}
.s_page46-47_167
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page46-47_168
{
position:absolute;top:-18px;left:503.51px;
}
.s_page46-47_169
{
position:absolute;top:-18px;left:1503.59px;
}
.s_page46-47_170
{
position:absolute;top:-18px;left:1758.94px;letter-spacing:-0.51px;
}
.s_page46-47_171
{
position:absolute;top:342px;left:0px;letter-spacing:-0.21px;
}
.s_page46-47_172
{
position:absolute;top:342px;left:713.03px;letter-spacing:-0.66px;
}
.s_page46-47_173
{
position:absolute;top:342px;left:1219.19px;
}
.s_page46-47_174
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_175
{
position:absolute;top:702px;left:255.36px;letter-spacing:-3.8px;
}
.s_page46-47_176
{
position:absolute;top:702px;left:794.38px;letter-spacing:-0.24px;
}
.s_page46-47_177
{
position:absolute;top:702px;left:1669.65px;letter-spacing:-3.12px;
}
.s_page46-47_178
{
position:absolute;top:702px;left:1993.16px;letter-spacing:-1.68px;
}
.s_page46-47_179
{
position:absolute;top:1062px;left:0px;
}
.s_page46-47_180
{
position:absolute;top:1062px;left:314.15px;letter-spacing:-3px;
}
.s_page46-47_181
{
position:absolute;top:1062px;left:505.67px;letter-spacing:-0.22px;
}
.s_page46-47_182
{
position:absolute;top:1062px;left:1921.17px;letter-spacing:-2.48px;
}
.s_page46-47_183
{
position:absolute;top:1062px;left:2197.65px;
}
.s_page46-47_184
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.43px;
}
.s_page46-47_185
{
position:absolute;top:1422px;left:1105.18px;letter-spacing:-1.6px;
}
.s_page46-47_186
{
position:absolute;top:1422px;left:2046.69px;
}
.s_page46-47_187
{
position:absolute;top:1782px;left:0px;letter-spacing:-0.61px;
}
.s_page46-47_188
{
position:absolute;top:1782px;left:914.14px;letter-spacing:-2.48px;
}
.s_page46-47_189
{
position:absolute;top:1782px;left:1190.62px;
}
.s_page46-47_190
{
position:absolute;top:1782px;left:1609.89px;
}
.s_page46-47_191
{
position:absolute;top:2142px;left:0px;
}
.s_page46-47_192
{
position:absolute;top:2142px;left:237.11px;letter-spacing:-1.65px;
}
.s_page46-47_193
{
position:absolute;top:2142px;left:1172.14px;
}
.s_page46-47_194
{
position:absolute;top:2142px;left:1423.42px;
}
.s_page46-47_195
{
position:absolute;top:2502px;left:0px;
}
.s_page46-47_196
{
position:absolute;top:2502px;left:683.75px;
}
.s_page46-47_197
{
position:absolute;top:2502px;left:1155.58px;
}
.s_page46-47_198
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page46-47_199
{
position:absolute;top:-18px;left:464.4px;letter-spacing:-0.21px;
}
.s_page46-47_200
{
position:absolute;top:302px;left:0px;
}
.s_page46-47_201
{
position:absolute;top:302px;left:760.55px;
}
.s_page46-47_202
{
position:absolute;top:622px;left:0px;letter-spacing:-0.74px;
}
.s_page46-47_203
{
position:absolute;top:942px;left:0px;letter-spacing:-1.52px;
}
.s_page46-47_204
{
position:absolute;top:942px;left:710.39px;letter-spacing:-1.03px;
}
.s_page46-47_205
{
position:absolute;top:942px;left:1570.54px;letter-spacing:-7.73px;
}
.s_page46-47_206
{
position:absolute;top:1302px;left:0px;letter-spacing:-0.22px;
}
.s_page46-47_207
{
position:absolute;top:1302px;left:1382.63px;
}
.s_page46-47_208
{
position:absolute;top:1302px;left:1447.91px;
}
.s_page46-47_209
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page46-47_210
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page46-47_211
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page46-47_212
{
position:absolute;top:-18px;left:464.4px;letter-spacing:-0.13px;
}
.s_page46-47_213
{
position:absolute;top:-18px;left:1731.82px;letter-spacing:-2.48px;
}
.s_page46-47_214
{
position:absolute;top:-18px;left:2005.18px;letter-spacing:-0.74px;
}
.s_page46-47_215
{
position:absolute;top:-18px;left:3203px;letter-spacing:-0.88px;
}
.s_page46-47_216
{
position:absolute;top:342px;left:0px;
}
.s_page46-47_217
{
position:absolute;top:342px;left:415.19px;
}
.s_page46-47_218
{
position:absolute;top:342px;left:1145.26px;
}
.s_page46-47_219
{
position:absolute;top:342px;left:2063.48px;
}
.s_page46-47_220
{
position:absolute;top:342px;left:2318.84px;
}
.s_page46-47_221
{
position:absolute;top:342px;left:2638.27px;
}
.s_page46-47_222
{
position:absolute;top:342px;left:3241.61px;letter-spacing:-1.38px;
}
.s_page46-47_223
{
position:absolute;top:342px;left:3799.37px;
}
.s_page46-47_224
{
position:absolute;top:342px;left:4136.09px;letter-spacing:-0.96px;
}
.s_page46-47_225
{
position:absolute;top:342px;left:4595.44px;
}
.s_page46-47_226
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_227
{
position:absolute;top:702px;left:569.99px;
}
.s_page46-47_228
{
position:absolute;top:702px;left:964.3px;letter-spacing:-0.59px;
}
.s_page46-47_229
{
position:absolute;top:702px;left:2141.48px;letter-spacing:-1.87px;
}
.s_page46-47_230
{
position:absolute;top:702px;left:2753.23px;
}
.s_page46-47_231
{
position:absolute;top:702px;left:3284.82px;
}
.s_page46-47_232
{
position:absolute;top:702px;left:3943.13px;letter-spacing:-0.52px;
}
.s_page46-47_233
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.66px;
}
.s_page46-47_234
{
position:absolute;top:1062px;left:506.15px;letter-spacing:-0.54px;
}
.s_page46-47_235
{
position:absolute;top:1062px;left:928.31px;
}
.s_page46-47_236
{
position:absolute;top:1062px;left:1242.46px;letter-spacing:-0.77px;
}
.s_page46-47_237
{
position:absolute;top:1062px;left:2431.88px;
}
.s_page46-47_238
{
position:absolute;top:1062px;left:2746.04px;
}
.s_page46-47_239
{
position:absolute;top:1062px;left:2952.91px;
}
.s_page46-47_240
{
position:absolute;top:1062px;left:3185.94px;letter-spacing:-1.48px;
}
.s_page46-47_241
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.11px;
}
.s_page46-47_242
{
position:absolute;top:-18px;left:937.67px;
}
.s_page46-47_243
{
position:absolute;top:-18px;left:1193.02px;letter-spacing:-1.27px;
}
.s_page46-47_244
{
position:absolute;top:342px;left:0px;letter-spacing:-0.8px;
}
.s_page46-47_245
{
position:absolute;top:342px;left:618.95px;
}
.s_page46-47_246
{
position:absolute;top:342px;left:1077.34px;
}
.s_page46-47_247
{
position:absolute;top:702px;left:0px;letter-spacing:-1.17px;
}
.s_page46-47_248
{
position:absolute;top:702px;left:916.78px;letter-spacing:-0.66px;
}
.s_page46-47_249
{
position:absolute;top:702px;left:1422.93px;
}
.s_page46-47_250
{
position:absolute;top:1062px;left:0px;letter-spacing:-3.12px;
}
.s_page46-47_251
{
position:absolute;top:1062px;left:319.43px;
}
.s_page46-47_252
{
position:absolute;top:1062px;left:738.71px;letter-spacing:-1.2px;
}
.s_page46-47_253
{
position:absolute;top:1062px;left:1252.06px;
}
.s_page46-47_254
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.42px;
}
.s_page46-47_255
{
position:absolute;top:1422px;left:464.4px;
}
.s_page46-47_256
{
position:absolute;top:1422px;left:1071.59px;
}
.s_page46-47_257
{
position:absolute;top:81.76px;left:112.2px;
}
.s_page46-47_258
{
position:absolute;top:-18px;left:0px;
}
.s_page46-47_259
{
position:absolute;top:-18px;left:655.19px;letter-spacing:-0.32px;
}
.s_page46-47_260
{
position:absolute;top:-18px;left:1703.02px;letter-spacing:-0.93px;
}
.s_page46-47_261
{
position:absolute;top:-18px;left:2537.25px;
}
.s_page46-47_262
{
position:absolute;top:-18px;left:3027.08px;
}
.s_page46-47_263
{
position:absolute;top:-18px;left:3622.27px;letter-spacing:-1.87px;
}
.s_page46-47_264
{
position:absolute;top:-18px;left:4234.02px;
}
.s_page46-47_265
{
position:absolute;top:342px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.82px;
}
.s_page46-47_266
{
position:absolute;top:342px;left:642.23px;
}
.s_page46-47_267
{
position:absolute;top:342px;left:928.3px;text-rendering:optimizeLegibility;
}
.s_page46-47_268
{
position:absolute;top:342px;left:1215.1px;letter-spacing:-0.29px;
}
.s_page46-47_269
{
position:absolute;top:342px;left:1693.17px;
}
.s_page46-47_270
{
position:absolute;top:342px;left:2280.2px;letter-spacing:-1.28px;
}
.s_page46-47_271
{
position:absolute;top:342px;left:2921.23px;letter-spacing:-0.9px;
}
.s_page46-47_272
{
position:absolute;top:342px;left:3660.66px;
}
.s_page46-47_273
{
position:absolute;top:342px;left:4552.48px;
}
.s_page46-47_274
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_275
{
position:absolute;top:702px;left:449.99px;letter-spacing:-2.48px;
}
.s_page46-47_276
{
position:absolute;top:702px;left:730.55px;letter-spacing:-1.53px;
}
.s_page46-47_277
{
position:absolute;top:-17.65px;left:0px;letter-spacing:13.5px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page46-47_278
{
position:absolute;top:-17.65px;left:783.69px;letter-spacing:15.75px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page46-47_279
{
position:absolute;top:-17.65px;left:2756.49px;letter-spacing:16px;-webkit-transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);
}
.s_page46-47_280
{
position:absolute;top:-11.04px;left:106.57px;
}
.s_page46-47_281
{
position:absolute;top:212.72px;left:543.94px;
}
.s_page46-47_282
{
position:absolute;top:212.72px;left:724.35px;letter-spacing:-1.06px;
}
.s_page46-47_283
{
position:absolute;top:212.72px;left:1814.66px;
}
.s_page46-47_284
{
position:absolute;top:212.72px;left:2618.25px;
}
.s_page46-47_285
{
position:absolute;top:212.72px;left:3584.24px;
}
.s_page46-47_286
{
position:absolute;top:212.72px;left:4846.46px;letter-spacing:-0.73px;
}
.s_page46-47_287
{
position:absolute;top:212.72px;left:5555.7px;letter-spacing:-0.52px;
}
.s_page46-47_288
{
position:absolute;top:212.72px;left:6570.41px;
}
.s_page46-47_289
{
position:absolute;top:212.72px;left:7071.89px;letter-spacing:-0.51px;
}
.s_page46-47_290
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page46-47_291
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page46-47_292
{
position:absolute;top:-18px;left:499.43px;letter-spacing:-1.88px;
}
.s_page46-47_293
{
position:absolute;top:-18px;left:1200.7px;
}
.s_page46-47_294
{
position:absolute;top:-18px;left:1448.86px;
}
.s_page46-47_295
{
position:absolute;top:-18px;left:1937.73px;letter-spacing:-0.24px;
}
.s_page46-47_296
{
position:absolute;top:342px;left:0px;
}
.s_page46-47_297
{
position:absolute;top:342px;left:449.03px;
}
.s_page46-47_298
{
position:absolute;top:342px;left:1053.34px;text-rendering:optimizeLegibility;letter-spacing:-0.26px;
}
.s_page46-47_299
{
position:absolute;top:342px;left:2015.25px;letter-spacing:-3.12px;
}
.s_page46-47_300
{
position:absolute;top:342px;left:2334.68px;
}
.s_page46-47_301
{
position:absolute;top:702px;left:0px;letter-spacing:-0.24px;
}
.s_page46-47_302
{
position:absolute;top:702px;left:1063.19px;
}
.s_page46-47_303
{
position:absolute;top:702px;left:1671.1px;letter-spacing:-2.48px;
}
.s_page46-47_304
{
position:absolute;top:702px;left:1951.66px;letter-spacing:-1.64px;
}
.s_page46-47_305
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.74px;
}
.s_page46-47_306
{
position:absolute;top:1062px;left:947.27px;
}
.s_page46-47_307
{
position:absolute;top:1062px;left:1257.34px;
}
.s_page46-47_308
{
position:absolute;top:1062px;left:1676.61px;letter-spacing:-1.09px;
}
.s_page46-47_309
{
position:absolute;top:1422px;left:0px;
}
.s_page46-47_310
{
position:absolute;top:1422px;left:938.38px;
}
.s_page46-47_311
{
position:absolute;top:1422px;left:1787.73px;
}
.s_page46-47_312
{
position:absolute;top:1782px;left:0px;
}
.s_page46-47_313
{
position:absolute;top:1782px;left:672.95px;letter-spacing:-6.99px;
}
.s_page46-47_314
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.56px;
}
.s_page46-47_315
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.34px;
}
.s_page46-47_316
{
position:absolute;top:-18px;left:503.51px;letter-spacing:-0.82px;
}
.s_page46-47_317
{
position:absolute;top:-18px;left:1231.66px;letter-spacing:-0.36px;
}
.s_page46-47_318
{
position:absolute;top:-18px;left:1841.73px;
}
.s_page46-47_319
{
position:absolute;top:-18px;left:2097.09px;letter-spacing:-0.24px;
}
.s_page46-47_320
{
position:absolute;top:342px;left:0px;
}
.s_page46-47_321
{
position:absolute;top:342px;left:630.95px;letter-spacing:-1.68px;
}
.s_page46-47_322
{
position:absolute;top:342px;left:1045.18px;
}
.s_page46-47_323
{
position:absolute;top:342px;left:1464.46px;
}
.s_page46-47_324
{
position:absolute;top:342px;left:1889.01px;letter-spacing:-2.48px;
}
.s_page46-47_325
{
position:absolute;top:342px;left:2169.57px;letter-spacing:-3px;
}
.s_page46-47_326
{
position:absolute;top:702px;left:0px;letter-spacing:-0.44px;
}
.s_page46-47_327
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.2px;
}
.s_page46-47_328
{
position:absolute;top:-18px;left:0px;
}
.s_page46-47_329
{
position:absolute;top:-18px;left:1084.79px;letter-spacing:-3.12px;
}
.s_page46-47_330
{
position:absolute;top:-18px;left:1408.3px;letter-spacing:-0.16px;
}
.s_page46-47_331
{
position:absolute;top:342px;left:0px;letter-spacing:-0.81px;
}
.s_page46-47_332
{
position:absolute;top:342px;left:1153.9px;
}
.s_page46-47_333
{
position:absolute;top:342px;left:1612.29px;letter-spacing:-0.66px;
}
.s_page46-47_334
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_335
{
position:absolute;top:702px;left:918.23px;
}
.s_page46-47_336
{
position:absolute;top:702px;left:1173.58px;letter-spacing:-1.13px;
}
.s_page46-47_337
{
position:absolute;top:702px;left:2094.69px;
}
.s_page46-47_338
{
position:absolute;top:1062px;left:0px;letter-spacing:-3px;
}
.s_page46-47_339
{
position:absolute;top:1062px;left:188.16px;
}
.s_page46-47_340
{
position:absolute;top:1062px;left:584.15px;
}
.s_page46-47_341
{
position:absolute;top:1062px;left:939.1px;letter-spacing:-0.81px;
}
.s_page46-47_342
{
position:absolute;top:1062px;left:1883.49px;letter-spacing:-1.3px;
}
.s_page46-47_343
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.31px;
}
.s_page46-47_344
{
position:absolute;top:1422px;left:853.43px;
}
.s_page46-47_345
{
position:absolute;top:1422px;left:1138.78px;letter-spacing:-0.66px;
}
.s_page46-47_346
{
position:absolute;top:-18px;left:0px;
}
.s_page46-47_347
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.64px;
}
.s_page46-47_348
{
position:absolute;top:-18px;left:214.79px;
}
.s_page46-47_349
{
position:absolute;top:-18px;left:451.91px;letter-spacing:-3px;
}
.s_page46-47_350
{
position:absolute;top:-18px;left:639.35px;
}
.s_page46-47_351
{
position:absolute;top:-18px;left:1458.21px;
}
.s_page46-47_352
{
position:absolute;top:-18px;left:1713.57px;letter-spacing:-1.32px;
}
.s_page46-47_353
{
position:absolute;top:342px;left:0px;
}
.s_page46-47_354
{
position:absolute;top:342px;left:608.15px;
}
.s_page46-47_355
{
position:absolute;top:342px;left:1113.34px;
}
.s_page46-47_356
{
position:absolute;top:342px;left:1350.45px;
}
.s_page46-47_357
{
position:absolute;top:342px;left:2210.84px;letter-spacing:-1.68px;
}
.s_page46-47_358
{
position:absolute;top:342px;left:2629.16px;letter-spacing:-3px;
}
.s_page46-47_359
{
position:absolute;top:702px;left:0px;letter-spacing:-0.31px;
}
.s_page46-47_360
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.92px;
}
.s_page46-47_361
{
position:absolute;top:-18px;left:0px;
}
.s_page46-47_362
{
position:absolute;top:-18px;left:554.63px;letter-spacing:-1.08px;
}
.s_page46-47_363
{
position:absolute;top:-18px;left:1195.9px;
}
.s_page46-47_364
{
position:absolute;top:342px;left:0px;
}
.s_page46-47_365
{
position:absolute;top:342px;left:522.95px;letter-spacing:-0.79px;
}
.s_page46-47_366
{
position:absolute;top:342px;left:1650.45px;
}
.s_page46-47_367
{
position:absolute;top:342px;left:2122.28px;
}
.s_page46-47_368
{
position:absolute;top:702px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.21px;
}
.s_page46-47_369
{
position:absolute;top:702px;left:692.39px;letter-spacing:-2.4px;
}
.s_page46-47_370
{
position:absolute;top:702px;left:1066.54px;letter-spacing:-1.38px;
}
.s_page46-47_371
{
position:absolute;top:702px;left:1476.21px;
}
.s_page46-47_372
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.2px;
}
.s_page46-47_373
{
position:absolute;top:1062px;left:901.67px;letter-spacing:-0.77px;
}
.s_page46-47_374
{
position:absolute;top:1062px;left:1954.06px;
}
.s_page46-47_375
{
position:absolute;top:1422px;left:0px;
}
.s_page46-47_376
{
position:absolute;top:1422px;left:255.36px;
}
.s_page46-47_377
{
position:absolute;top:1422px;left:1203.59px;
}
.s_page46-47_378
{
position:absolute;top:1422px;left:1436.62px;
}
.s_page46-47_379
{
position:absolute;top:1422px;left:1851.33px;letter-spacing:-1.23px;
}
.s_page46-47_380
{
position:absolute;top:1782px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page46-47_381
{
position:absolute;top:1782px;left:497.75px;letter-spacing:-0.37px;
}
.s_page46-47_382
{
position:absolute;top:1782px;left:1911.08px;
}
.s_page46-47_383
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.92px;
}
.s_page46-47_384
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.24px;
}
.s_page46-47_385
{
position:absolute;top:-18px;left:544.79px;letter-spacing:-3.12px;
}
.s_page46-47_386
{
position:absolute;top:-18px;left:868.3px;letter-spacing:-2.67px;
}
.s_page46-47_387
{
position:absolute;top:-18px;left:1662.7px;
}
.s_page46-47_388
{
position:absolute;top:342px;left:0px;letter-spacing:-2.28px;
}
.s_page46-47_389
{
position:absolute;top:342px;left:1134.71px;letter-spacing:-0.9px;
}
.s_page46-47_390
{
position:absolute;top:342px;left:1978.54px;
}
.s_page46-47_391
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_392
{
position:absolute;top:702px;left:790.31px;
}
.s_page46-47_393
{
position:absolute;top:702px;left:1123.18px;letter-spacing:-0.26px;
}
.s_page46-47_394
{
position:absolute;top:702px;left:2165.73px;letter-spacing:-2.4px;
}
.s_page46-47_395
{
position:absolute;top:1062px;left:0px;
}
.s_page46-47_396
{
position:absolute;top:1062px;left:319.19px;letter-spacing:-0.88px;
}
.s_page46-47_397
{
position:absolute;top:1062px;left:985.42px;
}
.s_page46-47_398
{
position:absolute;top:1062px;left:1323.34px;
}
.s_page46-47_399
{
position:absolute;top:1062px;left:1695.33px;letter-spacing:-0.96px;
}
.s_page46-47_400
{
position:absolute;top:1062px;left:2265.8px;
}
.s_page46-47_401
{
position:absolute;top:1422px;left:0px;letter-spacing:-0.81px;
}
.s_page46-47_402
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.92px;
}
.s_page46-47_403
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page46-47_404
{
position:absolute;top:-18px;left:464.4px;letter-spacing:-1.13px;
}
.s_page46-47_405
{
position:absolute;top:342px;left:0px;letter-spacing:-0.6px;
}
.s_page46-47_406
{
position:absolute;top:342px;left:632.87px;letter-spacing:-0.16px;
}
.s_page46-47_407
{
position:absolute;top:702px;left:0px;
}
.s_page46-47_408
{
position:absolute;top:702px;left:449.03px;letter-spacing:-0.72px;
}
.s_page46-47_409
{
position:absolute;top:1062px;left:0px;
}
.s_page46-47_410
{
position:absolute;top:1062px;left:255.36px;letter-spacing:-1.3px;
}
.s_page46-47_411
{
position:absolute;top:1062px;left:883.67px;
}
.s_page46-47_412
{
position:absolute;top:1422px;left:0px;
}
.s_page46-47_413
{
position:absolute;top:1422px;left:460.79px;text-rendering:optimizeLegibility;
}
.s_page46-47_414
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.84px;
}
.s_page46-47_415
{
position:absolute;top:-18px;left:654.47px;letter-spacing:-3.91px;
}
.s_page46-47_416
{
position:absolute;top:-18px;left:2540px;letter-spacing:-2px;
}
.s_page46-47_417
{
position:absolute;top:-18px;left:2862.32px;letter-spacing:-0.41px;
}
.s_page46-47_418
{
position:absolute;top:-18px;left:3556.15px;letter-spacing:-0.58px;
}
.s_page46-47_419
{
position:absolute;top:342px;left:0px;letter-spacing:-3.21px;
}
.s_page46-47_420
{
position:absolute;top:342px;left:861.11px;letter-spacing:-4.8px;
}
.s_page46-47_421
{
position:absolute;top:342px;left:2540px;letter-spacing:-0.29px;
}
.s_page46-47_422
{
position:absolute;top:342px;left:3031.75px;
}
.s_page46-47_423
{
position:absolute;top:342px;left:3294.54px;
}
.s_page46-47_424
{
position:absolute;top:702px;left:0px;letter-spacing:-0.93px;
}
.s_page46-47_425
{
position:absolute;top:702px;left:2540px;
}
.s_page46-47_426
{
position:absolute;top:702px;left:3359.58px;
}
.s_page46-47_427
{
position:absolute;top:-12.32px;left:0px;
}
.s_page46-47_428
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page46-47_429
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page46-47_430
{
position:absolute;top:-5.54px;left:129.53px;
}

#text1{
	position: absolute;
	top: 753px;
	left: 393px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 737px;
	left: 393px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 705px;
	left: 393px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 722px;
	left: 393px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 771px;
	left: 393px;
	cursor:pointer;
}

#text6{
	position: absolute;
	top: 747px;
	left: 425px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 730px;
	left: 298px;
	cursor:pointer;
}
#text8{
	position:absolute;
	top: 747px;
	left: 298px;
	cursor:pointer;
}
#text9{
	position:absolute;
	top: 730px;
	left: 425px;
	cursor:pointer;
}
#text10{
	position:absolute;
	top: 711px;
	left: 298px;
	cursor:pointer;
}
#text11{
	position:absolute;
	top: 711px;
	left: 426px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 340px;
	left: 114px;
    width: 135px;
    height: 31px;
}
#box2{
	position:absolute;
	top: 333px;
	left: 299px;
    width: 228px;
    height: 35px;
}
#box3{
	position:absolute;
	top: 613px;
	left: 60px;
    width: 134px;
    height: 36px;
}
#box4{
	position:absolute;
	top: 613px;
	left: 229px;
    width: 134px;
    height: 36px;
}
#box5{
	position:absolute;
	top: 613px;
	left: 400px;
    width: 134px;
    height: 36px;
}

#box6{
	position:absolute;
	top: 216px;
	left: 58px;
	width: 146px;
	height: 29px;
}
#box7{
	position:absolute;
	top: 215px;
	left: 228px;
	width: 146px;
	height: 29px;
}
#box8{
	position:absolute;
	top: 216px;
	left: 395px;
	width: 146px;
	height: 29px;
}
#box9{
	position:absolute;
	top: 523px;
	left: 56px;
	width: 145px;
	height: 31px;
}
#box10{
	position:absolute;
	top: 523px;
	left: 227px;
	width: 145px;
	height: 31px;
}
#box11{
	position:absolute;
	top: 523px;
	left: 395px;
	width: 145px;
	height: 31px;
}


.p46_input_text1 {
	text-align: center;
	display: none;
	vertical-align: middle;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	line-height: 30px;
	margin-top: 2px;
}
.p46_input_text2 {
	text-align: center;
	display: none;
	line-height: 30px;
	vertical-align: middle;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page47_btn1 {
	position:absolute;
	top: 797px;
	left: 278px;
}
.page46_btn1 {
	position:absolute;
	top: 797px;
	left: 258px;
}
.position_46 {
	position: absolute;
	top: 662px;
	left: 174px;
}
.position_47 {
	position: absolute;
	top: 652px;
	left: 52px;
}
.text_p46{
    font-family: "Cabrito_Sans_Norm_Book", sans-serif;	font-weight: normal;
	font-style: normal;
	font-size: 12px;
	cursor: pointer;
	white-space : nowrap;
	line-height: 27px;
}
