.d_page12-13_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page12-13_2
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page12-13_3
{
width:2829.6px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_4
{
width:9864.57px;height:847.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page12-13_5
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page12-13_6
{
width:2289.6px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_7
{
width:2687.79px;height:2267.06px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_8
{
width:273.6px;height:273.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);
}
.d_page12-13_9
{
width:2829.6px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_10
{
width:273.6px;height:273.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);
}
.d_page12-13_11
{
width:273.6px;height:273.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);
}
.d_page12-13_12
{
width:2289.6px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_13
{
width:273.6px;height:273.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);
}
.d_page12-13_14
{
width:273.6px;height:273.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);
}
.d_page12-13_15
{
width:2289.6px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_16
{
width:273.6px;height:273.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.67px) rotate(0deg) scale(0.05);
}
.d_page12-13_17
{
width:2289.6px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_18
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page12-13_19
{
width:3397.58px;height:1745.81px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_20
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page12-13_21
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.d_page12-13_22
{
width:7368.35px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_23
{
width:2289.6px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_24
{
width:412px;height:412px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page12-13_25
{
width:9864.57px;height:767.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page12-13_26
{
width:437.84px;height:494.91px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page12-13_27
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page12-13_28
{
width:3727.24px;height:2897.52px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_29
{
width:2416.8px;height:1209.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_30
{
width:412px;height:412px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page12-13_31
{
width:2793.6px;height:1045.79px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_32
{
width:412px;height:412px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page12-13_33
{
width:2930.4px;height:1045.79px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_34
{
width:412px;height:412px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page12-13_35
{
width:2937.6px;height:1045.79px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_36
{
width:412px;height:412px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page12-13_37
{
width:2736px;height:1045.79px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page12-13_38
{
width:412px;height:412px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(1px,1px) rotate(0deg) scale(0.05);-webkit-transform: translate(1px,1px) rotate(0deg) scale(0.05);-moz-transform: translate(1px,1px) rotate(0deg) scale(0.05);-ms-transform: translate(1px,1px) rotate(0deg) scale(0.05);-o-transform: translate(1px,1px) rotate(0deg) scale(0.05);
}
.d_page12-13_39
{
width:2059.2px;height:2592px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.s_page12-13_40
{
position:absolute;top:-11.04px;left:152.65px;
}
.s_page12-13_41
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page12-13_42
{
position:absolute;top:-18px;left:993.58px;letter-spacing:-3.44px;
}
.s_page12-13_43
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_44
{
position:absolute;top:413.09px;left:881.02px;letter-spacing:-0.87px;
}
.s_page12-13_45
{
position:absolute;top:413.09px;left:2225.49px;
}
.s_page12-13_46
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.11px;
}
.s_page12-13_47
{
position:absolute;top:844.18px;left:937.67px;
}
.s_page12-13_48
{
position:absolute;top:844.18px;left:1254.46px;
}
.s_page12-13_49
{
position:absolute;top:844.18px;left:1720.3px;letter-spacing:-1.65px;
}
.s_page12-13_50
{
position:absolute;top:92.72px;left:543.94px;
}
.s_page12-13_51
{
position:absolute;top:92.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page12-13_52
{
position:absolute;top:92.72px;left:1750.26px;
}
.s_page12-13_53
{
position:absolute;top:92.72px;left:2252.86px;
}
.s_page12-13_54
{
position:absolute;top:92.72px;left:3438.65px;letter-spacing:-0.33px;
}
.s_page12-13_55
{
position:absolute;top:92.72px;left:4886.23px;letter-spacing:0px;
}
.s_page12-13_56
{
position:absolute;top:92.72px;left:5446.51px;
}
.s_page12-13_57
{
position:absolute;top:92.72px;left:6211.74px;letter-spacing:-1.03px;
}
.s_page12-13_58
{
position:absolute;top:92.72px;left:6901.09px;
}
.s_page12-13_59
{
position:absolute;top:92.72px;left:7843.84px;
}
.s_page12-13_60
{
position:absolute;top:92.72px;left:8144.56px;
}
.s_page12-13_61
{
position:absolute;top:92.72px;left:8647.16px;
}
.s_page12-13_62
{
position:absolute;top:492.72px;left:659.95px;letter-spacing:-0.4px;
}
.s_page12-13_63
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page12-13_64
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page12-13_65
{
position:absolute;top:-18px;left:993.58px;letter-spacing:-0.29px;
}
.s_page12-13_66
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_67
{
position:absolute;top:413.09px;left:881.02px;letter-spacing:-0.44px;
}
.s_page12-13_68
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.11px;
}
.s_page12-13_69
{
position:absolute;top:844.18px;left:917.04px;
}
.s_page12-13_70
{
position:absolute;top:844.18px;left:1213.21px;letter-spacing:-1.68px;
}
.s_page12-13_71
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.75px;
}
.s_page12-13_72
{
position:absolute;top:-18px;left:963.59px;letter-spacing:-3.46px;
}
.s_page12-13_73
{
position:absolute;top:398.69px;left:0px;letter-spacing:-0.9px;
}
.s_page12-13_74
{
position:absolute;top:398.69px;left:337.91px;letter-spacing:-0.87px;
}
.s_page12-13_75
{
position:absolute;top:398.69px;left:1080.46px;
}
.s_page12-13_76
{
position:absolute;top:815.38px;left:0px;letter-spacing:-0.24px;
}
.s_page12-13_77
{
position:absolute;top:815.38px;left:1409.03px;letter-spacing:-3.9px;
}
.s_page12-13_78
{
position:absolute;top:1232.08px;left:0px;letter-spacing:-0.57px;
}
.s_page12-13_79
{
position:absolute;top:1232.08px;left:951.83px;
}
.s_page12-13_80
{
position:absolute;top:1648.77px;left:0px;text-rendering:optimizeLegibility;letter-spacing:-0.58px;
}
.s_page12-13_81
{
position:absolute;top:1648.77px;left:584.39px;letter-spacing:-7.73px;
}
.s_page12-13_82
{
position:absolute;top:2065.46px;left:0px;letter-spacing:-0.21px;
}
.s_page12-13_83
{
position:absolute;top:2065.46px;left:837.59px;
}
.s_page12-13_84
{
position:absolute;top:2065.46px;left:1427.98px;letter-spacing:-0.24px;
}
.s_page12-13_85
{
position:absolute;top:49.56px;left:51.84px;
}
.s_page12-13_86
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page12-13_87
{
position:absolute;top:-18px;left:993.58px;letter-spacing:-1.24px;
}
.s_page12-13_88
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_89
{
position:absolute;top:413.09px;left:881.02px;letter-spacing:-1.36px;
}
.s_page12-13_90
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.11px;
}
.s_page12-13_91
{
position:absolute;top:844.18px;left:937.67px;
}
.s_page12-13_92
{
position:absolute;top:844.18px;left:1254.46px;letter-spacing:-1.36px;
}
.s_page12-13_93
{
position:absolute;top:49.56px;left:51.84px;
}
.s_page12-13_94
{
position:absolute;top:49.56px;left:51.84px;
}
.s_page12-13_95
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page12-13_96
{
position:absolute;top:-18px;left:1058.86px;letter-spacing:-1.4px;
}
.s_page12-13_97
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_98
{
position:absolute;top:413.09px;left:881.02px;
}
.s_page12-13_99
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.11px;
}
.s_page12-13_100
{
position:absolute;top:844.18px;left:937.67px;
}
.s_page12-13_101
{
position:absolute;top:844.18px;left:1254.46px;letter-spacing:-0.65px;
}
.s_page12-13_102
{
position:absolute;top:49.56px;left:51.84px;
}
.s_page12-13_103
{
position:absolute;top:49.56px;left:51.84px;
}
.s_page12-13_104
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page12-13_105
{
position:absolute;top:-18px;left:993.58px;letter-spacing:-1.2px;
}
.s_page12-13_106
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_107
{
position:absolute;top:413.09px;left:881.02px;letter-spacing:-1.32px;
}
.s_page12-13_108
{
position:absolute;top:413.09px;left:1439.5px;
}
.s_page12-13_109
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.11px;
}
.s_page12-13_110
{
position:absolute;top:844.18px;left:937.67px;
}
.s_page12-13_111
{
position:absolute;top:844.18px;left:1248.23px;letter-spacing:-1.27px;
}
.s_page12-13_112
{
position:absolute;top:49.56px;left:51.84px;
}
.s_page12-13_113
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.67px;
}
.s_page12-13_114
{
position:absolute;top:-18px;left:993.58px;letter-spacing:-2.48px;
}
.s_page12-13_115
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_116
{
position:absolute;top:413.09px;left:881.02px;letter-spacing:-0.58px;
}
.s_page12-13_117
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.11px;
}
.s_page12-13_118
{
position:absolute;top:844.18px;left:937.67px;
}
.s_page12-13_119
{
position:absolute;top:844.18px;left:1254.46px;letter-spacing:-0.58px;
}
.s_page12-13_120
{
position:absolute;top:-12.32px;left:0px;
}
.s_page12-13_121
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page12-13_122
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page12-13_123
{
position:absolute;top:-18px;left:0px;
}
.s_page12-13_124
{
position:absolute;top:-18px;left:465.83px;letter-spacing:-0.38px;
}
.s_page12-13_125
{
position:absolute;top:-18px;left:1298.39px;
}
.s_page12-13_126
{
position:absolute;top:-18px;left:1535.5px;letter-spacing:-3px;
}
.s_page12-13_127
{
position:absolute;top:-18px;left:1727.02px;
}
.s_page12-13_128
{
position:absolute;top:342px;left:0px;letter-spacing:-0.12px;
}
.s_page12-13_129
{
position:absolute;top:342px;left:1426.3px;
}
.s_page12-13_130
{
position:absolute;top:342px;left:2168.37px;
}
.s_page12-13_131
{
position:absolute;top:702px;left:0px;letter-spacing:-1.75px;
}
.s_page12-13_132
{
position:absolute;top:702px;left:577.19px;letter-spacing:-1.95px;
}
.s_page12-13_133
{
position:absolute;top:702px;left:1574.14px;
}
.s_page12-13_134
{
position:absolute;top:702px;left:1829.49px;
}
.s_page12-13_135
{
position:absolute;top:702px;left:2233.16px;
}
.s_page12-13_136
{
position:absolute;top:702px;left:2499.79px;
}
.s_page12-13_137
{
position:absolute;top:702px;left:2623.87px;
}
.s_page12-13_138
{
position:absolute;top:702px;left:2830.74px;
}
.s_page12-13_139
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.83px;
}
.s_page12-13_140
{
position:absolute;top:1062px;left:1258.55px;
}
.s_page12-13_141
{
position:absolute;top:1062px;left:1547.98px;
}
.s_page12-13_142
{
position:absolute;top:1062px;left:1880.61px;
}
.s_page12-13_143
{
position:absolute;top:1062px;left:2295.32px;letter-spacing:-1.23px;
}
.s_page12-13_144
{
position:absolute;top:1422px;left:0px;
}
.s_page12-13_145
{
position:absolute;top:1422px;left:733.43px;letter-spacing:-0.72px;
}
.s_page12-13_146
{
position:absolute;top:-5.54px;left:159.61px;
}
.s_page12-13_147
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.18px;
}
.s_page12-13_148
{
position:absolute;top:-18px;left:1236.69px;letter-spacing:-1.28px;
}
.s_page12-13_149
{
position:absolute;top:-18px;left:2698.99px;letter-spacing:-0.96px;
}
.s_page12-13_150
{
position:absolute;top:-18px;left:3843.77px;letter-spacing:-0.24px;
}
.s_page12-13_151
{
position:absolute;top:-18px;left:4881.51px;letter-spacing:-1.68px;
}
.s_page12-13_152
{
position:absolute;top:-18px;left:6121.56px;letter-spacing:-0.48px;
}
.s_page12-13_153
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.47px;
}
.s_page12-13_154
{
position:absolute;top:-18px;left:926.39px;
}
.s_page12-13_155
{
position:absolute;top:-18px;left:1124.62px;letter-spacing:-0.24px;
}
.s_page12-13_156
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_157
{
position:absolute;top:413.09px;left:819.58px;
}
.s_page12-13_158
{
position:absolute;top:413.09px;left:1011.1px;letter-spacing:-0.24px;
}
.s_page12-13_159
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.76px;
}
.s_page12-13_160
{
position:absolute;top:844.18px;left:1048.55px;
}
.s_page12-13_161
{
position:absolute;top:844.18px;left:1246.78px;letter-spacing:-0.36px;
}
.s_page12-13_162
{
position:absolute;top:118.76px;left:105.04px;
}
.s_page12-13_163
{
position:absolute;top:132.72px;left:577.84px;
}
.s_page12-13_164
{
position:absolute;top:132.72px;left:659.95px;letter-spacing:-1.63px;
}
.s_page12-13_165
{
position:absolute;top:132.72px;left:1463.55px;
}
.s_page12-13_166
{
position:absolute;top:132.72px;left:1966.15px;text-rendering:optimizeLegibility;letter-spacing:-0.28px;
}
.s_page12-13_167
{
position:absolute;top:132.72px;left:2920.37px;
}
.s_page12-13_168
{
position:absolute;top:132.72px;left:4353.67px;letter-spacing:-2.8px;
}
.s_page12-13_169
{
position:absolute;top:132.72px;left:4686.59px;letter-spacing:0px;
}
.s_page12-13_170
{
position:absolute;top:132.72px;left:5189.19px;letter-spacing:-0.59px;
}
.s_page12-13_171
{
position:absolute;top:132.72px;left:6481.94px;
}
.s_page12-13_172
{
position:absolute;top:132.72px;left:7796.52px;
}
.s_page12-13_173
{
position:absolute;top:132.72px;left:8097.24px;
}
.s_page12-13_174
{
position:absolute;top:132.72px;left:8599.83px;
}
.s_page12-13_175
{
position:absolute;top:532.72px;left:659.95px;letter-spacing:-0.36px;
}
.s_page12-13_176
{
position:absolute;top:532.72px;left:1977.34px;
}
.s_page12-13_177
{
position:absolute;top:532.72px;left:3024.53px;letter-spacing:-2.24px;
}
.s_page12-13_178
{
position:absolute;top:532.72px;left:3700.45px;letter-spacing:-0.59px;
}
.s_page12-13_179
{
position:absolute;top:532.72px;left:4886.8px;letter-spacing:-0.73px;
}
.s_page12-13_180
{
position:absolute;top:532.72px;left:5594.91px;
}
.s_page12-13_181
{
position:absolute;top:532.72px;left:6097.51px;
}
.s_page12-13_182
{
position:absolute;top:532.72px;left:6728.06px;
}
.s_page12-13_183
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page12-13_184
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page12-13_185
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page12-13_186
{
position:absolute;top:-18px;left:0px;letter-spacing:-1px;
}
.s_page12-13_187
{
position:absolute;top:-18px;left:586.07px;
}
.s_page12-13_188
{
position:absolute;top:-18px;left:1035.11px;
}
.s_page12-13_189
{
position:absolute;top:-18px;left:1345.18px;
}
.s_page12-13_190
{
position:absolute;top:342px;left:0px;
}
.s_page12-13_191
{
position:absolute;top:342px;left:505.19px;letter-spacing:-1.62px;
}
.s_page12-13_192
{
position:absolute;top:342px;left:924.7px;letter-spacing:-0.83px;
}
.s_page12-13_193
{
position:absolute;top:342px;left:2186.85px;letter-spacing:-3.12px;
}
.s_page12-13_194
{
position:absolute;top:342px;left:2506.28px;
}
.s_page12-13_195
{
position:absolute;top:702px;left:0px;letter-spacing:-0.2px;
}
.s_page12-13_196
{
position:absolute;top:702px;left:1351.42px;letter-spacing:-2.48px;
}
.s_page12-13_197
{
position:absolute;top:702px;left:1631.98px;
}
.s_page12-13_198
{
position:absolute;top:702px;left:2273.72px;letter-spacing:-1.36px;
}
.s_page12-13_199
{
position:absolute;top:702px;left:2960.12px;letter-spacing:-1.62px;
}
.s_page12-13_200
{
position:absolute;top:1062px;left:0px;letter-spacing:-0.96px;
}
.s_page12-13_201
{
position:absolute;top:1062px;left:845.5px;
}
.s_page12-13_202
{
position:absolute;top:1062px;left:1746.45px;
}
.s_page12-13_203
{
position:absolute;top:1062px;left:2251.64px;letter-spacing:-1.62px;
}
.s_page12-13_204
{
position:absolute;top:1062px;left:2671.15px;
}
.s_page12-13_205
{
position:absolute;top:1422px;left:0px;letter-spacing:-1.2px;
}
.s_page12-13_206
{
position:absolute;top:1422px;left:831.83px;
}
.s_page12-13_207
{
position:absolute;top:1422px;left:1554.22px;
}
.s_page12-13_208
{
position:absolute;top:1422px;left:1973.49px;letter-spacing:-1.6px;
}
.s_page12-13_209
{
position:absolute;top:1422px;left:2921.71px;letter-spacing:-0.21px;
}
.s_page12-13_210
{
position:absolute;top:1782px;left:0px;letter-spacing:-1.08px;
}
.s_page12-13_211
{
position:absolute;top:1782px;left:641.27px;
}
.s_page12-13_212
{
position:absolute;top:1782px;left:977.98px;
}
.s_page12-13_213
{
position:absolute;top:1782px;left:1436.85px;
}
.s_page12-13_214
{
position:absolute;top:1782px;left:1907.48px;
}
.s_page12-13_215
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.59px;
}
.s_page12-13_216
{
position:absolute;top:2142px;left:1278.22px;
}
.s_page12-13_217
{
position:absolute;top:2142px;left:1697.49px;letter-spacing:-0.83px;
}
.s_page12-13_218
{
position:absolute;top:2142px;left:2710.04px;letter-spacing:-1.98px;
}
.s_page12-13_219
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.47px;
}
.s_page12-13_220
{
position:absolute;top:-18px;left:907.8px;
}
.s_page12-13_221
{
position:absolute;top:-18px;left:1087.45px;letter-spacing:-0.22px;
}
.s_page12-13_222
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_223
{
position:absolute;top:413.09px;left:819.58px;
}
.s_page12-13_224
{
position:absolute;top:413.09px;left:1010.62px;letter-spacing:-0.8px;
}
.s_page12-13_225
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.76px;
}
.s_page12-13_226
{
position:absolute;top:844.18px;left:1048.55px;
}
.s_page12-13_227
{
position:absolute;top:844.18px;left:1246.78px;letter-spacing:-2.58px;
}
.s_page12-13_228
{
position:absolute;top:118.76px;left:105.04px;
}
.s_page12-13_229
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.47px;
}
.s_page12-13_230
{
position:absolute;top:-18px;left:926.39px;letter-spacing:-0.72px;
}
.s_page12-13_231
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_232
{
position:absolute;top:413.09px;left:819.58px;
}
.s_page12-13_233
{
position:absolute;top:413.09px;left:1011.58px;letter-spacing:-0.37px;
}
.s_page12-13_234
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.76px;
}
.s_page12-13_235
{
position:absolute;top:844.18px;left:1048.55px;
}
.s_page12-13_236
{
position:absolute;top:844.18px;left:1246.78px;letter-spacing:-0.39px;
}
.s_page12-13_237
{
position:absolute;top:844.18px;left:1961.73px;letter-spacing:-0.24px;
}
.s_page12-13_238
{
position:absolute;top:118.76px;left:105.04px;
}
.s_page12-13_239
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.47px;
}
.s_page12-13_240
{
position:absolute;top:-18px;left:926.39px;
}
.s_page12-13_241
{
position:absolute;top:-18px;left:1117.42px;letter-spacing:-1.63px;
}
.s_page12-13_242
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_243
{
position:absolute;top:413.09px;left:819.58px;
}
.s_page12-13_244
{
position:absolute;top:413.09px;left:1017.82px;letter-spacing:-0.21px;
}
.s_page12-13_245
{
position:absolute;top:413.09px;left:1880.61px;letter-spacing:-1.3px;
}
.s_page12-13_246
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.76px;
}
.s_page12-13_247
{
position:absolute;top:844.18px;left:1048.55px;
}
.s_page12-13_248
{
position:absolute;top:844.18px;left:1239.58px;letter-spacing:-0.86px;
}
.s_page12-13_249
{
position:absolute;top:844.18px;left:2357.24px;letter-spacing:-1.2px;
}
.s_page12-13_250
{
position:absolute;top:118.76px;left:105.04px;
}
.s_page12-13_251
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.47px;
}
.s_page12-13_252
{
position:absolute;top:-18px;left:926.39px;
}
.s_page12-13_253
{
position:absolute;top:-18px;left:1124.62px;letter-spacing:-3.55px;
}
.s_page12-13_254
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_255
{
position:absolute;top:413.09px;left:819.58px;
}
.s_page12-13_256
{
position:absolute;top:413.09px;left:1017.82px;letter-spacing:-1.3px;
}
.s_page12-13_257
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.76px;
}
.s_page12-13_258
{
position:absolute;top:844.18px;left:1048.55px;
}
.s_page12-13_259
{
position:absolute;top:844.18px;left:1246.78px;letter-spacing:-1.68px;
}
.s_page12-13_260
{
position:absolute;top:844.18px;left:2117.01px;letter-spacing:-0.18px;
}
.s_page12-13_261
{
position:absolute;top:118.76px;left:105.04px;
}
.s_page12-13_262
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.47px;
}
.s_page12-13_263
{
position:absolute;top:-18px;left:926.39px;
}
.s_page12-13_264
{
position:absolute;top:-18px;left:1124.62px;letter-spacing:-0.24px;
}
.s_page12-13_265
{
position:absolute;top:413.09px;left:0px;
}
.s_page12-13_266
{
position:absolute;top:413.09px;left:819.58px;
}
.s_page12-13_267
{
position:absolute;top:413.09px;left:1017.82px;letter-spacing:-0.93px;
}
.s_page12-13_268
{
position:absolute;top:844.18px;left:0px;letter-spacing:-1.76px;
}
.s_page12-13_269
{
position:absolute;top:844.18px;left:1048.55px;letter-spacing:-0.31px;
}
.s_page12-13_270
{
position:absolute;top:844.18px;left:2169.09px;letter-spacing:-1.02px;
}
.s_page12-13_271
{
position:absolute;top:118.76px;left:105.04px;
}
.s_page12-13_272
{
position:absolute;top:-18px;left:176.05px;
}
.s_page12-13_273
{
position:absolute;top:-18px;left:306.37px;letter-spacing:-1.87px;
}
.s_page12-13_274
{
position:absolute;top:-18px;left:880.68px;
}
.s_page12-13_275
{
position:absolute;top:-18px;left:1339.07px;
}
.s_page12-13_276
{
position:absolute;top:342px;left:272.54px;letter-spacing:-1.44px;
}
.s_page12-13_277
{
position:absolute;top:342px;left:829.33px;
}
.s_page12-13_278
{
position:absolute;top:342px;left:1114.68px;letter-spacing:-1.17px;
}
.s_page12-13_279
{
position:absolute;top:702px;left:123.49px;
}
.s_page12-13_280
{
position:absolute;top:702px;left:454.92px;letter-spacing:-3px;
}
.s_page12-13_281
{
position:absolute;top:702px;left:646.44px;letter-spacing:-0.93px;
}
.s_page12-13_282
{
position:absolute;top:702px;left:1327.31px;letter-spacing:-2.48px;
}
.s_page12-13_283
{
position:absolute;top:702px;left:1607.87px;letter-spacing:-2.8px;
}
.s_page12-13_284
{
position:absolute;top:1062px;left:193.33px;letter-spacing:-0.22px;
}
.s_page12-13_285
{
position:absolute;top:1062px;left:1538.03px;letter-spacing:-2.8px;
}
.s_page12-13_286
{
position:absolute;top:1422px;left:21.02px;
}
.s_page12-13_287
{
position:absolute;top:1422px;left:1050.12px;
}
.s_page12-13_288
{
position:absolute;top:1422px;left:1499.15px;
}
.s_page12-13_289
{
position:absolute;top:1782px;left:132.02px;
}
.s_page12-13_290
{
position:absolute;top:1782px;left:1151.28px;
}
.s_page12-13_291
{
position:absolute;top:1782px;left:1403.28px;letter-spacing:-1.64px;
}
.s_page12-13_292
{
position:absolute;top:2142px;left:2.41px;text-rendering:optimizeLegibility;letter-spacing:-1.2px;
}
.s_page12-13_293
{
position:absolute;top:2142px;left:985.92px;letter-spacing:-0.41px;
}

#text1{
	position: absolute;
	top: 499px;
	left: 251px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 520px;
	left: 251px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 541px;
	left: 251px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 562px;
	left: 252px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 582px;
	left: 251px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 603px;
	left: 251px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 173px;
	left: 285px;
	width: 114px;
	height: 21px;
}
#box2{
	position:absolute;
	top: 352px;
	left: 421px;
	width: 114px;
	height: 23px;
}
#box3{
	position:absolute;
	top: 487px;
	left: 59px;
	width: 115px;
	height: 22px;
}
#box4{
	position:absolute;
	top: 417px;
	left: 234px;
	width: 136px;
	height: 21px;
}
#box5{
	position:absolute;
	top: 640px;
	left: 420px;
	width: 114px;
	height: 22px;
}
#box6{
	position:absolute;
	top: 747px;
	left: 58px;
	width: 137px;
	height: 21px;
}

#text7{
	position: absolute;
	top: 551px;
	left: 103px;
	cursor:pointer;
}
#text8{
	position:absolute;
	top: 551px;
	left: 165px;
	cursor:pointer;
}
#text9{
	position:absolute;
	top: 551px;
	left: 238px;
	cursor:pointer;
}
#text10{
	position:absolute;
	top: 551px;
	left: 295px;
	cursor:pointer;
}
#text11{
	position:absolute;
	top: 551px;
	left: 347px;
	cursor:pointer;
}
#text12{
	position:absolute;
	top: 551px;
	left: 409px;
	cursor:pointer;
}

#box7{
	position:absolute;
	top: 262px;
	left: 70px;
	width: 114px;
	height: 21px;
}
#box8{
	position:absolute;
	top: 261px;
	left: 241px;
	width: 114px;
	height: 23px;
}
#box9{
	position:absolute;
	top: 262px;
	left: 410px;
	width: 115px;
	height: 22px;
}
#box10{
	position:absolute;
	top: 467px;
	left: 81px;
	width: 113px;
	height: 21px;
}
#box11{
	position:absolute;
	top: 466px;
	left: 242px;
	width: 114px;
	height: 22px;
}
#box12{
	position:absolute;
	top: 466px;
	left: 411px;
	width: 114px;
	height: 21px;
}
.p12_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 6px;
	line-height: 9px;
}
.p13_input_text1 {
	display: none;
	text-align: center;
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 6px;
	line-height: 10px;
}
.page12_btn1 {
	position:absolute;
	top: 797px;
	left: 269px;
}
.page13_btn1 {
	position:absolute;
	top: 797px;
	left: 269px;
}

.position_12 {
	position:absolute;
	top: 647px;
	left: 353px;
}
