.d_page01_1
{position:absolute;overflow:hidden;left: -297.36px;top:0px;-webkit-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);transform:translate(595.28px,0.00px);width:595.28px;height:841.89px;}
