.d_page62-63_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page62-63_2
{
width:3849.36px;height:479.51px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);-o-transform: translate(0px,6.8px) rotate(0deg) scale(0.05);
}
.d_page62-63_3
{
width:9864.51px;height:9464.08px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page62-63_4
{
width:481.04px;height:594.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page62-63_5
{
width:1793.59px;height:2703.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_6
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page62-63_7
{
width:9086.4px;height:1615.4px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_8
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.36px) rotate(0deg) scale(0.05);
}
.d_page62-63_9
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page62-63_10
{
width:3064.84px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.91px) rotate(0deg) scale(0.05);
}
.d_page62-63_11
{
width:9100.63px;height:1412px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_12
{
width:5293.58px;height:447.93px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,10.37px) rotate(0deg) scale(0.05);
}
.d_page62-63_13
{
width:305.76px;height:432px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);-o-transform: translate(0px,1.37px) rotate(0deg) scale(0.05);
}
.d_page62-63_14
{
width:2732.33px;height:183.6px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_15
{
width:2650.39px;height:313.43px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_16
{
width:2738.39px;height:184.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_17
{
width:2618.52px;height:184.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_18
{
width:2622.13px;height:184.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_19
{
width:2738.39px;height:184.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_20
{
width:2618.52px;height:184.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_21
{
width:2622.13px;height:184.01px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_22
{
width:3024.71px;height:1433.68px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_23
{
width:1587.4px;height:551.7px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);
}
.d_page62-63_24
{
width:1088.5px;height:843px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);-o-transform: translate(0px,2.7px) rotate(0deg) scale(0.05);
}
.d_page62-63_25
{
width:5285.48px;height:2362.48px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page62-63_26
{
width:1884.76px;height:288px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);-o-transform: translate(0px,7.55px) rotate(0deg) scale(0.05);
}
.d_page62-63_27
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.09px) rotate(0deg) scale(0.05);
}
.s_page62-63_28
{
position:absolute;top:-17.65px;left:0px;letter-spacing:13.5px;transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page62-63_29
{
position:absolute;top:-17.65px;left:765.65px;letter-spacing:12px;transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page62-63_30
{
position:absolute;top:-17.65px;left:1581.23px;letter-spacing:9px;transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page62-63_31
{
position:absolute;top:-17.65px;left:2067.21px;letter-spacing:14.4px;transform-origin: 0% 497.16px;-webkit-transform-origin: 0% 497.16px;-moz-transform-origin: 0% 497.16px;-ms-transform-origin: 0% 497.16px;-o-transform-origin: 0% 497.16px;transform:matrix(0.84,0,0,1,0,0);-webkit-transform:matrix(0.84,0,0,1,0,0);-moz-transform:matrix(0.84,0,0,1,0,0);-ms-transform:matrix(0.84,0,0,1,0,0);-o-transform:matrix(0.84,0,0,1,0,0);
}
.s_page62-63_32
{
position:absolute;top:248.09px;left:616.04px;
}
.s_page62-63_33
{
position:absolute;top:248.09px;left:659.95px;letter-spacing:-0.67px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_34
{
position:absolute;top:248.09px;left:1393.69px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_35
{
position:absolute;top:248.09px;left:1891.26px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_36
{
position:absolute;top:248.09px;left:3214.87px;letter-spacing:-0.84px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_37
{
position:absolute;top:248.09px;left:3987.14px;letter-spacing:-1.56px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_38
{
position:absolute;top:248.09px;left:4908.82px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_39
{
position:absolute;top:248.09px;left:5428.84px;letter-spacing:-2.1px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_40
{
position:absolute;top:248.09px;left:5648.1px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_41
{
position:absolute;top:248.09px;left:6188.36px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_42
{
position:absolute;top:254.77px;left:6284.82px;letter-spacing:0px;transform-origin: 0% 228.53px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_43
{
position:absolute;top:248.09px;left:6497.05px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_44
{
position:absolute;top:248.09px;left:6657.27px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_45
{
position:absolute;top:248.09px;left:7695.92px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_46
{
position:absolute;top:248.09px;left:8193.49px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_47
{
position:absolute;top:248.09px;left:8885.37px;letter-spacing:-0.28px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_48
{
position:absolute;top:648.09px;left:659.95px;letter-spacing:-0.62px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_49
{
position:absolute;top:648.09px;left:1425.57px;letter-spacing:-2.1px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_50
{
position:absolute;top:648.09px;left:1644.83px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_51
{
position:absolute;top:648.09px;left:2142.4px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_52
{
position:absolute;top:648.09px;left:2888.33px;letter-spacing:-2.8px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_53
{
position:absolute;top:648.09px;left:3219.03px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_54
{
position:absolute;top:648.09px;left:5243.67px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_55
{
position:absolute;top:648.09px;left:5799.45px;letter-spacing:-0.61px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_56
{
position:absolute;top:648.09px;left:6565.62px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_57
{
position:absolute;top:648.09px;left:6970.88px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_58
{
position:absolute;top:648.09px;left:8009.54px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_59
{
position:absolute;top:648.09px;left:8813.68px;letter-spacing:-0.28px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_60
{
position:absolute;top:648.09px;left:9424.9px;letter-spacing:0px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_61
{
position:absolute;top:1048.09px;left:659.95px;letter-spacing:-0.63px;transform-origin: 0% 235.20px;transform:matrix(0.99,0,0,1,0,0);-webkit-transform:matrix(0.99,0,0,1,0,0);-moz-transform:matrix(0.99,0,0,1,0,0);-ms-transform:matrix(0.99,0,0,1,0,0);-o-transform:matrix(0.99,0,0,1,0,0);
}
.s_page62-63_62
{
position:absolute;top:1555.08px;left:0px;
}
.s_page62-63_63
{
position:absolute;top:1555.08px;left:331.28px;letter-spacing:-1.04px;
}
.s_page62-63_64
{
position:absolute;top:1555.08px;left:639.94px;
}
.s_page62-63_65
{
position:absolute;top:1555.08px;left:1310.49px;
}
.s_page62-63_66
{
position:absolute;top:1555.08px;left:2163.67px;letter-spacing:0px;
}
.s_page62-63_67
{
position:absolute;top:1555.08px;left:2924.45px;
}
.s_page62-63_68
{
position:absolute;top:1555.08px;left:3340.37px;letter-spacing:-0.69px;
}
.s_page62-63_69
{
position:absolute;top:1555.08px;left:4227.63px;
}
.s_page62-63_70
{
position:absolute;top:1555.08px;left:4975.7px;
}
.s_page62-63_71
{
position:absolute;top:1555.08px;left:5447.53px;letter-spacing:-0.72px;
}
.s_page62-63_72
{
position:absolute;top:1555.08px;left:6585.12px;
}
.s_page62-63_73
{
position:absolute;top:1555.08px;left:6840.48px;
}
.s_page62-63_74
{
position:absolute;top:1555.08px;left:7429.19px;
}
.s_page62-63_75
{
position:absolute;top:1555.08px;left:7848.46px;letter-spacing:-2.13px;
}
.s_page62-63_76
{
position:absolute;top:1555.08px;left:8579.49px;letter-spacing:-1.3px;
}
.s_page62-63_77
{
position:absolute;top:1555.08px;left:9160.04px;
}
.s_page62-63_78
{
position:absolute;top:1915.08px;left:639.94px;
}
.s_page62-63_79
{
position:absolute;top:1915.08px;left:1700.72px;
}
.s_page62-63_80
{
position:absolute;top:1915.08px;left:2324.71px;
}
.s_page62-63_81
{
position:absolute;top:1915.08px;left:3277.25px;
}
.s_page62-63_82
{
position:absolute;top:1915.08px;left:3566.68px;
}
.s_page62-63_83
{
position:absolute;top:1915.08px;left:4093.95px;
}
.s_page62-63_84
{
position:absolute;top:1915.08px;left:4768.58px;
}
.s_page62-63_85
{
position:absolute;top:1915.08px;left:5631.37px;letter-spacing:-2.48px;
}
.s_page62-63_86
{
position:absolute;top:1915.08px;left:5911.92px;letter-spacing:-0.33px;
}
.s_page62-63_87
{
position:absolute;top:1915.08px;left:6775.67px;letter-spacing:-3px;
}
.s_page62-63_88
{
position:absolute;top:1915.08px;left:6967.19px;
}
.s_page62-63_89
{
position:absolute;top:2501.85px;left:0px;
}
.s_page62-63_90
{
position:absolute;top:2501.85px;left:261.2px;
}
.s_page62-63_91
{
position:absolute;top:2501.85px;left:639.94px;letter-spacing:-2.56px;
}
.s_page62-63_92
{
position:absolute;top:2501.85px;left:929.37px;letter-spacing:0px;
}
.s_page62-63_93
{
position:absolute;top:2501.85px;left:1348.64px;
}
.s_page62-63_94
{
position:absolute;top:2501.85px;left:1931.34px;letter-spacing:-2.48px;
}
.s_page62-63_95
{
position:absolute;top:2501.85px;left:2207.82px;letter-spacing:0px;
}
.s_page62-63_96
{
position:absolute;top:2501.85px;left:2627.09px;
}
.s_page62-63_97
{
position:absolute;top:2501.85px;left:3433.96px;letter-spacing:-2.64px;
}
.s_page62-63_98
{
position:absolute;top:2501.85px;left:4042.59px;letter-spacing:-0.81px;
}
.s_page62-63_99
{
position:absolute;top:2501.85px;left:4934.9px;
}
.s_page62-63_100
{
position:absolute;top:2501.85px;left:5224.33px;letter-spacing:-1.4px;
}
.s_page62-63_101
{
position:absolute;top:2501.85px;left:5916px;
}
.s_page62-63_102
{
position:absolute;top:2501.85px;left:6634.79px;
}
.s_page62-63_103
{
position:absolute;top:2501.85px;left:7167.1px;
}
.s_page62-63_104
{
position:absolute;top:2501.85px;left:7586.38px;
}
.s_page62-63_105
{
position:absolute;top:2501.85px;left:8647.16px;
}
.s_page62-63_106
{
position:absolute;top:2861.85px;left:639.94px;letter-spacing:-0.18px;
}
.s_page62-63_107
{
position:absolute;top:2861.85px;left:1735.04px;
}
.s_page62-63_108
{
position:absolute;top:2861.85px;left:2706.55px;letter-spacing:-1.82px;
}
.s_page62-63_109
{
position:absolute;top:2861.85px;left:3245.58px;
}
.s_page62-63_110
{
position:absolute;top:2861.85px;left:3717.42px;letter-spacing:-0.64px;
}
.s_page62-63_111
{
position:absolute;top:2861.85px;left:4594.84px;letter-spacing:-0.72px;
}
.s_page62-63_112
{
position:absolute;top:2861.85px;left:5120.44px;
}
.s_page62-63_113
{
position:absolute;top:2861.85px;left:5539.71px;letter-spacing:-1.12px;
}
.s_page62-63_114
{
position:absolute;top:2861.85px;left:6530.17px;
}
.s_page62-63_115
{
position:absolute;top:3448.62px;left:0px;
}
.s_page62-63_116
{
position:absolute;top:3448.62px;left:257.6px;letter-spacing:-1.28px;
}
.s_page62-63_117
{
position:absolute;top:3448.62px;left:639.94px;letter-spacing:-0.42px;
}
.s_page62-63_118
{
position:absolute;top:3448.62px;left:1104.33px;letter-spacing:-0.93px;
}
.s_page62-63_119
{
position:absolute;top:3448.62px;left:1928.72px;
}
.s_page62-63_120
{
position:absolute;top:3448.62px;left:2397.2px;letter-spacing:0px;
}
.s_page62-63_121
{
position:absolute;top:3448.62px;left:3058.14px;
}
.s_page62-63_122
{
position:absolute;top:3448.62px;left:3347.58px;letter-spacing:-0.68px;
}
.s_page62-63_123
{
position:absolute;top:3448.62px;left:4072.85px;
}
.s_page62-63_124
{
position:absolute;top:3448.62px;left:4570.6px;letter-spacing:-1.88px;
}
.s_page62-63_125
{
position:absolute;top:3448.62px;left:5136.75px;letter-spacing:-0.66px;
}
.s_page62-63_126
{
position:absolute;top:3448.62px;left:5642.91px;
}
.s_page62-63_127
{
position:absolute;top:3448.62px;left:6133.7px;letter-spacing:-2.85px;
}
.s_page62-63_128
{
position:absolute;top:3448.62px;left:7175.76px;letter-spacing:-1.88px;
}
.s_page62-63_129
{
position:absolute;top:3448.62px;left:7746.48px;letter-spacing:-0.53px;
}
.s_page62-63_130
{
position:absolute;top:3448.62px;left:8389.67px;
}
.s_page62-63_131
{
position:absolute;top:3448.62px;left:8717.99px;letter-spacing:-0.66px;
}
.s_page62-63_132
{
position:absolute;top:3448.62px;left:9224.14px;
}
.s_page62-63_133
{
position:absolute;top:3808.62px;left:639.94px;
}
.s_page62-63_134
{
position:absolute;top:3808.62px;left:959.61px;
}
.s_page62-63_135
{
position:absolute;top:3808.62px;left:1292.48px;
}
.s_page62-63_136
{
position:absolute;top:3808.62px;left:1712.95px;
}
.s_page62-63_137
{
position:absolute;top:3808.62px;left:2128.87px;text-rendering:optimizeLegibility;
}
.s_page62-63_138
{
position:absolute;top:3808.62px;left:2656.62px;letter-spacing:-0.8px;
}
.s_page62-63_139
{
position:absolute;top:4395.39px;left:0px;
}
.s_page62-63_140
{
position:absolute;top:4395.39px;left:261.68px;letter-spacing:-0.8px;
}
.s_page62-63_141
{
position:absolute;top:4395.39px;left:639.94px;letter-spacing:-0.42px;
}
.s_page62-63_142
{
position:absolute;top:4395.39px;left:1104.33px;letter-spacing:-0.21px;
}
.s_page62-63_143
{
position:absolute;top:4395.39px;left:1970px;letter-spacing:0px;
}
.s_page62-63_144
{
position:absolute;top:4395.39px;left:2647.03px;
}
.s_page62-63_145
{
position:absolute;top:4395.39px;left:3014.95px;
}
.s_page62-63_146
{
position:absolute;top:4395.39px;left:3638.94px;letter-spacing:-1.56px;
}
.s_page62-63_147
{
position:absolute;top:4395.39px;left:4266.29px;
}
.s_page62-63_148
{
position:absolute;top:4395.39px;left:4685.56px;letter-spacing:-2.5px;
}
.s_page62-63_149
{
position:absolute;top:4395.39px;left:5504.44px;text-rendering:optimizeLegibility;
}
.s_page62-63_150
{
position:absolute;top:4395.39px;left:6027.63px;
}
.s_page62-63_151
{
position:absolute;top:4395.39px;left:6685.94px;
}
.s_page62-63_152
{
position:absolute;top:4395.39px;left:7105.21px;letter-spacing:-2.13px;
}
.s_page62-63_153
{
position:absolute;top:4395.39px;left:7960.8px;
}
.s_page62-63_154
{
position:absolute;top:4395.39px;left:8584.55px;
}
.s_page62-63_155
{
position:absolute;top:4395.39px;left:9005.26px;
}
.s_page62-63_156
{
position:absolute;top:4755.39px;left:639.94px;
}
.s_page62-63_157
{
position:absolute;top:4755.39px;left:1165.29px;letter-spacing:-1.82px;
}
.s_page62-63_158
{
position:absolute;top:4755.39px;left:1704.32px;
}
.s_page62-63_159
{
position:absolute;top:4755.39px;left:2176.15px;letter-spacing:-1.14px;
}
.s_page62-63_160
{
position:absolute;top:5342.17px;left:0px;
}
.s_page62-63_161
{
position:absolute;top:5342.17px;left:264.08px;letter-spacing:-1.28px;
}
.s_page62-63_162
{
position:absolute;top:5342.17px;left:639.94px;letter-spacing:-0.38px;
}
.s_page62-63_163
{
position:absolute;top:5342.17px;left:1318.65px;
}
.s_page62-63_164
{
position:absolute;top:5342.17px;left:1737.92px;letter-spacing:-2.13px;
}
.s_page62-63_165
{
position:absolute;top:5342.17px;left:2593.51px;letter-spacing:-1.87px;
}
.s_page62-63_166
{
position:absolute;top:5342.17px;left:3175.98px;letter-spacing:-3px;
}
.s_page62-63_167
{
position:absolute;top:5342.17px;left:3361.74px;letter-spacing:-0.96px;
}
.s_page62-63_168
{
position:absolute;top:5342.17px;left:4124.69px;letter-spacing:-1.44px;
}
.s_page62-63_169
{
position:absolute;top:5342.17px;left:4668.04px;
}
.s_page62-63_170
{
position:absolute;top:5342.17px;left:4957.47px;letter-spacing:-0.53px;
}
.s_page62-63_171
{
position:absolute;top:5342.17px;left:5832.98px;
}
.s_page62-63_172
{
position:absolute;top:5342.17px;left:6165.85px;letter-spacing:-1.03px;
}
.s_page62-63_173
{
position:absolute;top:5342.17px;left:6993.84px;
}
.s_page62-63_174
{
position:absolute;top:5342.17px;left:7530.23px;
}
.s_page62-63_175
{
position:absolute;top:5342.17px;left:7992.95px;letter-spacing:-0.79px;
}
.s_page62-63_176
{
position:absolute;top:5342.17px;left:8755.42px;
}
.s_page62-63_177
{
position:absolute;top:5342.17px;left:9260.6px;
}
.s_page62-63_178
{
position:absolute;top:5702.17px;left:639.94px;
}
.s_page62-63_179
{
position:absolute;top:5702.17px;left:1111.77px;letter-spacing:-0.54px;
}
.s_page62-63_180
{
position:absolute;top:5702.17px;left:1533.92px;letter-spacing:-0.26px;
}
.s_page62-63_181
{
position:absolute;top:5702.17px;left:2771.11px;letter-spacing:-3px;
}
.s_page62-63_182
{
position:absolute;top:5702.17px;left:2959.27px;letter-spacing:-0.68px;
}
.s_page62-63_183
{
position:absolute;top:6288.94px;left:0px;
}
.s_page62-63_184
{
position:absolute;top:6288.94px;left:253.04px;letter-spacing:-1.28px;
}
.s_page62-63_185
{
position:absolute;top:6288.94px;left:639.94px;letter-spacing:-0.38px;
}
.s_page62-63_186
{
position:absolute;top:6288.94px;left:1322.73px;letter-spacing:-3px;
}
.s_page62-63_187
{
position:absolute;top:6288.94px;left:1514.25px;letter-spacing:-0.77px;
}
.s_page62-63_188
{
position:absolute;top:6288.94px;left:2452.87px;letter-spacing:-1.06px;
}
.s_page62-63_189
{
position:absolute;top:6288.94px;left:3192.78px;letter-spacing:-2.48px;
}
.s_page62-63_190
{
position:absolute;top:6288.94px;left:3866.45px;
}
.s_page62-63_191
{
position:absolute;top:6288.94px;left:4238.44px;letter-spacing:-0.27px;
}
.s_page62-63_192
{
position:absolute;top:6288.94px;left:5004.75px;
}
.s_page62-63_193
{
position:absolute;top:6288.94px;left:5765.54px;
}
.s_page62-63_194
{
position:absolute;top:6288.94px;left:6184.81px;letter-spacing:-0.44px;
}
.s_page62-63_195
{
position:absolute;top:6648.94px;left:639.94px;
}
.s_page62-63_196
{
position:absolute;top:6648.94px;left:1059.21px;letter-spacing:-0.16px;
}
.s_page62-63_197
{
position:absolute;top:6648.94px;left:2165.83px;letter-spacing:-0.77px;
}
.s_page62-63_198
{
position:absolute;top:6648.94px;left:3104.45px;letter-spacing:-0.44px;
}
.s_page62-63_199
{
position:absolute;top:6648.94px;left:3815.81px;letter-spacing:-1.02px;
}
.s_page62-63_200
{
position:absolute;top:6648.94px;left:4320.52px;
}
.s_page62-63_201
{
position:absolute;top:6648.94px;left:4527.39px;
}
.s_page62-63_202
{
position:absolute;top:6648.94px;left:4999.22px;
}
.s_page62-63_203
{
position:absolute;top:6648.94px;left:5427.37px;
}
.s_page62-63_204
{
position:absolute;top:6648.94px;left:5678.17px;
}
.s_page62-63_205
{
position:absolute;top:6648.94px;left:6214.56px;letter-spacing:-3px;
}
.s_page62-63_206
{
position:absolute;top:7008.94px;left:639.94px;letter-spacing:-1.08px;
}
.s_page62-63_207
{
position:absolute;top:7008.94px;left:1315.28px;letter-spacing:-0.32px;
}
.s_page62-63_208
{
position:absolute;top:7008.94px;left:1960.87px;
}
.s_page62-63_209
{
position:absolute;top:7008.94px;left:2250.3px;letter-spacing:-0.44px;
}
.s_page62-63_210
{
position:absolute;top:7595.71px;left:0px;
}
.s_page62-63_211
{
position:absolute;top:7595.71px;left:292.16px;letter-spacing:-6.72px;
}
.s_page62-63_212
{
position:absolute;top:7595.71px;left:639.94px;letter-spacing:-3.09px;
}
.s_page62-63_213
{
position:absolute;top:7595.71px;left:1593.21px;
}
.s_page62-63_214
{
position:absolute;top:7595.71px;left:2012.48px;letter-spacing:-1.1px;
}
.s_page62-63_215
{
position:absolute;top:7595.71px;left:2503.27px;letter-spacing:0px;
}
.s_page62-63_216
{
position:absolute;top:7595.71px;left:3329.09px;letter-spacing:-2.48px;
}
.s_page62-63_217
{
position:absolute;top:7595.71px;left:3609.65px;
}
.s_page62-63_218
{
position:absolute;top:7595.71px;left:3977.56px;
}
.s_page62-63_219
{
position:absolute;top:7595.71px;left:4660.35px;
}
.s_page62-63_220
{
position:absolute;top:7595.71px;left:5586.5px;letter-spacing:-0.54px;
}
.s_page62-63_221
{
position:absolute;top:7595.71px;left:6004.57px;
}
.s_page62-63_222
{
position:absolute;top:7955.71px;left:639.94px;letter-spacing:-1.16px;
}
.s_page62-63_223
{
position:absolute;top:7955.71px;left:1280.72px;
}
.s_page62-63_224
{
position:absolute;top:7955.71px;left:1613.12px;letter-spacing:-1.52px;
}
.s_page62-63_225
{
position:absolute;top:7955.71px;left:2278.63px;
}
.s_page62-63_226
{
position:absolute;top:7955.71px;left:2594.22px;
}
.s_page62-63_227
{
position:absolute;top:7955.71px;left:3099.41px;letter-spacing:-0.96px;
}
.s_page62-63_228
{
position:absolute;top:7955.71px;left:4007.56px;
}
.s_page62-63_229
{
position:absolute;top:7955.71px;left:4631.55px;letter-spacing:-0.79px;
}
.s_page62-63_230
{
position:absolute;top:7955.71px;left:5605.94px;letter-spacing:-0.44px;
}
.s_page62-63_231
{
position:absolute;top:7955.71px;left:6258.25px;
}
.s_page62-63_232
{
position:absolute;top:7955.71px;left:6681.6px;letter-spacing:-3px;
}
.s_page62-63_233
{
position:absolute;top:8315.71px;left:639.94px;letter-spacing:-0.33px;
}
.s_page62-63_234
{
position:absolute;top:8902.48px;left:0px;
}
.s_page62-63_235
{
position:absolute;top:8902.48px;left:246.33px;letter-spacing:-1.2px;
}
.s_page62-63_236
{
position:absolute;top:8902.48px;left:639.94px;letter-spacing:-0.42px;
}
.s_page62-63_237
{
position:absolute;top:8902.48px;left:1099.77px;letter-spacing:0px;
}
.s_page62-63_238
{
position:absolute;top:8902.48px;left:2009.6px;letter-spacing:0px;
}
.s_page62-63_239
{
position:absolute;top:8902.48px;left:2633.59px;
}
.s_page62-63_240
{
position:absolute;top:8902.48px;left:3307.27px;
}
.s_page62-63_241
{
position:absolute;top:8902.48px;left:3727.74px;letter-spacing:-2.48px;
}
.s_page62-63_242
{
position:absolute;top:8902.48px;left:4004.22px;
}
.s_page62-63_243
{
position:absolute;top:8902.48px;left:4423.49px;letter-spacing:-1.28px;
}
.s_page62-63_244
{
position:absolute;top:8902.48px;left:5064.52px;
}
.s_page62-63_245
{
position:absolute;top:8902.48px;left:5688.51px;letter-spacing:-0.79px;
}
.s_page62-63_246
{
position:absolute;top:8902.48px;left:6450.98px;
}
.s_page62-63_247
{
position:absolute;top:9262.48px;left:639.94px;letter-spacing:-1.82px;
}
.s_page62-63_248
{
position:absolute;top:9262.48px;left:1174.41px;letter-spacing:-1.87px;
}
.s_page62-63_249
{
position:absolute;top:9262.48px;left:1786.16px;letter-spacing:-0.54px;
}
.s_page62-63_250
{
position:absolute;top:9262.48px;left:2204.24px;
}
.s_page62-63_251
{
position:absolute;top:9262.48px;left:3041.58px;letter-spacing:-0.58px;
}
.s_page62-63_252
{
position:absolute;top:9262.48px;left:3541.73px;
}
.s_page62-63_253
{
position:absolute;top:9262.48px;left:4417.48px;
}
.s_page62-63_254
{
position:absolute;top:9262.48px;left:4706.91px;letter-spacing:-0.29px;
}
.s_page62-63_255
{
position:absolute;top:58.88px;left:0px;
}
.s_page62-63_256
{
position:absolute;top:-18px;left:102.41px;letter-spacing:-6.84px;
}
.s_page62-63_257
{
position:absolute;top:-18px;left:470.57px;
}
.s_page62-63_258
{
position:absolute;top:-18px;left:866.56px;letter-spacing:-3px;
}
.s_page62-63_259
{
position:absolute;top:-18px;left:1058.07px;letter-spacing:-0.31px;
}
.s_page62-63_260
{
position:absolute;top:302px;left:202px;
}
.s_page62-63_261
{
position:absolute;top:302px;left:991.12px;
}
.s_page62-63_262
{
position:absolute;top:622px;left:396.88px;
}
.s_page62-63_263
{
position:absolute;top:942px;left:436px;
}
.s_page62-63_264
{
position:absolute;top:942px;left:968.55px;
}
.s_page62-63_265
{
position:absolute;top:1262px;left:117.89px;
}
.s_page62-63_266
{
position:absolute;top:1262px;left:912.52px;letter-spacing:-0.51px;
}
.s_page62-63_267
{
position:absolute;top:1582px;left:282.53px;letter-spacing:-0.72px;
}
.s_page62-63_268
{
position:absolute;top:1582px;left:1091.55px;letter-spacing:-1.84px;
}
.s_page62-63_269
{
position:absolute;top:1582px;left:1384.83px;letter-spacing:-3px;
}
.s_page62-63_270
{
position:absolute;top:1902px;left:188.93px;
}
.s_page62-63_271
{
position:absolute;top:1902px;left:664.6px;
}
.s_page62-63_272
{
position:absolute;top:2222px;left:320.21px;letter-spacing:-3.66px;
}
.s_page62-63_273
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.68px;
}
.s_page62-63_274
{
position:absolute;top:-14.08px;left:727.67px;
}
.s_page62-63_275
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page62-63_276
{
position:absolute;top:-18px;left:464.4px;letter-spacing:-0.1px;
}
.s_page62-63_277
{
position:absolute;top:-18px;left:1911.81px;letter-spacing:-4.75px;
}
.s_page62-63_278
{
position:absolute;top:-18px;left:2364.21px;letter-spacing:-2.26px;
}
.s_page62-63_279
{
position:absolute;top:-18px;left:2874.44px;letter-spacing:-0.46px;
}
.s_page62-63_280
{
position:absolute;top:-18px;left:4134.9px;
}
.s_page62-63_281
{
position:absolute;top:-18px;left:4602.66px;
}
.s_page62-63_282
{
position:absolute;top:-18px;left:5021.93px;letter-spacing:-0.1px;
}
.s_page62-63_283
{
position:absolute;top:-18px;left:6469.34px;letter-spacing:-0.18px;
}
.s_page62-63_284
{
position:absolute;top:342px;left:0px;letter-spacing:-0.46px;
}
.s_page62-63_285
{
position:absolute;top:342px;left:1260.46px;letter-spacing:-0.82px;
}
.s_page62-63_286
{
position:absolute;top:342px;left:1771.17px;
}
.s_page62-63_287
{
position:absolute;top:342px;left:2103.57px;letter-spacing:-0.18px;
}
.s_page62-63_288
{
position:absolute;top:342px;left:3068.59px;letter-spacing:-4.75px;
}
.s_page62-63_289
{
position:absolute;top:342px;left:3520.99px;letter-spacing:-2.26px;
}
.s_page62-63_290
{
position:absolute;top:342px;left:4024.02px;letter-spacing:-2.6px;
}
.s_page62-63_291
{
position:absolute;top:342px;left:4781.22px;
}
.s_page62-63_292
{
position:absolute;top:342px;left:5070.65px;letter-spacing:-1.18px;
}
.s_page62-63_293
{
position:absolute;top:342px;left:6186.16px;
}
.s_page62-63_294
{
position:absolute;top:342px;left:6605.43px;
}
.s_page62-63_295
{
position:absolute;top:342px;left:7219.09px;letter-spacing:-2.48px;
}
.s_page62-63_296
{
position:absolute;top:342px;left:7499.65px;
}
.s_page62-63_297
{
position:absolute;top:702px;left:0px;letter-spacing:-0.44px;
}
.s_page62-63_298
{
position:absolute;top:702px;left:564.95px;
}
.s_page62-63_299
{
position:absolute;top:702px;left:826.07px;
}
.s_page62-63_300
{
position:absolute;top:702px;left:1245.34px;
}
.s_page62-63_301
{
position:absolute;top:702px;left:1775.97px;
}
.s_page62-63_302
{
position:absolute;top:702px;left:2569.16px;
}
.s_page62-63_303
{
position:absolute;top:702px;left:2853.07px;letter-spacing:-0.53px;
}
.s_page62-63_304
{
position:absolute;top:702px;left:3315.06px;
}
.s_page62-63_305
{
position:absolute;top:702px;left:3734.33px;letter-spacing:-2.32px;
}
.s_page62-63_306
{
position:absolute;top:702px;left:4475.45px;letter-spacing:-0.66px;
}
.s_page62-63_307
{
position:absolute;top:702px;left:4981.6px;letter-spacing:-0.68px;
}
.s_page62-63_308
{
position:absolute;top:702px;left:5623.11px;
}
.s_page62-63_309
{
position:absolute;top:702px;left:5905.34px;letter-spacing:-1.52px;
}
.s_page62-63_310
{
position:absolute;top:702px;left:6650.05px;letter-spacing:-1.98px;
}
.s_page62-63_311
{
position:absolute;top:702px;left:7879.07px;letter-spacing:-1.12px;
}
.s_page62-63_312
{
position:absolute;top:702px;left:8543.87px;
}
.s_page62-63_313
{
position:absolute;top:1062px;left:0px;
}
.s_page62-63_314
{
position:absolute;top:1062px;left:583.43px;letter-spacing:-0.33px;
}
.s_page62-63_315
{
position:absolute;top:1062px;left:1535.26px;
}
.s_page62-63_316
{
position:absolute;top:1062px;left:2235.57px;
}
.s_page62-63_317
{
position:absolute;top:1062px;left:2758.04px;
}
.s_page62-63_318
{
position:absolute;top:1062px;left:3178.28px;letter-spacing:-3.24px;
}
.s_page62-63_319
{
position:absolute;top:-11.04px;left:108.97px;
}
.s_page62-63_320
{
position:absolute;top:-14.08px;left:0px;letter-spacing:-3.89px;
}
.s_page62-63_321
{
position:absolute;top:-14.08px;left:843.18px;letter-spacing:-4.67px;
}
.s_page62-63_322
{
position:absolute;top:-14.08px;left:1635.81px;letter-spacing:-3.89px;
}
.s_page62-63_323
{
position:absolute;top:-18px;left:0px;
}
.s_page62-63_324
{
position:absolute;top:-18px;left:265.2px;letter-spacing:-3px;
}
.s_page62-63_325
{
position:absolute;top:-18px;left:456.71px;
}
.s_page62-63_326
{
position:absolute;top:-18px;left:1204.78px;letter-spacing:-0.36px;
}
.s_page62-63_327
{
position:absolute;top:-18px;left:2219.97px;letter-spacing:-1px;
}
.s_page62-63_328
{
position:absolute;top:-18px;left:2806.04px;
}
.s_page62-63_329
{
position:absolute;top:-18px;left:3277.87px;letter-spacing:-0.29px;
}
.s_page62-63_330
{
position:absolute;top:-18px;left:4314.9px;letter-spacing:-0.32px;
}
.s_page62-63_331
{
position:absolute;top:-18px;left:5293.13px;
}
.s_page62-63_332
{
position:absolute;top:-18px;left:6070.95px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page62-63_333
{
position:absolute;top:-18px;left:6568.7px;
}
.s_page62-63_334
{
position:absolute;top:-18px;left:7040.53px;
}
.s_page62-63_335
{
position:absolute;top:-18px;left:7717.56px;
}
.s_page62-63_336
{
position:absolute;top:-18px;left:8169.47px;
}
.s_page62-63_337
{
position:absolute;top:342px;left:0px;letter-spacing:-1.83px;
}
.s_page62-63_338
{
position:absolute;top:342px;left:750.23px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page62-63_339
{
position:absolute;top:342px;left:1244.62px;text-rendering:optimizeLegibility;letter-spacing:-0.82px;
}
.s_page62-63_340
{
position:absolute;top:342px;left:1696.29px;letter-spacing:-1.35px;
}
.s_page62-63_341
{
position:absolute;top:342px;left:2551.4px;letter-spacing:-1.3px;
}
.s_page62-63_342
{
position:absolute;top:342px;left:3351.79px;letter-spacing:-0.96px;
}
.s_page62-63_343
{
position:absolute;top:342px;left:3718.74px;
}
.s_page62-63_344
{
position:absolute;top:342px;left:4099.61px;letter-spacing:-1.86px;
}
.s_page62-63_345
{
position:absolute;top:342px;left:4491.77px;letter-spacing:-1.86px;
}
.s_page62-63_346
{
position:absolute;top:342px;left:4914.64px;
}
.s_page62-63_347
{
position:absolute;top:342px;left:5386.47px;
}
.s_page62-63_348
{
position:absolute;top:342px;left:5715.74px;
}
.s_page62-63_349
{
position:absolute;top:342px;left:6322.45px;letter-spacing:-1.49px;
}
.s_page62-63_350
{
position:absolute;top:342px;left:7743.22px;letter-spacing:-1.38px;
}
.s_page62-63_351
{
position:absolute;top:342px;left:8300.97px;letter-spacing:-1.68px;
}
.s_page62-63_352
{
position:absolute;top:702px;left:0px;letter-spacing:-1.3px;
}
.s_page62-63_353
{
position:absolute;top:702px;left:632.39px;
}
.s_page62-63_354
{
position:absolute;top:702px;left:1180.3px;
}
.s_page62-63_355
{
position:absolute;top:702px;left:1768.05px;
}
.s_page62-63_356
{
position:absolute;top:702px;left:2183.24px;
}
.s_page62-63_357
{
position:absolute;top:702px;left:2807.23px;
}
.s_page62-63_358
{
position:absolute;top:702px;left:3408.19px;
}
.s_page62-63_359
{
position:absolute;top:702px;left:3693.06px;
}
.s_page62-63_360
{
position:absolute;top:702px;left:4138.97px;
}
.s_page62-63_361
{
position:absolute;top:702px;left:4558.24px;letter-spacing:-1.03px;
}
.s_page62-63_362
{
position:absolute;top:702px;left:5412.87px;letter-spacing:-1.38px;
}
.s_page62-63_363
{
position:absolute;top:702px;left:5970.63px;letter-spacing:-1.68px;
}
.s_page62-63_364
{
position:absolute;top:702px;left:6626.3px;letter-spacing:-1.05px;
}
.s_page62-63_365
{
position:absolute;top:702px;left:7509.01px;
}
.s_page62-63_366
{
position:absolute;top:702px;left:8096.76px;
}
.s_page62-63_367
{
position:absolute;top:702px;left:8511.95px;
}
.s_page62-63_368
{
position:absolute;top:1062px;left:0px;letter-spacing:-1.87px;
}
.s_page62-63_369
{
position:absolute;top:1062px;left:578.39px;
}
.s_page62-63_370
{
position:absolute;top:1062px;left:833.75px;
}
.s_page62-63_371
{
position:absolute;top:212.72px;left:543.94px;
}
.s_page62-63_372
{
position:absolute;top:212.72px;left:659.95px;letter-spacing:-1.06px;
}
.s_page62-63_373
{
position:absolute;top:212.72px;left:1748.74px;
}
.s_page62-63_374
{
position:absolute;top:212.72px;left:2550.81px;letter-spacing:-1.54px;
}
.s_page62-63_375
{
position:absolute;top:212.72px;left:2962.84px;
}
.s_page62-63_376
{
position:absolute;top:212.72px;left:3521.6px;letter-spacing:-1.73px;
}
.s_page62-63_377
{
position:absolute;top:212.72px;left:4366.23px;letter-spacing:0px;
}
.s_page62-63_378
{
position:absolute;top:58.88px;left:0px;letter-spacing:-7.92px;
}
.s_page62-63_379
{
position:absolute;top:-18px;left:0px;letter-spacing:-6.72px;
}
.s_page62-63_380
{
position:absolute;top:-18px;left:213.11px;
}
.s_page62-63_381
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.2px;
}
.s_page62-63_382
{
position:absolute;top:-18px;left:258.95px;
}
.s_page62-63_383
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.04px;
}
.s_page62-63_384
{
position:absolute;top:-18px;left:173.99px;
}
.s_page62-63_385
{
position:absolute;top:-18px;left:0px;
}
.s_page62-63_386
{
position:absolute;top:-18px;left:244.07px;
}
.s_page62-63_387
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page62-63_388
{
position:absolute;top:-18px;left:247.67px;
}
.s_page62-63_389
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.8px;
}
.s_page62-63_390
{
position:absolute;top:-18px;left:243.59px;
}
.s_page62-63_391
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page62-63_392
{
position:absolute;top:-18px;left:241.19px;
}
.s_page62-63_393
{
position:absolute;top:-18px;left:0px;letter-spacing:-1.28px;
}
.s_page62-63_394
{
position:absolute;top:-18px;left:252.24px;
}
.s_page62-63_395
{
position:absolute;top:-18px;left:0px;
}
.s_page62-63_396
{
position:absolute;top:-18px;left:1587.4px;letter-spacing:0px;
}
.s_page62-63_397
{
position:absolute;top:398.69px;left:0px;
}
.s_page62-63_398
{
position:absolute;top:398.69px;left:1587.4px;letter-spacing:0px;
}
.s_page62-63_399
{
position:absolute;top:815.38px;left:0px;
}
.s_page62-63_400
{
position:absolute;top:815.38px;left:606.23px;
}
.s_page62-63_401
{
position:absolute;top:815.38px;left:1587.4px;
}
.s_page62-63_402
{
position:absolute;top:815.38px;left:1926.99px;
}
.s_page62-63_403
{
position:absolute;top:1232.08px;left:0px;
}
.s_page62-63_404
{
position:absolute;top:1232.08px;left:1587.4px;letter-spacing:0px;
}
.s_page62-63_405
{
position:absolute;top:-13.5px;left:393.92px;letter-spacing:-1.93px;
}
.s_page62-63_406
{
position:absolute;top:-13.5px;left:795.68px;letter-spacing:-0.57px;
}
.s_page62-63_407
{
position:absolute;top:193.5px;left:199.62px;letter-spacing:-0.85px;
}
.s_page62-63_408
{
position:absolute;top:193.5px;left:1054.61px;letter-spacing:-1.69px;
}
.s_page62-63_409
{
position:absolute;top:400.5px;left:442.8px;letter-spacing:-0.52px;
}
.s_page62-63_410
{
position:absolute;top:-13.5px;left:216.36px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_411
{
position:absolute;top:193.5px;left:58.7px;letter-spacing:-1.35px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_412
{
position:absolute;top:193.5px;left:496.8px;letter-spacing:-1.26px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_413
{
position:absolute;top:400.5px;left:22.28px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_414
{
position:absolute;top:400.5px;left:660.1px;letter-spacing:-2.7px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_415
{
position:absolute;top:607.5px;left:32.12px;letter-spacing:-0.97px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_416
{
position:absolute;top:607.5px;left:445.76px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_417
{
position:absolute;top:607.5px;left:744.49px;transform-origin: 0% 151.20px;transform:matrix(0.95,0,0,1,0,0);-webkit-transform:matrix(0.95,0,0,1,0,0);-moz-transform:matrix(0.95,0,0,1,0,0);-ms-transform:matrix(0.95,0,0,1,0,0);-o-transform:matrix(0.95,0,0,1,0,0);
}
.s_page62-63_418
{
position:absolute;top:-18px;left:0px;letter-spacing:-0.42px;
}
.s_page62-63_419
{
position:absolute;top:-18px;left:461.04px;text-rendering:optimizeLegibility;
}
.s_page62-63_420
{
position:absolute;top:-18px;left:923.99px;letter-spacing:-0.24px;
}
.s_page62-63_421
{
position:absolute;top:-18px;left:1600.06px;
}
.s_page62-63_422
{
position:absolute;top:-18px;left:1665.34px;letter-spacing:-0.12px;
}
.s_page62-63_423
{
position:absolute;top:342px;left:0px;
}
.s_page62-63_424
{
position:absolute;top:342px;left:419.27px;
}
.s_page62-63_425
{
position:absolute;top:342px;left:1060.29px;letter-spacing:-1.8px;
}
.s_page62-63_426
{
position:absolute;top:342px;left:1696.05px;letter-spacing:-1.54px;
}
.s_page62-63_427
{
position:absolute;top:342px;left:2480.36px;
}
.s_page62-63_428
{
position:absolute;top:702px;left:0px;
}
.s_page62-63_429
{
position:absolute;top:702px;left:568.79px;
}
.s_page62-63_430
{
position:absolute;top:702px;left:1275.58px;
}
.s_page62-63_431
{
position:absolute;top:702px;left:1512.69px;letter-spacing:-3px;
}
.s_page62-63_432
{
position:absolute;top:702px;left:1704.21px;letter-spacing:-0.22px;
}
.s_page62-63_433
{
position:absolute;top:1062px;left:0px;letter-spacing:-2.48px;
}
.s_page62-63_434
{
position:absolute;top:1062px;left:280.56px;
}
.s_page62-63_435
{
position:absolute;top:1062px;left:1110.22px;
}
.s_page62-63_436
{
position:absolute;top:1062px;left:1606.53px;
}
.s_page62-63_437
{
position:absolute;top:1062px;left:2078.36px;letter-spacing:-1.28px;
}
.s_page62-63_438
{
position:absolute;top:1422px;left:0px;
}
.s_page62-63_439
{
position:absolute;top:1422px;left:757.66px;letter-spacing:-1.68px;
}
.s_page62-63_440
{
position:absolute;top:1422px;left:1175.98px;
}
.s_page62-63_441
{
position:absolute;top:1422px;left:2023.64px;letter-spacing:-2.02px;
}
.s_page62-63_442
{
position:absolute;top:1782px;left:0px;
}
.s_page62-63_443
{
position:absolute;top:1782px;left:847.66px;letter-spacing:-0.24px;
}
.s_page62-63_444
{
position:absolute;top:1782px;left:1667.49px;
}
.s_page62-63_445
{
position:absolute;top:1782px;left:2591.95px;letter-spacing:-2.26px;
}
.s_page62-63_446
{
position:absolute;top:1782px;left:3243.07px;letter-spacing:-0.28px;
}
.s_page62-63_447
{
position:absolute;top:1782px;left:3816.9px;letter-spacing:-0.5px;
}
.s_page62-63_448
{
position:absolute;top:2142px;left:0px;letter-spacing:-0.59px;
}
.s_page62-63_449
{
position:absolute;top:2142px;left:1127.98px;
}
.s_page62-63_450
{
position:absolute;top:2142px;left:1599.81px;letter-spacing:-0.53px;
}
.s_page62-63_451
{
position:absolute;top:-12.32px;left:0px;
}
.s_page62-63_452
{
position:absolute;top:-12.32px;left:420.83px;letter-spacing:-5.11px;
}
.s_page62-63_453
{
position:absolute;top:-12.32px;left:971.57px;letter-spacing:-6.86px;
}
.s_page62-63_454
{
position:absolute;top:-5.54px;left:115.93px;
}

.page62_btn1 {
	position:absolute;
	top: 797px;
	left: 271px;
}
.page62_btn2 {
	position:absolute;
	top: 797px;
	left: 213px;
}
.page62_pos1 {
	position:absolute;
	top: 256px;
	left: 433px;
}
.page62_pos2 {
	position:absolute;
	top: 303px;
	left: 422px;
}
.page62_pos3 {
	position:absolute;
	top: 350px;
	left: 233px;
}
.page62_pos4 {
	position:absolute;
	top: 397px;
	left: 206px;
}
.page62_pos5 {
	position:absolute;
	top: 445px;
	left: 231px;
}
.page62_pos6 {
	position:absolute;
	top: 511px;
	left: 196px;
}
.page62_pos7 {
	position:absolute;
	top: 575px;
	left: 133px;
}
.page62_pos8 {
	position:absolute;
	top: 623px;
	left: 346px;
}


#text1{
	position: absolute;
	top: 386px;
	left: 397px;
	cursor:pointer;
}
#text2{
	position:absolute;
	top: 386px;
	left: 476px;
	cursor:pointer;
}
#text3{
	position:absolute;
	top: 407px;
	left: 396px;
	cursor:pointer;
}
#text4{
	position:absolute;
	top: 407px;
	left: 476px;
	cursor:pointer;
}
#text5{
	position:absolute;
	top: 428px;
	left: 396px;
	cursor:pointer;
}
#text6{
	position:absolute;
	top: 428px;
	left: 476px;
	cursor:pointer;
}
#text7{
	position:absolute;
	top: 448px;
	left: 397px;
	cursor:pointer;
}
#text8{
	position:absolute;
	top: 448px;
	left: 476px;
	cursor:pointer;
}

#box1{
	position:absolute;
	top: 182px;
	left: 59px;
	width: 120px;
}
#box2{
	position:absolute;
	top: 182px;
	left: 247px;
	width: 116px;
}
#box3{
	position:absolute;
	top: 182px;
	left: 422px;
	width: 119px;
}
#box4{
	position:absolute;
	top: 318px;
	left: 64px;
	width: 118px;
}
#box5{
	position:absolute;
	top: 317px;
	left: 247px;
	width: 116px;
}
#box6{
	position:absolute;
	top: 318px;
	left: 423px;
	width: 120px;
}
#box7{
	position:absolute;
	top: 449px;
	left: 63px;
	width: 117px;
}
#box8{
	position:absolute;
	top: 448px;
	left: 245px;
	width: 118px;
}
.p63_input_text1 {
	display: none;
	text-align: center;
    font-family: "Cabrito_Sans_Norm_Book";
	font-size: 12px;
	margin-top: 2px;
}
.page63_btn1 {
	position:absolute;
	top: 803px;
	left: 277px;
}
