.d_page38_1
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);transform:translate(0.00px,0.00px);width:612.28px;height:841.89px
}
.d_page38_2
{
width:9508px;height:12878.84px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page38_3
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page38_4
{
position:absolute;overflow:hidden;left:0px;top:0px;-webkit-transform:translate(612px,0.00px);-ms-transform:translate(612px,0.00px);transform:translate(612px,0.00px);width:595.28px;height:841.89px
}
.d_page38_5
{
width:9690.9px;height:13975.46px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page38_6
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.s_page38_7
{
position:absolute;top:-18px;left:0px;
}
.s_page38_8
{
position:absolute;top:-18px;left:253.04px;letter-spacing:-1.28px;
}
.s_page38_9
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.38px;
}
.s_page38_10
{
position:absolute;top:-18px;left:1291.06px;
}
.s_page38_11
{
position:absolute;top:-18px;left:2266.18px;letter-spacing:-0.66px;
}
.s_page38_12
{
position:absolute;top:-18px;left:2789.63px;
}
.s_page38_13
{
position:absolute;top:-18px;left:3396.36px;
}
.s_page38_14
{
position:absolute;top:-18px;left:3664.93px;
}
.s_page38_15
{
position:absolute;top:-18px;left:4101.49px;letter-spacing:-0.2px;
}
.s_page38_16
{
position:absolute;top:-18px;left:5546.28px;letter-spacing:-2.48px;
}
.s_page38_17
{
position:absolute;top:-18px;left:5840.06px;
}
.s_page38_18
{
position:absolute;top:-18px;left:6276.62px;
}
.s_page38_19
{
position:absolute;top:-18px;left:6888.87px;letter-spacing:-0.65px;
}
.s_page38_20
{
position:absolute;top:-18px;left:8337.99px;letter-spacing:-1.38px;
}
.s_page38_21
{
position:absolute;top:-18px;left:8913.04px;letter-spacing:-1.68px;
}
.s_page38_22
{
position:absolute;top:342px;left:639.94px;
}
.s_page38_23
{
position:absolute;top:342px;left:1309.04px;letter-spacing:-2.48px;
}
.s_page38_24
{
position:absolute;top:342px;left:1589.6px;letter-spacing:-0.72px;
}
.s_page38_25
{
position:absolute;top:342px;left:2582.94px;
}
.s_page38_26
{
position:absolute;top:342px;left:3054.77px;letter-spacing:-0.46px;
}
.s_page38_27
{
position:absolute;top:342px;left:4665.87px;
}
.s_page38_28
{
position:absolute;top:342px;left:5451.62px;letter-spacing:-1.87px;
}
.s_page38_29
{
position:absolute;top:342px;left:6063.37px;
}
.s_page38_30
{
position:absolute;top:902.69px;left:0px;
}
.s_page38_31
{
position:absolute;top:902.69px;left:639.94px;letter-spacing:0px;
}
.s_page38_32
{
position:absolute;top:1463.38px;left:0px;
}
.s_page38_33
{
position:absolute;top:1463.38px;left:639.94px;letter-spacing:0px;
}
.s_page38_34
{
position:absolute;top:2024.08px;left:0px;
}
.s_page38_35
{
position:absolute;top:2024.08px;left:639.94px;letter-spacing:0px;
}
.s_page38_36
{
position:absolute;top:2584.77px;left:0px;
}
.s_page38_37
{
position:absolute;top:2584.77px;left:292.16px;letter-spacing:-6.72px;
}
.s_page38_38
{
position:absolute;top:2584.77px;left:639.94px;letter-spacing:-0.38px;
}
.s_page38_39
{
position:absolute;top:2584.77px;left:1273.77px;letter-spacing:0px;
}
.s_page38_40
{
position:absolute;top:2584.77px;left:1510.88px;
}
.s_page38_41
{
position:absolute;top:2584.77px;left:2308.63px;letter-spacing:0px;
}
.s_page38_42
{
position:absolute;top:2584.77px;left:3000.3px;
}
.s_page38_43
{
position:absolute;top:2584.77px;left:3419.57px;letter-spacing:-0.93px;
}
.s_page38_44
{
position:absolute;top:2584.77px;left:4580.44px;
}
.s_page38_45
{
position:absolute;top:2584.77px;left:5052.27px;
}
.s_page38_46
{
position:absolute;top:2584.77px;left:6413.77px;
}
.s_page38_47
{
position:absolute;top:2584.77px;left:7196.88px;letter-spacing:-2.48px;
}
.s_page38_48
{
position:absolute;top:2584.77px;left:7473.36px;
}
.s_page38_49
{
position:absolute;top:2584.77px;left:7892.63px;letter-spacing:-0.72px;
}
.s_page38_50
{
position:absolute;top:3145.46px;left:0px;
}
.s_page38_51
{
position:absolute;top:3145.46px;left:639.94px;letter-spacing:0px;
}
.s_page38_52
{
position:absolute;top:3706.16px;left:0px;
}
.s_page38_53
{
position:absolute;top:3706.16px;left:639.94px;letter-spacing:0px;
}
.s_page38_54
{
position:absolute;top:4266.85px;left:0px;
}
.s_page38_55
{
position:absolute;top:4266.85px;left:639.94px;letter-spacing:0px;
}
.s_page38_56
{
position:absolute;top:4827.54px;left:0px;
}
.s_page38_57
{
position:absolute;top:4827.54px;left:246.33px;letter-spacing:-1.2px;
}
.s_page38_58
{
position:absolute;top:4827.54px;left:639.94px;letter-spacing:-1.4px;
}
.s_page38_59
{
position:absolute;top:4827.54px;left:1409.85px;letter-spacing:-1.62px;
}
.s_page38_60
{
position:absolute;top:4827.54px;left:1825.28px;
}
.s_page38_61
{
position:absolute;top:4827.54px;left:2244.55px;letter-spacing:0px;
}
.s_page38_62
{
position:absolute;top:4827.54px;left:2969.1px;
}
.s_page38_63
{
position:absolute;top:4827.54px;left:3721.25px;
}
.s_page38_64
{
position:absolute;top:4827.54px;left:4592.19px;
}
.s_page38_65
{
position:absolute;top:4827.54px;left:5059.46px;letter-spacing:-1.5px;
}
.s_page38_66
{
position:absolute;top:5388.24px;left:0px;
}
.s_page38_67
{
position:absolute;top:5388.24px;left:639.94px;letter-spacing:0px;
}
.s_page38_68
{
position:absolute;top:5948.93px;left:0px;
}
.s_page38_69
{
position:absolute;top:5948.93px;left:639.94px;letter-spacing:0px;
}
.s_page38_70
{
position:absolute;top:6509.62px;left:0px;
}
.s_page38_71
{
position:absolute;top:6509.62px;left:639.94px;letter-spacing:0px;
}
.s_page38_72
{
position:absolute;top:7070.31px;left:0px;
}
.s_page38_73
{
position:absolute;top:7070.31px;left:639.94px;letter-spacing:0px;
}
.s_page38_74
{
position:absolute;top:7631.01px;left:0px;
}
.s_page38_75
{
position:absolute;top:7631.01px;left:254.48px;letter-spacing:-2.48px;
}
.s_page38_76
{
position:absolute;top:7631.01px;left:639.94px;letter-spacing:-0.38px;
}
.s_page38_77
{
position:absolute;top:7631.01px;left:1322.73px;
}
.s_page38_78
{
position:absolute;top:7631.01px;left:1790px;letter-spacing:-2.1px;
}
.s_page38_79
{
position:absolute;top:7631.01px;left:2300.72px;letter-spacing:-0.66px;
}
.s_page38_80
{
position:absolute;top:7631.01px;left:2806.88px;
}
.s_page38_81
{
position:absolute;top:7631.01px;left:3013.75px;
}
.s_page38_82
{
position:absolute;top:7631.01px;left:4287.65px;
}
.s_page38_83
{
position:absolute;top:7631.01px;left:4601.8px;letter-spacing:-3px;
}
.s_page38_84
{
position:absolute;top:7631.01px;left:4793.32px;letter-spacing:-0.82px;
}
.s_page38_85
{
position:absolute;top:7631.01px;left:5807.55px;letter-spacing:-1.64px;
}
.s_page38_86
{
position:absolute;top:7631.01px;left:6508.1px;letter-spacing:-0.29px;
}
.s_page38_87
{
position:absolute;top:7631.01px;left:7510.33px;letter-spacing:-1.25px;
}
.s_page38_88
{
position:absolute;top:8191.7px;left:0px;
}
.s_page38_89
{
position:absolute;top:8191.7px;left:639.94px;letter-spacing:0px;
}
.s_page38_90
{
position:absolute;top:8752.39px;left:0px;
}
.s_page38_91
{
position:absolute;top:8752.39px;left:639.94px;letter-spacing:0px;
}
.s_page38_92
{
position:absolute;top:9313.09px;left:0px;
}
.s_page38_93
{
position:absolute;top:9313.09px;left:639.94px;letter-spacing:0px;
}
.s_page38_94
{
position:absolute;top:9873.78px;left:0px;
}
.s_page38_95
{
position:absolute;top:9873.78px;left:639.94px;letter-spacing:0px;
}
.s_page38_96
{
position:absolute;top:10434.47px;left:0px;
}
.s_page38_97
{
position:absolute;top:10434.47px;left:182.49px;letter-spacing:-1.86px;
}
.s_page38_98
{
position:absolute;top:10434.47px;left:639.94px;letter-spacing:-0.38px;
}
.s_page38_99
{
position:absolute;top:10434.47px;left:1273.77px;letter-spacing:-1.62px;
}
.s_page38_100
{
position:absolute;top:10434.47px;left:1689.2px;
}
.s_page38_101
{
position:absolute;top:10434.47px;left:2108.47px;letter-spacing:-0.72px;
}
.s_page38_102
{
position:absolute;top:10434.47px;left:3722.21px;letter-spacing:-0.81px;
}
.s_page38_103
{
position:absolute;top:10434.47px;left:4561.96px;
}
.s_page38_104
{
position:absolute;top:10434.47px;left:4847.31px;
}
.s_page38_105
{
position:absolute;top:10434.47px;left:5259.86px;letter-spacing:-6.3px;
}
.s_page38_106
{
position:absolute;top:10434.47px;left:5620.57px;letter-spacing:-0.38px;
}
.s_page38_107
{
position:absolute;top:10995.16px;left:0px;
}
.s_page38_108
{
position:absolute;top:10995.16px;left:639.94px;letter-spacing:0px;
}
.s_page38_109
{
position:absolute;top:11555.86px;left:0px;
}
.s_page38_110
{
position:absolute;top:11555.86px;left:639.94px;letter-spacing:0px;
}
.s_page38_111
{
position:absolute;top:12116.55px;left:0px;
}
.s_page38_112
{
position:absolute;top:12116.55px;left:639.94px;letter-spacing:0px;
}
.s_page38_113
{
position:absolute;top:12677.24px;left:0px;
}
.s_page38_114
{
position:absolute;top:12677.24px;left:639.94px;letter-spacing:0px;
}
.s_page38_115
{
position:absolute;top:-11.04px;left:98.41px;
}
.s_page38_116
{
position:absolute;top:-21px;left:0px;letter-spacing:-6.27px;
}
.s_page38_117
{
position:absolute;top:-21px;left:615.43px;letter-spacing:-1.87px;
}
.s_page38_118
{
position:absolute;top:-21px;left:1459.9px;
}
.s_page38_119
{
position:absolute;top:12.6px;left:1554.26px;
}
.s_page38_120
{
position:absolute;top:12.6px;left:8032.76px;letter-spacing:-4.92px;
}
.s_page38_121
{
position:absolute;top:12.6px;left:8613.32px;letter-spacing:-0.38px;
}
.s_page38_122
{
position:absolute;top:12.6px;left:9414.43px;
}
.s_page38_123
{
position:absolute;top:485.98px;left:0px;
}
.s_page38_124
{
position:absolute;top:485.98px;left:212px;
}
.s_page38_125
{
position:absolute;top:485.98px;left:639.94px;
}
.s_page38_126
{
position:absolute;top:485.98px;left:1015.05px;
}
.s_page38_127
{
position:absolute;top:485.98px;left:1272.81px;letter-spacing:0px;
}
.s_page38_128
{
position:absolute;top:485.98px;left:1703.6px;
}
.s_page38_129
{
position:absolute;top:485.98px;left:2499.19px;letter-spacing:0px;
}
.s_page38_130
{
position:absolute;top:485.98px;left:3057.43px;letter-spacing:-0.36px;
}
.s_page38_131
{
position:absolute;top:485.98px;left:4469.57px;letter-spacing:-0.45px;
}
.s_page38_132
{
position:absolute;top:485.98px;left:8594.59px;letter-spacing:-0.83px;
}
.s_page38_133
{
position:absolute;top:939.37px;left:0px;
}
.s_page38_134
{
position:absolute;top:939.37px;left:791.28px;letter-spacing:-1.04px;
}
.s_page38_135
{
position:absolute;top:939.37px;left:1160px;letter-spacing:-0.42px;
}
.s_page38_136
{
position:absolute;top:939.37px;left:1621.04px;
}
.s_page38_137
{
position:absolute;top:939.37px;left:2013.67px;letter-spacing:-0.82px;
}
.s_page38_138
{
position:absolute;top:939.37px;left:2600.7px;letter-spacing:-2.48px;
}
.s_page38_139
{
position:absolute;top:939.37px;left:2877.18px;
}
.s_page38_140
{
position:absolute;top:939.37px;left:3296.45px;
}
.s_page38_141
{
position:absolute;top:939.37px;left:4200.03px;letter-spacing:-1.47px;
}
.s_page38_142
{
position:absolute;top:939.37px;left:4892.17px;
}
.s_page38_143
{
position:absolute;top:939.37px;left:5311.44px;letter-spacing:-6px;
}
.s_page38_144
{
position:absolute;top:939.37px;left:5806.32px;
}
.s_page38_145
{
position:absolute;top:939.37px;left:6043.43px;
}
.s_page38_146
{
position:absolute;top:939.37px;left:9436.1px;
}
.s_page38_147
{
position:absolute;top:1392.76px;left:0px;
}
.s_page38_148
{
position:absolute;top:1392.76px;left:721.2px;
}
.s_page38_149
{
position:absolute;top:1392.76px;left:1160px;
}
.s_page38_150
{
position:absolute;top:1392.76px;left:4954.88px;letter-spacing:0px;
}
.s_page38_151
{
position:absolute;top:1392.76px;left:5255.82px;
}
.s_page38_152
{
position:absolute;top:1392.76px;left:5652.05px;
}
.s_page38_153
{
position:absolute;top:1392.76px;left:6314.91px;letter-spacing:-0.36px;
}
.s_page38_154
{
position:absolute;top:1392.76px;left:7313.29px;letter-spacing:-2.4px;
}
.s_page38_155
{
position:absolute;top:1392.76px;left:7747.19px;
}
.s_page38_156
{
position:absolute;top:1392.76px;left:8230.29px;letter-spacing:-0.13px;
}
.s_page38_157
{
position:absolute;top:1392.76px;left:9475.62px;letter-spacing:-2.48px;
}
.s_page38_158
{
position:absolute;top:1732.76px;left:1160.06px;
}
.s_page38_159
{
position:absolute;top:1732.76px;left:2930.51px;letter-spacing:-0.72px;
}
.s_page38_160
{
position:absolute;top:1732.76px;left:3859.3px;
}
.s_page38_161
{
position:absolute;top:1732.76px;left:4327.78px;text-rendering:optimizeLegibility;
}
.s_page38_162
{
position:absolute;top:1732.76px;left:5239.04px;letter-spacing:-0.92px;
}
.s_page38_163
{
position:absolute;top:1732.76px;left:5803.75px;
}
.s_page38_164
{
position:absolute;top:1732.76px;left:6433.74px;
}
.s_page38_165
{
position:absolute;top:2186.14px;left:0px;
}
.s_page38_166
{
position:absolute;top:2186.14px;left:717.6px;letter-spacing:-1.28px;
}
.s_page38_167
{
position:absolute;top:2186.14px;left:1160px;
}
.s_page38_168
{
position:absolute;top:2186.14px;left:3706.72px;
}
.s_page38_169
{
position:absolute;top:2186.14px;left:3939.76px;
}
.s_page38_170
{
position:absolute;top:2186.14px;left:4359.03px;letter-spacing:-0.9px;
}
.s_page38_171
{
position:absolute;top:2186.14px;left:5175.01px;letter-spacing:-0.76px;
}
.s_page38_172
{
position:absolute;top:2186.14px;left:6399px;letter-spacing:-1.23px;
}
.s_page38_173
{
position:absolute;top:2186.14px;left:7295.39px;
}
.s_page38_174
{
position:absolute;top:2186.14px;left:7546.66px;
}
.s_page38_175
{
position:absolute;top:2186.14px;left:7961.38px;letter-spacing:-0.48px;
}
.s_page38_176
{
position:absolute;top:2639.53px;left:0px;
}
.s_page38_177
{
position:absolute;top:2639.53px;left:721.68px;letter-spacing:-0.8px;
}
.s_page38_178
{
position:absolute;top:2639.53px;left:1160px;
}
.s_page38_179
{
position:absolute;top:2639.53px;left:4157.89px;letter-spacing:-1.87px;
}
.s_page38_180
{
position:absolute;top:2639.53px;left:4740.37px;
}
.s_page38_181
{
position:absolute;top:2639.53px;left:5053.56px;
}
.s_page38_182
{
position:absolute;top:2639.53px;left:5469.48px;
}
.s_page38_183
{
position:absolute;top:2639.53px;left:6349.06px;
}
.s_page38_184
{
position:absolute;top:2639.53px;left:7130.01px;letter-spacing:-1.68px;
}
.s_page38_185
{
position:absolute;top:2639.53px;left:8380.4px;letter-spacing:-1.71px;
}
.s_page38_186
{
position:absolute;top:3092.91px;left:0px;
}
.s_page38_187
{
position:absolute;top:3092.91px;left:724.08px;letter-spacing:-1.28px;
}
.s_page38_188
{
position:absolute;top:3092.91px;left:1160px;letter-spacing:-0.42px;
}
.s_page38_189
{
position:absolute;top:3092.91px;left:1624.4px;
}
.s_page38_190
{
position:absolute;top:3092.91px;left:2692.39px;
}
.s_page38_191
{
position:absolute;top:3092.91px;left:3161.58px;letter-spacing:-2.48px;
}
.s_page38_192
{
position:absolute;top:3092.91px;left:3436.38px;letter-spacing:-0.89px;
}
.s_page38_193
{
position:absolute;top:3092.91px;left:4171.25px;
}
.s_page38_194
{
position:absolute;top:3092.91px;left:4426.61px;letter-spacing:-1px;
}
.s_page38_195
{
position:absolute;top:3092.91px;left:5012.68px;
}
.s_page38_196
{
position:absolute;top:3092.91px;left:5249.79px;
}
.s_page38_197
{
position:absolute;top:3092.91px;left:7339.59px;letter-spacing:-0.88px;
}
.s_page38_198
{
position:absolute;top:3546.3px;left:0px;
}
.s_page38_199
{
position:absolute;top:3546.3px;left:713.04px;letter-spacing:-1.28px;
}
.s_page38_200
{
position:absolute;top:3546.3px;left:1160px;letter-spacing:-0.42px;
}
.s_page38_201
{
position:absolute;top:3546.3px;left:1615.41px;
}
.s_page38_202
{
position:absolute;top:3546.3px;left:2578.89px;letter-spacing:-0.44px;
}
.s_page38_203
{
position:absolute;top:3546.3px;left:3290.37px;letter-spacing:-0.82px;
}
.s_page38_204
{
position:absolute;top:3546.3px;left:3868.41px;
}
.s_page38_205
{
position:absolute;top:3546.3px;left:6406.15px;
}
.s_page38_206
{
position:absolute;top:3546.3px;left:6634.28px;letter-spacing:-3px;
}
.s_page38_207
{
position:absolute;top:3546.3px;left:6816.8px;letter-spacing:-0.22px;
}
.s_page38_208
{
position:absolute;top:3546.3px;left:8212.76px;letter-spacing:-2.48px;
}
.s_page38_209
{
position:absolute;top:3546.3px;left:8484.33px;
}
.s_page38_210
{
position:absolute;top:3546.3px;left:9075.2px;
}
.s_page38_211
{
position:absolute;top:3546.3px;left:9122.59px;letter-spacing:-1.96px;
}
.s_page38_212
{
position:absolute;top:3886.3px;left:1160.06px;letter-spacing:-1.23px;
}
.s_page38_213
{
position:absolute;top:3886.3px;left:1954.94px;
}
.s_page38_214
{
position:absolute;top:3886.3px;left:2426.77px;letter-spacing:-0.6px;
}
.s_page38_215
{
position:absolute;top:3886.3px;left:3056.52px;
}
.s_page38_216
{
position:absolute;top:3886.3px;left:3121.8px;letter-spacing:-1.61px;
}
.s_page38_217
{
position:absolute;top:4339.69px;left:0px;
}
.s_page38_218
{
position:absolute;top:4339.69px;left:752.16px;letter-spacing:-6.72px;
}
.s_page38_219
{
position:absolute;top:4339.69px;left:1160px;
}
.s_page38_220
{
position:absolute;top:4339.69px;left:1420.21px;
}
.s_page38_221
{
position:absolute;top:4339.69px;left:1945.86px;letter-spacing:-0.14px;
}
.s_page38_222
{
position:absolute;top:4339.69px;left:3081.35px;
}
.s_page38_223
{
position:absolute;top:4339.69px;left:5623.09px;
}
.s_page38_224
{
position:absolute;top:4339.69px;left:6544.98px;
}
.s_page38_225
{
position:absolute;top:4339.69px;left:6955.91px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page38_226
{
position:absolute;top:4339.69px;left:7448.67px;
}
.s_page38_227
{
position:absolute;top:4339.69px;left:8166.08px;letter-spacing:-0.48px;
}
.s_page38_228
{
position:absolute;top:4339.69px;left:9026.3px;
}
.s_page38_229
{
position:absolute;top:4339.69px;left:9306.19px;
}
.s_page38_230
{
position:absolute;top:4679.69px;left:1160.06px;letter-spacing:-3px;
}
.s_page38_231
{
position:absolute;top:4679.69px;left:1351.58px;letter-spacing:-1.3px;
}
.s_page38_232
{
position:absolute;top:4679.69px;left:2163.73px;
}
.s_page38_233
{
position:absolute;top:4679.69px;left:2415.73px;letter-spacing:-0.65px;
}
.s_page38_234
{
position:absolute;top:4679.69px;left:3435.95px;letter-spacing:-0.65px;
}
.s_page38_235
{
position:absolute;top:5133.07px;left:0px;
}
.s_page38_236
{
position:absolute;top:5133.07px;left:706.33px;letter-spacing:-1.2px;
}
.s_page38_237
{
position:absolute;top:5133.07px;left:1160px;
}
.s_page38_238
{
position:absolute;top:5133.07px;left:3703.18px;letter-spacing:-1.62px;
}
.s_page38_239
{
position:absolute;top:5133.07px;left:4115.06px;
}
.s_page38_240
{
position:absolute;top:5133.07px;left:4530.79px;letter-spacing:-1.15px;
}
.s_page38_241
{
position:absolute;top:5133.07px;left:5043.47px;
}
.s_page38_242
{
position:absolute;top:5133.07px;left:6163.6px;
}
.s_page38_243
{
position:absolute;top:5133.07px;left:6411.33px;
}
.s_page38_244
{
position:absolute;top:5133.07px;left:6822.49px;letter-spacing:-0.48px;
}
.s_page38_245
{
position:absolute;top:5133.07px;left:7499.57px;
}
.s_page38_246
{
position:absolute;top:5133.07px;left:8032.42px;letter-spacing:-3px;
}
.s_page38_247
{
position:absolute;top:5133.07px;left:8220.39px;letter-spacing:-1.15px;
}
.s_page38_248
{
position:absolute;top:5133.07px;left:8821.15px;letter-spacing:-1.65px;
}
.s_page38_249
{
position:absolute;top:5473.07px;left:1160.06px;
}
.s_page38_250
{
position:absolute;top:5473.07px;left:1696.45px;
}
.s_page38_251
{
position:absolute;top:5926.46px;left:0px;
}
.s_page38_252
{
position:absolute;top:5926.46px;left:714.48px;letter-spacing:-2.48px;
}
.s_page38_253
{
position:absolute;top:5926.46px;left:1160px;
}
.s_page38_254
{
position:absolute;top:5926.46px;left:3726.68px;
}
.s_page38_255
{
position:absolute;top:5926.46px;left:3994.78px;letter-spacing:-0.29px;
}
.s_page38_256
{
position:absolute;top:5926.46px;left:4957.68px;letter-spacing:-2.58px;
}
.s_page38_257
{
position:absolute;top:5926.46px;left:5484.75px;
}
.s_page38_258
{
position:absolute;top:5926.46px;left:5741.82px;
}
.s_page38_259
{
position:absolute;top:5926.46px;left:6371.12px;letter-spacing:-1.2px;
}
.s_page38_260
{
position:absolute;top:5926.46px;left:7093.3px;letter-spacing:-0.58px;
}
.s_page38_261
{
position:absolute;top:5926.46px;left:7919.16px;
}
.s_page38_262
{
position:absolute;top:5926.46px;left:8363.9px;letter-spacing:-3.12px;
}
.s_page38_263
{
position:absolute;top:5926.46px;left:8703.29px;
}
.s_page38_264
{
position:absolute;top:5926.46px;left:9142.51px;letter-spacing:-1.6px;
}
.s_page38_265
{
position:absolute;top:6266.46px;left:1160.06px;letter-spacing:-0.8px;
}
.s_page38_266
{
position:absolute;top:6719.84px;left:0px;
}
.s_page38_267
{
position:absolute;top:6719.84px;left:642.49px;letter-spacing:-1.86px;
}
.s_page38_268
{
position:absolute;top:6719.84px;left:1160px;
}
.s_page38_269
{
position:absolute;top:6719.84px;left:3770.71px;letter-spacing:-3px;
}
.s_page38_270
{
position:absolute;top:6719.84px;left:3967.41px;letter-spacing:-0.88px;
}
.s_page38_271
{
position:absolute;top:6719.84px;left:5313.21px;letter-spacing:-0.21px;
}
.s_page38_272
{
position:absolute;top:6719.84px;left:5984.39px;letter-spacing:-0.66px;
}
.s_page38_273
{
position:absolute;top:6719.84px;left:6495.73px;letter-spacing:-1.2px;
}
.s_page38_274
{
position:absolute;top:6719.84px;left:7747.22px;
}
.s_page38_275
{
position:absolute;top:6719.84px;left:8007.76px;
}
.s_page38_276
{
position:absolute;top:6719.84px;left:8643.41px;
}
.s_page38_277
{
position:absolute;top:6719.84px;left:8986.51px;letter-spacing:-0.68px;
}
.s_page38_278
{
position:absolute;top:7059.84px;left:1160.06px;
}
.s_page38_279
{
position:absolute;top:7059.84px;left:2113.81px;
}
.s_page38_280
{
position:absolute;top:7533.23px;left:0px;
}
.s_page38_281
{
position:absolute;top:7533.23px;left:221.84px;
}
.s_page38_282
{
position:absolute;top:7533.23px;left:639.94px;letter-spacing:-0.91px;
}
.s_page38_283
{
position:absolute;top:7533.23px;left:1574.49px;
}
.s_page38_284
{
position:absolute;top:7533.23px;left:2005.28px;letter-spacing:-0.5px;
}
.s_page38_285
{
position:absolute;top:7533.23px;left:3113.35px;
}
.s_page38_286
{
position:absolute;top:7533.23px;left:3593.59px;
}
.s_page38_287
{
position:absolute;top:7533.23px;left:4249.5px;letter-spacing:-0.88px;
}
.s_page38_288
{
position:absolute;top:7533.23px;left:4840.38px;
}
.s_page38_289
{
position:absolute;top:7533.23px;left:8772.44px;letter-spacing:-1.02px;
}
.s_page38_290
{
position:absolute;top:10013.54px;left:0px;
}
.s_page38_291
{
position:absolute;top:10013.54px;left:718.05px;letter-spacing:-1.04px;
}
.s_page38_292
{
position:absolute;top:10013.54px;left:892.04px;
}
.s_page38_293
{
position:absolute;top:10013.54px;left:2919.2px;
}
.s_page38_294
{
position:absolute;top:10013.54px;left:3163.28px;
}
.s_page38_295
{
position:absolute;top:10013.54px;left:5190.44px;letter-spacing:-1.28px;
}
.s_page38_296
{
position:absolute;top:10013.54px;left:5438.11px;
}
.s_page38_297
{
position:absolute;top:10013.54px;left:7465.27px;letter-spacing:-0.8px;
}
.s_page38_298
{
position:absolute;top:10013.54px;left:7708.86px;
}
.s_page38_299
{
position:absolute;top:10486.93px;left:0px;
}
.s_page38_300
{
position:absolute;top:10486.93px;left:219.93px;
}
.s_page38_301
{
position:absolute;top:10486.93px;left:639.94px;letter-spacing:-0.86px;
}
.s_page38_302
{
position:absolute;top:10486.93px;left:1198.41px;letter-spacing:-0.67px;
}
.s_page38_303
{
position:absolute;top:10486.93px;left:2372.25px;letter-spacing:-0.51px;
}
.s_page38_304
{
position:absolute;top:10486.93px;left:3389.11px;letter-spacing:-1.92px;
}
.s_page38_305
{
position:absolute;top:10486.93px;left:3777.43px;
}
.s_page38_306
{
position:absolute;top:10486.93px;left:4208.23px;letter-spacing:-0.46px;
}
.s_page38_307
{
position:absolute;top:10486.93px;left:8758.99px;letter-spacing:-1.41px;
}
.s_page38_308
{
position:absolute;top:10940.32px;left:0px;
}
.s_page38_309
{
position:absolute;top:10940.32px;left:791.28px;letter-spacing:-1.04px;
}
.s_page38_310
{
position:absolute;top:10940.32px;left:1160px;letter-spacing:-3.6px;
}
.s_page38_311
{
position:absolute;top:10940.32px;left:1363.51px;letter-spacing:-0.26px;
}
.s_page38_312
{
position:absolute;top:10940.32px;left:2761.98px;letter-spacing:-0.69px;
}
.s_page38_313
{
position:absolute;top:10940.32px;left:3646.36px;
}
.s_page38_314
{
position:absolute;top:10940.32px;left:4289.55px;
}
.s_page38_315
{
position:absolute;top:10940.32px;left:4903.46px;letter-spacing:-0.69px;
}
.s_page38_316
{
position:absolute;top:10940.32px;left:5797.93px;
}
.s_page38_317
{
position:absolute;top:10940.32px;left:6053.28px;
}
.s_page38_318
{
position:absolute;top:10940.32px;left:7031.02px;
}
.s_page38_319
{
position:absolute;top:10940.32px;left:8168.2px;
}
.s_page38_320
{
position:absolute;top:11337.01px;left:0px;
}
.s_page38_321
{
position:absolute;top:11337.01px;left:721.2px;
}
.s_page38_322
{
position:absolute;top:11337.01px;left:1160px;letter-spacing:-0.42px;
}
.s_page38_323
{
position:absolute;top:11337.01px;left:1624.4px;
}
.s_page38_324
{
position:absolute;top:11337.01px;left:2237.82px;letter-spacing:-0.14px;
}
.s_page38_325
{
position:absolute;top:11337.01px;left:3376.84px;
}
.s_page38_326
{
position:absolute;top:11337.01px;left:4280.42px;letter-spacing:-0.79px;
}
.s_page38_327
{
position:absolute;top:11337.01px;left:5028.25px;
}
.s_page38_328
{
position:absolute;top:11337.01px;left:5283.61px;letter-spacing:-3px;
}
.s_page38_329
{
position:absolute;top:11337.01px;left:5475.13px;letter-spacing:-0.51px;
}
.s_page38_330
{
position:absolute;top:11337.01px;left:7061.26px;letter-spacing:-0.78px;
}
.s_page38_331
{
position:absolute;top:11337.01px;left:8168.2px;
}
.s_page38_332
{
position:absolute;top:11733.7px;left:0px;
}
.s_page38_333
{
position:absolute;top:11733.7px;left:717.6px;letter-spacing:-1.28px;
}
.s_page38_334
{
position:absolute;top:11733.7px;left:1160px;letter-spacing:-0.88px;
}
.s_page38_335
{
position:absolute;top:11733.7px;left:1520.96px;
}
.s_page38_336
{
position:absolute;top:11733.7px;left:1753.99px;
}
.s_page38_337
{
position:absolute;top:11733.7px;left:2173.26px;letter-spacing:-1.5px;
}
.s_page38_338
{
position:absolute;top:11733.7px;left:3029.09px;letter-spacing:-2.48px;
}
.s_page38_339
{
position:absolute;top:11733.7px;left:3302.92px;letter-spacing:-3.55px;
}
.s_page38_340
{
position:absolute;top:11733.7px;left:4179.39px;letter-spacing:-3px;
}
.s_page38_341
{
position:absolute;top:11733.7px;left:4370.9px;
}
.s_page38_342
{
position:absolute;top:11733.7px;left:5055.13px;letter-spacing:-0.26px;
}
.s_page38_343
{
position:absolute;top:11733.7px;left:6342.47px;letter-spacing:-0.32px;
}
.s_page38_344
{
position:absolute;top:11733.7px;left:8168.2px;
}
.s_page38_345
{
position:absolute;top:12130.39px;left:0px;
}
.s_page38_346
{
position:absolute;top:12130.39px;left:721.68px;letter-spacing:-0.8px;
}
.s_page38_347
{
position:absolute;top:12130.39px;left:1160px;letter-spacing:-3.6px;
}
.s_page38_348
{
position:absolute;top:12130.39px;left:1367.59px;
}
.s_page38_349
{
position:absolute;top:12130.39px;left:2394.3px;letter-spacing:-0.72px;
}
.s_page38_350
{
position:absolute;top:12130.39px;left:3390.53px;letter-spacing:-3.12px;
}
.s_page38_351
{
position:absolute;top:12130.39px;left:3709.96px;
}
.s_page38_352
{
position:absolute;top:12130.39px;left:4129.23px;
}
.s_page38_353
{
position:absolute;top:12130.39px;left:4747.22px;
}
.s_page38_354
{
position:absolute;top:12130.39px;left:5252.41px;
}
.s_page38_355
{
position:absolute;top:12130.39px;left:5489.53px;letter-spacing:-0.54px;
}
.s_page38_356
{
position:absolute;top:12130.39px;left:6800.38px;letter-spacing:-2.4px;
}
.s_page38_357
{
position:absolute;top:12130.39px;left:7170.46px;
}
.s_page38_358
{
position:absolute;top:12470.39px;left:1160.06px;letter-spacing:-0.51px;
}
.s_page38_359
{
position:absolute;top:12470.39px;left:1955.89px;letter-spacing:-2.48px;
}
.s_page38_360
{
position:absolute;top:12470.39px;left:2236.45px;
}
.s_page38_361
{
position:absolute;top:12470.39px;left:8168.2px;
}
.s_page38_362
{
position:absolute;top:12867.09px;left:0px;
}
.s_page38_363
{
position:absolute;top:12867.09px;left:724.08px;letter-spacing:-1.28px;
}
.s_page38_364
{
position:absolute;top:12867.09px;left:1160px;letter-spacing:-0.28px;
}
.s_page38_365
{
position:absolute;top:12867.09px;left:1873.75px;letter-spacing:-0.51px;
}
.s_page38_366
{
position:absolute;top:12867.09px;left:2808.54px;letter-spacing:-0.33px;
}
.s_page38_367
{
position:absolute;top:12867.09px;left:3799.73px;letter-spacing:-0.16px;
}
.s_page38_368
{
position:absolute;top:12867.09px;left:4862.2px;letter-spacing:-2.48px;
}
.s_page38_369
{
position:absolute;top:12867.09px;left:5137px;letter-spacing:-0.45px;
}
.s_page38_370
{
position:absolute;top:12867.09px;left:5994.26px;letter-spacing:-0.44px;
}
.s_page38_371
{
position:absolute;top:12867.09px;left:6714.74px;letter-spacing:-0.68px;
}
.s_page38_372
{
position:absolute;top:13207.09px;left:1160.06px;letter-spacing:-1.68px;
}
.s_page38_373
{
position:absolute;top:13207.09px;left:1578.38px;
}
.s_page38_374
{
position:absolute;top:13207.09px;left:2122.21px;
}
.s_page38_375
{
position:absolute;top:13207.09px;left:2846.75px;
}
.s_page38_376
{
position:absolute;top:13207.09px;left:3818.74px;letter-spacing:-0.29px;
}
.s_page38_377
{
position:absolute;top:13207.09px;left:4787.13px;
}
.s_page38_378
{
position:absolute;top:13207.09px;left:5616.79px;
}
.s_page38_379
{
position:absolute;top:13207.09px;left:6171.9px;
}
.s_page38_380
{
position:absolute;top:13207.09px;left:6637.98px;letter-spacing:-0.64px;
}
.s_page38_381
{
position:absolute;top:13207.09px;left:8168.2px;
}
.s_page38_382
{
position:absolute;top:13603.78px;left:0px;
}
.s_page38_383
{
position:absolute;top:13603.78px;left:713.04px;letter-spacing:-1.28px;
}
.s_page38_384
{
position:absolute;top:13603.78px;left:1160px;letter-spacing:-0.34px;
}
.s_page38_385
{
position:absolute;top:13603.78px;left:1663.51px;letter-spacing:-0.24px;
}
.s_page38_386
{
position:absolute;top:13603.78px;left:2275.26px;
}
.s_page38_387
{
position:absolute;top:13603.78px;left:2512.38px;
}
.s_page38_388
{
position:absolute;top:13603.78px;left:3019.49px;letter-spacing:-0.48px;
}
.s_page38_389
{
position:absolute;top:13603.78px;left:3802.36px;
}
.s_page38_390
{
position:absolute;top:13603.78px;left:4112.43px;
}
.s_page38_391
{
position:absolute;top:13603.78px;left:4531.7px;letter-spacing:-0.53px;
}
.s_page38_392
{
position:absolute;top:13603.78px;left:5400.49px;letter-spacing:-3.42px;
}
.s_page38_393
{
position:absolute;top:13603.78px;left:8168.2px;
}
.s_page38_394
{
position:absolute;top:-5.54px;left:112.74px;
}

.page69_btn1 {
	position: absolute;
	top: 800px;
	left: 920px;
}
.page69_btn2 {
	position: absolute;
	top: 800px;
	left: 853px;
}
.page69_btn3 {
	position: absolute;
	top: 20px;
	left: 858px;
	display: none;
}
.page69_position1 {
	position: absolute;
	top: 117px;
	left: 953px;
}
.page69_position2 {
	position: absolute;
	top: 139px;
	left: 708px;
}
.page69_position3 {
	position: absolute;
	top: 179px;
	left: 708px;
}
.page69_position4 {
	position: absolute;
	top: 202px;
	left: 701px;
}
.page69_position5 {
	position: absolute;
	top: 224px;
	left: 911px;
}
.page69_position6 {
	position: absolute;
	top: 247px;
	left: 843px;
}
.page69_position7 {
	position: absolute;
	top: 287px;
	left: 804px;
}
.page69_position8 {
	position: absolute;
	top: 326px;
	left: 708px;
}
.page69_position9 {
	position: absolute;
	top: 366px;
	left: 709px;
}
.page69_position10 {
	position: absolute;
	top: 406px;
	left: 710px;
}
.page69_position11 {
	position: absolute;
	top: 571px;
	left: 692px;
}
.page69_position12 {
	position: absolute;
	top: 571px;
	left: 799px;
}
.page69_position13 {
	position: absolute;
	top: 571px;
	left: 920px;
}
.page69_position14 {
	position: absolute;
	top: 571px;
	left: 1034px;
}
.page69_position15 {
	position: absolute;
	top: 617px;
	left: 1031px;
}
.page69_position16 {
	position: absolute;
	top: 637px;
	left: 1034px;
}
.page69_position17 {
	position: absolute;
	top: 657px;
	left: 1035px;
}
.page69_position18 {
	position: absolute;
	top: 693px;
	left: 1035px;
}
.page69_position19 {
	position: absolute;
	top: 730px;
	left: 1036px;
}
.page69_position20 {
	position: absolute;
	top: 749px;
	left: 1035px;
}

.head {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#score {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 22px;
	font-weight: bold;
	position: relative;
	text-align: center;
	color: green;
}
.head1 {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	text-align: center;
}
#btnYes {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	margin-left: 140px;
	background-color: #5CD7E7;
	border-radius: 10px;
}
#btnNo {
	font-family: "Cabrito_Sans_Norm_Book";
	font-size: 16px;
	font-weight: bold;
	position: relative;
	background-color: #5CD7E7;
	border-radius: 10px;
}
.italic {
	font-style: italic;
}

.page68_btn1 {
	position:absolute;
	top: 790px;
	left: 270px;
}
.page68_position1 {
	position:absolute;
	top: 126px;
	left: 92px;
}
.page68_position2 {
	position:absolute;
	top: 240px;
	left: 92px;
}
.page68_position3 {
	position:absolute;
	top: 350px;
	left: 92px;
}
.page68_position4 {
	position:absolute;
	top: 490px;
	left: 92px;
}
.page68_position5 {
	position:absolute;
	top: 631px;
	left: 92px;
}
