.d_page68-69_1
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(0.00px,0.00px);-webkit-transform:translate(0.00px,0.00px);-moz-transform:translate(0.00px,0.00px);-ms-transform:translate(0.00px,0.00px);-o-transform:translate(0.00px,0.00px);width:595.28px;height:841.89px
}
.d_page68-69_2
{
width:9508px;height:12878.84px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.27px) rotate(0deg) scale(0.05);
}
.d_page68-69_3
{
width:538.58px;height:270.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.36px) rotate(0deg) scale(0.05);
}
.d_page68-69_4
{
position:absolute;overflow:hidden;left:0px;top:0px;transform:translate(595.28px,0.00px);-webkit-transform:translate(595.28px,0.00px);-moz-transform:translate(595.28px,0.00px);-ms-transform:translate(595.28px,0.00px);-o-transform:translate(595.28px,0.00px);width:595.28px;height:841.89px
}
.d_page68-69_5
{
width:9690.9px;height:13975.46px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);-o-transform: translate(0px,4.12px) rotate(0deg) scale(0.05);
}
.d_page68-69_6
{
width:560.18px;height:281.72px;position:absolute;top:0px;left:0px;transform-origin: 0% 0%;-webkit-transform-origin: 0% 0%;-moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;-o-transform-origin: 0% 0%; transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-webkit-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-moz-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-ms-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);-o-transform: translate(0px,3.09px) rotate(0deg) scale(0.05);
}
.s_page68-69_7
{
position:absolute;top:-18px;left:0px;
}
.s_page68-69_8
{
position:absolute;top:-18px;left:253.04px;letter-spacing:-1.28px;
}
.s_page68-69_9
{
position:absolute;top:-18px;left:639.94px;letter-spacing:-0.38px;
}
.s_page68-69_10
{
position:absolute;top:-18px;left:1291.06px;
}
.s_page68-69_11
{
position:absolute;top:-18px;left:2266.18px;letter-spacing:-0.66px;
}
.s_page68-69_12
{
position:absolute;top:-18px;left:2789.63px;
}
.s_page68-69_13
{
position:absolute;top:-18px;left:3396.36px;
}
.s_page68-69_14
{
position:absolute;top:-18px;left:3664.93px;
}
.s_page68-69_15
{
position:absolute;top:-18px;left:4101.49px;letter-spacing:-0.2px;
}
.s_page68-69_16
{
position:absolute;top:-18px;left:5546.28px;letter-spacing:-2.48px;
}
.s_page68-69_17
{
position:absolute;top:-18px;left:5840.06px;
}
.s_page68-69_18
{
position:absolute;top:-18px;left:6276.62px;
}
.s_page68-69_19
{
position:absolute;top:-18px;left:6888.87px;letter-spacing:-0.65px;
}
.s_page68-69_20
{
position:absolute;top:-18px;left:8337.99px;letter-spacing:-1.38px;
}
.s_page68-69_21
{
position:absolute;top:-18px;left:8913.04px;letter-spacing:-1.68px;
}
.s_page68-69_22
{
position:absolute;top:342px;left:639.94px;
}
.s_page68-69_23
{
position:absolute;top:342px;left:1309.04px;letter-spacing:-2.48px;
}
.s_page68-69_24
{
position:absolute;top:342px;left:1589.6px;letter-spacing:-0.72px;
}
.s_page68-69_25
{
position:absolute;top:342px;left:2582.94px;
}
.s_page68-69_26
{
position:absolute;top:342px;left:3054.77px;letter-spacing:-0.46px;
}
.s_page68-69_27
{
position:absolute;top:342px;left:4665.87px;
}
.s_page68-69_28
{
position:absolute;top:342px;left:5451.62px;letter-spacing:-1.87px;
}
.s_page68-69_29
{
position:absolute;top:342px;left:6063.37px;
}
.s_page68-69_30
{
position:absolute;top:902.69px;left:0px;
}
.s_page68-69_31
{
position:absolute;top:902.69px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_32
{
position:absolute;top:1463.38px;left:0px;
}
.s_page68-69_33
{
position:absolute;top:1463.38px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_34
{
position:absolute;top:2024.08px;left:0px;
}
.s_page68-69_35
{
position:absolute;top:2024.08px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_36
{
position:absolute;top:2584.77px;left:0px;
}
.s_page68-69_37
{
position:absolute;top:2584.77px;left:292.16px;letter-spacing:-6.72px;
}
.s_page68-69_38
{
position:absolute;top:2584.77px;left:639.94px;letter-spacing:-0.38px;
}
.s_page68-69_39
{
position:absolute;top:2584.77px;left:1273.77px;letter-spacing:0px;
}
.s_page68-69_40
{
position:absolute;top:2584.77px;left:1510.88px;
}
.s_page68-69_41
{
position:absolute;top:2584.77px;left:2308.63px;letter-spacing:0px;
}
.s_page68-69_42
{
position:absolute;top:2584.77px;left:3000.3px;
}
.s_page68-69_43
{
position:absolute;top:2584.77px;left:3419.57px;letter-spacing:-0.93px;
}
.s_page68-69_44
{
position:absolute;top:2584.77px;left:4580.44px;
}
.s_page68-69_45
{
position:absolute;top:2584.77px;left:5052.27px;
}
.s_page68-69_46
{
position:absolute;top:2584.77px;left:6413.77px;
}
.s_page68-69_47
{
position:absolute;top:2584.77px;left:7196.88px;letter-spacing:-2.48px;
}
.s_page68-69_48
{
position:absolute;top:2584.77px;left:7473.36px;
}
.s_page68-69_49
{
position:absolute;top:2584.77px;left:7892.63px;letter-spacing:-0.72px;
}
.s_page68-69_50
{
position:absolute;top:3145.46px;left:0px;
}
.s_page68-69_51
{
position:absolute;top:3145.46px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_52
{
position:absolute;top:3706.16px;left:0px;
}
.s_page68-69_53
{
position:absolute;top:3706.16px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_54
{
position:absolute;top:4266.85px;left:0px;
}
.s_page68-69_55
{
position:absolute;top:4266.85px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_56
{
position:absolute;top:4827.54px;left:0px;
}
.s_page68-69_57
{
position:absolute;top:4827.54px;left:246.33px;letter-spacing:-1.2px;
}
.s_page68-69_58
{
position:absolute;top:4827.54px;left:639.94px;letter-spacing:-1.4px;
}
.s_page68-69_59
{
position:absolute;top:4827.54px;left:1409.85px;letter-spacing:-1.62px;
}
.s_page68-69_60
{
position:absolute;top:4827.54px;left:1825.28px;
}
.s_page68-69_61
{
position:absolute;top:4827.54px;left:2244.55px;letter-spacing:0px;
}
.s_page68-69_62
{
position:absolute;top:4827.54px;left:2969.1px;
}
.s_page68-69_63
{
position:absolute;top:4827.54px;left:3721.25px;
}
.s_page68-69_64
{
position:absolute;top:4827.54px;left:4592.19px;
}
.s_page68-69_65
{
position:absolute;top:4827.54px;left:5059.46px;letter-spacing:-1.5px;
}
.s_page68-69_66
{
position:absolute;top:5388.24px;left:0px;
}
.s_page68-69_67
{
position:absolute;top:5388.24px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_68
{
position:absolute;top:5948.93px;left:0px;
}
.s_page68-69_69
{
position:absolute;top:5948.93px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_70
{
position:absolute;top:6509.62px;left:0px;
}
.s_page68-69_71
{
position:absolute;top:6509.62px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_72
{
position:absolute;top:7070.31px;left:0px;
}
.s_page68-69_73
{
position:absolute;top:7070.31px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_74
{
position:absolute;top:7631.01px;left:0px;
}
.s_page68-69_75
{
position:absolute;top:7631.01px;left:254.48px;letter-spacing:-2.48px;
}
.s_page68-69_76
{
position:absolute;top:7631.01px;left:639.94px;letter-spacing:-0.38px;
}
.s_page68-69_77
{
position:absolute;top:7631.01px;left:1322.73px;
}
.s_page68-69_78
{
position:absolute;top:7631.01px;left:1790px;letter-spacing:-2.1px;
}
.s_page68-69_79
{
position:absolute;top:7631.01px;left:2300.72px;letter-spacing:-0.66px;
}
.s_page68-69_80
{
position:absolute;top:7631.01px;left:2806.88px;
}
.s_page68-69_81
{
position:absolute;top:7631.01px;left:3013.75px;
}
.s_page68-69_82
{
position:absolute;top:7631.01px;left:4287.65px;
}
.s_page68-69_83
{
position:absolute;top:7631.01px;left:4601.8px;letter-spacing:-3px;
}
.s_page68-69_84
{
position:absolute;top:7631.01px;left:4793.32px;letter-spacing:-0.82px;
}
.s_page68-69_85
{
position:absolute;top:7631.01px;left:5807.55px;letter-spacing:-1.64px;
}
.s_page68-69_86
{
position:absolute;top:7631.01px;left:6508.1px;letter-spacing:-0.29px;
}
.s_page68-69_87
{
position:absolute;top:7631.01px;left:7510.33px;letter-spacing:-1.25px;
}
.s_page68-69_88
{
position:absolute;top:8191.7px;left:0px;
}
.s_page68-69_89
{
position:absolute;top:8191.7px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_90
{
position:absolute;top:8752.39px;left:0px;
}
.s_page68-69_91
{
position:absolute;top:8752.39px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_92
{
position:absolute;top:9313.09px;left:0px;
}
.s_page68-69_93
{
position:absolute;top:9313.09px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_94
{
position:absolute;top:9873.78px;left:0px;
}
.s_page68-69_95
{
position:absolute;top:9873.78px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_96
{
position:absolute;top:10434.47px;left:0px;
}
.s_page68-69_97
{
position:absolute;top:10434.47px;left:182.49px;letter-spacing:-1.86px;
}
.s_page68-69_98
{
position:absolute;top:10434.47px;left:639.94px;letter-spacing:-0.38px;
}
.s_page68-69_99
{
position:absolute;top:10434.47px;left:1273.77px;letter-spacing:-1.62px;
}
.s_page68-69_100
{
position:absolute;top:10434.47px;left:1689.2px;
}
.s_page68-69_101
{
position:absolute;top:10434.47px;left:2108.47px;letter-spacing:-0.72px;
}
.s_page68-69_102
{
position:absolute;top:10434.47px;left:3722.21px;letter-spacing:-0.81px;
}
.s_page68-69_103
{
position:absolute;top:10434.47px;left:4561.96px;
}
.s_page68-69_104
{
position:absolute;top:10434.47px;left:4847.31px;
}
.s_page68-69_105
{
position:absolute;top:10434.47px;left:5259.86px;letter-spacing:-6.3px;
}
.s_page68-69_106
{
position:absolute;top:10434.47px;left:5620.57px;letter-spacing:-0.38px;
}
.s_page68-69_107
{
position:absolute;top:10995.16px;left:0px;
}
.s_page68-69_108
{
position:absolute;top:10995.16px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_109
{
position:absolute;top:11555.86px;left:0px;
}
.s_page68-69_110
{
position:absolute;top:11555.86px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_111
{
position:absolute;top:12116.55px;left:0px;
}
.s_page68-69_112
{
position:absolute;top:12116.55px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_113
{
position:absolute;top:12677.24px;left:0px;
}
.s_page68-69_114
{
position:absolute;top:12677.24px;left:639.94px;letter-spacing:0px;
}
.s_page68-69_115
{
position:absolute;top:-11.04px;left:98.41px;
}
.s_page68-69_116
{
position:absolute;top:-21px;left:0px;letter-spacing:-6.27px;
}
.s_page68-69_117
{
position:absolute;top:-21px;left:615.43px;letter-spacing:-1.87px;
}
.s_page68-69_118
{
position:absolute;top:-21px;left:1459.9px;
}
.s_page68-69_119
{
position:absolute;top:12.6px;left:1554.26px;
}
.s_page68-69_120
{
position:absolute;top:12.6px;left:8032.76px;letter-spacing:-4.92px;
}
.s_page68-69_121
{
position:absolute;top:12.6px;left:8613.32px;letter-spacing:-0.38px;
}
.s_page68-69_122
{
position:absolute;top:12.6px;left:9414.43px;
}
.s_page68-69_123
{
position:absolute;top:485.98px;left:0px;
}
.s_page68-69_124
{
position:absolute;top:485.98px;left:212px;
}
.s_page68-69_125
{
position:absolute;top:485.98px;left:639.94px;
}
.s_page68-69_126
{
position:absolute;top:485.98px;left:1015.05px;
}
.s_page68-69_127
{
position:absolute;top:485.98px;left:1272.81px;letter-spacing:0px;
}
.s_page68-69_128
{
position:absolute;top:485.98px;left:1703.6px;
}
.s_page68-69_129
{
position:absolute;top:485.98px;left:2499.19px;letter-spacing:0px;
}
.s_page68-69_130
{
position:absolute;top:485.98px;left:3057.43px;letter-spacing:-0.36px;
}
.s_page68-69_131
{
position:absolute;top:485.98px;left:4469.57px;letter-spacing:-0.45px;
}
.s_page68-69_132
{
position:absolute;top:485.98px;left:8594.59px;letter-spacing:-0.83px;
}
.s_page68-69_133
{
position:absolute;top:939.37px;left:0px;
}
.s_page68-69_134
{
position:absolute;top:939.37px;left:791.28px;letter-spacing:-1.04px;
}
.s_page68-69_135
{
position:absolute;top:939.37px;left:1160px;letter-spacing:-0.42px;
}
.s_page68-69_136
{
position:absolute;top:939.37px;left:1621.04px;
}
.s_page68-69_137
{
position:absolute;top:939.37px;left:2013.67px;letter-spacing:-0.82px;
}
.s_page68-69_138
{
position:absolute;top:939.37px;left:2600.7px;letter-spacing:-2.48px;
}
.s_page68-69_139
{
position:absolute;top:939.37px;left:2877.18px;
}
.s_page68-69_140
{
position:absolute;top:939.37px;left:3296.45px;
}
.s_page68-69_141
{
position:absolute;top:939.37px;left:4200.03px;letter-spacing:-1.47px;
}
.s_page68-69_142
{
position:absolute;top:939.37px;left:4892.17px;
}
.s_page68-69_143
{
position:absolute;top:939.37px;left:5311.44px;letter-spacing:-6px;
}
.s_page68-69_144
{
position:absolute;top:939.37px;left:5806.32px;
}
.s_page68-69_145
{
position:absolute;top:939.37px;left:6043.43px;
}
.s_page68-69_146
{
position:absolute;top:939.37px;left:9436.1px;
}
.s_page68-69_147
{
position:absolute;top:1392.76px;left:0px;
}
.s_page68-69_148
{
position:absolute;top:1392.76px;left:721.2px;
}
.s_page68-69_149
{
position:absolute;top:1392.76px;left:1160px;
}
.s_page68-69_150
{
position:absolute;top:1392.76px;left:4954.88px;letter-spacing:0px;
}
.s_page68-69_151
{
position:absolute;top:1392.76px;left:5255.82px;
}
.s_page68-69_152
{
position:absolute;top:1392.76px;left:5652.05px;
}
.s_page68-69_153
{
position:absolute;top:1392.76px;left:6314.91px;letter-spacing:-0.36px;
}
.s_page68-69_154
{
position:absolute;top:1392.76px;left:7313.29px;letter-spacing:-2.4px;
}
.s_page68-69_155
{
position:absolute;top:1392.76px;left:7747.19px;
}
.s_page68-69_156
{
position:absolute;top:1392.76px;left:8230.29px;letter-spacing:-0.13px;
}
.s_page68-69_157
{
position:absolute;top:1392.76px;left:9475.62px;letter-spacing:-2.48px;
}
.s_page68-69_158
{
position:absolute;top:1732.76px;left:1160.06px;
}
.s_page68-69_159
{
position:absolute;top:1732.76px;left:2930.51px;letter-spacing:-0.72px;
}
.s_page68-69_160
{
position:absolute;top:1732.76px;left:3859.3px;
}
.s_page68-69_161
{
position:absolute;top:1732.76px;left:4327.78px;text-rendering:optimizeLegibility;
}
.s_page68-69_162
{
position:absolute;top:1732.76px;left:5239.04px;letter-spacing:-0.92px;
}
.s_page68-69_163
{
position:absolute;top:1732.76px;left:5803.75px;
}
.s_page68-69_164
{
position:absolute;top:1732.76px;left:6433.74px;
}
.s_page68-69_165
{
position:absolute;top:2186.14px;left:0px;
}
.s_page68-69_166
{
position:absolute;top:2186.14px;left:717.6px;letter-spacing:-1.28px;
}
.s_page68-69_167
{
position:absolute;top:2186.14px;left:1160px;
}
.s_page68-69_168
{
position:absolute;top:2186.14px;left:3706.72px;
}
.s_page68-69_169
{
position:absolute;top:2186.14px;left:3939.76px;
}
.s_page68-69_170
{
position:absolute;top:2186.14px;left:4359.03px;letter-spacing:-0.9px;
}
.s_page68-69_171
{
position:absolute;top:2186.14px;left:5175.01px;letter-spacing:-0.76px;
}
.s_page68-69_172
{
position:absolute;top:2186.14px;left:6399px;letter-spacing:-1.23px;
}
.s_page68-69_173
{
position:absolute;top:2186.14px;left:7295.39px;
}
.s_page68-69_174
{
position:absolute;top:2186.14px;left:7546.66px;
}
.s_page68-69_175
{
position:absolute;top:2186.14px;left:7961.38px;letter-spacing:-0.48px;
}
.s_page68-69_176
{
position:absolute;top:2639.53px;left:0px;
}
.s_page68-69_177
{
position:absolute;top:2639.53px;left:721.68px;letter-spacing:-0.8px;
}
.s_page68-69_178
{
position:absolute;top:2639.53px;left:1160px;
}
.s_page68-69_179
{
position:absolute;top:2639.53px;left:4157.89px;letter-spacing:-1.87px;
}
.s_page68-69_180
{
position:absolute;top:2639.53px;left:4740.37px;
}
.s_page68-69_181
{
position:absolute;top:2639.53px;left:5053.56px;
}
.s_page68-69_182
{
position:absolute;top:2639.53px;left:5469.48px;
}
.s_page68-69_183
{
position:absolute;top:2639.53px;left:6349.06px;
}
.s_page68-69_184
{
position:absolute;top:2639.53px;left:7130.01px;letter-spacing:-1.68px;
}
.s_page68-69_185
{
position:absolute;top:2639.53px;left:8380.4px;letter-spacing:-1.71px;
}
.s_page68-69_186
{
position:absolute;top:3092.91px;left:0px;
}
.s_page68-69_187
{
position:absolute;top:3092.91px;left:724.08px;letter-spacing:-1.28px;
}
.s_page68-69_188
{
position:absolute;top:3092.91px;left:1160px;letter-spacing:-0.42px;
}
.s_page68-69_189
{
position:absolute;top:3092.91px;left:1624.4px;
}
.s_page68-69_190
{
position:absolute;top:3092.91px;left:2692.39px;
}
.s_page68-69_191
{
position:absolute;top:3092.91px;left:3161.58px;letter-spacing:-2.48px;
}
.s_page68-69_192
{
position:absolute;top:3092.91px;left:3436.38px;letter-spacing:-0.89px;
}
.s_page68-69_193
{
position:absolute;top:3092.91px;left:4171.25px;
}
.s_page68-69_194
{
position:absolute;top:3092.91px;left:4426.61px;letter-spacing:-1px;
}
.s_page68-69_195
{
position:absolute;top:3092.91px;left:5012.68px;
}
.s_page68-69_196
{
position:absolute;top:3092.91px;left:5249.79px;
}
.s_page68-69_197
{
position:absolute;top:3092.91px;left:7339.59px;letter-spacing:-0.88px;
}
.s_page68-69_198
{
position:absolute;top:3546.3px;left:0px;
}
.s_page68-69_199
{
position:absolute;top:3546.3px;left:713.04px;letter-spacing:-1.28px;
}
.s_page68-69_200
{
position:absolute;top:3546.3px;left:1160px;letter-spacing:-0.42px;
}
.s_page68-69_201
{
position:absolute;top:3546.3px;left:1615.41px;
}
.s_page68-69_202
{
position:absolute;top:3546.3px;left:2578.89px;letter-spacing:-0.44px;
}
.s_page68-69_203
{
position:absolute;top:3546.3px;left:3290.37px;letter-spacing:-0.82px;
}
.s_page68-69_204
{
position:absolute;top:3546.3px;left:3868.41px;
}
.s_page68-69_205
{
position:absolute;top:3546.3px;left:6406.15px;
}
.s_page68-69_206
{
position:absolute;top:3546.3px;left:6634.28px;letter-spacing:-3px;
}
.s_page68-69_207
{
position:absolute;top:3546.3px;left:6816.8px;letter-spacing:-0.22px;
}
.s_page68-69_208
{
position:absolute;top:3546.3px;left:8212.76px;letter-spacing:-2.48px;
}
.s_page68-69_209
{
position:absolute;top:3546.3px;left:8484.33px;
}
.s_page68-69_210
{
position:absolute;top:3546.3px;left:9075.2px;
}
.s_page68-69_211
{
position:absolute;top:3546.3px;left:9122.59px;letter-spacing:-1.96px;
}
.s_page68-69_212
{
position:absolute;top:3886.3px;left:1160.06px;letter-spacing:-1.23px;
}
.s_page68-69_213
{
position:absolute;top:3886.3px;left:1954.94px;
}
.s_page68-69_214
{
position:absolute;top:3886.3px;left:2426.77px;letter-spacing:-0.6px;
}
.s_page68-69_215
{
position:absolute;top:3886.3px;left:3056.52px;
}
.s_page68-69_216
{
position:absolute;top:3886.3px;left:3121.8px;letter-spacing:-1.61px;
}
.s_page68-69_217
{
position:absolute;top:4339.69px;left:0px;
}
.s_page68-69_218
{
position:absolute;top:4339.69px;left:752.16px;letter-spacing:-6.72px;
}
.s_page68-69_219
{
position:absolute;top:4339.69px;left:1160px;
}
.s_page68-69_220
{
position:absolute;top:4339.69px;left:1420.21px;
}
.s_page68-69_221
{
position:absolute;top:4339.69px;left:1945.86px;letter-spacing:-0.14px;
}
.s_page68-69_222
{
position:absolute;top:4339.69px;left:3081.35px;
}
.s_page68-69_223
{
position:absolute;top:4339.69px;left:5623.09px;
}
.s_page68-69_224
{
position:absolute;top:4339.69px;left:6544.98px;
}
.s_page68-69_225
{
position:absolute;top:4339.69px;left:6955.91px;text-rendering:optimizeLegibility;letter-spacing:-0.24px;
}
.s_page68-69_226
{
position:absolute;top:4339.69px;left:7448.67px;
}
.s_page68-69_227
{
position:absolute;top:4339.69px;left:8166.08px;letter-spacing:-0.48px;
}
.s_page68-69_228
{
position:absolute;top:4339.69px;left:9026.3px;
}
.s_page68-69_229
{
position:absolute;top:4339.69px;left:9306.19px;
}
.s_page68-69_230
{
position:absolute;top:4679.69px;left:1160.06px;letter-spacing:-3px;
}
.s_page68-69_231
{
position:absolute;top:4679.69px;left:1351.58px;letter-spacing:-1.3px;
}
.s_page68-69_232
{
position:absolute;top:4679.69px;left:2163.73px;
}
.s_page68-69_233
{
position:absolute;top:4679.69px;left:2415.73px;letter-spacing:-0.65px;
}
.s_page68-69_234
{
position:absolute;top:4679.69px;left:3435.95px;letter-spacing:-0.65px;
}
.s_page68-69_235
{
position:absolute;top:5133.07px;left:0px;
}
.s_page68-69_236
{
position:absolute;top:5133.07px;left:706.33px;letter-spacing:-1.2px;
}
.s_page68-69_237
{
position:absolute;top:5133.07px;left:1160px;
}
.s_page68-69_238
{
position:absolute;top:5133.07px;left:3703.18px;letter-spacing:-1.62px;
}
.s_page68-69_239
{
position:absolute;top:5133.07px;left:4115.06px;
}
.s_page68-69_240
{
position:absolute;top:5133.07px;left:4530.79px;letter-spacing:-1.15px;
}
.s_page68-69_241
{
position:absolute;top:5133.07px;left:5043.47px;
}
.s_page68-69_242
{
position:absolute;top:5133.07px;left:6163.6px;
}
.s_page68-69_243
{
position:absolute;top:5133.07px;left:6411.33px;
}
.s_page68-69_244
{
position:absolute;top:5133.07px;left:6822.49px;letter-spacing:-0.48px;
}
.s_page68-69_245
{
position:absolute;top:5133.07px;left:7499.57px;
}
.s_page68-69_246
{
position:absolute;top:5133.07px;left:8032.42px;letter-spacing:-3px;
}
.s_page68-69_247
{
position:absolute;top:5133.07px;left:8220.39px;letter-spacing:-1.15px;
}
.s_page68-69_248
{
position:absolute;top:5133.07px;left:8821.15px;letter-spacing:-1.65px;
}
.s_page68-69_249
{
position:absolute;top:5473.07px;left:1160.06px;
}
.s_page68-69_250
{
position:absolute;top:5473.07px;left:1696.45px;
}
.s_page68-69_251
{
position:absolute;top:5926.46px;left:0px;
}
.s_page68-69_252
{
position:absolute;top:5926.46px;left:714.48px;letter-spacing:-2.48px;
}
.s_page68-69_253
{
position:absolute;top:5926.46px;left:1160px;
}
.s_page68-69_254
{
position:absolute;top:5926.46px;left:3726.68px;
}
.s_page68-69_255
{
position:absolute;top:5926.46px;left:3994.78px;letter-spacing:-0.29px;
}
.s_page68-69_256
{
position:absolute;top:5926.46px;left:4957.68px;letter-spacing:-2.58px;
}
.s_page68-69_257
{
position:absolute;top:5926.46px;left:5484.75px;
}
.s_page68-69_258
{
position:absolute;top:5926.46px;left:5741.82px;
}
.s_page68-69_259
{
position:absolute;top:5926.46px;left:6371.12px;letter-spacing:-1.2px;
}
.s_page68-69_260
{
position:absolute;top:5926.46px;left:7093.3px;letter-spacing:-0.58px;
}
.s_page68-69_261
{
position:absolute;top:5926.46px;left:7919.16px;
}
.s_page68-69_262
{
position:absolute;top:5926.46px;left:8363.9px;letter-spacing:-3.12px;
}
.s_page68-69_263
{
position:absolute;top:5926.46px;left:8703.29px;
}
.s_page68-69_264
{
position:absolute;top:5926.46px;left:9142.51px;letter-spacing:-1.6px;
}
.s_page68-69_265
{
position:absolute;top:6266.46px;left:1160.06px;letter-spacing:-0.8px;
}
.s_page68-69_266
{
position:absolute;top:6719.84px;left:0px;
}
.s_page68-69_267
{
position:absolute;top:6719.84px;left:642.49px;letter-spacing:-1.86px;
}
.s_page68-69_268
{
position:absolute;top:6719.84px;left:1160px;
}
.s_page68-69_269
{
position:absolute;top:6719.84px;left:3770.71px;letter-spacing:-3px;
}
.s_page68-69_270
{
position:absolute;top:6719.84px;left:3967.41px;letter-spacing:-0.88px;
}
.s_page68-69_271
{
position:absolute;top:6719.84px;left:5313.21px;letter-spacing:-0.21px;
}
.s_page68-69_272
{
position:absolute;top:6719.84px;left:5984.39px;letter-spacing:-0.66px;
}
.s_page68-69_273
{
position:absolute;top:6719.84px;left:6495.73px;letter-spacing:-1.2px;
}
.s_page68-69_274
{
position:absolute;top:6719.84px;left:7747.22px;
}
.s_page68-69_275
{
position:absolute;top:6719.84px;left:8007.76px;
}
.s_page68-69_276
{
position:absolute;top:6719.84px;left:8643.41px;
}
.s_page68-69_277
{
position:absolute;top:6719.84px;left:8986.51px;letter-spacing:-0.68px;
}
.s_page68-69_278
{
position:absolute;top:7059.84px;left:1160.06px;
}
.s_page68-69_279
{
position:absolute;top:7059.84px;left:2113.81px;
}
.s_page68-69_280
{
position:absolute;top:7533.23px;left:0px;
}
.s_page68-69_281
{
position:absolute;top:7533.23px;left:221.84px;
}
.s_page68-69_282
{
position:absolute;top:7533.23px;left:639.94px;letter-spacing:-0.91px;
}
.s_page68-69_283
{
position:absolute;top:7533.23px;left:1574.49px;
}
.s_page68-69_284
{
position:absolute;top:7533.23px;left:2005.28px;letter-spacing:-0.5px;
}
.s_page68-69_285
{
position:absolute;top:7533.23px;left:3113.35px;
}
.s_page68-69_286
{
position:absolute;top:7533.23px;left:3593.59px;
}
.s_page68-69_287
{
position:absolute;top:7533.23px;left:4249.5px;letter-spacing:-0.88px;
}
.s_page68-69_288
{
position:absolute;top:7533.23px;left:4840.38px;
}
.s_page68-69_289
{
position:absolute;top:7533.23px;left:8772.44px;letter-spacing:-1.02px;
}
.s_page68-69_290
{
position:absolute;top:10013.54px;left:0px;
}
.s_page68-69_291
{
position:absolute;top:10013.54px;left:718.05px;letter-spacing:-1.04px;
}
.s_page68-69_292
{
position:absolute;top:10013.54px;left:892.04px;
}
.s_page68-69_293
{
position:absolute;top:10013.54px;left:2919.2px;
}
.s_page68-69_294
{
position:absolute;top:10013.54px;left:3163.28px;
}
.s_page68-69_295
{
position:absolute;top:10013.54px;left:5190.44px;letter-spacing:-1.28px;
}
.s_page68-69_296
{
position:absolute;top:10013.54px;left:5438.11px;
}
.s_page68-69_297
{
position:absolute;top:10013.54px;left:7465.27px;letter-spacing:-0.8px;
}
.s_page68-69_298
{
position:absolute;top:10013.54px;left:7708.86px;
}
.s_page68-69_299
{
position:absolute;top:10486.93px;left:0px;
}
.s_page68-69_300
{
position:absolute;top:10486.93px;left:219.93px;
}
.s_page68-69_301
{
position:absolute;top:10486.93px;left:639.94px;letter-spacing:-0.86px;
}
.s_page68-69_302
{
position:absolute;top:10486.93px;left:1198.41px;letter-spacing:-0.67px;
}
.s_page68-69_303
{
position:absolute;top:10486.93px;left:2372.25px;letter-spacing:-0.51px;
}
.s_page68-69_304
{
position:absolute;top:10486.93px;left:3389.11px;letter-spacing:-1.92px;
}
.s_page68-69_305
{
position:absolute;top:10486.93px;left:3777.43px;
}
.s_page68-69_306
{
position:absolute;top:10486.93px;left:4208.23px;letter-spacing:-0.46px;
}
.s_page68-69_307
{
position:absolute;top:10486.93px;left:8758.99px;letter-spacing:-1.41px;
}
.s_page68-69_308
{
position:absolute;top:10940.32px;left:0px;
}
.s_page68-69_309
{
position:absolute;top:10940.32px;left:791.28px;letter-spacing:-1.04px;
}
.s_page68-69_310
{
position:absolute;top:10940.32px;left:1160px;letter-spacing:-3.6px;
}
.s_page68-69_311
{
position:absolute;top:10940.32px;left:1363.51px;letter-spacing:-0.26px;
}
.s_page68-69_312
{
position:absolute;top:10940.32px;left:2761.98px;letter-spacing:-0.69px;
}
.s_page68-69_313
{
position:absolute;top:10940.32px;left:3646.36px;
}
.s_page68-69_314
{
position:absolute;top:10940.32px;left:4289.55px;
}
.s_page68-69_315
{
position:absolute;top:10940.32px;left:4903.46px;letter-spacing:-0.69px;
}
.s_page68-69_316
{
position:absolute;top:10940.32px;left:5797.93px;
}
.s_page68-69_317
{
position:absolute;top:10940.32px;left:6053.28px;
}
.s_page68-69_318
{
position:absolute;top:10940.32px;left:7031.02px;
}
.s_page68-69_319
{
position:absolute;top:10940.32px;left:8168.2px;
}
.s_page68-69_320
{
position:absolute;top:11337.01px;left:0px;
}
.s_page68-69_321
{
position:absolute;top:11337.01px;left:721.2px;
}
.s_page68-69_322
{
position:absolute;top:11337.01px;left:1160px;letter-spacing:-0.42px;
}
.s_page68-69_323
{
position:absolute;top:11337.01px;left:1624.4px;
}
.s_page68-69_324
{
position:absolute;top:11337.01px;left:2237.82px;letter-spacing:-0.14px;
}
.s_page68-69_325
{
position:absolute;top:11337.01px;left:3376.84px;
}
.s_page68-69_326
{
position:absolute;top:11337.01px;left:4280.42px;letter-spacing:-0.79px;
}
.s_page68-69_327
{
position:absolute;top:11337.01px;left:5028.25px;
}
.s_page68-69_328
{
position:absolute;top:11337.01px;left:5283.61px;letter-spacing:-3px;
}
.s_page68-69_329
{
position:absolute;top:11337.01px;left:5475.13px;letter-spacing:-0.51px;
}
.s_page68-69_330
{
position:absolute;top:11337.01px;left:7061.26px;letter-spacing:-0.78px;
}
.s_page68-69_331
{
position:absolute;top:11337.01px;left:8168.2px;
}
.s_page68-69_332
{
position:absolute;top:11733.7px;left:0px;
}
.s_page68-69_333
{
position:absolute;top:11733.7px;left:717.6px;letter-spacing:-1.28px;
}
.s_page68-69_334
{
position:absolute;top:11733.7px;left:1160px;letter-spacing:-0.88px;
}
.s_page68-69_335
{
position:absolute;top:11733.7px;left:1520.96px;
}
.s_page68-69_336
{
position:absolute;top:11733.7px;left:1753.99px;
}
.s_page68-69_337
{
position:absolute;top:11733.7px;left:2173.26px;letter-spacing:-1.5px;
}
.s_page68-69_338
{
position:absolute;top:11733.7px;left:3029.09px;letter-spacing:-2.48px;
}
.s_page68-69_339
{
position:absolute;top:11733.7px;left:3302.92px;letter-spacing:-3.55px;
}
.s_page68-69_340
{
position:absolute;top:11733.7px;left:4179.39px;letter-spacing:-3px;
}
.s_page68-69_341
{
position:absolute;top:11733.7px;left:4370.9px;
}
.s_page68-69_342
{
position:absolute;top:11733.7px;left:5055.13px;letter-spacing:-0.26px;
}
.s_page68-69_343
{
position:absolute;top:11733.7px;left:6342.47px;letter-spacing:-0.32px;
}
.s_page68-69_344
{
position:absolute;top:11733.7px;left:8168.2px;
}
.s_page68-69_345
{
position:absolute;top:12130.39px;left:0px;
}
.s_page68-69_346
{
position:absolute;top:12130.39px;left:721.68px;letter-spacing:-0.8px;
}
.s_page68-69_347
{
position:absolute;top:12130.39px;left:1160px;letter-spacing:-3.6px;
}
.s_page68-69_348
{
position:absolute;top:12130.39px;left:1367.59px;
}
.s_page68-69_349
{
position:absolute;top:12130.39px;left:2394.3px;letter-spacing:-0.72px;
}
.s_page68-69_350
{
position:absolute;top:12130.39px;left:3390.53px;letter-spacing:-3.12px;
}
.s_page68-69_351
{
position:absolute;top:12130.39px;left:3709.96px;
}
.s_page68-69_352
{
position:absolute;top:12130.39px;left:4129.23px;
}
.s_page68-69_353
{
position:absolute;top:12130.39px;left:4747.22px;
}
.s_page68-69_354
{
position:absolute;top:12130.39px;left:5252.41px;
}
.s_page68-69_355
{
position:absolute;top:12130.39px;left:5489.53px;letter-spacing:-0.54px;
}
.s_page68-69_356
{
position:absolute;top:12130.39px;left:6800.38px;letter-spacing:-2.4px;
}
.s_page68-69_357
{
position:absolute;top:12130.39px;left:7170.46px;
}
.s_page68-69_358
{
position:absolute;top:12470.39px;left:1160.06px;letter-spacing:-0.51px;
}
.s_page68-69_359
{
position:absolute;top:12470.39px;left:1955.89px;letter-spacing:-2.48px;
}
.s_page68-69_360
{
position:absolute;top:12470.39px;left:2236.45px;
}
.s_page68-69_361
{
position:absolute;top:12470.39px;left:8168.2px;
}
.s_page68-69_362
{
position:absolute;top:12867.09px;left:0px;
}
.s_page68-69_363
{
position:absolute;top:12867.09px;left:724.08px;letter-spacing:-1.28px;
}
.s_page68-69_364
{
position:absolute;top:12867.09px;left:1160px;letter-spacing:-0.28px;
}
.s_page68-69_365
{
position:absolute;top:12867.09px;left:1873.75px;letter-spacing:-0.51px;
}
.s_page68-69_366
{
position:absolute;top:12867.09px;left:2808.54px;letter-spacing:-0.33px;
}
.s_page68-69_367
{
position:absolute;top:12867.09px;left:3799.73px;letter-spacing:-0.16px;
}
.s_page68-69_368
{
position:absolute;top:12867.09px;left:4862.2px;letter-spacing:-2.48px;
}
.s_page68-69_369
{
position:absolute;top:12867.09px;left:5137px;letter-spacing:-0.45px;
}
.s_page68-69_370
{
position:absolute;top:12867.09px;left:5994.26px;letter-spacing:-0.44px;
}
.s_page68-69_371
{
position:absolute;top:12867.09px;left:6714.74px;letter-spacing:-0.68px;
}
.s_page68-69_372
{
position:absolute;top:13207.09px;left:1160.06px;letter-spacing:-1.68px;
}
.s_page68-69_373
{
position:absolute;top:13207.09px;left:1578.38px;
}
.s_page68-69_374
{
position:absolute;top:13207.09px;left:2122.21px;
}
.s_page68-69_375
{
position:absolute;top:13207.09px;left:2846.75px;
}
.s_page68-69_376
{
position:absolute;top:13207.09px;left:3818.74px;letter-spacing:-0.29px;
}
.s_page68-69_377
{
position:absolute;top:13207.09px;left:4787.13px;
}
.s_page68-69_378
{
position:absolute;top:13207.09px;left:5616.79px;
}
.s_page68-69_379
{
position:absolute;top:13207.09px;left:6171.9px;
}
.s_page68-69_380
{
position:absolute;top:13207.09px;left:6637.98px;letter-spacing:-0.64px;
}
.s_page68-69_381
{
position:absolute;top:13207.09px;left:8168.2px;
}
.s_page68-69_382
{
position:absolute;top:13603.78px;left:0px;
}
.s_page68-69_383
{
position:absolute;top:13603.78px;left:713.04px;letter-spacing:-1.28px;
}
.s_page68-69_384
{
position:absolute;top:13603.78px;left:1160px;letter-spacing:-0.34px;
}
.s_page68-69_385
{
position:absolute;top:13603.78px;left:1663.51px;letter-spacing:-0.24px;
}
.s_page68-69_386
{
position:absolute;top:13603.78px;left:2275.26px;
}
.s_page68-69_387
{
position:absolute;top:13603.78px;left:2512.38px;
}
.s_page68-69_388
{
position:absolute;top:13603.78px;left:3019.49px;letter-spacing:-0.48px;
}
.s_page68-69_389
{
position:absolute;top:13603.78px;left:3802.36px;
}
.s_page68-69_390
{
position:absolute;top:13603.78px;left:4112.43px;
}
.s_page68-69_391
{
position:absolute;top:13603.78px;left:4531.7px;letter-spacing:-0.53px;
}
.s_page68-69_392
{
position:absolute;top:13603.78px;left:5400.49px;letter-spacing:-3.42px;
}
.s_page68-69_393
{
position:absolute;top:13603.78px;left:8168.2px;
}
.s_page68-69_394
{
position:absolute;top:-5.54px;left:112.74px;
}

